[2020-10-23 08:31] Bradrajkumar opened #2864 "[onTurnError] unhandled error: TypeError: Cannot read property 'map' of undefined"
Hi team,

i am using one of the bot framework sample where "qnamaker-all-features(https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/javascript_nodejs/49.qnamaker-all-features) enabled code is available in node js.
Most of the time i am trying see what would be the fix for this issue every time persisting : -  **[onTurnError] unhandled error: TypeError: Cannot read property 'map' of

[2020-10-23 10:32] VBDotNetCoder opened #2865 "Sample with local system interaction of a bot"
Hello,

I would like to see an example where a BOT performs  local system tasks maybe as simpel as opening notepad
and / or get data from a local ( company ) resource as response.

The problem is that I work though the examples and only  see web related tasks and public resources as answer

**Describe the solution you'd like**
What I would like to see is a clear example on how a BOT client can int

[2020-10-23 18:06] stevengum commented on #2865
Thank you for the feature request but we are not considering this at this time. If you would like assistance with this specific scenario, please try Stack Overflow.

[2020-10-23 18:06] #2865 closed

[2020-10-23 18:24] v-kydela commented on #2864
@Bradrajkumar - Thank you for the report. You might be interested in this issue: https://github.com/microsoft/BotBuilder-Samples/issues/2417

Is there any chance you've included quotes in your .env file?

[2020-10-23 23:03] chrimc62 opened #2867 "Improve DisplayOperation to use entity value displays"
Currently the displayOperation template shows the whole text when doing ChooseProperties.  Instead of the whole text we should do template(`\${entity.type}Entity_Value`, entity.value).

[2020-10-23 23:05] chrimc62 opened #2868 "Add patterns to generated LU files for strings"
We do not currently make use of patterns for strings.  What we should do is auto-generate a pattern something like:
{propertyName} [of|is|has] {patterny.any}.  This would mean if I have a hometown property I could match something like "my hometown is ames".

[2020-10-26 07:29] edemehmetcan opened #2869 "Dispatch refresh / create normalizing properties doesn't work"
What project is affected?
Dispatch refresh/create command

What language is this in?

Powershell

What happens?
When adding the properties in the dispatcher file:
"normalizePunctuation": true/false
"normalizeDiacritics": true/false

Commands are not working after launching the command. After checking on the LUIS portal, I don't see that the option is turn on/off. Please take a look on this.

What

[2020-10-26 10:24] #2804 closed

[2020-10-26 17:23] v-kydela commented on #2869
Closing to address here: https://github.com/microsoft/botbuilder-tools/issues/1477

[2020-10-26 17:23] #2869 closed

[2020-10-26 20:13] johnataylor opened #2870 "Create a sample in experimental demonstrating how to avoid type serialization"

[2020-10-26 21:17] gabog commented on #2813
Closing this one, an update/delete bot should "just work", we will however update readmes in samples with special considerations for skills.

[2020-10-26 21:17] #2813 closed

[2020-10-27 18:16] #2848 closed

[2020-10-28 07:05] winffee opened #2877 "Python Skill Sample doesn't work"
## Sample information
1. Sample type: [\samples\python\80.skills-simple-bot-to-bot]
2. Sample language: [python]
3. Sample name: <echo-skill-bot>,<simple-root-bot>

## Describe the bug
Running python simple-bot-to-bot Echo Skill on emulator, added ms app id and password for root bot and skill bot, got error from skill bot:

Tacktrace:
[code]
Can someone tell me what is wrong?

Thanks in advance.

[2020-10-28 11:10] Andrew47 opened #2878 "Cannot Install Slack App using the Python Slack Adapter Documentation"
Hi. I am trying to set up a chatbot on Microsoft Azure that users can communicate with through Slack. As a first step, I am trying to get the Microsoft sample to work but am having the following difficulties with the documentation. I would greatly appreciate help on this issue. Thank you in advance.

##Sample Information

Sample Type: \samples\
Sample Language: Python
Sample Name: 60.slack-adapter

[2020-10-28 20:06] v-kydela commented on #2878
Thank you for the report, @Andrew47

It looks like the instructions for using a Slack adapter are indeed incorrect and will need to be updated [here](https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/python/60.slack-adapter), [here](https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/csharp_dotnetcore/60.slack-adapter), and [here](https://docs.microsoft.com/en-us/azur

[2020-10-28 23:47] EricDahlvang commented on #1708
The OnError dialog event works for this: https://github.com/microsoft/botframework-sdk/issues/6080#issuecomment-711091107

closing

[2020-10-28 23:47] #1708 closed

[2020-10-29 03:32] brightInGit opened #2879 "50.teams-messaging-extensions-search cannot work on channel"
This NodeJS sample  cannot work on the Teams->General channel. It simply failed in channel if I directly click the New Conversation to use this extension. It returns back without any result after selecting one item in the list. Being strange, It can work if I typed in any text in the message input box and then click the New Conversation to use this extension.  It works well on Chat also.  If I run

[2020-10-29 03:38] brightInGit commented on #2879
I found the similar issue and the discussion on the stackoverflow: https://stackoverflow.com/questions/62516251/microsoft-teams-bot-messaging-extension-invoke-selectitem-not-working-as-expect.  One answer is saying there is a known bug for the "Reply".  The comment for the answer said the "New conversation" has the same issue now. I kind of is encountering the same issue.

[2020-10-29 03:41] brightInGit commented on #2879
I run some other published message extensions. They work well. Does that mean they are coded in .Net? Only NodeJS version cannot work?

[2020-10-29 04:03] moblizeitllc opened #2880 "Sending notification to the channel"
Sorry the overall documentation is so much confusing and none talking end to end use cases. My requirement is to be able to send messages whenever some activity happens in the 3rd party system.  Based on my understanding from proactive messages etc, i need to store the conversationReference and use it to send.

But starting from scratch: as soon as end user creates a channel, I can use this.onTeam

[2020-10-29 17:39] mdrichardson commented on #2879
As noted in the StackOverflow issue you linked, this is currently a bug in Teams. I'll reach out to them for an update.

However, it does work as described in [the README](https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/javascript_nodejs/50.teams-messaging-extensions-search#interacting-with-the-bot-in-teams) via the command box:

![image](https://user-images.githubusercontent.com

[2020-10-30 15:41] brightInGit commented on #2879
@mdrichardson Thank you for the quick response. Do you think this can be fixed in the next release of Teams?

[2020-10-30 15:46] mdrichardson commented on #2879
@brightInGit I'm not on the Teams team, so I can't say. But I'll post an update here when I hear back from them.

[2020-10-30 15:46] modusandrew opened #2882 "Unable to see messages sent from Live Person Agent to Bot User using LivePersonProxyBot Sample"
## Sample information
1. Sample type:
https://github.com/microsoft/BotBuilder-Samples/tree/main/experimental/handoff-library/csharp_dotnetcore/samples/LivePersonProxyBot

2. Sample language: dotnetcore

3. Sample name: LivePersonProxyBot

## Describe the bug
User is not receiving chat messages back from agent when using https://github.com/microsoft/BotBuilder-Samples/tree/main/experimental/handoff

[2020-10-30 18:11] johnataylor opened #2883 "Proactive C# sample needs to stop sending mock appId"
The current proactive sample in C# sends a mock appId (its actually a new GUID)

This only ever worked because we had a check in the AppCredentials implementation that looked in the trusted service url collection. Now we have removed that check this samples was broken.

To do anonymous auth the sample should make the appId null.

See also:

https://github.com/microsoft/botbuilder-dotnet/pull/4891

[2020-10-30 18:12] johnataylor commented on #2883
@stevkan note the change we need to make to the sample when we have @EricDahlvang fix in a package.

[2020-10-30 20:08] clearab commented on #2880
You can find end-to-end guidance for sending proactive messages in Teams here: https://docs.microsoft.com/en-us/microsoftteams/platform/bots/how-to/conversations/send-proactive-messages?tabs=dotnet

[2020-10-30 20:21] clearab commented on #2879
I don't believe the StackOverflow question linked to above is the root of the problem you're experiencing. That issue is specific to the `onMessagingExtensionSelectItem` event not firing as expected. Is your bot using that event, or are you returning the entire card + preview in response to the initial query?

Is this only failing in the General channel, and works in other channels? (I haven't bee

[2020-10-30 22:48] v-kydela commented on #2864
@Bradrajkumar - Are you still working on this?

[2020-10-30 23:06] #2727 closed

[2020-11-01 17:28] vivekkranjan commented on #2634
I am too facing this issue. When you run your bot in 'test in web chat's teams channel registration app there is no error, the prompt command to login loads.

When you point the bot in msteam(web/desktop) the error is BadRequest.

`Operation returned an invalid status code 'BadRequest'
at **Microsoft.Bot.Connector.OAuthClient.GetSignInResourceWithHttpMessagesAsync**(String state, String codeChalle

[2020-11-01 17:58] vivekkranjan opened #2885 "Operation returned an invalid status code 'BadRequest' at Microsoft.Bot.Connector.OAuthClient.GetSignInResourceWithHttpMessagesAsync"
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues) / [Java](https://github.com/Microsoft/botbuilder-java/issues)/ [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for genera

[2020-11-01 17:59] vivekkranjan opened #2886 "Operation returned an invalid status code 'BadRequest' at Microsoft.Bot.Connector.OAuthClient.GetSignInResourceWithHttpMessagesAsync"
I am too facing this issue. When you run your bot in 'test in web chat's teams channel registration app there is no error, the prompt command to login loads and you can click and get token. However when you point the bot to msteam(web/desktop) you get bad request error.

I am thinking is how your bot in msteams know about the Resource Url or it's expecting some config that's missing.

![image](htt

[2020-11-01 18:00] #2885 closed

[2020-11-01 18:00] vivekkranjan commented on #2885
Already raised against #2886

[2020-11-02 18:06] mdrichardson commented on #2880
@moblizeitllc Any luck?

[2020-11-02 18:19] CezaryMarcjan commented on #2837
Closing due to no activity. Please see microsoft/botbuilder-dotnet#2387 for ongoing SDK discussion

[2020-11-02 18:19] #2837 closed

[2020-11-02 19:50] arturl commented on #2882
@modusandrew, does the code return `Unauthorized` after comparing the signature or after comparing AccountID/ClientID?
For signature mismatch, I'm slightly suspicious of this line:
[code]
This probably needs to be UTF8 and not ASCII. Can you try that and tell me if it makes a difference?

If the issue is caused by AccountID/ClientID, this is most likely a legit issue -- check that these parameters

[2020-11-02 20:33] modusandrew commented on #2882
Hi thank you for the information.  Changing Encoding from ASCII to UTF8 indeed fixes the Authorize issue.
Authorization now works, and gets me a little farther since Webhook events like ExConversationChangeNotification are successful and show as HTTP 200 responses.

However the /api/liveperson/contentevent is giving a 500 Internal Server Error.  Debugging the source code it looks like the problem

[2020-11-02 20:43] anusharavindrar commented on #2886
@vivekkranjan, for which sample are you getting this error? We have a specific sample [46. Teams-Auth](https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/csharp_dotnetcore/46.teams-auth) for Teams as Teams behaves slightly differently than other channels when it comes to authentication. Please refer to [this](https://docs.microsoft.com/en-us/microsoftteams/platform/bots/how-to/authe

[2020-11-02 20:50] arturl commented on #2882
Thanks for confirming the ASCII vs. UTF8 issues, I'll submit a fix for that shortly (or feel free to submit a PR since you already have it).
Are you running a multi-instance bot? The sample uses in-memory storage as an example which needs to replaces with durable storage (SQL, CosmosDB, Azure Table etc.) for a production implementation.
Try logging creation of conversation records. Did you see if

[2020-11-03 00:29] v-kydela commented on #2864
I am closing this issue due to inactivity. We are still happy to provide help if you need any, though it may be a good idea to make a new post if that's the case. Please have a look at [this](https://github.com/microsoft/botframework-sdk#questions-and-help) to find out the best places to ask for help, and consider asking questions on Stack Overflow.

[2020-11-03 00:29] #2864 closed

[2020-11-03 04:34] preetithorat commented on #2040
Hello @sgellock,
I am also getting the same error
_[onTurnError] unhandled error: Error: getaddrinfo ENOTFOUND westus.api.cognitive.microsoft.com.api.cognitive.microsoft.com westus.api.cognitive.microsoft.com.api.cognitive.microsoft.com:443_

Where can I change or update the address to
_westus.api.cognitive.microsoft.com
westus.api.cognitive.microsoft.com:443?_

[2020-11-03 17:54] v-kydela commented on #2040
@preetithorat - You are commenting on a closed issue. I suspect your problem is that you have provided "westus.api.cognitive.microsoft.com" as your QnAEndpointHostName, and you need to use "westus" instead. If you need more help beyond that, please consider asking a question on Stack Overflow instead of replying to this thread.

[2020-11-03 19:29] sanal5677 opened #2887 "Link Unfurl teams app erroring out when botframework link is typed in teams and OnTeamsAppBasedLinkQueryAsync method is not getting hit"
I have created a teams bot  to do link unfurl by following the location - https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/csharp_dotnetcore/55.teams-link-unfurling readme.

I have installed the app in my teams using the custom app installation by zipping the manifest.  I am getting the error "Unable to reach the app.Please try again" after typing the botframework link (https://de

[2020-11-04 00:47] tsuwandy opened #2889 "Orchestrator samples clean up needed"
## Describe the bug
- We updated bf orchestrator cli commands and the corresponding documentation in each of the samples readme need to be updated.
- Need to add more explanation to bf orchestrator create command
- Remove samples #3 and instead focus on the 2 samples for C# and JS and make sure they work and README area clear

## To Reproduce
Steps to reproduce the behavior:
1. Go to https://githu

[2020-11-04 01:26] #2889 closed

[2020-11-04 04:08] EricDahlvang commented on #2887
Hi @sanal5677

I'm sorry you've run into this issue? Have you tried installing the bot in a Team, this might require changing the scopes in your manifest ? Does it work for link unfurling in a personal scope after that?

[2020-11-04 13:58] Virtual-Josh opened #2890 "F0 BotServiceSku does not work in gov"
When deploying bots to gov the BotServiceSku in the deployment template needs to be S1 for it to work. F0 results in a 403 with the error message that says you can't use the free version in gov.

![image](https://user-images.githubusercontent.com/50158775/98120323-d0556480-1e7b-11eb-9b5d-0b866b30741f.png)

It's not obvious to me if the better solution is to add another deployment template specific

[2020-11-04 17:19] mdrichardson commented on #2879
@brightInGit Just as an update, Teams is looking into this, now.

[2020-11-04 18:22] tsuwandy opened #2891 "Orchestrator JS sample #1 has missing required parameter for luis:build command in README"
Need to add --botName param for bf luis:build section, like the following:

[2020-11-04 19:21] EricDahlvang commented on #2887
Closing.  Sanal and I worked through this offline.

[2020-11-04 19:21] #2887 closed

[2020-11-05 01:37] chrimc62 opened #2893 "Ensure adding QnA properly adds cross train recognizer"
In order for a dialog to be loaded as part of tests all dependent dialogs must be present which is a problem when we rely on build for adding recognizers.  This was fixed for standard schema by generating the multi-lingual recognizer as a template and removing that responsibility from luconfig.json.  I suspect that we need to do the same thing for the cross-train recognizer when QnA is added.  We

[2020-11-05 16:48] gabog opened #2895 "Update skill samples so they work out of the box without appId and password"
R11 introduces the ability to test skills without appId and and passwords.

This issue involves updating the Skills-SimpleBotToBot and Skills-SkillDialog so they work after a fresh git clone without having to configure an AppId and password.

The changes include:

- Updating readmes to note that appId and passwords are now optional
- Remove TODO placeholders for AppId and passwords from config fil

[2020-11-05 19:08] #2545 closed

[2020-11-05 19:19] mdrichardson commented on #2880
Closing due to lack of activity. Feel free to re-open if you feel this still needs to be addressed.

[2020-11-05 19:19] #2880 closed

[2020-11-05 20:07] tsuwandy opened #2896 "Got an error running luis:crosstrain command in adaptive sample #8"
#2186  Sample information
1. Sample type: \samples\
2. Sample language: dotnetcore
3. Sample name: Todo bot with LUIS and QnA Maker

## Describe the bug
Error when running luis:crosstrain command, missing chitchat.qna file

## To Reproduce
Steps to reproduce the behavior:
1. Follow instruction on README
2. Ran the bf luis:crosstrain command

## Expected behavior
No error after bf luis:crosstrain c

[2020-11-05 22:05] #2799 closed

[2020-11-05 22:05] #2780 closed

[2020-11-05 22:05] #2770 closed

[2020-11-05 22:06] #2765 closed

[2020-11-05 22:06] #2764 closed

[2020-11-05 22:06] #2763 closed

[2020-11-05 22:06] #2762 closed

[2020-11-06 00:01] #2839 closed

[2020-11-07 03:29] Krishna-chinthireddy opened #2902 "luis region change"
Hi,

we have a Luis application created in westus region now we wanted to move that application to west Europe region
is there any option to move the Luis application from one region to another ?

basically we want our Luis authorizing and prediction resources in west Europe region is it possible?

[2020-11-09 19:29] anusharavindrar commented on #2886
Closing the issue, please feel free to reopen if the issue persists.

[2020-11-09 19:29] #2886 closed

[2020-11-09 19:33] cwhitten commented on #2658
ping @clearab

[2020-11-09 20:55] stevengum opened #3148 "Ensure the SDK doesn't emit unhandled rejections"
[Official Node 15 blog post](https://nodejs.medium.com/node-js-v15-0-0-is-here-deb00750f278)

Snippet from blog post:

While the SDK doesn't officially support odd number versions of Node ([aka non-LTS](https://nodejs.org/en/about/releases/)), addressing unhandled rejections will:

1. Improve code quality of the SDK
2. Prepare the SDK for Node.js 16

[2020-11-09 21:17] clearab commented on #2658
Are there still open questions about this? I'd like to see this get picked up and see the sample updated in-line with the comments above. @johnataylor can you help find the appropriate dev for implementation?

[2020-11-09 22:04] dmvtech commented on #2902
Hi @Krishna-chinthireddy

The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/BotBuilder/blob/master/README.md) repos are the preferred platform for submitting **bug fixes** and **feature requests**.

Additionally, this is more of a LU

[2020-11-09 22:04] #2902 closed

[2020-11-09 22:53] gabog opened #2903 "Update skill samples so they can be run without appId and password"
Update skills samples (80 and 81), so they default to not needing AppId and password.

We should also update readmes for each sample as part of this

- [ ] dotnet
- [ ] JS
- [ ] Python

[2020-11-09 23:18] chrimc62 opened #2904 "Percentage template should be a number"
Percentage is currently modeled as a string type.  It should be a numeric type with its own help templates.

[2020-11-10 12:42] sathwikkrishna commented on #2139
Hi @dmvtech ,

I'm not sure how to work with kind of approach, could please share me details to work on. I had followed the details you shared on previous thread, but wasn't working.

thanks in advance. 👍

[2020-11-10 12:44] rajeshyalamarthi opened #2905 "how to implement certificate based bot authentication and how to implement that in the code using .netcore?"
I'm looking for certificate-based bot authentication. I found some approach in node js as below
`const adapter = new BotFrameworkAdapter({
    appId: process.env.MicrosoftAppId,
    useCertificateAuthentication: true,
    certificateThumbprint: '33***608A6******19***325D*****8****',
    certificatePrivateKey: certKey
});
const fs = require('fs');
var certKey = fs.readFileSync('./DEV-private.key').

[2020-11-10 12:49] sathwikkrishna opened #2906 "Certificate based Authentication to bot"
Hi ,

I'm not sure how to work with kind of approach, could please share me details to work on. I had followed (https://github.com/microsoft/BotBuilder-Samples/issues/2139) , but wasn't working.

thanks in advance. 👍

_Originally posted by @sathwikkrishna in https://github.com/microsoft/BotBuilder-Samples/issues/2139#issuecomment-724677713_

[2020-11-10 17:02] ambuj74 opened #2907 "orchestrator: Unable to find Luis application name as intent"
I am trying to use orchestrator as a replacement to dispatcher where I am exporting .lu files for multiple Luis applications and trying to create a snapshot(i.e.  .blu files) here i am facing two issues:
1.how to create a single snapshot(.blu file) from multiple .lu or .qna files.
2.I am unable to find Luis application name as intent name,  in place of that I am getting intent name present  inside

[2020-11-10 17:36] tsuwandy commented on #2907
@ambuj74, the create commands needs the "--hierarchical" flag, something like the following:
bf orchestrator:create --hierarchical --in ./CognitiveModels --out ./generated --model ./model

This sample demonstrates dispatch scenario using Orchestrator.
https://github.com/microsoft/BotBuilder-Samples/tree/main/experimental/orchestrator/csharp_dotnetcore/01.dispatch-bot

Let me know if you need any m

[2020-11-10 18:14] KoradaRajesh commented on #2907
Thanks @tsuwandy It's working

Do we really need to download .lu or .qna files everytime whenever we add new intents in Luis or QnA and generate new .blu

We have dispatch refresh command to refresh dispatcher and add automatically new created intents into dispatcher.
Do we have something like this in Orchestrator?

[2020-11-10 18:30] tsuwandy commented on #2907
@KoradaRajesh, thanks for the update.  Let me think what we could do on the bf orchestrator cli side to make it easier to refresh.

[2020-11-10 19:15] jwiley84 commented on #2878
Hi @Andrew47 The Slack documentation has recently been  updated. Can you attempt to reconnect slack using the updated instructions and let me know how it goes?

[2020-11-10 21:30] v-kydela opened #2909 "[Orchestrator-BugBash] Incorrect links in readme"
In the [first section of the Orchestrator readme](https://github.com/microsoft/BotBuilder-Samples/tree/main/experimental/orchestrator#orchestrator-preview), the "skills" link provided is for Virtual Assistant skills. I think perhaps a [Bot Framework skills](https://docs.microsoft.com/en-us/azure/bot-service/skills-conceptual) link would be more appropriate.

The two links in step 1 of the [prepare

[2020-11-10 22:07] mrivera-ms commented on #2907
@tsuwandy I am assigning this to you. Seems like it is resolved. If it is, please feel free to close it. Thank you.

[2020-11-10 22:18] gabog commented on #2903
This is a duplicate of #2895, closing

[2020-11-10 22:18] #2903 closed

[2020-11-10 22:45] tsuwandy commented on #2907
@KoradaRajesh, i'm going to create a tracker work item on our internal repo for refresh.  Closing this one.  Thanks!

[2020-11-10 22:45] #2907 closed

[2020-11-11 06:26] kandy99 commented on #2825
is the issue is fixed

[2020-11-11 19:12] mrivera-ms commented on #2906
Thank you for opening this issue, @sathwikkrishna, for how-to questions, please post in [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework).

[2020-11-11 19:12] #2906 closed

[2020-11-11 19:13] mrivera-ms commented on #2905
Thank you for opening this issue, @rajeshyalamarthi , for how-to questions, please post in [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework).

[2020-11-11 19:13] #2905 closed

[2020-11-11 23:53] #2801 closed

[2020-11-11 23:53] #2800 closed

[2020-11-11 23:53] #2798 closed

[2020-11-11 23:53] #2797 closed

[2020-11-11 23:53] #2796 closed

[2020-11-11 23:53] #2795 closed

[2020-11-11 23:53] #2794 closed

[2020-11-11 23:54] #2793 closed

[2020-11-11 23:54] #2792 closed

[2020-11-11 23:55] #2791 closed

[2020-11-11 23:55] #2790 closed

[2020-11-11 23:55] #2789 closed

[2020-11-11 23:55] #2788 closed

[2020-11-11 23:55] #2787 closed

[2020-11-11 23:55] #2786 closed

[2020-11-11 23:55] #2785 closed

[2020-11-11 23:55] #2784 closed

[2020-11-11 23:56] #2783 closed

[2020-11-11 23:57] #2781 closed

[2020-11-11 23:57] #2779 closed

[2020-11-11 23:57] #2778 closed

[2020-11-11 23:57] #2777 closed

[2020-11-11 23:57] #2773 closed

[2020-11-11 23:57] #2772 closed

[2020-11-11 23:58] #2767 closed

[2020-11-11 23:58] #2766 closed

[2020-11-11 23:59] #2776 closed

[2020-11-11 23:59] #2775 closed

[2020-11-11 23:59] #2774 closed

[2020-11-11 23:59] #2771 closed

[2020-11-12 00:00] #2769 closed

[2020-11-12 00:00] #2768 closed

[2020-11-12 01:04] BruceHaley commented on #2728
Resolved by PR #4876

[2020-11-12 01:04] #2728 closed

[2020-11-12 06:40] ambuj74 opened #2917 "Orchestrator: How to download the .lu files from Luis or .tsv files from QNA using cli commands"
I am trying to use orchestrator as a replacement to dispatcher where I am exporting .lu files for multiple Luis applications and trying to create a snapshot(i.e. .blu files), here I am downloading the .lu files from Luis manually but I want to download the .lu files using cli commands or programmatically for my requirement . Is that feature available?.

I am using the following sample:
 https://gi

[2020-11-12 09:18] rajeshyalamarthi commented on #2905
I already raised the same issue in a stack overflow. But didn't got any response it is bit important for us

[2020-11-12 14:27] IreneG0802 opened #2918 "Sample 51. The button of the messaging extension is not displayed on android mobile device"
## Sample information
1. Sample type: samples
2. Sample language: dotnetcore and javascript
3. Sample name: 51.teams-messaging-extensions-action

## Describe the bug
The button of the messaging extension is not displayed on android mobile device, but it does on the web application.

## Expected behavior
The example should work on any device.

[2020-11-12 16:31] JoshBello opened #2919 "Issue with Proactively Send Files"
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues) / [Java](https://github.com/Microsoft/botbuilder-java/issues)/ [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for genera

[2020-11-12 18:18] stevengum opened #2920 "[.NET Core] Remove .UseAuthorization if unnecessary for running bots"
All authorization and authentication occurs within the SDK (e.g. BotFrameworkAdapter), and the samples do not make use of either [AuthorizationMiddleware](https://docs.microsoft.com/en-us/aspnet/core/security/authorization/introduction?view=aspnetcore-5.0) or [AuthenticationMiddleware](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/?view=aspnetcore-5.0).

[2020-11-12 19:30] tsuwandy commented on #2917
@ambuj74 , let me take a look a the bf luis commands...

[2020-11-12 21:13] Virtual-Josh commented on #2919
Hi @JoshBello,

Based on what you've written you've merged 3 samples (proactive messaging, files, and MS Teams) together. Can you help me understand what you're trying to do? I want to make sure you're using the best starting sample.

[2020-11-12 21:54] JoshBello commented on #2919
@Virtual-Josh Thanks for getting back to me. I am trying to send a html file to a user proactively. What is the best starting point?

[2020-11-12 22:18] Virtual-Josh commented on #2919
@JoshBello The best one is probably the [proactive sample](https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/python/16.proactive-messages). From there it should be fairly straight forward to add a file to the message.

[2020-11-13 01:54] chrimc62 opened #2922 "In displayOperation template use <entity>_Value templates"
Today when choosing between ambiguous properties, property to display we use the raw text which can be confusing.  To fix this we need to rework the displayOperation template to use the entity type to dynamically call the approprite <entityType>_Value template.

[2020-11-13 01:55] #2922 closed

[2020-11-13 02:10] chrimc62 opened #2923 "Add entity type as suffix"
Composer has asked us to name entities differently.
enum/enumArray: PROPERTYEntity -> PROPERTYList
string: PROPERTYML and I'll soon add PROPERTYAny.
prebuilts keep the same, i.e. the name of the prebuilt.

I'm not quite sure the best way to do this:
1) Add type to the entity templates.
2) Change entity.scope to include the type and remove the ${property}Entity everywhere in favor of ${entity}.  Th

[2020-11-13 06:18] ambuj74 commented on #2917
@tsuwandy I am able to download the .lu files from Luis using the following command -:
luis export version --appId <YOUR-LUIS-APP-ID> --versionId <YOUR-LUIS-APP-VERSION> | ludown refresh --stdin -o c:\test -n app1.lu
But, I am facing issue in downloading the .tsv file from QNA maker , I am using following command to download .tsv fie from QNA but the command is not working-:
qnamaker export kb --k

[2020-11-13 06:55] tsuwandy commented on #2917
@munozemilio, could you take a look at the qna export command above?

[2020-11-13 08:46] JoshBello commented on #2919
So I've now used the provocative sample as my base. This is from my `app.py`. This runs but every time I send a post to /notify I get a <Response [500]>.

[code]

This is from `proactive_bot.py`

[code]

[2020-11-13 15:14] Andrew47 commented on #2878
Hi @jwiley84

Thank you for coming back on the above raised issues with the documentation - it is very much appreciated.

I think the problems described above are with the recently updated Slack documentation. I have had another look at the documentation and am still finding that the above issues exist. The README file was updated 9 months ago, whilst the above issues were detected 16 days ago. Fo

[2020-11-13 16:10] Virtual-Josh commented on #2919
The reason you're getting the 500 is because `continue_conversation` only takes 5 parameters, and you're passing in 6. The `BOT._send_file_card(TurnContext, filename, fileSize)` is the problem. If update your `app.py`'s `_send_proactive_message()` to be this:

[code]
and your `_send_file_card` is this:

[code]

it works.

You'll be missing some imports in `app.py`. This is what mine looks like:

[

[2020-11-13 21:26] bassfishingnerd opened #2927 "WebEx teams, send message with AdaptiveCard"
**Is your feature request related to a problem? Please describe.**
I am looking for an example for sending an AdaptiveCard in WebEx teams that also contains the "text" property.  The text property is a required field when posting attachments in the WebexTeams API and no examples work as-is

**Describe the solution you'd like**
A sample of sending an adaptive card using JSON content for WebEx teams

[2020-11-13 21:55] jwiley84 commented on #2878
Oh! I apologize. I didn't realize  I didn't link the documentation i was talking about: https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-connect-slack?view=azure-bot-service-4.0&tabs=abs

I will double check the readme on this sample and get any incorrect portion fixed. Thank you for bringing this to our attention.

[2020-11-13 22:52] munozemilio commented on #2917
Hello @ambuj74, by looking at your reply I see you are using deprecated and outdated commands. I would recommend you to use bf cli with bf luis command group. For the qnamaker I just checked on their api documentation and I didnt find a way to download a kb as tsv. BF cli supports downloading the kb as json and transform it to qna format. Let me know if that helps

[2020-11-14 11:06] KoradaRajesh commented on #2917
@munozemilio If you provide reference link it would be helpful

[2020-11-14 20:19] tsuwandy commented on #2917
@KoradaRajesh, here it is:
https://github.com/microsoft/botframework-cli/tree/main/packages/qnamaker

[2020-11-15 16:46] KoradaRajesh commented on #2753
Facing same issue "Failed to load model" using

string modelPath = Path.GetFullPath(".\\model");
                string snapshotPath = Path.GetFullPath(".\\generated\\orchestrator.blu");

                // Create OrchestratorRecognizer.
                OrchestratorRecognizer orc = new OrchestratorRecognizer()
                {
                    ModelPath = modelPath,
                    Snapsho

[2020-11-15 18:16] JoshBello commented on #2919
Thanks, @Virtual-Josh you're a hero!

[2020-11-15 18:16] #2919 closed

[2020-11-15 18:20] KoradaRajesh opened #2928 "Orchestrator: QnAMaker Multiturn"
Does Orchestrator supports QnAMaker multiturn

[2020-11-16 16:11] ambuj74 commented on #2917
hi @munozemilio,using the the following command
bf qnamaker:kb:export --environment=Prod --kbId < your kbid> --qnaFormat --subscriptionKey<your subscription key>  ><name of the file>
 I am  able to download the file from qna and also able to convert it to .blu  but when i tried to export the file from another qna and then convert it to .blu, I am getting error for that particular qna .

[2020-11-16 16:18] KoradaRajesh commented on #2917
## ? how to download files from yammer
Steps to download files from yammer/n
Procedure to download files from yammer
guide me to download files from yammer
download files from yammer

[code]
when I'm downloading the .qna file the questions in it are not formated with "**-** question" and some questions are getting with **\n** these causing issue while creating .blu file

![Uploading image.png…]()

[2020-11-16 16:59] jwiley84 commented on #2927
Hi @bassfishingnerd

The bot framework team prefers that **How-To** questions be asked on Stack Overflow using the [botframework](https://stackoverflow.com/questions/tagged/botframework) tag.

Webex has an updated description on integrating adaptive cards with their api here https://developer.webex.com/blog/buttons-and-cards-now-support-adaptive-cards-1-2

[2020-11-16 16:59] #2927 closed

[2020-11-16 17:52] jwiley84 commented on #2928
Can you clarify what you mean by 'support'? Can you clarify more about your scenario? Because Orchestrator is a successor to dispatch where you can use Orchestrator instead of the current dispatch solution to arbitrate across your LUIS and QnA Maker applications. There should be no difference between Orchestrator handing a simple QnA, and handling a multi-turn QnA.

[2020-11-16 17:55] KoradaRajesh commented on #2928
Is it possible to get multiturn context values from qna maker using Orchestrator

[2020-11-16 19:19] mrivera-ms commented on #2882
@modusandrew, do you have any updates for this issue? Thank you.

[2020-11-16 19:20] mrivera-ms commented on #2879
@clearab assigning this to you as @mdrichardson is not available. Could you please update with status?

[2020-11-16 19:36] clearab commented on #2879
The Teams group is reporting that this bug has been fixed, and is rolling through their deployment rings. The expectation is that it will be globally available by January.

[2020-11-16 21:38] tsuwandy commented on #2917
@ambuj74 , @KoradaRajesh, could you email me the .qna file causing issue?  tien.suwandy@microsoft.com.  Thanks!

[2020-11-16 22:59] gabog commented on #2264
this should be addressed as part of https://github.com/microsoft/BotBuilder-Samples/issues/2811, closing it.

[2020-11-16 22:59] #2264 closed

[2020-11-17 08:58] kandy99 commented on #2825
@v-kydela  please let me know of any alternative for the same

[2020-11-17 17:15] clearab opened #2935 "Teams SSO samples"
We need to create SSO samples for Teams. The sample should show how SSO works for both conversational bots as well as messaging extensions. This can be accomplished by one of the options below:

1. Updating existing TeamsAuth samples to use SSO (both bot & messaging extension)
2. Create new SSO sample that has both bot and messaging extension.
3. Create two new samples

The samples will need to en

[2020-11-17 18:53] v-kydela commented on #2825
@kandy99

I'm sorry but this issue has not been triaged yet.

@ryanlengel
@benbrown
@johnataylor
@xieofxie

Can you please comment on when this issue might get triaged?

[2020-11-17 19:09] tsuwandy opened #2936 "Remove Orchestrator adaptive sample"
Adaptive scenarios should start from Composer, not code first.

[2020-11-17 19:25] #2936 closed

[2020-11-17 23:22] tsuwandy commented on #2917
@KoradaRajesh, how did you get the .qna file (which caused the orchestrator:create command to fail)?  I assume it's from bf qnamaker:export command?  I see the '\n', removed them but it's still failed .qna file parsing.   Trying to figure out which part of the file failed in parsing still.

[2020-11-18 01:29] xieofxie commented on #2825
I don't know either.. I see they are working on a StorageQueue Approach here https://github.com/microsoft/botbuilder-dotnet/pull/4974

[2020-11-18 03:49] #2896 closed

[2020-11-18 07:39] KoradaRajesh commented on #2917
In some questions we are getting with out prefix "-", try to add it then you can able to format into .blu

we are getting like below

## ? how to delete post of yammer
how should I delete yammer post
delete post of Yammer

[code]

Make it to

## ? how to delete post of yammer
- how should I delete yammer post
- delete post of Yammer

[code]

[2020-11-19 02:01] mrivera-ms commented on #2307
@johnataylor, since you are driving the future of samples, could you comment on this request?

[2020-11-19 07:02] philip-mc opened #2941 "Load, Build and Runtime Error on Adaptive Dialog dotnetcore c# sample"
## Sample information
1. Sample type: \samples\
2. Sample language: dotnetcore c#
3. Sample name: /adaptive-dialog/09.integrating-composer-dialogs

## Describe the bug
If I run the sln file for the adaptive dialog folder the only project that fails to load in visual studio 2019 is number 9 (the only 1 I actually need!)

![image](https://user-images.githubusercontent.com/73343537/99631558-b39c5d80-

[2020-11-19 17:21] clearab commented on #2918
My apologies for the delayed response. I'm digging into this with the Teams group, but this seems like a regression in the current build of the Android Teams client.

[2020-11-19 21:45] johnataylor commented on #2941
If you would like to create a Dialog in code you should follow the samples in the samples folder here https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/csharp_dotnetcore . At this time Adaptive-Dialogs are not a recommended code-first development story. They are, however, significant because they are an important part of the underlying runtime engine when you create a bot with the

[2020-11-20 19:42] johnataylor commented on #2941
In the meantime, while we work on cleaning up the story here.

I found I can get this to build in VS by first doing a "clean solution" and then a "rebuild solution."

[2020-11-20 20:01] hatpick opened #2946 "bf-generate merge is broken as of 4.10.0-daily.20201112.185066 version"
## Describe the bug
On the latest version of the bf-generate-lib (and cli) merge is not working.

## To Reproduce
1. Generate dialogs for sandwich.schema
2. Make a minor change to the schema (e.g., add ketchup to sauces)
3. Re-generate the dialogs with --merge flag
4. The generated dialog is broken
4.1 empty en-us folder is generated on the top level

The quantity.lu file is also removed.

[2020-11-20 20:02] hatpick commented on #2946
FYI @chrimc62

[2020-11-20 21:08] #2941 closed

[2020-11-20 21:10] EricDahlvang commented on #2941
@philip-mc thank you for raising this issue.  We've merged a fix into the main branch which addresses the build/rebuild bug.

As John mentioned, we will be re-organizing these samples soon.  We appreciate your feedback.

[2020-11-23 16:23] JoshBello opened #2949 "on_teams_file_consent_accept not being triggered"
## Sample information
1. Sample type: python
2. Sample language: python3
3. Sample name: 56.teams-file-upload

## Describe the bug

When proactively sending a file to the user. The file consent card is displayed but when the user accepts there is an error:

![Screenshot 2020-11-23 at 16 17 27](https://user-images.githubusercontent.com/45298642/99986678-64458c80-2da7-11eb-9a75-8a67324066b9.png)

Th

[2020-11-24 00:42] #2946 closed

[2020-11-24 00:44] #2882 closed

[2020-11-24 00:48] #2904 closed

[2020-11-24 02:04] mewa1024 opened #2953 "dialog:generate plugin: not able to evaluate a reference in an LG file"
## Sample information
1. Sample type: \experimental\generation
2. Sample language: --
3. Sample name: --

## Describe the bug
When I generated a form dialog with **bf dialog:generate**, the bot gives me an error message:

## To Reproduce
Steps to reproduce the behavior:
1. Install the nightly build for the **bf** cli and the dialog:generate plugin.
I was using **bf** version `@microsoft/botframewo

[2020-11-24 06:45] hatpick commented on #2953
FYI @coldplaying42 @chrimc62

[2020-11-24 09:20] #2949 closed

[2020-11-25 01:48] yeze322 opened #2956 "Generated form dialog of 'any string' contains unexpected '${property}' in content"
## Versions
@microsoft/bf-generate-library/4.10.0 win32-x64 node v12.14.1

## Describe the bug
Give a clear and concise description of what the bug is.

In Composer, create a form property typed with "any string", the generated dialog contains unexpected '${property}' in content.

For example
    - In the Trigger name: `age - Add(@${property}Entity)`
    - In the expression value `- ${confirmation

[2020-11-25 02:26] chrimc62 opened #2957 "type: string generates assets with ${property} in file names and content"
To repro use a simple schema like this:
{
    "$schema": "http://json-schema.org/draft-07/schema",
    "type": "object",
    "properties": {
        "name": {
            "type": "string"
        }
    },
    "required": [
        "name"
    ]
}

If you generate when doing the stringEntity it will use genericEntity which has ${property} in it.

[2020-11-25 05:05] anbah34 commented on #2918
@IreneG0802 could you please help me with what app version you are facing this issue? When you mean message extension not displayed, are you referring to the '+' button in the compose box?

[2020-11-25 06:45] hatpick commented on #2957
duplicate #2956

[2020-11-25 06:59] kandy99 commented on #2825
it will be good if this issue is fixed or there will be an alternative apporach for the same

[2020-11-25 08:44] IreneG0802 commented on #2918
Yes, I used the trunk version and using the '+' button does not show the messaging extension icon.
I attach screenshots: the first two from mobile and the last from
![MicrosoftTeams-image](https://user-images.githubusercontent.com/72894188/100202938-404a8e00-2f02-11eb-8b47-7f8889046ce3.png)
![MicrosoftTeams-image (1)](https://user-images.githubusercontent.com/72894188/100202942-40e32480-2f02-11eb-

[2020-11-25 18:58] v-kydela commented on #2825
@kandy99 - I'm sorry this hasn't been looked at yet. You said you'd like your issue to be addressed with a sample, but if you'd like a workaround for the meantime, it would be a good idea to ask a question on Stack Overflow.

[2020-11-25 19:51] EricDahlvang commented on #2825
This doc demonstrates using an Azure Queues service: https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-howto-long-operations-guidance  an earlier example version of this (not identical to the doc anymore) can be found here: https://github.com/EricDahlvang/LongOperationsBot

Also, here is a Cosmosdb example using an Azure Timer Function: https://github.com/EricDahlvang/TimeoutConversat

[2020-11-25 20:49] KoradaRajesh commented on #2917
Is there any bfcommand to export .tsv file from qnamaker

[2020-11-26 10:07] HesselWellema opened #2959 "49.qnamaker-all-features [nodejs]: make QnAMakerBaseDialog a component dialog again."
Before #2289, QnAMakerBaseDialog was a componentdialog with a four step waterfall dialog. This allowed me for instance to start a dialog in stead of showing an answercard.

In the most recent version of this sample, QnAMakerBaseDialog is 'extending' QnAMakerDialog which is in a module called botbuilder-ai. As a result it is now hard (at least for me) to modidy the behavior of  a Qna-bot.

Also, in

[2020-11-27 08:59] HesselWellema commented on #2959
Just to clearify. Modifications that I need to be able to implement are for instance:

-1 In stead of providing an answer, startt a dialog
-2 Add the source to the answers given by QNAMaker
-3 Make adjustments to suggestions card

[2020-11-27 16:36] #2957 closed

[2020-11-30 09:38] philip-mc commented on #2941
Hey,

thanks for the input guys. I have re downloaded the code and managed to run the bot locally so thanks for this. I still get a couple of errors tho see attached screenshot.

![image](https://user-images.githubusercontent.com/73343537/100593063-d827ed80-32ef-11eb-80e5-737b026049a9.png)

@johnataylor I don't follow what you are saying can you please re phrase. I am using adaptive dialogs as par

[2020-11-30 18:45] tsuwandy commented on #2928
@KoradaRajesh, what would be the query given to Orchestrator and your expected Orchestrator response in the multiturn scenario?  I suppose this is in Dispatch scenario (QnA kb + LUIS app) or a single QnA kb?

[2020-11-30 19:42] tsuwandy commented on #2917
@KoradaRajesh, bf CLI uses QnA Maker APIs.  I don't find anything here which allows for export to .tsv format.  https://docs.microsoft.com/en-us/rest/api/cognitiveservices/qnamaker4.0/knowledgebase/download

I'll check with QnA Maker team...

[2020-11-30 20:37] hcyang commented on #2928
Hi @KoradaRajesh, can you be more specific on what you would like Orchestrator to support QnA Multiturn? For example, can you give us a QnA MultiTurn example and what info (fields, JSON attribute) in it would you like to be used by Orchestrator for training a model?

[2020-12-01 04:51] anbah34 commented on #2918
@IreneG0802  - Thanks. I see the messaging extensions displayed in the screenshot that you have attached.
![image](https://user-images.githubusercontent.com/65276405/100698499-a3369c00-33be-11eb-8efb-79c95d69d085.png)

The apps in the more menu on mobile (as seen in the 2nd screenshot that you posted) are personal apps/ bots and not messaging extensions.

Were you seeing any messaging extensions m

[2020-12-01 07:42] IreneG0802 commented on #2918
The application of this example is shown on the web, When using "..." in a channel, the icon of the messaging extension (action messaging ...) appears as it is surrounded in blue in the first image. This icon is not shown on the mobile (image 2) using "+" button in the compose box.
![image](https://user-images.githubusercontent.com/72894188/100709476-7bd7d300-33ae-11eb-85da-6adfbf3eaf0f.png)
![ima

[2020-12-01 08:00] anbah34 commented on #2918
@IreneG0802 have you sideloaded this application (Action Messaging)?

[2020-12-01 08:15] IreneG0802 commented on #2918
Yes, it can be seen in the first image.

[2020-12-01 08:58] anbah34 commented on #2918
@IreneG0802 could you share the manifest with my team, we will look into why the app is not synced

[2020-12-01 09:07] IreneG0802 commented on #2918
The manifest is the same as the example, with my Microsoft app-id.

[2020-12-01 17:50] tonyanziano commented on #2959
@mrivera-ms can you comment on this?

[2020-12-01 18:01] tonyanziano commented on #2878
@jwiley84 any updates on fixing the documentation?

[2020-12-02 00:46] #2909 closed

[2020-12-02 00:57] troykirin commented on #2574
Working on a python project utilizing 54.teams-task-module. When clicking the button for "Custom Form" or "YouTube" given the sample, I'm getting the following bug (see images). I'm deploying it via ngrok and adding various "validDomains" to the manifest using "App Studio" inside a Teams Sandbox. Due to this still being an open issue, has this been been resolved?

![image](https://user-images.gith

[2020-12-03 07:19] tsuwandy commented on #2917
@KoradaRajesh , there should be a new version of the bf orchestrator plugin (https://www.npmjs.com/package/@microsoft/bf-orchestrator-cli) deployed to npmjs in a few hours.  This version allows a qna kb in .tsv format as input to bf orchestrator:create command.  kb in .tsv format can be downloaded from qnamaker.ai portal.  I tried exporting as .qna file via this command:

bf qnamaker:kb:export --k

[2020-12-03 18:08] Zerryth commented on #2941
@philip-mc To clarify what John was saying, he means that you could do as how you are doing and use Adaptive Dialogs in a code-first fashion, however it's not the recommended way to use Adaptive Dialogs. Instead, it is currently recommended that you use the Bot Framework Composer, if you are using Adaptive Dialogs. See Composer docs [here](https://docs.microsoft.com/en-us/composer/introduction).

[2020-12-03 19:32] chrimc62 opened #2969 "Change skip and cancel to operations"
They are currently intents and the runtime does not currently allow clarifying between intents and entities.  We can fix this without changing the runtime by switching these intents to be operations.  We can treat these as global operations that do not require a specific property.  Global Help() has a pattern to use.

[2020-12-03 21:28] stevengum commented on #2959
@HesselWellema could you clarify on the three scenarios you mentioned:

1. Are you trying to start another dialog and then call QnAMaker? This should be possible through modifying the [RootDialog](https://github.com/microsoft/BotBuilder-Samples/blob/2498fb5013ca96ff548002a30d5d0a659856b3e5/samples/javascript_nodejs/49.qnamaker-all-features/dialogs/rootDialog.js#L19)
2. I'm not sure I understand th

[2020-12-04 02:45] #2969 closed

[2020-12-04 07:34] HesselWellema commented on #2959
Hi @stevengum,

Thanks for your reply.

wrt 1. For now I use QnaMaker for most of my bots. My customers usually need a qna bot with some additional, customer specific, dialogs. Lets say they need a complaint registration process). Working with the old sample, I would implement this by creating a question-answer pair for filing a complaint. The answer would be something like #complaint. In the chec

[2020-12-04 20:49] chrimc62 opened #2971 "Add operation to ChooseEntity templates"
Currently when we ask to choose between entities we do not display the operation.  For example if you do: "remove onions" you will get a prompt for "Please choose a value for toppings from [red onions, green onions]'.  Ideally it should be something like "Please choose the value to remove from toppings from [red onions, green onions]".  BTW, I also fixed a bug in the runtime where the operation wa

[2020-12-06 08:03] jonathanhotono opened #2974 "please provide nodejs sample for token exchange(SSO) between root bot and skill bot"
please provide NodeJS/TypeScript sample for token exchange(SSO) between root bot and skill bot.
Also is this method supported in other authentication methods like Generic Oauth 2?

As per page below:
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab060f59-0fc6-d90d-6b71-a0756f1a8aa0
* Version Independent ID: f7574aeb-00

[2020-12-07 07:05] #2971 closed

[2020-12-08 08:28] CharingJC opened #2977 "ERROR: Failed building wheel for cryptography"
### Github issues for [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Sample information
1. Sample type: [\samples\]
2. Sample language: I choose [python] coz I am a snake
3. Sample name: <EchoBot>

## Describe the bug.
Fail

[2020-12-08 08:37] CharingJC commented on #2977
![image](https://user-images.githubusercontent.com/74894646/101459757-99d7a180-3973-11eb-844e-3e239b83eddc.png)

[2020-12-08 08:43] CharingJC commented on #2977
FYI

https://github.com/microsoft/botbuilder-python/commit/eaa65f8c1f17d43b0691f1093617df01d47f01d1

[2020-12-08 09:27] CharingJC opened #2978 "botframework-connector 4.11.0 requires msal==1.2.0, but you'll have msal<2.0.0,>=1.6.0 by azure-sdk-for-python"
## Sample information
1. Sample type: [\samples\]
2. Sample language: [python]
3. Sample name: <Name of the sample>

## Describe the bug
dependency conflict

## To Reproduce
Steps to reproduce the behavior:
pip install
pip install -r requirements.txt

## Expected behavior
Is there any further plan on this?

## Screenshots
If applicable, add screenshots to help explain your problem.
![image](https:

[2020-12-08 19:07] tonyanziano commented on #2977
We will check to see if our samples pin the cryptography version at 3.2 and get back to you.

[2020-12-08 19:11] jwiley84 commented on #2977
None of our samples pin cryptography at any level. Your error states that botframework-connector requires cryptography at 2.8.0; can I ask why you're pinning to 3.2?

[2020-12-08 19:14] jwiley84 commented on #2978
Please let us know what sample this occurs in so that we can pin msal to 1.2.0 in it?

[2020-12-08 22:31] jwiley84 commented on #2977
I'll look into this, see why the  bot isn't building if cryptography is supposed to be 3.2. Does the same occur if you use 2.8.0 anyway?

[2020-12-08 22:51] mrivera-ms commented on #2856
@EricDahlvang, @johnataylor I am closing this issue for now. If we need to make these changes later, we can reopen it.

[2020-12-08 22:51] #2856 closed

[2020-12-09 04:22] brunokunace opened #2979 "Auth on my custom api"
Have any sample (nodejs) with login in my custom api and send after the bearer token inside each request?

like Asana App (tabs) makes login (open url in iframe) after this, can list itens in cards.

[2020-12-09 08:39] CharingJC commented on #2977
Thank you for the response❤ If l left the default requirements.txt it will be 2.8. And the first screen capture shows the Err Msg I met by using default requirements.txt (cryptography 2.8)

[2020-12-09 08:43] CharingJC commented on #2978
Thank you for the response❤ this is not for a specific sample. From botbuilder-python dependency, botframework-connector 4.11.0 requires msal==1.2.0

[2020-12-09 08:49] CharingJC commented on #2979
https://github.com/microsoft/BotBuilder-Samples/blob/main/samples/javascript_nodejs/18.bot-authentication/dialogs/mainDialog.js

[2020-12-09 11:06] brunokunace commented on #2979
Yes, like this, but without using oauth, my api use a jwt token auth based, on browser iam using a localstorage to save a token and use it on axios default header

[2020-12-09 17:16] jwiley84 commented on #2979
Hi @brunokunace

The bot framework team prefers that **How-To** questions be asked on StackOverflow using the [botframework tag](https://stackoverflow.com/questions/tagged/botframework).

I would start with this doc here: https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-connector-authentication?view=azure-bot-service-4.0

[2020-12-09 17:16] #2979 closed

[2020-12-09 22:27] stevengum commented on #2959
Thank you for clarifying @HesselWellema.

For #2, does it make sense to modify the QnA Knowledge Base or are you saying that the answers remain the same but the location of information changes?

For #1 I'll have to investigate the new implementation to see if it's possible to do what you're asking for.

[2020-12-09 22:29] tonyanziano commented on #2974
Hi @jonathanhotono ,

This is currently being tracked via the following issue, and is scheduled to be completed for the upcoming release.

https://github.com/microsoft/BotBuilder-Samples/issues/2811

Currently, a [C# sample for this exists](https://github.com/microsoft/BotBuilder-Samples/tree/main/experimental/sso-with-skills), so you can possibly look to that sample for the high-level concepts on

[2020-12-09 22:29] #2974 closed

[2020-12-09 22:36] gabog opened #2980 "Port SSO for skills dotnet sample to JS"
## Summary

This issue should be started once https://github.com/microsoft/BotBuilder-Samples/pull/3673 is merged.

The sample in the pull request needs to be ported to JS .

The docs references to the ported samples need to be updated too.

[2020-12-09 22:38] gabog commented on #2980
@swagatmishra2007, please review this one when is done to make sure everything looks good.

[2020-12-09 22:38] johnataylor commented on #2980
@swagatmishra2007 it would be great if you can review the PR when it's ready.

[2020-12-09 22:45] stevengum commented on #2980
@mdrichardson has agreed to port the sample; I've assigned Swagat to the issue as GitHub isn't letting me assign Michael 😞

[2020-12-10 12:47] HesselWellema commented on #2959
tnx. Wrt your suggestion for item 2. I'm afraid that will  not work in my case. The bot is using 100+ different ur's and I retrain the database every three days (covid measures change a lot over here) resulting in over 2.500 qna pairs. This is not a hazzle-free process as you might guess (I can only train 10 url at a time). Adding the source to each pair manually takes to much time.

[2020-12-10 14:46] mayank1513 commented on #2620
HI Facing same issue

[2020-12-10 14:47] mayank1513 commented on #2620
I am using production slot.

[2020-12-11 09:21] IreneG0802 commented on #2918
Something new?

[2020-12-11 10:40] anbah34 commented on #2918
@IreneG0802 The issue has been fixed by the engineering team but he fix will be only available in Jan end as we don't have a release on the iOS app happening this month

[2020-12-11 10:52] IreneG0802 commented on #2918
Ok, thanks!

[2020-12-11 16:25] troykirin commented on #2574
I was able to resolve this by enabling HTTPS only in the App Service.

![image](https://user-images.githubusercontent.com/11987882/101928434-6de23900-3b8a-11eb-8243-1a8f26ada5c9.png)

[2020-12-11 19:13] tonyanziano commented on #2928
Closing as stale. Please feel free to re-open.

[2020-12-11 19:13] #2928 closed

[2020-12-14 17:45] stevengum commented on #2959
@HesselWellema at the moment I'm cleaning up the sample to _hopefully_ address some of the extensibility issues, but I fear a deeper rewrite of the QnAMakerDialog class in the SDKs is necessary. I'll keep you updated.

[2020-12-14 17:46] stevengum commented on #2959
@HesselWellema, did the middleware/SendActivityHandler suggestion help with addressing the [3rd requirement](https://github.com/microsoft/BotBuilder-Samples/issues/2959#issuecomment-738330364)?

[2020-12-14 17:52] HesselWellema commented on #2959
@stevengum. Thanks for asking. I did not implement it but trust that I will be ok. Did something like that in another project

[2020-12-14 19:19] taicchoumsft commented on #2918
@anbah34 , can you add a link to track this issue on the Teams side?

[2020-12-14 19:21] stevengum commented on #2959
@HesselWellema, sorry for the back and forth, thank you for your patience and understanding.

For requirements 1 & 2 in [your comment](https://github.com/microsoft/BotBuilder-Samples/issues/2959#issuecomment-738619857) it sounds like you need an "QnAMakerDialog.onAnswer" hook in the existing [QnAMakerDialog](https://github.com/microsoft/botbuilder-js/blob/9f89021653a2f2ad20aaa53c5df0469de20b117f/l

[2020-12-14 19:46] HesselWellema commented on #2959
For requirements 1 & 2: Yes that sounds accurate.
wrt the designprocess: not sure yet. The waterfall helps me to understand what is actually happening and provides more room for customization (adding my own stuff). Guess that is part of the purpose of a sample: providing a head start.

[2020-12-14 22:06] tsuwandy commented on #2917
@KoradaRajesh, let me know if you have issues with the latest bf orchestrator cli plugin.  You should be able to use exported qna kb (from qnamaker.ai portal in tsv format) as input to the create command.

Feel free to reactivate if you are still seeing issues.  Thanks!

[2020-12-14 22:06] #2917 closed

[2020-12-14 22:14] tsuwandy commented on #2917
Opened a feature request for bf luis:version:export to directly export to a .lu format.

https://github.com/microsoft/botframework-cli/issues/1078

[2020-12-15 11:01] anbah34 commented on #2918
Here it is - https://domoreexp.visualstudio.com/MSTeams/_workitems/edit/1373069

[2020-12-15 11:10] Wajeed-msft commented on #2918
@tacri - This is being tracker here: https://github.com/MicrosoftDocs/msteams-docs/issues/2466

@IreneG0802 - Please follow [this issue](https://github.com/MicrosoftDocs/msteams-docs/issues/2466) for updates/progress/questions.

[2020-12-15 11:10] #2918 closed

[2020-12-15 17:46] clearab commented on #2918
[deleted link to internal tracking system]

[2020-12-15 18:05] clearab opened #2988 "Single messaging extension auth sample for all types of commands"
- Start with sample 52, the combined sample will replace this one.
- Follow the structure/design/conventions in that sample.
- Remember that code from these samples is inserted directly into documentation articles. Avoid unnecessary amounts of extraction into helper methods/functions as it makes it very difficult to add into documentation
  - In order for the sample to be merged
  - It will have t

[2020-12-15 19:25] stevengum opened #2989 "Port applicable sample 49.qnamaker-all-features refactoring from JS to C#, Python"
See https://github.com/microsoft/BotBuilder-Samples/pull/2986 for more information.

[2020-12-16 02:51] CharingJC commented on #2978
Any update mate?

[2020-12-16 02:55] CharingJC commented on #2977
Dear Jessica,

Hope you are doing well.
The issue was when not pin cryptography, I got the error msg of unavailable to build.
After pin the version to 3.2 I can build but still have the un-match message.
Have a nice day mate

BR,
Juncheng
________________________________
From: Jessica Wailes <notifications@github.com>
Sent: Wednesday, December 9, 2020 6:32 AM
To: microsoft/BotBuilder-Samples <BotB

[2020-12-16 02:58] CharingJC commented on #2978
Dear Jessica,

I have replied in the dialog.

botframework-connector 4.11.0 requires msal==1.2.0, but you'll have msal<2.0.0,>=1.6.0 by azure-sdk-for-python

This is conflict between bot connector and auth process dependency

BR,
Juncheng
________________________________
From: Jessica Wailes <notifications@github.com>
Sent: Wednesday, December 9, 2020 3:15 AM
To: microsoft/BotBuilder-Samples <BotB

[2020-12-16 04:50] Trinetra-MSFT commented on #2988
@clearab , Thanks, Picking up this request.

[2020-12-16 08:56] HesselWellema commented on #2959
@stevengum Hi, do I need to create a feature request for the QnAMakerDialog.onAnswer hook you suggested?

[2020-12-16 19:26] EricDahlvang commented on #2878
The readme updates have been merged.  Thanks @jwiley84

[2020-12-16 20:33] asdkant commented on #2978
I'm also hitting this issue. Any recommendation on which versions to pin to to work around this?

[2020-12-17 14:25] asdkant-ey commented on #2978
I've submitted an issue to the botbuilder-python repo which mantains the library that introduced the dependency conflict: https://github.com/microsoft/botbuilder-python/issues/1450

[2020-12-17 19:04] v-kydela commented on #2878
Was there a decision made to only update the instructions in one place instead of three? And was it determined that im_created is a Slack event after all?

[2020-12-17 20:00] EricDahlvang commented on #2878
@v-kydela Should more places be updated?    I'm not sure about im_created, is it a Slack event after all?

[2020-12-17 20:57] clearab opened #2992 "Validate Readme against list of samples"
Sample 25 (message reaction) is not listed in the index in the readme.

[2020-12-17 21:11] v-kydela commented on #2878
@EricDahlvang - Are you able to see the comment I made on October 28 containing the research I did before unassigning myself?

[2020-12-18 03:17] chrimc62 opened #2993 "Rich handling of date time"
1) Outline what you think an intelligent date time control should do.  For inspiration look at UI date time controls to see the kind of parameters they take.  Outline what conversations would look like.
2) Look at the date time resolver library in Microsoft.TextRecognizers to understand what is there and might be missing.
3) Write a design doc on what we should do in code and what should be expose

[2020-12-18 17:32] jwiley84 commented on #2992
Just noticed we also don't  have a port of sample 25 in python.

[2020-12-18 18:47] HebatallaTarek opened #2995 "Proactive Messages in Waterfall Dialogs Microsoft Bot Framework"
**Is your feature request related to a problem? Please describe.**
I was facing a problem in rendering card with dynamic data in directline channel as process takes longer than 15 sec ,so i get timeout each time i try to render card , i was advised to use Proactive messages but the sample provided is only to use proactive concept inside basic bot not in case of waterfall dialogs

**Describe the so

[2020-12-19 20:40] EricDahlvang commented on #2878
Yes, i'm able to see the comment.

[2020-12-21 20:16] v-kydela commented on #2995
Thank you for the feature request, @HebatallaTarek. I am happy to help you incorporate proactive messages into waterfall dialogs, but I don't think this is likely to be implemented as a new sample. Would you be satisfied with that, or is your intent only to request a new sample?

If you would like help incorporating this functionality into your bot, would you be willing to ask a question on Stack

[2020-12-21 20:38] HebatallaTarek commented on #2995
Hello @v-kydela  thanks for your quick response , actually i submit a question related to getting snippet of code for proactive with waterfall on stack overflow twice times , but each time my question is closed or deleted and i need that sample to apply concept of proactive messages with long running operation in waterfall dialog but can not find enough resources for that , i run sample of proacti

[2020-12-21 20:43] v-kydela commented on #2995
@HebatallaTarek - Oh no, I'm so sorry your Stack Overflow questions were closed. Do you know why they were closed, and can you link us to them? It would be helpful for us to see your existing code so we know what you've tried so far.

[2020-12-21 20:53] HebatallaTarek commented on #2995
@v-kydela  my question on stack overflow was : "How  to use proactive messages with waterfall dialog steps in Bot  ?"  the comment  after closing question was " This question does not meet Stack Overflow guidelines. It is not currently accepting answers."  , yes i refer bot framework tag , i did not tried including proactive in my scenario yet till finding guideline resources

[2020-12-21 20:54] v-kydela commented on #2995
@HebatallaTarek - Would you mind linking to the questions, just in case they contain any information that would be useful to us?

[2020-12-21 20:56] HebatallaTarek commented on #2995
@v-kydela  not at all ,  but i do not know how linking could be done , do you mean posting question again ?

[2020-12-21 21:42] v-kydela commented on #2995
@HebatallaTarek - You can just paste the URL as plain text and GitHub will automatically convert it to a link, like this: https://dev.botframework.com/bots

If you need to know how to find a URL to copy, this might help: https://www.canto.com/blog/copy-link-url/

If you need more specific help with how to post a link, please let me know what browser and OS you're using

[2020-12-21 22:31] HebatallaTarek commented on #2995
@v-kydela  Hahah oh no , i just was confused about meaning of linking , i thought you mean integration with your side or something not copy and paste
 https://stackoverflow.com/questions/65400797/proactive-messages-in-waterfall-dialogs-microsoft-bot-framework

[2020-12-21 22:57] v-kydela commented on #2995
@HebatallaTarek - Thank you for the link. I have a few observations about your question.

1. I can see that you just posted that question today, and I can see on your profile that it's the only question you've asked. You said you've asked this question on Stack Overflow twice before. Where are those questions?
2. It looks like your latest question might get closed again because it's just asking if

[2020-12-22 19:44] EricDahlvang commented on #2995
Hi @HebatallaTarek

This doc demonstrates how to use an Azure Function to process long running operations, and also uses waterfall dialogs: https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-howto-long-operations-guidance

Another example which might be helpful is: https://github.com/microsoft/BotBuilder-Samples/tree/main/experimental/immediate-accept-adapter/csharp_dotnetcore

Sending

[2020-12-22 20:17] HebatallaTarek commented on #2995
@v-kydela  Thanks for your feedback
1- The two questions i sent before were deleted , so to provide a link i submit a new one
2 - I tried in first question to explain my use case and what i am trying to do and the result was closing question due to non specific request although it was asking for how to handle proactive in waterfall , so in questions after that i tried to be more concise and abstra

[2020-12-22 20:23] HebatallaTarek commented on #2995
@EricDahlvang  Thanks a lot Eric for providing resources  , i will check it right now
 Many Thanks again

[2020-12-23 02:39] wonboyn opened #2997 "81.skills-skilldialog/dialog-skill-bot missing requirements"
## Describe the bug
The requirements file in 81.skills-skilldialog/dialog-skill-bot is missing botbuilder.dialogs

## To Reproduce
Steps to reproduce the behavior:
1. Create & activate virtual env
2. pip install -r 81.skills-skilldialog/dialog-skill-bot/requirements.txt
3. pip install -r 81.skills-skilldialog/dialog-root-bot/requirements.txt
4. Run dialog-skill-bot/app.py
5. Error advising modules

[2020-12-23 03:18] wonboyn opened #2998 "81.skills-skilldialog throwing error"
## Sample information
1. Sample type: \samples\
2. Sample language: python
3. Sample name: 81.skills-skilldialog

## Describe the bug
When you run the sample as per the instructions it is throwing the following exception:

LoggerMiddleware conversationUpdate None
LoggerMiddleware message None
LoggerMiddleware message What skill would you like to call?
LoggerMiddleware message DialogSkillBot
Logger

[2020-12-23 16:53] jwiley84 commented on #2997
We'll get the requirements.txt updated with the missing packages. Thanks!

[2020-12-23 17:38] #2992 closed

[2020-12-23 18:59] v-kydela commented on #2997
It looks like botbuilder.dialogs is also missing in the root bot

[2020-12-23 19:48] v-kydela commented on #2998
Thank you for the report, @wonboyn

I followed the instructions in the readme and I was not able to reproduce your key error, but I did get this other error in the skill bot:

[code]

It looks like the key error you're seeing is in the root bot and not the skill bot, and you encounter the error when you start the skill dialog and select the third menu option. Is that correct?

Curiously, another c

[2020-12-23 21:34] wonboyn commented on #2998
Hi @v-kydela,

I get the error when I start the skill dialog & enter any value.
microsoft/botbuilder-python#1434 does look very similar!

[2020-12-23 23:36] v-kydela commented on #2998
@wonboyn - Judging by the file paths in your stack trace, it looks like you're using a global installation of Python 3.9 and not a virtual environment. Is that correct?

I'm very curious how you managed to install the Bot Builder packages using Python 3.9, because that fails for me due to an outdated version of cryptography in the SDK: https://github.com/microsoft/BotBuilder-Samples/issues/2977

I

[2020-12-23 23:44] wonboyn commented on #2998
@v-kydela

Not quite - I am using Python3.9 (I believe that might not be supported???) but am using a virtual environment.
The process I followed was:
* Installed python using brew
* Created a virtual env: virtualenv -p /usr/local/bin/python3 botvenv
* Activated the venv
* Installed the skill & root requirements
* Launched two instances of VS Code (one for the skill, the other for the root)
* In e

[2020-12-24 03:46] wonboyn commented on #2998
Hi @v-kydela

Ok I setup a new virtualenv using Python v3.7.9
I get exactly the same error in the VS Code terminal:

LoggerMiddleware conversationUpdate None
LoggerMiddleware message None
LoggerMiddleware message What skill would you like to call?
LoggerMiddleware message DialogSkillBot
LoggerMiddleware message Select an action # to send to **DialogSkillBot** or just type in a message and it will

[2020-12-25 00:48] v-kydela commented on #2998
@wonboyn - Thanks for the information. I have been trying to follow the stack trace to see if I can find what might be responsible for the error. Because I cannot reproduce it on my end yet, any debugging or troubleshooting you can do on your end will help.

I understand that Python can sometimes behave differently on different operating systems. What is your OS?

[2020-12-26 00:19] wonboyn commented on #2998
@v-kydela I'm running MacOS Catalina 10.15.7

[2020-12-26 19:05] sempjc commented on #2759
Hi @WashingtonKayaker today I open a PR with this change applied. You can follow up the status [here](https://github.com/microsoft/BotBuilder-Samples/pull/2999).

[2020-12-28 09:23] bommareddysandhya opened #3001 "In Team SSO not getting the id_token field as token response"
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues) / [Java](https://github.com/Microsoft/botbuilder-java/issues)/ [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for genera

[2020-12-28 19:31] joshgummersall commented on #3001
We don't currently return the full `id_token`; you would need to provide your own authentication flow implementation.

[2020-12-30 10:11] bommareddysandhya commented on #3001
Please provide sample that authentication can be implemented in teams

[2020-12-31 00:00] v-kydela commented on #2995
@HebatallaTarek - Have you checked the documents Eric provided?

[2020-12-31 23:50] v-kydela commented on #2998
@wonboyn - Well that made me think MacOS had something to do with this, but the other customer who's encountering the error is running Windows 10.

I've been trying to figure out what might be going on here, and I suspect the "access_token" key is absent because the authentication request is returning an error. The [MicrosoftAppCredentials](https://github.com/microsoft/botbuilder-python/blob/4.11/

[2021-01-02 11:29] ganeshglitz commented on #1974
Hi,

I am getting same error as started this thread. I have followed all the troubleshooting as mentioned above, but still issue is not resolved.

could you please check this. Details are below:

I am trying to debug the simple bot in visual code using node.js with ngrok.

I am able to debug successfully without any in bot emulator. but when I am trying to debug using Teams, i am getting the follo

[2021-01-03 00:25] wonboyn opened #3004 "81.skills-skilldialog doesn't handle OPTIONS requests"
## Sample information
1. Sample type: \samples\
2. Sample language: python
3. Sample name: 81.skills-skilldialog

## Describe the bug
The sample sets up an aiohttp web app with routes for GET/POST to /api/messages
But it does not handle OPTIONS requests. Consequently when you try to test using the web chat blade in Azure portal or setup a Teams channel you get an error when it attempts an OPTIONS

[2021-01-03 00:39] wonboyn commented on #2998
Hi @v-kydela

I'm having a bit of trouble performing the tests you suggested.

I am not able to test from Web Chat in Azure portal or add the Teams channel to allow testing from Teams.

To attempt this I did the following:
* started the root & skills bots in VS Code
* started ngrok routing for http/https to port 3978 (the root bot)
* Updated the Bot Service Messaging Endpoint config in Azure to ha

[2021-01-04 01:46] wonboyn opened #3005 "Incorrect port number for 81.skills-skilldialog dotnetcore root bot"
## Sample information
1. Sample type: \samples\
2. Sample language: dotnetcore
3. Sample name: 81.skills-skilldialog

## Describe the bug
The instructions for 81.skills-skilldialog advise to open the emulator & connect on http://localhost:3978/api/messages
The url for the dotnetcore root bot is actually http://localhost:5000/api/messages

The url needs to be updated in the [readme](https://github.

[2021-01-04 01:58] wonboyn commented on #2998
Hi @v-kydela

As an alternative I tried running the 81.skills-skilldialog dotnetcore sample using the emulator & got the same outcome.
The error messages written to the debug console (see below) seem to correspond with your thoughts on the emulator allowing empty credentials.

Is there a way to use the emulator with credentials?

Cheers

`
Microsoft.Bot.Builder.Integration.AspNet.Core.BotFramework

[2021-01-04 04:24] aldvintumbelaka opened #3006 "Disable send message button while waiting for bot to response"
Hi,

I'm looking for solution to disable send message button while waiting for bot to response.
Because when user type multiple messages, bot will now reply it multiple times that might add confusion to user.

For example:
User: Hi
User: I have an issue with my computer
User: I cannot logged in properly
User: I'm using surface pro 6 with windows 10 OS

In this case, bot will reply it multiple time

[2021-01-04 15:57] LindaLawton commented on #1974
When you set up the bot do it though the CLI dont try to do it though the web interface.   Thats how i got it working.

[2021-01-04 19:27] v-kydela commented on #2998
Hi @wonboyn

You can use the Emulator with credentials by following [these instructions](https://docs.microsoft.com/azure/bot-service/bot-service-debug-emulator#use-bot-credentials).

Are you saying you haven't put your app ID and password in config.py? You had said your repro steps were to follow the instructions in the readme: https://github.com/microsoft/BotBuilder-Samples/blob/main/samples/pyt

[2021-01-04 20:09] gabog commented on #3005
Thanks, I'll review and address it in the next release.

[2021-01-04 20:16] v-kydela commented on #3004
Thank you for the report, @wonboyn. No Bot Framework sample has ever handled OPTIONS requests, and the Bot Framework contains no functionality for doing so. Do you have an expectation for how you'd like this to be handled globally?

If you'd like the SDK to include OPTIONS functionality then this should be in the SDK repo: https://github.com/microsoft/botframework-sdk

If you'd just like the sampl

[2021-01-04 23:36] wonboyn commented on #2998
Hi @v-kydela

No - I wasn't saying that. I put the relevant app id & password into the root & skills bot config.py files.

[2021-01-05 00:38] stevkan commented on #3006
@aldvintumbelaka, what channel is this for? It sounds like Web Chat, but can you clarify? Whether a button is enabled / disabled is a feature of the hosting site and not of the bot.

[2021-01-05 09:22] coldplaying42 commented on #2993
1) The codes for datatime in the Recognizer-Text is rule-based. There is a new transformer-based LUIS model, will it support to extract and parse datetime entity using machine learning techniques?
2) The examples listed (e.g.,  leave on the 4th and come back on the 9th) require contextual time information. Based on the codes from  Recognizer-Text, when extracting and parsing from DateTimeModel, th

[2021-01-05 19:20] gabog commented on #2978
Closing as it is being tracked in https://github.com/microsoft/botbuilder-python/issues/1450

[2021-01-05 19:20] #2978 closed

[2021-01-05 19:24] gabog commented on #2997
Hi @axelsrz, can you review this one?

Thanks

[2021-01-05 19:29] #3004 closed

[2021-01-06 00:59] v-kydela commented on #2998
@wonboyn - I'm sorry but I don't understand. Why did you ask if there was a way to use the Emulator with credentials if you were already doing that?

[2021-01-06 01:19] wonboyn commented on #2998
Hi @v-kydela

Apologies for the confusion. In your reply a few days ago you said:

For my testing at that stage, I had:
- created two bot registrations in Azure (one for the root & another for the skill bot)
- updated the config.py with the app id's & secrets
- started the bot emulator & provided the root bot app id & secret

Your comment made me think there must be some other authentication crede

[2021-01-06 01:35] v-kydela commented on #2998
@wonboyn - It sounds to me like you've already done the Teams and Web Chat tests. You've discovered that you're unable to use them, which is what I had predicted if there's something wrong with your credentials.

Can you explain the difficulty you're having following the documentation I linked to? The access token request is in [step 1](https://docs.microsoft.com/azure/bot-service/rest-api/bot-fra

[2021-01-06 02:02] wonboyn commented on #2998
Hi again @v-kydela

I think I inadvertently found the access_token issue... rookie mistake.

I believe the issue was that I was using the secret id rather than the actual application id.

When registering the bot services I used the default option to create an app/secret id.
I then found that the secret itself wasn't visible in the Azure blade - so deleted the scret & created a new one.

In the ne

[2021-01-06 19:13] sempjc commented on #3005
Hi everyone!

@wonboyn what IDE your using? Visual Studio, VS Code?
I tried to replicate this issue today using Visual Studio Community 2019 v16.8.3 and  it work fine with both ports.

Using port 5000
![issue-3005-img-1](https://user-images.githubusercontent.com/2800096/103805365-d9081980-5029-11eb-81ba-1b33336df541.png)

Using port 3978
![issue-3005-img-2](https://user-images.githubusercontent.co

[2021-01-06 19:27] axelsrz commented on #2977
@CharingJC I noticed you're using python 3.9, that could be causing problems at the moment of building the cryptography package version 2.8. In the [readme](https://github.com/Microsoft/botbuilder-python#prerequisites) section for the SDK we recommend Python 3.8, could you check with that?

Also, problems building cryptography are usually because of other packages in your python environment, or mi

[2021-01-06 20:15] wonboyn commented on #3005
Hi @sempjc

I'm running this in VS Code.
When debugging this I launch the root & skill bots separately from the same VS Code instance - but didn't see any option to configure the web server port.

Thanks

[2021-01-06 20:48] sempjc commented on #3005
In that case you can use the following command:
`
dotnet run --urls=http://localhost:3978
`

If you use `dotnet run` command alone, will default to port 5000, but you can specify your desired URL by appending `--urls=http://localhost:<port>`.

![issue-3005-img-5](https://user-images.githubusercontent.com/2800096/103817670-820c3f80-503d-11eb-8577-75e76c6d0e96.png)

Glad to help you :)

[2021-01-06 21:22] wonboyn commented on #3005
Hi again @sempjc

I'm very new to dotnet - so a big thanks for the info - it's helped to fill in a few gaps.
A couple more related questions:

1) In the sample there's a file: BotBuilderSamples/samples/csharp_dotnetcore/81.skills-skilldialog/DialogRootBot/Properties/launchSettings.json This file refers to the IIS Express profile you mentioned earlier as well as the url's for port 5000, 5001 & 3978

[2021-01-06 22:13] sempjc commented on #3005
I'm happy to know I was helpful to you 😄

For running a specific profile from CLI you can use:
 `dotnet run --launch-profile <Profile Name>`.

Right know you can run `dotnet run --launch-profile DialogRootBot` and should run your bot on port 5000.

I'm not sure about this, but apparently IIS Express is not supported by dotnet. You can follow the discussion [here](https://github.com/dotnet/AspNetCo

[2021-01-06 22:16] wonboyn commented on #3005
Hi @sempjc

Thanks for that.

I just found that launchSettings.json does get called by VS Code during debugging from the VS Code launch.json settings. I then modified the applicatURL value in each bot's launchSettings.json & now have the sample all working.

Thanks so much for all your help.

[2021-01-07 18:22] bkumar12334 opened #3011 "scheduling microsoft teams meeting programatically using c# mvc"
I have  a question regrading Microsoft teams.

can we programmatically schedule  teams meeting using c# code. is this possible ?

leads are appreciated.

[2021-01-07 18:26] clearab commented on #2879
The fix for this should be rolling out globally now. Please re-open if you continue to experience issues.

[2021-01-07 21:06] v-kydela commented on #2998
Hi @wonboyn. You may recall that this is the error I reported in my first comment on this issue. I think we should post a new issue for that bug so it can be addressed without the noise from the access token problem.

It looks like the error is encountered when the skill bot tries to send a trace activity. Would you be willing to help diagnose the problem by determining if the error occurs for all

[2021-01-07 23:57] clearab commented on #3011
You have two options:

- You can create a deeplink to the scheduling dialog that when clicked will create a stubbed-out meeting the user can then finalize: https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/build-and-test/deep-links#linking-to-the-scheduling-dialog
- You can use MS Graph APIs to create calendar items (requires Graph permissions and authentication): https://docs.micr

[2021-01-07 23:58] #3011 closed

[2021-01-08 02:21] wonboyn opened #3013 "Python 81.skills-skilldialog throwing error: [on_turn_error] unhandled error: Cannot deserialize content-type: text/plain"
## Sample information
1. Sample type: \samples\
2. Sample language: python
3. Sample name: 81.skills-skilldialog

## Describe the bug
When you run the sample as per the instructions, the skill bot is throwing the following error:

======== Running on http://localhost:39783 ========
(Press CTRL+C to quit)

 [on_turn_error] unhandled error: Cannot deserialize content-type: text/plain
Traceback (most

[2021-01-08 02:24] wonboyn commented on #2998
Hi @v-kydela

Sorry - I'd missed your earlier reply with that same error.
I tried commenting out the two send_activity_trace calls in the skill bot - it still throws the same error.

I've logged a new ticket #3013 to make it simpler to track this.

Thanks

[2021-01-08 02:27] wonboyn commented on #3013
As requested by @v-kydela I tried commenting out the two calls to send_activity_trace in the skillbot - [here](https://github.com/microsoft/BotBuilder-Samples/blob/main/samples/python/81.skills-skilldialog/dialog-skill-bot/dialogs/activity_router_dialog.py#L44-L47) & [here](https://github.com/microsoft/BotBuilder-Samples/blob/main/samples/python/81.skills-skilldialog/dialog-skill-bot/skill_adapter

[2021-01-08 02:34] #2805 closed

[2021-01-08 02:35] #2867 closed

[2021-01-08 13:54] bkumar12334 commented on #3011
Thanks for your response.

i have question on the second link that you provided. Is this applicable for Teams . it looks like out look.(both are Microsoft).

may be i got confused.

[2021-01-08 17:35] clearab commented on #3011
Meetings in Teams and meetings in Outlook are backed by the same calendar, so yes scheduling a meeting using the Graph APIs would create a Teams meeting. For an example of using Graph APIs from a bot, you can take a look at sample #46.

[2021-01-08 18:13] v-kydela commented on #2998
Closing as resolved

[2021-01-08 18:13] #2998 closed

[2021-01-08 22:37] v-kydela commented on #2995
I am closing this issue due to inactivity. Please follow up in your Stack Overflow question.

[2021-01-08 22:37] #2995 closed

[2021-01-09 13:50] CharingJC commented on #2977
Hi Axel，

Thank you so much for pointing it out.
I will have a try with python 3.8

BR,
Juncheng

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Axel Suarez <notifications@github.com>
Sent: Thursday, January 7, 2021 3:28:13 AM
To: microsoft/BotBuilder-Samples <BotBuilder-Samples@noreply.github.com>
Cc: CharingJC <junczhu@outlook.com>; Mention <mention@noreply.git

[2021-01-10 13:56] libindavis commented on #1974
I've encountered the same issue, here is how I resolve it.
1. go to your bot in the Azure portal
2. select the 'Authentication' menu on the left panel
3. select 'Accounts in any organizational directory (Any Azure AD directory - Multitenant)' in the 'Supported account types' as below
![image](https://user-images.githubusercontent.com/33892780/104124920-86629080-538e-11eb-927a-ebb53aecc6bc.png)

[2021-01-10 22:17] wonboyn opened #3016 "Sample bot for deploying in Azure function using http trigger"
**Is your feature request related to a problem? Please describe.**
I'm interested in deploying bots as functions rather than as a web app. I've not been able to find an up to date examples/tutorial on what needs to be done to trigger the required botframework adapter/controller etc from an Azure function HTTP trigger.

**Describe the solution you'd like**
A sample dotnet core bot (eg echo bot) bas

[2021-01-11 02:29] aldvintumbelaka commented on #3006
@stevkan it will be for microsoft teams

[2021-01-11 23:06] chrimc62 opened #3017 "Missing templates for object arrays"
We are missing the templates to handle our schema references are array elements.  For example:
[code]
Does not generate because of "Missing template objectArray, Missing template generic-objectArray".
 We should handle this for all our built-in LUIS types.

[2021-01-11 23:07] chrimc62 opened #3018 "Missing templates for schema $ref arrays"
We are missing the templates to handle our schema references are array elements.  For example:
[code]
Does not generate because of "Missing template objectArray, Missing template generic-objectArray".
 We should handle this for all our built-in LUIS types.

[2021-01-11 23:20] stevkan commented on #3006
@aldvintumbelaka, disabling a button that is specific to the Teams UI falls outside the functionality of the BotFramework. You will need to communicate with the Teams development team to determine if this is even possible, or to suggest as a feature request. Their community forum can be located at [Teams UserVoice](https://microsoftteams.uservoice.com/).

[2021-01-11 23:20] #3006 closed

[2021-01-12 06:33] #2893 closed

[2021-01-12 12:40] coldplaying42 commented on #2993
ResolveDateTimeDialog    dateparser   duckling from facebook
1 Do we plan to start a new SDK datetime resolution library or extend ResolveDateTimeDialog and pack it ?
2 What contextual information could we get ? A series of historical datetime entity ?

[2021-01-12 15:44] rvinothrajendran opened #3020 "Remove DialogExtensions.cs file no more valid."
**Describe the solution you'd like**
DialogExtensions.cs file is no more required in the project samples. path ....\csharp_dotnetcore\adaptive-dialog\..
will remove this file.

@EricDahlvang is that fine ? shall I create PR.

[2021-01-12 20:16] EricDahlvang commented on #3020
@rvinothrajendran you are correct, that class is no longer needed in the sample as it is now provided in the sdk.  However, I believe we are moving the adaptive-dialog folder to experimental at some point.

[2021-01-13 03:30] chrimc62 opened #3022 "Update TestBot"
We need to improve our testing.  The thing we are missing is the ability to run a script to test the actual behavior of the generated code.
Update test in testbot to:
1) Have the latest sandwich schema.
2) Be updated to latest SDK including adding a TestAdapter and including SetTestOptionsMiddleware.   You can find examples in C# SDK.  You will need a TestAdapter and add it to that.
3) Generate fo

[2021-01-13 15:35] rvinothrajendran commented on #3020
@EricDahlvang I removed those files If you like it merge the changes 😎

[2021-01-13 23:16] EricDahlvang opened #3024 "Port: [57.teams-conversation-bots]: Adding multiple Bots events in existing sample"
**Is your feature request related to a problem? Please describe.**
Port these additions to javascript, python and java samples:

https://github.com/microsoft/BotBuilder-Samples/pull/3010

[2021-01-13 23:52] EricDahlvang opened #3025 "Port: Added Just In Time installation flow in messaging extension action sample"
**Is your feature request related to a problem? Please describe.**
Port these additions to javascript, python and java samples:

https://github.com/microsoft/BotBuilder-Samples/pull/3012

[2021-01-13 23:54] EricDahlvang opened #3026 "Port: Added sample code to showcase inline image download"
**Is your feature request related to a problem? Please describe.**
Port these additions to javascript and python samples:
https://github.com/microsoft/BotBuilder-Samples/pull/3014

[2021-01-14 00:58] axelsrz commented on #3013
Hello @wonboyn, I couldn't reproduce this issue using v4.11.0 of the botbuilder packages and the latest version of this sample. I tried with clean installations of Python 3.7.9 and 3.8.7

With those configurations, the sample runs as expected. But I noticed that there's an error in the requirements.txt given that it doesn't include neither botbuilder-dialogs nor botbuilder-ai, which are necessary

[2021-01-14 02:22] wonboyn commented on #3013
Hi @axelsrz

I am using python v3.7.9 & botbuilder v4.11.0 - albeit with pyenv:

% pip list
Package                               Version
------------------------------------- ---------
adal                                  1.2.1
aiohttp                               3.6.2
aiounittest                           1.4.0
async-timeout                         3.0.1
attrs

[2021-01-14 03:42] mrivera-ms commented on #2307
Per my conversation with @johnataylor, we should implement this.

[2021-01-14 05:42] EricDahlvang opened #3027 "Port [52.teams-messaging-extensions-search-auth-config] Sample code enhancement for Action and link unfurling authentication"
**Is your feature request related to a problem? Please describe.**
Port these additions to javascript, python and java samples:
https://github.com/microsoft/BotBuilder-Samples/pull/3007

[2021-01-14 08:52] csnarain opened #3028 "Unable to make sample skills (that require auth) to work with Bot Composer"
I'm trying to connect an existing remote skill in Azure (Email Skill in github sample) to a bot developed in composer. While the skill connects successfully, it doesn't respond to any of the messages. This happens only for skills that requires authentication. Other skills that don't require auth works fine. I'm following the steps given in the documentation exactly as instructed (https://docs.micr

[2021-01-14 11:50] EricDahlvang commented on #3020
Thanks @rvinothrajendran

[2021-01-14 11:50] #3020 closed

[2021-01-14 22:53] axelsrz commented on #3013
Thanks for the reply @wonboyn. Running the scenarios again I realized that in my previous test I was using Python 3.7.9 and 3.8.7 only for the Skill bot, the parent was always running in 3.8.7. After testing running the parent in 3.7.9 I was able to reproduce.

This looks like a product issue (I will transfer this to the python repo in the following days) and we should fix it in the course of our

[2021-01-16 13:34] wilsoncg commented on #3016
+1
Yes please, I'd like to see a sample too.
The closest I have found is [this](https://github.com/brandonh-msft/botbuilder-functions/blob/master/EchoBot/EchoBot.cs), however it uses `AuthorizationLevel.Anonymous` & `BotFrameworkAdapter` using an alpha version of the SDK, but I'd like to see samples using `AuthorizationLevel.Function` which according to [this comment, all auth scenarios are fully

[2021-01-17 04:18] clearab opened #3030 "Teams TypeScript samples"
The teams TypeScript samples are not listed in the index.

[2021-01-17 17:00] clearab opened #3031 "Refactor sample 57"
The messageAllMembers functionality in sample 57 needs to be refactored. As written, it is encouraging developers to call createConversation repeatedly, and is difficult to read. We need to separate out the create and continue calls, and use in-memory storage to save the conversation reference.

[2021-01-17 17:33] clearab commented on #3031
It may make more sense to pull the proactive portion out of this sample entirely, and refactor sample 58 into a proactive messaging sample all-up (sending proactive to the various constructs, using a something outside of the turnContext to send the messages to make it more clear).

[2021-01-17 18:03] clearab commented on #3031
For additional context, see the conversation here: https://gitter.im/OfficeDev/MicrosoftTeamsAppDev?utm_source=notification&utm_medium=email&utm_campaign=unread-notifications#

[2021-01-17 18:26] HiltonGiesenow commented on #3031
@clearab thanks for creating this issue - I'm more than happy to help out on this.

[2021-01-17 20:03] clearab commented on #3031
@EricDahlvang let's talk about this one next week

[2021-01-17 23:22] wilsoncg commented on #3016
@wonboyn after a lot of fiddling around, I have a working bot written in C# (dotnetcoreapp3.1). It's running as an Azure function (consumption model), with an HTTP trigger, using BotFramework SDK v4. It's also connected to LUIS and twitter API.

[https://github.com/wilsoncg/bot](https://github.com/wilsoncg/bot)
Feel free to have a look and use as a reference.

[2021-01-18 22:16] Ronnie-personal opened #3032 "Parameter connectionName Null issue"
I'm testing AuthenticationBot using emulator, but I keep on get exception.
In appsettings.json file, I already added
  "ConnectionName": "botlogin"

Also I followed below document links, configured app registration and OAuth Connection Settings.

Appreciate your help!

https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-authentication?view=azure-bot-service-4.0&tabs=aadv2%2Ccsharp#creat

[2021-01-18 22:42] wonboyn commented on #3016
@wilsoncg - Thanks for that. I'll check it out.

[2021-01-19 02:17] arman-g commented on #1248
The C# example is outdated. Would be nice to have it updated to .Net 5 and bot Framework v4.11 least. It seems the current sample might have custom implementation that is the integral part of the bot framework latest version. Some documentation would be great as to how exactly we can have a bot hand-off to a live agent in MS Teams. All I find is really concepts without any reasonable examples for

[2021-01-19 14:53] 01 commented on #1248
@arman-g Im not familiar with C# as im using node.js but this seems to be the most up to date version on what microsoft recomends for handoff https://github.com/microsoft/BotBuilder-Samples/tree/main/experimental/handoff-library

[2021-01-19 18:32] jwiley84 commented on #3032
Is the connectionString the only change you made to the sample?

[2021-01-19 19:04] clearab opened #3033 "Add reference to Teams sample repo"
Teams has a new, centralized repo for Teams app samples that contain bots (as well as other things, which is why they aren't in this repo). I think it would make sense to add some links/references to this repository (maybe in the index? in docs somewhere?)

https://github.com/OfficeDev/Microsoft-Teams-Samples

[2021-01-19 22:25] arman-g commented on #1248
Hi @01, thanks for your response. Yes I saw that example but that is not what I am looking for. That example uses handoff integration model "Bot as an agent". What I am looking is "Bot as a proxy" since our clients use Web Chat channel talking to the bot and escalating to a live agent if there is a need using MS Teams as the agent hub.

[2021-01-19 23:28] Ronnie-personal commented on #3032
I didn't change any code of the sample, other than add appsetting, the sample works fine when deploy to Azure, but it does not when test from local using Bot Framework Emulator.

[2021-01-19 23:34] Ronnie-personal opened #3034 "Does team-sso Show Token?"
Hi there,
I'm able to setup bot based on team-sso sample.
https://github.com/microsoft/BotBuilder-Samples/tree/main/experimental/teams-sso/csharp_dotnetcore

I didn't get any error, but it does not show token as the the other sample team-auth
https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/csharp_dotnetcore/46.teams-auth

Can you please advise what's the expected behavior? or can

[2021-01-20 01:37] chrimc62 opened #3036 "Add min/max to age, dimension, temperature"
Support minimum/maximum for dimension related entities.  The dialog templates will need to be updated to support minimum/maximum as well as units.

[2021-01-20 01:46] chrimc62 opened #3037 "Add unit conversions to age, dimension, temperature"
With $units we know enough to be able to automatically convert dimension units, i.e.
$units = feet, convert kilometer, hectometer, inches, etc. and vice versa.
We can also convert areas and perhaps as a bonus currency although that requires an API call to an exchange.  I suspect the best way to do this is to create some custom LG functions to do the conversion, i.e.

[code]

Then we can use those

[2021-01-20 02:16] #3022 closed

[2021-01-20 02:34] chrimc62 opened #3038 "Add currency unit conversion"
If you specify $units add to the generation logic to automatically convert currency.  In the generation we can call an API to do it so what API you are using is open.

[2021-01-20 17:02] jwiley84 commented on #3034
Hi @Ronnie-personal !

The other samples are coded to show your token. I"ll take a look, see if the Teams-SSO sample is supposed to do the same, and show you the code for it.

[2021-01-20 17:12] jwiley84 commented on #3034
'''
private async Task<DialogTurnResult> DisplayTokenPhase2Async(WaterfallStepContext stepContext, CancellationToken cancellationToken)
        {
            var tokenResponse = (TokenResponse)stepContext.Result;
            if (tokenResponse != null)
            {
                await stepContext.Context.SendActivityAsync(MessageFactory.Text($"Here is your token {tokenResponse.Token}"), cancella

[2021-01-20 17:40] jwiley84 commented on #3032
Thank you. let me try a repro, see what's going on.

[2021-01-21 01:22] Ronnie-personal commented on #3034
@jwiley84  Thank you for looking into it. Look forward to collaboration!

[2021-01-21 02:19] Ronnie-personal commented on #3034
@jwiley84
FYI Here are the steps for my setup
https://cloudjourney.medium.com/teams-bot-single-sign-on-af21ae280e2c

[2021-01-21 07:31] geo-msft opened #3041 "Sample of human hand-off using Node.js"
**Is your feature request related to a problem? Please describe.**
Some customers asked for samples on implementing human hand-off in Node.js.
We have this C# example https://github.com/microsoft/BotBuilder-Samples/tree/main/experimental/handoff-library but nothing for Node.js.

**Describe the solution you'd like**
An equivalent of the C# sample for human hand-off in Node.js, illustrating among th

[2021-01-21 08:03] SonOfJesseAsSnekithan commented on #2796
How to hook the Submit button click, I see AttachmentActionData class, any details will be appreciated.

[2021-01-21 08:07] SonOfJesseAsSnekithan commented on #1855
Hi, how to hook the 'Submit' button click from the AdaptiveCard in the Webex Adapter sample?.

[2021-01-21 08:51] Harshul9089 opened #3044 "Interactive Message is not getting rendered in slack via botframework"
## Describe the bug
I am using slack adapter from the sample code given [here](https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/csharp_dotnetcore/60.slack-adapter). After running the code the attachment is not getting rendered into my slack application chat.
![image](https://user-images.githubusercontent.com/60145577/105325661-dcd39880-5bf2-11eb-94b8-7eed3b0fc934.png)

## Expected

[2021-01-21 17:26] jwiley84 commented on #3032
I am unable to repro this. I feel like this is a silly question to ask (but I'm going to because I've done this myself), but if you've clone the whole samples repo, can you verify that you're adding the connection string and appid/password to the right bot?

![image](https://user-images.githubusercontent.com/17333688/105387526-7f2b5600-5bca-11eb-9c33-3d8450b320d2.png)

[2021-01-21 22:52] v-kydela commented on #2878
Reopening as not resolved. Please refer to [this comment](https://github.com/microsoft/BotBuilder-Samples/issues/2878#issuecomment-718178463) to see what needs to be fixed.

[2021-01-21 23:00] EricDahlvang commented on #2878
@v-kydela the referenced docs page no longer has four open issues.  I do not have the context to know if that means the above has been fully resolved.  Please describe which part of your comment above still needs to be addressed, and what you recommend?

[2021-01-21 23:12] v-kydela commented on #3044
Thank you for the report, @Harshul9089

Can you go ahead and post your code as Markdown-formatted code blocks instead of screenshots?

[2021-01-21 23:58] v-kydela commented on #2878
@EricDahlvang - It all still needs to be addressed except for the part JJ fixed. It doesn't look like the open issues I mentioned were relevant here. I recommend transferring this to the docs team so they can come up with new instructions based on how Slack currently works.

JJ fixed the three specific things the customer mentioned in the one specific document the customer was looking at, but she

[2021-01-22 04:44] Harshul9089 commented on #3044
`// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License.

using System.Collections.Generic;
using System.IO;
using System.Linq;
using System.Threading;
using System.Threading.Tasks;
using Microsoft.Bot.Builder;
using Microsoft.Bot.Builder.Adapters.Slack;
using Microsoft.Bot.Builder.Adapters.Slack.Model;
using Microsoft.Bot.Schema;
using Microsoft.Extensions.

[2021-01-22 07:22] Harshul9089 commented on #3044
++@KoradaRajesh for issue follow up

[2021-01-22 07:57] KoradaRajesh commented on #3044
@v-kydela can you check with this solution [Slack-adapter sample](https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/csharp_dotnetcore/60.slack-adapter)

[2021-01-22 10:19] Mattw11486 commented on #2864
I am also having this issue and I have checked the .env file, there is no quotes. I am not sure what I am missing, this is happening for both QnA samples

[2021-01-22 10:28] Mattw11486 opened #3045 "[onTurnError] unhandled error: TypeError: Cannot read property 'map' of undefined"
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues) / [Java](https://github.com/Microsoft/botbuilder-java/issues)/ [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for genera

[2021-01-22 17:03] jwiley84 commented on #3045
Does this happen on both QnA samples or just 'All-Features'?

[2021-01-22 17:06] jwiley84 commented on #3034
Hi @Ronnie-personal

There was a recent PR to fix a bug in this sample (https://github.com/microsoft/BotBuilder-Samples/pull/3035). Can you update your sample and try again, please?

[2021-01-22 18:32] v-kydela commented on #3045
Linking:

- https://github.com/MicrosoftDocs/bot-docs/issues/2018
- https://github.com/microsoft/BotBuilder-Samples/issues/2864
- https://github.com/microsoft/BotBuilder-Samples/issues/2417

[2021-01-22 19:25] Mattw11486 commented on #3045
Both QnA samples

[2021-01-25 03:38] RonnieQuan commented on #3034
@jwiley84  Sure, tested, it does not throw error, I'm able to logout, then type anything, then logout again, but token does not show.
![image](https://user-images.githubusercontent.com/25850020/105658614-d2d0c480-5e94-11eb-9681-1fe6efc752f9.png)

[2021-01-25 03:40] RonnieQuan commented on #3034
I would like to print out the token mentioned in this document https://docs.microsoft.com/en-us/microsoftteams/platform/bots/how-to/authentication/auth-aad-sso-bots#bot-sso-at-runtime

AAD sends the bot application token to the Teams application.

Teams sends the token to the bot as part of the value object returned by the invoke activity with the name sign-in/tokenExchange.

[2021-01-25 16:58] mdrichardson commented on #2980
Per conversation w/ @gabog, there isn't a customer-friendly sample ready to port just yet.

[2021-01-25 17:10] jwiley84 commented on #3045
I'll take a look at this. Thank you for  your patience while I attempt a repro.

[2021-01-27 17:38] jwiley84 commented on #3045
I am unable to repro this:
![image](https://user-images.githubusercontent.com/17333688/106030783-5b14bc80-6083-11eb-9a7c-8ad4c61a8cfa.png)
![image](https://user-images.githubusercontent.com/17333688/106030811-60720700-6083-11eb-9058-769a9e9f63eb.png)

Can you try to republish your QnA KB's, and verify that your keys are correct?

[2021-01-27 23:36] chrimc62 opened #3054 "We should not generate multiple values utterances for non-array properties"
We should not generate utterances for multiple values for non-array properties like this:
[code]

[2021-01-27 23:39] chrimc62 opened #3055 "Generate dialogs for handling plain properties"
If you have a plain property without an operation we do not handle it.  For example, "max bid" would generate MaxBidProperty hierarchical entity.  I suspect that what happens is that we end up with a default operation and no entity which we do not have a trigger for.  Either we could write a trigger to handle that or perhaps tweak the runtime so that we do not end up with an operation.  The trigge

[2021-01-28 21:08] #2420 closed

[2021-01-29 00:16] v-kydela commented on #3044
@Harshul9089
@KoradaRajesh

Sorry for the delay. I've tried the Slack adapter sample and it's able to display interactive messages without issue:

![image](https://user-images.githubusercontent.com/41968495/106212975-96e17c00-6180-11eb-959c-8a1a367768a5.png)

I can see that your C# and your JSON were taken directly from the sample. The only change you've made is to move the interactive message cod

[2021-01-29 03:04] chrimc62 opened #3057 "Switch from $uniqueOnly to the JSON schema uniqueItems"
JSON schema has a built-in boolean keyword uniqueItems for array items being unique.  We should use that instead of $uniqueOnly.

[2021-01-29 04:51] Harshul9089 commented on #3044
Hi @v-kydela , yes the if block is getting executed without any exception. But no interactive message got displayed in slack.

[2021-01-29 17:30] v-kydela commented on #3044
@Harshul9089 - It seems like the difference may be in the Slack app registration. Please create a new Slack app registration and carefully document each of the steps you take and see if you still get the same problem, then post the steps here for me to follow.

[2021-01-29 18:58] NithinVangala opened #3059 "Consent option is not showing in mobile devices(Android and IOS)"
GitHub Link : https://github.com/microsoft/BotBuilder-Samples/tree/main/experimental/teams-sso/csharp_dotnetcore

[Solution Used](https://github.com/microsoft/BotBuilder-Samples/tree/main/experimental/teams-sso/csharp_dotnetcore)
[Documentation Followed](https://docs.microsoft.com/en-us/microsoftteams/platform/bots/how-to/authentication/auth-aad-sso-bots)

The steps given in the documentation work

[2021-01-31 18:39] Mikhail2k15 commented on #3059
1)	UX on mobile (IOS in my case) is very bad. User can see only “Accept” button. There are not message and cancel button.

![image](https://user-images.githubusercontent.com/11201670/106394248-aaa11280-640c-11eb-920d-ba7152e1c9e4.png)

2)	If a user hits Accept button on IOS nothing will happen.
3)	If a bot requests permissions from a desktop and a user doesn’t answer accept/cancel user will be blo

[2021-01-31 23:11] RonnieQuan commented on #3034
@jwiley84 Any update? Appreciate your help, thanks.

[2021-02-01 19:02] jwiley84 commented on #3032
Closing due to inactivity

[2021-02-01 19:02] #3032 closed

[2021-02-02 00:32] v-kydela commented on #3044
@Harshul9089 - Are you still working on this?

[2021-02-02 05:49] Harshul9089 commented on #3044
@v-kydela Yes, let me get back to you after performing Slack registration steps from scratch.

[2021-02-02 16:13] mattlavallee commented on #2879
@clearab - has this actually been fixed? Using Teams build version 1.4.00.2879 this still appears to be an issue

[2021-02-02 17:55] clearab commented on #3059
Thank you for letting us know, we're engaging with the Team that owns the mobile client. I will update again when we have more information.

[2021-02-02 18:29] Wajeed-msft commented on #3059
@clearab , @NithinVangala - Copied this to Teams repo for tracking: https://github.com/MicrosoftDocs/msteams-docs/issues/2723

[2021-02-02 18:50] clearab commented on #3059
Thanks @Wajeed-msft! @NithinVangala I'm going to go ahead and close this issue, please follow the one above for further updates.

[2021-02-02 18:50] #3059 closed

[2021-02-03 02:57] chrimc62 opened #3063 "Convert datetimeV2 results to date, date-time, time or duration formats"
The specific JSON schema formats are in a particular format and we need to add the logic to validate and convert datetimeV2 into those forms.
Date:    "$comment": "TODO: We need to convert to YYYY-MM-DD https://tools.ietf.org/html/rfc3339#appendix-A",
"Dec 24th, 2012" -> 2012-12-24

Date-time:         "$comment": "TODO: We need to convert to YYYY-MM-DDTHH:MM:SS[.FS] https://tools.ietf.org/html/rfc

[2021-02-03 11:12] Harshul9089 commented on #3044
Hi @v-kydela , I appreciate your patience, Thank you for the help, now the interactive messages are getting displayed. What I understood is the last steps where we need to change Redirect Url and Request Url of **Oauth & Permissions** and **Event Subscriptions** respectively after creating ngrok tunnel were not performed which was causing the issue.

[2021-02-03 14:23] Trinetra-MSFT commented on #2988
Hi @clearab ,
I would like to tell you that I have integrated following changes in existing sample.
1. Authentication in ME for Action command
2. Authentication in ME Link Unfurling

I've done this for following language as of now.
`C#`
`JavaScript/Node JS`

[2021-02-03 17:18] gabog commented on #2312
We've done the groundwork to validate that we can effectively send proactive messages from a skill as part of our Functional Tests effort.

The sample is in [Fn tests repo](https://github.com/microsoft/BotFramework-FunctionalTests). The [WaterfallHost](https://github.com/microsoft/BotFramework-FunctionalTests/tree/main/Bots/DotNet/Consumers/CodeFirst/WaterfallHostBot) can talk to the [WaterfallSki

[2021-02-03 20:14] johnataylor opened #3099 "Remove trusted service url comment in code snippet in proactive docs"
The [article](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-howto-proactive-message?view=azure-bot-service-4.0&tabs=csharp#avoiding-401-unauthorized-errors) contains a code snippet with the following comments. These comments should be removed.

[code]

Work is in [microsoftDocs/bot-docs-pr PR 2593](https://github.com/MicrosoftDocs/bot-docs-pr/pull/2593)

[2021-02-03 20:35] clearab commented on #2879
@mattlavallee - Thanks for bringing this to my attention, I'm confirming with the product team on the status.

[2021-02-04 09:43] Trinetra-MSFT commented on #3027
Hi @EricDahlvang
yes it was related to an issue raised over here: [https://github.com/microsoft/BotBuilder-Samples/issues/2988](https://github.com/microsoft/BotBuilder-Samples/issues/2988), This is now completed for C#, JavaScript

[2021-02-04 18:17] v-kydela commented on #3044
@Harshul9089 - That's very strange. You had said the if block was getting executed when you stepped through your code, which implies that the Slack messages were reaching your bot successfully. If your URL's weren't configured in the Slack app registration then your bot never should have gotten any messages. Did you actually try stepping through the code, or when you said the if block was getting

[2021-02-04 19:22] jwiley84 commented on #3028
@dmvtech Can you take a look at this?

[2021-02-04 19:40] srinaath commented on #2878
Closing for inactivity.

[2021-02-04 19:40] #2878 closed

[2021-02-04 19:46] jwiley84 commented on #2997
I'll get this fixed and closed today

[2021-02-04 19:48] #2977 closed

[2021-02-04 20:27] srinaath commented on #2959
@mrivera-ms Could you take a look at  this ticket?

[2021-02-05 00:25] mrivera-ms opened #3065 "Samples E2E Tests failing with NuGet error"
All E2E tests need to be updated according to the new security guidelines.

[2021-02-05 03:27] chrimc62 opened #3066 "Improve merging for generated LU files"
We need to improve merging for LU files.  To do this:
1) We should import a file custom.lu where people can put new utterances.
2) To delete an utterance in a generated file they should comment out the utterance.  To modify they would add the new label to custom utterances after deleting.

When we regenerate we would:
1) Overwrite everything in the generated LU files unless an unlabeled utterance

[2021-02-05 08:29] Harshul9089 commented on #3044
@v-kydela- We kept Azure bot published URL instead of ngrok URL in above fields (Oauth & Permissions and Event Subscriptions) , and then in Azure bot, we kept ngrok URL in order to get all messages redirected to the solution.

[2021-02-05 14:33] anumoluharish commented on #3065
Hi @mrivera-ms

Can you please approve the PR https://github.com/microsoft/BotBuilder-Samples/pull/3067

Thanks
Harish

[2021-02-05 18:04] harish0404 opened #3068 "Restore of nuget packages failing in BotBuilder-RunBot-DotNet-CI-PR"
Samples E2E tests failing with NuGet Error it is because of the new security guidelines. So we updated the Samples tests with new Security guidelines and after changes all tests are running good but BotBuilder-RunBot-DotNet-CI-PR test are failing.  Please see the below  error.

##[error]The nuget command failed with exit code(1) and error(NU1102: Unable to find package Microsoft.Bot.Builder.Integr

[2021-02-05 18:05] harish0404 opened #3069 "DotNet tests failing for Sample-Js-CoreBot-Linux-Test"
Please see the below error details.

##[error]Error: The process 'C:\Program Files\dotnet\dotnet.exe' failed with exit code 1
Result Attachments will be stored in LogStore
Run Attachments will be stored in LogStore
##[warning].NET 5 has some compatibility issues with older Nuget versions(<=5.7), so if you are using an older Nuget version(and not dotnet cli) to restore, then the dotnet cli commands

[2021-02-05 18:34] v-kydela commented on #3044
@Harshul9089 - Well that doesn't answer my question, but it sounds like your issue has been resolved so I'll go ahead and close it

[2021-02-05 18:34] #3044 closed

[2021-02-05 23:44] biza-rsa opened #3070 "Me"
🚨 The issue tracker is not for questions 🚨

If you have a question, please ask it on https://stackoverflow.com/questions/tagged/botframework

[question]

[2021-02-08 16:15] mattlavallee commented on #2879
Hi @clearab - have you heard back from the product team regarding this issue?

[2021-02-08 19:15] jwiley84 commented on #3045
Closing due to inactivity.

[2021-02-08 19:15] #3045 closed

[2021-02-08 19:16] jwiley84 commented on #3034
Hi @RonnieQuan I"ll get you an update shortly

[2021-02-08 19:18] #3070 closed

[2021-02-08 19:42] #2548 closed

[2021-02-08 19:43] #2523 closed

[2021-02-09 18:44] Virtual-Josh commented on #3068
@mrivera-ms is this something you should at?

[2021-02-09 21:31] Ronnie-personal commented on #3034
@jwiley84  Thank you! Any update?

[2021-02-10 04:35] chrimc62 opened #3075 "An existing LU file should be the source for enumeration phrases"
If there is an existing LU file, then we should use the list definition there to pick up the possible enumeration values.  This will probably require some changes to the generator.

[2021-02-10 18:24] mdrichardson commented on #2980
@gabog I can't remember where we're sitting on this. Should it be pushed off R12?

[2021-02-11 22:42] mdrichardson opened #3080 "DirectLineClientTests are failing in DevOps"
[See here for DevOps output](https://fuselabs.visualstudio.com/SDK_v4/_build/results?buildId=212859&view=logs&j=275f1d19-1bd8-5591-b06b-07d489ea915a&t=673ac034-da4f-5a0d-7b16-cdbfae2351c9&l=64)

The test seems to look at the wrong activity when making the assert. I believe the issue is in [this method](https://github.com/microsoft/BotBuilder-Samples/blob/main/samples/csharp_dotnetcore/tests/Sample

[2021-02-12 09:11] HesselWellema opened #3081 "UnhandledPromiseRejectionWarning in 57.teams-conversation-bot (NodeJS)"
The methods onReactionsRemoved and onReactionsAdded do what they are supposed to do but also give an error in the console if you add or remove a reaction:

`(node:26860) UnhandledPromiseRejectionWarning: TypeError: Cannot perform 'set' on a proxy that has been revokedat D:\home\site\wwwroot\node_modules\botbuilder-core\lib\turnContext.js:366:40at processTicksAndRejections (internal/process/task_qu

[2021-02-12 17:48] tsuwandy opened #3083 "Orchestrator Dispatch NLR sample readme needs link to Orchestrator Dispatch Migration doc"

[2021-02-12 18:36] Virtual-Josh commented on #3081
Hey @joshgummersall or @stevengum  can one of you take a look at this?

[2021-02-14 19:30] Virtual-Josh commented on #3081
There's a PR that will close this issue once merged.

[2021-02-16 07:54] Krishna-chinthireddy commented on #2553
HI Team,

i was facing the issue related to this thread again now but somewhat differ

Issue Description:-
if my bot has a response with single button it is working has expected but i am facing issue when the bot response has multiple buttons.

[2021-02-16 17:54] clearab opened #3085 "Clean "Workday" from AC Tabs sample"
Need to cleanup "workday" from the sample, and make this more generic.

[2021-02-16 21:31] mattlavallee commented on #2879
@clearab - Just wanted to provide you with a bit more information here. I am currently on Microsoft Teams v1.4.00.3484 (64-bit)

I am using some test code that is almost identical to [Sample 50](https://github.com/microsoft/BotBuilder-Samples/blob/main/samples/javascript_nodejs/50.teams-messaging-extensions-search/bots/teamsMessagingExtensionsSearchBot.js)

[code]

I've set up breakpoints in many

[2021-02-17 00:50] clearab commented on #2879
Hi - I've spoken with the product team and they believed the fix had been implemented and published. I'll try and get a repro this evening so I can continue pushing.

[2021-02-17 02:18] clearab commented on #2879
I was able to use this sample and get the selectItem event to fire on both the Windows desktop client and the web browser client. I've tried from 1:1 chats, group chats, and both the "reply" and "New Conversation" options in a channel.

If you check your ngrok logs, you should be able to see the event
![image](https://user-images.githubusercontent.com/1139814/108146758-9acb3480-7082-11eb-8dfc-52f5

[2021-02-17 17:00] mattlavallee commented on #2879
@clearab - thank you for taking the time to investigate this with me. I was able to run two more scenarios on my corporate environment and am able to narrow the issue down to something in our environment.
I was able to run this sample and can confirm that I see it working. We can close this issue out again

[2021-02-17 17:55] jwiley84 commented on #3034
@Ronnie-personal Apologies for the delay.  I am unable to repro this:
![image](https://user-images.githubusercontent.com/17333688/108246299-220dbc00-7106-11eb-8ee8-2ef9b9054506.png)

I will read over the cloudjourney doc you linked and make sure there's not a step missing.

[2021-02-17 19:25] compulim commented on #2959
@mrivera-ms @stevengum can you advise who should handle this ticket?

[2021-02-17 22:18] mmiele commented on #2811
@johnataylor @gabog Could you please let the documentation team know when the sample is ready so the related documentation can be updated? Thanks

[2021-02-17 23:17] #3080 closed

[2021-02-18 00:42] clearab commented on #2879
Awesome, glad it is working!

[2021-02-18 01:04] #3083 closed

[2021-02-18 19:14] compulim commented on #2997
Looks like this is fixed with the PR merged.

[2021-02-18 19:14] #2997 closed

[2021-02-18 19:42] JonathanFingold opened #3091 "Skill bot should create eoc as an activity, as IEndOfConversation doesn't have a Value property"
## Sample information
1. Sample type: [samples]
2. Sample language: [dotnetcore]
3. Sample name: 80.skills-simple-bot-to-bot/EchoSkillBot (probably in sample 81, too)

## Describe the bug
With the current code, need to jump through hoops to set the `Value` property on the end of conversation activity. This is an issue because we tell developers to use the `Value` property as return value when the

[2021-02-19 18:16] scheyal opened #3092 "Replace/augment recognizer for selected samples with Orchestrator (e.g. dispatch)"
We need to revisit samples for Orchestrator GA timeframe (end of R13) and consider which/how to introduce Orchestrator to samples.

For example, consider candidates for replacing the following to use Orchestrator recognizer:
* 14.NLP with Dispatch to use Orchestrator
* 17. Multilingual bot --> Add a multilingual orchestrator dispatcher?
*  80 Skills - simple bot to bot
* 81 Skills - skill dialog

[2021-02-23 18:59] jwiley84 commented on #3034
There doesn't seem to be anything missinng in your tutorial, so I'm going to reach out to the author of that sample, see  what's going on.

[2021-02-23 21:45] mmiele commented on #2811
@johnataylor This issue is not a documentation issue per se. Would you mind to flag it as a such and then let the documentation team know when the samples are ready. At that time team will create a PR to update the related articles. Thanks

[2021-02-24 16:11] Dragos04 opened #3097 "Cross-train config is outdate in samples which caused doesn't recognize the route error"
## Versions
@microsoft/botframework-cli/4.11.1

## Describe the bug
command : bf luis:cross-train --in . --out ../generated --config DialogLuHierarchy.config.json

my config json:
{
  ".\\RootDialog\\RootDialog.lu": {
    "rootDialog": true,
    "triggers": {
      "AddItem": ".\\AddToDoDialog\\AddToDoDialog.lu",
      "DeleteItem": ".\\DeleteToDoDialog\\DeleteToDoDialog.lu",
      "ViewItem": ".\

[2021-02-25 01:48] stevkan commented on #3028
@csnarain, thank you for your patience. A couple basic questions for you:

- Are you receiving any error messages that you can post?
- Are you certain you are adding the MSAppId's as strings into the `AllowedCallers` array found in the project's settings (ref. [here](https://docs.microsoft.com/en-us/composer/how-to-connect-to-a-skill#set-configurations-in-a-consumer-bot)).

[2021-02-25 08:56] feich-ms commented on #3097
Transferred from botframework-cli repo since we need to update the config in all samples to align with the latest botframework-cli.

[2021-02-26 17:16] #3097 closed

[2021-02-26 17:16] #3099 closed

[2021-02-26 20:26] congysu commented on #2553
@v-kydela @youyu16 can you please take a look at this one?  Thanks.

[2021-02-26 21:31] v-kydela commented on #2553
@Krishna-chinthireddy - I don't think it's appropriate to reopen this issue because it sounds like you're facing a new issue. If you believe this is a Slack adapter but then you can raise the bug in the [.NET](https://github.com/microsoft/botbuilder-dotnet/issues) repo, if you believe this is a Slack connector bug then you can raise the bug in the [services](https://github.com/microsoft/BotFramewo

[2021-02-26 21:31] #2553 closed

[2021-02-27 19:06] thdotnet opened #3103 "ConversationState not saving the contents"
I'm following the sample:

https://github.com/microsoft/BotBuilder-Samples/blob/main/samples/csharp_dotnetcore/13.core-bot/Bots/DialogBot.cs

Whenever I'm trying to save userState / conversationState inside OnTurnAsync, it seems that it's not getting the values but using a "ToString()" on the properties. If I check the created file, it has the following content:

[code]

I'm using the following pa

[2021-03-01 19:19] v-kydela commented on #3103
Thank you for the question, @thdotnet

It sounds like you're saying your blob storage isn't saving data the way you expect it to. Can you show us what your expected behavior is?

[2021-03-01 20:27] chrimc62 opened #3105 "Publish QuotedString recognizer in C# SDK"
Quoted strings are a nice way to allow the user to be explicit about the boundaries of open-ended entities.  Tom has a private quoted string recognizer published here: https://github.com/tomlm/iciclecreek.bot/tree/master/source/Libraries/Iciclecreek.Bot.Builder.Dialogs.Recognizers
We should pull out the recognizer and add it to the SDK recognizers.

[2021-03-01 20:29] chrimc62 opened #3106 "Add quoted recognizer to string generation"
Wire up the Quoted entity recognizer to the string and recognizer templates.  This is dependent on #3105 .

[2021-03-03 17:32] stevkan commented on #3028
Closing due to lack of activity.

[2021-03-03 17:32] #3028 closed

[2021-03-03 18:24] v-kydela commented on #3103
@thdotnet - Are you still working on this?

[2021-03-03 23:11] mgmccarthy opened #3108 "Port expiermental/handoff-library to Adaptive Dialogs"

[2021-03-04 14:59] thdotnet commented on #3103
I think it was a mistake on my side. The content it's saving if for persist the state of the objects, not really the dialog as I was thinking. Thanks for the help anyway

[2021-03-04 14:59] #3103 closed

[2021-03-04 16:57] JonathanFingold commented on #3091
After talking to Srinaath and TJ, it looks like the **end dialog** action in the skill does generate an `endOfConversation` activity, and there is a way to set the generated activity value property. There doesn't seem to be a way to set the generated activity code property, however.

[2021-03-04 19:42] stevengum commented on #2959
Sorry about the delay, I dropped the ball on this... I'm putting together a proposal for cleaning up the QnAMakerDialog and the sample. I'll update this ticket ASAP once the proposal is done.

[2021-03-05 09:33] Divine1 opened #3111 "unable to send messages from a channel within a Team using Microsoft Teams."
i have created a bot by following the[ steps mentioned here](https://docs.microsoft.com/en-us/microsoftteams/platform/build-your-first-app/build-bot).

The language i use is nodejs

iam able to chat directly with the bot and fetch the messages sent from chat in the nodejsproject.

The difficulty i'm facing is that , i'm unable to send messages from a channel within a Team using Microsoft Teams.
Ho

[2021-03-05 18:32] tsuwandy opened #3112 "Update Orchestrator sample projects to point to final 4.12.0 version"

[2021-03-05 18:39] stevkan commented on #3111
The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/microsoft/botframework-sdk/) repo is the preferred platform for information on submitting **bug fixes** and **feature requests**.

Stack Overflow tags to consider: botframework, microsoft-teams

[2021-03-05 18:39] #3111 closed

[2021-03-05 19:05] stevkan commented on #3028
Closed due to lack of activity.

[2021-03-08 18:08] #3005 closed

[2021-03-09 17:42] EricDahlvang commented on #3034
Hi @Ronnie-personal

Are you still having issues with this sample?

[2021-03-09 17:48] Ronnie-personal commented on #3034
Yes, same issue,  when you say you not able to reproduce the error, did you use the code from here
https://github.com/microsoft/BotBuilder-Samples/tree/main/experimental/teams-sso/csharp_dotnetcore

[2021-03-09 18:20] EricDahlvang commented on #3034
It looks like a bug was fixed in this code on on Jan 19.  Which is the same day this issue (3034) was opened.  Have you tried the code with that fix?

[2021-03-09 18:32] EricDahlvang commented on #3034
Are you able to debug locally, and step through the code?

[2021-03-09 18:45] Ronnie-personal commented on #3034
I don't know how to debug SSO, since it requires to login to the teams
The test I'm done is to deploy the code, and add the bot to teams, then logon to teams, then use the bot via teams, it does not show the show token dialog when I chat from teams

[2021-03-09 22:44] chrimc62 opened #3115 "Update samples to support package prefixes for ids"
This issue describes the SDK changes to support package prefixes like `MyPackage#CoolStuff.en-us.lg` in resource ids for dialog, LU, QNA and LG files including a new `import` statement.  https://github.com/microsoft/botbuilder-dotnet/issues/5298

We need to update samples that depend on packages to use the new syntax for package ids in dialog files and the import syntax in LG/LU/QnA files.

[2021-03-10 18:07] #3081 closed

[2021-03-11 00:42] chrimc62 opened #3117 "Correctly handle turn.activityProcessed"
If turn.activityProcessed = true and we are called from a flow we will display the intro.
If turn.activityProcessed = false we will display the intro and emit the event to reprocess the activity in the form.
This will allow us to handle both the flow case and the dispatch case properly.

[2021-03-11 18:04] EricDahlvang opened #3118 "Upgrade dotnet samples and generators to 4.12.1"

[2021-03-11 19:05] #3118 closed

[2021-03-11 21:05] EricDahlvang commented on #3034
Hi @Ronnie-personal I'm trying the sample right now also, and running into some issues.  The Teams client does not appear to be returning the "signin/tokenExchange" invoke.

Setting 'EndOnInvalidMessage' will enable exiting the OAuthPrompt when login is not successful:

[code]

I'll investigate more and get back to you.

[2021-03-11 21:57] EricDahlvang commented on #3034
Okay, thanks @tacri for assistance! m

The issue with my bot was related to missing 'token.botframework.com' in the validDomains:

[code]

After adding my botid to each of the required places in the manifest, and re-installing within Teams, sso works and I'm able to view the token:

![image](https://user-images.githubusercontent.com/11055362/110860219-5beb6180-8271-11eb-97a0-5e20672b2558.png)

Whe

[2021-03-12 21:43] arturl commented on #3041
We have no plans currently to port that sample to Node, but will accept community contribution if someone volunteers to do the work.

[2021-03-12 21:43] #3041 closed

[2021-03-13 01:19] EricDahlvang opened #3121 "Add samples and templates for Composer package creation and publishing"
**Is your feature request related to a problem? Please describe.**
Samples with clear guidelines demonstrating how to extend Bot Framework Composer with custom code in nuget and npm packages.

**Describe the solution you'd like**
**Dotnet SDK** [TODO]()
- [ ] PR
- [ ] Merged

**Javascript SDK** [TODO]()
- [ ] PR
- [ ] Merged

[2021-03-13 17:28] Mikhail2k15 opened #3122 "Teams Bot and unit tests sample"
I try to use https://github.com/microsoft/BotBuilder-Samples/blob/main/samples/csharp_dotnetcore/13.core-bot.tests/Bots/DialogAndWelcomeBotTests.cs for Teams bot when instead of ActivityHandler uses TeamsActivityHandler
and got an exception:
[code]
Any thoughts how to use TestAdapter.ProcessActivityAsync in case of Teams  Bot?

[2021-03-16 09:22] bharangit commented on #1758
@peterservisbot i am facing exactly same issue as yours when debugging bot from vs code, ng rok, teams channel.. looks like it was solved as part of bot framework.. i am using bot-builder 4.9.2 node package version.. could you pls help what you had to do to resolve..thank you

[2021-03-16 15:02] jwiley84 commented on #3122
Just for clarification,  you're altering the ActvityHandler to 'TeamsAcitivtyHandler' as if this were a teams bot, correct? I want to make sure I'm attemtping a repro of your issue correctly.

[2021-03-16 17:28] EricDahlvang commented on #3034
Hi @Ronnie-personal

Have you been able to work passed the issues with Teams SSO?

[2021-03-16 18:49] Ronnie-personal commented on #3034
@EricDahlvang  Thank you so much for checking in, I'm in my work environment now, I will have to test after hours or during weekend using my personal Azure subscriptions.
Please give me a little bit time, I plan to test it out this weekend, I will keep you posted!
Please keep this ticket open, and will get back to you soon.

[2021-03-17 01:38] #3117 closed

[2021-03-17 01:39] chrimc62 commented on #3117
Fixed by PR #3123

[2021-03-17 01:41] #2807 closed

[2021-03-17 01:41] #2868 closed

[2021-03-17 01:41] #2923 closed

[2021-03-17 01:41] #2953 closed

[2021-03-17 01:41] #3017 closed

[2021-03-17 01:41] #3018 closed

[2021-03-17 01:41] #3057 closed

[2021-03-17 11:01] Mikhail2k15 commented on #3122
@jwiley84 yes.

[2021-03-17 16:30] #3066 closed

[2021-03-17 18:07] TracyGH opened #3127 "csharp_dotnetcore > 51.teams-messaging-extensions-action: Manifest parsing has failed"
## Sample information
BotBuilder-Samples/samples/csharp_dotnetcore/51.teams-messaging-extensions-action/

## Describe the bug
I have followed the [Read.me instructions](https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/csharp_dotnetcore/51.teams-messaging-extensions-action), word for word.  When I get to Step 6, the 3rd action fails with "Manifest parsing has failed."

## To Reprod

[2021-03-17 18:48] #3127 closed

[2021-03-18 00:07] EricDahlvang opened #3128 "Teams Adaptive Card Tabs Sample"
- Change Tab cards

- Ensure Tabs render correctly on mobile. (Admin Dashboard card on the Home tab doesn't render well on mobile due to the columns being used to right-align the buttons.)

- Update the Logout button once Anoop's fix goes in to adhere to the "auth" response when an action.submit is sent.

- Ensure Task Module dialog size is set correct? (More > More Actions > Advanced)

![image](h

[2021-03-18 08:06] AlexanderTodorovic opened #3129 "02.echo-bot - cannot start"
Dear All,
as described here [](https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/csharp_dotnetcore/02.echo-bot)
I've ran `git clone https://github.com/Microsoft/botbuilder-samples.git`

Unfortunately the 02.echo-bot runs into an error as two packages are missing
![image](https://user-images.githubusercontent.com/7408389/111592131-b5bcd000-880b-11eb-9700-3731f626acde.png)

[question

[2021-03-18 16:15] alexbprofit commented on #2977
![image](https://user-images.githubusercontent.com/57172679/111658922-785d4000-8815-11eb-9654-2275c6452100.png)
![image](https://user-images.githubusercontent.com/57172679/111658976-8317d500-8815-11eb-95eb-e888ba7cda01.png)
![image](https://user-images.githubusercontent.com/57172679/111659128-a478c100-8815-11eb-8f28-19653a6206fb.png)
![image](https://user-images.githubusercontent.com/57172679/1116

[2021-03-18 16:16] alexbprofit commented on #2977
pip 19.2.3
python 3.8.5 with Conda environment
windows 10 x64

[2021-03-19 01:26] #3036 closed

[2021-03-19 01:59] chrimc62 opened #3132 "Support DynamicList templates as part of standard schema"
LUIS recognizers support the ability to define dynamic lists that are passed in at runtime.  To do this your LUIS model needs to have a place holder entity which is statically populated at training time and dynamically populated at runtime.  The LUIS recognizer would look like:
"recognizer": {
            "$kind": "Microsoft.LuisRecognizer",
            "applicationId": "=settings.luis.DynamicList

[2021-03-19 02:06] chrimc62 opened #3133 "Nuget package with Lucene DynamicList and templates"
Goals of this item:
1) Show people how to wire up external recognizers.
2) Figure out how to package up code and template extensions into a nuget package.
3) Expose dynamic lists with fuzzy matching.

We want a standalone nuget package that includes both the Lucene DynamicList recognizer and the templates to add a new schema to the template generation that is part of the nuget package.  This build

[2021-03-19 07:18] neethumoltp opened #3134 "Failed to find attribute 'app' in 'app"
Im trying to deploy echo bit from python sample bot using Visual studio code and getting below error. please help.

Failed to find attribute 'app' in 'app

2021-03-18T15:02:46.722038304Z [2021-03-18 15:02:46 +0000] [40] [INFO] Starting gunicorn 20.0.4
2021-03-18T15:02:46.728466146Z [2021-03-18 15:02:46 +0000] [40] [INFO] Listening at: http://0.0.0.0:8000 (40)
2021-03-18T15:02:46.756170290Z [2021-0

[2021-03-19 16:18] v-kydela commented on #3134
Thanks for the report, @neethumoltp

I'd like to help. Can you please provide the link to the sample you're talking about and some numbered steps to reproduce the problem? Thank you

[2021-03-19 16:34] thdotnet opened #3135 "human handoff - steps to reproduce"
Hi,

i'm trying to implement/test human handoff. I've tried to follow the sample: https://github.com/microsoft/BotBuilder-Samples/tree/main/experimental/handoff-library but it's not clear to me how to join a person to the chat for the handoff part. Could you please provide steps on how to do it?

[2021-03-19 23:12] Krukovich opened #3136 "MS Teams adaptive card “heroCard” not work on mobile"
I`m creating bot for MS Teams and using **JS Microsoft Bot Framework V4 SDK**. In my work, I use search message extension and to work with it, I implemented the **onSelectItem** method that returns a adaptive card. I will give an example of the code below.
[code]
Where I pass undefined, this should be the path to the picture, but in my implementation I don't need it. So and this code works great i

[2021-03-20 14:51] Ronnie-personal commented on #3034
@EricDahlvang  Yes, I use this Manifest https://github.com/microsoft/BotBuilder-Samples/blob/main/experimental/teams-sso/csharp_dotnetcore/TeamsAppManifest/manifest.json, and I have the exact two domains.

Can you please confirm if you have  "/test" in the resource?

  "webApplicationInfo": {
    "id": "<<aad-app-clientid>>",
    "resource": "api://botid-<<YOUR-MICROSOFT-APP-ID>>/test"
  },

[2021-03-20 17:11] Ronnie-personal commented on #3034
This is what I got, it does not show the login card
![image](https://user-images.githubusercontent.com/76408835/111878228-b83f3700-897d-11eb-9ff8-7474a1d2da8f.png)

[2021-03-20 19:27] Ronnie-personal commented on #3034
@EricDahlvang   Could you please explain the note from https://docs.microsoft.com/en-us/microsoftteams/platform/bots/how-to/authentication/auth-aad-sso-bots#register-your-app-through-the-aad-portal?

    Your application's domain name must be same as the domain name that you have registered for your AAD application.
     Applications that use the azurewebsites.net domain are not supported because

[2021-03-21 03:35] jwiley84 commented on #3136
Closing as a duplicate of https://stackoverflow.com/questions/66716626/ms-teams-adaptive-card-herocard-not-work-on-mobile

[2021-03-21 03:35] #3136 closed

[2021-03-22 03:56] daveta commented on #3135
@thdotnet : FYI, experimental is preview and not production.

[2021-03-22 09:03] neethumoltp commented on #3134
1. Download sample bot from https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/python/02.echo-bot
2. Open Visual Studio Code with code and deploy using Azure extension.
   -install Azure account, Azure app service and Azure CLI tools extension.
   - Once sign-in to Azure portal from VS code ,Click on upload and select the echo-bot folder.
   -  Select an existing webapp or create a

[2021-03-22 14:12] thdotnet commented on #3135
thanks @daveta , ready or not, I would like to run / test the sample

[2021-03-22 20:31] arturl commented on #3135
Hi @thdotnet, you need to first decide what agent hub you want to use. We have examples for Microsoft Omnichannel and LivePerson, and others have integrated with other providers (ServiceNow, RingCenhtral etc.). Can you share more detail about what you want to build?

[2021-03-23 15:36] thdotnet commented on #3135
hi @arturl , I'm interest in the hand off to human. The read.me doesn't teach how to "simulate" the human part. If I need to use ngrok or something else to send messages to the bot and it will route the conversation. Can you provide more details about how to run it?

[2021-03-23 15:57] jwiley84 commented on #3129
Apologies for the delay. Have you tried installing via the nuget package manager? As you can see on https://github.com/microsoft/BotBuilder-Samples/blob/main/samples/csharp_dotnetcore/02.echo-bot/EchoBot.csproj,
[code]

the packages are included.

[2021-03-23 16:37] #3065 closed

[2021-03-23 18:28] clearab opened #3137 "Teams ME sample scope"
The Graph scopes required for the Teams ME sample need to only require personal scoped permissions, rather than application. Sample scenario needs to be reworked.

[2021-03-23 19:44] arturl commented on #3135
@thdotnet, the decision to escalate to an agent is done by the bot based on the user input. For testing, you can add a condition (an `if` statement in the bot) that hands off the conversation if the user said "agent". From that point, the bot generates a handoff event and sends it back. Some channels "understand" it and implement the actual handoff. In other cases -- this is what you see in our sa

[2021-03-23 21:54] thdotnet commented on #3135
Partially, yes. But here's the question / confuse part. Let's say that I have a system (CRM). I will create a chat over there so agents can start to reply to end users rather than the bot. I assume, there will be some websocket endpoint to pass the messages from agent <-> end user and vice versa. Am I correct? Where is this websocket endpoint? Is there a specific payload I should use or just plain

[2021-03-23 22:33] arturl commented on #3135
That depends on the agent system. The ones that I'm familiar with all use HTTP.
The logic from the middleware point of view is: for every new user message that comes in, does it belong to a conversation escalated to an agent? If yes, forward it to the agent. If not, pass it through to the bot an let it answer it. Messages from the agent also land in the bot (the bot has a special controller for th

[2021-03-23 23:39] AlexanderTodorovic commented on #3129
@jwiley84 Yes I did. As you can see in my first post I've used `Install-Package`. [Quickstart: Install and use a package in Visual Studio](https://docs.microsoft.com/en-us/nuget/quickstart/install-and-use-a-package-in-visual-studio)

Anyway I run today again `git clone https://github.com/Microsoft/BotBuilder-Samples` . The version of last week has changed and it works fine now.

Thank you.

[2021-03-23 23:39] #3129 closed

[2021-03-24 13:55] thdotnet commented on #3135
Exactly, but where's the HTTP endpoint where the agent chat will POST data to the bot? That's not clear to me. There should be an ID or header I need to include into the request, otherwise, how it will know if it's a message to the bot or a message scalated to human?

[2021-03-24 17:03] jwiley84 commented on #3122
Thank you. Let me reach  out to the author of this sample; it's possible this sample wasn't created to handle teams classes and methods. Thank  you for  your patience

[2021-03-24 17:53] arturl commented on #3135
@thdotnet, that HTTP endpoint can be added to the bot as another controller and an endpoint within an existing controller. In the LivePerson sample, the endpoint is part of the LivePersonConnector library, see here: https://github.com/microsoft/BotBuilder-Samples/blob/main/experimental/handoff-library/csharp_dotnetcore/samples/LivePersonConnector/LivePersonController.cs#L24

As you can see a few l

[2021-03-24 18:11] carlosscastro commented on #2959
Hello @stevengum  -- are we including this proposal in R13? Or R14? Lets get the item in the right milestone

[2021-03-24 18:25] thdotnet commented on #3135
thanks for the replies @arturl . I have a better understanding about how this works now. I understand it's "experimental", but I think it would be good some info on read.me explaining what we've discussed in here. There are a few options under experimental forlder but no information about how to run then (besides what it's on this thread).

If I could suggest something, it would be a simple chat w

[2021-03-24 18:50] TracyGH opened #3140 "C# Messaging Extension Action: "Unable to reach app. Please try again.""
## Sample information
https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/csharp_dotnetcore/51.teams-messaging-extensions-action

## Describe the bug
After following [the instructions](https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/csharp_dotnetcore/51.teams-messaging-extensions-action) exactly, I receive the following message when trying any of the commands (creat

[2021-03-24 19:11] arturl commented on #3135
Thanks @thdotnet! I'll keep you feedback in mind for the next update of the handoff doc. Also, if you see any obvious gaps in the documentation feel free to submit a PR.

[2021-03-24 19:11] #3135 closed

[2021-03-25 17:21] jwiley84 commented on #3140
Hi @TracyGH !!

This error typically happens with a appID/password mismatch. Can you confirm that they're correct, and can post what HTTP code ngrok is displaying?

[2021-03-25 18:43] TracyGH commented on #3140
Thanks so much for getting back to me, @jwiley84!
I was able to get the FetchRoster and Share Message actions to function correctly.  However, the Create Card code is returning that 'Unable to reach app.  Please try again.' message.

Below is what I'm seeing as far as local variable values from a breakpoint on line 55 of _Bots > TeamsMessagingExtensionsActionBot.cs._   Any thoughts?

![image](http

[2021-03-25 18:48] TracyGH commented on #3140
Also, I think the Create Card actions are returning a 502 in ngrok, while the other actions are 200.

![image](https://user-images.githubusercontent.com/38665906/112527111-eba80a00-8d5f-11eb-84da-fd85c55eb438.png)

[2021-03-25 19:25] karolh2000 commented on #2574
@troykirin  Hi Troy,  Could you provide more info about how you fixed this problem? Basically, I struggle with the same problem and am not able to use Task Modules because of it. What resource is shown on the screen shot?

[2021-03-25 22:15] vikramhn opened #3142 "Getting a schema validation error for liveperson thirdpartybots integration when transferring to agent"
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues) / [Java](https://github.com/Microsoft/botbuilder-java/issues)/ [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for genera

[2021-03-26 18:37] TracyGH commented on #3140
Hm, I tried it again this morning and now it's working fine.  I did have a firmware update last night and had to restart my machine, not sure if that made a difference.
I'll close this out - thanks again for your help @jwiley84!

[2021-03-26 18:37] #3140 closed

[2021-03-28 02:11] stevengum opened #3143 "Cleanup csharp_dotnetcore/49.qnamaker-all-features"
## Sample information
[csharp_dotnetcore/49.qnamaker-all-features](https://github.com/microsoft/BotBuilder-Samples/blob/c819a27b3d23a909cb106a741f8aad45c6f44a0f/samples/csharp_dotnetcore/49.qnamaker-all-features)

## Tasks
- Cleanup or delete [QnAMakerBaseDialog.cs](https://github.com/microsoft/BotBuilder-Samples/blob/c819a27b3d23a909cb106a741f8aad45c6f44a0f/samples/csharp_dotnetcore/49.qnamaker-a

[2021-03-28 14:15] GaurangNaik opened #3144 "OnTeamsFileConsentAcceptAsync is not getting Fired"
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues) / [Java](https://github.com/Microsoft/botbuilder-java/issues)/ [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for genera

[2021-03-28 23:54] stevengum commented on #2959
@HesselWellema I modified the current sample to address your first two scenarios you [listed](https://github.com/microsoft/BotBuilder-Samples/issues/2959#issuecomment-734723917):

-2 Add the source to the answers given by QNAMaker
-3 Make adjustments to suggestions card

These updated sample can be found on the `stgum/2959/demo` branch ([compare with main](https://github.com/microsoft/BotBuilder-S

[2021-03-29 08:43] HesselWellema commented on #2959
@stevengum. This is exactly  what I needed. Thanks for you help!

[2021-03-29 08:57] HesselWellema commented on #2959
Closing this issue. Thanks for your help all.

[2021-03-29 08:57] #2959 closed

[2021-03-29 19:05] msomanathan commented on #3142
@arturl, Could you please help with triaging this customer issue on Human Handoff scenario?

[2021-03-30 08:16] coldplaying42 commented on #3132
I go through all the codes related to dynamiclist in botbuilder-dotnet. I think the logic as follows:

If options.dynamiclist is not null, it will be added in the query content. The query content with uri will be sent to LUIS server (implemented in the function of RecognizeInternalAsync). Based on my understanding, the data in the dynamiclist will be trained when LUIS server receiving it. When LUI

[2021-03-30 18:15] msomanathan commented on #3144
@GaurangNaik we are working on a major release, so apologies for the delay in getting to this issue. We will respond back with a resolution as soon as we can.

[2021-04-01 19:05] cleemullins commented on #3121
@garypretty We need some PM assistance to define which samples we add.

[2021-04-01 22:09] v-kydela commented on #3134
@neethumoltp - I am so sorry for the delay

Azure is having some problems right now so I can't test deployment at the moment, but the first 7 lines of the output window look like this for me:

[code]

Not only is the information different, but it's formatted differently (only a time instead of a date, etc.) Do you know what might explain the discrepancy? Are you using an older version of the Azure

[2021-04-05 18:15] peterinnesmsft commented on #3144
@jwiley84 can you provide an update on current status when you have a moment? Thank you!

[2021-04-05 18:29] peterinnesmsft commented on #3034
@EricDahlvang can you take a look at the customer questions above and provide a response? Thank you!

[2021-04-06 20:39] v-kydela commented on #3134
@neethumoltp - Are you still working on this?

[2021-04-07 19:11] EricDahlvang commented on #3034
I believe the domain name is not required for sso, unless you are building "an app with a bot and a tab".  I was not aware of the restrictions on azurewebsites.net until now.  I think the publisher domain, and the aad tenant domain must be the same domain.

I think '/test' is not actually required.  The sample instructions should be updated to remove that.  Thank you for bringing this to our atten

[2021-04-07 19:27] arturl commented on #3142
Hi @vikramhn,

First, apologies for the delayed response. What you're trying to accomplish here is integrate a Bot Framework bot into LivePerson using the "bot as an agent" approach, but the sample you're using follows the "bot as a proxy" approach. Mixing the two is causing the issue. Refer to [this](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-design-pattern-handoff-human?view=

[2021-04-08 17:34] manju605 opened #3151 "Use Skills between TwilioWhatsAppAdapter"
### How to send messages between Skills using TwilioWhatsAppAdapter

## Description
Twilio Adapter expects header params x-twilio-signature. How to send it from RootBotApp to SkillBotApp.

## To Reproduce
Steps to reproduce the behavior:
1. Run RootBotApp and SkillAppBot in TwilioWhatsAppAdapter
2. Post to skill from RootBot

[2021-04-08 19:07] tracyboehrer opened #3152 "Update 21.corebot-app-insights to use ConnectionString"
Per Gary:

We have a customer who were experiencing some dropped events from their bot runtime to Application Insights. After investigation and the MS account team engaging with the App Insights, apparently this can happen if you are using the InstrumentationKey and not the Connection String, which the bot runtime currently does.

The new Adaptive Runtime should be updated to use the Connection St

[2021-04-08 20:21] v-kydela commented on #3134
I am closing this issue due to inactivity. We are still happy to provide help if you need any, though it may be a good idea to make a new post if that's the case. Please have a look at [this](https://github.com/microsoft/botframework-sdk#questions-and-help) to find out the best places to ask for help, and consider asking questions on Stack Overflow.

[2021-04-08 20:21] #3134 closed

[2021-04-08 22:32] EricDahlvang opened #3154 "CloudAdapter auth samples should use UserTokenClient"

[2021-04-08 22:41] #3154 closed

[2021-04-09 11:23] krishnadubba opened #3158 "Python Sample 60.slack-adapter is not working"
## Sample information
1. Sample type: [/samples/python/60.slack-adapter/]
2. Sample language: [Python]
3. Sample name: 60.slack-adapter

## Describe the bug
Followed the READ.me to connect the bot in the local server to the Slack app.

In Slack API, Events Subscriptions section, I get the following error when I submit my redirect URL
Request URL: Your URL didn't respond with the value of the chall

[2021-04-09 11:27] #3158 closed

[2021-04-09 21:31] #2617 closed

[2021-04-12 16:16] lauren-mills commented on #3151
@garypretty - Can you comment here or transfer to the appropriate repo?

[2021-04-12 18:23] LeeParrishMSFT opened #3160 "Add Java Sample to Repo"
With the release of the Java SDK the samples and generator code needs to be moved from the SDK repo to the BotBuilder-Samples Repo.

[2021-04-13 13:35] LeeParrishMSFT commented on #3160
Closed after resubmitting PR.

[2021-04-13 13:35] #3160 closed

[2021-04-13 23:29] Ronnie-personal commented on #3034
Appreciate your help so far, what else can be done to show the token? we are using the same code, it shows token for you, but not for me.

Do you have custom domain for your bot web app?

My teams server is personal free version, is it supposed to work?

[2021-04-14 01:36] chrimc62 commented on #3133
1. Define a new component Bot.Builder.Community.Recognizers.LuceneRecognizer in the community repo. https://github.com/BotBuilderCommunity/botbuilder-community-dotnet/tree/develop/libraries
2. Copy over the icicle creek definition.
3. Change the registration to use the new BotComponent architecture.
4. Add the templates required to generate.
5. Publish the packaghe.

The goal would be someone adds

[2021-04-14 18:02] Zerryth commented on #3144
@GaurangNaik Wanted to let you know that I'm now looking into this ticket here.

Though trying to run sample [56.teams-file-upload](https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/csharp_dotnetcore/56.teams-file-upload) myself to try to repro your issue, but I'm having difficulty just getting the app/bot into Teams 😞

<details>
    <summary> Upload Error Screen Shots</summary>

!

[2021-04-14 18:15] carlosscastro opened #3167 "Directline enhanced auth sample: Bring back to experimental and modernize"
The original direcline enhanced authentication sample was deleted but docs link to it so we want to bring it back. However, the sample was outdated and as we bring it back, we'd like to modernize it to use the latest SDK patterns and be consistent with the core SDK samples.

As part of this work, we could consider also improving the sample to use razor for the dotnet consumption example: https://g

[2021-04-14 20:35] Zerryth commented on #3144
Ok, so I managed to reproduce the bug, and it looks like this is an issue with Teams itself--more specifically the desktop client of Teams (as opposed to the web version).

___
### Repro
1. Use sample [56.teams-file-upload](https://github.com/Zerryth/investigations/blob/main/teams-file-upload/teamsFileUpload.gif?raw=true), setting up sideloading the bot to Teams
2. Try talking to the bot via deskt

[2021-04-14 20:36] Zerryth commented on #3144
Also wanted to note that I just updated Teams desktop client to the latest, just in case. Still didn't get any response when clicking `Allow`/`Decline` for file upload

[2021-04-14 22:51] EricDahlvang opened #3169 "AdapterWithErrorHandler ConversationUpdate is not injected in some samples"
Samples have a mostly consistent AdapterWithErrorHandler implementation.  But, some of them do not use ConversationState, so it is not injected.

When the update was made to convert from BotFrameworkHttpAdapter to CloudAdapter, a couple of these constructors were mistakenly updated to remove the default param value for ConversationState

[2021-04-14 23:11] #3169 closed

[2021-04-14 23:51] v-kydela commented on #3122
Hi @Mikhail2k15

The core bot tests directly use the core bot sample. Are you saying you've simply modified the core bot sample to use `TeamsActivityHandler` instead of `ActivityHandler` and without any other modifications the core bot tests are failing?

If so, I cannot reproduce your issue. The core bot tests complete successfully when using `TeamsActivityHandler`:

![image](https://user-images.

[2021-04-15 17:47] chrimc62 opened #3171 "Add transformers to generation"
If you look at a bunch of pieces like min/max, adding dynamic or external recognizers they need to add into an existing dialog/trigger.  So far we have been fixing that by adjusting the raw templates.  The problem is that this makes it hard to extend the functionality without building it all in. To fix this, I would propose we add a new class of templates "transformers".  To define a transformer y

[2021-04-15 18:08] tsuwandy opened #3172 "Update orchestrator sample dependencies to 4.13.0 packages"

[2021-04-15 20:47] tsuwandy opened #3175 "Empty dialog causing issue with Orchestrator SchoolNavigator2 sample"

[2021-04-16 00:34] arturl commented on #3142
Closing for now. @vikramhn, feel free to reopen if you still have questions.

[2021-04-16 00:34] #3142 closed

[2021-04-16 13:11] gabog commented on #3151
Hi @manju605, I am not familiar with the community adapters and samples you are referring to so you may want to post your question in the community repo.

That said, the communication between the root and the skill shouldn't requiere any channel specific headers, it is a plain HTTP call (with auth). The root bot that hosts the adapter is responsible of settings the headers for the channel before s

[2021-04-16 14:20] LeeParrishMSFT opened #3177 "Add .gitignore for Java Samples"
A .gitignore file needs to be added for the Java samples.

[2021-04-16 17:11] #3172 closed

[2021-04-16 18:12] v-kydela commented on #3122
@Mikhail2k15 - Are you still working on this?

[2021-04-17 03:16] Ronnie-personal commented on #3034
Finally it works, I have documented findings in https://cloudjourney.medium.com/teams-bot-single-sign-on-af21ae280e2c

One more question regarding step 5 from https://github.com/microsoft/BotBuilder-Samples/blob/main/experimental/teams-sso/csharp_dotnetcore/SSOSetup.md
Why we need to authorize clients to the application?
1fec8e78-bce4-4aaf-ab1b-5451cc387264 (Teams mobile/desktop application)
5e3ce

[2021-04-19 21:46] tsuwandy opened #3180 "Move Orchestrator samples out of experimental"
Replace existing nlp-with-dispatch (14) in dotnet and js folders with nlp-with-orchestrator samples

[2021-04-19 22:38] mrivera-ms opened #3184 "Upgrade dotnet samples and generators to 4.13.0"

[2021-04-20 16:48] Mikhail2k15 commented on #3122
Thanks for the input. I will try it again with the newer versions of bf packages.

[2021-04-20 20:18] JonathanFingold commented on #2812
See also: https://github.com/microsoft/botframework-components/issues/939

[2021-04-21 18:10] #3132 closed

[2021-04-22 07:45] chris-askbrian opened #3190 "56.teams-file-upload : This item might not exist or is no longer available"
## Sample information
1. Sample type: samples
2. Sample language: nodejs
3. Sample name: 56.teams-file-upload

## Describe the bug
Uploading and everything works and the file is available in the corresponding Application Folder in OneDrive, but you cant open the file in MSTeams which results in a "This item might not exist or is no longer available" message (acctually this depends on which file ty

[2021-04-22 08:41] samoZacc opened #3191 "“No such host is known.” error when publishing bot with LUIS AI to Azure but working fine locally"
I have hosted a bot in Azure and when debugging with ngrok via bot emulator I get an error stating: No such host is known. I’ve had such an experience with the bot before, and it meant that the LUIS AI configuration, specifically the LuisAPIHostName value, was not written in the right format in appsettings.json.

As it turned out, back then when the app wasn’t even hosted, the problem was that I w

[2021-04-22 15:25] Fl4v commented on #3152
Hi @tracyboehrer, kind of a random question. How would the application know the endpoint of the application insight without the connection string? Am I missing something?

[2021-04-22 16:49] Zerryth commented on #3190
@chris-askbrian this is a Teams issue, and not something that we can fix on the Bot Framework Team, unfortunately.

It'd be best if you reached out to the Teams team, which you do via their desktop client app, at the bottom left

*bottom-left > Report a problem*
![image](https://user-images.githubusercontent.com/35248895/115753260-d8349280-a34f-11eb-9763-29ff7f60ffc0.png)

*report a Teams problem

[2021-04-22 16:50] #3190 closed

[2021-04-22 17:12] Zerryth commented on #3144
@GaurangNaik I haven't been able to get an answer from people on the Teams team directly.

It seems like the best way to reach out to the Teams team is to file an issue--looks like one of their pipelines is via their desktop app

*bottom-left > Help > Report a problem*
![image](https://user-images.githubusercontent.com/35248895/115756630-1a130800-a353-11eb-8cbe-d51c88f26cfc.png)

*problem form*
![

[2021-04-22 18:33] clearab commented on #3144
@Wajeed-msft Can you please take a look at this one? Let's see if we can do a bit of a warm hand-off to the Teams group.

[2021-04-23 03:33] dhruv2103 opened #3192 "No module named 'aiohttp' Error while deployment of Bot"
Hi,  I am facing an error while deploying my bot on Microsoft Azure.

I have used [QnA Bot Example](https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/python/11.qnamaker)) and created a QnABot. and I am able to run it successfully on my local. So, as it is working now on my local. I want to publish it on azure. I did follow the steps shown in [Bot Framework SDK Documentation](https:

[2021-04-23 13:21] chris-askbrian commented on #3190
Thanks... unfortunately there is no such option in my ms teams setup (Only a "Give Feedback" option, which does not look like that, eventhou I reported it there)

[2021-04-23 16:49] clearab opened #3260 "Convert existing Composer samples to new runtime"
In order to minimize disruption to the documentation team, and to facilitate moving towards a combined strategy for Composer and SDK samples, we need to convert all of the existing Composer samples to the new runtime:

https://github.com/microsoft/BotFramework-Composer/tree/main/extensions/samples/assets/projects

They should be removed from the code that ships with Composer, and for now put in th

[2021-04-26 13:18] davidefu opened #3194 "Qna active learning not working if update to 4.13"
## Sample information
1. Sample type: \samples\
2. Sample language: dotnetcore
3. Sample name: 49.qnamaker-all-features

## Describe the bug
If update to BotBuilder 4.13.0, active learning not work anymore

## To Reproduce
update bot builder packages to 4.13.0
trigger qna active learning
bot get exception

'turn' does not match memory scopes:[] (Parameter 'key')

[2021-04-26 17:31] Zerryth commented on #3194
I can confirm that I'm also getting the same buggy behavior as @davidefu when I try running sample 49.qnamaker-all-features after bumping package versions to v.4.13.0 😞

![image](https://user-images.githubusercontent.com/35248895/116125340-37f5ab00-a67a-11eb-9239-8042e11e9b30.png)

In comparison, running with v.4.12.2 does not result in any errors when you trigger an active learning prompt

[2021-04-26 18:03] LeeParrishMSFT opened #3196 "Update Java samples to use release dependencies"
Update the Java samples to reference the release Java SDK version 4.13.0 instead of the current 4.13.0-SNAPSHOT version.

[2021-04-26 19:51] davidefu commented on #3194
hi @Zerryth , thanks for your reply
if I have debugged correctly the line that throws the exception is https://github.com/microsoft/botbuilder-dotnet/blob/cd897dfcc69e01ffec755027fae60c219b59074a/libraries/Microsoft.Bot.Builder.AI.QnA/Dialogs/QnAMakerDialog.cs#L437

[2021-04-26 22:17] v-kydela commented on #3122
@Mikhail2k15 - Have you tried it yet?

[2021-04-26 22:50] peterinnesmsft opened #3199 "Move @microsoft/generator-bot-command-list to BotBuilder-Samples"
**Is your feature request related to a problem? Please describe.**
The [Command List](https://github.com/microsoft/botframework-components/tree/1f6a665a23fb1710afd4acb98158fb3eac839f16/generators/generator-bot-command-list) provides a template for creating an Adaptive-based bot designed for building command-based conversational bots.

Currently this generator lives in the microsoft/botframework-co

[2021-04-26 23:29] axelsrz commented on #3192
Hello @dhruv2103 thanks for submitting the issue. This could be a versioning problem, could you try changing your requirements.txt to
`aiohttp~=3.6.2`

[2021-04-27 08:41] Mikhail2k15 commented on #3122
For Channel.Test it works as expected. However, I've switched to msteams channel.
// Create conversationUpdate activity
            //var conversationUpdateActivity = new Activity
            //{
            //    Type = ActivityTypes.ConversationUpdate,
            //    MembersAdded = new List<ChannelAccount>
            //    {
            //        new ChannelAccount { Id = "theUser" },

[2021-04-27 15:49] Wajeed-msft commented on #3144
@GaurangNaik - This is happening probably because supportsFiles is set to false for your Bot in Teams app manifest.

![image](https://user-images.githubusercontent.com/31851992/116271398-92d3f300-a79d-11eb-8dcd-3b37032232af.png)

I have opened new issue on Teams side for tracking here: https://github.com/MicrosoftDocs/msteams-docs/issues/3185

[2021-04-27 15:49] #3144 closed

[2021-04-27 17:14] cleemullins opened #3204 "Cleanup Legacy Files across Sample(s) Repo"
The Samples repo has a number of out-of-date files that need to be cleaned up.

The work item is to:
1.

- [x]  Cleanup the [Legacy CLI Tools references (such as this)](https://github.com/microsoft/BotBuilder-Samples/blob/main/INSTALLING_CLI_TOOLS.md). These files should be deleted, although replacing them with a link to the old CLI Tools repo, would be reasonable.
- [x] 2. "Meta" files, [such as

[2021-04-27 17:38] cleemullins opened #3205 "Update the Installing CLI Tools MD to reflect the current recommended tooling"
The [INSTALLING_CLI_TOOLS.md](https://github.com/microsoft/BotBuilder-Samples/blob/main/INSTALLING_CLI_TOOLS.md) file is misleading, in that everyone (including myself) who reads it fails to see the "old tools are deprecated" message.

Simplify the readme, and point at the docs in the relevant repo.

[2021-04-27 17:38] cleemullins commented on #3205
Part of #3204

[2021-04-27 17:43] #3205 closed

[2021-04-27 18:55] EricDahlvang commented on #3034
Hi @Ronnie-personal

Glad to hear it is working.  Nice writeup too :)

Yes, those client ids are required for SSO on those platforms.

Note: with the release of 4.13 sdk, this middleware can be used for Teams SSO deduplication: https://github.com/microsoft/botbuilder-dotnet/blob/main/libraries/Microsoft.Bot.Builder/Teams/TeamsSSOTokenExchangeMiddleware.cs

[2021-04-27 18:55] #3034 closed

[2021-04-27 20:38] tracyboehrer opened #3305 "Update sample README's with link to deploy doc"
Once the doc for how to deploy is written, the samples readmes need to be updated to refer to that doc (as the other platforms do).

This issue should be in Samples.  Placing it here so it's not lost in that mix.  Transfer issue when doc is ready.

[2021-04-28 00:24] tsuwandy opened #3209 "Orchestrator samples in js/c# are not working"
Failed in OrchestratorRecognizer.Recognize call.

[2021-04-28 12:28] #3199 closed

[2021-04-28 13:33] #3196 closed

[2021-04-28 13:33] #3177 closed

[2021-04-28 14:27] tracyboehrer opened #3211 "Update README to include Java sample links"

[2021-04-28 16:38] v-kydela commented on #3122
@Mikhail2k15 - Perhaps I've been operating under incorrect assumptions. Can you explain what you're trying to do? Are you trying to write unit tests or are you trying to build a bot? If you're trying to build a bot, why are you using `TestAdapter`?

[2021-04-28 16:48] Mikhail2k15 commented on #3122
I'm trying to write unit tests for Teams bot. As a starting point, I used this sample https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/csharp_dotnetcore/13.core-bot.tests Do you have a more suitable sample for writing unite tests for teams channel?

[2021-04-28 16:50] Mikhail2k15 commented on #3122
The code above is from Test project. https://github.com/microsoft/BotBuilder-Samples/blob/main/samples/csharp_dotnetcore/13.core-bot.tests/Bots/DialogAndWelcomeBotTests.cs

[2021-04-28 17:04] #3209 closed

[2021-04-28 17:27] v-kydela commented on #3122
@Mikhail2k15 - Can you please answer the question I asked 14 days ago?

https://github.com/microsoft/BotBuilder-Samples/issues/3122#issuecomment-819921689

[2021-04-28 18:15] Mikhail2k15 commented on #3122
I did this modification as well. https://github.com/microsoft/BotBuilder-Samples/issues/3122#issuecomment-827430430 Since my initial request was about 1 month ago I forgot about that modification. Sorry about that.

[2021-04-28 18:42] v-kydela commented on #3122
@Mikhail2k15 - I need you to tell me where that modification is so that I can try to reproduce your problem

[2021-04-28 20:09] Mikhail2k15 commented on #3122
https://github.com/Mikhail2k15/BotBuilder-Samples/commits/mibon/msteamstests

[2021-04-28 20:42] clearab commented on #3204
Can we add "Remove abandoned experimental samples" to this list?

[2021-04-28 22:30] v-kydela commented on #3122
@Mikhail2k15 - I see what's going on now.

An ordinary Bot Framework adapter will [add a connector client to the turn state](https://github.com/microsoft/botbuilder-dotnet/blob/main/libraries/Microsoft.Bot.Builder/BotFrameworkAdapter.cs#L442) when it processes an incoming activity. However, a test adapter will not. This is because a test adapter doesn't normally need a connector client, since it d

[2021-04-29 11:17] tracyboehrer opened #3218 "Java Generator: Echo bot won't compile"
Receive a null pointer exception after "mvn package"

[2021-04-29 14:29] #3218 closed

[2021-04-29 14:32] #3211 closed

[2021-04-29 16:56] thanhhn253 opened #3220 "turnContext.TurnState.Get<UserTokenClient>() return null"
Today, my bot cannot retrieve UserTokenClient
It was not happen before
Is there anything wrong?
Sample code: https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/csharp_dotnetcore/52.teams-messaging-extensions-search-auth-config

[2021-04-30 06:53] sonnyvan commented on #3192
I am not sure what I'm doing wrong but I am following the [quickstart guide](https://docs.microsoft.com/en-us/azure/bot-service/python/bot-builder-python-quickstart?view=azure-bot-service-4.0) and it worked locally. However, I followed these steps https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-deploy-az-cli?view=azure-bot-service-4.0&tabs=csharp and I am getting the following failu

[2021-04-30 16:50] #3184 closed

[2021-04-30 17:40] v-kydela commented on #3220
Thanks for the question, @thanhhn253

It looks like `turnContext.TurnState.Get<UserTokenClient>()` is called 5 times in that sample. Can you point to the specific line where you're encountering this problem?

Also, can you please provide repro steps that we can use to reproduce the problem on our end?

[2021-04-30 18:18] EricDahlvang opened #3224 "Update dotnet generators to use CloudAdapter"

[2021-04-30 18:34] mdrichardson opened #3226 "Consider managing JS/TS samples via yarn workspaces"
This would make it easier to bump versions. Also consider applying `standard` and `ts-standard` or possibly `prettier`+`eslint`.

[2021-04-30 20:42] fran893 opened #3229 "[Java] AdapterWithErrorHandler is not capturing all the exceptions"
## Sample information
1. Sample type: [samples]
2. Sample language: [Java]
3. Sample name: Most of the Java samples (e.g. [17.multilingual-bot](https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/java_springboot/17.multilingual-bot))

## Describe the bug
When a sample has an error, some of them are not captured by the [AdapterWithErrorHandler](https://github.com/microsoft/botbuilder-

[2021-04-30 20:42] fran893 opened #3283 "[Java] AdapterWithErrorHandler is not capturing all the exceptions"
## Sample information
1. Sample type: [samples]
2. Sample language: [Java]
3. Samples name:
    - [06.using-cards](https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/java_springboot/06.using-cards)
    - [07.using-adaptive-cards](https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/java_springboot/07.using-adaptive-cards)
    - [11.qnamaker](https://github.com/microsoft

[2021-04-30 22:29] #3192 closed

[2021-04-30 22:50] v-kydela commented on #3122
@Mikhail2k15 - Are you still working on this?

[2021-04-30 22:58] mdrichardson opened #3230 "Update Slack Sample READMEs"
The Slack sample READMEs (and docs - @JonathanFingold) need an update to how to set them up properly. This should be done after

https://github.com/microsoft/botbuilder-dotnet/issues/5115

and possibly after

https://github.com/microsoft/botbuilder-dotnet/issues/5519

Some issues:

* Sample recommends using `/test` command, when it should be `/block` and there's no instructions for setting up comm

[2021-05-01 02:46] thanhhn253 commented on #3220
![image](https://user-images.githubusercontent.com/31772380/116768365-43711980-aa60-11eb-8589-3a1c93833cf8.png)
It return null in OnTeamsMessagingExtensionFetchTaskAsync
My users cannot sign in now
Repro steps:
- Add new message extension command, that **Allow users to trigger actions in external services while inside of Teams**, **Fetch a dynamic set of parameters from your bot**
- When you are i

[2021-05-01 03:40] thanhhn253 commented on #3220
It return null in OnTeamsMessagingExtensionFetchTaskAsync
It happened recently

My bot is a multi-tenant bot. It use following code
`public class AdapterWithErrorHandler : BotFrameworkHttpAdapter
    {
        public AdapterWithErrorHandler(ICredentialProvider credentialProvider = null, IChannelProvider channelProvider = null, ILogger<BotFrameworkHttpAdapter> logger = null) : base(credentialProvid

[2021-05-01 04:01] thanhhn253 commented on #3220
To reproduce:
- You can download following file
- Change your bot id and password in BotController
- Run
- turnContext.TurnState.Get\<UserTokenClient\>() in OnTeamsMessagingExtensionFetchTaskAsync will return null

[52.teams-messaging-extensions-search-auth-config.zip](https://github.com/microsoft/BotBuilder-Samples/files/6408843/52.teams-messaging-extensions-search-auth-config.zip)

[2021-05-03 02:11] dhruv2103 commented on #3192
@sonnyvan
For me, it is on same directory... and I tried 5-4 times and once it worked too. but other times, it didn't.....😅

[2021-05-03 18:31] v-kydela commented on #3220
@thanhhn253 - I deleted your last comment because you had shared your appsettings.json which contained your Microsoft app password. Please keep that kind of information private

[2021-05-04 10:20] laurentvizir opened #3233 "[javascript_nodejs/56.teams-file-upload] Uploaded file cannot be viewed nor downloaded"
## Sample information
1. Sample type: \samples\
2. Sample language: nodejs
3. Sample name: BotBuilder-Samples/samples/javascript_nodejs/56.teams-file-upload/

## Describe the bug
After having accepted the download, when trying to view the file by clicking on it, an error page is displayed, saying "the item is not available" (see "To Reproduce" section below for screenshot). When trying to download

[2021-05-04 10:26] laurentvizir commented on #3190
@chris-askbrian I opened a new issue very similar to yours as I'm facing the exact same issue and the answer given here is not appropriate as you pointed out previously. You can find it here https://github.com/microsoft/BotBuilder-Samples/issues/3233. Hope we'll have a better answer to our request soon :)

[2021-05-04 16:30] tsuwandy commented on #3233
This should be addressed with fix for https://github.com/microsoft/botbuilder-dotnet/issues/5542

[2021-05-04 16:36] Zerryth commented on #3190
Teams acknowledged the bug in a separate issue: https://github.com/microsoft/botbuilder-dotnet/issues/5542
The actual tracking ticket is internal only, however they created a public ticket in our SDK botbuilder-dotnet repo for visibility

[2021-05-04 17:07] lszomoru opened #3235 "Support Workspace Trust"
Hello :wave: I'm from the VS Code team.

Recently, we have been exploring a security feature we refer to as _Workspace Trust_. This feature is intended to centralize and unify a security conscious decision required by a variety of VS Code features. With workspace trust, the user will be able to declare whether or not they trust the folder that is opened in VS Code before these features are execute

[2021-05-05 13:38] laurentvizir commented on #3233
While working on my Teams Bot nodejs application, I just realized that file preview access seems to be now fixed.
:tada: **Thanks for the fix!!! (and the speed you showed to implement it :muscle: )**

[2021-05-05 13:38] #3233 closed

[2021-05-05 17:08] Prabhu-Moorthy opened #3240 "[500] Internal Server Error in MigrationV3V4 Sample code on session.endConversation()"
## Sample information
1. Sample type: Migration/MigrationV3V4/
2. Sample language: nodejs
3. Sample name: Skills/v3-skill-bot

## Describe the bug
When in [Skills/v3-skill-bot/app.js](https://github.com/microsoft/BotBuilder-Samples/blob/main/Migration/MigrationV3V4/Node/Skills/v3-skill-bot/app.js#L40) the `session.endConversation()` is called, the __endOfConversation__ activity is properly sent to

[2021-05-05 23:46] v-kydela commented on #3122
I am closing this issue due to inactivity. We are still happy to provide help if you need any, though it may be a good idea to make a new post if that's the case. Please have a look at [this](https://github.com/microsoft/botframework-sdk#questions-and-help) to find out the best places to ask for help, and consider asking questions on Stack Overflow.

[2021-05-05 23:46] #3122 closed

[2021-05-06 03:24] thanhhn253 commented on #3220
Hi. Were you able to reproduce. Please let me know if there's anything else you need to reproduce the problem

[2021-05-06 17:12] #3171 closed

[2021-05-06 17:25] chrimc62 opened #3249 "Switch output templates to response templates"
All of our templates should switch to response templates to better support using speech.  To do this we would introduce another level between what we have now and where dialogs show messages.  It would look like this:
[code]

[2021-05-06 17:31] chrimc62 opened #3250 "Change operations to Set()/Clear() for singletons and Add()/Remove()/Clear() for arrays"
It is a bit confusing to use Add() to set a singleton.  There should also not be a Remove() for singletons.  This naming would make it clearer what is going on.

[2021-05-06 18:46] tdurnford commented on #3151
@manju605 The Twillio WhatsApp adapter is a community repo and not maintained by Microsoft. Can you please reopen your issue in the [BotBuilder-Community](https://github.com/BotBuilderCommunity/botbuilder-community-dotnet) and someone from the community can help assist you with your issue there.

[2021-05-06 18:46] #3151 closed

[2021-05-06 18:55] v-kydela commented on #3220
Hi @thanhhn253

I downloaded your code sample before deleting your comment, and it runs without issue. Please provide detailed repro steps.

Also, I'm very confused by the modifications you've done. Why aren't you using dependency injection like all of our samples do?

[2021-05-06 19:41] clearab opened #3251 "BotComponent samples - C#"
We need to create samples for developers to get started creating components for Composer bots.

- Samples should be full bot projects, with the component in a separate .csproj from the bot.
- README should include instructions for opening the bot from Composer.
- Base bot should be the empty bot template
- Samples should have dialogs/actions that exercise the components

We need:

- [ ] Custom act

[2021-05-06 19:42] clearab opened #3252 "Bot Component Sample - JS"
We need to create samples for developers to get started creating components for Composer bots.

- Samples should be full bot projects, with the component in a separate folder from the bot.
- README should include instructions for opening the bot from Composer.
- Base bot should be the empty bot template
- Samples should have dialogs/actions that exercise the components

We need:

- [ ] Custom acti

[2021-05-06 19:45] clearab opened #3253 "Base Composer samples for docs - C#"
We need to convert the old Composer samples to the new runtime, and put them here.

- Samples should be full bot projects
- README should include instructions for opening the bot from Composer.

Prioritized list of samples:

- [ ] Controlling Conversation Flow
- [ ] Responding with Text
- [ ] Responding with Cards
- [ ] Asking Questions
- [ ] Todo with LUIS

Topics that rely on the above samples:

[2021-05-06 19:50] clearab opened #3254 "Bot Composer samples for docs - JS"
We need to convert the old Composer samples to the new runtime, and put them here.

- Samples should be full bot projects
- README should include instructions for opening the bot from Composer.

Prioritized list of samples:

- [x] Controlling Conversation Flow
- [x] Responding with Text
- [x] Responding with Cards
- [x] Asking Questions
- [x] Todo with LUIS

Topics that rely on the above samples:

[2021-05-06 19:56] joshgummersall commented on #3254
Where are the Composer samples?

[2021-05-06 19:57] joshgummersall commented on #3252
@clearab we don't yet have a great story for developing a component alongside a bot in JS short of some complex use of `yarn link`. Is this something that works well in .NET?

[2021-05-06 20:18] clearab commented on #3252
Yes - is this a solvable problem in JS?

[2021-05-06 20:19] clearab commented on #3254
Here - https://github.com/microsoft/BotFramework-Composer/tree/main/extensions/samples/assets/projects

[2021-05-07 11:48] lszomoru opened #3256 "Support virtual workspaces"
👋 Hi there, Martin here, from the VS Code team.

Recently we've announced the [Remote Repository feature](https://code.visualstudio.com/updates/v1_56#_remote-repositories-remotehub) that lets you browse and edit files and folders directly on GitHub.

`Open Remote Repository...` opens VSCode on a folder or workspace located on a virtual file system. We call this a **virtual workspace**. We observed

[2021-05-07 15:45] sgellock commented on #3253
Shiproom - approved

[2021-05-07 15:55] sgellock commented on #3251
Shiproom - can I get confirmation that the components used in this sample are delivered as a package and not raw source changes

[2021-05-07 16:00] mewa1024 commented on #3253
(@Quirinevwm fyi)

[2021-05-07 16:08] clearab commented on #3251
Nope, these were sample of creating a component, not a package, and were complete bot samples. I guess I'll close this one.

[2021-05-07 16:08] #3251 closed

[2021-05-07 16:52] clearab commented on #3253
This list of samples is based current doc articles that are referencing older Composer samples that have been removed from the product. If we want to not convert these to the new runtime and put them somewhere we'll need to rewrite all of those docs.

This is NOT a list of new samples that have been prioritized, or even looked at in terms of accuracy or best practices. This is purely to support th

[2021-05-07 20:01] #3112 closed

[2021-05-07 20:02] tsuwandy opened #3257 "Update sample #14 (nlp-with-dispatch) and remove deprecated azure dependency"
https://github.com/microsoft/BotBuilder-Samples/blob/main/samples/python/14.nlp-with-dispatch/requirements.txt

icm ticket: https://portal.microsofticm.com/imp/v3/incidents/details/240002145/home

[2021-05-07 21:02] tsuwandy commented on #3194
@pchoudhari, who could work on fixing this issue in the the SDK repo?  https://github.com/microsoft/botbuilder-dotnet/blob/cd897dfcc69e01ffec755027fae60c219b59074a/libraries/Microsoft.Bot.Builder.AI.QnA/Dialogs/QnAMakerDialog.cs#L437

[2021-05-08 03:11] thanhhn253 commented on #3220
Please do following steps:
1. download this file [52.teams-messaging-extensions-search-auth-config.zip](https://github.com/microsoft/BotBuilder-Samples/files/6445070/52.teams-messaging-extensions-search-auth-config.zip)
2. Run ngrok - point to port 3978
     -  `ngrok http -host-header=rewrite 3978`
3. Create Bot Framework registration resource in Azure
4. sadad
-

-
-
      `ngrok http -host-head

[2021-05-08 03:22] thanhhn253 commented on #3220
Please do following steps:
1. Run ngrok - point to port 3978
2. Create Bot Framework registration resource in Azure
3. Download this file [52.teams-messaging-extensions-search-auth-config.zip](https://github.com/microsoft/BotBuilder-Samples/files/6445085/52.teams-messaging-extensions-search-auth-config.zip)
4. Open the project in Visual Studio
5. Change <your_bot_id> and <your_bot_password> in Bot

[2021-05-08 03:29] thanhhn253 commented on #3220
I manually create new instance of AdapterWithErrorHandler and TeamsMessagingExtensionsSearchAuthConfigBot
Because there are multiple bots in multiple tenants will call my api and I had their id and password in my database
I cant register the AdapterWithErrorHandler in Startup.cs because it seem it only allow 1 bot

[2021-05-10 06:32] pchoudhari commented on #3194
@sahithikkss , can you please take a look?

[2021-05-10 11:23] sahithikkss commented on #3194
@johnataylor , Apparently, this change #5441 https://github.com/microsoft/botbuilder-dotnet/pull/5441 has broken usage of "turn" scope used in QnA Maker dialog. Could you suggest the correct scope for QnA Maker Dialog to use?

[2021-05-10 13:47] tdurnford commented on #3240
@stevkan Any update on this?

[2021-05-10 18:52] parsalotfy opened #3270 "Why are emptybot created by composer and dotnet cli different to each other ?"
## Describe the solution you'd like

## Describe alternatives you've considered

Hi,
when we create a .netcore app with visual studio, the generated files are exactly similar to files generated by dotnet cli command. Except for .sln file.
Why the same behavior does not happen when we create an empty bot with bot composer ?
When I create an empty bot with bot composer and these cli commands :
[code

[2021-05-11 03:35] thanhhn253 commented on #3220
Yes, I need UserTokenClient to sign my users in. But it is returning null now.
So please give me sample code to manually create UserTokenClient.
Or the steps to migrate my multi-tenant BotFrameworkHttpAdapter bot to CloudAdapter.
Thank you!

[2021-05-11 20:45] tracyboehrer commented on #3253
Closing this since the ComposerSamples branch has these.  Of note:  These are straight conversions of all of the samples from the Composer branch (minus ActionsSample).  As such, README's may not be adequate for a sample.

[2021-05-11 20:45] #3253 closed

[2021-05-12 17:24] v-kydela commented on #3220
@thanhhn253 - It turns out you won't easily be able to create a user token client because `UserTokenClientImpl` is an internal class.

As for using a cloud adapter, it shouldn't be difficult at all. I wouldn't even call it a migration. You can use this PR as a guide: https://github.com/microsoft/BotBuilder-Samples/pull/3225/files

As you can see, the only extra thing a cloud adapter needs is an HT

[2021-05-12 19:49] clearab commented on #3270
@tracyboehrer do you know why there are differences between the VS template and the dotnet template?

[2021-05-12 19:52] clearab commented on #3270
Wait, sorry - I might be wrong. Do you want to use Composer to create and edit your bot?

[2021-05-12 20:14] tracyboehrer commented on #3270
The only insight I can give is similar to Andrews.  These are coming from different areas of our stack, and we haven't aligned them.  The Composer csproj is specific to a Composer Bot project, which would/could have it's own requirements that differ from the pre-existing CLI template.  If I had a crystal ball, I would expect some alignment, but a Composer Bot could remain different.  Maybe more al

[2021-05-12 20:49] parsalotfy commented on #3270
I want the ability of editing bots created by CLI in Composer
Bots created by composer include so many packages like QnA or LUIS which I never use.
So I create an empty bot using CLI , but I can't edit that bot through Composer.
You know I want the goods of both sides  :grin:
The simplicity of creating bot without having to code as well as having an lightweight clean bot like the one created by cl

[2021-05-12 20:50] parsalotfy commented on #3270
Is there a way to open a bot created by cli with bot composer ?

[2021-05-12 21:07] clearab commented on #3270
If you like you could drop references to those packages using either a package manager like VS, or by removing them from the CS proj and rebuilding. The current empty bot template in the daily build of Composer (which I think is what you are using) only takes 4 package dependencies though. Composer also would not detect that you need those packages and add them back for you if you decided to use a

[2021-05-12 21:07] #3270 closed

[2021-05-12 23:35] #3257 closed

[2021-05-13 02:49] thanhhn253 commented on #3220
BotFrameworkHttpAdapter's constructor have ICredentialProvider parameter. Which allow me to provide a appId and password
I still cannot find a way to send appId and password to CloudAdapter's constructor

[2021-05-13 16:38] ninggao commented on #3240
@stevkan  Could you please take a look into this?

[2021-05-13 17:03] EricDahlvang commented on #3240
I believe this only occurs when connecting to the parent from the Emulator.  Have you seen this issue on any channels other than the Emulator?

[2021-05-13 17:31] stevkan commented on #3240
@Prabhu-Moorthy, also can you list which version of the SDK you are using? The sample's docs state it was created using v4.7.2. so I'm curious to know if it is happening with that version, the current version, or started with one somewhere in between.

@EricDahlvang, is there a fix or workaround that you are aware of for this occurring in Emulator? Or, is it only a known issue, at this time?

[2021-05-13 18:35] EricDahlvang commented on #3240
If i recall correctly, the issue is due to a trace activity sent from the v3 skill after endofconversation when the channel is 'emulator'. This arrives at the parent bot, and since endofconversation had already deleted the conversation.id from the skillConversationIdFactory ```this.refs[skillConversationId]``` results in an exception. The workaround shared by @Prabhu-Moorthy is one option. Another

[2021-05-13 23:03] v-kydela commented on #3220
@thanhhn253 - Okay, here's what I think you need to do.

1. Pass your app ID and password into a `PasswordServiceClientCredentialFactory`
2. Pass the credential factory into `BotFrameworkAuthenticationFactory.Create`
3. Once you have the `BotFrameworkAuthentication` object, you can either make a cloud adapter out of it or you can use it to create a user token client directly

Does this resolve you

[2021-05-14 01:16] #3249 closed

[2021-05-15 04:34] thanhhn253 commented on #3220
@v-kydela - I followed the steps you provided and were able to switch my BotFrameworkHttpAdapter to CloudAdapter
I pass a lot of null to BotFrameworkAuthenticationFactory.Create though
[code]
Thank you very much for supporting

[2021-05-15 04:34] #3220 closed

[2021-05-19 11:59] Prabhu-Moorthy commented on #3240
@EricDahlvang Thanks for the response.
As you have mentioned, this error occurs only when connecting from Emulator.
I have tested in Directline and FB Messenger channels and I do not get this error.

Thanks for providing a workaround as well.
Although the error occurs only in Emulator, it was good to know the reason.

[2021-05-19 11:59] #3240 closed

[2021-05-20 17:43] tracyboehrer opened #3284 "Composer Samples"
Composer Samples will be located is a folder as a peer of "samples".  The structure is:

[code]

- "packages" are Components only
- "projects" are complete Composer projects, and may contain custom code (actions, triggers, etc...)
- "generators" are the Composer templates.  These may generate dotnet and JS code, but are written in Javascript (Yeoman at this time)

[2021-05-20 21:35] mdrichardson opened #3286 "chore: Add linting checks to CI"
Find a way to add a lint step to PR CI checks, preferably only for the specific sample added. Could also ensure the sample compiles?

* https://github.com/marketplace/actions/get-diff-action ?

[2021-05-20 21:49] johnataylor opened #3287 "C# SDK samples should all use AddBotRuntime() in startup"
The AddBotRuntime() extension function has been recently added to the SDK. This function registers with the [Dependency Injection](https://docs.microsoft.com/en-us/dotnet/core/extensions/dependency-injection) framework everything that is needed to run Adaptive Dialogs. This function builds the Composer runtime.

One of the important mechanisms at play here is that the various dependencies (the Ada

[2021-05-20 21:52] johnataylor commented on #3287
Related to https://github.com/microsoft/BotBuilder-Samples/issues/3284

[2021-05-20 21:59] johnataylor commented on #3287
@carlosscastro suggests we add appropriate remarks documentation comments to the product code to document the extensibility and customization points on the runtime.

Tracking issue in the SDK repo https://github.com/microsoft/botbuilder-dotnet/issues/5598

[2021-05-20 22:35] johnataylor commented on #3287
We should reassess the need for samples 21 (telemetry) and 81 (skills) as the AddBotRuntime function builds the necessary runtime. Illustrating that was the primary reasons for these samples being introduced.

Possibly we could keep 81, albeit in a simplified form, you at least need to add an extra controller on the parent for the skill callbacks.

And in place of the redundant sample 21 we could

[2021-05-21 14:04] Ravi-Macha opened #3289 "Bot Answers even after Logout"
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues) / [Java](https://github.com/Microsoft/botbuilder-java/issues)/ [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for genera