[2019-11-18 20:58] turbozapekanka commented on #1983
I simply copied and pasted the example iframe code from the web chat channel configuration:
I have no idea what version of WebChat this is running.

<iframe src='https://webchat.botframework.com/embed/PogoBot?s=YOUR_SECRET_HERE'  style='min-width: 400px; width: 100%; min-height: 500px;'></iframe>

[2019-11-18 22:59] EricDahlvang commented on #1983
That embed link is the V3 WebChat (the portal is a little behind).  More information on embed links can be found here: https://github.com/microsoft/BotFramework-WebChat/blob/master/packages/embed/README.md#how-to-use

Please try out the Gemini embed link, which is WebChat V4:

https://webchat.botframework.com/embed/b/gemini?s=YourWebchatSecret&b=YourBotHandle

[2019-11-18 23:13] jwiley84 opened #1994 "incorrect reference to package in sample package.json"
## Sample information
1. Sample type: sample
2. Sample language: nodejs
3. Sample name: 48. qnamaker active learning bot

## Describe the bug
Package.json contains a requirement for 'botframework-config', though this is not referenced in the code anywhere.

[2019-11-19 10:31] feifeiJun opened #1995 "Is the card in bot contain the funtion both ImBack and messageBack like test bot in QnA?"
I want to create bot like test bot in QnA portal.
In the test in QnA portal like the below screenshot, those buttons are created by the follow-up prompts from QnA, and when click those buttons, there are two things happen
1. the bot UI show the text in the previous button.
2. One Http request are sent, this request contains all the button information like text and qnaid.
that seems the integrate o

[2019-11-19 18:14] DDEfromOR commented on #1870
Small clarification to @stevengum 's comment, the audio is generated in the channel and streamed to the client in Direct Line Speech scenarios, not generated by the client as was previously done with the Bing powered TTS option. Not particularly relevant to this issue, but I wanted to clarify because this is a cool and powerful optimization provided by the Direct Line Speech channel!

[2019-11-19 21:15] stevkan commented on #1995
Generally, this is how you can get the same returned results generated from the `getAnswers()` API call as you get from QnA.

First, pass the current context into `getAnswers()` (which contains the user's message: "help", "Where did trees come from", "Why is the sky blue?", etc.) and then map the result to a variable:

[code]

After validating a response is returned, you can pass the result text i

[2019-11-20 00:04] v-kydela commented on #1799
@cwhitten - I have submitted a PR for .NET and will look into doing Node as well

[2019-11-20 00:35] v-kydela commented on #1993
@turbozapekanka - I'm guessing when you say CoreBot template you mean the CoreBot .NET sample from this repo. Is that correct?

I believe you will find when you examine your local bin folder that the card is not present there either, meaning the lack of card has nothing to do with deployment. This is because the card file is an embedded resource and you can see in its properties that it's not supp

[2019-11-20 01:23] turbozapekanka commented on #1993
I meant this template: https://marketplace.visualstudio.com/items?itemName=BotBuilder.botbuilderv4
I guess it is the same, maybe slightly older version.
I'm deploying to the Azure using these instructions (the're also referenced in the template default.html file)
https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-deploy-az-cli?view=azure-bot-service-4.0&tabs=csharp

I would expect the

[2019-11-20 02:08] cheahengsoon opened #1999 "Sample 14.nlp-with-dispatch bugs"
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues) / [Java](https://github.com/Microsoft/botbuilder-java/issues)/ [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for genera

[2019-11-20 07:31] #1999 closed

[2019-11-20 14:52] danieldangler opened #2000 "Bot cannot connect to LUIS and QnA Services in Azure"
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues) / [Java](https://github.com/Microsoft/botbuilder-java/issues)/ [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for genera

[2019-11-20 20:33] samanulla opened #2001 "17.multilingual-bot - Lacks the actual functionality"
### Github issues for [JS](https://github.com/Microsoft/botbuilder-js/issues)

## Sample information
1. Sample type: samples
2. Sample language: nodejs
3. Sample name: 17.multilingual-bot

## Describe the bug
Main issue is - This bot does not seem to do what it says. I was looking for this sample to demo to a customer for showing real time translation using choice of languages provided. Though the

[2019-11-20 22:02] LindaLawton commented on #1974
Visual studio publish to azure.   Then set the azure endpoint of the bot to the endpoint of the bot.

Yes all the parameters have been added as needed

[2019-11-20 22:32] dmvtech commented on #2000
It _**might not**_ be related to the LUIS/QnA. This sample throws that message, on **_any_** unhandled exception:

[code]
Then again, it might. The first step is determining that for sure.

The best approach at this point would be to debug using [Ngrok](https://blog.botframework.com/2017/10/19/debug-channel-locally-using-ngrok/). You can debug locally, while using the channel/client that you want

[2019-11-21 07:35] kunalkankariya commented on #1686
@mdrichardson The link to the current solution for node uses botbuilder-teams which is deprecated. Do you have a sample for 4.6 that I could refer to? Thanks!

[2019-11-21 11:14] kunalkankariya commented on #1686
@mdrichardson I know how to get this done now. Thanks :)

[2019-11-21 15:48] danieldangler commented on #2000
Could it be that the problem appears because i deployed the services single-handedly and not from the ARM Template that is inside the tutorial? (I deployed a Web app Basic bot template v4)

Or because i want to create a bot that uses the german language?

[2019-11-21 16:12] diberry commented on #2000
@danieldangler - if the queries to luis and qna maker work from a REST request or browser a GET command, those two services are set up correctly - which it sounds like they are. So make sure that the app configuration settings for your bot's web app have the same settings. That is show in the Azure portal for the web app bot.

[2019-11-21 17:20] danieldangler commented on #2000
@diberry AHA that was it. I have not set the variables in the config Tab in the WebAppBot.

Thank you very much!

[2019-11-21 17:25] #2000 closed

[2019-11-21 18:03] chinna98 opened #2003 "QnA maker sample is not available to select while creating a webapp bot in Azure portal"
I'm not able to see or select option for QnA maker template in either # and Js , Please tell me how to create that template

[2019-11-21 23:49] v-kydela commented on #1993
@turbozapekanka - That link contains four templates. Did you use Core Bot or Core Bot with Tests?

[2019-11-22 00:42] turbozapekanka commented on #1993
Core bot

[2019-11-22 18:30] v-kydela commented on #1799
@cwhitten - I've made the changes to the Node sample now. I've requested your review.

[2019-11-22 19:44] v-kydela commented on #2003
Go ahead and publish from the publish tab in your KB. After publishing, you'll see the option to create a QnA bot:

![image](https://user-images.githubusercontent.com/41968495/69455299-00643000-0d1d-11ea-94dd-c1e062229b42.png)

[2019-11-22 19:44] #2003 closed

[2019-11-23 00:25] v-kydela commented on #1993
@turbozapekanka - I have determined the cause of the problem here. The deployment process changes the name of your assembly to lower case:

![image](https://user-images.githubusercontent.com/41968495/69468886-ef2e1a00-0d42-11ea-8271-3dc1965c1165.png)

That means the card resource path won't work since the hard-coded assembly name is camel case:

[code]

I believe changing the code to this will fix

[2019-11-23 18:32] ashutoshpith commented on #1988
with and without discard it's not going work. The main issue here is that the EchoBot class which is in directory Bots cannot be able to read even after the importing via '**using**' .
This issue appears in 1 out of 3 times on new project creation . startup class can't able to access the other dir, in this case, the Bots/EchoBot.cs class even after it belongs in same namespace.

[2019-11-24 08:07] deepak216 opened #2004 "Link unfurling preview not showing for sharepoint domain"
not showing link unfurling preview when adding list of domains in messagehandlers as "*microsoft.sharepoint.com" in manifest.json file, but works fine when adding any other domains(like fake *abc.com).
Also tried to unfurl the "https://quora.com" but not showing the preview.
Do i have to add  any permission or is this specific to domains only?

Note: Adding "*quora.com" in my domain list

[2019-11-25 19:15] dmvtech commented on #1988
@EricDahlvang @cleemullins @johnataylor @stevengum  Any ideas here? I am not able to reproduce.

[2019-11-25 19:31] #1797 closed

[2019-11-25 20:40] clearab commented on #2004
Is your service receiving the queryLink invoke? I'm guessing the issue is authentication.

[2019-11-25 23:51] v-kydela commented on #1993
@turbozapekanka

I have just tested [an alternative deployment method](https://docs.microsoft.com/en-us/azure/app-service/deploy-zip#deploy-zip-file) and it still changes the assembly name to lowercase.

I have discovered that the conversion to lowercase is happening in the `az bot prepare-deploy` command. I have logged that bug here: https://github.com/Azure/azure-cli/issues/11390

This suggests

[2019-11-25 23:51] #1993 closed

[2019-11-26 00:28] #1799 closed

[2019-11-26 04:59] v-kydela commented on #1993
I want to note that publishing through Visual Studio does not have this problem, and so it can be considered another workaround.

[2019-11-26 05:09] feifeiJun commented on #1995
Thanks, I think that's not the answer i wanted. and i have find the solutions in this [code section](https://github.com/microsoft/BotBuilder-Samples/blob/0c2eebdc9622ee368086757f60892960aef711e3/samples/csharp_dotnetcore/49.qnamaker-all-features/Dialog/QnAMakerBaseDialog.cs#L247).

[2019-11-26 09:32] stevkan commented on #1995
If you are willing to restate your question in another way so I can better understand, I'd be happy to continue trying to help. Please let me know if you're still looking for assistance.

[2019-11-26 18:58] ashutoshpith commented on #1988
I'm working on it.I'll get back to you when it's done.

[2019-11-26 19:17] cleemullins commented on #2001
I've asked Southworks to look into this, and make changes as needed.

[2019-11-26 20:51] jwiley84 commented on #1974
What happens if you do the same type of deployment with a standard (non-teams bot)?

[2019-11-27 06:43] rutujlangalia opened #2008 "Event when a new user accesses bot contact for the first time in teams"
I want to send a welcome message to the user when a new user tries to access Bot.
Currently in this sample when a new user tries to access Bot contact, user needs to send a message to let OnTeamsMembersAddedAsync understand if any new user is added.

How can we send a message to user just when user opens Bot?

[2019-11-27 07:46] LindaLawton commented on #1974
No idea TBH I am doing this by following your tutorials.

Btw doing it through the cli works creating everything through the azure website fails.   Might give you an idea how to test this

[2019-11-27 18:44] cleemullins commented on #2001
This is being worked on today by the good folks from Southworks.

[2019-11-27 21:42] CoHealer commented on #1870
@tellstoriesatbedtym, have you tried the sample? Are you unblocked?

[2019-11-27 22:31] jwiley84 commented on #2008
Hi @rutujlangalia!

In order to send proactive messages like welcome messages to teams users, you have to have a conversation id. Because welcome messages aren't actually in response to a conversation, there is no conversation id to supply, and you'll have to create one yourself. Going off the assumption that you're using C#, you'll use the following to create welcome messages:

[code]

[2019-11-27 22:38] CoHealer commented on #1983
@turbozapekanka have V4 embed link? Do you still have the reversing issue?

[2019-11-28 02:45] turbozapekanka commented on #1983
Yes, but I could not reproduce this issue neither with v3 nor with v4

[2019-11-28 07:20] rutujlangalia commented on #2008
Hi @jwiley84 ,
Thanks for the quick response.

The problem I am facing is proactive messages & welcome message is triggered when user types/send a message.

I want to send a welcome message when user accesses the Bot contact on teams.

For example, When we click connect in emulator we get a **OnTurnAsync** activity of **TeamsActivityHandler** which responds with a message even before user types/se

[2019-11-28 11:41] madbeher opened #2010 "getaddrinfo ENOTFOUND https error"
Hi,

I am getting below error please let me know how to fix this issue.
 [onTurnError] unhandled error: Error: getaddrinfo ENOTFOUND https
Thank,
Madan

[getaddrinfo ENOTFOUND https.docx](https://github.com/microsoft/BotBuilder-Samples/files/3901445/getaddrinfo.ENOTFOUND.https.docx)

[2019-12-02 11:06] rutujlangalia commented on #2008
@jwiley84 any updates on above comment?

[2019-12-02 16:42] stevkan commented on #2010
Hi @madbeher, I tried replicating your issue with some typical encountered incorrect settings or configurations, however I was unable to do so.

A few questions for you:

- Did you make any modifications to the code after installing and before running? If so, can you post what those changes were? (For instance, changing the port from `3978` to `3979`.)
- Are you running this purely locally? Or, ar

[2019-12-02 17:59] scheyal opened #2012 "Update and align App Insights CoreBot samples across all languages"
There were some pretty extensive changes in the 4.5.1 Corebot updates release that were captured in the JS version of the CoreBot-App-Insights sample app that are not included in the C# version because none of those 4.5.1 Corebot updates were applied to the C# version of the CoreBot-App-Insights sample app.  Also, the C# version is not done correctly with regards to how telemetry is implemented in

[2019-12-02 18:31] CoHealer commented on #1995
@feifeiJun, I'm closing the issue as you last comment implies you've answered your own question:
"and i have find the solutions in this code section.".

Please re-open if that was not your meaning.

[2019-12-02 18:31] #1995 closed

[2019-12-02 19:18] gabog commented on #2001
PR is pending that fixes this issue.

[2019-12-02 19:23] gabog commented on #1976
@johnkellyjr, it looks like Josh replied to this. Closing this issue.

[2019-12-02 19:23] #1976 closed

[2019-12-02 21:27] jwiley84 commented on #2008
Sorry @rutujlangalia, was on holiday.

To address something really quick:

This fires every time you start and stop the emulator, because of the channel in question. That's simply how the emulator is set up. This is not going to be mimic-able in Teams, because when you deploy your bot, and add Teams as a channel, the bot is assigned a Teams-based bot_id. This is a one-time event, which assigns a p

[2019-12-02 21:40] stevengum commented on #1631
Still little-to-no interest and not directly reliant on shipping out directly in R7. Pushing out to R8.

[2019-12-02 22:42] jwiley84 commented on #1974
I'm waiting for a response to an email, but can you try something for me? In your Azure Active Directory (in your Azure portal), can you check your settings to see if you can register apps? It's possible that your app was deployed correctly, in that it's in Azure, but not registered, so it's not actually functioning, just sitting there:

![image](https://user-images.githubusercontent.com/17333688/

[2019-12-03 05:33] rutujlangalia commented on #2008
@jwiley84 ,
Sorry to disturb you on your holiday.

I will try the way you suggested above and verify. Actually I am trying welcome message for 1:1 conversation but let me go ahead and try it if it works.

I guess for 1:1 conversations it should fire OnConversationUpdateActivityAsync but let me try it once to comment on that.

Thanks for your help.

[2019-12-03 17:48] dmvtech commented on #1988
Hi @ashutoshpith Just curious; can you still reproduce this?

[2019-12-03 18:59] cwhitten commented on #1990
Hello @marcasmar94. We'll close this issue for now. See https://github.com/microsoft/botbuilder-dotnet/issues/3063 for updates

[2019-12-03 18:59] #1990 closed

[2019-12-03 19:16] christopheranderson opened #2014 "processActivity returns a promise that must be handled"
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues) / [Java](https://github.com/Microsoft/botbuilder-java/issues)/ [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for genera

[2019-12-04 09:39] frayosh77 opened #2016 "Unable to get response from NLP sample bot"
Hi, I've judiciously followed all the steps to get this bot (NLP-With-Dispatch-Bot) running however to no avail.

Post cloning the git repository, I’ve tweaked the appsettings.json file with the necessary keys, IDs, hostnames for all the published services (QnA Maker & LUIS). When I eventually Build & Run the Bot in VS, I don’t seem to get any response from the message prompt. Attached snapshot fo

[2019-12-04 10:04] frayosh77 commented on #2016
![Capture](https://user-images.githubusercontent.com/26085385/70133100-7d8f8d80-16ab-11ea-9479-4a077feda086.JPG)

[2019-12-04 17:57] dmvtech commented on #2016
Hi @frayosh77

The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/BotBuilder/blob/master/README.md) repos are the preferred platform for submitting **bug fixes** and **feature requests.

[2019-12-04 17:57] dmvtech commented on #2016
When running the bot locally, have you tried running it *without* the LUIS/QNA resources, but just the credentials for the bot (MicrosoftAppId/MicrosoftAppPassword)? Or have you tried running them with blank values? If you have them configured in appsettings.json, they must be supplied when opening the bot from emulator. Otherwise, they can both be blank (in appsettings and in emulator).

I think

[2019-12-04 17:58] dmvtech commented on #2016
To clarify; the location where it is failing (the beginning) seems to me that this is an issue with the bot authentication/configuration and not with NLP aspect (yet).

[2019-12-04 18:52] JonathanFingold opened #2018 "Multi-turn prompt asks if collected info is okay before summarizing the collected info"
## Sample information
1. Sample type: [\samples\]
2. Sample language: [dotnetcore, nodejs]
3. Sample name: **5.multi-turn-prompt**

## Describe the bug
1. The dialog asks the user whether the collected information is ok in the next to last step. Then summarizes the collected information in the last step. The order of these two steps should be reversed.
1. A final acknowledgement step should be add

[2019-12-04 23:02] EricDahlvang commented on #1983
@turbozapekanka We are going to close this as not reproducible.  Please open a new issue if you run into any other problems.

[2019-12-04 23:02] #1983 closed

[2019-12-04 23:08] tomlm commented on #1990
This would be great thing to add to community repo

[2019-12-05 08:09] frayosh77 commented on #2016
Thanks for your response. I'll post on Stack-Overflow going ahead, apologies for that. I ran the BOT with the Microsoft App ID\Psswd as well as the LUIS & QnA resources, issue persists. Running without the LUIS & QnA resources the issue still persists. I have even configured ngrok while testing through the Bot framework Emulator.

[2019-12-05 08:21] frayosh77 commented on #2016
Thanks for your response. I'll post on Stack-Overflow going ahead, apologies for that. I ran the BOT with the Microsoft App ID\Psswd as well as the LUIS & QnA resources, issue persists. Running without the LUIS & QnA resources the issue still persists. I have even configured ngrok while testing through the Bot framework Emulator.

[2019-12-05 13:34] Magic73 opened #2021 "SDK V4 - Azure Deployment - 401 Unauthorized"
I have a problem with deploying the bot with the sdk v4.
Still on Azure I have several Bots made with SDKv3 (NetFramework) and I've never had any problems.

Now I downloaded the V4 examples, and wanted to try them on Azure. I created a new Bot, registered it with a new key pair (appid-secretkey) and entered these values ​​into appsettings.json.

I deployed, and now I'm trying the bot both via emul

[2019-12-05 17:39] JonathanFingold commented on #2018
@tracyboehrer @mmiele - Do either of you want to weigh in on this issue?

[2019-12-05 18:04] tracyboehrer commented on #2018
@JonathanFingold I would say it seems out of order in at least C# and Python.  I didn't check JS, but I assume it is too.  As far as demonstrating saving state in a multi-turn dialog it is successful.  As a completely meaningful dialog flow... probably not.

[2019-12-05 18:54] anusharavindrar commented on #2021
@Magic73 for more clarity, you need to enter the Microsoft App ID and password in the **appsettings.json** file of the C# bot. Also, when you test it on the emulator, you will need to enter the app credentials along with the Bot URL, else you will get the 'Unauthorized' error. How are you trying to test your bot in Web Chat? Can you share your deployment steps?

[2019-12-05 19:31] dmvtech commented on #2016
If you run the bot (appsettings.json) with appid/password blank, and do not supply appid/password in the emulator, does it work?

[2019-12-05 22:34] dmvtech commented on #1988
Closing this as doesn't seem to be an issue that we can reproduce. If you are still exhibiting this issue, and need assistance, please reopen.

[2019-12-05 22:34] #1988 closed

[2019-12-05 22:59] vishwacsena commented on #2013
Fixed via https://github.com/microsoft/BotBuilder-Samples/pull/2023

[2019-12-05 22:59] #2013 closed

[2019-12-06 05:45] frayosh77 commented on #2016
Nope : ), I was still encountering an issue. However, pleasantly when you run the bot with the Microsoft App ID & Password given in appsettings.json & the Emulator the Bot runs albeit with an error.

![Snap_1](https://user-images.githubusercontent.com/26085385/70298847-109a0600-1819-11ea-8957-48751b3489d3.JPG)

In addition, both my QnA & LUIS services are deployed, on Staging though. Currently try

[2019-12-06 10:03] Magic73 commented on #2021
Yes, I put the credentials into appsettings.json. I also put them in the emulator (I already created/tested/deployed a lot of Bot on Azure).

This are the steps that I followed:

- downloaded V4 samples
- opened Netcore sample version
- logon into Azure portal
- created Azure Bot Channel Registration
- taked AppId + Secret key from Microsoft AAD Registered App (from Azure Portal)
- updated appsett

[2019-12-06 21:07] csteelatgburg opened #2024 "QnAMaker sample fails on Azure"
## Sample information
1. Sample type: \samples\
2. Sample language: dotnetcore
3. Sample name: QnAMaker

## Describe the bug
The QnAMaker bot runs locally and when testing with the Emulator the only issue is a trace
Unable to find a QnA Maker service with Knowledge Base ID <my KB ID displayed here>. Please add a QnA Maker service to your bot.

Once uploading to Azure and testing the bot in either

[2019-12-07 00:57] EricDahlvang commented on #1845
PR: https://github.com/microsoft/BotBuilder-Samples/pull/2027

[2019-12-07 00:58] EricDahlvang commented on #1844
PR: https://github.com/microsoft/BotBuilder-Samples/pull/2026

[2019-12-09 13:08] rajeshyalamarthi opened #2225 "Integrating composer Adaptive Dialogs in botframework v4 Echo bot"
Hi,I am trying to integrate composer's adaptive dialog in bot framework V4 echo bot. I loaded all the components which are required. There are no build errors for me, but when i was debugging, at the point where DeclarativeTypeLoader is trying to load root dialog file, it is throwing the error:
'Type specified in JSON 'Microsoft.AdaptiveDialog' was not resolved. Path '$type', line 3, position 37.'

[2019-12-09 17:23] Virtual-Josh commented on #1685
You merged the file upload sample for Teams yeah?

[2019-12-09 19:25] tracyboehrer commented on #1870
Closing due to inactivity.

[2019-12-09 19:25] #1870 closed

[2019-12-09 19:26] tracyboehrer commented on #2004
@deepak216 Does clearab's response help?

[2019-12-09 19:33] anusharavindrar commented on #2021
@Magic73 can you elaborate more on the "deployed Cards samples into an azure webapp (the defualt bot home page displayed correctly)" step. Also, can you make use of [ngrok](https://blog.botframework.com/2017/10/19/debug-channel-locally-using-ngrok/) to debug your bot locally? If you have already double checked your app ID/password and message endpoint, then I would suggest you to see if all your p

[2019-12-09 20:49] jwiley84 commented on #2024
Let me see if I can figure out what's going on.

[2019-12-09 21:23] dmvtech commented on #2016
Ok, so that shows that the bot itself is working _locally_. Which is good. The NLP stuff is still failing obviously. If you use this same configuration with the bot that is running in azure, you should get the same behavior. (Bot working, but NLP still failing). **If _not_**, then that means there is something wrong with the configuration with either the application ID or password. Please confirm

[2019-12-09 22:15] johnataylor opened #2028 "teams-auth samples should include manifest.json and standard setup instructions"

[2019-12-10 02:33] johnkellyjr opened #2029 "How to get the the documents library of Sharepoint using messaging extension (teams auth #52)"
🚨 The issue tracker is not for questions 🚨

If you have a question, please ask it on https://stackoverflow.com/questions/tagged/botframework

[question]
The question I have is I am using the Teams Auth sample (I got help there before, so again, thank you!), and with it am trying to figure out using Messaging Extension how to get to the documents library of a Teams user.

I will try to break this d

[2019-12-10 06:39] LindaLawton commented on #1974
Sorry i cant help anymore this project was done for a client I am now out of azure time on my free account.  I dont think i can spinn anything up anymore.

[2019-12-10 16:36] Magic73 commented on #2021
Sure!
I opened the NetCore samples with Visual Studio, then I published the CardsBot project into an Azure webapp. Navigating to the root of the website, the default home page of the botframework is correctly displayed ( .. Your bot is ready! ... )

Using local emulator works (using appid+secret also).

[2019-12-10 16:50] Magic73 commented on #2021
mmm I deleted the webapp from Azure, then I created a new webapp, and I redeployed. Now it works.

But I don't know why. O_o

@anusharavindrar Thank you for your help! :)

[2019-12-10 16:50] #2021 closed

[2019-12-11 18:01] dmvtech commented on #2029
The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/BotBuilder/blob/master/README.md) repos are the preferred platform for submitting **bug fixes** and **feature requests**.

[2019-12-11 18:01] dmvtech commented on #2029
This seems to be more Teams/Graph/SharePoint related than Bot Framework. Regarding the graph/site guid issue, I would suggest asking this question elsewhere this is appropraite. I don't think it has anything to do with being in a bot (with the data you've shared and at this point)

For the teams ID, have you checked the channeldata bucket? I'm not sure, but it might be there. I'll see if i can con

[2019-12-11 19:45] johnkellyjr commented on #2029
Yes, regarding the channeldata bucket, I am able to get the TeamsID and the ChannelID from there. Perhaps because they are on the c# side of things, the id's there look different than what you would put into graph explorer for security reasons. This is kinda grey area (from my viewpoint) as to where to ask this question, because it is both a bot issue and a graph api issue.

[2019-12-11 20:23] jwiley84 commented on #2024
I am unable to repro this, so I gotta ask the standard questions: 1) How did you initially deploy this? 2) what version of the SDK are you using?

[2019-12-11 21:05] csteelatgburg commented on #2024
This was most likely related to an issue with the app service or the underlying QnA KB. Another team member had made some changes on the KB that appear to have broken it. Once I created a new KB and changed the bot to use that KB it worked. Sorry I didn't update here.

[2019-12-11 21:05] #2024 closed

[2019-12-11 21:34] jwiley84 commented on #2024
LOL, no worries! I'm glad it was an innocent "problem". :D

[2019-12-12 00:23] #1844 closed

[2019-12-12 00:24] #1845 closed

[2019-12-12 00:50] EricDahlvang opened #2038 "Project Sdk for corebot-tests should be Microsoft.NET.Sdk.Web"
## Sample information
More information can be found here: https://docs.microsoft.com/en-us/aspnet/core/fundamentals/metapackage-app?view=aspnetcore-2.1

## Describe the bug
Since we are not specifying the Microsoft.AspNetCore.App version, a min version of 2.x is chosen based on which sdks are installed on the machine.  There is a bug in .NET Core 2.1 where the SDK must be Microsoft.NET.Sdk.Web for

[2019-12-12 06:44] KoushikGoramane opened #2040 "[onTurnError]: Error: getaddrinfo ENOTFOUND https https:443"
I am getting this error whenever i type the message in the emulator,
I am getting oops something went wrong message.

I did not change the port number or code.
I updated the env file

MicrosoftAppId=
MicrosoftAppPassword=

QnAKnowledgebaseId=""
QnAEndpointKey=""
QnAEndpointHostName=""

LuisAppId=""
LuisAPIKey=""
LuisAPIHostName=""

[2019-12-12 19:07] tracyboehrer commented on #2010
@madbeher Are you still experiencing a problem with this?

[2019-12-12 22:32] stevkan commented on #2010
Closing due to a lack of activity. If the problem persists, please feel free to reopen the issue.

[2019-12-12 22:32] #2010 closed

[2019-12-13 05:38] ylbillyli opened #2041 "isMatch Regex doesn't escape"
## Describe the bug
prebuilt function isMatch() does not respect escape syntax

## To Reproduce
Steps to reproduce the behavior:
1. Create any Dialog
2. Add a 'Ask a question' step
3. in 'User Answers' -> Other tab -> Validation Rules
4. type 'isMatch(this.value, '\.')

## Expected behavior
No usage error

## Screenshots
![image](https://user-images.githubusercontent.com/13381578/70771915-d0ed9400

[2019-12-13 06:32] ylbillyli commented on #2041
I think this is fixed in latest stable version, no longer replicatable

[2019-12-13 06:32] #2041 closed

[2019-12-13 19:13] tracyboehrer commented on #2008
@rutujlangalia Did jwiley84 suggestion solve this issue?

[2019-12-14 19:17] v-kydela commented on #2040
@KoushikGoramane - Are you still working on this?

[2019-12-15 01:33] sgellock commented on #2040
@KoushikGoramane if you're getting the "oops something went wrong" message then the bot you are running doesn't have the latest iteration of the the onTurnError.  We made some changes to this function across all the samples to have it handle and log more useful messages.  Here is a pointer to the most current onTurnError handler:  https://github.com/microsoft/BotBuilder-Samples/blob/60e3a4e0755879

[2019-12-16 05:51] KoushikGoramane opened #2050 "Not getting response from bot"
I created the HomeAutomation LUIS and Qnamaker , I wants to run the bot in the local and added the data to the .env file. But whenever I type message in the Bot Emulator I am getting the following error.

//Error

Dispatch unrecognized intent: HomeAutomation.

How to solve this issue?

[2019-12-16 19:15] a-b-r-o-w-n commented on #2050
@KoushikGoramane Can you provide some more information about your bot? For instance, have you trained you LUIS model prior to running the bot? Does your .env file include the correct keys for LUIS and Qnamaker?

If you can, share your .env file with us (without the secrets) so we can better help investigate. Thanks!

[2019-12-16 19:17] a-b-r-o-w-n commented on #2001
@samanulla This has been fixed and merged into master. Closing this issue. Feel free to re-open if you still have issues.

[2019-12-16 19:17] #2001 closed

[2019-12-16 20:48] dmvtech commented on #2016
hi @frayosh77 Any progress? Did my instructions make sense, or shall I clarify further?

[2019-12-16 23:26] CoHealer commented on #2008
Closing due to inactivity. @rutujlangalia , if @jwiley84's suggestion did not resolve your issue please feel free to reopen the issue.

[2019-12-16 23:26] #2008 closed

[2019-12-17 00:58] stevengum opened #2058 "Update JS/TS Echo bot samples and generators for speech"
The JS/TS samples and generators need to set the Speak tag on the outgoing Activities, which can be done via the MessageFactory.text() method. ([C# Example](https://github.com/microsoft/BotBuilder-Samples/blob/master/samples/csharp_dotnetcore/02.echo-bot/Bots/EchoBot.cs#L17)).

As Streaming in JS has gone GA, we should have language parity for supporting Direct Line Speech in JS without code chang

[2019-12-17 01:04] stevengum commented on #2058
Should also remove the experimental DLS JavaScript sample

[2019-12-17 01:04] stevengum opened #2059 "Update JS/TS Core Bot with webSocket support for DLS"

[2019-12-17 05:16] helenali19 opened #2061 "AttachmentBot failes to upload file"
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues) / [Java](https://github.com/Microsoft/botbuilder-java/issues)/ [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for genera

[2019-12-17 05:24] frayosh77 commented on #2016
@dmvtech, thanks for following up. If you could please clarify further : ). Also any idea on when the Python SDK would be available for production?

[2019-12-17 17:41] #2038 closed

[2019-12-17 18:27] dmvtech commented on #2016
Sure. Ok, since we have the bot itself working with appid/password, there is no need to test with blank credentials (that phase/step is done).

With the NLP (LUIS and QnA) failing, i'm sure it is just about getting everything lined up. Have you tested each of the LUIS and QnA endpoints on their own? Something like:

[code]

If so, _and_ each of those work, make sure those values map to the followi

[2019-12-17 18:34] dmvtech commented on #2016
Stand by for more info on Python SDK release information.

[2019-12-17 21:30] dmvtech commented on #2029
Hi @johnkellyjr

Yeah, this boils down to (I've learned a lot 😂) the difference in the TeamID and a GroupID. Basically the value you get (or in this case, need) from Graph is the AAD ID of the _group_.

You can get this value by using the following code (C#. I'm not sure what you're using):
[code]

More info is here:
https://docs.microsoft.com/en-us/microsoftteams/platform/bots/how-to/get-teams-co

[2019-12-17 21:30] #2029 closed

[2019-12-17 22:30] stevengum commented on #2058
FYI @dargilco, @Kaiqb

[2019-12-17 22:30] stevengum commented on #2059
FYI @dargilco, @Kaiqb

[2019-12-17 22:36] jwiley84 commented on #2061
Are you using sample #15? Because there are some extra steps needed in order to upload files to teams. This is outline in sample #56 (Teams-File-Upload).

[2019-12-18 03:01] mindncz commented on #2061
Yes, I was using sample #15. Sample #56 used cards to ask user to Accet/Reject the attachment which works in my environment. However, I want to attach a file with message directly like what #15 does.

This is the manifest I used.
{
    "$schema": "https://developer.microsoft.com/en-us/json-schemas/teams/v1.5/MicrosoftTeams.schema.json",
    "manifestVersion": "1.5",
    "version": "4.0",
    "id":

[2019-12-18 17:19] jwiley84 commented on #2061
Alright, let me see if I can repro this for you.

[2019-12-18 17:21] #1685 closed

[2019-12-18 18:45] EricDahlvang commented on #1718
Closing, since @jspruance PR cleaned this up.  https://github.com/microsoft/BotBuilder-Samples/pull/1788

[2019-12-18 18:45] #1718 closed

[2019-12-18 18:50] #1686 closed

[2019-12-18 21:51] mattcobb opened #2072 "501 from bot-authentication sample in MS Teams app but works on "Test in Web Chat""
## Sample information
1. Sample type: javascript_nodejs
2. Sample language: nodejs
3. Sample name: 18.bot-authentication

## Describe the bug
Authentication to Okta OAuth2 works fine through the Azure portal "Test in Web Chat". When used from MS Teams app, the bot sets a 501 in botFrameworkAdapter.js:748 .  InvokeResponse is undefined so it sets 501.

## To Reproduce
Steps to reproduce the behavio

[2019-12-18 21:58] mattcobb commented on #2072
My copy of the sample attached, minus my bot password and the node_modules dir:
[18.bot-authentication.zip](https://github.com/microsoft/BotBuilder-Samples/files/3980716/18.bot-authentication.zip)

[2019-12-18 22:08] EricDahlvang opened #2073 "Python samples should catch PermissionError and Exception"
## Sample information
Python samples should catch **PermissionError** and **Exception**, returning the proper response

## Describe the bug
For example, the Teams samples should handle invoke_response, and catch exceptions similar to:

[code]

note: https://github.com/microsoft/botbuilder-python/blob/master/libraries/botbuilder-core/botbuilder/core/integration/aiohttp_channel_service_exception_mid

[2019-12-18 22:24] EricDahlvang commented on #2073
Also: need to properly handle NotImplementedError (and BotActionNotImplementedError???) and return 501.

[2019-12-19 00:07] dmvtech commented on #2016
https://pypi.org/project/botbuilder-core/

Python is released.

[2019-12-19 00:08] dmvtech commented on #2050
Hi @KoushikGoramane just checking in. Do you still need assistance on this one?

[2019-12-19 06:13] mindncz opened #2077 "Add mention group / mention channel examples into #57"
Example #57 provides code to mention a specific user in an activity which works quite well.

While in Teams, mentioning a group or a channel is also supported in Teams app. I've tried several ways to achieve the same purpose via Bot SDK, unfortunately, they don't work.

Could #57 also contain the examples to mention a group or a channel via Bot SDK?

[2019-12-19 15:56] jwiley84 commented on #2072
Hi @mattcobb!

Sample 18 is not the best choice if you're looking for an example of how to set up OAuth in Teams. We have [Sample 46. Teams-Auth](https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/javascript_nodejs/46.teams-auth) that was designed around correcting the problem you describe.

In particular: the Oauth card sends an Invoke Activity to the bot, instead of the Event Ac

[2019-12-19 15:56] #2072 closed

[2019-12-19 18:23] jwiley84 commented on #1974
I'm sorry we weren't able to resolve what was going on with your bot. If you need further assistance on this matter, please feel free to reopen this issue.

[2019-12-19 18:23] #1974 closed

[2019-12-19 18:45] mattcobb commented on #2072
Thanks for looking into that. I tried the other sample and it works fine.  It also works in "Test in WebChat"

[2019-12-19 19:14] tracyboehrer opened #2079 "Discuss docs where Python Azure deployment restrictions should be placed"
Per the issue with not being able to mix Windows and Linux services in Azure (confirmed by design):

There is a callout in the "Deploy your bot" doc.  But there is a good argument that this could/should be placed in other areas.

[2019-12-19 23:10] dmvtech opened #2082 "Use Application Insights exception tracing for application insights sample"
Our current implementation of error handling, we only log. For the application insights sample, we should be using app insights _tracing_. Specifically for exceptions, this will give a much better user experience for reviewing and tracking down exceptions.

Working on PR.

[enhancement]

[2019-12-19 23:26] v-kydela commented on #2040
Closing due to inactivity

[2019-12-19 23:26] #2040 closed

[2019-12-20 10:14] saleemnasa opened #2084 "Is there any hook where I can process the all bots messages at one place before sending to the user?"
Is there any hook where I can process the all bots messages at one place before sending to the user?

I want to know about it in Node js.

Thank You

[2019-12-20 17:49] mdrichardson commented on #2084
@saleemnasa I believe you're looking for [middleware](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-concept-middleware?view=azure-bot-service-4.0).

The [multilingual sample](https://github.com/microsoft/BotBuilder-Samples/blob/master/samples/javascript_nodejs/17.multilingual-bot) shows an example of it, particularly with how it uses [`onSendActivities()`](https://github.com/micro

[2019-12-23 07:37] saleemnasa commented on #2084
Thank You @mdrichardson

[2019-12-23 15:39] #2084 closed

[2019-12-23 19:14] dmvtech commented on #2016
hi @frayosh77 Any luck?

[2019-12-23 21:29] mareekuh opened #2094 "Documentation and images refer to 'intent rule'"
Documentation here (Adaptive dialogs) in the Travel Agent bot refers to 'intent-rule' vs Intent and Steps (vs Actions).

https://github.com/microsoft/BotBuilder-Samples/blob/master/experimental/adaptive-dialog/docs/anatomy-and-runtime-behavior.md#anatomy-adaptive-dialog

[2019-12-25 15:03] kridenNabil opened #2090 "UnkownHost exception"
[code]

why does the RecognizeAsync would cause an exception ( UnknowHost Exception)

[2019-12-26 20:55] v-kydela commented on #2090
Hello @kridenNabil - welcome to the Bot Builder Samples repo.

Please understand that we would like to help you, but we need more information about your issue. There are a lot of samples in this repo, and you have not told us which sample you are trying to use. You can help us help you by linking to the sample you are having issues with.

You can use the [documentation](https://docs.microsoft.com/

[2019-12-26 22:02] #1994 closed

[2019-12-27 09:08] xtianus79 opened #2091 "Code Feature: When there is a hard error crash let the user gracefully enter back to the beginning of the main dialog loop"
**Is your feature request related to a problem? Please describe.**
when the user enters a bug and there is a hard error a message comes to the user that the bot is broken.  The problem with this is that if the user types anything else beyond that they will not receive any response -- albeit until they type something again or reenter into the bot as a member
**Describe the solution you'd like**
`aw

[2019-12-27 20:08] christopheranderson commented on #2091
Hey @xtianus79,

Thanks for opening up an issue.

First, a clarifying question: Is this a specific comment with our samples (this is our samples repo) or more of a feature request for the SDK? It seems like what you're asking for is the pattern.

Second, assuming this is more of a pattern thing, you do have a lot of control over error handling. You can wrap every `await` call and handle the errors

[2019-12-27 21:22] xtianus79 commented on #2091
@christopheranderson yes I believe this is more of a pattern thing.  Yes, I see what you're that in a dialog that is further down the flow you may now want to bring them back to the beginning of the main dialog... That's a good point and validation and your explanation above is well noted to handle errors down into dialog task flows.

For many use cases that don't have a dialog flow and more of a

[2019-12-27 21:22] #2091 closed

[2019-12-28 16:33] v-kydela commented on #2090
@kridenNabil - Are you still working on this?

[2020-01-01 18:13] dmvtech commented on #2016
Closing this as idle. Please reopen if further assistance needed.

[2020-01-01 18:13] #2016 closed

[2020-01-01 18:15] dmvtech commented on #2050
Closing this as idle. Please reopen if further assistance needed.

[2020-01-01 18:15] #2050 closed

[2020-01-02 18:29] #2094 closed

[2020-01-02 18:31] v-kydela commented on #2090
Closing due to inactivity

[2020-01-02 18:31] #2090 closed

[2020-01-02 19:16] vishwacsena commented on #2004
@deepak216 have you been able to take a look at response from clearab? Does that help?

[2020-01-02 19:17] vishwacsena commented on #2061
@jwiley84 any update?

[2020-01-03 23:00] jwiley84 commented on #2061
I am able to repro this, it's only happening in Teams, attempting to track down the cause.

[2020-01-03 23:10] jwiley84 commented on #2061
There's something in the following code it doesn't like (my debugger is acting up, so I'm going line by line):

[code]

It's kicking back the following stacktrace:

[code]

[2020-01-05 17:46] himmohit opened #2098 "When run botbuilder getting this error on command prompt."
![bot error](https://user-images.githubusercontent.com/59510466/71783752-56610e80-3011-11ea-868e-8f134b72ab9b.PNG)

[2020-01-06 06:48] vijaysaimutyala opened #2099 "Python Samples in Flask"
**Is your feature request related to a problem? Please describe.**
No
**Describe the solution you'd like**
All the samples were built using aiohttp. But Flask is a major web framework that Python Developers use and very easy to work with. Any particular design choice in choosing aiohttp over Flask ?

Would like to see few samples that utilize Flask.

[2020-01-06 17:35] mdrichardson commented on #2098
@himmohit I wasn't able to reproduce this error. Can you try a couple of things:

1. Ensure you ran `npm install -g windows-build-tools` in an elevated PowerShell
2. [Add `%SystemRoot%\System32\Wbem` to your System Environment PATH variable](https://superuser.com/a/1178758)

If that doesn't work, please let me know:

1. Your node version `node -v`
2. Your npm version `npm -v`
3. Your yeoman versio

[2020-01-06 17:37] dmvtech commented on #2082
Created PR.

[2020-01-06 17:37] #2082 closed

[2020-01-06 18:16] JonathanFingold opened #2101 "Update skill consumer's on error handler to cancel any active skill"
## Sample information
1. Sample type: [\samples\]
2. Sample language: [dotnetcore] [nodejs] [python]
3. Sample name: 80.skills-simple-bot-to-bot

## Describe the bug
As a best practice, the skill consumer, before clearing conversation state, should probably send an `endOfConversation` activity to any active skills. However, this sample does not do so.

## To Reproduce
Steps to reproduce the behavi

[2020-01-06 18:16] JonathanFingold commented on #2101
@gabog @EricDahlvang - Please let me know if you disagree.

[2020-01-06 18:55] EricDahlvang commented on #2101
I'm not sure that would be the best pattern, since the conversation has not actually ended.  If we send endOfConversation, the next message sent to the parent bot will not automatically be forwarded to the skill bot.  If we end the conversation, the skill invocation will need to be sent again to trigger the skill.  By clearing the conversation state, but not ending the skill, the next message sent

[2020-01-06 19:19] srinaath commented on #2099
@tracyboehrer Can you take a look a this ticket.

[2020-01-06 19:23] srinaath commented on #2077
@Virtual-Josh  Just assigned this ticket to you. Can you take a look at it when you get a chance

[2020-01-06 19:26] Virtual-Josh commented on #2077
Sure, I'll take a look.

[2020-01-06 20:17] Virtual-Josh commented on #2077
Hi @mindncz

Mentioning channels/group chats is done the exact same way as the sample, the only difference is what channel account/name are you piping in. You can use the code below to modify the mentions sample to reply to and mention the channel/group chat. You will need to @TheBot and @TheChannel (in that order) in the inbound message for it to work properly.

EX: (in a team) @MentionsBot @Gene

[2020-01-06 20:25] Virtual-Josh commented on #2077
As for adding this to the sample I'm not strictly opposed to doing that, but I'm also not sure if that would cause the sample to become overly complicated. I'll bat this idea around with a couple of people and see what the consensus is.

[2020-01-06 20:43] tracyboehrer commented on #2099
@vijaysaimutyala We are standardizing on aiohttp for our samples and recommended this web framework for building a production bot.  We started with Flask, but during our load tests we encountered an unacceptable number of failures that are linked to various async/await scenarios.

With that said, we also found Quart and Tornado acceptable, though aoihttp handled the highest requests per second.

A

[2020-01-06 21:49] JonathanFingold commented on #2101
Since our basic pattern is to clear conversation state, the consumer forgets that it was having a conversation with the skill, and forgets any associated information that went along with that. The user would have to trigger the consumer to start a new conversation, and then the skill would either start at the beginning, if the consumer generated a new conversation ID, or start in the middle, if th

[2020-01-07 01:09] #2058 closed

[2020-01-07 01:09] #2059 closed

[2020-01-07 01:33] mindncz commented on #2061
Is this an example issue or SDK issue?

[2020-01-07 02:46] mindncz commented on #2077
@Virtual-Josh
1)  I used the same code as you suggested when using"@mentionsbot @general" in the inbound message.
However, turnContext.Activity.Entities only contains @mentionsbot info. The @general is not included. So turnContext.Activity.Entities[1] throws exception.

2) I tried using the below code to generate mention info of @General.
`
            var mention = new Mention {
             Ment

[2020-01-07 06:35] vijaysaimutyala commented on #2099
Thanks for the info @tracyboehrer. We built our bot on top of Flask and since we've a low traffic, I didn't experiment enough with the load tests. Good to hear that aiohttp handles that part well. We'll try to see how easy/difficult it would be to making the switch or if we could just keep using Flask.

[2020-01-07 08:08] vijaysaimutyala commented on #2099
Just wanted to ask how different is the ARM deployment via Azure CLI compared to local git deployment ? Will there be drastic difference between the two ? Will ARM template be deployed same as local git deployment ?

[2020-01-07 17:10] tracyboehrer commented on #2099
@vijaysaimutyala The ARM templates are doing a lot of the grunt work to setup the App Registration, Bot Channel Registration, and the App Service (and associated Service Plan).  The only difference between the different web frameworks used is the startup command.  Azure auto-detects a Flask app and will start it accordingly.  For other web frameworks, the startup must be specified (see appCommandL

[2020-01-07 20:33] gabog commented on #2101
Let's address this one as part of R8, if we want the adapter to send the EndOfConversation message to the skill in the AdapterWithErrorHandler code, we will need to send pass the SkillHttpClient to the AdapterWithErrorHandler and also make sure the AdapterWithErrorHandler knows the conversationState property accessor used by the bot to track the active skill.
Another approach would be to add a try

[2020-01-07 21:49] zxyanliu opened #2103 "Broken link in common expression langauge doc"
## Describe the bug
The following link is broken in the [common expression language](https://github.com/microsoft/BotBuilder-Samples/tree/master/experimental/common-expression-language) article.
![image](https://user-images.githubusercontent.com/32497439/71932147-22dacd00-3154-11ea-90f1-93b2f7ab9eae.png)

## Expected behavior
I was wondering if it should be pointed to the language generation templ

[2020-01-07 23:18] #960 closed

[2020-01-08 02:46] honorew opened #2104 "Unable to reach app. Please try again."
Create app at App Studio and create Messaging Extensions, add bot for it then  create a query command.

![image](https://user-images.githubusercontent.com/43129995/71946200-157d1b80-3204-11ea-91d9-cc81d35d6e98.png)
below is my manifest.json file.
![image](https://user-images.githubusercontent.com/43129995/71946181-05fdd280-3204-11ea-9760-0eaf1e7a0de5.png)

[2020-01-08 05:12] vijaysaimutyala commented on #2099
Sure @tracyboehrer . Thanks :)

[2020-01-08 05:12] #2099 closed

[2020-01-08 17:04] Virtual-Josh commented on #2077
@mindncz

Two things.

First, here's a screenshot of the code that works for me and the message I sent to make it work.

[code]
![image](https://user-images.githubusercontent.com/50158775/71998974-6afdfc00-31f5-11ea-82b8-ea0201357478.png)

Try this and let me know if it doesn't work for you.

Second, I just found out that only whitelisted bots should able to @SomeChannel so while this will this wi

[2020-01-08 17:39] jwiley84 commented on #2104
When you created the app, did you create a new bot through app studio, or did you add an existing bot?

[2020-01-08 18:45] mdrichardson commented on #2098
@himmohit Are you still having this issue?

[2020-01-08 20:41] Zerryth opened #2106 "SkillConversationIdFactory in Skills samples does not create unique key if Root Bot consumes multiple Skills"
## Sample information
1. Sample type: samples
2. Sample language: across all SDKs
3. Sample name: 80.skills-simple-bot-to-bot

## Describe the bug
The team seems to be sending the message that a Skill Consumer can consume multiple Skills
And in order to implement skills, you must create a `SkillConversationIdFactory`

However the `SkillConversationIdFactory` that we show in the sample as we have i

[2020-01-08 20:50] scheyal commented on #1707
@garypretty  - can you point us to recent samples that can be used to drive corresponding documentation?
See also: https://github.com/microsoft/botframework-sdk/issues/5706

[2020-01-08 21:13] axelsrz opened #2107 "Port tests for sample 13 in python"
Parity with C# and JS

[2020-01-08 23:27] jwiley84 commented on #2061
Further debugging has show that this particular error is occurring in every test I run EXCEPT the emulator. This option does not work while ngrok'd into Teams, Facebook or webchat, or in a deployed bot using the 'Test in Webchat' feature. Escalating.

[2020-01-09 00:47] honorew commented on #2104
@jwiley84 yes,I add an existing bot,but it's no work,then i create a new one,it's ok,i don't know why.
thanks

[2020-01-09 00:47] #2104 closed

[2020-01-09 03:14] mindncz commented on #2077
@Virtual-Josh
1)
I used the same code again.
![MentionCode](https://user-images.githubusercontent.com/46016028/72034788-e7dcb480-328d-11ea-96df-8d6778f0fbae.png)

However, turnContext.Activity.Entities still only contains @mentionsbot info. The @General is still not included. So turnContext.Activity.Entities[1] throws exception.

![MentionChannel](https://user-images.githubusercontent.com/46016028

[2020-01-09 09:04] KoushikGoramane opened #2108 "Bot Authentication error"
While running the Bot Authentication I am getting following error

In env file I have given all the details , still I am getting the error.

[code]

[2020-01-09 17:05] jwiley84 commented on #2104
I know you closed this, but just in case: I would check on the existing bot you chose in the first step: it seems that it might be down, or unreachable. Either way, I'm glad this is working for you now!!

[2020-01-09 17:37] mjanulaitis opened #2110 "MultiTurnPromptBot responds out of order when run via Microsoft Teams"
## Sample information
1. Sample type: Sample
2. Sample language: dotnetcore
3. Sample name: MultiTurnPromptBot

## Describe the bug
Conversation is out of order when run via Teams

## To Reproduce
Steps to reproduce the behavior:
1. Publish to team.
2. Run in teams
3. Notice questions are re-asked and appear out of order.

## Expected behavior
Waterfall steps should be maintained

## Screenshots
!

[2020-01-09 17:46] Virtual-Josh commented on #2077
I'm using the current version of the SDK. If you're only seeing 1 element in the entity object that would suggest to me that somewhere in your code you're calling `RemoveRecipientMention`. If you're using sample #57 that's the first thing that happens in the `onMessageActivity`. The easiest way to see this work is by putting this code

[code]
before the `RemoveRecipientMention` call and if you are

[2020-01-09 20:43] CoHealer commented on #2061
Adding @EricDahlvang to assist.

[2020-01-09 22:21] dmvtech commented on #2108
What channel are you using? Is this a deployed bot or running locally and/or using the emulator to test?

[2020-01-10 01:16] EricDahlvang commented on #2061
Hi @mindncz

I don't think Option 3 of Sample 15 is going to work on Teams, since the Teams channel requires consent to upload files.  Sample 56 is for Teams files, and demonstrates the FileConsentCard.

However, I did test out Option 3 on WebChat and DirectLine where this should work as expected.  We have escalated this issue internally.  Thank you for reporting.

[2020-01-10 02:08] mindncz commented on #2061
Hi @EricDahlvang

Thanks for the reply.

As every member belong to a Team could upload files to Teams channel via Teams desktop client or web without any consent, is the content required to upload files only apply to bots? And what's the design reason behind this, just want to better understand it.

[2020-01-10 08:05] mindncz commented on #2077
@Virtual-Josh
Thanks for the reply.

I created a web app bot "TestMentionBot1" via Azure using the default EchoBot template. And then only changed EchoBot.cs using your code as the following:
![Code](https://user-images.githubusercontent.com/46016028/72135673-f8208c80-337e-11ea-9d2b-14bf5b1e34f6.png)

The behavior is as the following:
![Behaviour](https://user-images.githubusercontent.com/46016028

[2020-01-10 17:03] Virtual-Josh commented on #2077
Hey @mindncz

I think I might know what's going on. I received word yesterday that the whitelisting bots is actually currently in production. For some reason my bot is whitelisted despite that bot only being created earlier this week. There's someone digging into understanding that.

At this point I suspect you bot might not be whitelisted. I'm asking for the right email/contact point so that you

[2020-01-11 00:45] dmvtech commented on #2110
@mjanulaitis  Unfortunately, I'm not able to reproduce this. What version of bot SDK are you running? (I'm running 4.7.0)

[2020-01-12 05:44] mjanulaitis commented on #2110
@dmvtech  I am running version 4.7.0.

[2020-01-12 13:57] himmohit commented on #2098
Ofcourse, my windows build tools giving me error there...

On Thu 9 Jan, 2020, 12:15 AM Michael Richardson, <notifications@github.com>
wrote:

[2020-01-12 15:01] carlosromero68 commented on #1974
@jwiley84 - I'm having the exact problem. Can we reopen this issue?

[2020-01-13 14:37] tracyboehrer commented on #2101
Dotnet: #2109
JS: #2115

[2020-01-13 16:09] mdrichardson commented on #2098
@himmohit Unfortunately, Windows Build Tools is required. Installing through PowerShell always worked best for me. Alternatively, you could start by cloning [the samples repo](https://github.com/microsoft/botbuilder-samples) and using one of the samples, instead of using yeoman.

As this appears to be an issue with `windows-build-tools`, I'll close this issue. Feel free to re-open if you feel the

[2020-01-13 16:09] #2098 closed

[2020-01-13 18:16] JonathanFingold opened #2116 "Python skill bot for sample 80 fails to send endOfConversation on a turn error"
## Sample information
1. Sample type: [\samples\]
2. Sample language: [python]
3. Sample name: 80.skills-simple-bot-to-bot

## Describe the bug
In the **echo-skill-bot**\app.py file, the on turn error handler should send an `endOfConversation` activity before exiting, but doesn't.

The echo skill bot adapters for the corresponding C# and JavaScript adapters do send this activity before exiting, as

[2020-01-13 18:45] Virtual-Josh commented on #2077
Hey @mindncz

We (as the SDK team) don't have the ability to whitelist a bot. You need to contact the Teams support team:

microsoftteamsdev@microsoft.com

and ask them about the whitelisting. I'm told they can answer your question.

[2020-01-13 21:57] axelsrz opened #2117 "Port echo sample to quart library"
Port the python 02.echo-bot sample to the quart library

[2020-01-13 21:58] axelsrz opened #2118 "Port echo sample to tornado library"
Port the python 02.echo-bot sample to the tornado library

[2020-01-13 21:59] axelsrz opened #2119 "Port core-bot sample to quart library"
Port the python 13.core-bot sample to the quart library

[2020-01-13 22:00] axelsrz opened #2120 "Port core-bot sample to tornado library"
Port the python 13.core-bot sample to the tornado library

[2020-01-14 01:29] scheyal opened #2123 "Create a bot illustrating real-life complex dialog hierarchy using V4.7 dialog system"
## Bot Showcase with Real-life Complex Sample Code

__(based on earlier conversations)__

Consider creating a bot showcase illustrating real-life complex dialog hierarchy.

* Use GA SDK versions
* Use dialogs with common complex patterns such as loops, non-sequential flows
* Walkthrough from concept design to live implementation
* Integrated with QnaMaker and/or LUIS
* Deployment
* And deploy samp

[2020-01-14 01:37] mindncz commented on #2077
@Virtual-Josh
Thanks for the reply. I will contact them.

[2020-01-14 09:47] UtkarshTrehan-icloud opened #2126 "qnamaker-all-features sample | Cannot read property 'callTrainAsync' of undefined"
## Cannot read property 'callTrainAsync' of undefined
1. Sample type: samples
2. Sample language: nodejs
3. Sample name: 49.qnamaker-all-features

## Describe the bug
When the user gives feedback, selecting one of the answers.

Web Chat screen:
- The bot encounted an error or bug.
- To continue to run this bot, please fix the bot source code.

Terminal:
-  [onTurnError] unhandled error: TypeError:

[2020-01-14 10:47] pesarkhobeee opened #2127 "[Python][Teams] Provide a sample that shows how to send a message to a channel"
I was trying to send a message to one Microsoft teams channel with help of below example:
https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/python/16.proactive-messages
I added this code to the example in order to initiate a message:
[code]
But it didn't work, and I tried many different ways and none of them worked too, always the error is:

File "/home/farid/works/16.proactive-m

[2020-01-14 15:11] #2120 closed

[2020-01-14 15:11] #2118 closed

[2020-01-14 15:28] #2119 closed

[2020-01-14 15:29] #2117 closed

[2020-01-14 15:49] BGHSys opened #2129 "Unable to find a QnA Maker service with Knowledge Base ID ..."
### Github issue for repository \BotSamples\BotBuilder-SampleKB\samples\csharp_dotnetcore\48.qnamaker-active-learning-bot

Sample language: [csharp_dotnetcore]
Sample name: <48.qnamaker-active-learning-bot>

I create a QnA service, KB and bot on the QnA Maker web site. I successfully publish my KB. I take the Postman credentials and put these into appsettings.json. I build and run the VS 2019 proj

[2020-01-14 16:52] dmvtech commented on #2108
@KoushikGoramane Just checking in. Do you still need assistance with this?

[2020-01-14 19:14] scheyal commented on #2004
Closing due to inactivity.

[2020-01-14 19:14] #2004 closed

[2020-01-14 19:23] Virtual-Josh commented on #2127
Hi @pesarkhobeee

The sample you're looking for currently does not exist. It's on the schedule to do this cycle so we'll get it out relatively soon. In the mean time here's the code (in C#) you need to send a message directly to a channel. I'll look to see if I can find this code in Python:

[code]

[2020-01-14 22:09] #2116 closed

[2020-01-14 22:09] dmvtech commented on #2110
@mjanulaitis Are you able to reproduce the issue when debugging locally and using [ngrok](https://blog.botframework.com/2017/10/19/debug-channel-locally-using-ngrok/)/service bus? I'm wondering if we can maybe figure out why it is doing this in that way.

Alternatively, have you configured either your bot or bot channels registration for Application Insights? We can also use that to get an idea of

[2020-01-14 22:14] jwiley84 commented on #2126
You are correct in the additional context. I was able to repro your issue, and with the change you suggested, it was fixed. I'll go ahead and submit a PR to get this corrected.

Thank you for finding this!

[2020-01-15 00:31] anusharavindrar commented on #2129
@BGHSys Can you specify what version of the Emulator you are on? Also, can you post on what error are you getting on the VS?

[2020-01-15 04:08] himmohit commented on #2098
I tried that as well but am getting error there.

On Mon 6 Jan, 2020, 11:05 PM Michael Richardson, <notifications@github.com>
wrote:

[2020-01-15 12:50] BGHSys commented on #2129
I am using version 4.7.0. I don't get any errors in VS. The output window is clean with no errors or warnings.  Then I get a browser window "Your Bot is Ready! You can test your bot in the emulator ... http://localhost:3978/api/messages. Then I open the emulator, sign in to Azure, click "Open Bot". Then I enter the message "Hi" and the response is "the bot encountered and errror ..." and in the tr

[2020-01-15 15:57] pesarkhobeee commented on #2127
Hi @Virtual-Josh , today I even tried NodeJS (I am not a C# developer) and  I tried to send a message to a MS teams channel as you said, it didn't work, with different parameters, it is working when I am sending a message to a user but it is not when I am sending to a channel like yours, you can see my code and the output:

[code]

[code]

[2020-01-15 16:01] #2073 closed

[2020-01-15 16:20] mdrichardson commented on #2098
@himmohit You may want to [open an issue in the `windows-build-tools` repo](https://github.com/felixrieseberg/windows-build-tools/issues/new)

[2020-01-15 22:59] anusharavindrar commented on #2129
@BGHSys I am also on the same version 4.7.0 and tested the sample and it works fine. Given the error you are getting above, can you double-check if your KB is published and also the qnamaker KB credentials in the appsettings.json are entered correctly? You can also make use of [POSTMAN](https://docs.microsoft.com/en-us/azure/cognitive-services/QnAMaker/Quickstarts/get-answer-from-knowledge-base-us

[2020-01-15 23:57] BGHSys commented on #2129
The KB is published successfully because I can access it using a different bot. I have checked the qnamaker KB credentials again and they are exact for those 3 elements in appsettings.json. If I use POSTMAN, with the endpoint URL that it provides https://POSTMANURL.azurewebsites.net/qnamaker it gives a 404 Not Found error. How could that be?

[2020-01-16 00:07] anusharavindrar commented on #2129
@BGHSys so you are using the KB's credentials in another bot and it behaves as expected? Can you attach a screenshot of the POSTMAN page error? Also, when you state 'Do not have this issue with any other of the samples for QnA', do you mean that this particular KB works for all other qnamaker bot samples but the active-learning-bot sample?

[2020-01-16 10:44] KoushikGoramane commented on #2108
@dmvtech I am trying to running it from emulator , now I am not getting that error.

But after clicking on signin its not going to the microsoft signin page. It will prompt oauth://<some value>|livechat and after clicking on confirm , its not logging into my account.

I am trying this following sample
https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/javascript_nodejs/46.teams-au

[2020-01-16 13:39] BGHSys commented on #2129
That's right. There is another VS sample in this repository called "49.qnamaker-all-features" which uses the same appsettings.json file and it returns answers in the Emulator although there is the same Trace error - "Unable to find a QnA Maker service with Knowledge Base ID ... Please add a QnA Maker service to your bot." but this doesn't effect it from giving answers. This bot also works with Web

[2020-01-17 03:04] mindncz commented on #2077
@Virtual-Josh
I've sent them an email this Monday however no reply has been received.

[2020-01-17 05:42] gabog commented on #2106
Not really sure I understand what the but is. Our current framework only allows to interact with one skill at a time. It should be ok use the same conversation ID for two different skills. Have you run into any issues doing this?

We will change this in R8 to address other scenarios related to adaptive and oauth but I'm curious to know if you had any problems sharing the same conversation id with

[2020-01-17 08:48] Deepakgupta6 commented on #2108
I am also getting similar error.

Trying to run the sample https://github.com/Microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/24.bot-authentication-msgraph and test with Emulator.

We have done the app registration in Azure AD as per suggested in the link https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-authentication?view=azure-bot-service-4.0.

The test connectio

[2020-01-19 18:32] tutul2010 opened #2137 "problem when try to call a another resp-api at at Botframework-V3+C#.net"
Hi,
I stuck with a problem as..
When i was trying to call another Rest Api end point (rest-api done at dotnetcore 2.1) by Post-verb method at Botframework-V3+C#.net .
Problem is like as **debugger point(at Visual studio 2017 IDE) was not returning  to Botframework-V3 code after calling to api**.
The Rest-Api app (developed at dotnetcore 2.1) was done by our team and it is working file by Postman t

[2020-01-20 10:29] krisalay opened #2138 "Invalid Signature while authenticating JWT token"
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues) / [Java](https://github.com/Microsoft/botbuilder-java/issues)/ [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for genera

[2020-01-21 00:57] stevkan commented on #2138
@krisalay, technically, I was able to repro this issue using a token generated from an AAD OAuth2 connection in my bot's Azure settings while running sample "46.teams-auth". I verified that the value of "x5t" property in the algorithm header matched the x5t value located in the openid-configuration => keys endpoint, so the correct connection was being called. However, whether using the generated p

[2020-01-21 01:07] krisalay commented on #2138
@stevkan I tested the token on jwt.io as well as jsonwebtoken.io. At both the websites, I am getting invalid signature.
Also, when I am making an api call to https://graph.microsoft.com/v1.0/me/ with the JWT token in authorization header, I am able to get the response back, it means the token is getting validated on the microsoft side.
But the validation is failing (invalid signature) with any JWT

[2020-01-21 02:57] adamist521 commented on #1686
@kunalkankariya
Could you show me how you did it in 4.6?

[2020-01-21 13:36] KoushikGoramane opened #2139 "How to do certificate based authentication?"
In this sample we uses the Microsoft secret to do the authentication but if we wants to do the certificate based authentication then how to implement that in the code?

How to setup this in bot channel registration?

[2020-01-21 13:58] fridaidev opened #2140 "Direct line speech - There was an error sending this message to your bot."
May be Github issues for [JS](https://github.com/Microsoft/botbuilder-js/issues)

Direct line speech channel with experimental echo bot - https://github.com/microsoft/BotBuilder-Samples/tree/master/experimental/directline-speech/javascript_nodejs/02.echo-bot

is giving - There was an error sending this message to your bot. error.

Is there working sample or way to debug more specifically for nodej

[2020-01-21 15:43] mdrichardson commented on #1686
@adamist521 [Here you go](https://github.com/microsoft/BotBuilder-Samples/blob/master/samples/csharp_dotnetcore/57.teams-conversation-bot/Bots/TeamsConversationBot.cs#L107)

[2020-01-21 16:11] adamist521 commented on #1686
@mdrichardson
thx! Should this be also possible for nodejs?
Can't find sample for nodejs...

It seems that following link seems to be doing different compared to c# one... (replying to coversation)

https://github.com/microsoft/BotBuilder-Samples/blob/a66d06f7feff10168591cbac0181ae2ec09f29bd/samples/javascript_nodejs/57.teams-conversation-bot/bots/teamsConversationBot.js#L117

[2020-01-21 16:29] mdrichardson commented on #1686
@adamist521 Yes, you can do that in Node as well using the code you linked. It's just shown a different way from the C# sample

[2020-01-21 16:36] mdrichardson commented on #1987
Closing since this is in the Community Repo now

[2020-01-21 16:36] #1987 closed

[2020-01-21 17:21] Virtual-Josh commented on #2077
@mindncz
Last week there was a lot of snow here in Seattle. A lot of people were out due to the weather. I'd recommend sending a follow up.

[2020-01-21 17:52] #2126 closed

[2020-01-21 19:50] anusharavindrar commented on #2129
@BGHSys for the sample 49.qnamaker-all-features, it might be due to this reported [issue](https://github.com/microsoft/BotFramework-Emulator/issues/1586) that although you are getting the same trace error but still your QnAMaker service works as expected. Now coming to the sample 48.qnamaker-active-learning-bot, can you try testing the sample with another QnAMaker KB just to narrow down the error?

[2020-01-21 19:53] dmvtech commented on #2108
After clicking confirm, it is not bringing up a modal dialog? Or is it not allowing you to login once you try and sign in to your account? Did you previously select 'keep me signed in'?

What is the actual behavior? Just nothing happening? Does the bot return with any response (even if you type new messages to it)? Any errors in the emulator at this point?

What do you have configured in the [emul

[2020-01-21 21:39] mmiele commented on #2108
@KoushikGoramane Let me see if I understood the problem you are facing. You said the following:
1. You are using the bot sample https://github.com/Microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/24.bot-authentication-msgraph.
1. You deployed the bot to Azure following the steps described in this article: https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-authenticati

[2020-01-21 23:42] dmvtech commented on #2139
The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/BotBuilder/blob/master/README.md) repos are the preferred platform for submitting **bug fixes** and **feature requests**.

[2020-01-21 23:44] dmvtech commented on #2139
Unfortunately there is no way to do this _currently_. The connector sits in the middle and would have no awareness of the certificate solution.

Do you have any concerns with the current auth model or reason to use certs over secret?

[2020-01-21 23:46] dmvtech commented on #2139
To further clarify; you are talking about bot authentication and not user authentication, correct?

[2020-01-22 03:28] Deepakgupta6 commented on #2108
Please find my reply

The first two points are correct. I tried the sample and deployed the app in Azure.
However i am not able to login using emulator.

I am running the bot locally and using channel webchat

Application is returning below token id and exception

d26897a1-3b6f-11ea-a613-31996ee41bc2|livechat
{Code: InvalidAuthenticationTokenMessage: CompactToken parsing failed with error code: 80

[2020-01-22 03:40] Deepakgupta6 commented on #2108
@dmvtech Please find my emulator settings and bot screen shots with exception in the attached file.
[Emulatorsettings.docx](https://github.com/microsoft/BotBuilder-Samples/files/4095162/Emulatorsettings.docx)

[2020-01-22 04:21] kevinyang372 commented on #2127
@Virtual-Josh

I am also having the same issue when trying to proactively send a message to MS team channels in NodeJS.

With Botkit, I am able to proactively **reply** to a message previously sent in the channel (Similar to the javascript sample given [here](https://docs.microsoft.com/en-us/microsoftteams/platform/bots/how-to/conversations/send-proactive-messages?tabs=javascript)) but I couldn't

[2020-01-22 04:32] Virtual-Josh commented on #2127
@pesarkhobeee
I'm working on writing a Python version of the above linked code. I'll send it over once I finish it.

@kevinyang372
You can view the JS version here:

https://github.com/microsoft/botbuilder-js/blob/master/libraries/botbuilder/tests/teams/replyToChannel/src/replyToChannelBot.ts

If that doesn't work for you let me know.

[2020-01-22 10:53] KoushikGoramane commented on #2139
Yes I am talking about the bot authentication and also user authentication using certificate.

We are following certificate based approach in other project also so we have to integrate bot to that project so I wanted certificate based approach.

[2020-01-22 11:06] KoushikGoramane commented on #2108
The first and second point is right but I am not able to login in emulator, in azure portal login will happen.

Signin option will come and after that if I click on it one popup will open and it shows
"oauth://connectionname&&id||livechat" below that confirm button will be there. After clicking on confirm I am not getting any response from the bot, basically its not logging in.

[2020-01-22 11:15] KoushikGoramane commented on #2108
After clicking on confirm I am not getting any reply or error from bot.  If I type the new message again sign in option will come and if select it popup will come for the confirm but after that nothing I am not getting reply.

I did not select "keep me signed in" option.

Emulator setting
These check boxes I have selected
* ngrok path
* Use a sign-in verification code for OAuthCards
* Bypass ngrok

[2020-01-22 17:33] stevkan commented on #2140
Did you add the Direct Line Speech channel to your bot, enable the streaming endpoint, and verify websockets is enabled in your app service configuration?

[2020-01-22 20:22] maximicciullo opened #2143 "Samples csharp_dotnetcore 19.custom-dialogs does not work using BF emulator"
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues)
## Sample information
1. Sample type: sample
2. Sample language: dotnetcore
3. Sample name: 19.custom-dialogs

## Describe the bug
After I ran the app doing 'dotnet run', when I try to use the emulator I got the following error in console log.

[code]
## To Reproduce
Steps to reproduce the behavior:
1. Go to '../botb

[2020-01-22 22:27] fridaidev commented on #2140
Yes, all set

[2020-01-22 22:39] Virtual-Josh commented on #2127
@pesarkhobeee

Here's the Python code needed to send a message to a channel. I've also included code if you wanted to reply to that new thread you made.

[code]

You will need to pass in the app_id into the bot since that's needed. My `app.py` file has that 1 update.

`BOT = TeamsConversationBot(CONFIG.APP_ID)`

Let me know if either of you have any additional questions/concerns.

[2020-01-22 22:44] Virtual-Josh commented on #2077
Closing this ticket since there's a bug with Teams to remove the ability to do this.

[2020-01-22 22:44] #2077 closed

[2020-01-23 08:13] alexkrytsky commented on #2139
hi @dmvtech. The concern with the current auth model is that the secret is checked in to the code. Since the code is available to many people, the secret would be exposed. If we don't check in the secret and just add it when we deploy, I'm not sure that we will have an option to use CD to automate the deployment process.
Do you have any solution for this?
Can we use user credentials to get a secre

[2020-01-23 12:03] pesarkhobeee commented on #2127
Thanks @Virtual-Josh
I saw you added a new complete sample here too:
https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/python/58.teams-start-thread-in-channel

I was soo waiting for this, let me dive into that to investigate the possibilities ;)

[2020-01-23 13:06] pesarkhobeee commented on #2127
@Virtual-Josh I tested it, It is really good, thank you, just two feedback and personal opinion:
* First it could be great if we can trigger the creation of a  conversation programmatically in your sample code without passing weird arguments, something like:
` sendMessageToChannel(channelID,messageContent)`
some straight forward example like this:
https://github.com/microsoft/botbuilder-python/tre

[2020-01-23 13:53] garypretty commented on #2012
C# sample updated in PR #2031 - Merged.
JS sample added in PR #1773 - Merged.

Updated to JS sample to use latest bits and bring parity with C# in PR #2147 - Awaiting review.

[2020-01-23 13:55] garypretty commented on #1921
Docs and sample for C# now up to date.

[2020-01-23 13:55] #1921 closed

[2020-01-23 14:07] garypretty commented on #1707
@scheyal JS sample now available (sample 21) - small PR #2147 open to update the sample to use the latest pieces

[2020-01-23 16:22] jwiley84 commented on #2143
https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/19.custom-dialogs doesn't have a /composerDialogs directory.  This is not a base sample. I can see that you're discussing the issue with @vishwacsena and @stevkan [here](https://github.com/microsoft/botbuilder-dotnet/issues/3105) so i'm going to close this as a duplicate, so all the work for this issue can be tra

[2020-01-23 16:22] #2143 closed

[2020-01-23 16:56] EricDahlvang commented on #1681
Thanks to @leolorenzoluis we have a few more Typescript samples now.

Closing this.

[2020-01-23 16:56] #1681 closed

[2020-01-23 17:26] Virtual-Josh commented on #2127
@pesarkhobeee

I'm glad I was able to get you sorted out. I know there's some deltas between specific verbiage in Teams vs the framework. I'll see about updating the read me to make that distinction. I'll also give some thought to your suggestion about adding a helper for starting a new thread in a channel.

I'm going to close this ticket. If you have any other questions feel free to reach back ou

[2020-01-23 17:26] #2127 closed

[2020-01-23 17:56] johnataylor opened #2148 "review C# samples for consistent and correct passing of CancellationToken"
review C# samples for consistent and correct passing of CancellationToken

[2020-01-23 18:20] maximicciullo commented on #2143
@jwiley84, I'm just trying to follow the instruction that you've defined in your readme file and is not working ... Nothing related to the other issue!!!

[2020-01-23 19:08] Virtual-Josh commented on #2106
@Zerryth Can you please elaborate for Gabo? If this isn't an issue can you close?

[2020-01-23 19:10] Virtual-Josh commented on #2139
We support, in JS and C#, bot auth via cert. We do not support user auth via cert. @dmvtech can add more details if you're interested.

[2020-01-23 19:12] Virtual-Josh commented on #2138
hey @stevkan can you provide an update on this ticket?

[2020-01-23 19:16] #2028 closed

[2020-01-23 20:15] dmvtech commented on #2110
hi @mjanulaitis Just checking in. Did you still need assistance. Wondering if we can do any of the steps I mentioned above to further troubleshoot the issue.

[2020-01-23 20:18] mjanulaitis commented on #2110
The bug never appears when run locally.  I can build any of the Microsoft samples and push them to Azure.  They all have the same issue.

[2020-01-23 20:20] dmvtech commented on #2110
Ah, ok. Let me run some more tests.

[2020-01-23 20:51] garypretty commented on #1707
@scheyal - PR #2147 has now been merged.  This is now available to support update of docs.

[2020-01-23 20:51] #1707 closed

[2020-01-23 20:55] garypretty commented on #1937
Sample has been updated to reflect latest core bot sample changes in 4.5.1 including deployment templates and readme parity.

[2020-01-23 20:55] #1937 closed

[2020-01-23 22:07] Zerryth commented on #2106
Sorry Gabo! Didn't realize you commented!

Hmm...perhaps I am mistaken?

I was thinking the scenario that if I had a Root bot that called 2 skills (say Checkout skill and CustomerService skill), would I not want to have 2 different keys then for Root-Checkout and Root-CustomerService to ensure that they are in 2 separate conversations?

If the key is created with ChannelId:Convo.Id, then wouldn't

[2020-01-23 22:11] Zerryth commented on #2106
But I see, if we're only interacting with 1 skill/time, then there wouldn't be a need to have 2 root-skill level conversation references

Made this issue when I was making a higher-level UML diagram (for reference):

![image](https://user-images.githubusercontent.com/35248895/73028308-1f993f80-3dea-11ea-8106-ca130a9ddfed.png)

* A root bot can consume many skills
* A skill can be consumed by many

[2020-01-24 00:25] dmvtech commented on #2108
@KoushikGoramane

Can you confirm; are you using sample # **46** as originally said, or # **24** as @Deepakgupta6 is using and @mmiele mentioned?

Interesting. You should be getting another window after the confirm popup. This window is the one that allows you to put in the oauth creds, authenticate, etc. I'll keep looking into this and get back to you.

@Deepakgupta6 I'll check into your issue. m

[2020-01-24 00:40] EricDahlvang commented on #1727
Closing as resolved. Thanks @garypretty  !

[2020-01-24 00:40] #1727 closed

[2020-01-24 05:31] KoushikGoramane commented on #2108
@dmvtech  I am using #46 teams-auth sample.
After clicking on confirm I am not getting any further popup or any kind of message, but if I deploy the same code in azure then it works there.

Because of this locally I am not able to test the code. Please help me out from this issue.

[2020-01-24 18:59] johnataylor opened #2152 "Update all arm templates so they handle pre-existing app service plans better"
refer to this PR:

https://github.com/microsoft/BotBuilder-Samples/pull/2136

[2020-01-24 19:07] Virtual-Josh commented on #2140
@stevkan  Can you provide an update on this ticket?

[2020-01-24 22:45] #2103 closed

[2020-01-24 23:03] stevkan commented on #2140
@fridaidev, unfortunately, I wasn't able to repro the issue. I tested using the experimental [02.echo-bot](https://github.com/microsoft/BotBuilder-Samples/tree/master/experimental/directline-speech/javascript_nodejs/02.echo-bot) sample you listed above.

A few questions for you:

- What client are you testing this on (Emulator, Test in Web Chat, Web Chat, etc.)?
- Are you running this purely local

[2020-01-25 10:31] Chekrii opened #2153 "[TaskModule][BotFrameworkV4][.Net]How to show an Adaptive card in Task Module in OnTurnAsync();"
Hello,

I am displaying an adaptive card with button of submit - "data":{"msteams":{"type":"task/fetch"}",
On click on this Task module is getting pop up but I am not able to return another adaptive card on it.
I can return by using "Task<TaskModuleResponse> OnTeamsTaskModuleFetchAsync()" method.

Is there any way that I can return adaptive card to task module by using OnturnAsync(),

If I use Ont

[2020-01-25 12:07] fridaidev commented on #2140
@stevkan My answers inline

- What client are you testing this on (Emulator, Test in Web Chat, Web Chat, etc.)?
If I am not wrong, we can't configure Emulator or Test in Web Chat to invoke particular channel like Direct Line Speech. It by default goes to Direct Line. Please correct me if I am wrong, help me with steps to setup Direct line speech channel in Emulator. I used [a.direct-line-speech](h

[2020-01-25 18:14] HiltonGiesenow commented on #2153
Worth mentioning that this is also asked on SO at https://stackoverflow.com/questions/59908265/how-to-respond-to-task-fetch-in-onturnasync-in-bot-framework-v4/59912089#59912089

[2020-01-26 17:06] sgellock commented on #2123
I think we should do a white paper to address these items.

[2020-01-27 14:01] KoushikGoramane commented on #2108
@dmvtech  The problem is with the version of the emulator. With the latest version authentication probem is there but with the version 4.2.1 auth works fine. So please fix this issue.

Following settings works
version: 4.2.1
path to ngrok
checkbox: Use a sign in verification code for OAuthCards
checkbox: Bypass ngrok for local addresses

[2020-01-27 16:50] anusharavindrar commented on #2129
@BGHSys do you still need help? Did you get the sample to work?

[2020-01-27 17:42] anusharavindrar commented on #2153
@Chekrii I see @HiltonGiesenow has already answered your question on Stack Overflow which has been accepted. The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/BotBuilder/blob/master/README.md) repos are the preferred platform for sub

[2020-01-27 17:42] #2153 closed

[2020-01-27 20:37] BGHSys commented on #2129
Can you please close. I went with the sample 49.qnamaker-all-features. Thanks for helping me.

[2020-01-27 20:37] #2129 closed

[2020-01-27 23:44] stevkan commented on #2138
@krisalay, can you verify for me the `typ` that is returned in the header of the token when you test it on jwi.io (or elsewhere)? I want to make sure it is, in fact, a 'JWT' token.

As for the JWT test sites, they both are reporting invalid for me, now. I'm not sure what was happening the other day, but it's now in line with your experience.

Also, you say you get the JWT token after logging in to

[2020-01-28 09:22] stevkan commented on #2140
No, you are correct about Emulator and Test in Web Chat. I was forgetting this was specifically about DLS when I asked about those.

As for the "02.echo-bot" with DLS, I successfully created and ran the app locally and tested it with Emulator. I then deployed it to Azure and was still able to successfully test the speech service.

You mention using Botbuilder v4.6.1, however the readme file states

[2020-01-28 11:22] garypretty commented on #1855
Sample available in samples master.

[2020-01-28 11:22] #1855 closed

[2020-01-28 11:22] garypretty commented on #1856
Sample available in samples master.

[2020-01-28 11:22] #1856 closed

[2020-01-28 11:22] garypretty commented on #1853
Sample available in samples master.

[2020-01-28 11:22] #1853 closed

[2020-01-28 16:45] fridaidev commented on #2140
Regarding Botbuilder v4.6.1 and 4.6.0-preview2, tested with both versions. didnt work and was getting "There was an error sending this message to your bot." error on channel.

With v4.7.2, getting "The first argument must be a Cognitive Services audio stream.
    at new t (webchat.js:2)" error.

Yes passing both MicrosoftAppId and MicrosoftAppPassword

Could you please share client js/html used fo

[2020-01-29 21:06] CoHealer commented on #2108
@dmvtech are you able to repro this?

Adding @tonyanziano. Tony, it appears there there may be an auth issue while using the latest version of the emulator. Can you assist?

[2020-01-29 21:07] CoHealer commented on #2139
Closing as by design

[2020-01-29 21:07] #2139 closed

[2020-01-30 01:14] clearab opened #2165 "Sample for converting a v3 Bot to a Skill"
Create a sample for wrapping a v3 Bot into a skill. See [parent](https://github.com/microsoft/botframework-sdk/issues/5589) for additional info.

* [x] JavaScript
* [x] DotNet

[2020-01-30 01:41] 01 opened #2156 "Skills sample does not work with teams channel"
## Sample information
1. Sample type: samples/javascript_nodejs/80.skills-simple-bot-to-bot
2. Sample language: nodejs
3. Sample name: 80.skills-simple-bot-to-bot

## Describe the bug
Bot to Bot conversations using the MS Teams channel fails with "/api/skills/vs/converations/msteams:{converationsId}/activities/{activityId} doesnt exist

## To Reproduce
Steps to reproduce the behavior:
Simply run t

[2020-01-30 01:46] 01 commented on #2156
This issue i with the conversation ids for teams channel not being url decoded after the post request.

[2020-01-30 03:19] Sujit-Gaikwad commented on #1537
Is there any way to add "sign in"and "cancel " button both at time for oauth prompt

If not can we achieve above thing using another approach ???

Please Guide

[2020-01-30 07:05] mrmuralidharan opened #2157 "invalid character 'ï' looking for beginning of value in the response"
### **Sample information**
1. Sample type: https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/51.teams-messaging-extensions-action
2. Sample language: dotnetcore
3. Sample name: 51.teams-messaging-extensions-action

## **Describe the bug**
On button action in Message Extension, shows "Unable to reach app. Please try again.". On debug there is no exception. But in

[2020-01-30 07:06] mrmuralidharan commented on #2157
We have used the lazy loading and followed the same steps available in the README file.

[2020-01-30 13:20] mjanulaitis commented on #2110
It has been 7 days since your last comment.  Have you had the time to install any of the Microsoft samples into Azure and test via the Test in Web Chat?  I can reproduce the bug with any sample I try.

[2020-01-30 15:59] dmvtech commented on #2110
I am testing now. Stand by.

[2020-01-30 16:24] dmvtech commented on #2110
I am still not able to reproduce this, but it appears that I might be using a slightly newer sample (I don't notice the prompt for the attachment/picture at the end of the dialog). Can you make sure you're using the most recent sample and try? Additionally, let me know which commit you are going off of. (I will try and go back to an older one and see if I can repro).

[2020-01-30 17:54] dmvtech commented on #2157
Hi @mrmuralidharan Can you show me the example of the POST message (sanitized for security and anonymity)?

Also; can you give more steps on how you are able to reproduce this? I would love to see your code/markup/manifest if possible (again, sanitized). A reproduction in a GitHub repository would be ideal.

[2020-01-30 17:56] dmvtech commented on #2157
Just to be clear; I wasn't able to repro doing:

[2020-01-30 19:19] dmvtech commented on #2157
Is it related to the data you put in the create card fields?

[2020-01-30 22:29] dmvtech commented on #2108
@CoHealer No, I'm still unable to reproduce this.

@KoushikGoramane, when reproducing in the newest version (4.7) of emulator, can you select `File->Clear State` from the menu and try again?

[2020-01-30 22:41] mjanulaitis commented on #2110
I pulled again and re-published.  Same results:

![image](https://user-images.githubusercontent.com/11945074/73496968-f42ccc80-4376-11ea-8ab2-7b350320ef31.png)

[2020-01-30 22:43] dmvtech commented on #2110
WEIRD.

@Virtual-Josh Any ideas here?

[2020-01-30 22:46] dmvtech commented on #2110
Oh, wait. This a _little_ different. The first message is reporting failing, but bot is still responding. It's not failing at the same point. Is it random on where it 'fails'? meaning; it doesn't respond, out of order, at the same spot always, correct?

[2020-01-30 22:48] mjanulaitis commented on #2110
Yes that is correct.  The failure is totally random.  I Just tried again and was able to get through the entire session then this happened when trying again:

![image](https://user-images.githubusercontent.com/11945074/73497375-e3308b00-4377-11ea-806b-c288da9f8962.png)

[2020-01-30 23:24] dmvtech commented on #2110
This is really, really strange.

Do you **ever** see the final step, regarding the attachment? You should see _either_:

OR

To ensure there's no problem with the publishing and confirm that changes are being pushed to the correct place, can you update the following strings in the `UserProfileDialog.cs` file, publish and test again?

`"Please enter your name."` to `"Please enter your name.NNN"`
`"

[2020-01-30 23:30] mjanulaitis commented on #2110
If you take a look at the second screen shot you can see I have been changing one of the names of the selection options.  In the last case from Car to Tank.  This way I can verify the latest code I pulled is actually running.  I verified the startup is unmodified and contains the block as you listed above.  Finally, yes I am able to occasionally get all the way through the attachment screen.

[2020-01-31 00:29] dmvtech commented on #2139
Hi @alexkrytsky and @KoushikGoramane .

Sorry about the run around on this one.

Yes, bot auth can be done per what @Virtual-Josh  has said. You can use this class here:
https://github.com/microsoft/botbuilder-dotnet/blob/master/libraries/Microsoft.Bot.Connector/Authentication/CertificateAppCredentials.cs

Something like this in the startup:
`services.AddSingleton<CertificateAppCredentials>(new Ce

[2020-01-31 00:47] scheyal opened #2161 "Sample Request: Adaptive Dialogs with Teams integration"
**Proposal**: To ensure that the e2e technologies work between adaptive dialogs and Teams it'd be good to have a sample or some way to showcase that synergy.

[2020-01-31 23:35] anusharavindrar commented on #2156
@01 thank you for reporting this. I will try to repro this on the Teams channel and update the thread with my findings. In the meanwhile, can you attach a screenshot of the error you are getting?

[2020-02-01 02:30] EricDahlvang opened #2163 "Skills samples should use OnTurn instead of OnMessageActivityAsync"
## Sample information
1. Sample type: Skills Parent Bots
2. Sample language:: all

## Describe the bug
Currently, the skills samples only demonstrate message activities.  If a child skill returns an activity which can result in a different typed response from the user (invoke, event, etc), the parent bots are not setup to handle forwarding these activity types to the child bot.

## To Reproduce
St

[2020-02-01 07:16] fridaidev commented on #2140
@stevkan any updates?

[2020-02-03 05:03] mrmuralidharan commented on #2157
![HeaderJSON](https://user-images.githubusercontent.com/60460928/73626880-89c6a580-4670-11ea-8ee6-4ef6078e16d7.png)

[2020-02-03 05:08] mrmuralidharan commented on #2157
![HeaderJSON](https://user-images.githubusercontent.com/60460928/73627063-2f7a1480-4671-11ea-8da0-63b594beb0ef.png)
Please find the POST summary message

[2020-02-03 14:19] 01 commented on #2156
@anusharavindrar I dont have a screenshot of the error as I have resolved the issue. The issue should be apparent simply running sample using a Teams channel. The issue was due to the way conversation ids are formatted on teams cause the parent bot look up of the conversation id.

[2020-02-03 16:29] stevkan commented on #2140
@fridaidev, thank you for your patience. I'm still testing this out. I've run into an error, as well, though it doesn't appear to be related to yours. I'm working with a colleague to understand both instances and if they are related. I will keep you updated when I know more.

[2020-02-03 16:58] anusharavindrar commented on #2156
@01 Thank you for reporting this and glad that you could resolve your issue. I will have someone look into this . If you have any further issues, please feel free to open a new issue.

[2020-02-03 16:58] #2156 closed

[2020-02-03 19:11] dmvtech commented on #2108
hi @KoushikGoramane Any updates? Were you able to try clear state?

[2020-02-03 20:06] dmvtech commented on #2110
I took a look and I think that [checking for](DialogTurnStatus.Waiting) `DialogTurnStatus.Waiting` should be all that is needed. And this is already being done as this is using `UserProfileDialog` which inherits from `ComponentDialog`.

The other thought I had; is your App Service (plan) scaled out? I was just curious if maybe you have multiple instances of the bot that are running, and with `memo

[2020-02-03 20:08] mjanulaitis commented on #2110
The bot should have only been on one server.  I am no longer working on this project and am unable to continue the support issue.  Thank you for your help thus far.

[2020-02-03 20:08] #2110 closed

[2020-02-03 21:59] dmvtech commented on #2157
Can i take a look at your manifest?

[2020-02-04 04:00] elcaytuiro opened #2166 "Hand Off Documentation missing"
🚨 The issue tracker is not for questions 🚨

If you have a question, please ask it on https://stackoverflow.com/questions/tagged/botframework

[How can I Test HandOff Bot ? ]

In the repo https://github.com/microsoft/BotBuilder-Samples/tree/master/experimental/handoff-library
Only show how to implement the handoff in your bot, but does not show How can I test the bot. I think that We need 2 bots. I

[2020-02-04 08:02] saleemnasa opened #2168 "Is there any hook where I can process the all user messages including prompt inputs of user at one place before bot processes it?"
Is there any hook where I can process the all user messages including prompt inputs of user at one place before bot processes it?

I want to know about it in Node js.

Thank You

[2020-02-04 16:10] jwiley84 commented on #2166
HI @elcaytuiro

The Handoff sample is still in development, which is why it lives in the experimental branch of the repo. The readme is not complete in it's instructions, because the sample is actively being worked and altered. The last update on that sample was just over a week ago.

Please keep monitoring the sample for updates, and let us know if you have any questions about any of the official

[2020-02-04 16:10] #2166 closed

[2020-02-04 21:59] CoHealer commented on #2138
@krisalay, do you still require assistance?

[2020-02-04 22:22] sahil-lakhwani opened #2170 "15.handling-attachments: Doesn't work with Teams"
## Sample information
1. Sample type: \samples\
2. Sample language: python and modejs
3. Sample name: 15.handling-attachments

## Describe the bug
https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/python/15.handling-attachments

This example gives a user 3 options. The 3rd option is where the bot tries to upload a file.
This works when testing with Bot Emulator, but fails when us

[2020-02-04 23:06] tracyboehrer commented on #2170
Reopened since PR #2171 only addresses the missing 'await'

[2020-02-05 01:10] stevkan commented on #2168
There are three places that are available to you to capture all user messages.

1. In your "index.js" file, `server.post('/api/messages', ...)` => `adapter.processActivity()` is the entry point for all incoming messages to your bot. If you are wanting to capture every incoming activity to process them, this is the first location. You will need to filter the activity to boil down the messages you a

[2020-02-05 01:10] #2168 closed

[2020-02-05 09:23] eduardmartos opened #2172 "When Active Learning Card is displayed and users take "None of the above." Bot is not responding "Thanks for the feedback.""
## Sample information
1. Sample type: [\samples\]
2. Sample language: [dotnetcore]
3. Sample name: 49.qnamaker-all-features

## Describe the bug
When Active Learning Card is displayed and users take "**None of the above.**"
 (**DefaultCardNoMatchText**), everything in the template suggests that the Bot's response should be  "**Thanks for the feedback.**" (**DefaultCardNoMatchResponse**), but inste

[2020-02-05 09:47] KoushikGoramane commented on #2108
I tried to this approach also , still the auth is not working in the latest version.

[2020-02-05 15:35] tracyboehrer commented on #2170
@sahil-lakhwani Have you looked at the 56.teams-file-upload sample?  The Teams samples are designed to work in Teams better than the other samples.

[2020-02-05 15:54] tracyboehrer commented on #2101
Closing as all related PR's have been merged.

[2020-02-05 15:54] #2101 closed

[2020-02-05 17:48] dmvtech commented on #2108
Awesome! Sorry I didn't think to point that out earlier. Had to be some strange caching going on. Glad it's working for you!

[2020-02-05 17:48] #2108 closed

[2020-02-05 19:27] #2170 closed

[2020-02-05 21:39] anusharavindrar opened #2174 "Fix the sample 49.qnamaker-all-features"
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues)
## Sample information
1. Sample type: [\samples\]
2. Sample language: [dotnetcore]
3. Sample name: 49.qnamaker-all-features

## Describe the bug
While using the sample and testing it locally or on any channel, for any input utterance which shows up the Active Learning Card with 'None of the Above' as one of the optio

[2020-02-05 21:43] anusharavindrar commented on #2172
@eduardmartos I tested the sample and I am able to repro the issue you are getting above.
The line `var cardNoMatchResponse = new Activity(DefaultCardNoMatchResponse)` will not have an activity type. Hence the bot is not responding with anything, although it does show up in the emulator logs. Instead of using the changes you suggested above, we  can make use of `var cardNoMatchResponse = (Activity

[2020-02-05 22:42] daveta opened #2175 "Update 15.handling-attachments README for Teams"
The `README.md` for sample `15.handling-attachments` needs an update.

- Add pointer to sample `56.teams-file-upload` as *"The Teams samples are designed to work in Teams better than the other samples"* per [this related issue](https://github.com/microsoft/BotBuilder-Samples/issues/2170).
- Needs to be done across all languages.

[2020-02-05 23:36] stevkan commented on #2138
Closing due to a lack of response. If the issue persists or you have new information to provide, please feel free to reopen.

[2020-02-05 23:36] #2138 closed

[2020-02-06 08:17] sahil-lakhwani commented on #2170
@tracyboehrer Yes, I have looked at the example  56.teams-file-upload. The differences I see are:

1. Sample 15 uploads file to an endpoint on on the `serviceURL` server (`/v3/conversations/{conversationId}/attachments`) while sample 56 uploads the SharePoint account of the Teams user.
2. Sample 15 shows how to proactively upload a file unlike sample 56 where an `uploadURL` is required to upload t

[2020-02-06 09:08] simer99 commented on #2172
Thanks for reporting this. Have assigned the [PR] #2174  so that its fixed.

[2020-02-06 12:45] trojenguri commented on #2174
Created the PR https://github.com/microsoft/BotBuilder-Samples/pull/2177

[2020-02-06 13:10] Tushar301 commented on #1248
Hi @v-kydela, that tompanna solution helps in establishing 1:1 customer-agent communication, But how we'll established 1 to n (one agent handles multiple customers at a time)?

[2020-02-06 13:45] 01 commented on #1248
@Tushar301 utilize the back channel to send identifying information for the agent and which customer/session the chat is for

[2020-02-06 16:00] Tushar301 commented on #1248
Thanks for your reply @Andrew. Can you please tell me what changes I changes that I have to do in tompanna solution ?

[2020-02-06 19:24] dmvtech commented on #2157
Hi @mrmuralidharan can we see your sanitized manifest?

@Virtual-Josh @clearab Any thoughts here? Ever seen anything like this?

[2020-02-07 07:12] Tushar301 commented on #1133
I have implemented the "tompaana" solution for bot-agent-handoff (1 to 1 conversation), but how can I establish a "1 to n" scenario (i.e. one agent handling multiple users after bot escalation)?

[2020-02-07 08:19] sahil-lakhwani commented on #2175
@daveta The differences that I see between the 2 exmaples are:

1. Sample 15 uploads file to an endpoint on on the serviceURL server (`/v3/conversations/{conversationId}/attachments`) while sample 56 uploads the SharePoint account of the Teams user.
2. Sample 15 shows how to proactively upload a file unlike sample 56 where an uploadURL is required to upload the file.

I am looking to upload a file

[2020-02-07 10:46] deenaMaistering opened #2179 "Alternative for WaterfallStepContext in adaptive dialog"
🚨 The issue tracker is not for questions 🚨

If you have a question, please ask it on https://stackoverflow.com/questions/tagged/botframework

[question]
I have been using WaterallStepContext.Context.Activity.From.Id to get the email address of the User. But I couldn't figure out what to use to get the same in an adaptive dialog.

[2020-02-07 17:32] mdrichardson commented on #2179
@deenaMaistering You use `turn.activity.from.id`. For example, I took the [Adaptive Multi Turn Prompt Sample](https://github.com/microsoft/BotBuilder-Samples/tree/master/experimental/adaptive-dialog/csharp_dotnetcore/02.multi-turn-prompt), and I added:

[code]

[here](https://github.com/microsoft/BotBuilder-Samples/blob/master/experimental/adaptive-dialog/csharp_dotnetcore/02.multi-turn-prompt/Dia

[2020-02-07 17:32] #2179 closed

[2020-02-07 22:00] EricDahlvang commented on #2170
Hi @sahil-lakhwani

File upload to Teams requires user consent. This is one of the Teams channel's restrictions.  There is no generic endpoint available for Bots to upload files similar to Direct Line and WebChat channels.  Sorry, but this is simply not a Teams feature.

[2020-02-10 20:41] johnataylor commented on #1780
We've updated the samples - closing this.

[2020-02-10 20:41] #1780 closed

[2020-02-10 23:58] cleemullins commented on #1133
assigning to @arturl, who is driving this work on our end.

[2020-02-11 09:14] hhasenauer opened #2181 "Language Generation External Markdown Links broken"
## Sample information
1. Sample type: Language Generation
2. Sample language: dotnetcore
3. Sample name: Language Generation Preview

## Describe the bug
When using a standard markdown link in the .lg files e.g. \[test](https://google.com), the language generation throws an exception:
[code]

## To Reproduce
Steps to reproduce the behavior:
See above

## Expected behavior
A standard markdown link

[2020-02-11 18:09] #2174 closed

[2020-02-11 18:13] anusharavindrar commented on #2172
Closing the issue as the PR has been merged.

[2020-02-11 18:13] #2172 closed

[2020-02-11 18:53] dmvtech commented on #2157
Hi @mrmuralidharan Do you still need assistance with this issue?

[2020-02-11 19:59] dmvtech commented on #2181
hi @hhasenauer

Can you share the LG?

To clarify, you are using a link in a text response? or are you referring to
[Importing external references](https://github.com/microsoft/BotBuilder-Samples/blob/master/experimental/language-generation/docs/lg-file-format.md#importing-external-references)?

I just tested a link in a template:
[code]

And it worked fine.

Also, make sure you are using the most

[2020-02-12 05:05] mrmuralidharan commented on #2157
@dmvtech You can close this, the issue is related to environment.

[2020-02-12 05:05] mrmuralidharan commented on #2157
@dmvtech You can close this, the issue was related to environment.

[2020-02-12 05:35] #2157 closed

[2020-02-12 13:01] krisalay opened #2182 "Getting Service Error while sending the welcome message to the user in msteams"
### Github issues for [JS](https://github.com/Microsoft/botbuilder-js/issues)

## Sample information
1. Sample type: [\samples\ ]
2. Sample language: [nodejs]
3. Sample name: 18.bot-authentication

## Describe the bug
The sample works properly in bot-emulator. But, when using the same sample in msteams, it throws error. The sample code:

[code]

if `membersAdded[cnt].id !== context.activity.recipi

[2020-02-12 16:01] penguintechlinux opened #2183 "Regarding LUIS Intent in card-bot"
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues) / [Java](https://github.com/Microsoft/botbuilder-java/issues)/ [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for genera

[2020-02-12 16:56] v-kydela commented on #2183
@penguintechlinux - Is this your issue?

https://stackoverflow.com/questions/60192265/be-it-in-how-to-use-luis-intent-in-botbuilder-v4-framework-without-downloading-t

[2020-02-12 17:00] jwiley84 commented on #2183
Hi @penguintechlinux

The Bot Framework team prefers that **How-To** questions be asked on Stack Overflow so that the greater bot community can benefit from seeing the answer. As you've asked this exact question in the link Kyle listed above, I'm going to go ahead and close this issue. A member of the support team will comment on your Stack Overflow question, and assist you in integrating LUIS and

[2020-02-12 17:00] #2183 closed

[2020-02-12 17:59] vp393001 opened #2184 "adding live chat support"
### Use this [query](https://github.com/Microsoft/botbuilder-samples/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++label%3Aenhancement) to search for the most popular feature requests.

**Is your feature request related to a problem? Please describe.**
During an ongoing conversation with bot, if customer wants to chat with a live agent then how to implement it?

**Describe the solution you'd like*

[2020-02-12 18:03] penguintechlinux commented on #2183
Yes,This is the issue.

[2020-02-12 18:20] jwiley84 commented on #2182
Let me try to repro.

[2020-02-12 18:40] rohannevrikar opened #2185 "Sample 46 TeamsAuth: Logout not working if command is "logout""
## Sample information
1. Sample type: samples
2. Sample language: dotnetcore
3. Sample name: TeamsAuth

## Describe the bug
If a user types in command "logout" to sign out, the user does not get signed out. Instead the user is asked "Would you like to view a token". It works for commands having more words like "Please log me out" etc.

## To Reproduce
Steps to reproduce the behavior:
1. Run the sa

[2020-02-12 19:08] EricDahlvang opened #2187 "Skill ConversationIdFactories should not throw on receiving a trace after conversation is ended"
## Describe the bug
If a child bot sends a trace after ending the conversation, the parent is currently throwing due to the conversation.id not being present in the dictionary.  Instead of throwing exceptions, the parent should just silently ignore the trace.

## To Reproduce
Steps to reproduce the behavior:
1. Create a V3 node skill which calls session.endConveration() when the skill completes
2.

[2020-02-12 21:09] arturl commented on #2184
Hi @vp393001, we're working on this for the next iteration of the Bot Framework. You can read about our approach [here](https://github.com/microsoft/BotBuilder-Samples/tree/master/experimental/handoff-library). They key question for you is to decide what agent hub you want to integrate with. At this moment, we offer integration with LivePerson that is available [here](https://developers.liveperson

[2020-02-12 21:09] #2184 closed

[2020-02-12 21:26] stevkan commented on #2140
@fridaidev, are you still needing help on this? If so, can you respond to the above questions?

I was able to repro. I also captured a Fiddler session which shows the web socket closing due to receiving a 400 error. The calls being made (prior to failure) also do not match a "normal" session. I've forwarded the session to a colleague and am waiting for is review.

[2020-02-13 00:04] cleemullins commented on #1454
The JS Packages should be published "Any Day" (happing now), so we should be able to resolve this.

[2020-02-13 06:24] krisalay commented on #2182
@jwiley84 I tried it by removing the `await` but still the issue persists.

[2020-02-13 15:31] penguintechlinux commented on #1945
To Reproduce
Steps to reproduce the behavior:

Build the application and then in chat emulator type any message . .
Using debugger , its failing at FlightBookingRecognizer.cs at below line:-

   public virtual async Task<T> RecognizeAsync<T>(ITurnContext turnContext, CancellationToken cancellationToken)
            where T : IRecognizerConvert, new()
            => await _recognizer.RecognizeAsync

[2020-02-13 16:21] jwiley84 commented on #2185
Thank you for noticing this and the PR. It should be merged some time today, barring any major issues. I'll come and close this when it is.

[2020-02-13 16:29] rohannevrikar commented on #2185
Glad to contribute :)

[2020-02-13 19:12] garypretty opened #2189 "Update samples to .NET Core 3.1 and 4.8 packages"
Update samples to .NET Core 3.1

[2020-02-13 21:41] arturl commented on #1133
Take a look at our documentation here: https://github.com/microsoft/BotBuilder-Samples/tree/master/experimental/handoff-library.
The APIs will be in SDK 4.8, C# and JS. Note that the APIs are just the "lingua franca" for initiating and acknowledging handoff, the actual integrations must be built for specific agent hub providers.
For an example of such integration, check out LivePerson Bot Framewor

[2020-02-13 21:41] #1133 closed

[2020-02-14 09:07] fridaidev commented on #2140
@stevkan I already reported developer console error, Good that you are able to reproduce and please keep us posted.

With new version of bot framework 4.7.1 with SSML response, DLS seems to be working.

However we are not able to pass custom params e.g. botgender along  DirectLineSpeechAdapters

      const adapters = await window.WebChat.createDirectLineSpeechAdapters({
          fetchCredentials

[2020-02-14 12:31] penguintechlinux opened #2192 "Issue in connecting with Luis app during app run"
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues) / [Java](https://github.com/Microsoft/botbuilder-java/issues)/ [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for genera

[2020-02-14 17:19] v-kydela commented on #2192
@penguintechlinux - This is the samples repo. The issues in this repo should pertain to specific samples in the repo. I'm closing this issue here so it can be addressed on Stack Overflow: https://stackoverflow.com/questions/60226501/issue-in-connecting-with-luis-platform-from-python-v4-botframework

[2020-02-14 17:19] #2192 closed

[2020-02-14 21:05] stevengum opened #2194 "Update Node.js 80.skills-simple-bot-to-bot to work with MS Teams"
## Sample information
1. Sample type: samples\
2. Sample language: Node.js
3. Sample name: 80.skills-simple-bot-to-bot

## Describe the bug
Sample 80 does not work when a user talking to the root bot is on Teams. This is due to the fact that the conversationId is long, and that the default value for `"maxParamLength"` is 100.

## To Reproduce
1. Use sample 80 and forward activity from Teams channe

[2020-02-14 22:31] johnataylor commented on #1454
package is still not published

[2020-02-16 09:31] #2185 closed

[2020-02-18 12:53] krisalay commented on #2182
@jwiley84 Any update on this issue?

[2020-02-18 17:15] #2163 closed

[2020-02-18 17:25] dmvtech commented on #2181
@hhasenauer Let us know if you still need any assistance on this one. I'm closing for now assuming you have it resolved. Please reopen or comment if that is not the case.

[2020-02-18 17:25] #2181 closed

[2020-02-18 22:55] stevengum opened #2196 "Call BotFrameworkAdapter.useWebSockets() when the upgrade request hits the messaging endpoint"
## Sample information
1. Sample type: samples\
2. Sample language: [Node.js and TypeScript]
3. Sample name: Samples that use WebSockets for Direct Line Speech

## Describe the bug
Add the logic to samples so that it only processes any Upgrade requests against its messaging endpoint.

## Expected behavior
Any Upgrade requests should not be automatically processed unless against the messaging endpoi

[2020-02-18 22:55] stevengum commented on #2196
Derived from https://github.com/microsoft/botbuilder-js/issues/1387.

[2020-02-20 17:27] GDreyV opened #2198 "Auth in link unfurling flow"
Hello! I'm trying to build link unfurling bot which requires auth. The problem is that I can't find the way how to get access token in the end of the auth flow.
In samples I found:
[code]
where `magicCode` populated from `action.State` but I didn't find any state in unfurling flow and `GetUserTokenAsync` always returns null in my case. What is the proper way to obtain the token? Will it be sent on

[2020-02-20 19:29] stevkan commented on #2140
Hi @fridaidev, again, thank you for your patience. I'm still working with others for a solution to the original error.

As for sending params, that is not supported via the `directLine` options. Rather, you would want to send any data in an activity payload. Checkout these [samples](https://docs.microsoft.com/en-us/dotnet/api/microsoft.bot.builder.activityhandler?view=botbuilder-dotnet-stable) whi

[2020-02-20 23:51] sgellock commented on #1808
I'm moving this out to the MQ milestone

[2020-02-20 23:52] sgellock commented on #1642
I'm moving this out to the MQ milestone

[2020-02-20 23:52] sgellock commented on #1577
I'm moving this out to the MQ milestone

[2020-02-21 10:00] garypretty commented on #2189
@cleemullins Makes sense for me to update all the samples to 4.8 packages once available as part of this task, given we are touching all of them with this issue anyway. I have updated the title of this issue to reflect.

[2020-02-21 18:12] carlosscastro commented on #2198
@clearab could you please take a look and redirect as needed? Thanks!

[2020-02-24 17:57] WashingtonKayaker opened #2203 "Some changes are needed to 21.corebot-app-insights"
In reviewing the [javascript_nodejs](https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/javascript_nodejs) version of sample  [21.corebot-app-insights](https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/javascript_nodejs/21.corebot-app-insights), I've noticed a few issues that I think need to be addressed:

- Need to incorporate the changes made in [PR1964](https:

[2020-02-24 20:12] EricDahlvang commented on #2198
Hi @GDreyV

Thank you for raising this issue.  It seems we are missing the 'state' field on `AppBasedLinkQuery`.  When the auth flow completes, OnTeamsAppBasedLinkQueryAsync will be called again and the turnContext.Activity.Value will contain the url and the 'state' (or magic code).  We will get this field added to AppBasedLinkQuery (created an issue here: https://github.com/microsoft/botbuilder-d

[2020-02-24 22:54] axelsrz opened #2204 "CancelAllDialogs mechanism in CoreBot skills"
The current behavior for Skill Core Bot considers cancelling all dialogs bottom-up, C# does provide this mechanism due to changes done for adaptive (DialogContainers, Dialog.Child property, CancelAllDialogsAsync bottom up, etc), but neither Python nor JS have ported those changes yet.

We should make a decision regarding what pattern to show in the samples to address this scenario in the missing l

[2020-02-25 09:22] HaNa-486 opened #2205 "Ptyhon Sample - 43.Complex Dialog can't work on "Test in Web Chat" after deploying to Azure App Service"
## Sample information
1. Sample type: 43.Complex Dialog Sample
2. Sample language: Python
3. Sample name: 43.Complex Dialog Sample

## Describe the bug
This sample can work fine on Bot Framework Emulator but will stop working after deploy to App Service.

## To Reproduce
Steps to reproduce the behavior:
1. Follow the [Official README](https://github.com/microsoft/BotBuilder-Samples/tree/master/sam

[2020-02-25 18:05] EricDahlvang commented on #2198
Closing this.  Please continue on the Stack Overflow question if you require further assistance https://stackoverflow.com/questions/60311837/microsoft-teams-bot-link-unfurling-auth-flow

[2020-02-25 18:05] #2198 closed

[2020-02-25 18:47] cleemullins commented on #1480
We are choosing to not do this at this time. Discussion w/ @munozemilio and @sgellock  (by proxy).

[2020-02-25 18:47] #1480 closed

[2020-02-25 19:02] cleemullins commented on #1454
Package is still not published. I followed up with the package owners today with increasingly grump language.

[2020-02-25 20:58] tracyboehrer commented on #2205
I can replicate a problem.  The issue for me is that sample does not include a dependency requirement for botbuilder-dialogs in requirements.txt.  So the app service wouldn't even start.

If you add "botbuilder-dialogs>=4.7.0" to the requirements.txt, and redeploy the code it should correct that.

As far as changing the Bot Registration pricing SKU from F0 to F1:  F1 is not a valid bot pricing pla

[2020-02-26 02:29] stevkan commented on #2140
Hi @fridaidev,

In my repro of the original issue (i.e. ""The first argument must be a Cognitive Services audio stream.
at new t (webchat.js:2)" error"), it appears to be the result of a missing `speak` property in my initial activity.

My simple setup has two activities to start. A suggested action step followed by a "run component dialog" step allowing the user to determine which dialog path the

[2020-02-26 02:33] stevkan commented on #2140
As I believe this to be the culprit behind the error, I am going to close this as resolved. If, however, the issue persists, please feel free to reopen.

[2020-02-26 02:33] #2140 closed

[2020-02-26 05:21] eddy8613 commented on #2205
@tracyboehrer thanks for your reply. It works both on Emulator and on Azure

[2020-02-26 11:20] kishanhickman opened #2211 "ResourceExplorer wont work on Azure Apps but work locally"
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues) / [Java](https://github.com/Microsoft/botbuilder-java/issues)/ [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for genera

[2020-02-26 19:24] CoHealer commented on #2182
@jwiley84, please report back with any progress.

[2020-02-26 20:16] vishwacsena opened #2212 "[Refine] QnA Maker samples"
**UPDATE 06/11** - The new plan of record is to keep samples 11 and 14. Our documentation is aligned with these and sample 11 allows users to see a simple implementation of qna maker. The new consolidated sample should consolidate 48, 49 and 70. Sample 49 would then act as the advanced sample.

Today, we have 5 different samples that cover [QnA Maker][1] concepts -
- 11.qnamaker - [C#][C1] [JS][J1

[2020-02-26 20:16] EricDahlvang commented on #2106
I can envision a group conversation where multiple users, and multiple bots, are part of the conversation.  In this case: the channel's conversation.id will be the same for all skills, and users in the conversation.  Our current implementation does not support this scenario.  However, adding `BotFrameworkSkill` as a parameter to `CreateSkillConversationIdAsync `would enable skill specific conversa

[2020-02-27 07:05] stevengum commented on #2106
tl;dr [**Alternate Solution**](#Alternate-solution)

### 1 Parent, _n_ skills & 1 SkillConversationId per ConversationReference

In the samples, _n_ skills will receive the same SkillConversationId and any skill-sent message will use the same ConversationReference when being forwarded.

To each skill, we can say this conversationId from the parent is unique. The skills aren't necessarily aware of

[2020-02-27 08:46] KoushikGoramane opened #2214 "Teams App Manifest is missing in teams-auth bot"
Please add the manifest file for the teams-auth bot and also provide the documentation on  how to add it to the channels. It will be helpful.

[2020-02-27 17:36] kishanhickman commented on #2211
Hi Vish

I wonder if you have had the chance to have a quick look into this - thanks for taking it up.  I assume this must be impacting other people who are tryign to deploy adaptive dialogs.  I have tried deploying another adaptive dialog bot after submitting this issue with little success, here was the sample bot (Echo Bot)

https://github.com/microsoft/BotBuilder-Samples/tree/master/experimenta

[2020-02-27 18:28] EricDahlvang commented on #2106
I don't think this fully addresses the issue Gabo raised yesterday, where the parent might wish to have a side-conversation based on a specific action, then continue the previous conversation when the side-conversation ends.

[2020-02-27 23:52] EricDahlvang commented on #2214
Hi @KoushikGoramane

Thank you for bringing this to our attention.  I've submitted a PR with these updates here: https://github.com/microsoft/BotBuilder-Samples/pull/2216

[2020-02-28 01:01] #2214 closed

[2020-02-28 02:20] Zerryth commented on #2106
+1 for @EricDahlvang 's comment. As Gabo mentioned yesterday, the interruption scenario is not addressed

And it's not an unlikely real-world scenario.

Say someone was using a personal assistant bot which is all the rage nowadays, and maybe it's in a Movies skill (playing movies, movies catalog, etc.)--then they remember something, and want to take a note. Personal assistant bot might have a Note

[2020-02-28 11:43] garypretty commented on #2189
Draft PR for .NET templates #2202

[2020-02-28 21:24] vishwacsena commented on #2211
@tomlm thoughts?
@kishanhickman do you have 'copy to output directory' set to 'copy always' for .dialog and any .lg files?

[2020-02-28 22:33] vishwacsena commented on #2211
@kishanhickman, I just verified that updating the project to mark dialog, lg files as content works. Here's the delta. https://github.com/microsoft/BotBuilder-Samples/compare/vishwac/azure-deploy?expand=1

Please reactivate should you continue to see any issues.

[2020-02-29 00:43] #2165 closed

[2020-02-29 23:18] EricDahlvang commented on #2106
A key for all scenarios might be something like:

`var key = $"{_botId}-{skillId}-{conversationReference.Conversation.Id}-{conversationReference.ChannelId}-{actionTypeOrId}";`

[2020-03-01 18:00] kishanhickman commented on #2211
Thanks for your help, that looks to have done the trick!

[2020-03-02 04:43] kishanhickman commented on #2211
Hi There,

Sorry it hasn't made a difference, I thought it did but realised I was testing the weather skill bot with all the declaritive stuff disabled.

I still get the same errors when trying to deploy and nothing helpful in VS as it works fine locally.  I have added the includes in the project file but still the same issue.

What can I send you to help you diagnose this better?

[2020-03-02 04:45] kishanhickman commented on #2211
Here is my startup file for the EchoBot sample

[code]

[2020-03-02 08:53] csnarain opened #2221 "luisResult was not present in the dictionary"
When trying to enumerate entities, getting the following error

"luisResult" was not present in the dictionary

I'm using a slightly modified version of the sample 14 (see below). The error happens when executing the second line

var result = await _botServices.Dispatch.RecognizeAsync(stepContext.Context, cancellationToken);
var luisResult = result.Properties["luisResult"] as LuisResult;

[2020-03-02 09:40] Narayan22 opened #2222 "[onTurnError] unhandled error: Error: getaddrinfo ENOTFOUND https https:443"

[2020-03-02 12:57] sathishreddy48 commented on #1655
Could you please provide connectionstring : sample

[2020-03-02 13:15] sathishreddy48 commented on #1655
Authentication is not working in teams

[2020-03-02 16:17] jwiley84 commented on #2221
HI! Can you give more of your code then just those two lines? I'd like to repro this.

[2020-03-02 16:20] csnarain commented on #2221
@jwiley84 - Here you go...

[code]

[2020-03-02 17:44] dmvtech commented on #2222
@Narayan22

We need more info that this.

Please give the following information:

- [ ] What language are you using?
- [ ] What channel are you testing in?
- [ ] Which sample are you using?
- [ ] What steps did you take before you get this error?

If possible, the fastest way to a resolution is to post a link to your own repository where you have a reproduction of the issue.

[2020-03-02 19:15] jwiley84 commented on #2221
Let me see what I can find out for you.

[2020-03-02 20:40] vishwacsena commented on #2211
@kishanhickman can you do a clean and build or rebuild again before you deploy?

[2020-03-02 20:44] jwiley84 commented on #2221
I am unable to repro this as is.

![image](https://user-images.githubusercontent.com/17333688/75715805-e5da1500-5c82-11ea-9c4b-d875cae1602a.png)

Can I see the full code you're using for your waterfall? That's what's building your recognizerResult.

[2020-03-03 05:20] Narayan22 commented on #2222
Thanks for the reply. but I slove the error just remove https in .env file hostname.

[2020-03-03 05:20] #2222 closed

[2020-03-03 07:38] csnarain commented on #2221
@jwiley84 - Here you go

MainDialog
[code]
BotServices

[code]

[2020-03-03 10:58] kishanhickman commented on #2211
@vishwacsena  done that many times and it doesn't make a difference.  Also used the dotnet clean/restore/build just incase my VS was playing up but that didnt help.

I have played around with App Service settings, forcing 32 bit/64 bit both in the app service and in my project configuration.  Again no luck.

I dont think it can be anything VS related as it happens on my home and work laptop.  It a

[2020-03-03 21:25] stevengum opened #2226 "Use ActivityHandler.onEndOfConversation() in the JS samples"
EndOfConversation Activities now route through the ActivityHandler so we should use [`onEndOfConversation()`](https://github.com/microsoft/botbuilder-js/blob/c2eebb721d48c514b2fc6cb83fa90e408d469281/libraries/botbuilder-core/src/activityHandler.ts#L266) for the skills samples.

This is labeled as R8 as we need to be able to perform e2e tests on the skills samples in JS.

[2020-03-03 21:45] EricDahlvang commented on #2226
related to onUnrecognizedActivityType previously being used

[2020-03-03 22:19] Kaiqb commented on #2226
@stevengum - shouldn't this be in the samples repo?

[2020-03-03 22:28] JonathanFingold commented on #2079
See [Deploy your bot](https://docs.microsoft.com/azure/bot-service/bot-builder-deploy-az-cli) in the Bot Framework docs.

[2020-03-03 22:37] Kaiqb commented on #2079
done

[2020-03-03 22:37] #2079 closed

[2020-03-04 07:36] csnarain commented on #2221
@jwiley84 - Found something interesting. I kind of fixed this after adding the parameter in block in the following snippet. However found something interesting (bug?). luisResult was always null when
using LuisRecognizerOptionsV3. May you might want to take a look into it.

[code]

[2020-03-04 07:53] amankhandelwal-ideaspark commented on #2205
@eddy8613  How did you deploy the bot on Azure? Can you please share the steps with me? Thanks.

[2020-03-04 08:38] Narayan22 opened #2227 "TypeError: Cannot read property 'topScoringIntent' of undefined"
Processing Message Activity.
processWeather

 [onTurnError] unhandled error: TypeError: Cannot read property 'topScoringIntent' of undefined

[2020-03-04 08:39] Narayan22 commented on #2227
Use multiple LUIS and QnA models
Node.js
create intent in luis also

[2020-03-04 12:16] eddy8613 commented on #2205
@amankhandelwal-ideaspark did u follow the [official document](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-deploy-az-cli?view=azure-bot-service-4.0&tabs=csharp) to deploy the bot? Or, you could share me the steps you were not able to deal with.
Please screenshot if possible.

[2020-03-04 12:24] amankhandelwal-ideaspark commented on #2205
I followed the document line by line. Nothing skipped

[2020-03-04 20:58] anusharavindrar commented on #2227
@Narayan22 are you following the [documentation](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-howto-v4-luis?view=azure-bot-service-4.0&tabs=javascript) or the [sample](https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/javascript_nodejs/14.nlp-with-dispatch)? Which channel are you testing this on? Can you elaborate on the steps to repro the error?

[2020-03-04 21:54] vishwacsena commented on #2211
@tomlm can you help?

[2020-03-05 06:35] csnarain commented on #2221
@jwiley84 - Where can I report the issue about luisResult issue with V3 mentioned above?

[2020-03-05 09:43] krisalay opened #2228 "How to initiate another waterfall dialog after task module submit is triggered?"
### Github issues for [JS](https://github.com/Microsoft/botbuilder-js/issues)

## Sample information
1. Sample language: [nodejs]

## Describe the bug
The `ScheduleDialog` implements the waterfall dialog with 3 steps. When I click submit button in the task module, I am able to get the response in the bot from the first step. But when the control moves to the next step, I am getting the following e

[2020-03-05 10:57] kishanhickman commented on #2211
Hi All

I have managed to find a workaround to this issue, but the issue still persists if you try to use resoruce explorer as per the EchoBot sample code.

Here is what I did to resolve the problem which was based on some other code we were provided recently:

Startup:

[code]

[code]

I am having another issue now with adaptive dialog files around sending http requests once deployed in azure.  i

[2020-03-05 10:57] #2211 closed

[2020-03-05 17:25] v-kydela commented on #2228
Closing so this can be handled on Stack Overflow: https://stackoverflow.com/questions/60541461/how-to-initiate-another-waterfall-dialog-after-task-module-submit-is-triggered

[2020-03-05 17:25] #2228 closed

[2020-03-05 17:51] kishanhickman opened #2229 "Declaritive Libraries fail to make HTTP requests within App Services"
## Describe the bug
When I try to make a http requests through the JSON files produced by Composer, this works fine locally, but fails when published in an Azure App Service.

I have tested using a different end point separate to API app we have in azure (changing the json config) - failed

I have tried to change various network settings within the app service, but it allows all traffic with all p

[2020-03-05 19:22] stevengum commented on #2225
Closing per this [comment](https://github.com/microsoft/BotBuilder-Samples/issues/2225#issuecomment-584549948)

[2020-03-05 19:22] #2225 closed

[2020-03-05 22:47] clearab opened #2230 "Add get member changes to conversation sample"

[2020-03-07 07:48] johnataylor commented on #1981
We agreed to postpone major new samples until after we target dotnet 3.1

[2020-03-07 07:50] johnataylor commented on #2148
the plan is to make global changes to samples in dotnet will be done after we target 3.1 and botbuilder 4.8

[2020-03-08 05:05] csnarain commented on #2221
@xieofxie - Could you pls guide me on filing a bug for this?

[2020-03-09 02:18] xieofxie commented on #2221
@csnarain  You could create issue here https://github.com/microsoft/botbuilder-dotnet

[2020-03-09 15:30] johnataylor commented on #1454
Package is still not published. Little point tracking this for R8 at this stage.

[2020-03-09 17:44] stevengum commented on #2226
Closing via #2232 (merged to [`gary/net-core-3-1`](https://github.com/microsoft/BotBuilder-Samples/tree/gary/net-core-3-1))

[2020-03-09 17:44] #2226 closed

[2020-03-10 02:41] HaNa-486 commented on #2205
@amankhandelwal-ideaspark For your problem of screenshot, you need to make sure your "appId" is correct. You can find the correct "appId & appSecret" in Azure Portal - Azure Active Directory - App registrations. Then, pick or create a app registration.
Please refer the following screenshots.
![image](https://user-images.githubusercontent.com/25979633/76274399-910a5000-62bb-11ea-8d7a-45cb0ed9b3ae.p

[2020-03-11 03:51] Anshul21 opened #2233 "Slack adapter sample goes into message loop"
## Sample information
1. Sample type: slack-adapter
2. Sample language: dotnetcore
3. Sample name: slack-adapter
https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/60.slack-adapter
## Describe the bug
I am trying the slack-adapter example, when i tried the echo bot, it goes into weird loop.
## To Reproduce
Steps to reproduce the behavior:
1. Set-up bot according

[2020-03-11 15:46] #2205 closed

[2020-03-11 17:05] jwiley84 commented on #2233
I am unable to repro this. Are you getting any errors when you run the bot or in  ngrok?

[2020-03-11 17:08] tracyboehrer opened #2234 "Python: Update samples to use botbuilder-integration-aoihttp"

[2020-03-11 17:10] tracyboehrer opened #2235 "Python: Update generators to use botbuilder-integration-aoihttp"

[2020-03-11 17:12] Anshul21 commented on #2233
@jwiley84 are you doing from mac ? i am running ngox from my mac machine, also what is .netcore version you are using? i am on 2.1

[2020-03-11 18:48] anusharavindrar commented on #2182
@krisalay Teams behaves somewhat differently than other channels in regards to OAuth and requires a few changes to properly implement authentication. Specifically an Invoke Activity is sent to the bot rather than the Event Activity used by other channels. This Invoke Activity must be forwarded to the dialog if the OAuthPrompt is being used. This is done by subclassing the TeamsActivityHandler and

[2020-03-11 22:17] Anshul21 commented on #2233
also i see a diff in slack controller code mentioned in the tutorial here https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-connect-slack?view=azure-bot-service-4.0&tabs=adapter

and sample code https://github.com/microsoft/BotBuilder-Samples/blob/master/samples/csharp_dotnetcore/60.slack-adapter/Controllers/SlackController.cs

the example has     private readonly SlackAdapter

[2020-03-12 06:28] Anshul21 commented on #2233
any update on this? @Anshul21

[2020-03-13 05:05] Narayan22 commented on #2227
Hello,
I want to create a bot like when the user opens the bot and automatically
showing a list of questions without user interaction.
I also created follow-up prompts to create multiple turns of a
conversation. but for that, I need to type "help".

can you give some idea how to do this,

Thanks,
Narayan.

On Thu, Mar 5, 2020 at 2:28 AM anusharavindrar <notifications@github.com>
wrote:

--
Your Re

[2020-03-13 14:40] tracyboehrer opened #2239 "Python: Update non-aiohttp samples"
Since some code is now in botbuilder-integration-aiohttp, will this effect the non-aiohttp framework samples.

[2020-03-13 15:48] Anshul21 commented on #2233
I see, the issue has been resolved in latest code in repository but it's not being published yet. I was able to download the repository, build a nuget pckg locally. I will mark this as resolved and would wait till they release the latest nuget pckg

[2020-03-13 15:48] #2233 closed

[2020-03-14 14:32] kellog5 opened #2241 "Experimental Adaptive corebot C# sample SetProperty() does not save entities returned by LUIS"
## Sample information
1. Sample type: [BotBuilder-Samples/experimental/adaptive-dialog/csharp_dotnetcore/]
2. Sample language: [dotnetcore]
3. Sample name: <04.core-bot>

## Describe the bug
When chatting with the bot and asking to book a flight AND including destinationCity, departureCity or departureDate in the original utterance, the bot DOES not store the entites and instead prompts for the us

[2020-03-16 11:28] spaniard81 opened #2243 "Twilio WhatsApp Adapter"
I was wondering if the Twilio WhatsApp Adapter is in the planning for the python version of the Bot? The adapter is already available for JS and C#.

What are the alternatives to connect a python Azure Bot to WhatsApp until such an adapter is available?

[2020-03-16 17:19] #2234 closed

[2020-03-16 17:19] #2235 closed

[2020-03-16 17:31] anusharavindrar commented on #2227
@Narayan22 The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/BotBuilder/blob/master/README.md) repos are the preferred platform for submitting **bug fixes** and **feature requests**.

[2020-03-16 17:31] #2227 closed

[2020-03-16 22:21] stevkan commented on #2243
This question should be posted in the [BotBuilder-Community-Python](https://github.com/BotBuilderCommunity/botbuilder-community-python) repo. The Samples repo provides demonstrations of current functionality and the BotBuilder-Python repo is focused on core SDK development. The community repos are focused on extending functionality, for example, the supplied adapters that already exist in some of

[2020-03-16 22:21] #2243 closed

[2020-03-17 14:30] tracyboehrer commented on #2239
Deferring until R9

[2020-03-17 17:35] chadcjc opened #2247 "Clear Teams Application Cache"
Sorry if this question is misplaced but does anyone know how to delete a teams application cache.  I have created a BOT and each time I load it, regardless if I have uninstalled it or not the historical conversations keep showing up.  In addition my authentication is cached as well so I cannot test as if I were a new user seeing the Teams app for the first time.  Any help would be appreciated.

Th

[2020-03-17 17:52] JonathanFingold opened #2249 "[parity] C#->Python: Capture copy edits to code comments ins SkillDialog sample."
I copy edited the C# code comments in Gabo's branch today:

- README: https://github.com/microsoft/BotBuilder-Samples/pull/2245/commits/70e66a7b249c32fbf263bcdb9cafb2a43f84e32a
- In the root bot project: https://github.com/microsoft/BotBuilder-Samples/pull/2245/commits/cb73da233b48eb649d40cfab371e90b69226cac3
- In the skill bot project: https://github.com/microsoft/BotBuilder-Samples/pull/2245/com

[2020-03-17 17:53] JonathanFingold opened #2250 "[parity] C#->JavaScript: Capture copy edits to code comments ins SkillDialog sample."
I copy edited the C# code comments in Gabo's branch today:

- README: https://github.com/microsoft/BotBuilder-Samples/pull/2245/commits/70e66a7b249c32fbf263bcdb9cafb2a43f84e32a
- In the root bot project: https://github.com/microsoft/BotBuilder-Samples/pull/2245/commits/cb73da233b48eb649d40cfab371e90b69226cac3
- In the skill bot project: https://github.com/microsoft/BotBuilder-Samples/pull/2245/com

[2020-03-18 03:04] gabog opened #2251 "Implement SkillDialog samples for supported languages"
This issue tracks that a SkillDialog samples has been implemented for:

- [x] dotnet
- [ ] JS
- [ ] Python

[2020-03-18 16:45] stevkan commented on #2247
Unfortunately, this isn't a caching issue. In Teams, anytime a new conversation is started between entities that conversation is preserved. In this way, when you log into Teams and navigate to a chat with another user, you always see the previous conversation history. The result is a new user welcome message will only ever be sent once to the new user. This is not a feature that can be disabled.

[2020-03-18 16:45] #2247 closed

[2020-03-18 17:52] CezaryMarcjan commented on #2241
Thanks @kellog5 for the report. Team will address this post R8.

[2020-03-18 18:49] anusharavindrar commented on #2182
Closing the issue. Please feel free to reopen if you still have issues.

[2020-03-18 18:49] #2182 closed

[2020-03-19 10:44] garypretty commented on #2189
Closed via #2158

[2020-03-19 10:44] #2189 closed

[2020-03-19 14:57] #1454 closed

[2020-03-19 18:46] CezaryMarcjan commented on #2221
Thanks @csnarain for reporting this issue and opening https://github.com/microsoft/botbuilder-dotnet/issues/3520.

[2020-03-19 18:46] #2221 closed

[2020-03-19 19:19] #2148 closed

[2020-03-20 06:55] swagatmishra2007 opened #2262 "Change Bot auth sample to catch exceptions while starting oauthprompt"
### Use this [query](https://github.com/Microsoft/botbuilder-samples/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++label%3Aenhancement) to search for the most popular feature requests.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Currently the auth sample does not catch exceptions th

[2020-03-20 06:56] swagatmishra2007 opened #2263 "Add a sample for how to do auth without using an oauthprompt"
### Use this [query](https://github.com/Microsoft/botbuilder-samples/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++label%3Aenhancement) to search for the most popular feature requests.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
This sample seems to be quite a bit in demand.

**Desc

[2020-03-20 06:56] swagatmishra2007 opened #2264 "Add a sample for SSO with skills"
### Use this [query](https://github.com/Microsoft/botbuilder-samples/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++label%3Aenhancement) to search for the most popular feature requests.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and conc

[2020-03-20 13:04] danieldangler opened #2265 "The bot sends the welcome message only when I start writing something (WebChat V4)"
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues)

## Sample information
1. Sample type: sample
2. Sample language: dotnetcore
3. Sample name: Dispatch Bot Sample

## Describe the bug
When I want to write in the webchat with the bot he does not send the welcome message to me. Only when I start to write something, he sends me the welcome message + the answer

## To R

[2020-03-22 03:03] #2241 closed

[2020-03-23 13:23] gabog commented on #2106
This will be partially addressed in #2245, where we are using the new SkillConversationIdFactoryBase methods. The new CreatedSkillConversationIdAsync method takes now a SkillConversationIdFactoryOptions which contains an instance of the SkillInfo and can be used to build a key with the skill App ID.
It does not include the action, if a dev needs to have different conversation ID for different acti

[2020-03-23 16:27] UtkarshSinghal17 opened #2268 "Full text not showing in Telegram Channel"
I have created a Multi-turn QNA chatbot using Microsoft Bot framework v4.5. I integrate this chatbot with Telegram channel. Issue in Telegram Channel: 1) When i have follow up prompt in answer then Full text is not showing,instead its showing (...) Same code i tested in Emulator and webchat its working perfectly.

I have used below github code. https://github.com/microsoft/BotBuilder-Samples/tree/

[2020-03-23 22:05] v-kydela commented on #2268
This is probably a limitation of the Telegram client (and not a problem on our side that we can fix) but I'll see if I can find a solution on Stack Overflow anyway: https://stackoverflow.com/questions/60815633/full-text-not-showing-in-telegram-chatbot-using-microsoft-bot-framework

[2020-03-23 22:05] #2268 closed

[2020-03-24 09:22] Narayan22 opened #2269 "Display text should more than 50 characters"
### Use this [query](https://github.com/Microsoft/botbuilder-samples/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++label%3Aenhancement) to search for the most popular feature requests.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and conc

[2020-03-24 15:59] stevkan commented on #2265
@danieldangler, the welcome message displays as you begin to type or after you have hit the send button?

[2020-03-24 16:17] danieldangler commented on #2265
@stevkan only after i press the send button

[2020-03-25 03:02] kennethnavarro opened #2274 "Doesn't received message in Microsoft Teams"
## Sample information
1. Solution: 57.teams-conversation-bot
2. language: [dotnetcore]

## Describe the bug
I tried to set up the project and corresponding application like ngrok, and created a bot service using dev.botframework.com with App ID and App Password. The application is running (no error) when I send a message on the bot team channel. The problem is the reply message, the both channel d

[2020-03-25 07:34] kennethnavarro commented on #2274
This ok already. It's an access issue in Azure. Thanks!

[2020-03-25 07:34] #2274 closed

[2020-03-25 16:40] GDreyV opened #2275 "Single login for all contexts"
I added sign in flow on link unfurling. So now when `OnTeamsAppBasedLinkQueryAsync` is called `turnContext.Activity.Value` contains the token saved before.
The problem is when the same user is calling bot in the same conversation window by command and `OnMessageActivityAsync` get called `turnContext.Activity.Value` is `null`.
What is the correct flow? Should I store token on my side and match user

[2020-03-25 16:57] axelsrz opened #2276 "Bring changes on 21 to python"
parity with #2219

[2020-03-25 18:06] congysu commented on #2275
@clearab can you please take a look on this? thanks.

[2020-03-25 18:22] clearab commented on #2275
Yes, you typically cache the token on the bot side.

I'm not sure I understand your flow. Is it:
1. The user pastes a link into the compose box, then expands it to trigger link unfurling
2. The user then logs in
3. The user the @mentions the bot in the same compose box as part of the same message

Does that look correct?

[2020-03-25 18:26] GDreyV commented on #2275
Yes, you are very close:
1. The user pastes a link into compose box
2. Bot returns Sign in request for link unfurling which is displayed as thumbnail
3. User sign ins and got correct preview.
-- So we are signed in on that step and token is stored on the Teams side.
4. User sends random message
And here we do not have a token in which was just saved on unfurling flow.

[2020-03-25 18:58] mdrichardson opened #2277 "[Tracking Issue] V3 Samples Need to Reference Latest V3 SDK Release"
package.json needs to be updated to use botbuilder `3.30.0` packages.

[enhancement]

[2020-03-25 19:42] clearab commented on #2275
How are you handling auth? I don't think Teams should be storing the token, it should be stored either in your bot or in the TokenService. @EricDahlvang can you assist here?

[2020-03-25 20:42] EricDahlvang commented on #2275
Hi @GDreyV

The magic code is only useful for the initial token retrieval validation. Subsequent calls to `GetUserTokenAsync `do not require it.  Which means the following code works as expected.

If a user had previously signed in via `OnTeamsAppBasedLinkQueryAsync`, this will successfully show the token:

[code]

[2020-03-25 21:51] #2106 closed

[2020-03-25 21:51] #2194 closed

[2020-03-25 21:51] #2251 closed

[2020-03-26 02:57] GDreyV commented on #2275
Ah, I got it! My bad. Thanks a lot for clarifications! I was using `magicCode` as it was always set with unfurling flow and was surprised that doesn't exist in conversation context.

[2020-03-26 02:57] #2275 closed

[2020-03-26 06:36] simer99 commented on #2269
It will be a change on our side and we will have to slot it to get this done. Can you give an example why the limit did not work out for you?

[2020-03-27 22:20] v-kydela opened #2284 "Declarative sample throws exception with single-letter name"
## Sample information
1. Sample type: \experimental\
2. Sample language: dotnetcore
3. Sample name: 60.AdaptiveBot

## Describe the bug

The AdaptiveBot declarative sample throws an exception like this when it tries to capitalize a single-letter word:

The expression for `CapitalizeName` looks like this:

[code]

## To Reproduce
Steps to reproduce the behavior:
1. Run AdaptiveBot
2. Choose MultiTu

[2020-03-30 16:35] #2276 closed

[2020-03-30 18:05] clearab opened #2313 "Documentation & samples for expectReplies"
Create documentation and samples for bots connecting to skills using they "expectReplies" flag. A good example would be using a DirectLine speech parent.

[2020-03-31 20:38] neorest commented on #2274
How exactly you resolved this access issue in Azure?

[2020-03-31 20:45] #2277 closed

[2020-03-31 22:12] GDreyV opened #2291 "Dialog auth flow"
Sorry if I named the issue incorrectly. Here's the flow. Need to mention that I'm running it in emulator but it still seems to be valid case. Let's say I have 2 conversation commands "List mails" and "Write mail". These commands are handled in `OnMessageActivityAsync` with switch-case flow. When user type in "List mails" I'm running mails listing flow where I check auth. If user is not authorized

[2020-04-01 15:39] FlorenciaNodar opened #2293 "Segurization api"
Hello! Do you have an example of using the identityserver token in the bot to consume api rest service?

[2020-04-01 17:42] GDreyV commented on #2291
I found how it should work. Will write it here if anybody face the same problem. So the code user passed into the conversation must be consumed by the dialog flow:
[code]
in the code above validation code will be processed by the dialog as we pass it with `turnContext` variable and dialog will continue to the next step.
In order to control valid flow (like on web when you redirected back to the re

[2020-04-01 17:42] #2291 closed

[2020-04-01 18:48] EricDahlvang opened #2294 "csharp_dotnetcore samples do not compile"
## To Reproduce
Steps to reproduce the behavior:
1. Download the samples repository
2. Open csharp_dotnetcore.sln
3. Build all
4. See errors

[code]
## Screenshots
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/11055362/78177082-6327af80-7412-11ea-9d4b-c73c208013f8.png)

[bug]

[2020-04-01 19:18] #2294 closed

[2020-04-02 07:09] kittu610 opened #2297 "unable to restore nuget packages"
I have downloaded the bot builder samples when i tried to build the solution i am getting this issues

Unable to find package Microsoft.Bot.Builder.Adapters.Webex with version (>= 4.8.0-rc2-preview)
Unable to find package Microsoft.Bot.Builder.Adapters.slack with version (>= 4.8.0-rc2-preview)
Unable to find package Microsoft.Bot.Builder.Adapters.twilo  with version (>= 4.8.0-rc2-preview)
Unable t

[2020-04-02 16:25] jwiley84 commented on #2297
I am unable to repro this. Can I get a few more details from you?
- When did you download the samples?
- What IDE are you using?
- Which bots specifically are unable to load those packages?

[2020-04-02 16:40] EricDahlvang commented on #2297
This was fixed yesterday with https://github.com/microsoft/BotBuilder-Samples/pull/2295

Please refresh your local git with these changes from master

[2020-04-02 19:01] HatBeardZero commented on #1974
@carlosromero68 idk if you still need it but i had what looks like this problem and i had to change the  manifest.  http://thewindowsupdate.com/2019/08/19/how-to-create-an-app-registration-in-azure-ad-for-a-bot-solution/

[2020-04-02 22:31] mrivera-ms commented on #2293
@FlorenciaNodar, thank you for opening this issue. For product behavior, how-to, general understanding questions, please use Stackoverflow.

https://stackoverflow.com/search?q=bot+framework

Also, you can search in the [Bot Framework Samples](https://github.com/microsoft/BotFramework-Samples)

[2020-04-02 22:31] #2293 closed

[2020-04-03 06:31] kittu610 commented on #2297
The issues has been solved thanks

[2020-04-03 06:31] #2297 closed

[2020-04-04 14:33] tmpkn opened #2298 "Missing dependency botbuilder-dialogs"
## Sample information
1. Sample type: [\samples\]
2. Sample language: [python]
3. Sample name: 46.teams-auth

## Describe the bug
Python Teams samples miss botbuilder-dialogs dependency.

## To Reproduce
Steps to reproduce the behavior:
1. Go to 46.teams-auth
2. pip install -r requirements
3. python app.py
4. See error: ModuleNotFoundError: No module named 'botbuilder.dialogs'

## Expected behavio

[2020-04-06 18:16] cleemullins commented on #2298
@jwiley84 Please update the sample, and let us know when a Pull Request is ready. Thanks!

[2020-04-06 18:18] cleemullins commented on #2265
@stevkan Any updates on this?

[2020-04-06 18:21] cleemullins commented on #2269
Adding @pchoudhari as the owner of this, from the QnA Side.

[2020-04-06 22:26] jwiley84 commented on #2298
There are a couple that are missing this from the requirements.txt file. I'm looking into it and get a PR out!

[2020-04-06 23:59] #2298 closed

[2020-04-07 07:38] xieofxie opened #2301 "document for operators in Pre-built functions"
### Use this [query](https://github.com/Microsoft/botbuilder-samples/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++label%3Aenhancement) to search for the most popular feature requests.

**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I read the document, I don't know whether + - is supported in string/list, whether [] is case sensitive or not in https:

[2020-04-07 16:45] pchoudhari commented on #2269
Hi @Narayan22, we have kept the limitation of 50 characters since longer texts do not display well in the chat prompts. Can you describe your scenario which needs more that 50 characters in the display text? This will help us prioritize a potential fix.

[2020-04-08 11:43] stevkan commented on #2265
@danieldangler, thank you for your patience. I've tried replicating your issue but am not able to. Your method of implementing an adaptive card as a welcome response doesn't quite match the method demonstrated in the sample shown [here](https://github.com/microsoft/BotBuilder-Samples/blob/master/samples/csharp_dotnetcore/17.multilingual-bot/Bots/MultiLingualBot.cs).

Could update your code to matc

[2020-04-08 17:42] stevkan commented on #2265
@danieldangler, can you also verify for me which channel you are using? And, do you encounter the same issue if you test other channels, namely Emulator and customizable [Web Chat](https://github.com/Microsoft/BotFramework-WebChat), if you have that one setup.

In testing the iframe Web Chat version, any welcome message is not sending upon connection which, I believe, is expected behavior. I will

[2020-04-08 18:41] GDreyV commented on #2275
@EricDahlvang, sorry one more question on the same topic. Is there any way to find out when I need to use magic code and when I should skip it? If I got it right I need it only when user logins but how can I find this? E.g. for link unfurling flow how can I find that user just signed in and I need to use magic code?
I'm asking because Dialogs have `state` value which is usually used as a magic cod

[2020-04-08 19:48] cwhitten opened #2307 "DCR: Adaptive Dialog custom recognizer implementation sample"
see https://github.com/microsoft/BotBuilder-Samples/issues/1990 for context

[2020-04-08 19:50] cwhitten commented on #2307
The ask was a how-to on to implement a custom recognizer. I don't think we have any docs on extending the adaptive tech. I imagine if/when we did, recognizers would have a section?

[2020-04-08 23:18] cleemullins commented on #1981
@johnataylor What are we doing with this? Can Monica, Michael, Ashely, or Eric drive this one?

[2020-04-08 23:19] cleemullins commented on #1820
@johnataylor This bug is 7 months old. If we wait 2 more months, it might come to life!

[2020-04-10 15:30] EricDahlvang commented on #2275
In the link unfurling flow, the magic code is in the activity.value as 'state'.  Dialog state is different from 'magic code' state.  If you are using auth in link unfurling, then link unfurling is where the 'state' magic code will come into the bot.  If the activity.value does not have a 'state' field in the link unfurling handler, then the call is not the final step of link unfurling auth flow.

[2020-04-10 15:36] GDreyV commented on #2275
Did I got it right that the only place where I need to use magic code from the state is link unfurling auth? In Dialog flow in case if we need magic code it will be message text.

[2020-04-10 21:42] EricDahlvang commented on #2275
Teams will send an invoke, with a Name of "signin/verifyState".  If you are using the OAuthPrompt, the dialog itself will handle the incoming activity:  https://github.com/microsoft/botbuilder-dotnet/blob/master/libraries/Microsoft.Bot.Builder.Dialogs/Prompts/OAuthPrompt.cs#L276

Just make sure there is a handler for `handleTeamsSigninVerifyState` as demonstrated in https://github.com/microsoft/Bo

[2020-04-10 22:27] GDreyV commented on #2275
Ah, got it, thank you!

[2020-04-11 19:31] xtianus79 opened #2310 "Deploying a bot to azure with luis functionality is completely broken and I believe it is the LUISRecognizer class"
From 9pm last night until 7am this morning I could not get the bot to deploy to Azure through any means. Either sending a zip file package or through continuous deployment.  Since this is such an emergency issue for us and I don't know where to else to post this report to I will try a couple different places.

As a mitigation step to see what was going on I tried to upload samples to Azure to see

[2020-04-13 19:21] Zerryth commented on #2310
@xtianus79 I actually ran into your `"TypeError: Cannot read property 'intents' of undefine` error locally, just trying to fire up the `13.core-bot` sample locally. Investigating further to figure out the underlying issue

[2020-04-13 19:50] gabog opened #2312 "Support for proactive messages initiated by a skill"
A sample of a skill sending a proactive message to a user through the parent bot. Must work in Teams.

Example, a user asks the skill to notify her as soon as a email from John Joe arrives. The skill should be able to send a proactive message to the Parent Bot when the event occurs and (optionally) the user should be able to start a conversation with the skill (if the scenario requires it)

The VA

[2020-04-14 04:44] Zerryth commented on #2310
Alright, so I actually managed to successfully deploy a bot following the [Deploy your bot](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-deploy-az-cli?view=azure-bot-service-4.0&tabs=javascript) article, which is via zip deployment.

Previously I had gotten the same error as you, because I had accidentally used the wrong LUIS credentials in the `.env` file (whoops).

**Specifics*

[2020-04-14 04:48] Zerryth commented on #2310
@xtianus79 let's explore the .zip deployment, since it's the set of instructions linked to in our samples' READMEs and I had successfully deployed following it

Just reading your error log, it seems like it can't access your intents, maybe because of your credentials in the .env file.

I see you say that the bot works locally, however when you are running the zip deployment, are you making sure to

[2020-04-14 09:51] #2203 closed

[2020-04-14 17:32] Ashi123489 commented on #1418
Hi, All.
I want to know is there any way to get and clear active waterfall dialog externally.
I have an Echo bot with Bot controller with Waterfall dialog and one more Notification controller in Same solution. I want to get Active Dialog for specific user in Notification controller before sending him Notification, Where as Notification controller is having turncontext not dialogContext. So please

[2020-04-14 17:40] Ashi123489 opened #2316 "How to get ActiveDialog externally to clear it."
🚨 The issue tracker is not for questions 🚨

If you have a question, please ask it on https://stackoverflow.com/questions/tagged/botframework

[question]
I have one Echo bot where i am using WaterFall dialog.i have one more controller there in same solution called notification controller. i want to send notification  after checking Active dialog of current user. Is there way to get Active Dialog of

[2020-04-14 18:16] axelsrz commented on #2316
Hello @Ashi123489 thanks engaging with us. In this case stackoverflow will be the correct platform to post your question. I'm going to close this thread given that we only handle issues by this channel.

[2020-04-14 18:16] #2316 closed

[2020-04-15 08:11] boydc2014 opened #2318 "Adaptive-tools"
- [ ] Support for visual studio
- [ ] Support for JS bots.
- [ ] Debugging - debug console integration/ ability to evaluate expressions with snapshot of memory.
- [ ] Surface predictions (if using LUIS) into .lu document
- [x] syntax highlighting, auto-suggest, auto complete functionality
    - [x] .qna documents
- [ ] ability to train, test, publish .lu documents to
    - [ ] LUIS
    - [ ] Orche

[2020-04-15 16:01] aravindtrue opened #2320 "TeamsInfo.get_member returns Operation returned an invalid status code 'Not Found'"
1. Sample type: BotBuilder-Samples/samples/python/03.welcome-user/
2. Sample language: python
3. Sample name: welcome-user

## Describe the bug
I wanted to get the user identity so, I am using the TeamsInfo class by following this documentation,
https://docs.microsoft.com/en-us/microsoftteams/platform/bots/how-to/get-teams-context?tabs=python#get-single-member-details

But it returns, `Operation r

[2020-04-15 20:08] v-josouz opened #2321 "Basic Bot has a hard coded date "Book a flight from Paris to Berlin on March 22, 2020""
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues) / [Java](https://github.com/Microsoft/botbuilder-java/issues)/ [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for genera

[2020-04-15 21:08] Virtual-Josh commented on #2320
Hi @aravindtrue,

This is error is somewhat of a red herring. The `TeamsInfo` class is designed to facilitate interactions for bots within Microsoft Teams. It's not intended for the emulator. If you want to get the information of the person who just joined you need to look at the `on_members_added_activity`. Each `member` object has the name, id, and other properties you'd be interested in.

I'll

[2020-04-15 23:45] aravindtrue commented on #2320
Hi @Virtual-Josh, Thank you so much for the quick response! Is there any other way to store user information other than id in the emulator?

[2020-04-16 00:32] Virtual-Josh commented on #2320
There are many ways to store information with the bot framework. If you want to see how an list can be used you can view the bot [here](https://github.com/microsoft/botbuilder-python/tree/master/scenarios/activity-update-and-delete).

If you want deeper reading on the topic you can look [here](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-concept-state?view=azure-bot-service-4.0).

[2020-04-16 18:07] axelsrz commented on #2321
Thanks for opening this issue @v-josouz, we'll assign it to someone for future fixing.

[2020-04-16 20:13] GDreyV opened #2322 "composeExtensions[0].commands is required"
According to the [documentation](https://docs.microsoft.com/en-us/microsoftteams/platform/messaging-extensions/how-to/link-unfurling?tabs=dotnet#manually) `composeExtensions.commands` is an optional field. But I'm trying to install application where commands field is omitted or empty `[]` I'm getting an error that `composeExtensions[0].commands is required`. What's the proper value for the command

[2020-04-17 00:51] clearab opened #2323 "Create sample for using Skills with Dispatcher"
The purpose of this sample is to show how Dispatcher can be used to compose language models when using multiple skills. The sample needs to contain a consumer bot with some built in functionality and a language model, 2 skill each with different functionality and their own language models, and show how to use Dispatcher to combine them.

This sample should support the best-practices documentation

[2020-04-17 00:56] clearab opened #2324 "Teams samples: clarify bot registration requirements"
The README files for Teams samples need to be updated to clarify the requirements around creating a new bot. Currently they point [this page](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-quickstart-registration) when telling you to create your bot resource in Azure, however that page is ambiguous between creating a Bot Channels Registration or a Web App Bot. In this case they sho

[2020-04-17 18:12] axelsrz commented on #2322
Hey @jwiley84 could you investigate further on this to know if this is a docs or sample issue? Thanks.

[2020-04-17 19:42] johnataylor commented on #1820
we should wait for adaptive to understand how things change here. I'll move to R10 for now.

[2020-04-17 22:02] clearab commented on #2322
Unfortunately, it currently isn't possible to create an app with a messaging extension that only includes link unfurling. This bug should be resolved is currently being worked on and should be resolved soon.

Right now, you'll need to add a messaging extension command to your App Manifest in order to install it. I would recommend trying a search command, as they are the closest in implementation t

[2020-04-17 22:23] GDreyV commented on #2322
Thanks, for now I added logout command. I just wanted to check if you aware about it. Thank you for fast reply.

[2020-04-17 22:23] #2322 closed

[2020-04-20 11:31] kittu610 opened #2330 "How to send hero cards , adaptive cards,links as responces to bot integrated in slack channel using IBotFrameworkHttpAdapter."
How to handle attachment in bot which is integrated in slack channel

i was trying to send hero cards and adaptive cards but i am getting an error like "The bot encountered an error" in bot.

Please can you suggest me how to handle cards and links in bot integrated in slack.
by using IBotFrameworkHttpAdapter. in csharp_dotnetcore.

[2020-04-20 16:30] Zerryth commented on #2310
Closing due to inactivity and also being able to successfully deploy using instructions linked in the sample readmes.

[2020-04-20 16:30] #2310 closed

[2020-04-20 16:43] v-kydela commented on #2330
Hi @kittu610

Can you show us what you've tried so far? Are you following a specific sample?

[2020-04-20 18:09] tonyanziano commented on #2269
Closing due to inactivity.

[2020-04-20 18:09] #2269 closed

[2020-04-20 18:10] tonyanziano commented on #2265
Closing due to inactivity.

[2020-04-20 18:10] #2265 closed

[2020-04-20 19:34] #2320 closed

[2020-04-20 21:14] GDreyV opened #2331 "Track bot installed/deleted event."
Hello! What is the proper way to find out that Bot was installed or removed? As I understand I should use `OnConversationUpdateActivityAsync` handler and check `turnContext.Activity.MembersAdded` or `turnContext.Activity.MembersRemoved` properties. The problem is that `member.Id` is not the same as application id, it is something like `13:{ApplicationId}`. Should I use something like `member.Id.En

[2020-04-21 06:22] kittu610 commented on #2330
Hi @v-kydela

I have created an bot using Bot Framework V4
By referring [this link ](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-howto-add-media-attachments?view=azure-bot-service-4.0&tabs=csharp) i have created an hero card
By referring [this link ](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-connect-slack?view=azure-bot-service-4.0&tabs=abs) i ave de

[2020-04-21 19:22] GDreyV commented on #2331
Sorry, I should provide details in the beginning.
Yes, you are right, I'm talking about Teams bot. And I want to make some actions as Bot was installed or removed. As I see in [documentation](https://docs.microsoft.com/en-us/microsoftteams/platform/bots/bot-basics?tabs=csharp#core-bot-framework-handlers) `OnMembersAddedAsync` is fired when either user or bot was added. So I'm trying to find out th

[2020-04-21 20:19] mdrichardson commented on #2331
@GDreyV The sample I linked should already cover this with the line ` if (member.Id != turnContext.Activity.Recipient.Id)`. Teams *does* use their own ID convention, so if that's not working for you, you'll want to debug inside your bot and figure out what the `Recipient.Id` is and hardcode it in.

[2020-04-21 20:28] GDreyV commented on #2331
Ah, I got it, so instead of using application id, I should check if the recipient (in application installed/removed case it's bot id with some prefix) is within added or removed members list.
It was tricky because when I'm sending proactive message I'm using application id, but when I receive notification I can't match user which stands for the bot by the application id.
Thanks for the clarificati

[2020-04-21 20:28] #2331 closed

[2020-04-21 20:32] v-kydela commented on #2330
@kittu610 - Slack does not support Adaptive Cards. You can see which platforms support Adaptive Cards here: https://docs.microsoft.com/en-us/adaptive-cards/resources/partners

If you want to be able to send hero cards to Slack, you need to be using the Azure Bot Service and not the Slack adapter. You linked to a document that explains how to use both but you haven't specified which option you're u

[2020-04-21 20:41] GDreyV opened #2335 "Cannot read property 'isChannelConversation' of undefined"
Hello! I'm trying to use `ActionTypes.PostBack` on card returned from `OnTeamsMessagingExtensionSelectItemAsync` of my Teams bot with following code:
[code]
but when I press the button in browser I'm getting following error and nothing happens:
[code]
Am I sending the card wrong? Is it supported flow? MessageBack and ImBack cause slightly different errors but anyway none of them work for me.
It's

[2020-04-21 21:10] GDreyV commented on #2335
The flow I'm trying to implement is:
- user lookup the project using compose extension query command
- bot provides option to subscribe to the project or open it
- user subscribes to the project
As I understand the Card should be sent in order to enable buttons. But is it possible to use buttons without sending the card (while it's in compose message area)?

[2020-04-21 22:20] GDreyV commented on #2335
BTW it looks like `Value` of `CardAction` can be only JObject but not regular object. In case of plain object value will be set to null.

[2020-04-22 13:19] kittu610 commented on #2330
[Nameforslack.zip](https://github.com/microsoft/BotBuilder-Samples/files/4516297/Nameforslack.zip)

[2020-04-22 19:39] v-kydela commented on #2335
Hello @GDreyV - I would like to help but I have a few questions.

1. "I'm getting following error" doesn't tell us what you're seeing. Where are you seeing that error/stack trace (browser console, App Insights, etc.)?
1. You say you're getting the error in a browser. Does the same thing happen on the Teams desktop client and mobile clients?
1. Are you getting the error when you try to send the car

[2020-04-22 19:52] GDreyV commented on #2335
1. Error stack is in browser's console window when I run Teams in browser (Edge).
2. I didn't try it in desktop client. On mobile client it was impossible to reproduce as card doesn't have any buttons at all (either in compose window or when it's submitted)
3. The errors occur when I click on buttons when card is in compose area.
4. Yes, it works, also it works when card is submitted.
![image](htt

[2020-04-22 20:25] v-kydela commented on #2330
@kittu610 - Looking at your code, I can see that you're using a Slack adapter. Were you unaware of this? Did you use sample 60? https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/60.slack-adapter

[2020-04-22 20:50] v-kydela commented on #2335
@GDreyV - Thank you for the screenshot, that helps. Would you go ahead and try it in the desktop client and answer question 5?

[2020-04-22 21:35] GDreyV commented on #2335
in the app when I press the button it doesn't do anything. And after couple clicks button kind of hangs:
![image](https://user-images.githubusercontent.com/6262948/80036375-9b755780-84bf-11ea-83a6-a46e5b4523c4.png)

[2020-04-22 21:44] v-kydela commented on #2335
@GDreyV - What is your answer to question 5?

[2020-04-22 21:47] GDreyV commented on #2335
Oh, sorry, I missed it.
This code doesn't work, value will be null when user press the button
[code]
and this code works
[code]

[2020-04-22 23:32] v-kydela commented on #2335
@GDreyV - Since you posted in the sample repo, are you following a specific sample? Sample 50 perhaps? https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/50.teams-messaging-extensions-search

[2020-04-22 23:46] GDreyV commented on #2335
really 52.teams-messaging-extensions-search-auth-config, 50 looks pretty the same.

[2020-04-23 05:39] kittu610 commented on #2330
Hi @v-kydela
I have created a bot using echo bot template and modified the code by following [This link](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-connect-slack?view=azure-bot-service-4.0&tabs=adapter#tabpanel_CeZOj-G++Q_adapter)
And then i have referred https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/60.slack-adapter how to send a

[2020-04-23 14:58] GDreyV opened #2338 "Handle adaptive card sent to the bot"
Hello! I can't find any examples how to parse adaptive cards sent to the bot in the personal chat with that bot:
1. How to understand that the message is a card?
2. How to get meta information about that card? Who composed that card (what bot)? How to get buttons/actions with bound values and action types?

[2020-04-23 16:30] Zerryth opened #2339 "AppId and Secret left in sample 70.qnamaker-multiturn-sample"
## Sample information
1. Sample type: samples
2. Sample language: dotnetcore
3. Sample name: 70.qnamaker-multiturn-sample

## Describe the bug
Someone committed multi-turn QnA sample with [appId & pw in `appsettings.json`](https://github.com/microsoft/BotBuilder-Samples/blob/master/samples/csharp_dotnetcore/70.qnamaker-multiturn-sample/appsettings.json).

## Expected behavior
No credentials left i

[2020-04-23 16:34] Zerryth commented on #2339
Wait, going to the readme, it seems like this might have been intentional?
![image](https://user-images.githubusercontent.com/35248895/80124694-788d8680-8545-11ea-8685-ac078ad32aea.png)
I'm not sure.

But when just cloning and `dotnet run`-ing as the README instructs, it breaks:

![image](https://user-images.githubusercontent.com/35248895/80124751-94912800-8545-11ea-82d1-2750c3cdd167.png)

[2020-04-23 17:32] v-kydela commented on #2330
@kittu610 - Do you understand the difference between using the Slack adapter and the Azure Bot Service Slack channel connector? Do you know which one you want to use and why? I need to know what your point of confusion is so that I know what I need to explain in order to help you. I already explained that you cannot send hero cards using the Slack adapter.

[2020-04-23 17:44] clearab opened #2341 "Add iFrame approach to Teams Task Module sample"
The Teams Task Module samples should have both an Adaptive Card based Task Module, and a iFrame website based example. Getting the submit correct from the iFrame can be difficult.

Tracking issues for Teams Docs review - https://github.com/microsoft/botframework-sdk/issues/5896

[enhancement]

[2020-04-23 18:04] v-kydela commented on #2338
Hi @GDreyV - I would like to help but I have a few questions.

1. When you arrive at the [new issue page](https://github.com/microsoft/BotBuilder-Samples/issues/new/choose), what option are you choosing?
1. Are you developing a bot or a channel client?
1. What channel are you using?
1. What programming language are you using?
1. Since you're posting in the samples repo, are you following a specifi

[2020-04-23 18:21] GDreyV commented on #2338
1. I got you, for current case I should choose create new Question, my fault, sorry about that.
2. I'm working on the bot like in the example https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/52.teams-messaging-extensions-search-auth-config
3. I suppose Teams channel, did I get you right?
4. it's C#
5. I'm following example 52.teams-messaging-extensions-search-a

[2020-04-23 20:38] v-kydela commented on #2338
@GDreyV - Yes, you did get me right. Thank you for the answers.

In your second question, you ask how to get metadata about the card including the bot that composed the card. Are you in a conversation with a bot while using messaging extensions from multiple other bots?

[2020-04-23 20:59] GDreyV commented on #2338
Correct me if I'm wrong but if user has 1-to-1 conversation with the bot user can use compose extension command provided by different bot and send card built by that bot into the chat. So I need to identify who created the card and should I process it somehow or not.
Just to add some background to the flow. I was asked by the certification team to support flow when card was sent to the bot but I d

[2020-04-24 09:16] #2339 closed

[2020-04-24 10:08] krisalay opened #2343 "Bot framework adapter is throwing error"
### Github issues for [JS](https://github.com/Microsoft/botbuilder-js/issues)

## Sample information
1. Sample language: [nodejs]

## Describe the bug
[code]

## To Reproduce
Steps to reproduce the behavior:
1. Open oauth prompt in waterfall model
2. Enter any interrupt command
3. Click on the older signin card
4. See error

## Expected behavior
The signin card should be disabled or it should open

[2020-04-24 16:01] #1860 closed

[2020-04-24 18:11] tonyanziano commented on #2321
We have prioritized this issue for the R10 milestone.

[2020-04-24 18:16] GDreyV commented on #2338
@v-kydela, sorry to disturb you, if you can say that it's impossible for now it will work for us because right now we just stuck with certification because of requirements which we don't know how to implement.

[2020-04-24 18:18] v-kydela commented on #2338
@GDreyV - I have no reason to believe it's impossible, but I cannot work on your issue because I don't have access to a Teams tenant where I can install app manifests. I'm transferring this to a colleague.

[2020-04-26 07:01] hcyang commented on #2343
Hi, @anusharavindrar, can you update the status and reply to the customer? Need the customer-replied tag. Thanks.

[2020-04-27 03:51] anusharavindrar commented on #2343
@krisalay are you following any specific botbuilder node sample? Also, are you getting this error while testing locally on the emulator or a particular channel?

[2020-04-27 04:10] krisalay commented on #2343
@anusharavindrar I am using Teams-Auth smaple for javascript-nodejs. And, I am getting this error in the teams channel. In the emulator there are no errors.

[2020-04-27 17:52] EricDahlvang opened #2346 "Python samples should return 200, instead of 201"
Example:

[code]

https://github.com/microsoft/BotBuilder-Samples/blob/master/samples/python/19.custom-dialogs/app.py#L89

[enhancement]

[2020-04-27 18:51] v-kydela commented on #2330
@kittu610 - Are you still working on this?

[2020-04-27 20:14] rob-derosa opened #2348 "Adaptive Dialog projects have invalid Nuget reference [Microsoft.Bot.Builder.Expressions.Parser] - project does not build"
## Sample information
1. Sample type: [\samples\]
2. Sample language: [dotnetcore]
3. Sample name: adaptive-dialog/csharp_dotnetcore/02.multi-turn-prompt

## Describe the bug
Build error when compiling out of the box sample:

/Volumes/Data/Projects/BotBuilder-Samples/experimental/adaptive-dialog/csharp_dotnetcore/02.multi-turn-prompt/MultiTurnPromptBot.csproj : error NU1101: Unable to find package

[2020-04-27 20:31] rob-derosa commented on #2348
I tried adding the MyGet feed to VS but this issue still persists.

https://botbuilder.myget.org/F/botbuilder-v4-dotnet-daily/api/v3/index.json

[2020-04-27 22:41] stevkan commented on #2335
@GDreyV, I just want to make sure I'm caught up on what you are wanting. In a 1:1 conversation between a user and your bot, you want to be able to capture any card attachment meta data sent back to the bot from a messaging extension in order to identify where the card originated from, correct? To be able to tell if the card returned came from your bot, Bing News, GitHub, or any other bot/app messa

[2020-04-27 22:42] stevkan commented on #2338
@GDreyV, I just want to make sure I'm caught up on what you are wanting. In a 1:1 conversation between a user and your bot, you want to be able to capture any card attachment meta data sent back to the bot from a messaging extension in order to identify where the card originated from, correct? To be able to tell if the card returned came from your bot, Bing News, GitHub, or any other bot/app messa

[2020-04-27 23:45] GDreyV commented on #2338
You are completely right. Except the point it's requested by certification team instead of wanted by us :) I found what you are talking about but it's still not clear how to find actions and values bound to the buttons and who (what bot) composed the card.
So here's the card:
![image](https://user-images.githubusercontent.com/6262948/80431413-60a86080-88bf-11ea-84cf-71feec33b2eb.png)
And here's wh

[2020-04-28 01:07] stevkan commented on #2335
Hi @GDreyV, can you give example data for what you are sending in the card, namely the `project.Name` and `project.Id`? Knowing the kinds of data you are sending will be useful. Also, what is expected to happen when "Subscribe" is pressed? Is it supposed to open a link, begin some process by the bot, or something else?

[2020-04-28 03:53] VMey opened #2349 "Ticks: Date is not standard ISO format"
Steps to reproduce:
1. Ensure a date is formatted properly according to standards using: formatDateTime(utcNow(), 'yyyy-MM-ddTHH:mm:ss')
2. Attempt to get ticks from this date: ticks(formatDateTime(utcNow(), 'yyyy-MM-ddTHH:mm:ss'))

Expected result: Receive ticks for utcNow()
Actual Result: Exception: 2020-04-28T03:19:03 is not standard ISO format

Full message: 2020-04-28T03:19:03 is not standard

[2020-04-28 12:46] vitaliygor commented on #2349
Standart ISO format for adaptive dialogs is yyyy-MM-ddTHH:mm:ss.fffZ

[2020-04-28 12:54] #2249 closed

[2020-04-28 15:02] #2250 closed

[2020-04-28 15:40] GDreyV commented on #2335
Hello @stevkan `project.Name` and `project.Id` are just simple string values. Specifically `Name` is just something like "New project" and `Value` is converted to string mongo id. Subscribe button is represented by the action:
[code]
where `query` is `{ project.Id }`. So I suppose when card is in the message composing area buttons should be either disabled (if it not supposed to be pressed) or sho

[2020-04-28 17:03] v-kydela commented on #2338
`Activity.Attachments` is an `IList<Attachment>`. It has no `Items` property, and if it did then it would give you an `Attachment` object and not an HTML string. So that can't be right.

[2020-04-28 17:08] rob-derosa commented on #2348
Bad pull. Working now.

[2020-04-28 17:08] #2348 closed

[2020-04-28 19:26] GDreyV commented on #2338
You are completely right. Items is a property from Debug view. So what property should I check?
![image](https://user-images.githubusercontent.com/6262948/80528844-95babe80-8964-11ea-960f-09327af22d89.png)

[2020-04-28 19:47] v-kydela commented on #2338
Okay, that's what we needed to see. That HTML was in the content property of the attachment, and the type is text/html instead of a card type. Also, it looks like the HTML is sanitized to remove the button elements etc., so it will be very difficult for you to include any hidden metadata in the card that will show up in the HTML the bot receives.

[2020-04-28 19:54] GDreyV commented on #2338
Am I getting it right that for now there is no api to obtain adaptive card details from activity and the only way to understand that message content is a card is try to parse html?

[2020-04-28 20:38] anusharavindrar commented on #2343
@krisalay I am not able to reproduce the issue on my end. Can you attach the screenshots of what you tried on Teams as well as the Emulator? Your issue looks similar to #1740. Can you try adding token.botframework.com to your validDomains in your app manifest and see if it works?

[2020-04-30 18:45] v-kydela commented on #2330
I'm going to close this due to inactivity. To reiterate, Adaptive Cards are not supported on Slack, and Bot Framework rich cards can only be used on third-party channels if you're using an Azure Bot Service channel connector and not an adapter.

[2020-04-30 18:45] #2330 closed

[2020-05-01 19:37] apoorvanand commented on #2310
this issues still exists

[2020-05-01 19:39] apoorvanand commented on #2310
@Zerryth Can you please help in resolving this

[2020-05-02 05:57] Zerryth opened #2351 "[Adaptive] C# ToDo Bot unintentionally deletes all ToDos, when intending to delete only 1 todo"
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues)

## Sample information
Adaptive C# Sample: ToDo

## Describe the bug
When deleting a todo, it deletes the one targeted--and all the other ones saved as well

## To Reproduce
![image](https://user-images.githubusercontent.com/35248895/80856455-067d0780-8bff-11ea-8b4f-d99df7818ec7.png)

Latest from nightly
![image](htt

[2020-05-02 07:03] vishwacsena commented on #2351
I have a fix; will push up as part of R9 updates.

[2020-05-02 07:03] #2351 closed

[2020-05-04 06:54] Wajeed-msft opened #2360 "turnContext.TeamsCreateConversationAsync() used in Sample is missing from SDK"
I could not find turnContext.TeamsCreateConversationAsync() from [Messaging Extension sample](https://github.com/microsoft/BotBuilder-Samples/blob/master/samples/csharp_dotnetcore/53.teams-messaging-extensions-action-preview/Bots/TeamsMessagingExtensionsActionPreviewBot.cs#L72) in Bot Builder SDk.

![image](https://user-images.githubusercontent.com/31851992/80942307-17499b00-8e02-11ea-9ebd-438e567

[2020-05-04 16:56] anusharavindrar commented on #2343
Closing the issue due to no response. Please feel free to reopen if the issue persists.

[2020-05-04 16:56] #2343 closed

[2020-05-04 16:58] Zerryth opened #2361 "JS Adaptive Linting Errors: no-template-curly-in-string (eslint)"
## Versions
Samples for JS preview of Adaptive

## Describe the bug
Running the eslinter on the JS adaptive samples (currently on vishwac/r9/js branch: [JS Samples](https://github.com/microsoft/BotBuilder-Samples/tree/vishwac/r9/js/experimental/adaptive-dialog/javascript_nodejs)) yields a bunch of "`no-template-curly-in-string`" errors, which occur, because references to LG templates are written a

[2020-05-05 07:49] stevkan commented on #2335
@GDreyV, thank you for your patience. I am working on this and hope to have some response to you shortly.

[2020-05-05 09:36] stevkan commented on #2338
Unfortunately, no, at this time there does not appear to be any API or other method beyond what you already see and know. You may want to check out [Microsoft Graph](https://developer.microsoft.com/en-us/graph/graph-explorer). There are some Teams APIs that are available that you may be able to put to use by integrating into your bot. I haven't checked the APIs out too closely, but with the correc

[2020-05-05 09:36] #2338 closed

[2020-05-06 00:19] GDreyV commented on #2335
@stevkan, I'm not sure if it's related issue but here the case. I sent card into the `General` channel with `Subscribe` button as in the example above. User who is not authorized in the bot is pressing that button and nothing happens. The error in the console says:
[code]

[2020-05-06 15:58] kittu610 opened #2367 "how to capture slack users mail id where the bot is integrated in slack channel"
1.Created an echo bot using dot net framework.
2.Deployed bot in azure.
3.Enabled slack channel in web app bot in azure.
4.created an slack app using [this link](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-connect-slack?view=azure-bot-service-4.0&tabs=abs)

Every thing working fine but i want to capture the slack users mail id
Right now its is capturing mail id without d

[2020-05-06 17:09] Fugit185 opened #2368 "500: Internal Server Error"
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues) / [Java](https://github.com/Microsoft/botbuilder-java/issues)/ [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for genera

[2020-05-06 18:16] cleemullins commented on #2368
Some quick questions:
1. Which sample?
2. Why are you opening the Bot link in a browser? The Bot Framework Emulator would be the right tool.

[2020-05-06 18:17] cleemullins commented on #2367
Closing. Please ask "how-to" questions via Stack Overflow using the '#botframework' tag.

[2020-05-06 18:17] #2367 closed

[2020-05-06 19:16] Zerryth opened #2369 "JS Sample 81.skills-skilldialog - .env SkillEndpoint doesn't match skill's actual endpoint"
## Sample information
JS Sample 81.skills-skilldialog

## Describe the bug
1. Fill in your credentials in both .env, leaving in the already prefilled values.
2. Run the bot
3. Receive error:
[code]

This is because .env SkillEndpoint doesn't match the actual server port that the skill is using

index.js
![image](https://user-images.githubusercontent.com/35248895/81218753-8dc9d280-8f93-11ea-81c8-ae

[2020-05-07 08:46] Chekrii opened #2371 "Task Module in Teams not working in IOS Using Bot framework"
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues) / [Java](https://github.com/Microsoft/botbuilder-java/issues)/ [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for genera

[2020-05-07 15:48] #2369 closed

[2020-05-08 08:24] danlavrushko commented on #2312
@stevengum any samples of proactive messages from Skill to Parent Bot?

it looks like that any proactivity by Skill bot will receive 401 from Parent Bot because of missing claims and possibly outdated conversation reference

[2020-05-08 08:34] WizX20 commented on #2312
Same issue here. When I use the skill directly all works well. But when I'm calling the skill via my VA it will fail with an unauthorized exception (all authentication is off).

Also, when fetching a new token via login.microsoftonline.com and applying that as bearer auth header does not work. Example:
`
var authToken = await this.GetAuthToken(conversation);
connectorClient.HttpClient.DefaultReque

[2020-05-08 13:44] FuzzAU commented on #2368
ohh, I was having the same issue until I saw this.
The step where "python app.py" is executed gives you a link, and the next step most of us would take is to try that URL. However the instructions clearly instruct to open the Bot Framework Emulator.

Perhaps the samples should instruct users to do open the emulator to avoid future confusion.

[2020-05-08 14:32] GDreyV opened #2373 "Sign In popup height"
Hello! Sorry if I'm asking the question in the wrong place. What is height of the sign in window popup for auth flow in Teams bot? I mean window which is shown up when user press Sign In button on auth prompt? I'm asking because it looks like it has different height in different scenarios and platforms. Not sure what it depends on.

[2020-05-08 16:22] mdrichardson commented on #2373
@GDreyV I don't have a great, for-sure answer for you. This should probably be asked via the [Teams UserVoice](https://microsoftteams.uservoice.com/) as it has to do with the Teams client and not Bot Framework.

That being said, on my client, the window is 786.4 x 563.2 and is set to `display: flex`. If I were to guess, the window size is based on the display size of the user's monitor/screen; tha

[2020-05-08 16:22] #2373 closed

[2020-05-09 00:05] GeekTrainer opened #2374 "dotenv loads before loading bot"
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues) / [Java](https://github.com/Microsoft/botbuilder-java/issues)/ [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for genera

[2020-05-09 17:16] asp1egui commented on #229
hi @EricDahlvang can i comment on this issue or should i open a new issue about the error that i got after doing all the steps that the tutorial told you to do ?

[2020-05-11 07:17] saleemnasa opened #2376 "How to put all bot sample functionalities in one bot?"
Hi,

I have to put all activities or functionalities in one bot and run.
Can anybody help me with any existing projects like this in v4 version of microsoft bot framework.

Thanks