[2019-07-11 16:19] v-kydela commented on #1626
@luannguyengo1 - This is working as designed/expected, so I am closing this issue. The screenshot you referenced for your expected behavior is from the mobile app and not the desktop app. If you would like to suggest this as a feature for the desktop app, please feel free to use the Teams feedback forum: https://teamsfeedback.uservoice.com

[2019-07-11 16:19] #1626 closed

[2019-07-11 16:24] stevengum opened #1642 "Switch from TSLint to ESLint for TypeScript samples"
[Relevant TypeScript issue](https://github.com/Microsoft/TypeScript/issues/29288)

[enhancement]

[2019-07-11 19:34] EricDahlvang opened #1644 "Node samples onTurnError should console log the error"
## Sample information
1. Sample language: nodejs
2. Sample name: all

## Describe the bug
This line does not render correctly:
[code]

This would be better:
[code]

[bug]

[2019-07-11 21:13] CoHealer commented on #1595
@prakash9707 , did this resolve your issue?

[2019-07-11 21:15] CoHealer commented on #1515
@giuleon, have you tried using the suggestion @dmvtech provided? Do you still require assistance. If not, please let us know and we'll close the issue.

[2019-07-11 21:16] CoHealer commented on #893
@anusharavindrar, please comment on your findings.

[2019-07-11 21:25] anushaRaoR commented on #893
- Tried using @babel/plugin-transform-spread and then including @babel/plugin-transform-spread and @babel/plugin-proposal-object-rest-spread in the presets in .babelrc file, but it still shows the same error.
- The targets for the presets in .babelrc file only specifies for the Chrome version but not for Edge.

[2019-07-12 01:30] saikumaru commented on #1625
Thank you so much for the quick reply. I will do the same way. I should have checked the
dependancy version before posting, beginners rush.

[2019-07-12 09:36] mattchilds1 commented on #1637
The new sample is now working, thanks both!

[2019-07-12 12:59] karoyal opened #1645 "qna prompting does not display full text with buttons"
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues) / [Java](https://github.com/Microsoft/botbuilder-java/issues)/ [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for genera

[2019-07-12 19:38] tdurnford commented on #1645
Take a look at https://github.com/microsoft/BotFramework-WebChat/issues/2043#issuecomment-497870359

[2019-07-12 20:16] johnataylor opened #1647 "C# WebApi CoreBot needs update"
We have upcoming changes in CoreBot on the corebot_updates branch. We should replicate these changes as closely as possible in the WebApi samples.

[2019-07-12 21:22] compulim commented on #1618
[code]

It could become

[code]

[2019-07-12 23:41] stevkan commented on #277
Closing this issue. The Skype team is not supplying resources to address this issue. Instead, they are recommending customer's use the Real Time Media or MS Teams SDKs for creating calling bots.

[2019-07-12 23:41] #277 closed

[2019-07-15 07:08] Mrinnaal commented on #1380
Is it possible to get an sample code implemented in c# for v4? Thanks in advance :)

[2019-07-15 16:06] anushaRaoR commented on #893
Fix:https://github.com/microsoft/botbuilder-js/pull/1056

[2019-07-15 16:09] anushaRaoR commented on #893
Fix: https://github.com/microsoft/botbuilder-js/pull/1056

[2019-07-15 18:06] sgellock commented on #893
@anushaRaoR I don't think we're going to take that fix as a different solution is in order.  We are working through that alternate solution.

[2019-07-15 18:32] anushaRaoR commented on #893
@sgellock sure, would wait for the alternate solution and update the fix link accordingly

[2019-07-16 00:56] vishwacsena commented on #1593
Fixed via #1650

The core of the issue is that LUIS does come back with a low confidence intent recognition for single word utterances as well as for those that are used explicitly to resolve values to entities while in the middle of a multi-turn conversation.

We continue to discuss this problem across LUIS and Adaptive Dialog teams but in the interim, there are two possible solutions -

1. Rejec

[2019-07-16 00:56] #1593 closed

[2019-07-16 14:04] Madddog1997 commented on #1593
But that did not resolve my problem....
It still shows up -> Exception caught : 0.0 is not a number in expression '0.0' only now it shows up on connection to Bot and yes I did update to newest commited project and yes I have set up LUIS.

If I comment that line where rules are added in dialog then it won't show up.

[2019-07-16 21:01] scheyal opened #1654 "Add telemetry to QnAMaker sample (11)"
Please hook up telemetry to the QnAMaker sample (11). This will be used to complete the gap in telemetry documentation of the documentation (we have SDK, and LUIS but not QnA).
@munozemilio FYI.

[2019-07-16 22:13] tdurnford commented on #1589
@gabog

The Direct Line Connector Service has been updated to send one conversation update event with both the bot id and the user id in the activity's `membersAdded` property if the token used to start the conversation was generated with a user id. Otherwise, the second conversation update for the user is still sent after the user messages the bot the first time.

In the example below, the user i

[2019-07-16 23:23] Anshul21 opened #1655 "OAuth not working with latest version of 24.bot-authentication-msgraph"
## Sample information
1. Sample type: 24.bot-authentication-msgraph.sln
2. Sample language: dotnetcore
3. Sample name: 24.bot-authentication-msgraph

## Describe the bug
After upgrading to latest version of  24.bot-authentication-msgraph. The OAuth is not working fine in emulator as well as teams.

## To Reproduce
Steps to reproduce the behavior:
1. Go to  24.bot-authentication-msgraph
2. Enter yo

[2019-07-17 02:22] tdurnford commented on #1645
@karoyal Are you still having an issue with this?

[2019-07-17 05:07] vinayjayaram opened #1656 "Video Card doesnt work in Teams Channel"
I am not able to render Video Card in Teams Channel

It is giving me an error **"Oops. Something went wrong!"**

In the logs i get **"[onTurnError]: Error: Unknow"**

Code Sample link: https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/javascript_nodejs/06.using-cards

[2019-07-17 10:57] VKAlwaysWin commented on #1656
Hi @vinayjayaram . It looks like Teams doesn't supporting Video Card: https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/cards/cards-reference#cards-not-supported-in-teams

[2019-07-17 12:15] karoyal commented on #1645
Sorry for the delay, I was able to successfully edit the bot to display full text. Thank you for all the help and support.

________________________________
From: TJ Durnford <notifications@github.com>
Sent: Tuesday, July 16, 2019 10:22:20 PM
To: microsoft/BotBuilder-Samples
Cc: Kaige Royal; Mention
Subject: Re: [microsoft/BotBuilder-Samples] qna prompting does not display full text with buttons (

[2019-07-17 15:37] jwiley84 commented on #1645
Glad TJ was able to help you! Closing this issue.

[2019-07-17 15:37] #1645 closed

[2019-07-17 15:59] Emod94 commented on #1656
I'm just having the same problem. I wish teams would support the cards soon..
Is there already a roadmap when this feature will be available?

[2019-07-17 16:14] jwiley84 commented on #1595
Closing issue.

[2019-07-17 16:14] #1595 closed

[2019-07-17 19:36] compulim commented on #1618
It also throws in IE11. I am fixing it.

[2019-07-17 19:39] compulim commented on #1618
@anushaRaoR the PR is up.

Although we have the fix for the sample and the sample will work in IE11, there are some issues with Bot Framework SDK need to be addressed before this sample will work. Notably,

- https://github.com/microsoft/botbuilder-js/issues/1073
- https://github.com/microsoft/botbuilder-js/issues/1075
- https://github.com/microsoft/botbuilder-js/issues/1076

[2019-07-17 20:19] #1647 closed

[2019-07-17 21:09] v-kydela commented on #1656
@Emod94 - There are a few public sites where you can see some of the things that are being worked on in Teams:

https://www.microsoft.com/en-us/microsoft-365/roadmap?filters=Microsoft%20Teams
https://microsoftteams.uservoice.com/forums/555103-public

There is no indication that there are any plans for Teams to support video cards. Sorry for the inconvenience. Closing now.

[2019-07-17 21:09] #1656 closed

[2019-07-18 08:59] mutanttech commented on #1589
@tdurnford, I read your comment today. Is this applicable for v3 as well. And does this mean the changes we have done for sending a backchannel event and handling the event activity can be simplified?

[2019-07-18 10:47] NikhilBansal21 opened #1659 "Getting an Sorry no registered Luis and Qna Found error"
## Sample information
1. Sample type: nlp dispatch
2. Sample language: [dotnetcore
3. Sample name: nlp dispatch

## Describe the bug
On following microsoft's  url for creating a dispatch for QnA and Luis and creating a Luis app for both, On configuring app_settings.json with luis and qna's credentials . When i run my bot on emulator i am getting following error -

**-------------------------------

[2019-07-18 13:01] dcmesh commented on #1655
I'm getting a pretty similar error for my bot that uses an OAuth connection to Microsoft Graph as well.
![image](https://user-images.githubusercontent.com/36556579/61459250-54f43a80-a93a-11e9-88ba-cab8627d43dc.png).

Side Note: another bot that I have which uses OAuth sign-in has the Sign In prompt appear, but nothing happens with it.

[2019-07-18 13:36] Anshul21 commented on #1655
@dcmesh hey! Downgrade your emulator to v4.4.0

[2019-07-18 14:10] dcmesh commented on #1655
@Anshul21 Thank you for the reply! I just tried that, but it did not end up working.

[2019-07-18 15:05] anusharavindrar commented on #1655
Could you post on what behavior you observe when you click on 'Confirm'? Also, what behavior are you encountering when you use Teams?

[2019-07-18 15:07] anusharavindrar commented on #1655
@Anshul21 Could you post on what behavior you observe when you click on 'Confirm'? Also, what behavior are you encountering when you use Teams?

[2019-07-18 15:19] montacerdk opened #1660 "Context data confict - Unexpected switch language in Multilingual bot"
## Sample information

1. Sample type: [Samples]
2. Sample language: [Node.js - botbuilder SDK v 4.5.0]
3. Sample name: <Multilingual-bot>

## Describe the bug
I am developing a Multilingual bot that is connected with the Direct Line channel to out client application.

When the bot receives messages from more than one user with different languages (For example french and English), for some reasons

[2019-07-18 16:08] sgellock commented on #1644
@EricDahlvang why would this be better?

[2019-07-18 16:39] corinagum commented on #1620
@rahultyagi2000 could you provide your code and bot handle so that our team can help investigate?

[2019-07-18 17:21] Madddog1997 opened #1661 "Create Dialogs without using WaterFall"
Hi, is there a way to create dialogs without using WaterFall dialogs because we want to go a step back or 2 step forward skipping ceratin steps and as I found there is no way to do that in WaterFall (only by creating smaller dialogs and skipping one by one)?

[2019-07-18 17:22] Anshul21 commented on #1655
@dcmesh Also change your emulator settings. I hope this works.
![image](https://user-images.githubusercontent.com/7298709/61478213-ec12bf80-a945-11e9-8575-1204104112a1.png)

[2019-07-18 17:24] Anshul21 commented on #1655
On Confirm, It doesn't redirect me to the login page and it just comes back with token = "whatever you see after &&& in the url"

[2019-07-18 17:44] Zerryth commented on #1625
(Just a small side comment: removing this from my support queue, as Scott has assigned Rohan onto this 👍 )

[2019-07-18 18:23] Anshul21 commented on #1661
I having similar issue with 24.MSGraphAuthentication. it forces user to go through all the steps. I want to skip LoginStep if user is already loggedin

[2019-07-18 19:14] mdrichardson commented on #1659
I wasn't able to replicate this and can run the Dispatch sample without errors. Looking at your stack trace, I think we can narrow this down to LUIS (maybe). Can you verify:

1. Your `appsettings.json` uses the Dispatch LUIS App's appId, and not one of the Weather or Home Automation ones
2. Both Weather and Home Automation are published
3. In `appsettings.json`, what do you have for `LuisAPIHostNa

[2019-07-18 20:15] danwkennedy commented on #1655
I'm seeing this as well. I've also noticed that 4.4.x versions of the emulator won't connect to my bot running on localhost so I can't downgrade either.

Whenever I click the confirm link in the emulator the token returned to the dialog is of the format:
`<ConversationId>|livechat`

[2019-07-18 21:35] mdrichardson commented on #1644
@sgellock 	I could see some benefit in that it would print the stack trace. However, I'd recommend something more like:

[code]

...the ternary would prevent `[onTurnError]: undefined` in the event of

[code]

instead of

[code]

This would result in something like:

![image](https://user-images.githubusercontent.com/40401643/61493754-35c0d180-a969-11e9-8f89-9f9bf8058a1b.png)

[2019-07-18 22:01] mdrichardson commented on #1133
@tdurnford 	has a really nice [handoff sample](https://github.com/tdurnford/botframework-human-handoff) I'd recommend taking a look at if you're looking for something a little more recent.

[2019-07-18 22:13] EricDahlvang commented on #1644
1) @stevengum said it would be better :)

2)
[code]
Results in a useless string in the debug console:
[onTurnError]: [object Object]

[code]
Results in an interactive object in the debug console:
GraphError {statusCode: -1, code: null, message: null, requestId: null, date: Thu Jul 18 2019 15:09:30 GMT-0700 (Pacific Dayligh…, …}

[2019-07-18 22:23] jwiley84 commented on #1661
Hihi all!

The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/BotBuilder/blob/master/README.md) repos are the preferred platform for submitting **bug fixes** and **feature requests**. That being said:

@Madddog1997:

There are ways to

[2019-07-18 22:23] #1661 closed

[2019-07-18 22:41] mdrichardson commented on #1644
In case anybody is curious (I was, so I did some testing and looked it up), it will print `[object Object]` if the code `throw`s a class that doesn't extend the `Error` class. [`GraphError`](https://github.com/Azure/azure-sdk-for-node/blob/master/lib/services/graphManagement/lib/models/graphError.js#L17) does not.

Any custom error classes that *do* extend the `Error` class would work just fine as

[2019-07-18 22:42] EricDahlvang commented on #1644
Interesting!  Thanks @mdrichardson

[2019-07-18 23:23] Avalaxy commented on #1133
Only for javascript unfortunately. I think a C# example would be more
interesting.

On Fri, Jul 19, 2019, 00:01 Michael Richardson <notifications@github.com>
wrote:

[2019-07-19 01:29] tdurnford commented on #1133
@diruuo mentioned @tompaana’s C# handover sample in his comment above.
 https://github.com/tompaana/intermediator-bot-sample

[2019-07-19 02:51] leoskvl commented on #1659
Hi, I am new in using BotBuild and getting the same issue when testing my bot via Bot Emulator.

![image](https://user-images.githubusercontent.com/13193576/61505938-1f6f5000-aa13-11e9-86f7-116da408e29a.png)

-- appsettings.json consist of LUIS Dispatch app id and QnaMaker ID
-- botemulator.bot settings consist of 2 Luis Model settings, qnamaker settings and LUIS Dispatch settings.

Thanks!

[2019-07-19 02:55] NikhilBansal21 commented on #1659
hi

1- i am passing my Dispatch luis's appd id and not the one's of weather and Home automation one
2- by weather and home apps published , you mean from luis when we publish our apps on azure ?
3- luis host name - westus.api.cognitive.microsoft.com and
 qna - https://mts-qna.azurewebsites.net/qnamaker
4- i was but my team have disabled firewall and dns restrictions for my system
5- luis app id fo

[2019-07-19 03:04] NikhilBansal21 commented on #1659
@leoskvl  better debug the code , as this message comes only when their is some kind of exception, try looking into AdapterWithErrorHandler class  their you can log the exception or you can put a break point over there, this can put you in the right direction as to what is going wrong

[2019-07-19 04:31] leoskvl commented on #1659
@NikhilBansal21 thanks! have you experienced this? I'm getting this "No such host is known" error message.
![image](https://user-images.githubusercontent.com/13193576/61509438-11c0c700-aa21-11e9-8817-7153e0f952c3.png)

[2019-07-19 04:34] NikhilBansal21 commented on #1659
@leoskvl  follow this - https://forums.asp.net/t/1855430.aspx?How+to+resolve+No+such+host+is+known+
mayb be this can resolve your issue

[2019-07-19 06:37] rokulka commented on #1625
@trojenguri from out team is working with QnA samples at the moment. Please look into it.

[2019-07-19 07:06] NikhilBansal21 commented on #1659
solved this issue, i was providing full url in app_settings.json ,

[2019-07-19 07:06] #1659 closed

[2019-07-19 07:16] NikhilBansal21 opened #1662 "Do we have to run dispatch script every time we add a new intent in Luis / QnA?"
Sample - NLP Dispatch
 Hi,
For the above sample, If we update our agents with some new intents, then do we have to run dispatch scripts again?

[2019-07-19 14:51] rahultyagi2000 commented on #1620
Thanks for asking, this is now resilved.  I was making mistake in passing User object for retriving token from directline generate api.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Corina <notifications@github.com>
Sent: Thursday, July 18, 2019 10:09:27 PM
To: microsoft/BotBuilder-Samples <BotBuilder-Samples@noreply.github.com>
Cc: rahultyagi2000 <rahulty

[2019-07-19 15:12] EricDahlvang commented on #1538
Note: this was filed as a teams issue, but isn't really about teams.  The problem is different graph client versions are not working as expected.  This PR pins a working version, and removes the call to graphClient.getManager (for parity with dotnet): https://github.com/microsoft/BotBuilder-Samples/pull/1643

[2019-07-19 16:17] jwiley84 commented on #1662
The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/BotBuilder/blob/master/README.md) repos are the preferred platform for submitting **bug fixes** and **feature requests**.

That being said, the short answer is yes. You'd run 'dispatc

[2019-07-19 16:17] #1662 closed

[2019-07-19 16:22] corinagum commented on #1620
Glad you got it working! Closing this issue, but please feel free to contact the support team via [Stack Overflow](https://stackoverflow.com/tags/botframework) if you have further implementation questions we can help with. :)

[2019-07-19 16:22] #1620 closed

[2019-07-19 18:31] sschutten commented on #1655
I'm experiencing the same thing as mentioned by @danwkennedy in 4.5.2. I've also tried 4.4.0 and 4.4.2 but those versions don't trigger the OnTokenResponseEventAsync after a successful sign in. Only if I enable the sign-in verification code for OAuthCards it works in 4.4.x.

[2019-07-19 22:19] sgellock opened #1663 "javascript es6/01.browser-echo does not work in Safari"
## Sample information
1. Sample type: javascript
2. Sample language: es6
3. Sample name: 01.browser-echo

## Describe the bug
The sample doesn't run in Safari

## To Reproduce
Steps to reproduce the behavior:
1. Build the sample
2. Run the sample
3. Point the browser at http://localhost:8080
4. See nothing

## Expected behavior
Get the web chat window at the bottom of the browser

[bug]

[2019-07-19 23:12] #1618 closed

[2019-07-19 23:24] stevengum commented on #1663
Fixed via #1657; thanks @compulim!

[2019-07-19 23:24] #1663 closed

[2019-07-20 12:52] yoshikinoko opened #1665 "NodeJS[24.bot-authentication-msgraph] the bot does not return `recent` messages"
## Sample information
1. Sample type: [samples\]
2. Sample language: [nodejs]
3. Sample name: 24.bot-authentication-msgraph (Authentication Bot Utilizing MS Graph)

## Describe the bug

`recent` command cannot show recent unread mail.

## To Reproduce
Steps to reproduce the behavior:
1. Run the sample and connect from Bot Framework Emulator
2. Login with MS
3. type `recent`
4. The bot always retur

[2019-07-21 22:30] sgellock commented on #1564
version 4.5.0 or above of the generator-botbuilder npm package now supports core bot test as an option

[2019-07-21 22:30] #1564 closed

[2019-07-21 22:31] sgellock commented on #1629
generator-botbuilder version 4.5.0 or above supports core bot tests in TypeScript

[2019-07-21 22:31] #1629 closed

[2019-07-21 22:32] sgellock commented on #1556
All JS and TS samples have been updated to use 4.5.1, which enables this scenaro

[2019-07-21 22:32] #1556 closed

[2019-07-21 22:39] sgellock commented on #1563
.NET Core Templates have been updated and merged into master.

[2019-07-22 15:33] tdurnford commented on #1589
@mutanttech Yes, this should also apply to Web Chat v3. We're working on putting together better documentation for Web Chat Welcome Messages.

[2019-07-22 15:34] #1563 closed

[2019-07-22 16:41] CoHealer commented on #1515
Closing post recommendation. If this does not resolve your issue, please re-open and we'll look into other options.

[2019-07-22 16:41] #1515 closed

[2019-07-22 17:27] sgellock opened #1667 "[yeoman] generator- botbuilder needs to have a supporting build and release pipeline"
We need a build pipeline and a release pipeline for generator-botbuilder.  this should be modeled in the way we do our JS modules (version information in package.json, is updated by the build process.  builds are published to botbuilder.myget until we move off of that service.  and lastly we need a release pipeline that will publish to npmjs.org

[2019-07-22 17:36] BruceHaley commented on #1667
I can do this for you. Shall we meet and go over the details? I.e. source repo and build commands.

Thanks.
--Bruce

From: Scott Gellock <notifications@github.com>
Sent: Monday, July 22, 2019 10:29 AM
To: microsoft/BotBuilder-Samples <BotBuilder-Samples@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [microsoft/BotBuilder-Samples] [yeoman] generator- botbuilder needs to

[2019-07-22 17:39] sgellock commented on #1667
Let me know how I can help

[2019-07-22 18:36] BruceHaley commented on #1667
I will get started on a build for https://github.com/microsoft/BotBuilder-Samples/tree/master/generators/generator-botbuilder

--BH

From: Scott Gellock <notifications@github.com>
Sent: Monday, July 22, 2019 10:29 AM
To: microsoft/BotBuilder-Samples <BotBuilder-Samples@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [microsoft/BotBuilder-Samples] [yeoman] generator- bot

[2019-07-22 21:03] v-kydela commented on #1593
@vishwacsena - Isn't it curious that the exception `0.0 is not a number in expression '0.0'` would be thrown at all? The line number in the stack trace is consistent with ExpressionEngine.cs at this commit: https://github.com/microsoft/botbuilder-dotnet/commit/cac3ed0e68a60f6e177476f50b44fc8aef8f52c9

The method `VisitNumbericAtom` looks like this:

[code]

The exception is only thrown if the text

[2019-07-22 21:24] BruceHaley commented on #1667
The build: BotBuilder-Generator-JS-daily https://fuselabs.visualstudio.com/SDK_v4/_build?definitionId=591&_a=summary
The release: Push-BotBuilder-Generator-JS-to-MyGet-daily https://fuselabs.visualstudio.com/SDK_v4/_release?definitionId=63&view=mine&_a=releases
The released package on MyGet: aitemplates - generator-botbuilder 4.6.0-preview.72039 https://botbuilder.myget.org/feed/aitemplates/packag

[2019-07-22 21:41] BruceHaley commented on #1667
Hi Scott,

Completed:

The build: BotBuilder-Generator-JS-daily https://fuselabs.visualstudio.com/SDK_v4/_build?definitionId=591&_a=summary
The release: Push-BotBuilder-Generator-JS-to-MyGet-daily https://fuselabs.visualstudio.com/SDK_v4/_release?definitionId=63&view=mine&_a=releases
The released package on MyGet: aitemplates - generator-botbuilder 4.6.0-preview.72039 https://botbuilder.myget.org/

[2019-07-22 21:46] JonathanFingold opened #1668 "Inspection middleware sample has inconsistent OnTurnError handling"
## Sample information
1. Sample type: [samples]
2. Sample language: [dotnetcore and nodejs]
3. Sample name: 47.inspection

## Describe the bug
1. The JavaScript OnTurnError handler doesn't clear conversation state, whereas the CoreBot's adapter does.
2. The C# adapter doesn't have an OnTurnError handler.

## To Reproduce
Steps to reproduce the behavior:
1. Look at the adapter/error handler for [JS

[2019-07-22 22:02] BruceHaley commented on #1667
Oops, the prod release definition link below was incorrect. Now corrected.

From: Bruce Haley (Harvey Nash)
Sent: Monday, July 22, 2019 2:41 PM
To: microsoft/BotBuilder-Samples <reply@reply.github.com>; microsoft/BotBuilder-Samples <BotBuilder-Samples@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: RE: [microsoft/BotBuilder-Samples] [yeoman] generator- botbuilder needs

[2019-07-22 23:28] Ecclesiast opened #1669 "In Azure Web App: POST to <bot-name> failed: POST to the bot's endpoint failed with HTTP status 500"
### Bot works fine in emulator, but doesn't work after deployment in Azure

## Sample information
1. Sample type: [\samples\ or \solutions\]
2. Sample language: dotnetcore
3. Sample name: Tried Echo Bot, Language Generation

## Describe the bug
.NET Core 2.1,
Azure Web App, Azure Channel Registration.

Everything works fine at localhost in emulator. After deployment at Azure Web App and testing Bo

[2019-07-23 17:45] mdrichardson commented on #1669
@ecclesiast Can you provide the steps you used to deploy?

[2019-07-23 18:15] gabog commented on #1589
Hi @tdurnford, testing this right now, will let you know how it goes soon but preliminary tests look promising.

[2019-07-23 19:25] gabog commented on #1589
Hi again @tdurnford, I tested the webchat script in my code and conversation update works as expected now. thanks for the help.

Gabo

[2019-07-23 19:25] #1589 closed

[2019-07-24 13:04] shashank94 commented on #1380
Hi @EricDahlvang  I tried out your code and made the necessary changes in Startup.cs but I'm still facing issue. I'm implementing a logger for simple core bot in C# and trying to save the data locally in a database. Is it possible to get an example or a sample code for the same?
Thanks in advance.

[2019-07-24 18:27] CoHealer commented on #1660
@stevkan , please investigate

[2019-07-24 20:26] mdrichardson commented on #1669
@Ecclesiast 	Can you verify:

1. You followed [the Deployment docs](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-tutorial-basic-deploy?view=azure-bot-service-4.0&tabs=csharp%2Cnewrg)

2. There is an App in [App Registrations](https://ms.portal.azure.com/#blade/Microsoft_AAD_RegisteredApps/ApplicationsListBlade) with an Application ID that matches the one found in `Azure Portal >

[2019-07-24 20:57] zxyanliu opened #1671 "Minor directory typo & LuisAPIHostName value - 04. core-bot sample"
## Sample information
1. Sample type: [BotBuilder-Samples/experimental/adaptive-dialog]
2. Sample language: [C#]
3. Sample name: <04.core-bot>

## Describe the bug
In this readme file: https://github.com/microsoft/BotBuilder-Samples/tree/master/experimental/adaptive-dialog/csharp_dotnetcore/04.core-bot

In LUIS stepup
1. there is a minor typo here:
In the four step, "Select `botbuilder-samples/exp

[2019-07-25 14:04] sgellock commented on #1671
@zxyanliu thank you for opening this issue.  I pushed a fix into master that addresses it.

[2019-07-25 14:04] #1671 closed

[2019-07-25 17:27] dcmesh commented on #1655
@Anshul21 If your still having issues, these fixes were able to help me:

- Try running the bot emulator in Administrator Mode
- Make sure that the AAD App Registration you are connecting to is properly listed in the appsettings.json file, with something like `"ConnectionName": "<insert_connection_name>",`
- Make sure that the AAD App Registration has the proper Redirect URI: `https://token.botfra

[2019-07-26 02:22] EricDahlvang commented on #1380
Bot.Builder.Community.Storage.EntityFramework can be used in the same way as other V4 IStorage providers (nuget package https://www.nuget.org/packages/Bot.Builder.Community.Storage.EntityFramework/ )

'''cs
var storage = new EntityFrameworkStorage(Config["SqlConnectionString"]);
services.AddSingleton<IStorage>(storage);
services.AddSingleton<UserState>();
services.AddSingleton<ConversationState>()

[2019-07-26 16:55] EricDahlvang opened #1673 "Sample 45.state-management should be more similar between dotnet and node"
Working with a customer on a call, I noticed they were following the pattern demonstrated in the node [StateManagementBot](https://github.com/microsoft/BotBuilder-Samples/blob/master/samples/javascript_nodejs/45.state-management/bots/stateManagementBot.js#L24)  However, they seem to have gotten confused due to the property accessor names being identical to the actual property names.  The dotnet sa

[2019-07-26 17:18] seanbetts opened #1674 "dotenv.load(); needs to be replaced with dotenv.config();"
Please update the documentation to state:
// initialized to access values in .env file.
var dotenv = require('dotenv');
dotenv.config();

### Document Details

⚠ Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

ID: 7538ed7a-5bb8-abc0-23e7-5b118e2fd47f
Version Independent ID: f6181862-6527-6698-afcd-4f6d240123da
Content: Write directly to storage - Bot Servic

[2019-07-26 21:00] stevengum commented on #1644
I modified the `EchoBot.onMessage` in the Node.js 02.echobot sample:

[code]

This will result in the following:

[code]

The `console.log()` has the stack trace which is nice.

For "Errors" that don't extend the `Error` class it would print out the `Error.message`, it would probably output this in a `console.log(err);`:

[code]

[2019-07-26 21:14] mdrichardson commented on #1644
@stevengum 	The issue is more when you have:

[code]

When you pass `console.log` a string instead of an `Error`, it prints `[Object object]`

[code]

[2019-07-26 21:28] stevengum commented on #1644
I suppose I should have clarified more, I'm all for console.logging the error without trying to manually format it into a string.

Something that Eric pointed out that we could do is add another console.error before we call `console.error(error);` to indicate where the message is being thrown from:

[code]

When debugging bots with a TurnError handler, I've run into the exact problem where it just

[2019-07-26 21:30] mdrichardson commented on #1644
...I'm a little defensive today :smile: Mb.

[2019-07-26 21:41] mdrichardson commented on #1674
Where are you seeing this? I'm not seeing any of the samples use `.load()`

[2019-07-26 22:01] mdrichardson commented on #1674
Thanks for pointing this out! I will close this issue now that a PR has been submitted for it.

[2019-07-26 22:01] #1674 closed

[2019-07-29 14:17] mdrichardson commented on #1669
I am closing this issue as it doesn't seem to be a blocking issue. Feel free to reopen if you have need to get this resolved.

[2019-07-29 14:17] #1669 closed

[2019-07-30 09:11] Dolphin02 commented on #1655
Hi, I'm getting a pretty similar error for my bot that uses an OAuth connection to Microsoft Graph as well. Have you figured out it?

[2019-07-30 09:52] GewoonMaarten commented on #1581
@stevkan This makes no sense to me. When I use the publish function in Visual Studio it builds all the dll's locally, includes the dll's of the dependencies and then uploads them to Azure, right? So why would this error be caused by Azure not knowing the dependencies?

I also tried @EricDahlvang suggestion to include a nuget.config file, but I had no luck. Here is my nuget.config file:
[code]

[2019-07-30 20:57] stevkan commented on #1660
@montacerdk, are you able to post your code that is relevant to this so I can see your implementation?

[2019-07-31 11:00] montacerdk commented on #1660
@stevkan, I am using `i18next` module in order to load translations, using the `t()` function by passing the user `locale` (en, fr, es, ...).

This function `makeConfirmPrompt` is used by all confirm prompts in the project. I am updating the confirm prompt choices dependending on the locale.
[code]

[code]

[2019-07-31 17:05] dcmesh commented on #1655
@Dolphin02 Another issue I ran into was trying to run the bot behind a proxy. I think some part of the OAuth connection can be interfered with by a proxy, even if the Bot Framework Emulator is set to override to localhost when bypassing ngrok. If you are trying to authenticate with your bot behind behind a proxy, that may be the source of the issue.

[2019-08-01 02:42] stevkan commented on #1660
Which channel(s) are you noticing this issue? If web chat, is this the embedded web chat (i.e. from the "Web Chat" channel) or is this a BotFramework-WebChat implementation? Also, how are you determining the user's locale? From the bot, browser, or some other method?

[2019-08-01 03:18] EricDahlvang opened #1681 "More TypeScript samples"
**Describe the solution you'd like**
More of these https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/javascript_nodejs in TypeScript

[enhancement]

[2019-08-01 08:10] montacerdk commented on #1660
We are implementing the bot in a widget into our application via Direct Line channel.

The bot determines the user's locale using Text Analytics API.
After getting the the locale, we are updating localeProp in the conversationData.

[2019-08-01 12:30] stephanbisser opened #1682 "Prerequisites documentation should be enhanced for Experimental samples"
Hi team,
I now starting digging deeper into the experimental section and came across some minor issues in the docs here.
For me it would make sense to include the MyGet prerequisites into the prerequisites section here to instruct users on how to add the BotBuilder MyGet feed into Visual Studio for example, as the documentation is a bit confusing when there is no reference to this at the moment...

[2019-08-01 14:14] sgellock commented on #1681
We'll track the request with this issue.  That said, we won't make any progress on this for the remainder of the calendar year.

[2019-08-01 18:31] CoHealer commented on #893
@sgellock , wasn't this fixed with the 4.5 roll out?

[2019-08-01 19:11] sgellock commented on #893
yes, I believe so.  would be good to double check that it's fixed so the customer can get a definitive ACK from us.  Can you do that please?

[2019-08-02 01:29] sgellock commented on #203
@CoHealer not sure if we're planning to make any progress on this.  it's very old

[2019-08-02 01:38] sgellock opened #1683 "[Teams] Provide an Authentication sample that supports the Teams flow"
## Sample information
1. Sample type: samples
2. Sample language:
[ ] dotnetcore
[ ] nodejs
python (Targeted at a different cycle: microsoft/botbuilder-python#330)
3. Sample name: 46.teams-auth

## Describe the bug
Rationalize the current auth samples in BF SDK to ensure they work naturally when run in Teams.  Support for C#, JS, and Python is required

[2019-08-02 01:41] sgellock opened #1684 "[Teams] Provide a sample that shows how a 1-1 bot should be written"
## Sample information
1. Sample type: samples
2. Sample language:
[ ] dotnetcore
[ ] nodejs
python (Targeted at a different cycle: microsoft/botbuilder-python#330)
3. Sample name:

## Describe the bug
Consider adding command menus to this sample.  Support for C#, JS, and Python is required
--

[2019-08-02 01:44] sgellock opened #1685 "[Teams] Provide a sample that shows how to send and receive files"
## Sample information
1. Sample type: samples
2. Sample language:
[ ] dotnetcore
[ ] nodejs
python (Targeted at a different cycle: microsoft/botbuilder-python#330)
3. Sample name:

## Describe the bug
Samples needs to demonstrate how to send and receive a file when using the Teams channel.

Support for C#, JS, and Python is required
--

[2019-08-02 01:46] sgellock opened #1686 "[Teams] Provide a sample that shows how to do proactive messaging"
## Sample information
1. Sample type: samples
2. Sample language:
[ ] dotnetcore
[ ] nodejs
python (Targeted at a different cycle: microsoft/botbuilder-python#330)
3. Sample name:

## Describe the bug

Sample should also show how to rate limit/throttle handling.  Support for C#, JS, and Python is required
--

[2019-08-02 01:47] sgellock opened #1687 "[Teams] Provide a sample that shows how to write a channel bot"
## Sample information
1. Sample type: samples
2. Sample language:
[ ] dotnetcore
[ ] nodejs
[ ] python
3. Sample name:

## Describe the bug
teams channel bot support

[2019-08-02 01:50] sgellock opened #1688 "[Teams] Ensure the Bot Fx Graph Sample supports Teams authentication"
## Sample information
1. Sample type: samples
2. Sample language:
[ ] dotnetcore
[ ] nodejs
python (Targeted at a different cycle: microsoft/botbuilder-python#329)
3. Sample name:

## Describe the bug
Make sure our graph auth sample we ship works with Teams

[2019-08-02 01:52] sgellock opened #1689 "[Teams] Provide a sample Teams bot that shows how to use Teams Tabs"
## Sample information
1. Sample type: samples
2. Sample language:
[ ] dotnetcore
[ ] nodejs
[ ] typescript
3. Sample name:

## Describe the bug
Discuss with Andrew to finalize what we should show in the Tab

[2019-08-02 01:53] sgellock opened #1690 "[Teams] Update documentation to reflect SDK additions"
## Describe the bug
We need to coordinate with Andrew to capture the 4.6 SDK enhancements for Teams as part of our 4.6 docs update.

[2019-08-02 19:28] Zerryth commented on #1578
@stevengum ping! :)

(Support Team was tasked to go through their unresolved issues and investigate why they haven't been closed yet.)

Please review PR when you have a chance :)

[2019-08-03 01:23] #1624 closed

[2019-08-06 09:46] MaartenBlomer opened #1692 "suggestedActionsBot.js - Display actions vertically instead of horizontal?"
Currently the suggested answers are listed horizontally, is it possible to list them vertically?

So instead of this:
![image](https://user-images.githubusercontent.com/53562084/62529583-36010e00-b83f-11e9-8117-e785dd1cd39a.png)

Do this:
![image](https://user-images.githubusercontent.com/53562084/62529694-65177f80-b83f-11e9-934e-93deea2bb8d0.png)

[2019-08-06 19:06] tdurnford commented on #1692
Unfortunately, each channel is responsible for how they display things like suggested actions to the user, and eventhough Web Chat is highly customizable  in some aspects, it does not allow you to change how suggested actions are rendered.

If you want the options to stack vertically, I would recommend using a Hero Card instead of Suggested Actions.

**BotFramework SDK v4 (Node)**
[code]

**Screen

[2019-08-06 19:06] #1692 closed

[2019-08-06 19:10] CoHealer commented on #203
Resolving as won't fix

[2019-08-06 19:10] #203 closed

[2019-08-08 01:55] sgellock commented on #1682
@stephanbisser thanks for opening the issue.  I've tagged this for our 4.6 release.  I think this is a good idea.

[2019-08-08 01:58] sgellock commented on #1665
@yoshikinoko thank you for opening the issue and also for issuing a PR.  we'll look at the PR as part of our 4.6 work.

[2019-08-08 02:00] sgellock commented on #1655
@carlosscastro can you take a look please.

[2019-08-08 02:02] sgellock commented on #911
Colonel-major, I'm closing this as we've been carrying it for a while and I'm not sure we'll get to it any time soon

[2019-08-08 02:02] #911 closed

[2019-08-08 21:22] stevengum opened #1697 "[Teams] Remove adaptivecards dependency from botbuilder-teams to reduce space usage"
**Is your feature request related to a problem? Please describe.**
Currently the [botbuilder-teams](https://github.com/microsoft/BotBuilder-Samples/tree/teams-samples/experimental/teams/javascript_nodejs/botbuilder-teams) project in the teams-samples branch pulls in a dependency on [`adaptivecards`](https://github.com/microsoft/BotBuilder-Samples/blob/teams-samples/experimental/teams/javascript_no

[2019-08-09 00:42] stevkan commented on #1660
Hi @montacerdk, apologies for the delay. Can you verify that you'rer producing a unique token, conversation id, and user id for both users?

[2019-08-09 02:26] EASYELNET opened #1698 "Telegram_chat_id"

[2019-08-09 14:26] sgellock commented on #1698
@EASYELNET I'm not sure what do to with this as it lacks the most basic information.  If you have an issue with one of our products, we'd be happy to assist if you provide us more data

[2019-08-09 14:26] #1698 closed

[2019-08-09 14:31] sgellock opened #1699 "[Teams] Provide a sample Teams bot that shows how to use message extensions with search-based command"
Sample information

Sample type: samples
Sample language:
[ ] dotnetcore
[ ] nodejs
[ ] typescript
Sample name:
MessageExtWithSearchCmd

[2019-08-09 14:34] sgellock opened #1700 "[Teams] Provide a sample Teams bot that shows how to use message extensions with action command"
Sample information

Sample type: samples
Sample language:
[ ] dotnetcore
[ ] nodejs
[ ] typescript
Sample name:
MessageExtWithActionCmd

[2019-08-09 14:36] sgellock opened #1701 "[Teams] Provide a sample Teams bot that shows how to use message ext w/ action-based command and bot response"
Sample information

Sample type: samples
Sample language:
[ ] dotnetcore
[ ] nodejs
[ ] typescript
Sample name:
MessageExtWithActionCmdResponse

[2019-08-09 14:56] sgellock commented on #1667
Thanks @BruceHaley you're the build and release pipeline ninja

[2019-08-09 14:56] #1667 closed

[2019-08-09 17:03] CoHealer commented on #1700
Removing support label. Please reapply if that was intended.

[2019-08-09 17:22] sgellock commented on #1700
ahh, yes.  I was probably moving too fast this morning and incorrectly added it.  Thanks Cory.

[2019-08-12 14:55] textminer commented on #1655
Hi, I'm having same issue using Bot Emulator 4.5.2

I made sure to:
- Run Bot Emulator as an admin.
- Bot Emulator settings with: Use a sign-in verification code for OAuthCards and Bypass ngrok for local addresses. (also without them)
- Created App registration ini AAD and Redirect is type Web - https://token.botframework.com/.auth/web/redirect
- Added Connection String in Azure settings, and test

[2019-08-12 15:04] sindhugururaj commented on #1655
Am having the same issue too. Could anyone help with a workaround?

thank you

[2019-08-12 15:11] Anshul21 commented on #1655
@sindhugururaj @textminer

Do the following
1. Downgrade the bot emulator to 4.4.0
2. Go to emulator settings, in check automatic updates, check "use v1 authentication" and also check the "use cards for oauth".
3. You should be able to run the bot

[2019-08-12 15:25] sindhugururaj commented on #1655
Tried the above steps.

![image](https://user-images.githubusercontent.com/27359060/62876696-8969d500-bcf3-11e9-88c0-909f97399af4.png)

am getting a pop up saying bad request. my .env file contains connectionName, microsoft AppID and app password
the outhPrompt
 this.addDialog(new OAuthPrompt(OAUTH_PROMPT, {
            connectionName: process.env.connectionName,
            text: 'Please Sign In'

[2019-08-12 15:46] textminer commented on #1655
With Bot Framework 4.4.0, it does not even open the popup.

[2019-08-12 16:48] sgellock commented on #1655
@carlosscastro can you jump on this please?  thanks

[2019-08-12 17:55] carlosscastro commented on #1655
Looking into this :)

[2019-08-13 16:34] clearab commented on #1700
C3# v3 example (MS Only repo): https://github.com/OfficeDev/msteams-samples/tree/master/samples/dotnet/messaging_extensions/messaging_extension_action_with_card

[2019-08-13 16:34] clearab commented on #1701
C# v3 example (MS Only repo): https://github.com/OfficeDev/msteams-samples/tree/master/samples/dotnet/messaging_extensions/messaging_extension_action_bot_response

[2019-08-13 16:51] stevkan commented on #1660
@montacerdk, just rounding back to this. Are you still needing help? If so, can you verify the above items?

[2019-08-14 07:52] mutanttech opened #1705 "IStatePropertyAccessor can not be injected through DI in 45.state-management sample"
## Sample information
1. Sample type: State Management
2. Sample language: dotnetcore
3. Sample name: 45.state-management

## Describe the bug
The Conversation State and User State are creating property inside bot and using the value.
In case same property needs to be updated for a separate dialog, then will it require Creating the Property Again.
Dont seem to find a way to achieve this using DI.

[2019-08-14 08:17] montacerdk commented on #1660
Hi @stevkan, sorry for the late reply.

I still can't fix the issue. I don't know if it is a problem with the i18next module or the from the botbuilder sdk.

I debugged the issue locally, using ngrok to connect the local project with the staging enivrement on Azure. The conversation IDs and are unique for each user but I still got the same conflict of sessions.

[2019-08-14 19:12] carlosscastro commented on #1655
Hi all - I tracked this down to be an emulator bug due to recent changes. It is being tracked here: https://github.com/microsoft/BotFramework-Emulator/issues/1728.

I got to reproduce the same issue. On emulator version 4.2, my OAuthPRompt worked. Then upgraded to the latest and saw the error reported in the bug.

However, I was able to find out why it happens - ngrok is misconfigured in the emula

[2019-08-14 19:16] carlosscastro commented on #1655
Closing the issue since the proposed solution should unblock you. If you don't get unblocked by this, please reopen. If there is another, clearly different issue, feel free to open a separate bug.
Thanks!

[2019-08-14 19:16] #1655 closed

[2019-08-15 14:44] sgellock commented on #1655
@carlosscastro thanks

[2019-08-15 18:26] fercom commented on #1380
@EricDahlvang why are there two objects named logger?:
` public AdapterWithErrorHandler(ITranscriptStore **logger**, IConfiguration configuration, ILogger<BotFrameworkHttpAdapter> **logger**, ConversationState conversationState = null)`
I am trying to implement this but I am not sure how

[2019-08-15 18:30] sgellock commented on #1705
@mutanttech I'm asking our support team to help you.

[2019-08-15 18:36] CoHealer commented on #1705
@mdrichardson, please attempt a repro and if found investigate an update for the sample to include the context of multiple dialogs accessing the state and updating.

[2019-08-15 18:57] textminer commented on #1655
Hi @carlosscastro,

With emulator version 4.2 I can't even get to the OauthCards prompt. It does not show up and hangs the bot. While as with the version 4.5.2 I can get to the OauthCards prompt and hangs after clicking the Login button. I also made sure that the path to ngrok (v2.3.34) is ok.
As seen in the image the ngrok.exe process starts with the Emulator and I whitelisted it in the Windows F

[2019-08-15 20:28] mdrichardson commented on #1705
@mutanttech 	Can you provide a code sample of what you're attempting to do? It's a little unclear.

[2019-08-16 05:20] mutanttech commented on #1705
@mdrichardson, I am just trying to move this code in Startup.cs
` var conversationStateAccessors = _ConversationState.CreateProperty<ConversationStateDataModel>(nameof(ConversationStateDataModel));`

And Instead of Injecting ConversationState in the dialog I want to inject - IStatePropertyAccessor<ConversationStateDataModel>

A very simple repro for you would be to add a new dialog in the example,

[2019-08-16 15:12] mdrichardson commented on #1705
@mutanttech 	Understood. I wasn't able to DI from Startup.cs either. I'm working on a mockup sample to show how to create the accessor once in MyBot.cs and pass it to dialogs as an argument. Will let you know when its done

[2019-08-16 17:00] mdrichardson commented on #1686
@sgellock, @johnataylor, @axelsrz 	I'd recommend adding in querying the Team Roster, then proactively messaging them. We've seen a decent number of issues come in of users wanting to do that. [Example with current solution](https://stackoverflow.com/questions/57496329/proactive-messaging-bot-in-teams-without-mentioning-the-bot-beforehand)

[2019-08-16 18:24] mdrichardson commented on #1705
@mutanttech

I actually won't be writing up a sample; our old samples used to do this (although not through DI).

1. Take your dialogs out of Startup.cs DIs

2. [Create the accessor in MyBot.cs constructor](https://github.com/microsoft/BotBuilder-Samples/blob/4.2.1-VSIX/samples/csharp_dotnetcore/13.basic-bot/BasicBot.cs#L52)

[code]

3. [Add your dialogs in the MyBot.cs constructor and pass in the

[2019-08-16 18:49] mdrichardson commented on #1705
@sgellock @johnataylor

I don't see that we have a current sample that shows how to address this. Would it be worth writing one up? I'm not sure if there's a better way than my suggestion that uses the newer changes to the SDK like using DI for dialogs and using the [DialogExtensions](https://github.com/microsoft/botbuilder-dotnet/blob/master/libraries/Microsoft.Bot.Builder.Dialogs/DialogExtension

[2019-08-16 19:02] scheyal opened #1707 "Add JS AppInsight sample to support documentation"
We need corresponding JS example for use of AppInsights instrumentation telemetry and corresponding documentation (see tracking issue below).

### See Also
* https://github.com/MicrosoftDocs/bot-docs/issues/1325
* https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-telemetry?view=azure-bot-service-4.0

[2019-08-16 22:23] jameslew opened #1708 "[Declarative Adaptive Dialogs] Handling of errors from fulfillment steps (no code)"
**Is your feature request related to a problem? Please describe.**
As I look at building bots using the declarative format, I realize a mechanism is needed to handle errors coming back from say httprequest fulfillment logic; or maybe some form of runtime consistency error within the context of the dialog.

**Describe the solution you'd like**
Some mechanism for taking action onError in a no-code s

[2019-08-16 22:53] mdrichardson commented on #1705
@mutanttech 	I played around with this some more and you actually *can* use DI. Basic steps:

1. Create a class container for your accessors. Something like:

[code]

2. DI your Accessors and Dialogs

[code]

3. Have your MyBot.cs call your Root Dialog [like the samples do](https://github.com/microsoft/BotBuilder-Samples/blob/master/samples/csharp_dotnetcore/13.core-bot/Bots/DialogBot.cs#L48)

[co

[2019-08-17 06:10] mutanttech commented on #1705
@mdrichardson, Thanks for putting up some serious thought here. I stumbled upon few old threads not related to this just yesterday. They were having similar idea. I will wait for @johnataylor comments.

[2019-08-18 00:15] EricDahlvang commented on #1380
@fercom oops, sorry about that.  I've updated the answer so the transcript store parameter is correctly named.

Also, here is an example of how to use the EntityFrameworkTranscriptStore: https://github.com/EricDahlvang/EntityFrameworkTranscriptStoreExample

[2019-08-19 00:00] fercom commented on #1380
@EricDahlvang Ok, thanks, it works now ☺, now it stores the transcripts on a SQL Table, is it really better to store states and transcripts on SQL rather than azuure blobs? I read that SQL it is cheaper because of the continuous transactions [here](https://stackoverflow.com/questions/11540516/azure-mvc-web-app-architecture-how-to-split-data-between-sql-azure-and-azure/11541394#11541394), what do y

[2019-08-19 09:00] saikumaru opened #1709 "Sample 24 fails to run in emulator"
## Sample information
1. Sample type: Samples
2. Sample language: dotnetcore
3. Sample name: 24.bot-authentication-msgraph

## Describe the bug
I have run the bot as per the steps defined in the documentation
https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-authentication?view=azure-bot-service-4.0&tabs=aadv1%2Ccsharp%2Cbot-oauth

And when tested in emulator, gives the below exceptio

[2019-08-19 14:47] tdurnford commented on #1709
@tonyanziano Thoughts?

[2019-08-19 15:35] jwiley84 commented on #1709
Can you test your connection in the azure portal, to make sure it's valid?

[2019-08-19 15:59] CoHealer commented on #1705
@johnataylor. please let us know if you need anything else on our end, otherwise I think this is a good point for the support team to hand off to you so we can free @mdrichardson up for other issues.

[2019-08-19 17:49] emgrol opened #1710 "charp-dotnetcore 1.console-echo bot does not exit after typing 'quit'"
## Describe the bug
The C#/dotnet-core version of the 1.console-echo bot does not exit when you type 'quit' into the CLI. I encountered this problem while familiarizing myself with the the [Python samples](https://github.com/microsoft/botbuilder-python/tree/master/samples) and comparing them to their equivalent C# and JavaScript samples.

## To Reproduce
1. Go to bot directory of **01.console-echo

[2019-08-19 17:49] kds-snyder opened #1711 "QnAPrompting sample does not deserialize metadata tags correctly"
## Sample information
1. Sample type: \samples\experimental\qnamaker-prompting
2. Sample language: dotnetcore
3. Sample name: QnAPrompting

## Describe the bug
When the QnA KB is queried with a question where the answer contains metadata tags, the metadata in the result returned by **QnAService.QueryQnAServiceAsync** is null. This is because in **QnAResult.cs**, **Metadata** is defined with **{ ge

[2019-08-19 18:10] axelsrz commented on #1711
Hey @rokulka , can you look at this customer issue? Thanks.

[2019-08-19 18:13] axelsrz commented on #1710
Hello @emgrol thank you for letting us know, we've assigned it to the corresponding engineer.

[2019-08-19 18:16] sgellock commented on #1692
@CoHealer please be mindful of the customer labels

[2019-08-19 21:50] Zerryth commented on #1711
@rokulka wanted to chime in that I was able to repro what @kds-snyder reported and adding screen shots for context
______________
### Running `qnamaker-prompting` sample as is

#### My KB - Q&A pairs with metadata
![image](https://user-images.githubusercontent.com/35248895/63301544-abcd9680-c28f-11e9-9f5f-79b730798ca8.png)

#### Breakpoint to view `qnaResult` in `QnADialog.cs`.

* `Metadata` is `n

[2019-08-19 23:25] WashingtonKayaker opened #1712 "Update es6 70.styling-webchat sample"
### the styling-webchat sample in [javascript_es6](https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/javascript_es6) is out dated.

## Description
I think that perhaps the entire [javascript_es6](https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/javascript_es6) directory should be removed?  If not, at least sample [70.styling-webchat](https://github.com/microsof

[2019-08-20 00:16] stevengum opened #1713 "Verify new Teams Code works with features of the botbuilder SDKs"
## Describe the bug
The current JS implementation of handling invoke activities in Teams doesn't create an id for the activity that is sent from the bot.

This breaks the `FileTranscriptStore` used in the `TranscriptLoggerMiddleware`. (`FileTranscriptStore` uses `activity.id` as the temporary file name before it receives the activity from the service)

While this bug is already fixed, we need to d

[2019-08-20 02:09] tdurnford commented on #1712
@corinagum thoughts?

[2019-08-20 13:47] saikumaru commented on #1709
Hi, this actually works now. After reading through another issue I tried all of the suggestions.
https://github.com/microsoft/BotBuilder-Samples/issues/1655

The thing I was missing was to enable the Ngrok setting on emulator.
Please can you add this step to the above samples document to avoid further confusion.

Thank you

[2019-08-20 14:44] textminer commented on #1709
Does anybody know why on the Emulator the token received is compact like: 45024ae0-c357-11e9-8e41-8dd225c566e7|livechat, which then throws the 80049217 exception, but running it on Azure it gets a proper Bearer Token that works?

[2019-08-20 15:03] saikumaru commented on #1709
This is exactly what happened in my case too

[2019-08-20 16:01] mdrichardson commented on #1712
`01.browser-echo` probably is one of the least popular samples, but it does demonstrate some interesting functionality: hosting the bot entirely in the user's browser.

[2019-08-20 18:05] stevkan commented on #1709
@saikumaru, @textminer, there was an issue filed regarding the "|livechat" exception (issue [#1544](https://github.com/microsoft/BotFramework-Emulator/issues/1544)) in the Botbuilder-Emulator repo. I would suggest you add your comments to that thread so it registers as a customer issue and, thus, will have higher priority.

In either of your cases, are you changing the AAD connection name in your

[2019-08-20 18:10] textminer commented on #1709
I only change it on the system doing:
        this.oauthPrompt = new OAuthPrompt(LOGIN_PROMPT,
            {
                connectionName: process.env.OAUTH_CARDS_CONNECTION_STRING,
                text: 'Please login into SharePoint',
                title: 'Login',
                timeout: 10000
            });
then, it appears in the Bot Emulator as I redefined it:

![imagen](https://user-ima

[2019-08-20 18:14] corinagum commented on #1712
Agree with @mdrichardson :)

Not sure what you mean about sample 70... can't it just be updated? Web Chat samples already document this extensively.

[2019-08-20 18:15] corinagum commented on #1712
@axelsrz, FYI: I am removing labels since @WashingtonKayaker is part of the docs team.

[2019-08-20 18:21] tdurnford commented on #1712
The Web Chat samples request a token from Mock Bot to initiate the conversation, but [70.styling-webchat](https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/javascript_es6/70.styling-webchat) just uses a Web Chat secret. Neither are wrong, but I think we should encourage our users to use a token instead of their secret on their client sites.

[2019-08-20 18:32] zxyanliu opened #1714 "Minor indentation issue - javascript_nodejs/03.welcome-users/bots/welcomeBot.js"
## Sample information
1. Sample type: [Incorrect indentation]
2. Sample language: [nodejs]
3. Sample name: <03.welcome-users>

## Describe the bug
We are citing from this [sample](https://github.com/microsoft/BotBuilder-Samples/blob/master/samples/javascript_nodejs/03.welcome-users/bots/welcomeBot.js) in this [article](https://review.docs.microsoft.com/en-us/azure/bot-service/bot-builder-send-welc

[2019-08-20 18:36] rokulka commented on #1711
I'm looking into it.

[2019-08-20 18:40] stevkan commented on #1709
@textminer, the "oauth://" bit in your value suggests ngrok is not spinning up correctly for you. When ngrok fails to spin up Emulator falls back to an emulated token flow (i.e. it is not actually connecting to the Azure Bot Service for token generation).

I would suggest you double check your ngrok settings to verify everything is correctly assigned. Do you see anything in the either of the "acti

[2019-08-20 19:34] textminer commented on #1709
Yes, I see the process running and that is listening:
![imagen](https://user-images.githubusercontent.com/38899601/63378272-44cfe080-c368-11e9-97f6-7a95a891061c.png)

I'm using latest ngrok version 2.3.34

[2019-08-21 06:52] Zerryth commented on #1714
Hmm, took a look at the `.onMembersAdded()` method that you have in question, and its indentation looks fine to me.
____
Perhaps you're referencing the indentation going on in LN 76 - 79, the 2nd message sent?

* It's sending a longer block of text in its message, hence the string concatenation :heavy_check_mark:
   * Best done this way, instead of 1 long string, to not have 1 line that's excessiv

[2019-08-21 06:52] #1714 closed

[2019-08-21 06:54] zxyanliu commented on #1714
Thank you! @Zerryth

[2019-08-21 16:02] sgellock commented on #1712
The web chat sample, if it needs updating, should be updated.  I'm still of the opinion that the es_6 folder demonstrates concepts that have customer interest.  @corinagum does Web Chat sample need an update?

[2019-08-21 16:45] corinagum commented on #1712
@sgellock, yes. Previously @compulim and I didn't make changes to Web Chat looking for the secret because of the ongoing secret/token discussion, but since it sounds like we are officially promoting token retrieval we can emulate this sample to look like Web Chat. I'm happy to make those edits. :)

[2019-08-21 17:52] sgellock opened #1717 "onTurnError global error handler needs more appropriate error message"
## Sample information
All samples that use the onTurnError handler
In all Sample languages: [dotnetcore, es6, nodejs, typescript, python, yeoman, VSIX, .NET Templates]

## Describe the bug
All the samples today that implement the onTurnError method on the Adapter, log a generic (and not useful to customers and support teams) error message "Oops. Something went wrong!" in js/ts.

the AdapterWithErr

[2019-08-21 20:33] emgrol opened #1718 "Differences between 45.state-management javascript_nodejs and csharp_dotnet sample bots (Python too)"
## Describe the bug
I noticed two differences between the 45.state-management javascript_nodejs sample and the other samples (csharp_dotnet and Python).
1. The javascript_nodejs bot does not greet the user at start up. Both the csharp-dotnet and Python versions of the bot greet the user at start up with a welcome message. (see screenshots below)
2. Differences after response from user (see screens

[2019-08-21 22:29] sgellock opened #1719 "State management samples need to show how to use Cosmos DB"
## Sample information
1. Sample type: samples
2. Sample language: [dotnetcore, nodejs]
3. Sample name: 45.state-management

## Describe the bug
CSS would like to have a sample that shows how to use Cosmos Db and BlobStorage.  Our current state-management sample uses memoryStorage()

[2019-08-22 05:23] aslammujawarhyd opened #1720 "How to set dynamic waterfall steps in Bot framework v4(.net core) ?"
🚨 The issue tracker is not for questions 🚨

If you have a question, please ask it on https://stackoverflow.com/questions/tagged/botframework

[question]

I have bot in v3(.net framework) for multiple intent and every intent having different set of questions/steps.  There I am using 'PromptOption. choice' for showing dynamic set of questions/steps and taking answer from 'resume' method. added code

[2019-08-22 13:00] Zerryth commented on #1720
@aslammujawarhyd I see you [asked your question on Stack Overflow](https://stackoverflow.com/questions/57602684/how-to-set-dynamic-waterfall-steps-in-bot-framework-v4-net-core)--which is _perfect_.

The Bot Framework GitHub repos are meant for raising bug issues or requesting features, whereas Stack Overflow is the preferred avenue for how-to questions.

Resolving this issue, as BF Support Enginee

[2019-08-22 13:00] #1720 closed

[2019-08-22 13:13] bnj123 opened #1722 "“No such host is known” when publishing to azure but working fine in emulator."
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues) / [Java](https://github.com/Microsoft/botbuilder-java/issues)/ [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for genera

[2019-08-22 15:11] mdrichardson commented on #1718
[Related](https://github.com/microsoft/BotBuilder-Samples/issues/1673). Calls out code differences vs. UX

[2019-08-22 15:13] mdrichardson commented on #1719
I'd recommend waiting until [this is fixed](https://github.com/microsoft/botframework-sdk/issues/5467), then we can also include Partition Keys and some general guidance around them. I've also got [a draft blog post](https://microsoft-my.sharepoint.com/:w:/p/v-micric/EYhDBMJxSItGldr_j9x_K_8B68fhEkszhL9-sJ1vCDwFXQ?e=Lw6j2L) ready-ish to launch for this as well.

[2019-08-22 15:34] daveta commented on #1722
Hi @bnj123 : Can you try and change your `LuisAPIHostName` to something like:
    Australia East - `australiaeast.api.cognitive.microsoft.com`
    West Europe - `westeurope.api.cognitive.microsoft.com`
    West US - `westus.api.cognitive.microsoft.com`
And see if that helps?

[2019-08-22 17:32] mdrichardson commented on #1722
@sgellock This has been a major pain-point for customers. I [opened a quick-fix PR for this](https://github.com/microsoft/botbuilder-js/pull/1083) and I agree with @cleemullins 	that there are better options; they just need to be addressed and implemented. I'm going to leave this ticket up due to [supportability], but will answer the [user's SO question](https://stackoverflow.com/questions/5760090

[2019-08-22 17:39] mdrichardson commented on #1722
Digging into this a little further, the error does not *appear* to be related to format of `LuisAPIHostName`. Still, this is a major pain-point

[2019-08-22 17:53] cleemullins opened #1723 "Translation Samples needs to translate adaptive cards"
CSS Sees issues come in related to translation, where cards (adaptive, etc) are not being translated.

Consider updating this sample to include an Adaptive Card translation.

[2019-08-22 21:48] mdrichardson commented on #1723
Just some quick input. There's two routes we can go with this (that I can think of):

1. If users want translated Adaptive Cards, they'd need to use [the AdaptiveCards NuGet package to build them](https://www.nuget.org/packages/AdaptiveCards/) with translated strings. Something like:

[code]

2. If users want to use a JSON card, we'd need a recursive nested JSON search [similar to this](https://gi

[2019-08-23 01:03] bnj123 commented on #1722
Thank you as instructed i will respond in stackoverflow.

[2019-08-23 01:45] bnj123 commented on #1722
@daveta something weird happened. in appsettings i changed hostname to " "DispatchLuisAPIHostName": "southeastasia.api.cognitive.microsoft.com", and in botservice      $"https://{configuration["DispatchLuisAPIHostName"]}"), now it is replying but detecting everything i type as "cancel" intent.

[2019-08-23 02:15] bnj123 commented on #1722
This is my SO question it is a lot detailed and has images thank you
https://stackoverflow.com/questions/57600902/botframework-publish-to-azure-error-no-such-host-is-known

[2019-08-23 02:32] xieofxie opened #1724 "[Adaptive][Docs] details about memory model"
### Use this [query](https://github.com/Microsoft/botbuilder-samples/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++label%3Aenhancement) to search for the most popular feature requests.

**Is your feature request related to a problem? Please describe.**

Only some attributes of memory models are provided as [examples](https://github.com/microsoft/BotBuilder-Samples/blob/master/experimental/adaptive

[2019-08-23 02:35] xieofxie opened #1725 "[Docs] Add card formats in lg"
### Use this [query](https://github.com/Microsoft/botbuilder-samples/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++label%3Aenhancement) to search for the most popular feature requests.

**Is your feature request related to a problem? Please describe.**

[Document](https://github.com/microsoft/BotBuilder-Samples/blob/master/experimental/language-generation/docs/lg-file-format.md) doesn't provide de

[2019-08-23 02:36] #1725 closed

[2019-08-23 11:24] bnj123 opened #1726 "Luis only picking up 2 intent when published in azure but is working perfectly in bot emulator"
## Sample information
language: [dotnetcore C#]

## Describe the bug
I have a bot that is working fine in Bot emulator with all its LUIS,QnAMaker and Dispatch. I have many intents including Help which all works perfectly in Bot Emulator but when published on azure and messenger, Anything i type it only returns two intents, Cancel and sometimes None Intent

## To Reproduce
Steps to reproduce the be

[2019-08-23 13:43] Zerryth commented on #1726
Hi @bnj123! Thanks so much for using our framework. Right now this appears to be more of a **how-to question**, which the team prefers to have answered on [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework), where both our Support Engineers and the whole community can see and jump in to help and benefit from your question.

Our GitHub repos is the avenue reserved more for rai

[2019-08-23 13:43] #1726 closed

[2019-08-23 16:19] WashingtonKayaker opened #1727 "21.corebot-App-Insights is not listed in BotBuilder-Samples/blob/master/README.md"
There is a list of samples in the readme, it is missing the "21.corebot-App-Insights" sample app: https://github.com/Microsoft/BotBuilder-Samples/blob/master/README.md

[2019-08-23 16:43] stevengum commented on #1712
@sgellock and @corinagum I've labeled this for 4.6 and with a P2 label for now.

@corinagum I updated the title as well with where I _think_ we want to be, but can you determine if we want to keep sample 70 and update it, or if we want to remove it and update 01.browser-echo?

[2019-08-23 16:57] v-kydela commented on #1723
I have encountered this in IcM form twice and I wrote a C# function to translate Adaptive Cards so I'll paste it here:

[code]

![image](https://user-images.githubusercontent.com/41968495/63609620-4a0d7500-c58c-11e9-8fc1-5732a6d9681f.png)

[2019-08-23 16:58] v-kydela commented on #1723
I have also included Adaptive Card translations in my Bot Builder Community proposal: https://github.com/BotBuilderCommunity/botbuilder-community-dotnet/issues/137

[2019-08-23 17:02] corinagum commented on #1712
I think the plan is to update both. Updated title accordingly :)

[2019-08-23 19:38] DDEfromOR opened #1728 "TypeScript / NodeJS CoreBot Sample assumes user responds to date prompt with text"
## Sample information
1. Sample type: [\samples\ or \solutions\]
\samples\typescript-nodejs\13.core-bot
2. Sample language: [dotnetcore or webapi or es6 or nodejs or typescript]
TypeScript
3. Sample name: <Name of the sample>
13.core-bot
## Describe the bug
When going through the trip booking dialogue and reaching the point where the bot asks for a date the user response is assumed to be a string

[2019-08-23 22:59] stevengum commented on #1728
It's unclear if the C# version contains the same type of bug (missing text running through the Recognizers Text library). Probably not, but we should investigate.

[2019-08-26 16:56] diberry opened #1729 "Deploy to azure button"
Can you add the deploy to azure button back? Was it problematic to maintain over time or was there some other reason it is no longer supplied?

All up samples review for R10 https://github.com/microsoft/botframework-sdk/issues/5897

[2019-08-26 19:11] AlexanderYWH95 commented on #1729
i prefer all of u to chnge ur tools first, its "NOTEPAD PROGRAMMERS" and not VCS bfr start, dyd notice "this probs" when coding.... LOL
ok, now, bfr that, why not jst use ths instd?

float.h }return
not azure user, so dont care

also do know, fr BOT BUILDING, ok, no more lies..
ever heard of ths? stringing narator + batch + in +header +button
sapisvs=
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
-bat

[2019-08-26 19:26] AlexanderYWH95 commented on #1729
Do notice fact, do u guys notice 1 fact?
when u guys write using "azure"
whre does all the code written by others "gone or run" to?
not display on the window...
azure is jst "knect", data storage...
that why bill gates himsele obviously state VCS "EDITOR", not "WRITTER"
https://www.pnotepad.org/     <<<real writters tools.. thnks

[2019-08-26 19:34] AlexanderYWH95 commented on #1729
u cn build a walking server, but do u really want that walking server?
if others hit the bot, then no more data or leak by those who hit and take away the bot....
duo email
like Idmatcher="true"
1 email, with 2 or "duo" located at 1 plces, using GPS, detected
then
int system
if IDMatcher="true"
{ run speak.bat
}
\\
{ if idmatcher="false" } return;
}
\\

SAMPLE

[2019-08-26 22:29] Zerryth opened #1734 "C# Verbatim String Literals do not render completely within the message box"
## Version
4.5

## Describe the bug

In C# there's the _verbatim string literal feature_, used in the [C# `03.welcome-user` sample ](https://github.com/microsoft/BotBuilder-Samples/blob/master/samples/csharp_dotnetcore/03.welcome-user/Bots/WelcomeUserBot.cs#L23)

`WelcomeUserBot.cs`
![image](https://user-images.githubusercontent.com/35248895/63726525-60c4fd80-c812-11e9-9ea2-83a28b424084.png)

Whic

[2019-08-27 01:21] cindyloo opened #1731 "experimental nodejs for Direct Line Speech does not respond to streaming audio"
I implemented the experimental code here (I understand it is experimental, but I think it should at least work fully, correct?)

https://github.com/microsoft/BotBuilder-Samples/tree/master/experimental/directline-speech/javascript_nodejs/02.echo-bot

I attach to the WebSocketConnector via a python websocket using pyaudio.
python code:
[code]

Logging output from the nodejs code:
[code]
the "Creati

[2019-08-27 16:29] emgrol opened #1732 "06.using-cards differences in card menu output (buttons in dotnet, list in nodejs)"
## Sample information
1. Sample type: \samples\
2. Sample language: dotnetcore, nodejs
3. Sample name: 06.using-cards

## Describe the bug
The dotnet bot displays buttons for the various card options while the nodejs bot shows a list of card options in a single text box.

## To Reproduce
Run bots according to CLI instructions in respective READMEs

## Expected behavior
Both bot should display card

[2019-08-27 21:35] #1732 closed, assigned to mdrichardson

[2019-08-28 09:04] satyansh-sagar opened #1736 "Unable to get user Email address in 1-1 Private conversation in Microsoft Teams"
How to get user email address in Private chat conversation in Microsoft teams. I'm using the v4 of bot framework.

If anyone can help me on this. :|

@msft-shahins  @msftgits

[2019-08-28 09:04] satyansh-sagar commented on #1736
I am getting the user name and AAD object ID.

[2019-08-28 14:29] AlexanderYWH95 commented on #1729
https://github.com/ferhatelmas/sexmachine

do read 12yrs old projct, why nt hlp w ths instd of new proj?

[2019-08-29 05:25] satyansh-sagar commented on #1736
The above link works fine fir a bot in channel where members are present. But the same thing is not working in 1-1 chat conversation.
![thumbnail_image](https://user-images.githubusercontent.com/30821164/63912735-89840780-ca4b-11e9-9527-234488b03835.png)

[2019-08-29 12:24] saikumaru commented on #1625
hi, please can you let me know if there is a probable date by when you will have this fully migrated to look like the other V4 sample bots?

[2019-08-29 12:29] trojenguri commented on #1625
We have migrated active learning samples, this is the link https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/48.qnamaker-active-learning-bot

[2019-08-29 12:30] trojenguri commented on #1625
@Zerryth  Can we close this issue now?

[2019-08-29 12:32] saikumaru commented on #1625
Thank you, I had seen that. But I also do observe its still not consistent with other examples.

Same mentioned here

`...can check out the new active learning sample because **it hasn't been updated** to match the pattern of the other samples yet.`

https://stackoverflow.com/questions/57658154/is-the-best-practice-alwayas-to-start-a-dialog-in-bot/57664701#57664701

[2019-08-29 12:50] trojenguri commented on #1625
Main architecture is consistent with the overall sample but the Dialog path, we kept as it is or we did minimal changes.
We would be creating one more dialog very soon, which would include Multi-turn + Active learning in consistent with latest samples.

[2019-08-29 14:45] mdrichardson commented on #1736
@satyansh-sagar 	Interesting. I tested the Node code in a 1:1 conversation and it worked. I'll test the C# code today.

[2019-08-29 15:15] mdrichardson commented on #1736
@satyansh-sagar I see the issue. I think you're using the wrong bit of code from that answer for this. Use this:

[code]

![image](https://user-images.githubusercontent.com/40401643/63952831-166f9680-ca35-11e9-8d2d-3437d5c09a93.png)

And yes, this was in a 1:1 conversation:

![image](https://user-images.githubusercontent.com/40401643/63952907-330bce80-ca35-11e9-87ff-e4f8c49c0510.png)

[2019-08-29 16:47] Zerryth commented on #1625
imo yeah, we can close this issue if the Active Learning sample in master builds successfully :+1:

...I'm assuming yes it does, since someone on the team must've reviewed it recently if it just merged in

Please reopen if sample 48 is not building

[2019-08-29 16:47] #1625 closed

[2019-08-29 18:07] daveta commented on #1705
We're still looking at this - @johnataylor will comment..

[2019-08-29 21:10] stevkan commented on #1709
How are you connecting your bot when you run it locally? Are you using ngrok, separate from ngrok running in Emulator, to connect your bot to ABS (i.e. changing the messaging endpoint in your bot settings in Azure)? Is the AppId and AppPassword matching between your bot and Emulator?

Just trying to rule out possible scenarios.

[2019-08-29 23:40] #1578 closed

[2019-08-30 00:02] #1734 closed

[2019-08-30 08:04] satyansh-sagar commented on #1736
Great! This worked for me. Thank a lot @mdrichardson :)

[2019-08-30 09:24] Rashree138 opened #1739 "OAuthPrompt popup is not showing for login in MS-Teams."
I have use OAuthPrompt card to login user for bot authentication. It is working in Emulator but when i test in Teams then pop-up is not showing to login.

sample code:
==========
return await stepContext.BeginDialogAsync(nameof(OAuthPrompt), null, cancellationToken);

Bot Framework version: 4.5.1

[2019-08-30 09:50] nidhisht opened #1740 "46.teams-auth - Sign in card not working in MS Teams"
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues) / [Java](https://github.com/Microsoft/botbuilder-java/issues)/ [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for genera

[2019-08-30 10:31] fcapallera commented on #1705
@mdrichardson

There's this thing I fail to understand. If you want to make your RootDialog receive the StateAccessor object you need to call the RootDialog constructor.

But where is the constructor called in the samples? I only see the RunAsync method with this new BotState property that's created (that I don't know why it is used for either).

I would like to DI the accessors to be able to get

[2019-08-30 12:29] RajaniJillaGit opened #1741 "Adding .netframework v4 (4.7.1) as a skill to virtual assistant bot framework"
🚨 The issue tracker is not for questions 🚨

If you have a question, please ask it on https://stackoverflow.com/questions/tagged/botframework

[question]

[2019-08-30 12:35] RajaniJillaGit commented on #1741
Hi Team,

We have a bot created on v3 and migrated successfully to v4 (.net framework) and wanted to make the project as a skill to the virtual assistant. By following the article, https://microsoft.github.io/botframework-solutions/howto/skills/skillenablingav4bot/#c

While installing the nuget packages, solutions was successful but while installing the skills nuget package facing following error

[2019-08-30 12:38] RajaniJillaGit commented on #1741
for reference, project we used for ContosoHelpDeskChatbot for upgrading to a skill.
https://github.com/microsoft/BotBuilder-Samples/tree/master/MigrationV3V4/CSharp/ContosoHelpdeskChatBot-V4NetFramework

[2019-08-30 14:41] mdrichardson commented on #1736
@satyansh-sagar 	Tough to say. It likely has something to do with the Teams Extension. Normally, I'd say we should track it down and then submit a PR to fix. However, we're working on rolling the Teams Extension into the Bot Framework SDK, so it will likely be fixed anyway.

[2019-08-30 14:41] #1736 closed

[2019-08-30 14:51] mdrichardson commented on #1705
@fcapallera I'm far from an expert in Dependency Injection, but my basic understanding is that Dependency Injection makes a class/service available as a parameter anywhere within the Namespace. So, when we use:

[code]

...it makes `RootDialog` available anywhere in the bot. When we then use

[code]

...we're passing the `RootDialog` to `MyBot`:

[code]

...because we're setting it as `T` with `St

[2019-08-30 16:43] cindyloo commented on #1731
any updates here?

[2019-08-30 17:27] mdrichardson commented on #1740
@nidhisht 	Please [add `token.botframework.com` to your ValidDomains in your App Manifest](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/authentication/auth-oauth-card#getting-started-with-oauthcard-in-teams) and let me know if you still experience this issue.

[2019-08-30 17:27] mdrichardson commented on #1739
@Rashree138 	Please [add `token.botframework.com` to your ValidDomains in your App Manifest](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/authentication/auth-oauth-card#getting-started-with-oauthcard-in-teams) and let me know if you still experience this issue.

[2019-08-30 19:25] daveta commented on #1711
Hi @kds-snyder : Thanks again for reporting.  Let us know if this doesn't address your issue.

[2019-09-01 18:00] Rashree138 commented on #1739
Thanks,
It is working now....

[2019-09-01 18:00] #1739 closed

[2019-09-02 10:32] Rashree138 opened #1743 "Unable to send mail using SendGrid credentials using c# code"
Hi Team,

I have created a SendGrid account in AzurePortal and i have API key and other details now.
While I tried to send a mail using .NET's Built-in SMTP Library then I am getting "The operation has timed out." error.

I have follow this blog:
=================
https://sendgrid.com/docs/for-developers/sending-email/v2-csharp-code-example/

Error screen shot below:
==================

<img width

[2019-09-02 10:55] Rashree138 commented on #1743
Below code i am using :

![image](https://user-images.githubusercontent.com/13681207/64109895-4359db80-cd9e-11e9-9e12-72aec2348974.png)

[2019-09-02 14:16] nidhisht commented on #1740
@mdrichardson Thank you for the suggestion. It worked :)

[2019-09-02 18:04] mdrichardson commented on #1743
@Rashree138 Please use the code from [SendGrid's GitHub Page](https://github.com/sendgrid/sendgrid-csharp#quick-start):

[code]

Please also note that this is not a Bot Framework issue. Although you're likely using your code within a bot, this issue is related to SendGrid. I got this working in an EchoBot using the above code.

[2019-09-02 18:04] #1743 closed

[2019-09-02 20:10] #1740 closed

[2019-09-02 20:14] mdrichardson commented on #1731
@cindyloo 	I had a support ticket similar to this and this was my response (I'm not sure how much it applies to your issue):

I've got a workaround for this, but please inform the customer that:

1. Both the sample and the JS Speech packages are in the pre-preview stages and not meant for public use, especially not for production at this point

2. There will likely be a LOT of bugs with any JS spe

[2019-09-02 20:17] mdrichardson commented on #1722
@bnj123 	Sorry. Somehow this one fell by the wayside. You got this working, right? This can be closed?

[2019-09-02 20:21] cindyloo commented on #1731
hi Michael! thanks for your response. I ended up passing undefined to the WebSocketConnecter also. However, it never seemed to connect - how can you tell if it does anything? what behavior should I expect? thanks!

[2019-09-02 20:24] mdrichardson commented on #1731
@cindyloo 	 When using the [Directline Speech Client](https://github.com/Azure-Samples/Cognitive-Services-Direct-Line-Speech-Client), your bot should be able to actually connect and use speech-to-text. I haven't used that sample for anything else.

[2019-09-02 20:29] cindyloo commented on #1731
how does the bot consume the audio stream? it seemed to me that there was a step missing in the sample code. My log said it was listening (inside the WebConnector at line 111 `                        this.logger.log('Listening on WebSocket server.');`) but then nothing happened...

[2019-09-02 20:30] cindyloo commented on #1731
oh - right, well, I'm on a Mac so I can't use the client :(

[2019-09-02 20:54] mdrichardson commented on #1731
@cindyloo I think your real issue is that you're trying to send audio directly to the bot instead of do DirectlineSpeech, which then interprets the audio and sends it to the bot. See [the image at the top of this page](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/tutorial-voice-enable-your-bot-speech-sdk) for more info. You like also find the [View client source code se

[2019-09-02 21:17] cindyloo commented on #1731
no, I"m not trying to send it directly to the bot. I'm using the javascript/nodejs Direct Line Speech example which I was taking to mean that I can send an audio stream from a client (in this case, python) with a websocket GET connecting to the restify server in the nodejs code. I was expecting that the `WebSocketConnecter` would then somehow send that stream on to the Bot endpoint

[2019-09-03 04:28] Rashree138 commented on #1743
Hi Team,

I am using same code now and tryied to send mail. Mail has been send but it is not coming in my Inbox.

Do I need to do some setting in SendGrid?

[2019-09-03 04:49] Rashree138 commented on #1743
HI Michael,

NOw mail is send but i did not receive in my Inbox. Am I missing some
setting?

On Mon, 2 Sep 2019 at 23:34, Michael Richardson <notifications@github.com>
wrote:

--
Regards,

Raj Kushwaha
*Mobile*: 987-360-8965

[2019-09-03 14:48] mdrichardson commented on #1743
@Rashree138 	I didn't have to change any settings. The email showed up in my Spam folder, though.

[2019-09-03 14:56] textminer commented on #1709
Hi @stevkan, latest build provided of the Bot Emulator that includes more logging showed me that there was an authentication issue. The root cause was that the .bot file with credentials used by the Emulator was from previous versions and as soon as I recreated it the problem was solved.
Thanks

[2019-09-03 22:33] stevkan commented on #1709
Glad you were able to find the cause! Closing this issue as resolved.

[2019-09-03 22:33] #1709 closed

[2019-09-04 06:03] Rashree138 opened #1745 "OnMessageActivityAsync() is not called after login in OAuth card"
Hi Team,

I am using Oauth card to login. But when I provide my credentials and logged in then OnMessageActivityAsync() method is call, that's why my further steps is not able to execute.

**Below is the sample code:**
======================

[code]

Is there any issue with Manifest file because earlier Login popup is not coming?
After adding below code then login popup apears for login.

[code]

[2019-09-04 10:15] Rashree138 opened #1747 "Bot registration name is added before actual value in Activity.Text by default."
Hi Team,

I am getting extra string value (Bot registration name is added) in Activity.Text before my actual value during the testing bot in Teams which is breaking my functionality.

**Example:**

 Activity.Text = "Bot Registration Name MY ACTUAL VALUE"

**Snap Shot:**

![image](https://user-images.githubusercontent.com/13681207/64246742-0111d500-cf2b-11e9-89f3-eca9906b85e7.png)

[2019-09-04 10:46] VKAlwaysWin commented on #1747
In case if you use bot in MS Teams and asking him in Team channel via @BotName then bot name is added as mention.
If this is a true and you are using TeamsMiddleware you can simply do :
var activityText = dc.Context.TurnState.Get<ITeamsContext>().GetActivityTextWithoutMentions()?.Trim() ?? string.Empty;

Implementation can be find here:
https://github.com/OfficeDev/BotBuilder-MicrosoftTeams-dotnet

[2019-09-04 17:26] mdrichardson commented on #1747
@Rashree138 I agree with @VKAlwaysWin. Please attempt his solution and let me know if you still experience this issue.

[2019-09-04 17:29] mdrichardson commented on #1745
@Rashree138 Can you provide steps to reproduce your issue? I'm not sure that I fully understand it.

What sample are you using? If you're building a Teams bot with OAuth, you need to use/integrate the [Sample 46 - Teams Auth](https://github.com/microsoft/BotBuilder-Samples/blob/master/samples/csharp_dotnetcore/46.teams-auth/), particularly the [TeamsActivityHandler](https://github.com/microsoft/Bo

[2019-09-05 16:11] kds-snyder commented on #1711
@axelsrz, @rokulka, @Zerryth, @trojenguri, @daveta, thanks for your quick resolution of this issue.

[2019-09-06 09:33] Kumar3010 opened #1750 "How should i use human handoff for "handoff-library""
could you please redirect me to a sample where i can use the human handoff-library.
i was getting an error
 Operation returned an invalid status code 'NotFound'.
this has been tested in the emulator

[2019-09-06 18:18] hcyang commented on #1750
@arturl, can you take a look of this issue? Thanks.

[2019-09-06 18:31] mdrichardson commented on #1750
@Kumar3010 	The sample [can be found here](https://github.com/microsoft/BotBuilder-Samples/tree/master/experimental/handoff-library). Note that's in `experimental`, which isn't meant for public consumption. @arturl will need to comment on the state of that sample.

In the meantime, if you're looking for handoff samples that don't use `handoff-library`, these samples are commonly recommended:

* [C

[2019-09-06 18:40] arturl commented on #1750
Hi @Kumar3010, the library requires a channel that today you need to build yourself, for example based on your own bot adapter. In the future, we will ship such channel as part of the Bot Framework.

[2019-09-06 18:40] #1750 closed

[2019-09-06 20:43] WashingtonKayaker opened #1751 "Broken links in the readme of sample .../javascript_es6/01.browser-echo"
There appears to be broken links in the 01.browser-echo sample app readme, in the very first section titled 'browser echo sample' that is pointing to WebChatAdapter:

https://github.com/microsoft/BotBuilder-Samples/blob/master/src/webChatAdapter.js

And another broken link pointing to WebChatAdapter in the section titled 'Adapters' (The last 2 letters should be ts, not js):

https://github.com/mic

[2019-09-06 21:54] Kaiqb commented on #1640
The content on Inspection Middleware is here: https://docs.microsoft.com/en-us/azure/bot-service/bot-service-debug-inspection-middleware?view=azure-bot-service-4.0&tabs=csharp

[2019-09-06 21:54] #1640 closed

[2019-09-07 00:59] Kumar3010 commented on #1750
Thank you @arturl  and @mdrichardson .

[2019-09-09 15:52] mdrichardson commented on #1745
@Rashree138 	Are you still experiencing this issue? We need activity on it to keep it open.

[2019-09-09 15:52] mdrichardson commented on #1745
@Rashree138 	Are you still experiencing this issue? We need activity on it to keep it open.

[2019-09-09 15:53] mdrichardson commented on #1747
@Rashree138 	Are you still experiencing this issue? We need activity on it to keep it open.

[2019-09-09 17:31] tsuwandy commented on #1705
@johnataylor, are you still looking into this?

[2019-09-09 18:08] v-kydela commented on #1751
Thank you, @WashingtonKayaker

I have submitted a pull request

[2019-09-09 18:36] #1751 closed

[2019-09-09 19:59] EricDahlvang commented on #1258
This is done, and awaiting CR: https://github.com/microsoft/BotBuilder-Samples/pull/1706

[2019-09-10 21:26] tdurnford commented on #893
In BotBuilder v4.5.3, TurnContext's `removeMentionText` method uses a lookbehind regex expression which weren't introduced until ES2018. Unfortunately, Chrome is the only browser that supports ES2018, so the sample currently  throws errors in other browsers like Edge, Firefox, and Safari. Looking at the BotBuilder source code, the Lookbehind expression that was causing the sample to fail was remov

[2019-09-11 12:46] peterservisbot opened #1758 "46.teams-auth UnhandledPromiseRejectionWarning"
## Sample information
1. Sample type: sample
2. Sample language: nodejs
3. Sample name: 46.teams-auth

## Environment
nodejs 10.16.3

## Describe the bug
Intermittently when using the sign in behaviour an error is thrown.

`(node:52355) UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'toString' of undefined
    at BotFrameworkAdapter.processActivity (/Users/peterphelan/Workspace/

[2019-09-11 15:21] #1745 closed

[2019-09-11 15:22] mdrichardson commented on #1747
Closing due to lack of activity. Feel free to re-open if you still need help.

[2019-09-11 15:22] #1747 closed

[2019-09-11 16:43] tsuwandy commented on #1758
@CoHealer,  any support engineer who could take a look at this one?  Thanks!

[2019-09-11 17:32] mdrichardson commented on #1758
Acknowledged.

@peterservisbot Thanks for the detailed info! I recall running into this before. I should have time to submit a PR for the thrown error, this week.

* How frequently are you getting login errors?
* How do you have your OAuth connection set up? AADv1/2, or something else?
* When you don't get the error, are you able to login successfully and view your token?

[2019-09-11 20:34] DDEfromOR commented on #1731
I'm pretty late to this thread, but FWIW @mdrichardson is correct that the audio stream needs to be sent to the Direct Line Speech channel which then converts the audio to text and sends the result to the bot's endpoint. @cindyloo is correct that the websocket connection to the bot technically allows a bot to receive streamed audio, but the current samples don't support this and the intent with Di

[2019-09-11 20:43] Rashree138 commented on #1747
Hi ,

I am using as below and getting error:

**Code**
======
  var activityText = promptContext.Context.TurnState.Get().GetActivityTextWithoutMentions()?.Trim() ?? string.Empty;

**Screen shot:**
=========

![image](https://user-images.githubusercontent.com/13681207/64733742-e7f8bd80-d502-11e9-89b3-b3dbad3acdbd.png)

[2019-09-11 21:17] splumber opened #1759 "DLS Client Error when connecting experimental Core Bot to Azure"
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues)
### Experimental [CoreBot](https://github.com/microsoft/BotBuilder-Samples/tree/master/experimental/directline-speech/csharp_dotnetcore/13.core-bot)

## Environment
C# .NET Core

## Sample information
1. Sample type: /experimental/directline-speech/csharp_dotnetcore/13.core-bot/
2. Sample language: dotnetcore
3. Samp

[2019-09-11 22:00] mdrichardson commented on #1758
The error is thrown because [this line](https://github.com/microsoft/botbuilder-js/blob/master/libraries/botbuilder/src/botFrameworkAdapter.ts#L604) doesn't account for errors without a `body`, as I recall.

You can edit that line yourself at `/node_modules/botbuilder/lib/botFrameworkAdapter.js:510` and set a breakpoint to see what the error is. I don't remember off-hand what often causes this but

[2019-09-11 22:11] mdrichardson commented on #1758
@peterservisbot 	I just logged in/out ~20-30 times with an AADv1 connection (so many I think I might have gotten my account frozen) and it worked every time.

1. Please try my comment above and let me know what error you see
2. Can you provide your `MicrosoftAppId`? I might be able to find something on the backend.

[2019-09-11 22:27] mdrichardson commented on #1758
Still investigating, but I might've found a way to force a repro:

1. Start bot
2. Get Sign In card but DON'T click
3. Restart bot
4. Click Sign In card from step 2

[2019-09-12 06:34] tsuwandy commented on #1759
@CoHealer , who could take a look at this one?  thank you!

[2019-09-13 06:22] Rashree138 opened #1772 "How to send chat message to Ms-Teams conference call/meeting...."
Hi Team,

I am struggling to find the solution for **send the chat message to MS-Teams Conference call/meeting** instead of sending message to Teams Channel using programming code like C#.

I am unable to find any Graph-API for this. Can someone please provide help here to find the solution?

[2019-09-13 08:21] VKAlwaysWin commented on #1747
@Rashree138 could you please try var activityText = dc.Context.TurnState.Get<ITeamsContext>().GetActivityTextWithoutMentions()?.Trim() ?? string.Empty; ?

[2019-09-13 17:45] v-kydela commented on #1772
Hello @Rashree138 - Is this what you're talking about? https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/calls-and-meetings/calls-meetings-bots-overview

[2019-09-13 18:06] mdrichardson commented on #1758
@peterservisbot 	You can ignore my previous comment. We're doing some digging and finding some oddities in the server logs. Any chance that you can repro while Fiddler is running? At some point, a window pops up with something like:

[code]

Please note the magic code at the end ("236841" in the above example). If you can get it to fail, please let me know the magic code and the timestamp for when

[2019-09-13 18:11] tsuwandy commented on #1722
@bnj123, closing this as issue seems to be resolved.   Please reopen otherwise.

[2019-09-13 18:11] #1722 closed

[2019-09-13 18:21] tsuwandy commented on #1772
@v-kydela , @Rashree138 is asking about sending messages to a group chat/Teams during Team meeting.  This is in scope for 4.6.  @EricDahlvang , could you chime in here?  Thanks!

[2019-09-13 18:47] v-kydela commented on #1772
@tsuwandy - I believe the group chats that Teams creates for meetings are different from normal group chats. When I go into app studio and try to add my app to a group chat, I can see all my chats appearing in the list except chats for meetings.

[2019-09-14 00:11] tsuwandy commented on #1759
Fixed for all samples in repo.  Thanks!

[2019-09-14 00:11] #1759 closed

[2019-09-14 09:23] Rashree138 commented on #1772
Hi team,

Yes I need to send message in Group meeting in Teams.
So how can I achieve that?

Because we are using UCMA5 SDK to join and ping message in conference call
in Skype For Business.

So we need to get same functionality in Teams as well.

On Sat, Sep 14, 2019, 12:17 AM Kyle Delaney <notifications@github.com>
wrote:

[2019-09-16 09:44] Rashree138 commented on #1772
Hi Team,

In addition,

We are able to send message to Channel in Teams but this is not our requirement, our requirement is to send message to below sample conference call in Teams: (Sample meeting URL)

https://teams.microsoft.com/l/meetup-join/19%3ameeting_NGQ5YmQ5YmUtMjgyYy00YTNiLWI2ZDQtNWU3OWRmMDhkZTBl%40thread.v2/0?context=%7b%22Tid%22%3a%22e0793d39-0939-496d-b129-198edd916feb%22%2c%22Oid%22%

[2019-09-16 10:14] San-eng opened #1777 "Runing nodeJs npl-with-dispatch BotBuilder sample behind corporate proxy"
I'm trying to run the sample "14.nlp-with-dispatch" on my local machine and test it with the emulator. I have a luis and Qna azure services. I have modified some code under node_module to add proxy configuration (just to run the exemple on my local machine) : this works for my luis service but I didn't find where to add proxy configuration for qna service knowing that I have tried to use npm packa

[2019-09-16 14:32] diberry commented on #1777
@San-eng I don't know the answer, but I'm interested in your scenario. Can you explain why you are adding a proxy to these services? How you added it for LUIS?

[2019-09-16 14:32] mdrichardson commented on #1758
@peterservisbot 	We've made a small change to how OAuth gets logged that should take affect in the next couple of days. This *should* help us pinpoint the issue. So far, it seems there's either some kind of race condition with token caching or Teams is sending the wrong magic code. Unfortunately, my repro steps don't produce the same errors in the backend. As you're able to reproduce this fairly r

[2019-09-16 15:42] v-kydela commented on #1772
@Rashree138 - I don't think this is possible, but I've escalated the issue for you. I'll let you know when I hear back from internal Teams support.

[2019-09-16 16:38] Rashree138 commented on #1772
Thank you so much....I m waiting for some positive response.

On Mon, Sep 16, 2019, 9:12 PM Kyle Delaney <notifications@github.com> wrote:

[2019-09-16 18:31] #1711 closed

[2019-09-16 21:10] arunprasathv opened #1778 "How to Make API Calls from Bot Framework"
@v-kydela @mdrichardson
Hi,

I'm looking for an example to build BOT for Customer Support scenarios where the BOT asks questions and responds calling API, as the user inputs.

For Example,
Customer : I need Order details
Bot: Can I have Order #
Customer : 1232134
BOT : calls api internaly and show information.
Customer: I need performance of the order
BOT: shares the link to view the performance.

[2019-09-16 21:33] Edwardenis commented on #1778
If you are using C# on the step that received the order # you should have something like:

`var orderNum = "the order #";
            using (var client = new HttpClient())
            {
                var response = await client.GetAsync($"Your API Endpoint?orderNum={orderNum}");
                if (response.IsSuccessStatusCode)
                {
                    var json = await response.Cont

[2019-09-17 18:13] jwiley84 commented on #1778
Hi @arunprasathv! The bot framework team prefers that "how-to" questions are asked on Stack Overflow, tagged with the [botframework tag](https://stackoverflow.com/questions/tagged/botframework)

That being said, there should be no reason you cannot make a standard API call, as illustrated by @Edwardenis. I would recommend making sure you're making the methods asynchronous, so you aren't blocked by

[2019-09-17 18:13] #1778 closed

[2019-09-17 18:36] dmvtech commented on #1777
hi @San-eng

Please see the issue [here](https://github.com/microsoft/botbuilder-js/issues/717). As mentioned, that is blocked due to [this](https://github.com/microsoft/botbuilder-js/issues/1072).

I'm not sure of any workarounds at the moment, but I will look into it.

[2019-09-17 18:38] dmvtech commented on #1777
@diberry I'm not sure about @San-eng's situation, but many scenearios involve situations where code is running behind a proxy, and must only use that proxy. If the application is not configured to send any/all outgoing requests through the proxy, it is blocked.

[2019-09-17 20:13] jwiley84 commented on #1731
@cindyloo, my apologies for not gettting back to you faster. It looks like @mdrichardson and @DDEfromOR have covered the topic completely. I'm going to go ahead and close this. Keep an eye out going forward for this to potentially shift from experimental to fully-realized sample!

[2019-09-17 20:13] #1731 closed

[2019-09-17 20:22] clearab commented on #1772
Hi - please add the 'groupChat' scope to your bot; this will allow you to add it to a meeting chat. If you're interested in calling and meeting bots, please see: https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/calls-and-meetings/calls-meetings-bots-overview.

[2019-09-17 20:45] cindyloo commented on #1731
ok, thanks for the information and clarification @DDEfromOR. I think the term 'streaming' can indeed be misleading - whether one is streaming audio from an application to the node.js example echobot or to separately set up the DLS channel and send the audio that way. I'd appreciate clearer examples and the differentiations. I'm not sure it makes sense to close b/c I would think you want to make su

[2019-09-17 20:48] v-kydela commented on #1772
@clearab - I can add a bot to any group chat except a meeting chat. Are you sure there's no difference?

[2019-09-17 22:44] clearab commented on #1772
Yes, if you bot has the group chat scope you can install it in the meeting chat (although it is a bit confusing). From the meeting chat page:

1. Type "@" in the compose box, then select "Get bots"
2. Click "Manage apps"
3. Click "Upload a custom app" (bottom right corner)
4. Select your app package and upload (if you're using App Studio you'll need to download the package)
5. Return to the Conver

[2019-09-17 22:50] v-kydela commented on #1772
@clearab - That's strange. I get an error on step 4:

![image](https://user-images.githubusercontent.com/41968495/65085374-c4020580-d962-11e9-8f1d-9bb7d0fbd8ae.png)

@Rashree138 - Do the steps work for you?

[2019-09-18 01:10] clearab commented on #1772
Can you copy the error details to the clipboard and then paste them here? That should help narrow down the issue.

[2019-09-18 02:13] Rashree138 commented on #1772
Hi Kyle/Andrew,

See I have uploaded Bot in group using @ sign. And also I am not getting
any error to upload manifest file.

Here again I am clearing my req....

We need to send message in Teams Meeting.

Please let me know if you have any questions.

On Wed, Sep 18, 2019, 6:40 AM Andrew Clear <notifications@github.com> wrote:

[2019-09-18 14:36] arunprasathv commented on #1778
I did post in Stackoverflow but no response, then I decided to post it here. Any sample from github that matches my ask would be great. I started looking into bot framework examples.  Thanks.

[2019-09-18 17:32] v-kydela commented on #1772
@clearab - Thanks for the advice! I just solved my problem. It was a matter of each URL needing to be prefaced with http/https.

@Rashree138 - If you've successfully added your bot to the group chat of a meeting, what problems are you having? What have you tried? Are you saying you don't know how to send a proactive message?

[2019-09-18 20:35] JonathanFingold opened #1780 "JavaScript samples incorrectly use the ActivityHandler's onMessage handler in place of the onDialog handler"
## Sample information
1. Sample type: [\samples\\]
2. Sample language: [es6 or nodejs or typescript]
3. Sample name: All JS dialog samples, for instance [javascript_nodejs/05.multi-turn-prompt](https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/javascript_nodejs/05.multi-turn-prompt).

## Describe the bug
The code comments in the SDK clearly states that `onDialog` should be used t

[2019-09-19 18:57] Rashree138 commented on #1772
Hi Kydela,

My problem is not uplaoding BOT and all.
Let me explain again......

Suppose there is Teams Meeting is going-on and I need to send any chat/message into that Meeting using any C# code or any programming language. I don't need to send message to any individual person.

Here I already using this functionality in Skype meeting using UCMA5 SDK libraries. Becuase i have send messages to Sky

[2019-09-19 20:24] v-kydela commented on #1772
@Rashree138 - It sounds like you're saying you want to send a text-based message activity from a bot to the group chat conversation associated with a meeting in Microsoft Teams. While there was some confusion earlier about people thinking you wanted to make an audio/video calling bot, it seems clear to me that you want your bot to participate in the text-messaging portion of the meeting and not th

[2019-09-19 23:02] cleemullins commented on #1252
We'll revisit the VSIX and other Generators in the not-to-distant future. Closing this for now.

[2019-09-19 23:02] #1252 closed

[2019-09-19 23:15] cleemullins commented on #1454
Update: had a discussion with @EricDahlvang and he's looking now into the 1.1.2 to 1.1.4 updgrade of the recognizers.

[2019-09-19 23:15] cleemullins commented on #1263
We're not going to be taking this quite yet. WE'll be revisiting the vsix / dotnet / yeoman / cookiecutter genrators shortly.

[2019-09-19 23:15] #1263 closed

[2019-09-20 05:29] Rashree138 commented on #1772
Hi Kydela,

I guess you are getting my issue here bcoz i already explain to you.
Now let me answer of your question first point wise:

1. We are able to send proactive messages from BOT to any user. So no issue here
2. BOT already registered with Teams channel
3. Manifest files also fine.
4. The bot needs to have group chats enabled (**Need to know how to do this?)**
5. Our requirement is,  BOT wi

[2019-09-20 17:53] clearab commented on #1772
You need to add the groupChat scope to your bot in your app manifest. You do this the same way you added other scopes to your bot. The bot needs to be installed in the meeting. Then you can send a proactive message. If the bot is not installed, you cannot send the message (otherwise you could just send messages to any random meeting).

[2019-09-20 17:55] v-kydela commented on #1772
@Rashree138

Group chats are enabled in the bot settings of your Teams app manifest: https://docs.microsoft.com/en-us/microsoftteams/add-bots

I don't think it will be possible for your bot to send a message to a Teams meeting without being added to the meeting.

I think the most important piece of missing information here is what you want to have trigger the message. If you want the bot to send a

[2019-09-20 20:45] Batta32 opened #1781 "Experimental Node EchoBot doesn't work with DLS Channel/Client"
## Sample information
1. Sample type: [experimental]
2. Sample language: [javascript_nodejs]
3. Sample name: [02.echo-bot](https://github.com/microsoft/BotBuilder-Samples/tree/master/experimental/directline-speech/javascript_nodejs/02.echo-bot)

## Describe the bug
We are integrating the WebSocket functionality of [botbuilder-streaming-extensions](https://botbuilder.myget.org/feed/botbuilder-v4-js

[2019-09-20 21:41] johnataylor commented on #1705
Please check out the pattern we have in the samples. For example take a look at Core Bot sample 13.

https://github.com/microsoft/BotBuilder-Samples/blob/master/samples/csharp_dotnetcore/13.core-bot/Startup.cs

Here you can see the BotState objects injected - it is OK to make these singleton because the calls that are made that need to be scoped to the current request are parameterized with TurnCo

[2019-09-20 21:41] #1705 closed

[2019-09-20 21:57] mdrichardson commented on #1758
@peterservisbot

1. Can you attempt to repro? The backend logs should help illuminate the issue now
2. While attempting to repro, myself, I ran into an issue where my bot threw that error for *every* message. I deleted my bot from Teams' App Studio and completely recreated it (ensuring `token.botframework.com` was still in valid domains). This made it work completely normally again--no errors. Can

[2019-09-21 19:35] Rashree138 commented on #1772
OK,
I agree with you that we will not  send message to teams meeting without
join the meeting, then how to join and send message and then again drop off
from that meeting. Can you send me sample piece of code.
And what step involved in this kind of activity?

On Fri, Sep 20, 2019, 11:26 PM Kyle Delaney <notifications@github.com>
wrote:

[2019-09-22 03:29] EASYELNET commented on #1772
🤔 لهدرجه انت غبي
والبلا جالس تضيع  وقتك من كثر ما تكتب رسائل  فاضي من جد فاضي

في السبت، ٢١ سبتمبر، ٢٠١٩ ٢٢:٣٥ Rashree138 <notifications@github.com> كتب:

[2019-09-23 05:41] clearab commented on #1689
@johnataylor I believe this one can be closed as not needed.

[2019-09-23 16:29] johnataylor commented on #1689
Yes Tabs are not directly related to the bot framework SDK work

[2019-09-23 16:29] #1689 closed

[2019-09-23 20:45] DDEfromOR commented on #1781
Hi @Batta32

I'm still working on repro-ing this bug and will have more information soon, but so far I've noticed when using the Azure CLI tool to run `az bot prepare-deploy --code-dir "." --lang Typescript` a `web.config` file is generated in the root dir of the bot and includes the line `    <webSocket enabled="false" />` which may be overriding the 'Enable WebSockets' setting in the Azure porta

[2019-09-24 00:00] DDEfromOR commented on #1781
I've been able to reproduce this bug and pull logs from the app service that show an odd wrapping of a 404 response by a 500 response. I was also able to reproduce this by following the same guides using the Typescript echo bot sample in master and keeping my npm registry feed set to https://botbuilder.myget.org/F/botbuilder-v4-js-daily/npm as the instructions for using the streaming-extensions li

[2019-09-24 00:33] v-kydela commented on #1772
@Rashree138 - I was able to send a proactive message to a Teams meeting normally. Does [this document](https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-connector-send-and-receive-message) help? You will need the conversation ID and the service URL.

I tested the API using Postman requests like this:

[code]

[2019-09-24 14:17] Batta32 commented on #1781
Thanks @DDEfromOR! We will test the workaround that you suggested and we will back to you later!

[2019-09-24 17:18] cleemullins commented on #1719
@garypretty The ball is in your court. We can push this to 4.7, if the referenced CosmosDB issue needs to be fixed first.

[2019-09-24 18:40] v-kydela commented on #1772
There is no Graph API to add a bot to a meeting chat programmatically. Someone has to add the bot to the meeting through the Teams UI.

[2019-09-24 21:01] Batta32 commented on #1781
@DDEfromOR, we tested the workaround that you suggested but nothing changed 😞.

We followed these steps:
1. Clone [botbuilder-js repo](https://github.com/microsoft/botbuilder-js/tree/master/libraries/botbuilder-streaming-extensions)
1. Open `botbuilder-js\libraries\botframework-streaming-extensions`
1. Execute `npm install` and `npm run build`
1. Execute `npm pack` and copy the absolute path of th

[2019-09-25 17:40] CoHealer commented on #1777
@San-eng, do you still require assistance? To keep the issue open we need activity on the thread.

[2019-09-25 17:45] stevengum commented on #1713
Transferring this issue to the botframework-sdk repository. We need to draw up a list of touch points and have one of the support engineers or another engineer help with testing the list.

[2019-09-25 18:40] diberry commented on #1729
@mdrichardson @CoHealer Can the deploy to Azure buttons come back in the table that lists the samples?

[2019-09-25 20:21] mdrichardson commented on #1758
@peterservisbot Have you had a chance to test this since Thursday?

[2019-09-25 20:41] CoHealer commented on #1729
Hi Dina, Michael just pointed out to me that these buttons are in the v3 README. Were they ever in v4? I honestly don't know if this can happen or not. Perhaps you should file a more formal DCR.

[2019-09-25 21:41] cleemullins commented on #1718
@jspruance Can you figure out the right (minimal) option for this, and update this thread? Then we can update the samples to all match.

[2019-09-25 21:48] cleemullins commented on #1697
done

[2019-09-25 21:48] #1697 closed

[2019-09-25 21:50] cleemullins commented on #1687
Teams Channel Bot Samples are coming as part of 4.6.

[2019-09-25 21:53] cleemullins commented on #1631
Pushing to 4.7.

[2019-09-25 21:58] cleemullins commented on #1454
The 1.1.4 update has been taken. @johnataylor can now update the sample once the 4.6 packages are pushed to production.

[2019-09-26 09:23] San-eng commented on #1777
Sorry for the delay ,
@CoHealer  Yes I still require assistance
@dmvtech Thanks for replying
@diberry : As I said , I'm trying to run this exemple locally.
So my bot is runing on my machine and i'm using the emulator to test it.
But in my case I have luis and Qna azure services that I need to call behind a corporate proxy.
I didn't find a way to add proxy configutaion for only this two services so

[2019-09-26 14:48] diberry commented on #1777
@San-eng Do you have the changes checked in or in a Gist that I can look at? It would be great to get this into the SDKs at some point and into the docs sooner.

[2019-09-26 16:24] mdrichardson commented on #1758
@peterservisbot Thank you so much for attempting a repro. Sorry for the runaround--it looks like I mixed up which Thursday the auth devs were referring to. It should go live today, so hopefully repro-ing after today will shed some light on this. Sorry again...

[2019-09-26 17:19] johnataylor commented on #1454
The samples already uses 1.1.4.

The specific dependency that matters is **@microsoft/recognizers-text-data-types-timex-expression** the required fix appears to have been checked in early May 2019. However, _1.1.4 was published a year ago._

[2019-09-26 17:21] johnataylor commented on #1454
Assigning to @cleemullins for tracking publishing new Node packages for Recognizers-Text.

[2019-09-26 17:22] johnataylor commented on #1454
Refer to https://www.npmjs.com/search?q=recognizers-text-data-types-timex-expression

[2019-09-26 19:19] dmvtech commented on #1777
@San-eng, can you try [setting the proxy](https://jjasonclark.com/how-to-setup-node-behind-web-proxy/) in your node environment?

[2019-09-26 22:26] zxyanliu opened #1782 "Broken link in language generation article"
## Broken link
In this [Language Generation](https://github.com/microsoft/BotBuilder-Samples/blob/master/experimental/adaptive-dialog/docs/language-generation.md) article, the link points to a 404.

![image](https://user-images.githubusercontent.com/32497439/65728958-74fa5580-e071-11e9-856a-dbef8b691c73.png)

## Expected behavior
I assume this link should point to the [Language Generation [PREVIEW

[2019-09-27 17:04] cleemullins commented on #1454
I've followed up with the recognizers-text team about publishing a new Node set of recognizer packages. Assuming they're able to push new packages, we can then take this in 4.7.

[2019-09-27 18:44] Virtual-Josh commented on #1700
This work is done in C# and JS.

[2019-09-27 18:44] #1700 closed

[2019-09-27 18:44] Virtual-Josh commented on #1699
This work is done in C# and JS

[2019-09-27 18:44] #1699 closed

[2019-09-27 18:44] Virtual-Josh commented on #1701
This work is done.

[2019-09-27 18:44] #1701 closed

[2019-09-27 21:28] arunprasathv opened #1783 "Need help with using HandOff"
@cleemullins @DDEfromOR

How to initiate agent transfer from BOT?

I executed,  https://directline.botframework.com/v3/directline/conversations

but getting this error.

also i see hanfoff BOt sample  connecting to,  {http://localhost:1661/v3/conversations/e3ea8aa1-e16b-11e9-a476-af445dff8373|livechat/handoff} and am not sure how to setup this. which project i should run to enable this URL to resp

[2019-09-30 04:10] Talhakh opened #1785 "Prompted to copy/paste a code once the Login button is clicked on the Authentication Prompt"
## Description
Expected behavior is that once the user clicks on "Login" button he will be authenticated and the waterfall model will continue on to the next step. However, user gets prompted to copy/paste a code in the chat window to continue

## To Reproduce
Steps to reproduce the behavior:
1. Clone the bot samples; 24 bot authentication
2. Type anything
3. Click on Login
4. Authenticate & user

[2019-09-30 17:46] mdrichardson commented on #1785
@Talhakh This is expected behavior for nearly all clients and auth services. To disable this in Emulator, uncheck "Use a sign-in verification code for OAuthCards" in Settings:

![image](https://user-images.githubusercontent.com/40401643/65902467-59dc5e00-e36f-11e9-93ac-ef46b3cc1f60.png)

Again, this is expected behavior. It is up to the client/channel (Emulator, Web Chat, Teams, Skype, etc) and th

[2019-09-30 19:08] arturl commented on #1783
Hi @arunprasathv,

You can use the library to pass the handoff request to an app connected to your bot via Direct Line APIs. Normally that app would be aware of the concept of a human agent: when handoff request is received, it should interpret that as a request to redirect all subsequent messages with that conversation ID to a human agent. That is the work that you need to do in your app.

Use cl

[2019-09-30 20:20] v-kydela commented on #1772
@Rashree138 - Are you still working on this?

[2019-09-30 23:02] Talhakh commented on #1785
@mdrichardson thanks for the clarification 👍

[2019-09-30 23:02] #1785 closed

[2019-09-30 23:30] dmvtech commented on #1782
Thanks @zxyanliu! PR created.

[2019-09-30 23:30] #1782 closed

[2019-10-01 05:55] Rashree138 opened #1787 "Bot channel registration name is not added before actual value in Activity.Text"
Hi Team,

If we started a chat thread in BOT in Teams then we get the reply hyper link when we click on this link then **Bot channel registration name** is showing in the reply text box.
- Again if user will provide his input then no do not click from Mouse from anywhere in the Teams or Screen, then Bot will reply  in same window, now if user put his input again then no reply from BOT because **Bo

[2019-10-01 06:26] Rashree138 commented on #1772
Hi Kyle,

Yes I a still working on it and trying to get the solution using delegate
permissions.
Do you have any running sample for deleted permission. please share with me.

On Tue, 1 Oct 2019 at 01:51, Kyle Delaney <notifications@github.com> wrote:

--
Regards,

Raj Kushwaha
*Mobile*: 987-360-8965

[2019-10-01 15:29] v-kydela commented on #1772
@Rashree138 - What do you mean by delegate permissions? Can you explain why you're not satisfied with the answers you've been given?

[2019-10-01 17:42] mdrichardson commented on #1787
@Rashree138 @ivikashijha (I can't seem to properly tag you. Sorry)

This is intended behavior. When clicking:

![image](https://user-images.githubusercontent.com/40401643/65985807-64622a80-e437-11e9-9a70-4f4bef749114.png)

...you're indicating that you want to reply directly to the user who sent that last message.

After the message is sent, the Reply input box:

![image](https://user-images.githu

[2019-10-01 18:33] jspruance commented on #1718
Updates to JS state management bot needed:

1) Add welcoming text: 'Welcome to State Bot Sample. Type anything to get started.'
2) Modify response text: 'Thanks {name}. To see conversation data, type anything.'
3) Modify state accessor variables to be more semantic:
conversationDataAccessor
userProfileAccessor

Here's a PR with proposed changes:
https://github.com/microsoft/BotBuilder-Samples/pull

[2019-10-01 20:20] mdrichardson commented on #1758
@peterservisbot Thanks! I see the errors and have forwarded them to the auth team. Still looking into this. Have you noticed if you're still able to repro when not using ngrok? I you don't want to deploy, you could probably try an [Azure Relay](https://blog.botframework.com/2019/04/16/debugging-your-locally-hosted-v4-bot-using-azure-relays/)

[2019-10-01 21:16] CoHealer commented on #893
Change was merged into master. Closing.

[2019-10-01 21:16] #893 closed

[2019-10-01 22:31] garypretty commented on #1719
@cleemullins We have the new storage provider in now. I'll update the sample to show blob and the new cosmos usage and ready to go for 4.6.

[2019-10-02 16:34] dmvtech commented on #1777
hi @San-eng

just checking in to see if setting the proxy in the node env helped. Please let me know if you need further assistance.

[2019-10-02 19:58] DDEfromOR commented on #1781
@Batta32 Sorry for the late response! If I ever take too long to answer you here please feel free to email directly and give me a nudge. My email is in my profile.

Can you confirm if you are able to open a WebSocket session with your bot locally? Or more specifically, just a test WebSocket connection that returns anything other than a 500.

Also, are you using the Azure CLI tool to prepare and de

[2019-10-02 22:39] AJIXuMuK opened #1791 "Adaptive Cards and LG: templates are not evaluated inside the card"
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues) / [Java](https://github.com/Microsoft/botbuilder-java/issues)/ [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for genera

[2019-10-03 15:22] tellstoriesatbedtym commented on #1731
@DDEfromOR, do we have similar API on the .NET sdk? I am trying to achieve the same.

[2019-10-03 15:25] tellstoriesatbedtym opened #1792 "Passing audio stream directly to DLS?"
I am trying to use Direct Line Speech (DLS) in my custom voice app (C# based). The Voice app has access to the audio streams which I want to (pcm encoded) it directly to Direct Line Speech.

From the DLS Client sample code (https://github.com/Azure-Samples/Cognitive-Services-Direct-Line-Speech-Client), I see that the method ListenOneAsync() in Microsoft.CognitiveServices.Speech.Dialog.DialogServic

[2019-10-03 17:15] v-kydela commented on #1792
Thanks for the question, @tellstoriesatbedtym

I'm going to close this issue for now so it can be addressed for a wider audience on Stack Overflow: https://stackoverflow.com/questions/58212779/how-to-pass-media-stream-to-the-direct-line-speech-endpoint

[2019-10-03 17:15] #1792 closed

[2019-10-03 17:21] DDEfromOR commented on #1781
@Batta32 I have news! It appears for the WebSocket upgrade to go through reliably with a Node.js bot the App Service must have the Always On option toggled to true. I'm investigating why this hasn't come up until recently.

[2019-10-03 17:42] Batta32 commented on #1781
Hey @DDEfromOR ! Thanks for the response, we will check the different alternatives that you suggested and get back to you later 😊

[2019-10-03 18:15] stevengum commented on #1791
@boydc2014 can you investigate? Thanks!

[2019-10-03 19:55] dmvtech commented on #1777
Closing this as it doesn't seem assistance is needed at this time. Please reopen if that is the case.

[2019-10-03 19:55] #1777 closed

[2019-10-04 08:59] ivikashjha commented on #1787
Thanks

[2019-10-04 14:20] Batta32 commented on #1781
@DDEfromOR, the information of below is for the [Experimental Echo Bot](https://github.com/microsoft/BotBuilder-Samples/tree/master/experimental/directline-speech/javascript_nodejs/02.echo-bot) and [Virtual Assistant Sample](https://github.com/microsoft/botframework-solutions/pull/2402) too (that we are working on).

- I'm using Azure CLI to prepare an deploy the bots, following [these steps](http

[2019-10-04 17:43] Virtual-Josh commented on #1690
Closing per Kamran's comment.

[2019-10-04 17:43] #1690 closed

[2019-10-04 17:44] Virtual-Josh commented on #1688
@johnataylor  is this done?

[2019-10-04 17:49] Virtual-Josh commented on #1686
Per agreement with Teams this is P2 sample and will fast follow the 4.6 release.

[2019-10-04 17:50] Virtual-Josh commented on #1685
Per agreement with Teams this is a P3 sample, will fast follow the 4.6 release.

[2019-10-04 17:51] Virtual-Josh commented on #1684
@Virtual-Josh  to link back the echo bot sample

[2019-10-04 17:52] Virtual-Josh commented on #1683
Per agreement with Teams team is a P1 sample. Should land in 4.6

[2019-10-04 18:09] Virtual-Josh opened #1793 "[Teams] Create Echo bot sample"
Create base echo bot sample

[2019-10-04 18:09] #1793 closed

[2019-10-04 18:10] Virtual-Josh commented on #1793
Done, waiting for feedback:

https://github.com/microsoft/botbuilder-dotnet/tree/josh/echo/tests/Teams/52.Teams-echo-bot

[2019-10-04 18:11] Virtual-Josh commented on #1687
Done.
https://github.com/microsoft/BotBuilder-Samples/issues/1793

[2019-10-04 18:11] #1687 closed

[2019-10-04 18:11] Virtual-Josh commented on #1684
Done
https://github.com/microsoft/BotBuilder-Samples/issues/1793

[2019-10-04 18:11] #1684 closed

[2019-10-04 18:16] #1688 closed

[2019-10-04 18:26] Virtual-Josh opened #1794 "[Teams] Echo bot sample with additional functionality"
Create an echo bot sample that includes

- conversation updates
- message reactions
- update/delete activities
- mentions

[2019-10-04 18:28] Virtual-Josh opened #1795 "[Teams] Create sample to show auth within Teams"
Create sample that shows how to do auth within Teams

[2019-10-04 22:02] sgellock commented on #1682
@Kaiqb I think we address this in docs?  if you disagree, then that leaves the README.md for https://github.com/microsoft/BotBuilder-Samples/tree/master/experimental, but I'm not sure that's the right place.  maybe we link from the README.md to our docs like we do with other topics?

[2019-10-05 20:17] EricDahlvang commented on #1682
The dotnet repo also has some myget feed instructions we could link to: https://github.com/microsoft/botbuilder-dotnet/blob/master/UsingMyGet.md

[2019-10-07 15:42] cindyloo commented on #1687
is there a nodejs example I hope? I didn't see one on #1793

[2019-10-07 15:51] sgellock commented on #1687
@cindyloo we are tracking to have both C# and NodeJS samples for the 4.6 release.

[2019-10-07 17:53] phillykid opened #1796 "Running Node.js Bot Builder Framework with Luis.ai behind a corporate firewall."
I'm trying to build a chatbot POC for my team, but I keep running into an authorization issue with Luis.ai when I try to test locally. I am assuming it stems from a proxy issue, but on my end I've set my npm config to those dictated by my company. The issue still pertains so I'm assuming the proxy settings are being ignored causing the traffic to be blocked.

I've tried what this user [did](https:

[2019-10-08 09:53] vyomanaut opened #1797 "Create a sample to show handoff on 2 clients using directline"
i have a seen few examples on the internet showing handoff on different channels , but none of them show handoff on 2 channels in a case where both of them use directline API .

[2019-10-08 18:12] chrimc62 commented on #1797
@vyomanaut thanks for the issue, we are working for formalize this and plan to have a solution with samples in our 4.7 release.

[2019-10-08 21:48] cleemullins commented on #1794
Is this done? I thought you had written it, and sent it out for review - but I [can't find the relevant PR](https://github.com/Microsoft/botbuilder-samples/pulls?utf8=%E2%9C%93&q=is%3Apr+author%3Avirtual-josh+).

[2019-10-08 22:17] cleemullins commented on #1795
Dupe of #1683. Closing.

[2019-10-08 22:17] #1795 closed

[2019-10-08 22:19] dmvtech commented on #1796
Hi @phillykid

It's hard to say without knowing a bit more. Are you able to debug your bot to find out where exactly the exception is happening?

Would you be able to test with a simple node application (not bot) that makes a call to LUIS, to see if that is correctly utilizing the proxy setting?

Basic, simple query such as:
`https://<region>.api.cognitive.microsoft.com/luis/v2.0/apps/<LuisApplica

[2019-10-08 22:25] Virtual-Josh commented on #1794
You can find the draft PR for base echo bot here:

https://github.com/microsoft/botbuilder-dotnet/pull/2676

The only difference between this echo bot and the improved echo bot is the addition of the methods listed above so it's a fairly straight forward copy/paste + known additions. I'm still working on the ARM template so I'll get a PR (and slightly modified readme) for this one once the base is

[2019-10-09 04:47] vyomanaut commented on #1797
sure thanks , looking forward to the release :).

[2019-10-09 04:51] vyomanaut opened #1799 "Create a sample to show taking input attachments on a waterfall dialog"
currently as i see , the handling attachment bot sample is more of a bot sample jumping different functions , it would be a better implementation if the same can be implemented in a waterfall-dialog setting .
attachments are a key part of the chat bot experience , the one i am developing for my company's project requires this .

currently i am trying to find a way to switch bots with a waterfall ,

[2019-10-09 14:42] phillykid commented on #1796
I tested with postman and the call comes back with json, but I tested on a node application(non-bot) and I get the error ENOTFOUND.

[2019-10-09 16:25] #1787 closed

[2019-10-09 16:55] dmvtech commented on #1796
Hmm, interesting. So that _seems_ to me that the node applications are not properly using the proxy server set in the node configuration. Do other requests (not to luis) from node application (non-bot) use the proxy settings and work successfully?

[2019-10-09 18:03] phillykid commented on #1796
Well it seems that all non .corporate.com traffic is getting axed when running from node. I added my proxy settings directly into the API calls using the option in the requests library and it solves the issue for getting responses back from outside the network. How would I go about adding the proxy settings for any Luis.ai request being made?

[2019-10-09 22:10] dmvtech commented on #1796
So, I found this:
https://stackoverflow.com/questions/18586902/node-js-global-proxy-setting/27825729#27825729

You could look to see if you could get that tunneling to work.

The issue with running in the bot is that currently, the framework [ignores proxy](https://github.com/microsoft/botbuilder-js/issues/717). This is due to a [dependancy on msrest](https://github.com/microsoft/botbuilder-js/iss

[2019-10-09 22:24] TechyServe opened #1800 "The scaleoutbot does not work when dialog has an OAuthPrompt. Getting "OAuthPrompt.GetUserToken(): not supported by the current adapter""
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues) / [Java](https://github.com/Microsoft/botbuilder-java/issues)/ [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for genera

[2019-10-10 16:43] #1712 closed

[2019-10-10 16:53] jwiley84 commented on #1800
Closing this as a duplicate of [How to add Iconnectorclient to the botframeworkadapter](https://stackoverflow.com/questions/58324239/how-to-add-iconnectorclient-to-the-botframeworkadapter). If it turns out that this is a bug, will reopen this issue.

[2019-10-10 16:53] #1800 closed

[2019-10-10 18:58] v-kydela commented on #1772
@Rashree138 - Do you still need help?

[2019-10-10 19:04] phillykid commented on #1796
I looked at the tunneling tool, but it was not working. I was able to find the more updated version called global-agent and that allowed me to make direct API calls to Luis without having to specify the proxy in the request itself. The Luis SDK is still being blocked so will have to look into making the request outside of it.

[2019-10-10 22:49] Kaiqb commented on #1682
@sgellock - the samples in the experimental branch are not covered in the core docs. The readme will need to include the pre-reqs.

[2019-10-11 03:57] vyomanaut commented on #1799
any updates on how to do this ?

[2019-10-11 07:57] HesselWellema opened #1806 "Attachment.name has prefix fromClient:: when coming from WebChat"
BotBuilder-Samples/samples/javascript_nodejs/15.handling-attachments/

When hosted on Azure, attachment.name containts a prefix ::fromClient. in my case this caused an InternalServerErrror on Azure. Fs actually throws an error that i  cannot find the file. See https://stackoverflow.com/questions/58306146/internal-server-error-om-azure-when-writing-file-from-buffer-to-filesystem
I had to remove the

[2019-10-11 17:14] dmvtech commented on #1796
Yeah, unfortunately, that's your option for the moment. Keep an eye on that bug and perhaps [this one](https://github.com/microsoft/botframework-sdk/issues/5469) as well.

[2019-10-11 17:14] #1796 closed

[2019-10-11 17:29] christopheranderson opened #1807 "JS samples should declare all dependencies (don't rely on transitive dependencies)"
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues) / [Java](https://github.com/Microsoft/botbuilder-java/issues)/ [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for genera

[2019-10-11 18:15] tonyanziano commented on #1783
Information provided above. Closing due to inactivity.

Please feel free to reopen if the issue persists.

[2019-10-11 18:15] #1783 closed

[2019-10-11 22:19] Virtual-Josh commented on #1794
Done

https://github.com/microsoft/BotBuilder-Samples/tree/master/experimental/teams/csharp-dotnetcore/TeamsEcho

https://github.com/microsoft/BotBuilder-Samples/tree/master/experimental/teams/csharp-dotnetcore/TeamsEnhancedEcho

[2019-10-11 22:19] #1794 closed

[2019-10-11 22:24] christopheranderson opened #1808 "[ES][JS] Add prettier to samples"
### Use this [query](https://github.com/Microsoft/botbuilder-samples/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++label%3Aenhancement) to search for the most popular feature requests.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

The JS samples have various non-idiomatic things that

[2019-10-14 00:39] #1717 closed

[2019-10-14 00:43] sgellock commented on #1644
I've taken a pass at the onTurnError in both C# and JS/TS to do 2 things:
- use more descriptive error messages
- send a trace activity if we determine we're using the emulator

This is the extent of the investment I want to make as we're starting to get into more complexity in this error handler function that I think may be appropriate.

[2019-10-14 00:43] #1644 closed

[2019-10-14 17:40] CoHealer commented on #1799
@v-kydela, can you please provide an example

[2019-10-14 22:23] #1538 closed

[2019-10-14 23:37] dmvtech commented on #1806
I can this as well. Looking into it further.

[2019-10-15 05:55] vyomanaut commented on #1799
i have described this issue here : https://stackoverflow.com/questions/58336861/how-to-access-iturn-context-functions-through-a-waterfall-dialog-in-bot-framewor

got no support there .

need to make a prototype to show my team before monday.

its meant to handle jpeg/png images . there is just a lack of samples on handling attachments . The attachmentprompt too has sparse documentation and literal

[2019-10-15 10:04] anil2025 commented on #1258
This link is broken, please update

[2019-10-15 13:12] lobigm commented on #1709
i had the same problem with different solution, for me i had to configure ngrok correctly and (close and open bot Framework  emulator), https://github.com/microsoft/BotFramework-Emulator/issues/1597

the problem was that the token, it was malformed.

[2019-10-15 18:12] dmvtech commented on #1806
This seems to be the case for only Test in Web Chat (haven't tested full web chat yet). But does not happen in MS Teams, Telegram or Skype.

@HesselWellema can you confirm that `Test in Web Chat `is where you are witnessing the behavior. Do you have any other channels that exhibit this behavior?

[2019-10-15 18:17] dmvtech commented on #1806
Additionally, it doesn't have to be hosted in Azure. I have tested with a locally hosted bot and it throws an exception there too. It's just TiWC (at least for now).

[2019-10-15 18:37] HesselWellema commented on #1806
Hi, locally running on Node with bot emulator  I did not witness any issues. Attachment.name does not resolve with a ::fromClient prefix in that case. I did witness the issue it in webchat.

[2019-10-15 18:42] dmvtech commented on #1806
thanks @HesselWellema

I meant to say that I tested a bot that was in azure, but the endpoint (code) was hosted locally (using ngrok). I didn't test in emulator, but thanks for that info.

I also confirmed iframe webchat is failing. I am testing with full web chat, newer versions. Stand by.

[2019-10-15 19:02] dmvtech commented on #1806
Finding: this is done by the DirectLine service.

[2019-10-15 21:46] dmvtech commented on #1806
Fix is in the pipeline. Should ship this week.

[2019-10-15 22:45] v-kydela commented on #1799
@vyomanaut - I have answered your question on Stack Overflow. Is it the same as your issue here or does this GitHub issue need to be solved separately?

[2019-10-16 04:02] vyomanaut commented on #1799
Just saw your answer , what i am requesting is if a sample can be made for the next release of 4.6 .
Attachments is a very critical part of the chat-bot experience .
Also very sparse documentation on attachment prompt with no examples .

[2019-10-16 05:53] stevengum opened #2498 "[Teams] Add TeamsInvokeResponseFactory to samples"
In addition to adding to samples, this code should have tests and be placed in a branch.

[2019-10-16 12:59] #1719 closed

[2019-10-16 13:01] garypretty opened #1813 "Merge myget-4-6 branch once public packages available"
Tracking issue for me to merge branch myget-4-6 (which is currently using preview 4.6 packages) into master once the public packages are available.

[2019-10-16 16:46] CoHealer commented on #1799
@vyomanaut, it's unlikely this meets the bar for 4.6 given the time frame of that release. @cleemullins to confirm.

[2019-10-16 18:25] john2364 opened #1814 "24. bot-authentication-msgraph"
I know that this bot was recently updated. When running this version, I an issue in the emulator.
VS code reports:
The package.json node_modules\@microsoft-graph-client

Incorect type. expected "array"

[2019-10-16 21:01] MarshHawk opened #1816 "46.TeamsAuth - how to use in Teams"
🚨 The issue tracker is not for questions 🚨

If you have a question, please ask it on https://stackoverflow.com/questions/tagged/botframework

[question]

It is not clear how to test the TeamsAuth bot in Teams. I would think there would be at least some info on using it there. I have successfully deployed TeamsAuth bot and have tested it in the Azure portal chat. Yet, all of the Teams docs seem to

[2019-10-16 23:34] CoHealer commented on #1758
@peterservisbot, it's been a couple of weeks. Do you still require assistance?

[2019-10-17 05:01] vyomanaut commented on #1799
can we add more examples/samples of handling attachements ?
the handling attachements sample is honestly not an ideal use case . Customers will likely want attachement funstionality in component dialogs .

also as i mentioned earlier , example demonstrating AttachmentPrompt is missing .

[2019-10-17 12:31] vyomanaut commented on #1799
try this solution here :
https://github.com/microsoft/botframework-sdk/issues/5312

[2019-10-17 14:33] jwiley84 commented on #1816
The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/BotBuilder/blob/master/README.md) repos are the preferred platform for submitting **bug fixes** and **feature requests**.

That being said, in order to test the Teams Auth sample in T

[2019-10-17 14:33] #1816 closed

[2019-10-17 14:38] MarshHawk commented on #1816
@jwiley84 thanks for the clarification on the valid domains, if I run into any further mysteries I will port information to stackoverflow

[2019-10-17 16:41] mdrichardson commented on #1814
What steps are you using to reproduce the error? That was my PR. I just downloaded the sample and everything is working fine on my end:

![image](https://user-images.githubusercontent.com/40401643/67029444-2402dd80-f0c2-11e9-866a-7a7cb32c5aeb.png)

Without more information, I'd guess maybe your scopes are listed incorrectly in your OAuth settings. What OAuth provider are you using and can you copy

[2019-10-17 23:21] v-kydela commented on #1772
Closing due to inactivity

[2019-10-17 23:21] #1772 closed

[2019-10-18 12:42] sgellock commented on #1808
@christopheranderson we do have lint profiles for all the JS and TS samples.  npm run lint is a command that is available in all the package.json script command sections.  prettier is nice to have, IMHO.  not saying I wouldn't do it, it's just a lower priority in my mind.

[2019-10-18 16:48] christopheranderson commented on #1808
Yeah, Scott. I dunno what I was looking at wrt es-lint being missing. It is there in every sample. I might have seen some stuff that linting would have caught. Maybe we're not running linting in CI so we're checking stuff in without enforcing linting? I'll figure it out.

[2019-10-18 16:57] johnataylor opened #1820 "Samples should show alternative approaches to cancelling dialogs"
The samples should show alternative approaches to cancelling dialogs - with the current ComponentDialog world.

Refer to https://github.com/microsoft/botbuilder-dotnet/issues/2280

[2019-10-18 22:45] dmvtech commented on #1806
This fix is in place. @HesselWellema can you confirm the same for you?

[2019-10-18 23:34] john2364 commented on #1814
Hi Michael,

Thank you for responding. I have not had a chance to check yet but I will
check my scopes next week and let you know.

On Thu, Oct 17, 2019 at 12:41 PM Michael Richardson <
notifications@github.com> wrote:

[2019-10-19 07:32] HesselWellema commented on #1806
Tested in webchat. Works like a charm. Thank you!

[2019-10-19 11:17] #1806 closed

[2019-10-20 16:32] sgellock commented on #1258
This is a massive PR.  I understand the need and interest, but I'm not sure we're thinking about where this should live and how it will be maintained.  I'm moving it out to R7 to give us time to reason more about it.

[2019-10-20 16:38] sgellock commented on #1258
@anil2025 the link is a recommendation as to where the sample could live.  if you are interested in the sample before we decide how and where to publish it, then look at PR #1706

[2019-10-20 16:47] #1682 closed

[2019-10-21 13:48] r3dr4gon opened #1823 "The bot's Microsoft App Id or Microsoft App Password is incorrect."
## Sample information
1. Sample type: QnABot
2. Sample language: dotnetcore
3. Sample name: csharp_dotnetcore\11.qnamaker

## Describe the bug
When leaving "MicrosoftAppId" & "MicrosoftAppPassword" empty (in appsettings.json), running the bot locally and open the bot emulator (v4), I have no problem and the bot is working well.
However, when I add "MicrosoftAppId" & "MicrosoftAppPassword" I get "T

[2019-10-21 14:01] r3dr4gon commented on #1823
Funny enough I solved this a few seconds after I gave up and post in here.
The problem was that altough i created id and pass with the command:
az ad app create --subscription "XXX" --display-name "MM-ChatBot-WAbot" --password "XXX" --available-to-other-tenants
and altough i got an output from this command it seems like it did not really created anything.
I asked my manger which have adamin rights

[2019-10-21 14:01] #1823 closed

[2019-10-21 21:39] cleemullins commented on #1799
I'm open to improving the Attachment Sample. Certainly as part of the Teams work, that's on our radar. This would happen in our R7 or R8 time frame.

@vyomanaut, do you have a specific set of criteria you would like to see included?

[2019-10-21 22:18] v-kydela commented on #1799
@cleemullins - My recommendation would be to update the multi-turn prompt sample to include attachment prompts, since it has most other prompts already

[2019-10-21 22:44] EricDahlvang opened #1824 "Consolidate media resources into BotBuilder-Samples folder"
**Is your feature request related to a problem? Please describe.**
We currently have various sources for static image files:
https://github.com/microsoft/BotBuilder-Samples/search?q=.jpg&unscoped_q=.jpg
https://github.com/microsoft/BotBuilder-Samples/search?q=.png&unscoped_q=.png

**Describe the solution you'd like**
If possible, static files in the samples should be a local reference, or hosted a

[2019-10-21 23:46] cleemullins commented on #1799
@v-kydela I'm good with that. I've traiged to R7.

[2019-10-22 00:01] cleemullins opened #1826 "Update all Samples to 4.6 Dependencies"
Before we merge the 4.6-Staging branch, all existing samples (JS / TS / .Net Core / WebAPI) need to be updated to the 4.6 set of packages.

- [x] Javascript
- [x] Typescript
- [x] DotNet Core
- [x] WebAPI
- [x] VSIX
- [x] .NET Templates
- [x] Yeoman generator

[2019-10-22 00:03] cleemullins opened #1827 "Create Sample - Teams Search Messaging Extensions - C#"
The C# Teams Search Messaging Extension sample needs to be authored.

[2019-10-22 00:08] cleemullins opened #1828 "Create Sample - Teams Search Messaging Extensions - JS"
The Node/Typescript Teams Search Messaging Extension sample needs to be authored.

[2019-10-22 00:16] cleemullins opened #1829 "Create Sample - Teams Conversation Bot - C#"
Create the C# Teams Conversation Bot Sample

[2019-10-22 00:16] cleemullins opened #1830 "Create Sample - Teams Conversation Bot - JS"
Create the Teams Conversation Bot Sample in Javascript

[2019-10-22 00:17] cleemullins opened #1831 "Create Sample - Teams File Upload Bot - C#"
Create Sample - Teams File Upload Bot - C#

[2019-10-22 00:18] cleemullins opened #1832 "Create Sample - Teams File Upload Bot - JS"
Create Sample - Teams File Upload Bot - JS

[2019-10-22 00:19] cleemullins opened #1833 "Create Sample - Teams Link Unfurling Bot - C#"
Create Sample - Teams Link Unfurling Bot - C#

[2019-10-22 00:19] cleemullins opened #1834 "Create Sample - Teams Link Unfurling Bot - JS"
Create Sample - Teams Link Unfurling Bot - JS

[2019-10-22 00:20] cleemullins opened #1835 "Create Sample - Teams Task Module Bot - C#"
Create Sample - Teams Task Module Bot - C#

[2019-10-22 00:21] cleemullins opened #1836 "Create Sample - Teams Task Module Bot - JS"
Create Sample - Teams Task Module Bot - JS

[2019-10-22 00:22] cleemullins opened #1837 "Create Sample - Teams Messaging Extension Action Preview Bot - C#"
Create Sample - Teams Messaging Extension Action Preview Bot - C#

[2019-10-22 00:22] cleemullins opened #1838 "Create Sample - Teams Messaging Extension Action Preview Bot - JS"
Create Sample - Teams Messaging Extension Action Preview Bot - JS

[2019-10-22 00:23] cleemullins opened #1839 "Create Sample - Teams Messaging Extension Search Auth Bot - C#"
Create Sample - Teams Messaging Extension Search Auth Bot - C#

[2019-10-22 00:24] cleemullins opened #1840 "Create Sample - Teams Messaging Extension Search Auth Bot - JS"
Create Sample - Teams Messaging Extension Search Auth Bot - JS

[2019-10-22 00:26] cleemullins opened #1841 "Update Code Generators"
Update the Code Generators with the samples. Primary driver is to pickup updated dependencies for 4.6 packages.

- [x] Javascript
- [x] C# (VSIX)
- [x] C# (dotnet)

[2019-10-22 00:38] cleemullins opened #1842 "Create Sample - Teams Messaging Extension Action Command Bot - JS"
Create Sample - Teams Messaging Extension Action Command Bot - JS

[2019-10-22 00:38] cleemullins opened #1843 "Create Sample - Teams Messaging Extension Action Command Bot - C#"
Create Sample - Teams Messaging Extension Action Command Bot - C#

[2019-10-22 00:40] cleemullins opened #1844 "Create Sample - Message Reaction Bot - C#"
Create Sample - Message Reaction Bot - C#

[2019-10-22 00:40] cleemullins opened #1845 "Create Sample - Message Reaction Bot - JS"
Create Sample - Message Reaction Bot - JS

[2019-10-22 04:16] vyomanaut opened #1847 "Sample to handle user interruptions missing ?"
I see it in the documentation , has it been removed ? if yes will it be added again ?

edit ; clicking the link in the documentation takes us to the core bot sample .

[2019-10-22 04:19] vyomanaut commented on #1799
definitely what Kyle has said is recommended .
Apart from that nothing else so far .
[code]

[2019-10-22 05:19] EricDahlvang commented on #1683
Closing as a duplicate of new tracking issues:
https://github.com/microsoft/BotBuilder-Samples/issues/1840
and
https://github.com/microsoft/BotBuilder-Samples/issues/1839

Python is R7 https://github.com/microsoft/botbuilder-python/issues/333

Also, we have Teams auth in a bot:
https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/46.teams-auth
and
https://github.co

[2019-10-22 05:19] #1683 closed

[2019-10-22 06:35] BhuvaneshwaranR commented on #1622
Hi !
@mahomedalid, This is not a duplicate question. @Kaiqb  asked to create a separate ticket in this repo. Could you provide the documentation for custom storage implementation?

[2019-10-22 15:01] mdrichardson commented on #1622
@BhuvaneshwaranR I see. I guess it's sort of a two-part issue:

1. Documentation for the Node side is missing (I re-opened the other issue for that),
2. You'd like to know how to do it, still

It's possible, but it really depends on what you want to do for storage.

The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q

[2019-10-22 16:07] ubreddy opened #1849 "doesnt work when used with es6 on node "Class constructor ActivityHandler cannot be invoked without 'new'""
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues) / [Java](https://github.com/Microsoft/botbuilder-java/issues)/ [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for genera

[2019-10-22 16:25] mdrichardson commented on #1847
@vyomanaut That _is_ the correct sample for handling user interruptions. Specifically, the `CancelAndHelpDialog`:

* [C#](https://github.com/microsoft/BotBuilder-Samples/blob/master/samples/csharp_dotnetcore/13.core-bot/Dialogs/CancelAndHelpDialog.cs)
* [Node](https://github.com/microsoft/BotBuilder-Samples/blob/master/samples/javascript_nodejs/13.core-bot/dialogs/cancelAndHelpDialog.js)
* [TypeSc

[2019-10-22 16:27] #1847 closed

[2019-10-22 16:50] ubreddy commented on #1849
changing babelrc to below fixed the issue
[code]

[2019-10-22 16:50] #1849 closed

[2019-10-23 10:06] garypretty opened #1853 "Create Sample - Twilio Adapter - C#"
Create Sample - Twilio Adapter - C#

[2019-10-23 10:06] garypretty opened #1854 "Create Sample - Facebook Adapter - C#"
Create Sample - Facebook Adapter - C#

[2019-10-23 10:07] garypretty opened #1855 "Create Sample - Webex Adapter - C#"
Create Sample - Webex Adapter - C#

[2019-10-23 10:07] garypretty opened #1856 "Create Sample - Slack Adapter - C#"
Create Sample - Slack Adapter - C#

[2019-10-23 15:12] john2364 commented on #1814
so as a follow up, you were correct. I re-created my app registration/scopes and now everything works :).

[2019-10-23 15:13] mdrichardson commented on #1814
@john2364 Oh thank goodness. OAuth issues are notoriously difficult to troubleshoot. Glad this one worked out well :)

[2019-10-23 15:13] #1814 closed

[2019-10-23 23:10] JonathanFingold commented on #1668
@sgellock Can you take a look at this? I see that you recently touched all these error handlers.

[2019-10-24 00:07] siduppal opened #1860 "C# sample for Adaptive Cards in Teams should use raw JSON files rather than AdaptiveCards package"
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues) / [Java](https://github.com/Microsoft/botbuilder-java/issues)/ [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for genera

[2019-10-24 04:38] stevengum commented on #1860
I agree with this; currently this is the best experience for creating and editing an Adaptive Card for use in Teams. The Designer for Adaptive Cards previews what the card will look like in Teams (Dark and Light Themes) by the "Select host app:" dropdown:

![adaptive card designer](https://user-images.githubusercontent.com/14935595/67453266-11653880-f5db-11e9-909d-9835baadb7d7.jpg)

___

### JS/TS

[2019-10-26 01:22] sgellock commented on #1668
Both C# and JS samples have been updated in the 4.6-staging branch, to be merged to master as soon as 4.6 is published

[2019-10-26 01:22] #1668 closed

[2019-10-28 08:41] tellstoriesatbedtym opened #1870 "How to configure DirectLineSpeech for Dialogs"
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues)

## Sample information
1. Sample type: [experimental\directline-speech\csharp_dotnetcore\13.core-bot]
2. Sample language: [dotnetcore]
3. Sample name: 13.core-bot

## Describe the bug
Bot doesn't "speak" dialog prompts on direct line speech channel - it just "speaks" the intro and confirmation message. I am not sure

[2019-10-28 17:23] tussosedan opened #1871 "Initial request sends a null qnAcontext instead of empty, erroneously matching context-only questions"
## Sample information
1. Sample type: experimental
2. Sample language: csharp_dotnetcore
3. Sample name: qnamaker-prompting

## Describe the bug
Initial request sends a null qnAcontext instead of [empty](https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/how-to/multiturn-conversation#a-json-request-to-return-an-initial-answer-and-follow-up-prompts). This causes "context-only" quest

[2019-10-28 18:20] johnataylor commented on #1871
@trojenguri could you take a look at this customer reported issue.

[2019-10-28 18:22] johnataylor commented on #1870
@DDEfromOR could you work with @stevkan on the samples we enable directline speech for.

[2019-10-28 21:57] sgellock commented on #1826
@johnataylor I've updated all the JS, TS, Yeoman, .NET Templates, and VSIX templates.  Can you do the remaining csharp samples for dotnetcore and webapi?

[2019-10-28 23:00] DDEfromOR commented on #1870
My guess would be the Speak field on the activities aren't being set, but I'm not sure what would cause that to be inconsistent. If the welcome messages work properly but subsequent messages don't I suspect it's a bug in bot builder.

[2019-10-28 23:08] DDEfromOR opened #1873 "[DirectLine Speech] Update 4.6 samples to work with DirectLine Speech."
At least the CoreBot and EchoBot samples for 4.6 need to be updated to work with DirectLine Speech by default. This involves touching 2 lines of code, but these changes must be coordinated with the SDK team to make sure they are included in associated updates to generators and templates.

Specifically:
In startup.cs modify Configure to include:
[code]
In BotController.cs modify the route decorator

[2019-10-28 23:42] DDEfromOR commented on #1873
Corebot and Echobot are updated in the linked PR. If there are conflicts with other channels or if we decide to update more than the two samples please either contact me or make updates ASAP.

[2019-10-29 00:03] johnataylor opened #1875 "Remove TeamsActivityHandler from Teams-Auth samples"
The first version of the TeamsActivityHandler shipped in the teams-auth samples (for both JavaScript and C#).

As this is now incorporated in the product the glass should be dropped from the respective samples.

[2019-10-29 00:16] tellstoriesatbedtym commented on #1870
Actually someone responded to my [StackOverflow qn](https://stackoverflow.com/questions/58587980/how-to-configure-directlinespeech-for-dialogs/58589143#58589143). It looks like I need to implement a middleware to have the dialog activities be "spoken" - in that case I would consider the bot sample to be incomplete.

[2019-10-29 00:28] stevkan commented on #1870
I don't _recall_ any middleware needing to be implemented, but will investigate that. Will attempt to repro the issue and will respond afterwards.

[2019-10-29 09:52] trojenguri commented on #1871
@tussosedan  We have recognized the issue. We are going to deprecate 'qnamaker-prompting' sample and we would be releasing new sample which will contain Multi turn as well as active learning. In that sample, this issue will be resolved. ETA for that sample would be 4th Nov.

[2019-10-29 11:25] tussosedan commented on #1871
Thank you!

[2019-10-29 14:07] sgellock commented on #1841
These are all done and merged into 4.6-Staging.  Once bits are published for GA, I'll do a test pass.

[2019-10-29 14:07] #1841 closed

[2019-10-29 16:26] DDEfromOR commented on #1870
Pinging @carlosscastro who wrote the release version of the C# SDK integration for Speech.

[2019-10-29 16:43] Jeffders commented on #1758
Hello,

I have made a fix to the Bot Framework's token service that I expect will make these intermittent "cannot sign-in" errors stop. Those changes should go live between 11/6 and 11/15.

Thank you for reporting, for all of the repros, and for the investigation!

Jeff

[2019-10-29 17:00] johnataylor commented on #1875
We have decided to use this sample to verify our 4.6 bits. So this is high priority.

[2019-10-29 18:22] #1871 closed

[2019-10-29 18:23] EricDahlvang commented on #1875
Re-opening to track migrating the node Teams Auth sample.

[2019-10-29 18:25] johnataylor commented on #1758
@peterservisbot this is a service issue, as you can see from @Jeffders response. We are closing the issue here, if you continue to have problems after this is fixed please open another issue.

[2019-10-29 18:25] #1758 closed

[2019-10-29 20:29] #1724 closed

[2019-10-30 17:53] carlosscastro commented on #1870
I'll wait for @stevkan to get a repro and I can help if needed.

[2019-10-31 00:03] vikramdadwal opened #1883 "A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because connected host has failed to respond"
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues) / [Java](https://github.com/Microsoft/botbuilder-java/issues)/ [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for genera

[2019-10-31 03:40] sgellock commented on #1873
These changes have been merged into the 4.6-Staging branch.

[2019-10-31 03:40] #1873 closed

[2019-10-31 17:07] Virtual-Josh commented on #1833
This is now done.

[2019-10-31 17:07] #1833 closed

[2019-10-31 17:07] Virtual-Josh commented on #1830
This is done

[2019-10-31 17:07] #1830 closed

[2019-10-31 17:07] Virtual-Josh commented on #1829
This is done.

[2019-10-31 17:07] #1829 closed

[2019-10-31 18:03] dmvtech commented on #1883
Hi @vikramdadwal Do you have any metrics or logging in your bot to determine if it is taking a long time? If the response from your bot takes longer than 15 seconds, it will timeout (at least with the Direct Line channel). What channel is this happening for you in?

You can run the following KQL in your applications insights Logs (Analytics) to see if your bot is generally slow (anything over 10 s

[2019-11-01 00:41] #1875 closed

[2019-11-01 00:41] #1843 closed

[2019-11-01 00:42] #1835 closed

[2019-11-01 00:43] #1831 closed

[2019-11-01 00:43] #1839 closed

[2019-11-01 00:43] #1837 closed

[2019-11-01 00:44] #1827 closed

[2019-11-01 00:44] #1840 closed

[2019-11-01 00:46] johnataylor commented on #1826
we have an open issue on upgrading webapi.
The main NuGet packages include some schema files (accidentally?)
these are being added to teh project when you restore in webapi

[2019-11-01 00:49] #1828 closed

[2019-11-01 16:47] EricDahlvang commented on #1836
PR: https://github.com/microsoft/BotBuilder-Samples/pull/1900

[2019-11-01 20:05] EricDahlvang commented on #1834
PR: https://github.com/microsoft/BotBuilder-Samples/issues/1834

[2019-11-01 21:00] #1834 closed

[2019-11-01 21:12] #1836 closed

[2019-11-01 22:54] EricDahlvang commented on #1838
PR: https://github.com/microsoft/BotBuilder-Samples/pull/1907

[2019-11-02 00:08] tellstoriesatbedtym commented on #1870
Hello folks, any update on this?

[2019-11-02 00:26] stevengum opened #1909 "[Supportability] Add a link on configuring AppInsights for a bot in OnTurnError comments"
This information is very valuable, but I wonder if we should provide a link so they can go ahead and do it. The downside is that if the docs link gets stale, so will this.

_Originally posted by @carlosscastro in https://github.com/microsoft/BotBuilder-Samples/pull/1905_

[2019-11-02 00:38] EricDahlvang commented on #1842
PR: https://github.com/microsoft/BotBuilder-Samples/pull/1910

[2019-11-02 00:53] #1838 closed

[2019-11-02 00:54] #1842 closed

[2019-11-03 02:10] fabio-muramatsu opened #1911 "CoreBot (adaptive dialogs version) doesn't evaluate triggers correctly"
## Sample information
1. Sample type: \samples\
2. Sample language: dotnetcore
3. Sample name: CoreBot (using adaptive dialogs)

## Describe the bug
Intents with conditions fail to evaluate.

## To Reproduce
Steps to reproduce the behavior:
1. Type `Help`
2. Bot replies `Sorry, I do not understand that. Can you try and re-phrase?`

## Expected behavior
Bot should reply with the bot overview

## Ad

[2019-11-04 17:41] mdrichardson commented on #1911
@fabio-muramatsu Are you using the latest version of that sample? It was updated 4 days ago. Did you follow the [LUIS Setup instructions](https://github.com/microsoft/BotBuilder-Samples/tree/master/experimental/adaptive-dialog/csharp_dotnetcore/04.core-bot#luis-setup)? It looks like you did, but I just want to make sure.

I typed "Help" and it [appropriately displayed](https://github.com/microsoft

[2019-11-04 20:16] stevkan commented on #1870
@carlosscastro, thanks for your patience. Unfortunately I've become a victim of the recent Direct Line channel configuration rendering issue that has cropped up recently. Per Jeff Derstadt , this may not be fixed until after Ignite so I'm out of luck until then.

[2019-11-05 01:16] #1832 closed

[2019-11-05 03:32] fabio-muramatsu commented on #1911
Hi @mdrichardson,
Yes, I have set LUIS properly and I'm up to date with master. This is what I see when I interact with the bot:
![image](https://user-images.githubusercontent.com/14302074/68176355-46f21600-ff39-11e9-93ed-55727e2571a1.png)

If I comment out the conditions for Help and Cancel (lines 54 and 65), these triggers are fired as expected:
![image](https://user-images.githubusercontent.com

[2019-11-05 06:35] BhuvaneshwaranR commented on #1622
@mdrichardson  Thank you! Yeah,  I've tried to write custom storage implementation quite a long time back but it's very difficult to write all the methods like updating the record based on the user and every time it's creating a new record. There is a lot of dependency on bot framework inbuilt functions and need to pass appropriate arguments to the functions. So I would like to request it you have

[2019-11-05 16:07] mdrichardson commented on #1622
@BhuvaneshwaranR

Blob storage is available and cheaper than Cosmos, although less performant. If you don't have a lot of concurrent users, it's a viable alternative to Cosmos. There's also some [community storage adapter](https://github.com/BotBuilderCommunity/botbuilder-community-js#storage) (I actually hastily wrote the one for MongoDB).

Also, you can write your own custom storage adapters and

[2019-11-05 16:20] mdrichardson commented on #1911
@fabio-muramatsu I can't seem to reproduce this at all. Based on your first post, you're getting the appropriate LUIS response.

What does your .csproj file look like? I couldn't get my sample to work out of the box since we just upgraded to 4.6; I had to change a couple of the package versions. Try this:

[code]

[2019-11-05 17:19] johnataylor commented on #1826
Everything now on 4.6.1 (including webapi) 😃

[2019-11-05 17:19] #1826 closed

[2019-11-05 19:07] WashingtonKayaker opened #1921 "C# Sample 21: corebot-app-insights"
In the **C# Sample 21: corebot-app-insights**, both the `bookingDialog` and `dialog` (MainDialog) objects are `Component Dialogs`, and hence if you set its _Telemetry_ Property that will permeate to all its child dialogs,  which means that all of the code setting up _telemetry_ (**_TelemetryClient = telemetryClient_**) in the `bookingDialog` & `MainDialog` constructors (in the `AddDialog` method c

[2019-11-05 21:23] v-kydela opened #1926 "[Bash 11-05] 50.teams-messaging-extensions-search readme should not say EchoBot"
[The 50.teams-messaging-extensions-search readme](https://github.com/microsoft/BotBuilder-Samples/blob/master/samples/csharp_dotnetcore/50.teams-messaging-extensions-search/README.md) says EchoBot instead of the actual name of the sample

![image](https://user-images.githubusercontent.com/41968495/68247389-96832100-ffcf-11e9-8d6e-9cc43e4125fa.png)

[bug]

[2019-11-05 21:25] Andrea-Orimoto opened #1927 "[bug bash] imprecise instruction in readme file"
### Github issues for https://github.com/microsoft/BotBuilder-Samples/blob/master/samples/csharp_dotnetcore/57.teams-conversation-bot/README.md

## Describe the bug
In the Visual Studio paragraph you say to open the manifest.json file, and the context seems to imply that it's at the same level as the appsettings.json.
Say that it's located in the TeamsAppManifest folder.

![image](https://user-ima

[2019-11-05 21:35] dmvtech opened #1928 "[bash 11 05] missing link, sample .tsv for Sample 48 readme"
In readme:

ActiveLearningSampleFAQ.tsv links to https://github.com/microsoft/BotBuilder-Samples/blob/master/samples/csharp_dotnetcore/48.qnamaker-active-learning-bot/CognitiveModels/ActiveLearningSampleFAQ.tsv.

There is no Cognitivemodels folder nor a ActiveLearningSampleFAQ.tsv file.

[2019-11-05 21:38] Andrea-Orimoto opened #1929 "[bug bash] not clear that the microsoft bot id in the teams manifest should actually be the Microsoft App Id GUID"
### Github issues for https://github.com/microsoft/BotBuilder-Samples/blob/master/samples/csharp_dotnetcore/57.teams-conversation-bot/README.md#visual-studio

## Describe the bug
In the doc it says "Replace your botID everywhere you see the place holder string &lt;&lt;YOUR-MICROSOFT-BOT-ID&gt;&gt;".

1- botID is ambiguous, usually the botID is the bot handle. Be clear and say that it should be the

[2019-11-05 21:46] Andrea-Orimoto opened #1931 "[bug bash] typo in 57.teams-conversation-bot/README.md"
### Github issues for [https://github.com/microsoft/BotBuilder-Samples/blob/master/samples/csharp_dotnetcore/57.teams-conversation-bot/README.md#interacting-with-the-bot

## Describe the bug
https://github.com/microsoft/BotBuilder-Samples/blob/master/samples/csharp_dotnetcore/57.teams-conversation-bot/README.md#interacting-with-the-bot
![image](https://user-images.githubusercontent.com/17152540/68

[2019-11-05 21:46] tsuwandy opened #1932 "[bug bash] Multiple qnamaker samples and no differentiation in the folder name or readme description for the bot"
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues) / [Java](https://github.com/Microsoft/botbuilder-java/issues)/ [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for genera

[2019-11-05 21:51] tsuwandy opened #1934 "[bug bash] Make bot description of link unfurling sample in c# matches one in js"
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues) / [Java](https://github.com/Microsoft/botbuilder-java/issues)/ [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for genera

[2019-11-05 21:51] anusharavindrar opened #1935 "[bug bash] Bot URL is' http://localhost:3999/api/messages' in 48.qnamaker-active-learning-bot & 49.qnamaker-all-features"
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues)
## Sample information
1. Sample type: \samples\
2. Sample language: dotnetcore
3. Sample name: 48.qnamaker-active-learning-bot and 49.qnamaker-all-features

## Describe the bug

- In the 'Connect to the bot using Bot Framework Emulator' section, the third step specifies 'Enter a Bot URL of http://localhost:3999/api/m

[2019-11-05 21:57] dmvtech opened #1936 "[bash 11 05] sample 48. javascript sample folder is incorrectly named"
named `48.qnamaker-activelearning-bot` instead of `48.qnamaker-active-learning-bot`. this causes a broken "View" link in https://github.com/microsoft/BotBuilder-Samples/blob/master/README.md

[2019-11-05 21:58] daveta opened #1937 "[bug bash] No deployment templates in 21.corebot app insights"
- No ARM templates
- No deployment guidance.

[2019-11-05 21:59] tsuwandy opened #1938 "[bug bash] Misspelling in nlp-with-dispatch readme"
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues) / [Java](https://github.com/Microsoft/botbuilder-java/issues)/ [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for genera

[2019-11-05 22:00] v-kydela opened #1939 "[Bash 11-05] 50.teams-messaging-extensions-search readme unclear about app ID"
[This readme](https://github.com/microsoft/BotBuilder-Samples/blob/master/samples/csharp_dotnetcore/50.teams-messaging-extensions-search/README.md) needs to be clear that the bot's app ID should be included twice in the manifest.json file, and also that the appsettings.json file needs to be updated.

![image](https://user-images.githubusercontent.com/41968495/68249932-9f2a2600-ffd4-11e9-8ccf-ff2da

[2019-11-05 22:02] tsuwandy opened #1940 "[bug bash] Update all "Further reading" links to open in new tab (target="_blank")"
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues) / [Java](https://github.com/Microsoft/botbuilder-java/issues)/ [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for genera

[2019-11-05 22:03] dmvtech opened #1941 "[bash 11 05] sample 49, C# has wrong website name"
The web page that opens when the sample runs has the wrong displayname 'NLP With Dispatch Sample'

[2019-11-05 22:08] daveta opened #1942 "[bug bash] link unfurling README (All Teams README's)"
## Link Unfurling
- README should define link unfurling
- Should show how to cause link unfurling
- Should mention only https (and not http) url's covered.
- Should mention caching behavior of Teams for unfurls

## All Teams Samples
- Should define the concept they are demonstrating
- Should have steps to invoke specific functionality
- Should have screen shots invoking on Teams client.

[2019-11-05 22:09] anusharavindrar commented on #1926
Same for sample 52.teams-messaging-extensions-search-auth-config
![sample](https://user-images.githubusercontent.com/48731427/68250484-dd741500-ffd5-11e9-9530-36591676e3d5.png)

[2019-11-05 22:14] mdrichardson opened #1943 "[Bug Bash] Node sample 56 - File name is "undefined""
[PR that fixes this](https://github.com/microsoft/BotBuilder-Samples/pull/1944)

## Sample information
1. Sample type: Sample 56
2. Sample language: Node
3. Sample name: Teams-file-upload

## Describe the bug
When sending a file to the bot, it responds with:

![image](https://user-images.githubusercontent.com/40401643/68250580-0d231d00-ffd6-11e9-9301-eeec9bcadffa.png)

I've tested with both .png a

[2019-11-05 22:16] tsuwandy opened #1945 "[bug bash] Need more instructions on running and testing the bot with LUIS/QnA"
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues) / [Java](https://github.com/Microsoft/botbuilder-java/issues)/ [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for genera

[2019-11-05 22:19] tsuwandy opened #1946 "[bug bash] Need more instructions on how to test the bot (sample utterances and expected replies)"
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues) / [Java](https://github.com/Microsoft/botbuilder-java/issues)/ [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for genera

[2019-11-05 22:19] mdrichardson commented on #1942
I'd like to add that Node READMEs should mention editing `.env` and not `appsettings.json` (Sample 55 does not)

[2019-11-05 22:34] tsuwandy opened #1947 "[bug bash] Create LUIS app id/QnA kb for samples and add them to the config so samples using LUIS/QnA could be run without much manual work"
### Use this [query](https://github.com/Microsoft/botbuilder-samples/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++label%3Aenhancement) to search for the most popular feature requests.

**Is your feature request related to a problem? Please describe.**
https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/14.nlp-with-dispatch
This sample is almost impossible to run

[2019-11-05 22:38] anusharavindrar opened #1948 "[bug bash] typo in 55.teams-link-unfurling/README.md"
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues)
## Sample information
1. Sample type: samples
2. Sample language: dotnetcore
3. Sample name: 55.teams-link-unfurling

## Describe the bug
Typo in the 'Interacting with the bot' section in the README.md file.

## Screenshots

![55](https://user-images.githubusercontent.com/48731427/68252221-c6372680-ffd9-11e9-9c51-ec2

[2019-11-05 22:56] anusharavindrar commented on #1931
Also includes the typo 'memeber' and 'converstation's' in the Result step.
![57](https://user-images.githubusercontent.com/48731427/68253279-64c48700-ffdc-11e9-8d83-c4935b3e9438.png)

[2019-11-05 22:56] mdrichardson opened #1950 "[Bug Bash] Node sample 53 says "Something went wrong""
## Sample information
1. Sample type: Sample
2. Sample language: Node
3. Sample name: 53Teams-messaging-action-extensions-preview

## Describe the bug
After you fill out the adaptive card with *anything*:

![image](https://user-images.githubusercontent.com/40401643/68253234-41014100-ffdc-11e9-8438-d07233ffb706.png)

Once you hit Submit, you get:

![image](https://user-images.githubusercontent.com/

[2019-11-05 23:46] #1943 closed

[2019-11-06 00:47] CoHealer commented on #1883
@vikramdadwal do you still require assistance or shall we consider the issue resolved?

[2019-11-06 05:25] fabio-muramatsu commented on #1911
@mdrichardson My csproj is very similar, but every reference points to 4.6.0-preview2 (exactly as the version in master):

[code]

Some additional information that may be relevant:
* My system language/region is set to pt-br
* I'm running .net core 3
[code]

[2019-11-06 05:42] BhuvaneshwaranR commented on #1622
Is [this ](https://github.com/BotBuilderCommunity/botbuilder-community-js#storage) compatible with [Bot framework SDK v4](https://github.com/microsoft/botbuilder-js) (NodeJS) ?

[2019-11-06 06:59] EricDahlvang commented on #1950
This occurs when the Messaging Extension/ bot is installed only in a personal scope. Once installed in a Team, preview will then work when initiated from a personal scope also.

[2019-11-06 07:32] #1950 closed

[2019-11-06 16:02] mdrichardson commented on #1622
@BhuvaneshwaranR All of them should be, yes. I've only tested the one for Mongo, though, myself. If you run into problems with any of them, please open an issue in the Community repo.

[2019-11-06 16:59] mdrichardson commented on #1911
@fabio-muramatsu I'm going to close this in favor of [this issue](https://github.com/microsoft/botbuilder-dotnet/issues/2927) just to keep things more concise.

[2019-11-06 16:59] #1911 closed

[2019-11-06 17:00] mdrichardson opened #1954 "[Adaptive] Changing System Language prevents LUIS intents from triggering."
This stems from [this customer issue](https://github.com/microsoft/BotBuilder-Samples/issues/1911), but I'm opening a new one now that we've done some debugging.

## Version
4.6

## Describe the bug
Using Adaptive CoreBot, LUIS intents appropriately trigger the correct dialog flows provided that the user's system is in English.

However, if the user switches their system language to Brazilian Port

[2019-11-06 17:23] mdrichardson commented on #1954
*Adding customer labels because it's tied to a customer issue*

[2019-11-06 20:31] EricDahlvang commented on #1926
Thank you for reporting this.

Closing since @johnataylor  fixed these yesterday: https://github.com/microsoft/BotBuilder-Samples/pull/1949

[2019-11-06 20:31] #1926 closed

[2019-11-06 21:01] EricDahlvang commented on #1936
Thank you for reporting this. Addressed here: https://github.com/microsoft/BotBuilder-Samples/pull/1957

[2019-11-06 21:01] #1936 closed

[2019-11-06 21:10] EricDahlvang commented on #1941
not reproducible

[2019-11-06 21:10] #1941 closed

[2019-11-06 21:40] EricDahlvang commented on #1928
Thanks @dmvtech

Fixed: https://github.com/microsoft/BotBuilder-Samples/pull/1957

[2019-11-06 21:40] #1928 closed

[2019-11-06 21:41] EricDahlvang commented on #1935
Thanks @anusharavindrar

fixed https://github.com/microsoft/BotBuilder-Samples/pull/1957

[2019-11-06 21:41] #1935 closed

[2019-11-06 22:25] johnataylor commented on #1940
Github markdown doesn't support this. Use Cntl-Click.

[2019-11-06 22:25] #1940 closed

[2019-11-06 22:27] johnataylor commented on #1929
Fixed - we updated the readme's everywhere and updated (and consistently) the string we use in the manifest.json.

Please reopen if you think its still not clear enough

[2019-11-06 22:27] #1929 closed

[2019-11-06 22:27] johnataylor commented on #1939
Thanks for the feedback - we think it should be much clearer now. See the readme in both C# and JavaScript.

[2019-11-06 22:27] #1939 closed

[2019-11-06 22:30] johnataylor commented on #1932
We are in the process of reviewing the QnA samples.

11a was a temporary solution because we wanted to make sure the super simple 11 was still available for developers to reference.

So now 11 is back as it was. And we have 48 and 49. We're working with the QnA team to consolidate and also make sure all the features are demonstrated.

[2019-11-06 22:30] #1932 closed

[2019-11-06 22:40] johnataylor commented on #1860
@siduppal we have new samples published in both the javascript_nodejs and csharp_dotnetcore folders - I'll retitle this issue.

We should update the relevant C# samples to use raw JSON files...
- TeamsMessagingExtensionsActionPreview
- TeamsMessagingExtensionsSearchAuthConfig
- TeamsTaskModule

@EricDahlvang can you comment.

[2019-11-06 22:56] johnataylor commented on #1927
The C# readmes are now consistent with the JavaScript - should address this. We've hopefully made it much clearer that its the Microsoft App Id.

[2019-11-06 22:56] #1927 closed

[2019-11-06 23:03] johnataylor commented on #1934
fixed

[2019-11-06 23:03] #1934 closed

[2019-11-06 23:17] johnataylor commented on #1948
fixed

[2019-11-06 23:17] #1948 closed

[2019-11-06 23:17] johnataylor commented on #1931
fixed

[2019-11-06 23:18] johnataylor commented on #1938
fixed

[2019-11-06 23:18] #1938 closed

[2019-11-06 23:23] johnataylor commented on #1942
These should be fixed now. C# samples should refer to appsettings and JavaSCript to env.

The  intro sentence also contains the link to the link unfurling docs.

[2019-11-06 23:23] #1942 closed

[2019-11-06 23:28] anusharavindrar commented on #1931
The typos 'memebers' and 'converstation's' in the 3. MessageAllMembers section Result step are not fixed yet.

[2019-11-06 23:36] anusharavindrar commented on #1931
@johnataylor The typos 'memebers' and 'converstation's' in the 3. MessageAllMembers section Result step are not fixed yet(both in the C# and JS samples README.md files)

[2019-11-07 00:16] #1931 closed

[2019-11-07 00:16] EricDahlvang commented on #1931
Thanks @anusharavindrar ... these are fixed now.

[2019-11-07 04:17] EricDahlvang commented on #1860
I think there is value in demonstrating both methods. It is good to provide options to developers.

[2019-11-07 07:34] BhuvaneshwaranR commented on #1622
@mdrichardson  Thank you! :)

[2019-11-07 20:25] dmvtech commented on #1883
Closing due to inaction. Please let us know if you still need assistance with this issue.

[2019-11-07 20:25] #1883 closed

[2019-11-08 20:06] tracyboehrer opened #1966 "17.multilingual-bot requires Subscription Region to be set"
## Version
Master

## Describe the bug
Making calls to the Azure Cognitive Service requires the region to be specified. Otherwise an unauthorized error is returned.

## To Reproduce
Run the sample bot and choose "Español"

## Expected behavior
Translation should happen with unauthorized error.

[bug]

[2019-11-11 16:37] sgellock commented on #1729
@diberry I've added it to the backlog for consideration.

[2019-11-11 16:39] sgellock commented on #1728
This has implications on the yeoman generator

[2019-11-11 16:42] sgellock commented on #1654
@scheyal this goes against the model we've employed with other samples.  sample 11 should be a simple, focused sample on the concept of using QnA.  if you want a telemetry sample, then there should be a new sample that adds this.  There is an "everything including the kitchen sink" QnA sample that gloms together a whole pile of QnA features.  Not a fan of this sample at all, but if we were to keep

[2019-11-11 16:42] #1654 closed

[2019-11-11 18:31] CoHealer commented on #1870
@carlosscastro, @stevkan and the other SEs are blocked from repro'ing this per the DL channel config issue. What are next steps for this issue.

[2019-11-11 19:06] DDEfromOR commented on #1870
Sorry, I should have updated this last week, we've been tracking the same issue reported via email.

@stevengum and I sat together for a bit and worked on fixing the CoreBot and EchoBot samples to set the Speak fields. The EchoBot fixes have already been merged in with https://github.com/microsoft/BotBuilder-Samples/pull/1923 and I believe CoreBot should be getting merged this week, but Steven wil

[2019-11-11 19:57] DDEfromOR commented on #1781
This ended up turning into an email thread and discussed in a couple of meetings, the fix was merged with https://github.com/microsoft/botbuilder-js/pull/1294 The root cause was null GUIDs causing the Node.js bots to reject activities.

[2019-11-11 19:57] #1781 closed

[2019-11-11 21:59] #1535 closed

[2019-11-11 22:03] EricDahlvang commented on #1780
@stevengum has a solution for this:

https://github.com/microsoft/BotBuilder-Samples/pull/1964

[2019-11-11 22:10] EricDahlvang commented on #1673
Fixed merged https://github.com/microsoft/BotBuilder-Samples/pull/1788

Thanks @jspruance

[2019-11-11 22:10] #1673 closed

[2019-11-12 09:38] LindaLawton opened #1974 "Failed to acquire token for client credentials."
I am currently following [Teams Conversation Bot](https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/57.teams-conversation-bot) sample.  I have followed it to the letter as far as i can see.

# What works.

When i talk to the bot though the web view

[![enter image description here][1]][1]

I can see it hitting the code on my localhost.

     protected override a

[2019-11-12 18:38] jwiley84 commented on #1974
It looks like something might have gone sideways when you registered your bot on Azure. Can I get your bot channel registration's app ID?

[2019-11-12 19:17] axelsrz commented on #1797
@arturl Do you have any insight you would like to provide on this issue?

[2019-11-12 21:43] garypretty commented on #1856
PR open for sample #1858

[2019-11-12 21:44] garypretty commented on #1854
PR open for sample #1861

[2019-11-12 21:46] garypretty commented on #1813
Completed

[2019-11-12 21:46] #1813 closed

[2019-11-13 00:38] johnkellyjr opened #1976 "Messaging Extension returns with weird data"
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues) / [Java](https://github.com/Microsoft/botbuilder-java/issues)/ [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for genera

[2019-11-13 07:49] LindaLawton commented on #1974
Sure thing  829e0d71-7665-4f24-8898-f82f9bebba56  I have tried recreating the bot a few times.

[2019-11-13 19:26] axelsrz commented on #1976
@Virtual-Josh could you take a look at this?

[2019-11-13 20:46] jwiley84 commented on #1974
Looking into this.

[2019-11-13 21:01] Virtual-Josh commented on #1976
Hi @johnkellyjr

It's not clear to me what you're asking. Can you clarify what your issue(s) is/are?

Based on what you've said it sounds like there's 3 questions here. There seems to be a question about what that Action Based Messaging Extension sample currently does.

There seems to be a question about how to get the JSON from the bot.

There seems to be a question about how to build a bot that

[2019-11-13 22:13] johnkellyjr commented on #1976
Hi Josh,

Thank you for replying.

The first core issue is what I'm trying to do:

- I'm trying to use a Messaging Extension attachment similar to a regular Teams "paperclip" attachment of a file from OneDrive.
-
- I can get a list of the user's shared files in Teams, and display them in the Messaging Extension via query (using the sample 52. Teams Messaging Extension Search Auth).
-
- The user se

[2019-11-14 14:55] LindaLawton commented on #1974
I went ahead and enabled logging in the bot and pushed it up to Azure.  I am seeing the same error there

[2019-11-14 17:39] Virtual-Josh commented on #1976
This clears part of the confusion.

If you are trying to deal with the uploading/downloading of files I would recommend looking at our sample ([C#](https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/56.teams-file-upload) [JS](https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/javascript_nodejs/56.teams-file-upload)) that covers that.

If you want

[2019-11-14 17:47] jwiley84 commented on #1974
because you're running this in localhost, let's check your appsettings.json. Have you updated it with your MicrosoftAppId and AppPassword?

[code]

[2019-11-14 18:51] scheyal commented on #1921
@munozemilio FYI

[2019-11-14 19:20] clearab commented on #1976
Hi - Let me first say that sending the results of a messaging extension with a search command to another bot isn't a supported scenario (mostly because I don't think anyone has ever tried this before 😄 ). I believe I know what is happening - The card that is rendered in the compose message area after the user selects it from the messaging extension isn't the actual card that is sent into the conve

[2019-11-14 21:47] johnkellyjr commented on #1976
Hi Guys,

Thank you for offering me some different avenues to take, I am exploring them now. To answer your question, Andrew as to the design, the main reason for writing my own message extension was this: When a file is attached via a paperclip message extension from Teams Chat (the app in the left hand rail in Teams), the correct attachment details is returned. Doing the same action performed fr

[2019-11-14 21:54] sangwoohaan opened #2013 "Wrong link in LG format document"
Complete the necessary portions of this template and delete the rest.

## Describe the bug
https://github.com/microsoft/BotBuilder-Samples/blob/master/experimental/language-generation/docs/lg-file-format.md#escape-character

'Chatdown' is linked to LU doc instead of Chatdown doc.

[2019-11-14 22:06] jwiley84 commented on #1966
I don't encounter this in the C# sample, but do in the JS sample.

[2019-11-15 05:38] stevengum commented on #1780
One additional scenario where we don't use onDialog for dialogs but _should_, is for bots using the `ActivityPrompt`. ActivityPrompt was created with the idea that a user might not necessarily respond to a prompt with a "Message"-type activity. They might instead perform an event that the bot interprets as a response to a the prompt.

[2019-11-15 05:47] stevengum commented on #1870
@tellstoriesatbedtym, for the Direct Line Speech channel currently the speak tag needs to be set for the clients to generate audio.

Addressing the matter of the experimental C3 core-bot sample, it has been removed as Streaming in C# has gone GA in 4.6. The 13.core-bot sample in samples/csharp_dotnetcore does have the speak tags set through the use of the `MessageFactory.Text()` method. The second

[2019-11-15 06:02] stevengum opened #1981 "[New Sample] Request for a speech-focused sample"
**Is your feature request related to a problem? Please describe.**
We currently enable speech out of the box for the C# Echo Bot and Core Bot samples and generators. These samples are our "getting-started" samples and don't delve into the nuances of the protocol with speech.

Now that Direct Line Speech is GA, we should have a speech-focused sample.

**Describe the solution you'd like**
 A sample

[2019-11-15 07:39] LindaLawton commented on #1974
Yes as all of the settings have been added to the app.settings json file. if they were not there then Azure would not be responding with the App id i sent which is in the error message

As menonted in my last message i suspected  it may have something to do with localhost so I published it to Azure.   It is also configured properly and returns the same error message.  829e0d71-7665-4f24-8898-f82f9

[2019-11-15 16:42] gabog commented on #1981
Hi @stevengum, here are some notes from my end:

- Not setting the inputhints properly can cause conversations to stop or clients like cortana to crash. This is often omitted because devs test on emulator.
- The speech track (Speak property) doesn't need to match the Text property and it some cases it will be very different based on the channel. A channel with a screen could say: here are your app

[2019-11-15 17:52] turbozapekanka opened #1983 "Wrong order of bot responses"
I'm using Core bot template
After confirming the flight booking bot responses with confirmation and prompt for a new input.
The order is reversed.
Please see the screenshot
This only happen once so I can't reproduce this.

![bot answers wrong order](https://user-images.githubusercontent.com/20775323/68964073-106c9480-079e-11ea-9597-4b94fe765311.PNG)

[2019-11-15 17:55] turbozapekanka commented on #1983
Not sure if this is a sample bug or framework issue.

[2019-11-15 18:07] darrenj commented on #1981
Gabo has most things covered.

- Decorating any Speak property with SSML enables you to control the voice and even the tone of voice. For [example](https://github.com/microsoft/botframework-solutions/blob/master/lib/csharp/microsoft.bot.builder.solutions/microsoft.bot.builder.solutions/Middleware/SetSpeakMiddleware.cs)
- Sample will need to have the steps required to enable websockets (for direct

[2019-11-16 00:00] mdrichardson opened #1987 "Remove fluff from AdaptiveCardPrompt Sample after SDK merge"
[PR for AdaptiveCardPrompt Samples](https://github.com/microsoft/BotBuilder-Samples/pull/1986)

C# AdaptiveCardPrompt relies on a couple of pieces of the Dialogs package that are internal. It's modified a little in the sample so that the sample can stand on its own.

Node AdaptiveCardPrompt is a compiled version of adaptiveCardPrompt.ts and then edited a little for readability.

There are a few co

[2019-11-17 21:55] ashutoshpith opened #1988 "EchoBot file from Bots directory not accessible at startup page"
## Sample information
1. Sample type: echobot
2. Sample language: dotnetcore or webapi
3. Sample name: echobot1

## Describe the bug
startup page can't able to access the bots directory files into method ConfigureServices for property AddTransient to get type. the error shows
* Error	CS0118	'EchoBot' is a namespace but is used like a type

## Expected behavior
It expects to acquire all the propert

[2019-11-18 09:29] marcasmar94 opened #1990 "[Adaptive Dialog][Recognizers] Support Dialogflow as a Recognizers"
Will Dialogflow be supported as a Recognizer for Adaptive Dialogs?

[2019-11-18 16:05] jwiley84 commented on #1974
When you say you published to azure, do you mean you published the whole bot? Like I said earlier, I think something went wrong when you published.

I'm not normally a fan of the "turn it off and back on again" method, but in this case, I recommend you redeploy in a fresh deployment.

[2019-11-18 17:31] turbozapekanka opened #1993 "Welcome card is not displayed when CoreBot sample is deployed to Azure"
I'm using CoreBot template with no changes and deployed it to azure using instructions.
Bot works fine locally but not when Deployed - welcome card is not displayed.
It generates an exception when trying to display an Adaptive card as a welcome message:
Here is the exception from the log:
**[Error] Microsoft.Bot.Builder.Integration.AspNet.Core.BotFrameworkHttpAdapter: [OnTurnError] unhandled error

[2019-11-18 17:40] turbozapekanka commented on #1993
I bet the issue is with CreateAdaptiveCardAttachment method where it tried to load the welcomeCard.json but cant do that for some reason resulting in non-initialized stream variable.

[2019-11-18 17:45] dmvtech commented on #1988
Hi @ashutoshpith My apologies, I'm a little confused on what you are trying to do here. Are you _trying_ to use a [discard](https://docs.microsoft.com/en-us/dotnet/csharp/discards)? If you remove the `_ =`  from line 35 does it work?

[2019-11-18 19:26] cwhitten commented on #1990
Hello @marcasmar94 and thank you for the issue. We're actively discussing and formalizing plans to additional recognizer implementations in Adaptive Dialogs. That said, we have no upcoming plans to land this effort in the product (supporting Dialogflow specifically). I'll leave this issue open for now, and thank you for the suggestion!

[2019-11-18 19:31] cwhitten commented on #1799
@v-kydela I've assigned you here. Can you take this with your suggested approach?

[2019-11-18 19:41] johnkellyjr commented on #1976
Hello again,

Maybe I can try a different tack. Using Bing as an example, could you please explain what is going on with the attached image?
![bing](https://user-images.githubusercontent.com/30669826/69083953-004ff180-09f8-11ea-9d40-d229d458cee2.png)

What steps are being taken to populate this list as soon as you click the Bing Messaging Extension? Is the list composed of iFrames, or are they Her

[2019-11-18 19:59] Virtual-Josh commented on #1976
Bing here is a bad example since. Bing is integrated into the search results as a 1st party function. Generally what you're seeing here is a search based messaging extension that has a default search. If you want to see the sample talking about this you can look [here](https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/50.teams-messaging-extensions-search). This

[2019-11-18 20:12] EricDahlvang commented on #1983
Hi @turbozapekanka

That is strange!  Which version of WebChat is the above example using?  This must be a race condition on the client.  Please upgrade WebChat to the latest, and let us know if that resolves the issue.

[2019-11-18 20:15] v-kydela commented on #1799
@cwhitten - Yes, you can expect a PR tomorrow. Thank you, Chris.

[2019-11-18 20:28] turbozapekanka commented on #1993
This might be a deployment issue, I just logged via FTP and see no Cards folder on the server.
But even if I copy the folder over it does not work.

![Cards missing](https://user-images.githubusercontent.com/20775323/69091096-364ca000-0a0f-11ea-9174-a6791f4287ae.PNG)

[2019-11-18 20:35] stevengum commented on #1981
The C# Core bot and Echo bot ARM templates were updated to support WebSockets, and the Startup.cs was updated to include the necessary `app.UseWebSockets();` call. So we should be set here in regards to enabling WebSocket usage from the bot and on the App Service; we just need to mirror this work in the Speech-first sample.

There is work to be done on the Resource Provider to enable creating of t

[2019-11-18 20:41] ryanlengel commented on #1981
For reference we have a tutorial on enabling DLS with the VA at https://microsoft.github.io/botframework-solutions/clients-and-channels/tutorials/enable-speech/1-intro/

Most of the steps are turning on the resources for the bot to work but there is some on how to change the voice with SSML.