[2022-07-01 10:55] #3787 closed

[2022-07-03 18:35] DmytryS opened #3788 "Sample (samples/javascript_nodejs/46.teams-auth) fails due to"
## Sample information
1. Sample type: \samples\
2. Sample language: nodejs
3. Sample name: 46.teams-auth

## Describe the bug
Auth doesn't work.
501 status returned

## To Reproduce
Steps to reproduce the behavior:
Try to authenticate in microsoft teams

## Expected behavior
Successfully signed in

## Screenshots

## Additional context

[2022-07-04 19:12] anishprasad01 commented on #3788
@DmytryS,

I am unable to reproduce this issue. Node sample 46 worked correctly in Teams, and I was able to sign in and view my token.

In order for us to investigate further, we will need you to provide detailed reproduction steps specifying what you did in the bot, in Azure, and in Teams. Supplying the version numbers of your Bot Builder packages and the links to the documentation you used would

[2022-07-06 21:45] ramfattah commented on #3695
Hi @sayali-MSFT @ChetanSharma-msft

Looks like I'm not able to repro this issue anymore.
Using Teams Version 1.5.00.17971 (64-bit), the [54.teams-task-module](https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/csharp_dotnetcore/54.teams-task-module) sample ran successfully without any issues.

https://user-images.githubusercontent.com/38049078/177648822-03de3511-68cf-4122-bcd6-47b1e

[2022-07-06 22:06] ramfattah commented on #3778
Hi @Rajkumar235216

Update: I'm now unblocked from #3695, the sample is working fine from my machine.
The next step would be to test [54.teams-task-module](https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/python/54.teams-task-module) python sample in IOS to see if we can get a repro.

We will report back once we have an update. Thanks for your patience.

[2022-07-07 21:58] ramfattah commented on #3778
Hi @Rajkumar235216,

I'm able to reproduce this issue using python sample [54.teams-task-module](https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/python/54.teams-task-module).

#### Here are the steps I took:
1) Ran sample [54.teams-task-module](https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/python/54.teams-task-module) using ngrok
2) Created [Bot Framework regi

[2022-07-08 02:25] Jeff-Zhang-Github opened #3791 "The user ID of the message from Teams is encrypted"
The user ID is encrypted when i send a message to bot from teams, but local is nomal.

Just like this.

teams_user_id:29:1Fj7dCmV6KsUklmp4GQyvfz1_Lqv0KKfoY8xvFnqk9TuFnBwviMzUlz93-C0KyrRR75P8ZovCEaGKYgF63w

[2022-07-08 06:26] ramfattah commented on #3779
Hi @catmanjan

After [publishing the bot to azure](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-deploy-az-cli?view=azure-bot-service-4.0&tabs=multitenant%2Cnewgroup%2Ccsharp), it seems I'm not able to reproduce this issue.

It gives the option to log in with a username and password and not 6 digit code.
Note, I uploaded the manifest.zip to Teams (in the Apps view click "Upload a

[2022-07-08 09:57] sayali-MSFT commented on #3695
@harkiratsaluja - Could you please confirm if your issue has resolved or still looking for any help?

[2022-07-08 13:35] Rajkumar235216 commented on #3778
Hi @ramfattah, Thanks for update.
Yes, I am getting same error in iPhone.
Please do the needful in resolving this error.

[2022-07-12 04:53] Wajeed-msft commented on #3778
@Rajkumar235216  - I have copied this over to Microsoft Teams repo. Please use [this GitHub issue ](https://github.com/MicrosoftDocs/msteams-docs/issues/6435) for tracking.

[2022-07-12 15:34] anishprasad01 commented on #3788
Closing this issue due to inactivity and inability to reproduce.

[2022-07-12 15:34] #3788 closed

[2022-07-12 20:23] stevkan commented on #3791
@Jeff-Zhang-Github - To be clear, this is a feature of Teams, not Bot Framework, and is by design. As you can see, in this [doc](https://docs.microsoft.com/en-us/javascript/api/@microsoft/teams-js/app.userinfo?view=msteams-client-js-latest#@microsoft-teams-js-app-userinfo-id), the user Id represents the Azure AD object id which _can_ be used maliciously hence it being encrypted.

I don't know if t

[2022-07-13 02:17] Jeff-Zhang-Github commented on #3791
@stevkan Thank you for your help and advice on this matter,I got it from aadObjectId.

[2022-07-14 19:42] onomemillion commented on #2649
It didn't work for me

[2022-07-19 17:27] axelsrz commented on #3779
Hello @catmanjan in order to proceed with the ticket, could you please provide an update regarding this message?

[2022-07-19 17:50] ramfattah commented on #3778
Closing as this transferred to [msteams-docs](https://github.com/MicrosoftDocs/msteams-docs) repo.
New issue tracking here https://github.com/MicrosoftDocs/msteams-docs/issues/6435

[2022-07-19 17:50] #3778 closed

[2022-07-19 23:17] catmanjan commented on #3779
@axelsrz sure, what update do you need? I explained my reproduction steps in detail above

[2022-07-20 08:33] ryub3n opened #3795 "Bot created using TypeScript bot generator doesn't start"
I tried creating a sample TypeScript bot using the generator but I'm unable to start it.

Node: v16.16.0
NPM: v8.5.1
OS: macOS Monterey 12.4 (Intel MacBook Pro)

CLI command to quickly generate an echo bot
[code]
<img width="1759" alt="image" src="https://user-images.githubusercontent.com/24279903/179936152-513ee8f4-0ad5-44fd-8ff6-e5c5a3cab886.png">

<img width="1780" alt="image" src="https://user

[2022-07-20 08:36] #3795 closed, assigned to nobody

[2022-07-21 14:26] TFesmire commented on #3443
Is there any update on this issue?

[2022-07-22 07:17] shubham184 opened #3796 "Emoji module's newest module doesn't utilize "UNICODE_EMOJI" anymore and thus importing will result in an error. Having looked into the emoji repo, it now only has "UNICODE_DATA""
## Sample information
1. BotBuilder-Samples\samples\python\05.multi-turn-prompt
2. Sample language: Python
3. Multi Turn Prompt

## Describe the bug
Emoji module's newest module doesn't utilize "UNICODE_EMOJI" anymore and thus importing  will result in an error. Having looked into the emoji repo, it now only has "UNICODE_DATA"

[2022-07-22 15:08] gleysonlf opened #3797 "What is the correct method to create a CloudAdapter instance?"
All Typescript samples follow the following pattern to instantiate a CloudAdapter where the mandatory parameter of type "Configuration" is passed a null value:

1. Create a "credentialsFactory with ConfigurationServiceClientCredentialFactory;
2. Creates a botFrameworkAuthentication with createBotFrameworkAuthenticationFromConfiguration passing as parameter "null" and the "credentialsFactory";
3. C

[2022-07-22 19:36] anishprasad01 commented on #3797
Hi @gleysonlf,

This is probably related to #3792. You can take a look at that one for inspiration for the moment, and I will see about having the TypeScript samples updated as well.

[2022-07-23 15:10] gleysonlf commented on #3797
Hi @anishprasad01, thanks for your reply.

I've seen this commit with tweaks, but the parameter applied to the ConfigurationBotFrameworkAuthentication class constructor required BotOpenIdMetadata, OAuthApiEndpoint, ValidateAuthority, or even a ToChannelFromBotLoginUrl.

Once the ProcessEnv has been sent, I receive:

`Type 'ProcessEnv' has no properties in common with type '{ BotOpenIdMetadata?: st

[2022-07-25 13:04] anjika456 opened #3798 "Internal Service Error through Emulator"
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues) / [Java](https://github.com/Microsoft/botbuilder-java/issues)/ [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for genera

[2022-07-25 15:00] anishprasad01 commented on #3797
Thanks, we'll investigate further.

[2022-07-25 17:20] ramfattah commented on #3798
Hi @anjika456,

I'm not able to reproduce this issue using python sample [02.echo-bot](https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/python/02.echo-bot).

![image](https://user-images.githubusercontent.com/38049078/180836890-13090926-c3a2-40b5-983b-161c583222c0.png)

#

I was able to run the bot by following instructions here
https://github.com/microsoft/BotBuilder-Samples/tree

[2022-07-25 17:24] anjika456 commented on #3798
I used the exact steps on that page under Testing the Bot using bot framework emulator...could I have downloaded the wrong emulator, I downloaded the windows setup
![emulator](https://user-images.githubusercontent.com/49654265/180837679-fa5877bf-255b-496c-8fe8-31213090412a.JPG)

[2022-07-26 06:38] 0vally1 opened #3800 "Precise news push , bot"
I want to use a bot to push specific feedback to specific Teams chat groups,
I don't know how to implement it
Example using python, 16.proactive-messages,
All chats that have sent messages to the robot will receive the message back push from the robot.
I would like to send a separate message to the teams login account, not to the chat of all the contacted bots
please , say  me
0vally1010@gmail.com

[2022-07-26 09:19] mabonjem opened #3801 "Module not working in MS teams desktop\web but working fine in mobile (dotnetcore)"
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues) / [Java](https://github.com/Microsoft/botbuilder-java/issues)/ [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for genera

[2022-07-26 10:43] master0v commented on #2738
Having the same issue.

[2022-07-26 16:11] ramfattah commented on #3798
Hi @anjika456,

I'm using Emulator v 4.14.1 as well. Not sure why it's not working for you.

Could you please configure Ngrok in Emulator settings using the below link instructions and try again?
https://github.com/Microsoft/BotFramework-Emulator/wiki/Tunneling-(ngrok)

[2022-07-26 17:50] anishprasad01 commented on #3800
Hi @0vally1,

The Microsoft Bot Framework team prefers that **how-to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework).

The official [Bot Framework Github](https://github.com/Microsoft/BotFramework-SDK/) repo is the preferred platform for information on submitting **bug fixes** and **feature requests**.

This issue will be closed, but if you have a bu

[2022-07-26 17:53] anishprasad01 commented on #3800
Hi @0vally1,

This is not a feature request for the SDK, but rather a request for implementation of your specific application.

The Microsoft Bot Framework team prefers that **how-to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework).

The official [Bot Framework Github](https://github.com/Microsoft/BotFramework-SDK/) repo is the preferred platform for

[2022-07-26 17:53] #3800 closed

[2022-07-26 17:54] anjika456 commented on #3798
![ngrok](https://user-images.githubusercontent.com/49654265/181077038-d2851e32-5498-4a42-aab4-dd3cc6f318f4.JPG)

So I configured ngrok but still no "Hello and Welcome" message...

[2022-07-26 17:59] ramfattah commented on #3798
@anjika456, what command did you execute to run the bot on localhost?

[2022-07-26 18:03] anjika456 commented on #3798
I just opened the bot emulator application and then pressed file, open bot and entered "http://localhost:3978/api/messages". I waited a bit for a message to pop up and nothing did so I typed in hello

[2022-07-26 20:34] ramfattah commented on #3798
I'm referring to the [02.echo-bot](https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/python/02.echo-bot) it self, not Emulator.

How did you run the bot? ex: `python app.py` ?
After you send the message `hello`, is there any exception message in the same terminal window you ran than bot?

[2022-07-27 00:22] ramfattah commented on #3798
@anjika456,

For example; here are the steps I took to run the **echo bo:**
1. Cloned [BotBuilder-Samples](https://github.com/microsoft/BotBuilder-Samples) into my local machine
2. Navigated to echo bot's root directory at
     * `botbuilder-samples/samples/python/02.echo-bot/`
3. Created virtual environment by executing: `python -m venv env`
4. Activated virtual environment by running: ` env\Scri

[2022-07-27 00:23] ramfattah commented on #3798
@anjika456,

For example; here are the steps I took to run the **echo bo:**
1. Cloned [BotBuilder-Samples](https://github.com/microsoft/BotBuilder-Samples) onto my local machine
2. Navigated to echo bot's root directory at
     * `botbuilder-samples/samples/python/02.echo-bot/`
3. Created virtual environment by executing: `python -m venv env`
4. Activated virtual environment by running: ` env\Scri

[2022-07-27 01:27] 0vally1 commented on #3800
think you ,

[2022-07-27 01:28] 0vally1 commented on #3800
Thanks for your reply, I'll take a look

[2022-07-27 03:38] dbeyda opened #3803 "Creating resources with ARM template for Python echobot fails"
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues) / [Java](https://github.com/Microsoft/botbuilder-java/issues)/ [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for genera

[2022-07-27 07:37] mabonjem commented on #3801
Dear @ramfattah,

all same but only the difference on manifest Version  my manifest v is { "manifestVersion": "1.11",}

I will change the version and come back.

[2022-07-27 09:30] #3801 closed

[2022-07-27 09:32] mabonjem commented on #3801
the issue has been resolved after changing the manifestVersion to 1.5

[2022-07-27 14:13] anjika456 commented on #3798
I think the steps I was taking incorrectly was running it on my local machine, it is working now I had to download these after I was receiving an error and now it is working in the emulator. Thank you for the help!
[botframework-connector](https://pypi.org/project/botframework-connector/)

[botbuilder-core](https://pypi.org/project/botbuilder-core/)

[botbuilder-schema](https://pypi.org/project/bo

[2022-07-27 16:02] #3798 closed

[2022-07-27 18:57] tracyboehrer commented on #3803
This is indeed an incomplete handling of those ARM templates changes across the 4 SDK's.  In the coming days, we will be updating all ARM templates to a new set of templates, and all 4 repos, and the associated doc should match.  Sorry for the confusion.  I'll leave this issue open for tracking until that work is done.

[2022-08-03 06:10] NaveenKumarNN opened #3804 "Bot Registration for web channel for Production environment"
Hello Team
I have created the Bot using Microsoft Bot framework in C# and I have hosted the Bot in the cloud environment (Pivotal cloud Foundry) not in Azure. I have registered the bot in the link (https://dev.botframework.com/bots/new)  to enable webchat using direct line and I have received the   appid and app password for that. I Understand that registration is free without azure subscription t

[2022-08-03 18:55] Incedendo opened #3805 "WaterFall Dialog Flow works in Emulator but not in WebChat or Teams"
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues) / [Java](https://github.com/Microsoft/botbuilder-java/issues)/ [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for genera

[2022-08-03 21:01] ramfattah commented on #3805
Hey @Incedendo,

Looks like I'm not able to reproduce this error using fresh python sample [43.complex-dialog](https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/python/43.complex-dialog).

Note: I used ngrok to tunnel localhost to Azure bot Messaging endpoint.

![image](https://user-images.githubusercontent.com/38049078/182708903-2e8b52db-8b5c-4aed-a762-af4e9328e6d4.png)

#

* Have

[2022-08-04 05:23] wonboyn opened #3806 "DotNet6 isolated process Azure Function example"
**Is your feature request related to a problem? Please describe.**
I'm trying to implement a simple bot as an Azure Function using DotNet v6 isolated process.

The problem I'm facing is that the Function uses  Microsoft.Azure.Functions.Worker.Http.HttpRequestData for the request object & Microsoft.Azure.Functions.Worker.Http.HttpResponseData for the response. Whereas the BotBuilder adapter expects

[2022-08-04 23:18] dmvtech commented on #3804
Hi @NaveenKumarNN

If you create a Bot Registration with within a subscription (for example Pay-As-You-Go), you would have the option to switch to a different payment tier, up and over the free. Creating the registration via the portal, you won't have the ability to change.

![image](https://user-images.githubusercontent.com/43397658/182970461-58821f77-aa80-456d-a328-b7e74dc4e8ca.png)

Other than

[2022-08-04 23:25] #3804 closed

[2022-08-05 17:34] ramfattah commented on #3805
Spoke with @Incedendo offline.
Looks like this issue is happening only after deployed sample [43.complex-dialog](https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/python/43.complex-dialog) to Azure.

Investigating further...

[2022-08-05 23:37] ramfattah commented on #3695
Closing due to inactivity.

[2022-08-05 23:37] #3695 closed

[2022-08-08 10:13] NaveenKumarNN commented on #3804
Thanks for your response.
I m still not clear. I don't have azure subscription ,I want to go with free bot registration()  for the production environment. Actually i am using direct line\webchat  channel for my bot . I am trying to understand whether the application in prod environment will be stable or not ,since we couldn't face any issues in the development environment.

[2022-08-09 14:38] tracyboehrer commented on #3740
Merged

[2022-08-09 14:38] #3740 closed

[2022-08-09 14:39] #3672 closed

[2022-08-09 14:40] #3287 closed

[2022-08-10 21:25] munozemilio commented on #3797
Hello @gleysonlf the PR that addresses this issue has been merged. Could you please try the samples again?

[2022-08-10 21:31] munozemilio commented on #3779
@catmanjan are you getting the same issue if you upload the manifest.zip to Teams (in the Apps view click "Upload a custom app")

[2022-08-10 22:34] catmanjan commented on #3779
No I only saw the issue when deploying the app to the organisation

On Thu, 11 Aug 2022 at 7:31 am, Emilio Munoz ***@***.***>
wrote:

[2022-08-10 23:27] ramfattah commented on #3805
@Incedendo I'm attempting to deploy and publish to Azure using a new app service, from scratch.
I will let you know of any updates.

Thanks.

[2022-08-12 15:39] gleysonlf commented on #3797
Hi @munozemilio, worked perfectly! Thanks!

[2022-08-12 15:39] #3797 closed

[2022-08-12 15:41] gleysonlf commented on #3797
[code]

[2022-08-15 20:21] JFolberth opened #3808 "[sso-with-skills] Authorizartion issues"
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues) / [Java](https://github.com/Microsoft/botbuilder-java/issues)/ [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for genera

[2022-08-16 11:04] davidimmanuel007 opened #3809 "The bot encounted an error 'Cannot access a disposed object. Object name: ‘SendActivityAsync’."
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues) / [Java](https://github.com/Microsoft/botbuilder-java/issues)/ [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for genera

[2022-08-16 15:57] ramfattah commented on #3808
Hi @JFolberth, I'm investigating this issue.

[2022-08-18 05:10] boydc2014 commented on #3614
@dmvtech I'm able to reproduce this, can you try a linux based web app (which is now the default choice if you choose python stack), or just "az webapp up --runtime PYTHON:3.9 --sku B1 --logs" in python's echobot sample folder

[2022-08-18 16:18] ramfattah commented on #3808
Hi @JFolberth,

I was not able to reproduce this issue after following the[ sso-with-skills readme](https://github.com/microsoft/BotBuilder-Samples/tree/main/experimental/sso-with-skills) and [Add single sign-on to a bot](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-authentication-sso?view=azure-bot-service-4.0&tabs=eml#create-the-azure-ad-identity-application-1) documentation.

[2022-08-18 18:01] JFolberth commented on #3808
So, couple things realized on this. My initial issue was ultimately misreading configuration of the app secret between a managed bot and single/multi tenant. However; ran into some additional items/feedback.

- The walkthrough assumes you have ngrok already configure to run, there is no mention of this. If you do not the experience is silently different as you will get an "emulatedToken"
- I ran i

[2022-08-18 19:11] ramfattah commented on #3805
Hi @Incedendo,

Publishing C# and JS works as expected using the latest az cli (2.39.0).
I cannot seem to publish python bot using the latest or given versions of az cli in the docs.

Using same exact publishing steps [mentioned here](https://github.com/MicrosoftDocs/bot-docs/issues/2228) that worked for C# and JS does not seem to work for python bots.

after zip deploy:
![image](https://user-imag

[2022-08-19 04:06] ramfattah commented on #3809
Hi @davidimmanuel007, I'm investigating this one.

[2022-08-19 16:05] ramfattah commented on #3808
Hi @JFolberth, were you able to get the SSO with skill working?  Anything I can do from my end to help?

[2022-08-22 23:16] ramfattah commented on #3809
Hi @davidimmanuel007,

I see you are using the older bot framework SDK version 3.1.

Do you face the same problem if using the latest Bot Framework SDK [4.17.1](https://github.com/microsoft/botbuilder-dotnet/releases/tag/4.17.1)?
Or is this issue specific to SDK v3?

Thanks.

[2022-08-23 14:34] McDonald777 opened #3811 "Bot builder"
Note

[2022-08-23 17:11] stevkan commented on #3811
Closing as no question / issue posted.

[2022-08-23 17:11] #3811 closed

[2022-08-23 22:49] ramfattah commented on #3779
Hi @catmanjan,

Looks like uploading the bot to Teams using Microsoft Teams admin center (https://admin.microsoft.com/) is the root cause of this issue.

I'm Investigating further for the next steps.

[2022-08-24 01:00] catmanjan commented on #3779
Thanks we're still invested in getting this fixed

[2022-08-29 02:48] xinyi1989 opened #3813 "18.bot-authentication error"
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues) / [Java](https://github.com/Microsoft/botbuilder-java/issues)/ [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for genera

[2022-08-29 04:34] ramfattah commented on #3808
Closing due to lack of activity. @JFolberth please re-open if needed.

[2022-08-29 04:34] #3808 closed

[2022-08-29 15:42] ramfattah commented on #3809
closing due to inactivity. @davidimmanuel007 please re-open if needed.

[2022-08-29 15:42] #3809 closed

[2022-08-29 16:42] #3803 closed

[2022-08-29 17:57] dmvtech commented on #3813
Thank you @xinyi1989

I am investigating.

[2022-08-29 21:02] ramfattah commented on #3614
Hi @boydc2014, I'm currently investigating https://github.com/microsoft/BotBuilder-Samples/issues/3805 and I could not publish python bots.

I noticed the following pull requests for python ARM Templates and Deployment templates that was merged today.
* https://github.com/microsoft/BotBuilder-Samples/commit/b68d7b0856c90dc57b602654be221a94e316696b
* https://github.com/microsoft/botbuilder-python/p

[2022-09-01 03:33] woasishen opened #3818 "Java sample bot deploy meet subscription not match"
## [Sample information](https://github.com/microsoft/BotBuilder-Samples/tree/b68d7b0856c90dc57b602654be221a94e316696b/samples/java_springboot/02.echo-bot)
1. Sample type: [samples]
2. Sample language: [spring bot]
3. Sample name: <02.echo-bot>

## Describe the bug
After I excute
`mvn azure-webapp:deploy -Dgroupname="resource-group-name" -Dbotname="name-of-web-app"`

![image](https://user-images.gi

[2022-09-01 14:45] ramfattah commented on #3805
Hi @Incedendo

I was not able to reproduce this anymore after the latest publishing docs update.

Could you please try to publish the bot from docs here:
https://docs.microsoft.com/en-us/azure/bot-service/provision-and-publish-a-bot

[2022-09-01 15:03] ramfattah commented on #3614
Hi @boydc2014 @a-MarsWang

I was not able to reproduce this issue any more after the latest publishing docs update.

@a-MarsWang, could you please try to publish the bot from docs here:
https://docs.microsoft.com/en-us/azure/bot-service/provision-and-publish-a-bot

[2022-09-01 15:26] Tailcloud opened #3820 "JAVA Sprint - QnA bot can not work of unexpected error: 404"
Environment: VSCode with JRE1.8 and Maven 3.8.6
Run successfully and returns 202 while connecting with bot emulator ; however, it shows 404 once new messages. Error details as followings,
[code]

[2022-09-05 22:44] ramfattah commented on #3820
Hi @Tailcloud,

I was not able to reproduce this issue.

#### Enviornment
* Apache Maven 3.8.6
* IDE: IntelliJ IDEA
* BF Emulator v[4.14.1](https://github.com/microsoft/BotFramework-Emulator/releases/tag/v4.14.1)
*  OS: Windows 11

Using Java bot sample [11.qnamaker](https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/java_springboot/11.qnamaker), I successfully retrieved answers fro

[2022-09-06 02:46] ramfattah commented on #3779
Hi @catmanjan,

The "Microsoft Teams" team was also not able to reproduce this issue using Teams admin center.

From Teams:

[2022-09-06 02:48] ramfattah commented on #3779
Closing this issue as we are not able to repro.

[2022-09-06 02:48] #3779 closed

[2022-09-07 05:04] ramfattah commented on #3805
Doc for this issue has been updated
https://docs.microsoft.com/en-us/azure/bot-service/provision-and-publish-a-bot

[2022-09-07 05:04] #3805 closed

[2022-09-07 05:05] #3614 closed

[2022-09-07 08:16] #3813 closed

[2022-09-08 04:38] accpliuchen commented on #3134
I have same issues, could you help me

[2022-09-08 10:42] VKZycus opened #3822 "Cannot read properties of undefined bot composer"
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues) / [Java](https://github.com/Microsoft/botbuilder-java/issues)/ [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for genera

[2022-09-09 19:00] marianocalero opened #3823 "46.teams-auth - Authentication Issue when deploying Teams Auth Bot sample"
[onTurnError] unhandled error: DialogContextError: Error retrieving token: 6043025e3309fc4aa45db05b8aba1d81.

Trying to deploy javascript_nodejs - 46.teams-auth bot, but I'm getting the above error when testing in Web Chat and Teams Chat.

Using Ngrok and running bot in Visual Studio.

![image](https://user-images.githubusercontent.com/68557521/189424389-e5c27941-4de3-4771-ae1e-949dbc443761.png)

[2022-09-12 13:56] ramfattah commented on #3820
Closing due to inactivity, @Tailcloud please re-open if needed.

[2022-09-12 13:56] #3820 closed

[2022-09-12 17:47] anishprasad01 commented on #3823
Hi @marianocalero,

The Teams Auth sample makes use of AAD Authentication to authorize users. While the steps in the readme show you how to deploy the bot and configure the manifest, they do not specify how to set-up auth. You must also [set up user auth](https://docs.microsoft.com/en-us/microsoftteams/platform/bots/how-to/authentication/auth-aad-sso-bots) for your bot in Azure after deploying it.

[2022-09-13 07:10] Jeff-Zhang-Github opened #3824 "send message to AU/APAC with error 400,payload is incorrect"
## Version
springboot

## Describe the bug

`adapter.continueConversation(
                        appId, reference, turnContext -> turnContext
                                .sendActivity(message)
                                .thenApply(resourceResponse -> null)
                );`

when bot send message to AU(https://smba.trafficmanager.net/au/)/APAC(https://smba.trafficmanager.net/apac/) wi

[2022-09-13 17:38] ramfattah commented on #3824
Hi @Jeff-Zhang-Github, we are investigating.

[2022-09-14 17:46] ramfattah commented on #3824
@Jeff-Zhang-Github, Could you please share the steps [to reproduce](https://github.com/microsoft/BotBuilder-Samples/blob/main/.github/ISSUE_TEMPLATE/-samples-bug.md#:~:text=the%20bug%20is.-,To%20Reproduce,-Steps%20to%20reproduce) this issue?

[2022-09-15 02:06] Jeff-Zhang-Github commented on #3824
Hi,@ramfattah, I updated the issue, and now the service seems normal. It has been restored around 2022-09-13 09:31:04 UTC,Let me know if you find out.

[2022-09-15 07:10] hami-sh commented on #3824
+1 -- we also experienced this outage in the AU region.

Any reason why this occurred?

[2022-09-15 09:17] Jeff-Zhang-Github commented on #3824
This problem occurred again today, around 2022-09-15 08:55UTC, for ten minutes or so, including EMEA and AMER.

[2022-09-19 12:54] marianocalero commented on #3823
Hi @anishprasad01 ! Thank you for that, I've gone through most of the steps in the linked documentation up until https://docs.microsoft.com/en-us/microsoftteams/platform/bots/how-to/authentication/auth-aad-sso-bots#add-the-code-to-request-and-receive-a-bot-token

I'm not sure how to add the code for the token - I am only using the 46.teams-auth sample. Is there anything I need to modify in the sam

[2022-09-19 16:26] anishprasad01 commented on #3823
You should not need to make any modifications to the sample project other than updating `.env` with the required values. The sample code should already be ready for use. As long as your Azure config is correct, the Teams App Manifest is correct and installed, the bot with up-to-date `.env` is running and accessible, everything should work.

Note that the settings must match up everywhere. Inconsis

[2022-09-19 18:00] marianocalero commented on #3823
Hi @anishprasad01 - thank you! I went through and realized I did not add the connectionName in the .env. Once I added that, it began to work in Azure Web Chat, however I'm not getting anything in Teams:

![image](https://user-images.githubusercontent.com/68557521/191083131-7f40e4ed-f853-4dbf-972b-c153f8dc7146.png)

![image](https://user-images.githubusercontent.com/68557521/191083206-4953ec39-7c96

[2022-09-19 18:25] anishprasad01 commented on #3823
It could be a number of things.

- Something may be wrong with your App Manifest.
- Your App Registration scopes might be wrong.

Have you tried [debugging with Ngrok](https://learn.microsoft.com/en-us/azure/bot-service/bot-service-debug-channel-ngrok?view=azure-bot-service-4.0) to run locally but test in Teams? You run the bot locally, start up Ngrok, and set the Ngrok URL as the messaging endpoi

[2022-09-19 21:26] marianocalero commented on #3823
Hey @anishprasad01 - I have only been using ngrok, but forgot to check the response there. It looks like I'm getting a 501 Not Implemented when sending a message via Teams:

HTTP/1.1 501 Not Implemented
Server: restify
Date: Mon, 19 Sep 2022 21:25:01 GMT
Connection: keep-alive
Keep-Alive: timeout=5
Content-Length: 0

[2022-09-19 21:35] marianocalero commented on #3823
I'm also getting this shortly after:

HTTP/1.1 405 Method Not Allowed
Server: restify
Allow: POST
Content-Type: application/json
Content-Length: 62
Date: Mon, 19 Sep 2022 21:30:05 GMT
Connection: keep-alive
Keep-Alive: timeout=5

{"code":"MethodNotAllowed","message":"OPTIONS is not allowed"}

[2022-09-20 19:09] anishprasad01 commented on #3823
Appears to have been a permissions issue with the requested scopes preventing sign-in. Choosing a smaller scope solved the issue.

[2022-09-20 19:09] #3823 closed

[2022-09-21 13:55] crismogram commented on #3328
Is this possibly related to https://github.com/microsoft/BotFramework-Emulator/issues/2400

How can I downgrade to Newtonsoft 12.0.3, I don't think I can do it on Package Manager.

[2022-09-27 02:38] hka047 commented on #3737
Does NLP orchestrator support addition of a Question Answering project to it ? In the [NLP Orchestrator Sample](https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/csharp_dotnetcore/14.nlp-with-orchestrator) the model is being trained with QnA and LUIS resources only. As we are planning migration for our existing projects with Dispatch and QnA resources to NLP orchestrator with Custo

[2022-09-27 03:04] Arsh-Kashyap commented on #3737
Hi @Harikishore-KA, I worked on it while I was an intern at Microsoft. A sample has already been pushed to experimental folder that uses Custom Question Answering project to train the model in both CSharp and NodeJS.
Link: https://github.com/microsoft/BotBuilder-Samples/tree/main/experimental/language-orchestrator

[2022-09-27 04:49] vijaysaimutyala opened #3829 "SSO Samples for Python"
### Use this [query](https://github.com/Microsoft/botbuilder-samples/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++label%3Aenhancement) to search for the most popular feature requests.

**Is your feature request related to a problem? Please describe.**
So I've been trying to implement SSO on Teams using the Python Bot Framework SDK without much success. The reason is that we wanted to login the us

[2022-09-29 15:26] bmutafov opened #3830 "NotBeforeError: jwt not active when processing activity"
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues) / [Java](https://github.com/Microsoft/botbuilder-java/issues)/ [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for genera

[2022-09-30 07:15] ramfattah commented on #3830
Thank you @bmutafov, we are investigating.

[2022-09-30 17:28] ramfattah commented on #3830
Hi @bmutafov,

Are you facing the same issue if using the bot samples from the official [typescript_nodejs](https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/typescript_nodejs) repository?

In sample [05.multi-turn-prompt](https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/typescript_nodejs/05.multi-turn-prompt), the `bot.run()` method seems to looks different from y

[2022-10-03 07:03] Raviiraju opened #3831 "Can we send proactive message with "Important" tag for Teams?"
Can we send proactive message with "Important" tag for Teams?

![image](https://user-images.githubusercontent.com/114903590/193518746-72d5d40e-af90-4d70-aafc-13be8afdfc23.png)

[2022-10-03 12:55] mrodfuentes opened #3832 "QnA Maker (Java): It seems the page to get QnAKnowledgebaseId, QnAEndpointKey and QnAEndpointHostName is not updated for the new QnA Maker Azure Service"
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues) / [Java](https://github.com/Microsoft/botbuilder-java/issues)/ [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for genera

[2022-10-03 18:00] anishprasad01 commented on #3832
Hi @mrodfuentes,

Thanks for the report. We'll take this issue under consideration as a feature request. We do not have an ETA at this time for when this update might be available.

[2022-10-03 18:00] #3832 closed

[2022-10-04 17:29] ramfattah commented on #3831
Hi @Raviiraju, we are investigating.

[2022-10-05 20:15] ramfattah commented on #3831
Discussing internally with the Microsoft "Teams" team. We will report back once we have updates.
Thanks for your patience @Raviiraju

[2022-10-06 14:59] #3831 closed

[2022-10-07 17:48] ramfattah commented on #3830
closing due to inactivity.

[2022-10-07 17:48] #3830 closed

[2022-10-10 09:52] bmutafov commented on #3830
It actually got fixed by itself, so my best guess it was a Microsoft-related issue, rather than a framework one

[2022-10-11 13:04] bmutafov commented on #3830
@ramfattah Sorry for the lack of updates before, was on a holiday.

Anyways, today I have the same issue. Nothing has changed since yesterday, when it was working. I downloaded the 05.multi-turn-prompt sample and ran it with the same BotId and TenantId and still getting the same error:

[code]

Should we reopen this ticket?

[2022-10-17 12:30] sukeerthimulakala opened #3834 "Samples (csharp_dotnetcore/49.qnamaker-all-features): 'ComponentRegistration' is obsolete: 'Use BotComponent for new components"
Hi Team,

As per new code `ComponentRegistration.Add(new DialogsComponentRegistration());` has replaced with  new `DialogsBotComponent().ConfigureServices(services, Configuration);`.  When I replaced am getting an error on clicking on Promtp of Bot response. exception message **'turn' does not match memory scopes:[] (Parameter 'key')**.
Could you please help me to resolve this issue. If I use `Com

[2022-10-17 22:03] jusce17 commented on #3134
I am facing the same issue

[2022-10-18 01:50] jusce17 commented on #3134
Hey @accpliuchen, I managed to make it work, I believe it is poor documentation (or explanation on their side).

The app won'y just work out of the box if you follow the documentation, you need to tell the Gunicorn WSGI HTTP Server to use `aiohttp` workers and starts the app.

you can do that by adding the following code on your app general settings

`gunicorn --bind 0.0.0.0 --worker-class aiohttp

[2022-10-18 18:22] tracyboehrer commented on #3834
Hi @sukeerthimulakala You are fine to use the old way for now.  There are no immediate plans for use to drop it, and no harm in doing so now.  I'll look into this though.

[2022-10-19 07:55] sukeerthimulakala commented on #3834
@tracyboehrer thank you so much

[2022-10-20 19:46] JonathanFingold opened #3835 "Composer C# AskingQuestionsSample: sign-in card flow appears to have a variable mismatch"
## Sample information
1. Sample type: [\samples\]
2. Sample language: [dotnetcore]
3. Sample name: AskingQuestionsSample (Composer)

## Describe the bug
The OAuth logic action saves the token to `turn.token`. However, the next action (HTTP request) tries to get the token from `user.token.token`.

## To Reproduce
Steps to reproduce the behavior:
1. Open the C# AskingQuestionsSample bot in Composer.

[2022-10-21 21:04] anishprasad01 commented on #3835
@JonathanFingold,

Opened a [PR](https://github.com/microsoft/BotBuilder-Samples/pull/3836) which fixes the mismatch.

[2022-10-25 07:30] iamramengirl opened #3838 "Is there a code sample in Python for Custom QA integration, as QnAMaker will eventually be retired?"
### Use this [query](https://github.com/Microsoft/botbuilder-samples/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++label%3Aenhancement) to search for the most popular feature requests.

**Is your feature request related to a problem? Please describe.**
In the samples for Python, there is none available regarding Custom QA integration. There are samples for QnAMaker.

**Describe the solution you'd

[2022-10-25 13:55] rohithq commented on #3772
I am having the same issue

[2022-10-25 18:31] #3838 closed

[2022-10-31 02:20] sparkcontext commented on #3834
Hi Team

i got similar issue using sample of Samples (csharp_dotnetcore/48.customQABot-all-features):
when i click multiturn options using BF emulator,
It throws exception of value:"'turn' does not match memory scopes:[] (Parameter 'key')"
when i click the second time, it work fine again.

Please advice if further information is required/move to a new issue. thank you so much

[2022-11-01 12:51] chaudhari-priyanka opened #3840 "Python: TeamsChannelAccount interface - Add job_title in the properties."
**Add job_title in the properties of TeamsChannelAccount interface**
Once this property will get added in the TeamsChannelAccount interface, we can get the return value for the same using TeamsInfo.get_member(TurnContext, String).

This requirement is required for multiple use cases, for example: we can decide the further bot flow on basis of the job title/designation of the end user.

[2022-11-08 03:55] roeibh opened #3841 "POST 400 directline/conversations/<conversationId>/activities on wsl"
## Sample information
1. Sample type: [\samples\]
2. Sample language: [typescript]
3. Sample name: echo-bot

## Describe the bug
executed the instructions in https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/typescript_nodejs/02.echo-bot.
running windows 11 and Ubuntu in wsl
output of `npm start`:
[code]
* Launched Bot Framework Emulator
* Went to File -> Open Bot
* Entered the Bot

[2022-11-08 21:01] anishprasad01 commented on #3841
Hi @roeibh,

This is actually the behavior we would expect to see in this instance.

Remember that WSL is in essence a stripped-down virtual machine, which means that it has its own network address space. This means that `localhost` for WSL and `localhost` for Windows are not that same thing. When you try to connect to the bot from Emulator running on Windows or from a REST client, it will fail si

[2022-11-08 21:01] #3841 closed

[2022-11-14 07:52] 86driver opened #3842 "can i publish a bot app without azure serivce"
i want build bot app without azure service
1. i create a bot by Developer Portal
2. set the endpoint in Developer Portal
3. i fount the bot has registered in azure

can i use the bot in teams app, or i must create a bot in azure bot

in the [doc](https://learn.microsoft.com/zh-cn/azure/bot-service/bot-service-quickstart-registration?view=azure-bot-service-4.0&tabs=userassigned) i found must use az

[2022-11-15 19:03] #3835 closed

[2022-11-16 01:05] dmvtech commented on #3842
The bot code doesn't need to run in Azure. If you want to use Teams, you can use the Bot registration created in Azure (even if the code runs elsewhere) to configure Teams channel.

If you don't want to use the Azure bot registration or channels, you can use an [adapter from the bot builder community](https://github.com/BotBuilderCommunity/botbuilder-community-dotnet/tree/develop/libraries), or yo

[2022-11-16 01:05] #3842 closed

[2022-11-17 23:03] johnataylor commented on #3834
We have archived sample 49 so this doesn't directly apply. But, as you say, you would see a similar issue with 48.

@tracyboehrer has confirmed that we are not changing anything here and the "old way" will continue to work. The memory scopes can probably be added to the new way but this doesn't really change anything very significant.

Closing this issue. If you there is a problem, please reopen a

[2022-11-17 23:03] #3834 closed

[2022-11-17 23:14] ramfattah opened #3846 "dotnet sample 51.teams-messaging-extensions-action displays white Task Module HTML Page"
## Sample information
1. Sample type: [51.teams-messaging-extensions-action](https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/csharp_dotnetcore/51.teams-messaging-extensions-action)
2. Sample language: [C# dotnetcore]

## Describe the bug
After running the sample bot in Teams with ngrok, when selecting the HTML Task Module, the form inside [htmlpage.cshtml](https://github.com/micr

[2022-11-22 06:34] dhddldid opened #3849 "C# Teams-auth / about AAD SSO"
## Sample information
1. [46.Teams-auth](https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/csharp_dotnetcore/46.teams-auth)

## Describe the bug
1. If clicked accept in the Teams desktop app, the accept page does not open
2. If the accept page open in Teams web, it automatically accepted it without any procedure

## To Reproduce
Steps to reproduce the behavior:

Describe the bug ab

[2022-11-22 13:07] ceciliaavila commented on #3464
Closing as this issue is no longer reproducible.

[2022-11-22 13:07] #3464 closed

[2022-11-22 13:08] #3450 closed, assigned to nobody

[2022-11-22 19:44] anishprasad01 commented on #3849
Hi @dhddldid,

Could you please provide:
- More information regarding each scenario.
- More details regarding your deployment and testing environment.

[2022-11-23 01:55] dhddldid commented on #3849
# The detailed scenario is as follows
1. I followed the 46.teams-auth code
2. I [followed the document]((https://learn.microsoft.com/en-us/microsoftteams/platform/sbs-bots-with-sso)) to register azure bot and to configure sso.
3. And in the web version of Teams, it worked as follows.
   ![teams-web_01](https://user-images.githubusercontent.com/24456683/203453519-da8f2b1c-f46b-4e46-8289-0e5dbf83e4b

[2022-11-23 23:41] anishprasad01 commented on #3849
Thank you. I will attempt to reproduce this issue.

[2022-11-28 17:07] mrnill opened #3853 "Python Sample : 53.teams-messaging-extensions-action-preview - on_teams_messaging_extension_fetch_task is not working proper."
## Sample information
1. Sample type: [sample]
2. Sample language: [python]
3. Sample name: 53.teams-messaging-extensions-action-preview

## Describe the bug
Method "on_teams_messaging_extension_fetch_task" is not proper. Browser side I'm getting error "0.2-angular-jquery.min-14969ec.js:114 Error: Top level property name does not match!".

## To Reproduce
1. Clone Sample [53.teams-messaging-extens

[2022-11-28 20:18] #3853 closed

[2022-11-28 20:48] anishprasad01 commented on #3849
@dhddldid

At the moment, I am unable to reproduce Bug #1. With the `User.Read` scope, I am able to see the consent window when the bot is running in Teams.

As for Bub #2, I believe that this may actually be intended behavior, and not a bug. After you log in once, you remain logged in until the token expires unless you explicitly log out.

[2022-11-29 11:25] dhddldid commented on #3849
@anishprasad01 Thank you for thinking about the bug and answering.

I will share my opinion on the answer.

In Bug 1, can you try to press permission after turning on the Teams desktop app without opening the web page?
If you follow the above scenario and the page opens the same way, I'll closed bug1.

In Bug 2, if you want to reopen pages that allow permissions, you can:

When you modify the perm