[2016-09-30 07:49] ebrulato opened #10 "use encoding : null to download binary content"
Hi,

Thanks for the code sample BotBuilder-Samples/Node/core-ReceiveAttachment/app.js.
But I've found an issue: the download of binary content requires to set encoding with a null value
see http://stackoverflow.com/questions/14855015/getting-binary-content-in-node-js-using-request for more details and https://github.com/request/request (search encoding: null)

I suggest this fix

var requestWithTo

[2016-09-30 14:06] pcostantini commented on #10
Hi @ebrulato !
PR #11 has been created to address the issue.
Thank you for reporting it!

[2016-09-30 22:28] Andrea-Orimoto commented on #10
closing this issue, since it has been addressed by the PR. Thanks for reporting it!

[2016-09-30 22:28] #10 closed

[2016-10-23 16:03] daschdasch opened #24 "Luis Sample error "500 InternalServerError {"message": "an error has occured."}"
Hi,

when running the Luis sample, i get the above response after sending a message through the Emulator.
This happens in all Code where i use the LuisDialog. All other samples work. Luis seems to be the Problem...
Can you help me?

[2016-11-06 13:01] kgrashad commented on #24
Which version are you trying (C# or Node)?

[2016-11-07 07:16] daschdasch commented on #24
my Firewall was the problem

[2016-11-09 00:35] willportnoy commented on #24
Thank you for the update.  I'm going to close this issue, but feel free to open a new issue for further discussion.

[2016-11-09 00:35] #24 closed

[2016-11-30 16:00] snbuchholz opened #33 "[Node] bot always replies with default message"
[15:45:19] Emulator listening on http://[::]:9002
[15:45:37] -> POST 202 [conversationUpdate]
[15:45:50] -> POST 202 [message] hi
[15:45:52] <- POST 200 Reply[message] Sorry, I did not understand 'hi'. Type 'help' if y...
[15:45:59] -> POST 202 [message] help
[15:46:00] <- POST 200 Reply[message] Sorry, I did not understand 'help'. Type 'help' if...
[15:47:09] -> POST 202 [message] Help
[15:47:10]

[2016-11-30 16:12] snbuchholz commented on #33
I see in the LUIS logs that the utterances were classified totally correctly (sorry, upload of CSV files is not supported here, so I'm just copy/pasting as text):

Query	UTC DateTime	     Response
hi	11/30/2016 15:45:51	"{
  ""query"": ""hi"",
  ""topScoringIntent"": {
    ""intent"": ""Help"",
    ""score"": 0.5491038
  },
  ""entities"": [
    {
      ""entity"": ""hi"",
      ""type"": ""builti

[2016-11-30 16:17] snbuchholz commented on #33
For the record: this refers to this sample: https://github.com/Microsoft/BotBuilder-Samples/tree/master/Node/intelligence-LUIS

[2016-12-05 08:02] kgrashad commented on #33
@willportnoy

[2016-12-06 01:00] willportnoy commented on #33
@stevenic is the LUIS url change significant here for this Node sample?

[2016-12-09 15:21] scibol opened #35 "[Help] Use path of file instead of stream"
Hi everybody,

is there some way to use 'request', but instead of stream.pipe a file stored in my local machine? I'm asking this because I need to convert mp4 to wav before processing with your Speech API.

I am referring to this:
[code]

[2016-12-09 15:47] scibol commented on #35
Resolved, sorry.

[2016-12-09 15:47] #35 closed

[2016-12-28 14:02] noxsicarius opened #42 "[.NET] Problems with speech to text sample"
This may not be specific to this sample as I see an interesting error on all projects I run.

First, the immediate window is getting this a good number of times:
`iisexpress.exe Warning: 0 : Service url localhost:62141 is not trusted and JwtToken cannot be sent to it.`

I feel like this may be causing my issue where I can push an attachment to the emulator, but if it is a wav file I break to the c

[2016-12-28 18:44] willportnoy commented on #42
@msft-shahins can you comment?

[2016-12-29 03:03] michaelsrichter opened #43 "Context.Call doesn't call Dialog's StartAsync"
I have the following code in my rootDialog (see below). I am detecting if a user has a profile set up in UserData, if not, I want them to go to the BotUserProfile dialog. There is a series of DialogPrompts in that Dialog, so I need to use Context.Call (not Context.Forward).

The problem is that when I call Context.Call from MessageReceivedAsync, it **does not** appear to call StartAsync in the chi

[2016-12-29 03:33] michaelsrichter commented on #43
I am going to close this. The problem was further down in my MessageReceivedAsync method; it was throwing an unhandled exception which was messing with the execution of the dialogs. It works now.

[2016-12-29 03:33] #43 closed

[2016-12-29 18:41] willportnoy commented on #43
I'm happy to hear you found the issue.  By the way, you might find a more active forum at https://github.com/Microsoft/BotBuilder/issues.

[2016-12-29 19:10] ShuaiW opened #44 "[Code Example] intelligence-ImageCaption: {"code":"ResourceNotFound","message":"/ does not exist"}"
So I tried the example, [ImageCaption](https://github.com/Microsoft/BotBuilder-Samples/tree/master/Node/intelligence-ImageCaption), and deployed to Azure (by clicking the blue button).

 However after the deployment I got the following error when I visit the url:

`{"code":"ResourceNotFound","message":"/ does not exist"}`

Any help would be appreciated.

[2017-01-04 15:18] anweiss opened #46 "[Feature Request] Unit and integration testing examples for Node samples"
Would love to see some unit and integration testing examples for the Node samples

[2017-01-09 14:56] snbuchholz commented on #33
Sorry, any news on this?

[2017-01-10 21:39] lchinitz opened #47 "Downloaded (image) file is different from received file"
The description here, for receiving an attachment, works well, but when I try it with an image I get the following problem.  The original (jpg) file looks like this in a text editor:
\377\330\377\340^@^PJFIF^@^A .....
but the file, after being received and then uploaded (to Amazon S3) looks like this:
\375\375\375\375^@^PJFIF^@^A .....
So all of the escape sequences have been converted to this \37

[2017-01-11 17:55] smich73 opened #48 "Always see "[File of type 'audio/wav'] Oops! Something went wrong. Try again later.""
I have tried a number of wav files when using this sample, including the weather wav file provided and each time it fails with: "[File of type 'audio/wav'] Oops! Something went wrong. Try again later."

This is the C# sample running in the emulator .
In Skype I cannot get a response at all

[2017-01-11 20:25] ejadib commented on #48
@smich73 try removing [this block of code](https://github.com/Microsoft/BotBuilder-Samples/blob/master/CSharp/intelligence-SpeechToText/Controllers/MessagesController.cs#L156-L159) and let me know if it works for you.

[2017-01-11 20:30] smich73 commented on #48
The fix is in the GetImageStream() method:

Replace existing code with:

using (var httpClient = new HttpClient())
            {
                // The Skype attachment URLs are secured by JwtToken,
                // you should set the JwtToken of your bot as the authorization header for the GET request your bot initiates to fetch the image.
                // https://github.com/Microsoft/BotBuil

[2017-01-11 20:30] #48 closed

[2017-01-11 22:48] lchinitz commented on #47
In case this helps, if anyone is looking at this comment.

You can ignore all of the stuff about Amazon S3.  I have used fs to write the "body" directly to the local file system.  When I examine that file, and the original file, they are not the same (in the way described above.)

So, in summary:
* I upload a file [FILE] to the Skype Bot
* I use the resulting content URL to request that file as an

[2017-01-12 14:19] arashberlin opened #49 "[.NET] Are these samples outdated?"
Hi there.

sorry for my English. I try the undersatnd the Microsoft Bot Builder and the Dialogs methods.

In the samples the Microsoft Bot Builder 3.2.1.0 is used.

In the namespace Microsoft.Bot.Builder.Dialogs there is a class called **PromptStyler**

The void method "Apply"  uses **IList**<T> option.

In the new assembly 3.5.0.0  there is **IReadOnlyList**<T> options.

When I updated the soluti

[2017-01-12 16:24] lchinitz commented on #47
Wow.  So I stumbled across the answer.  I have no idea how someone is supposed to figure this out, but someone did.  Although I'm happy to see that they thought it was as crazy as I do.
http://stackoverflow.com/questions/14855015/getting-binary-content-in-node-js-using-request

[2017-01-12 16:24] #47 closed

[2017-01-12 20:14] ejadib commented on #49
They are, but they are being updated. PR #50 takes care of updating the C# samples. That being said, the issue you are having is pretty straightforward to fix; just update the references to be IReadOnlyList. At some point BotBuilder introduced that breaking change.

[2017-01-12 22:24] arashberlin commented on #49
Thanks. I give it a try tomorrow.

Regards 
Arash

On Thu, Jan 12, 2017 at 9:14 PM +0100, "Ezequiel Jadib" <notifications@github.com> wrote:

They are, but they are being updated. PR #50 takes care of updating the C# samples. That being said, the issue you are having is pretty straightforward to fix; just update the references to be IReadOnlyList. At some point BotBuilder introduced that breaking

[2017-01-15 19:56] weiligao opened #52 "[Question] Support for audio/aac and video/mp4 file formats used in Facebook Messenger"
Is it there a way to add support for audio/aac and video/mp4 file formats used in Facebook Messenger, as currently the Bing Speech API is only able to handle audio/wav files? For example, is there a way to convert audio/aac or video/mp4 files into audio/wav files online?

[2017-01-18 04:58] dandriscoll opened #55 "SendAttachment samples should illustrate upload and base64 data URIs"
https://github.com/Microsoft/BotBuilder-Samples/tree/master/Node/core-SendAttachment
https://github.com/Microsoft/BotBuilder-Samples/tree/master/CSharp/core-SendAttachment

These samples do a good job on the attachment side, but don't illustrate upload.

They should show:
1. Uploading via the attachment API (https://docs.botframework.com/en-us/restapi/connector/#!/Conversations/Conversations_Uploa

[2017-01-19 21:42] willportnoy commented on #33
@pcostantini were there any issues fixed with this sample in https://github.com/Microsoft/BotBuilder-Samples/pull/51 ?

[2017-01-19 22:09] pcostantini commented on #33
@willportnoy @snbuchholz , The only breaking change was that the LUIS needed to be updated (already in  PR #51)

[2017-01-22 00:40] oflahero commented on #49
I had to do some messing around also with the 'SettingsScorable' IScorable implementation in the ContosoFlowers sample to get it to work with the latest IScorable also. Guess I should be looking more closely at the pull requests!

[2017-01-22 14:33] ejadib commented on #49
The PR with the updated C# samples was already merged!

[2017-01-22 17:18] oflahero commented on #49
Nice one, thanks E, I must have last pulled just before the merge.

[2017-01-23 13:11] ejadib commented on #55
Thanks @dandriscoll. We applying these enhancements and they will be ready to be reviewed later today.

[2017-01-24 19:02] piffarettig commented on #49
DirectLine Sample has outdated code as well. It could be great if you fix it :)

[2017-01-24 19:36] ejadib commented on #49
The DirectLine sample was also updated to use DirectLine V3. What part is outdated?

[2017-01-25 11:39] Sid245439 opened #61 "[Question] does bing speech api only support audio/wav files?"
Is it there a way to add support for audio/aac and video/mp4 file formats used in Facebook Messenger, as currently the Bing Speech API is only able to handle audio/wav files? For example, is there a way to convert audio/aac or video/mp4 files into audio/wav files online?

[2017-01-25 12:21] pcostantini commented on #61
Hi @Sid245439,
Currently, the Bing Speech API only supports WAV/PCM. You'll need to convert from AAC or MP4 into PCM.

For C# I think one of the best options is to use NAudio (https://www.nuget.org/packages/NAudio/ | https://github.com/naudio/NAudio).
For Node, I'm not aware of any out-of-the-box AAC/MP3 to PCM encoders, but there are Node wrappers for `ffmpeg` (e.g.: https://github.com/fluent-ffm

[2017-01-25 12:22] pcostantini commented on #52
Hi @weiligao,
Currently, the Bing Speech API only supports WAV/PCM. You'll need to convert from AAC or MP4 into PCM.

For C# I think one of the best options is to use NAudio (https://www.nuget.org/packages/NAudio/ | https://github.com/naudio/NAudio).
For Node, I'm not aware of any out-of-the-box AAC/MP3 to PCM encoders, but there are Node wrappers for ffmpeg (e.g.: https://github.com/fluent-ffmpeg

[2017-01-25 13:20] SomaSharathSurya commented on #61
what changes should I make in the existing code so that it would be working with facebook messenger channel

[2017-01-25 17:21] piffarettig opened #62 "Can't run DirectLine sample"
Hello,

I have a bot registered on bot framework. I have it's bot-id, it's Microsoft app id, and its  Microsoft secret password. I have also configured DirectLine as a channel on it.

I have downloaded the [core-DirectLine](https://github.com/Microsoft/BotBuilder-Samples/tree/master/CSharp/core-DirectLine) sample, and I did the following changes before running the sample:

- To the Web Api Project

[2017-01-25 17:21] piffarettig commented on #62
@dandriscoll @willportnoy

Maybe you know the answer to this one. Thanks!

[2017-01-25 17:27] ejadib commented on #62
@piffarettig Let's leave Azure out of the picture for now and try the simplest path first.

What happen if you run both the client and the bot locally and use ngrok to tunnel your bot (updating the Bot URL in the Bot Framework portal to match the one provided by ngrok)? I'm running that scenario right now and it's working for me

[2017-01-25 17:45] piffarettig commented on #62
The same. First I was running it on ngrok as it easier to debug but I tried uploading it to Azure because maybe something related to the connection was happening.

I think that maybe I got wrong the idea of the demo, it works, but I first thought that the DirectLine Client App was  a client to send messages to the user behind the bot, not the bot itself. How could adapt this to make it send messag

[2017-01-25 17:51] ejadib commented on #62
From the image above, it seems the bot received your message. You can try sending "show me a hero card".  The console app is just showing how you can create a simple client using DirectLine... users write in the console and get the response from the Bot in the console.

[2017-01-25 18:21] piffarettig commented on #62
I want to send a message to some user behind Skype Channel.

And what you say is correct. I got wrong the idea of the demo. I thought the idea of this was to achieve an interaction like:

Human -> Bot -> Human

Not like:

[ https://github.com/Microsoft/BotBuilder/issues/2011](Like this use case)

How can redirect the message to the user?

[2017-01-25 19:53] piffarettig commented on #62
I know this is different from the original post, but maybe you could give me a hand.

So I am in this scenario:

Some users use a bot via Skype. These users asks questions to the bot. Whenever the bot is not able to answer any of those questions, a conversation between the user and a customer representative/expert starts.

Just for testing if this works, what I did was:

1. Created a simple bot an

[2017-01-26 11:58] ejadib commented on #55
@dandriscoll this is already merged. Feel free to close the issue if the updates are ok for you.

[2017-01-26 17:46] Sid245439 opened #63 "display attachment content"
can I display attachment content if so instead of attachment.contenttype what should I use???
By attachment I mean a audio file

[2017-01-26 22:08] dandriscoll commented on #55
These are great! Thanks @ejadib and @pcostantini

[2017-01-26 22:08] #55 closed

[2017-02-01 06:22] Sid245439 opened #64 "[Question] deploy a C# to azure"
Guys which document should I refer in order to deply a C# code to azure. Please give the link

[2017-02-01 22:07] willportnoy commented on #64
Can you give more context?  This is one example document: https://docs.microsoft.com/en-us/azure/app-service-web/web-sites-dotnet-get-started

You might consider filiing your issue on https://github.com/Microsoft/BotBuilder where it will get more attention.

[2017-02-02 01:18] isaacabraham opened #65 "[Feature Request] Non ASP .NET sample?"
Can we have a sample that doesn't use ASP .NET to interact with the bot API etc.? Just something super simple so that we have a distilled example of the bot API calls without the ASP .NET stuff around it.

[2017-02-06 01:30] camer314 opened #66 "LUIS custom dimension entity"
I realise this is not exactly related to bot builder but i dont know where else to put LUIS related questions.

What i want to do is define a hierarchical entity with the following template "the car has x doors and y seats"

Now the inbuilt dimension entity is pretty unreliable when it comes to recognizing "x doors" and "y seats" so i want to create my own entities called 'doors' and 'seats' which

[2017-02-10 01:01] willportnoy commented on #65
There is some unit test code that doesn't require asp.net.  Are you primarily hoping to see the essential aspects of the bot logic?

[2017-02-10 01:03] willportnoy commented on #63
Attachment.Content or Attachment.ContentURL: https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Microsoft.Bot.Connector.Shared/ConnectorAPI/Models/Attachment.cs#L46

I'd file your issues on https://github.com/Microsoft/BotBuilder/issues for more exposure.

[2017-02-10 01:03] #63 closed

[2017-02-10 03:41] chrimc62 commented on #66
Create a composite entity between a pre-built number and your description.

From: camer314 [mailto:notifications@github.com]
Sent: Monday, February 6, 2017 9:31 AM
To: Microsoft/BotBuilder-Samples <BotBuilder-Samples@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [Microsoft/BotBuilder-Samples] LUIS custom dimension entity (#66)

I realise this is not exactly related to

[2017-02-10 07:40] isaacabraham commented on #65
Exactly. Writing a bot, hosting it in a simple console, receiving a message, responding to a message etc.. Can you use the .NET SDK in that way? How would you handle auth? etc.

[2017-02-10 09:17] deksden opened #67 "Node samples and env variables"
A lot of samples for node requires defining some env variables, like MICROSOFT_APP_ID, env, PORT. A little bit tricky for me was BING_MAPS_KEY for contoso_flowser sample, which is did not mention in README at all.

IMHO, whole this stuff with variables can be put under management with **dotenv-safe** (https://github.com/rolodato/dotenv-safe) module via .env.example file. In short: dotenv-safe is s

[2017-02-10 13:54] ap-teammobile opened #68 "core-MultiDialogs no Buttons in Emulator"
In the preview picture for the emulator of the readme, there are buttons to click (hotels and flights).

When I run the example in the emulator, it is just text. Can't figure out why.
Isn't this Code just sending text?

`            builder.Prompts.choice(
                session,
                'Are you looking for a flight or a hotel?',
                [Flights.Label, Hotels.Label],

[2017-02-10 16:37] pcostantini commented on #68
Hi @ap-teammobile ,
The screenshot must be outdated. If you wish to display buttons instead of a list of items, you'll need to set the `listStyle` of the `promptOptions` to `ListStyle.button`.
E.g.:

[code]

[2017-02-13 12:13] Sid245439 opened #69 "[Question] Problem with the code..."
Hi ,
I ran this code few days ago it was running fine . But now I dowloaded this code from git and deployed it to azure by changing appid and app password , when I run it now i am getting "Did you upload an audio file? I’m more of an audible person. Try sending me a wav file".

Please help.

![speech_scrennshot](https://cloud.githubusercontent.com/assets/25339664/22883400/1ebcfcbe-f216-11e6-8456-2

[2017-02-14 10:28] mukeshzt opened #70 "[Question] CarouselCards issue with attachmentLayout.carousel"
Below code only show the hero card listing but not the  attachmentLayout.carousel.
[code]
If you review my code. I commented
`//.attachmentLayout(builder.AttachmentLayout.carousel)`

If you remove the comment of this line below error received in bot node

[code]

[2017-02-19 16:50] Noc2 opened #72 "[Question] Bing spell check mode"
The spell checker didn’t work for me until I added the mode:
[code]
Is "spell" the correct mode for Chatbots?

[2017-02-27 23:13] joel-cunningham opened #75 "[Feature Request] Example of running botframework in AWS API Gateway"
I have a bot deployed on AWS API Gateway which is using serverless technology. The bot works fine on my machine and I can see requests coming in to `/api/messages` in API Gateway. But these messages are not being passed to the `connector.listen()`.

Is there any guidance on how requests should interact with the botframework running on this platform?

[2017-02-28 03:48] deksden commented on #67
This commit fixes issue: https://github.com/Microsoft/BotBuilder-Samples/commit/7a204678e332bc35928b1231a3e53432d1a36469

(using dotenv-extended, that is also ok)

Please, mark this issue as closed

[2017-02-28 03:48] #67 closed

[2017-02-28 16:49] willportnoy commented on #65
@isaacabraham we're doing some work to separate out dependencies on particular versions of asp.net, but in the end, you still need to expose a web endpoint for your bot service.

FormTest (C#) and the ConsoleConnector (node) show how you might interact with your bot through the console.  But often people who want a completely custom client use something like DirectLine.

[2017-02-28 16:50] willportnoy commented on #68
It looks like the question was answered - I'm going to close this issue.

[2017-02-28 16:50] #68 closed

[2017-02-28 19:51] isaacabraham commented on #65
There are several web frameworks on .net, of which ASP .NET. Where things could be improved would be using a bare bones example. Even using OwinHost would be a start, but ideally moving away from the magic attributes etc. would be best so people can write their own bot wrappers.

[2017-03-02 13:26] deksden commented on #69
I m not an expert with Speech API & Azure, but:

General tips: Did you try to place some console.log lines into code? No errors? No exceptions? Try to analyze generated logs.

Maybe some APIs require to have registered valid webhook / callback URLs? Maybe, they have localhost registered, but not Azure.

[2017-03-02 21:50] pcostantini commented on #70
Hi @mukeshzt ,
I believe you are using Skype, correct? Have you tested it on the Emulator?
Can you check the length of the options? How long is the `HierarchyLevel2` field? And how many options are you printing on each card?

[2017-03-02 22:03] pcostantini commented on #44
The bot runs on the `/api/messages` endpoint. E.g.: `https://[YOURAZUREBOTAPP].azurewebsites.net/api/messages`

You need to [edit the bot registration](https://dev.botframework.com/bots) and update the message endpoint.
(Remember to set the Microsoft App Id and Microsoft App Password when deploying the bot)

Once the bot is configured and deployed, you can try the webchat from the [Bot registratio

[2017-03-06 11:23] crob1 opened #78 "[Question] Always get a 400 Bad Request response."
Hi,

I can't get this code works with the Bot Framework Emulator. I always have a 400 BAD REQUEST response on Conversation.SendAsync(activity, () => new RootLuisDialog()).

I've triple checked my modelId and SuscriptionKey, but no change.

Thanks.

[2017-03-07 00:30] nycodes9 opened #79 "[Question] Adding a bot as a Team member - (bots in channels) NOT working"
I was successfully able to add(sideload) a 1:1 bot and interact but instruction outlined here recently - [Bots in channels](https://msdn.microsoft.com/en-us/microsoft-teams/botsadd#adding-a-bot-as-a-team-member---bots-in-channels) is not working (the bot doesn't show up for add member in teams)

[2017-03-13 16:45] iseltula opened #90 "[Question] Add an Image to a button"
Hi, I am trying to use CardAction to add a button with an image in it. I was reading through the documentation and I did what it says there, but it is still not working.

`builder.CardAction.openUrl(session,"", "Go to Link").image("http://www.clker.com/cliparts/Y/w/d/M/s/y/call-icon-hi.png")`

Am I doing anything wrong?
Also. Is there any way to use icons in the text like glyph icons or font aweso

[2017-03-13 21:02] mgbennet commented on #90
So, currently images on CardActions are supported by a very limited pool of channels. I think only Facebook Quick Replies supports it right now. You can of course add images as a CardImage to a card, but that's not the same functionality.

I don't believe you can change the font to use glyph icons, but you can add Unicode symbols in the usual ways, which might work for you.

[2017-03-20 13:26] lonche opened #91 "How to reverse geocoding using place_id ?"
In my database is stored place_id. How to make reverse geocoding based on place_id and just show the map to the user ?

[code]

Here is not mentioned place_id.

[2017-03-21 16:47] ejadib commented on #91
This can be closed. The question was asked on Stack Overflow: http://stackoverflow.com/questions/42904014/reverse-geocoding-with-botframework-location

[2017-03-22 08:20] TessFerrandez opened #92 "[Question] Contoso Flowers sample does not show a welcome message on skype"
It shows up just fine in the emulator but the bot is quiet in skype and facebook until the user says something

[2017-03-23 12:21] lonche opened #93 "context.Call does not execute properly"
In my messages controller have this :

[code]

Than, in The RootDialog :

[code]

The default option does not executes properly :

![](https://cloud.githubusercontent.com/assets/6569134/24247313/7632553e-0fcb-11e7-859e-1b9372d97b95.png)

In the debugger, when first time msg.text = "hi", default case is hit but it does not "call" LUIS dialog.
Second time LUIS dialog executes properly.

Any idea why

[2017-03-23 13:38] lonche commented on #93
I solved this.
Use context.Forward instead of context.Call.

[2017-04-04 07:25] #93 closed

[2017-04-04 11:25] lonche opened #103 "Cannot resume conversation after authrorization"
This happens when bot instance handles multiple bots.
I'm using MultiCredentialProvider for authentication :

[code]

Any idea ? Should i add something to resumption cookie or ? Your ideas/suggestions are welcomed !

[2017-04-06 12:47] #103 closed

[2017-04-06 13:19] #91 closed

[2017-04-06 13:24] lonche opened #105 "Handling response after successfully account linking process"
Here : https://developers.facebook.com/docs/messenger-platform/webhook-reference/account-linking
is mentioned that callback response is :

[code]

What type of ActivityTypes should i use to get autorization_code ?

[2017-04-10 13:03] amitkumar3968 opened #106 "Direct line v3 - reply to bot on Attachment having buttons on it."
Hi ALL,

I making project of hitting MS bot via Direct Line Api V3.
direct line is enabled.
token is generating.
communicationg via websocket url .
then able to post message back via Direct line v3 post method.
now , problem is , that, how to post json response  back, if bot earlier messaged me, having hero card with buttons
on it .

I am not able to post button action via Direct line post api.

[2017-04-13 22:51] YanXuHappygela opened #108 "Return heroCard in blog-LUISActionBinding"
Hello,
I'm wondering how I can return a herocard in the fulfill function in the ActionBinding framework? The examples are all strings in the callback. For example, in the WeatherInPlaceAction, I want to show a sunny picture with temperature instead of just a sentence. Really appreciate your help!

Yan

[2017-04-14 16:46] #108 closed

[2017-04-17 18:26] jerrak0s opened #109 "[Question] Store user data"
I am trying to store some user data for a bot but I cannot find the right way. I used a .txt file and this method works but when I upload the project all the users that will use the bot, will share the same file and I don't want to do that. I want to store some settings for every different user that will use the bot and keep these settings for ever.
I tried Stateclient and GetUserData but the stor

[2017-04-19 22:55] psihonavt opened #110 "[Question] Error when clicking on a button in SignInCard rich card"
Screenshot with error: https://screencast.com/t/L6olsgWv
Sample code:
[code]

[2017-04-20 10:05] stelazh opened #111 "[Question] How to send conversation data from bot to an email address"
** if (message.Text.Equals("current city", StringComparison.InvariantCultureIgnoreCase))
            {
                string userCity;

                var city = context.ConversationData.Get<string>(ContextConstants.CityKey);

                if (context.PrivateConversationData.TryGetValue(ContextConstants.CityKey, out userCity))
                {
                    await context.PostAsync($"{u

[2017-04-24 08:17] #105 closed

[2017-04-24 08:20] palmerabollo commented on #75
There is some info for Azure Functions here https://github.com/Microsoft/BotBuilder/issues/1558#issuecomment-257959505 but I'm also looking for an example that works on AWS Lambda + AWS API Gateway.

[2017-04-24 10:29] ClownPrinceCS30 opened #113 "[Question] CSharp/core-BasicMultiDialog: RootDialog.cs"
Hey there, I've been trying to use your /CSharp/core-BasicMultiDialog/Dialogs/RootDialog.cs example and this.NameDialogResumeAfter and  this.AgeDialogResumeAfter in the SendWelcomeMessageAsync and  NameDialogResumeAfter methods are throwing errors? Do I need to pass parameters to them? line 37 and 46 btw

[2017-05-04 14:12] targetnull opened #117 "[Question] Node\intelligence-LUIS can not recognize my query"
I'm trying the `Node\intelligence-LUIS` example locally in the bot-emulator, it replies

no matter what I type, even 'help'.

I have specified my LUIS endpoint, and I'm sure the LUIS service is OK because I can get normal results by typing directly in the browser url. How can I get this example work? Thanks

[2017-05-06 00:35] ejadib commented on #117
what version of the botBuilder package are u using?

[2017-05-06 08:45] targetnull commented on #117
The `npm view botbuilder version` gives `3.7.0`, I guess that's the latest version.
I cloned the sample repo about a week ago, so it should not be the problem of an outdated sample.

[2017-05-06 10:49] ejadib commented on #117
Have you trained and published the LUIS model? Have you updated the Luis Model URL in the sample?

[2017-05-06 12:00] targetnull commented on #117
1. Yes, I have trained and published the LUIS model. I just trained and published a test app [here](https://westus.api.cognitive.microsoft.com/luis/v2.0/apps/f2059ab9-6d6b-4cf1-baae-f5a70995cbc9?subscription-key=300ccdbb2cf74771a289cad994c1b293&verbose=true&timezoneOffset=0&q=) containing two intents, `search location` and `book room`, you can try appending `where is the latest hotel` in the url a

[2017-05-07 16:16] ejadib commented on #113
What's the error you are getting? Code looks fine. What version of the BotBuilder SDK are u using?

[2017-05-11 08:14] singhsurya opened #120 "[Question] Human hand off sample using .Net sdk"
I came across an article for human hand off in MS bot [here](https://docs.microsoft.com/en-us/bot-framework/bot-design-pattern-handoff-human)

A sample using .nodeJS is given in this article. Do we have this sample in .Net also? If yes then please someone provide the address. Thanks

[2017-05-11 12:47] tom-moveworkforward opened #121 "Failure due to: ThreadNotFound. with Node/core-GetConversationMembers example when I try it in skype/msteams"
Locally and test web-chat works fine

[2017-05-12 18:32] RomanLysogor opened #122 "[Question] GZipSerialize for ConversationReference throws SerializationException"
GZipSerialize as an existing extension method of **ConversationReference** is throwing **SerializationException** because **ConversationReference** class is not marked as [Serializable]

[2017-05-15 06:41] ejadib commented on #122
Please report the issue in github.com/Microsoft/BotBuilder

[2017-05-15 13:39] tom-moveworkforward commented on #121
Issue solved, in my case I was trying to request this information for direct bot<->user channel. When you request same info from group channel it works fine.

P.s I guess output error should be more precise, describing that this rest api works only for group chats

[2017-05-15 13:39] #121 closed

[2017-05-15 16:17] EricDahlvang commented on #120
Near the bottom of that page you referenced, there is a link to this repo: https://github.com/palindromed/Bot-HandOff

Scrolling down a little on that page you'll see:

[2017-05-16 17:29] volodyad opened #124 "[Question] core-GlobalMessageHandlers cancel with confirmation"
I want to create Cancel scrollable like in core-GlobalMessageHandlers, but is should show confirmation dialog. My problem is that i can't receive dialog response from IDialog inside ScrollableBase.
I have this code
[code]
But how can I process cancelDialog  response, so I can call this.task.reset() ?

[2017-05-18 00:05] ejadib commented on #120
You can also take a look to https://github.com/ankitbko/human-handoff-bot

[2017-05-18 06:50] OmShrivastava opened #126 "How to Refresh WebChat Token"
Hi
I am using Webchat in my web site application
I am generated Token using WebChat Secret, **Not using DirectLine**

I am not able to find API and process to Refresh token after 30 min for my Webchat
due to this chat session is expired after 30 min and stop responding

If I regenerate token with secret my conversation data will lost

[2017-05-22 00:49] wolf0x opened #134 "[Question] DialogAction.validatedPrompt() has been deprecated as of version 3.8. Consider using custom prompts instead."
Node.js 6.9.5 + NPM 4.6.1 + Bot Builder 3.8.3

DialogAction.validatedPrompt() has been deprecated as of version 3.8. Consider using custom prompts instead.

the source code is not updated yet.

[2017-05-22 13:40] pcostantini commented on #134
Hi @wolf0x ,
There is an open PR with updates to SDK 3.8.2 (https://github.com/Microsoft/BotBuilder-Samples/pull/125), which replaces the usage of validatedPrompt with custom prompts.
Their usage is straightforward using an IntentDialog. See the following diff to understand how it applies to the Contoso Flowers sample:
https://github.com/Microsoft/BotBuilder-Samples/pull/125/files#diff-0f2118a4b14

[2017-05-22 14:10] dariuszparys opened #135 "Session context missing in Luis Intent Actions"
I'm leveraging the Luis Intent Actions https://github.com/Microsoft/BotBuilder-Samples/tree/master/Node/blog-LUISActionBinding and would like to access the session to respond with attachments instead of a simple callback of text to the user. As the `session` context of the dialog is not available, how is someone supposed to do this?

@pcostantini @ejadib

[2017-05-22 14:32] pcostantini commented on #135
Hi @dariuszparys,
There is an open PR with just that feature: https://github.com/Microsoft/BotBuilder-Samples/pull/130

It allows to specify an override for sending custom responses when actions are fulfilled:
https://github.com/Microsoft/BotBuilder-Samples/pull/130/files#diff-a9a8e724ec00a1d53b7cd3af8bf1b7ddR38

Hope it helps.
Regards,
-PabloC.

[2017-05-23 11:51] dariuszparys commented on #135
Yes, this helps. Looking forward to see this functionality merged.

[2017-05-23 11:51] #135 closed

[2017-05-26 10:34] AndreMantas opened #138 "[Question] Microsoft.Cognitive.LUIS.ActionBinding"
Hi.

I was trying to implement Action Binding on my bot that uses Luis Dialogs but when creating an Action, Visual Studio can't find the ActionBinding namespace in `Microsoft.Cognitive.LUIS.ActionBinding`

I copied the imports from [here](https://github.com/Microsoft/BotBuilder-Samples/blob/master/CSharp/Blog-LUISActionBinding/LuisActions.Samples.Shared/FindAirportByCodeAction.cs)

I have the late

[2017-05-26 16:00] ejadib commented on #138
I don't think the LuisActionBinding lib is part of the Microsoft.Cognitive.LUIS Nuget package. Just get the LuisActionBinding bits from https://github.com/Microsoft/BotBuilder-Samples/tree/master/CSharp/Blog-LUISActionBinding/Microsoft.Cognitive.LUIS.ActionBinding

[2017-05-26 16:23] AndreMantas commented on #138
Hmm I see. But will it ever be?

I cloned the whole BotBuilder-Samples repo, built it and copied the ActionBinding .dll to a folder in my project. Then I added a reference to that dll. It works, but I'm afraid it's not a good long term solution.

Any better ways?

[2017-05-26 16:54] ejadib commented on #138
Right now, nope

[2017-05-29 10:30] AndreMantas commented on #138
Ok thanks. This ActionBinding is really useful, would be cool if it had its own package...

I'm having problems with Custom Entities of type List (getting Exception Object must implement IConvertible. - 'System.InvalidCastException' in mscorlib.dll when user types a value that is on a list). I guess I should open a new issue?

[2017-05-30 18:54] AndreMantas opened #139 "[Question] ActionBinding - Resolution in matching entity throwing InvalidCastException when using Custom List Entities"
I faced a problem yesterday when the user typed a value that is a list entity which would cause an InvalidCastException to be thrown in the ActionBinding project.

Exception message: `Object must implement IConvertible`

After some debugging (pictures attached) I found the problem and came up with a temporary fix.

In LuisActionResolver.cs (line ~445)

Before:

[code]

After:

[code]

(and the req

[2017-06-05 10:16] OmShrivastava commented on #126
I have got solution to refresh web-chat token by using direct-line API

**I am generating token for my web-chat using below URL**
https://webchat.botframework.com/api/conversations

**and refreshing with direct-line it's working**
https://directline.botframework.com/v3/directline/tokens/refresh

[2017-06-05 10:16] #126 closed

[2017-06-08 13:16] jrmcdona opened #144 "Question: Select menu instead of Prompt.Choice?"
Hello-
I see the ability to have a Prompt.Choice in the Dialog but I am wondering if the ability to use a series of two select menus is supported yet?   Basically a Rich form instead of a form with the basic lists and bullet points.

Thanks!

[2017-06-09 11:03] jrmcdona commented on #144
Found it in the AdaptiveCards.

[2017-06-09 11:03] #144 closed

[2017-06-15 11:29] swatikurra17 opened #148 "[Question] Node\intelligence-LUIS doesn't respond as expected"
I'm trying the Node\intelligence-LUIS example locally in the bot-emulator, it always reply back

Sorry, I did not understand 'Hotel'. Type 'help' if you need assistance.
no matter what I type, even 'help'.

I have specified my LUIS endpoint, and I'm getting results by typing the url directly in the browser. Please help in rectifying this issue.
Thanks
Swati

[2017-06-17 12:23] pcostantini commented on #148
Hi @swatikurra17 , be sure to remove the 'q' parameter from the url when adding it to the .env file (or the Azure Web Site AppSettings)
Also, you can try testing the URL invoking the recognizer directly:

`builder.LuisRecognizer.recognize("This is a test", "[model_url]", console.log)`

[2017-06-21 09:01] Sachin-Intap opened #149 "[Question] Unable to add more than 3 buttons in ThumbnailCard"
I am trying to create ThumbnailCard with 4 buttons (CardAction imBack). According to the documentation, both the Thumbnail and HeroCard have a limit of 5 buttons. But the card is not showing more than 3 buttons. Also i am unable to show complete text in card itself (around 100-200 characters).

Thanks
Sachin

[2017-06-21 15:46] JasonSowers commented on #149
What SDK are you using node/.NET, and what channel(s)?

[2017-06-22 05:06] Sachin-Intap commented on #149
i am using Node and Testing on Skype.

[2017-06-22 07:36] vgoyal1996 opened #151 "TypeError: Swagger.ApiKeyAuthorization is not a constructor"
I am trying to run the app.js file in the DirectLineClient folder in Node.js in accordance with the documentation provided. But I am getting the following error while authorizing the api key.
![error](https://user-images.githubusercontent.com/12955559/27422063-81d2c95c-574a-11e7-8dd0-62b9970660af.png)
I am getting this error in line 21 of the following code snippet.
![snippet](https://user-images.

[2017-06-23 11:12] onbabu opened #152 "[Question] Problem With Buttons, Cards & Images In Direct Line"
Hi,
      I am new to bot frame work, and  trying to use direct line bot (form flow bot) in my application (developed with .net and angularJS), the problem is it was running properly in web chat, but in direct line i am not able to display same buttons and cards. can any one have sample code which was running properly With Buttons, Cards & Images using Direct Line.

Thanks
Narendra

[2017-06-26 21:28] 37Stars commented on #113
The error is "Argument 2: cannot convert from 'method group' to 'ResumeAfter<string>'".

[2017-06-26 23:21] ejadib commented on #113
I cannot reproduce the error, I just ran the sample and its working just fine. Are u updating the code somehow? Make sure to get the latest version of the code.

[2017-06-27 10:47] Zelophobian commented on #111
I have a similar problem. I want to send the result of a waterfall conversation via email.
But I cannot get the cross-channel message to work.
Only answering on the specific channels seems to work.

Sorry for piggybacking.

[2017-06-29 23:05] nwhitmont opened #154 "[Bug] Node/core-GetConversationMembers example doesn't work"
I'm trying to test the code example `Node/core-GetConversationMembers` but it fails on localhost + Emulator with the following error:

[code]

What am I doing wrong? Does this sample require additional configuration to run correctly?

[2017-07-05 17:53] nwhitmont commented on #42
relates to: https://github.com/Microsoft/BotBuilder-Samples/tree/master/CSharp/intelligence-SpeechToText

[2017-07-05 17:53] nwhitmont commented on #44
relates to: https://github.com/Microsoft/BotBuilder-Samples/tree/master/Node/intelligence-ImageCaption

[2017-07-05 17:57] #52 closed

[2017-07-05 17:59] nwhitmont commented on #61
duplicate of #52

[2017-07-05 18:00] #61 closed

[2017-07-05 18:01] nwhitmont commented on #61
@SomaSharathSurya If you still have questions, please post on Stack Overflow using the tag "botframework", or [BotBuilder](https://github.com/Microsoft/BotBuilder) repository

[2017-07-05 18:03] nwhitmont commented on #62
Hi @piffarettig - If you still have questions, please post a new issue on [BotBuilder](https://github.com/Microsoft/BotBuilder) repo.

[2017-07-05 18:03] #62 closed

[2017-07-05 18:16] nwhitmont commented on #64
- https://docs.microsoft.com/en-us/azure/app-service-web/web-sites-deploy
- https://docs.microsoft.com/en-us/bot-framework/deploy-bot-overview

[2017-07-05 18:16] #64 closed

[2017-07-05 18:23] nwhitmont commented on #66
If you have additional questions, please open a new issue on [BotBuilder](https://github.com/Microsoft/BotBuilder/issues) repo. thx

[2017-07-05 18:23] #66 closed

[2017-07-05 18:27] nwhitmont commented on #69
@Sid245439 Apologies for the late response. Are you still having issues with the code sample? Are you using .NET or Node SDK? Which sample has the error?

[2017-07-05 18:29] nwhitmont commented on #70
@mukeshzt If you are still having issues, please open a new issue on BotBuilder repo here: https://github.com/Microsoft/BotBuilder

[2017-07-05 18:29] #70 closed

[2017-07-05 18:31] nwhitmont commented on #72
If you still have questions, please open a new issue on BotBuilder repo here: https://github.com/Microsoft/BotBuilder

[2017-07-05 18:31] #72 closed

[2017-07-05 18:37] nwhitmont commented on #78
If you still have questions, please open a new issue on BotBuilder repo here: https://github.com/Microsoft/BotBuilder

[2017-07-05 18:37] #78 closed

[2017-07-05 18:40] nwhitmont commented on #79
If you still have questions, please open a new issue on BotBuilder repo here: https://github.com/Microsoft/BotBuilder

[2017-07-05 18:40] #79 closed

[2017-07-05 18:41] nwhitmont commented on #90
If you still have questions, please open a new issue on BotBuilder repo here: https://github.com/Microsoft/BotBuilder

[2017-07-05 18:41] #90 closed

[2017-07-05 18:43] nwhitmont commented on #92
@TessFerrandez Are you using .NET or Node SDK sample code?

[2017-07-05 18:46] nwhitmont commented on #106
If you still have questions, please open a new issue on BotBuilder repo here: https://github.com/Microsoft/BotBuilder

[2017-07-05 18:46] #106 closed

[2017-07-05 18:48] nwhitmont commented on #109
If you still have questions, please open a new issue, and specify if you are using .NET or Node SDK, on BotBuilder repo here: https://github.com/Microsoft/BotBuilder

[2017-07-05 18:48] #109 closed

[2017-07-05 18:53] nwhitmont commented on #110
@psihonavt Are you still experiencing the issue after upgrading to `botbuilder@3.8.4`?

If you still have questions, please open a new issue on BotBuilder repo here: https://github.com/Microsoft/BotBuilder

[2017-07-05 18:53] #110 closed

[2017-07-05 18:55] nwhitmont commented on #111
If you still have questions, please open a new issue on BotBuilder repo here: https://github.com/Microsoft/BotBuilder

[2017-07-05 18:55] #111 closed

[2017-07-05 18:59] #120 closed

[2017-07-05 19:00] nwhitmont commented on #122
If you still have questions, please open a new issue on BotBuilder repo here: https://github.com/Microsoft/BotBuilder

[2017-07-05 19:00] #122 closed

[2017-07-05 19:02] nwhitmont commented on #124
If you still have questions, please open a new issue on BotBuilder repo here: https://github.com/Microsoft/BotBuilder

[2017-07-05 19:02] #124 closed

[2017-07-05 19:08] nwhitmont commented on #134
If you still have questions, please open a new issue on BotBuilder repo here: https://github.com/Microsoft/BotBuilder

[2017-07-05 19:08] #134 closed

[2017-07-05 19:09] nwhitmont commented on #138
If you still have questions, please open a new issue on BotBuilder repo here: https://github.com/Microsoft/BotBuilder

[2017-07-05 19:09] #138 closed

[2017-07-05 19:10] nwhitmont commented on #139
@AndreMantas
If you still have questions, please open a new issue on BotBuilder repo here: https://github.com/Microsoft/BotBuilder

[2017-07-05 19:11] #139 closed

[2017-07-05 19:12] nwhitmont commented on #148
If you still have questions, please open a new issue on BotBuilder repo here: https://github.com/Microsoft/BotBuilder

[2017-07-05 19:12] #148 closed

[2017-07-05 19:25] TessFerrandez commented on #92
The .net sample

Hämta Outlook för iOS<https://aka.ms/o0ukef>
_____________________________
From: Nils <notifications@github.com>
Sent: onsdag, juli 5, 2017 8:43 em
Subject: Re: [Microsoft/BotBuilder-Samples] [Question] Contoso Flowers sample does not show a welcome message on skype (#92)
To: Microsoft/BotBuilder-Samples <botbuilder-samples@noreply.github.com>
Cc: Tess Ferrandez <tess_ferrandez@ho

[2017-07-05 21:59] nwhitmont commented on #149
@Sachin-Intap According to the Skype documentation at https://dev.skype.com/bots - under section 6 "Cards and actions > CardActions > Hints and tips" it describes the limitations of the number of buttons that can be displayed depending on the other content included in the card.

The reason is because you can only use three buttons when including the other content like image, title, subtitle, text,

[2017-07-05 21:59] #149 closed

[2017-07-05 22:24] JasonSowers commented on #152
@onbabu what types of cards rich card or adaptive cards?

[2017-07-05 22:28] #49 closed

[2017-07-05 22:32] JasonSowers commented on #113
Unable to reproduce as well, please reopen if you would like to continue the discussion.

[2017-07-05 22:32] #113 closed

[2017-07-06 06:42] Sachin-Intap commented on #149
Thanks
 "Title, subtitle, text – 5 buttons" will work here. But i am still unable to show complete text in card.
![screen shot 2017-07-06 at 12 11 12 pm](https://user-images.githubusercontent.com/7310730/27898591-46306bca-6244-11e7-9c12-9a5ad366cc97.png)

[2017-07-06 12:53] onbabu commented on #152
Hi JasonSowers, I am using Rich Cards and Form Flow Buttons, they are displaying properly in web chat. How could i display them in direct line

[2017-07-07 05:22] HelloJyo opened #155 "Display HeroCard using luis action binding"
how to create a HeroCard in the "fulfill()" of  luis action binding? any examples..?

[2017-07-07 10:05] HelloJyo commented on #108
Did you get it? Can you share some info how you make it work?

[2017-07-07 14:50] pcostantini commented on #155
Hi @HelloJyo ,
Take a look at the FullfillReplyHandler @ https://github.com/Microsoft/BotBuilder-Samples/blob/master/Node/blog-LUISActionBinding/samples/bot/app.js#L38
See how to configure LAB with the option @ https://github.com/Microsoft/BotBuilder-Samples/blob/master/Node/blog-LUISActionBinding/samples/bot/app.js#L28

More information here:
- [README](https://github.com/Microsoft/BotBuilder-Sam

[2017-07-08 01:28] pcostantini commented on #108
Please take a look at this comment:
https://github.com/Microsoft/BotBuilder-Samples/issues/155#issuecomment-313703804

[2017-07-10 04:02] HelloJyo commented on #155
How can I make the intent specific logic (content on the "card") coded as:

`fulfill: function (parameters, callback) {
    utilities.FilterFunction(parameters.x, parameters.y).then(function (matches){

       utilities.CreateCard(session, matches).then(function(cards){

            var reply = new builder.Message(session)
                .attachmentLayout(builder.AttachmentLayout.carousel)

[2017-07-10 06:21] HelloJyo commented on #155
If there are multiple intents (say 10) the app.js file needs to handle more logic which makes it complex.
What I want is return the result object (i.e, "matches" ) from

`utilities.FilterFunction(parameters.x, parameters.y).then(function (matches)`

to the FulfillReplyHandler and create the HeroCard there. An example would be helpful if possible.

regards,
HelloJyo

[2017-07-10 06:29] mukeshzt commented on #35
HI,

I know this close issue can you guide me how you manage this. I want to convert wma to wav

[2017-07-10 07:34] binhpht opened #156 "[Question] How can I have the same data in the bot.use( session ) and the bot.dialog('/', [ function (session)"
Hi everybody
I use middleware to get information to authentication users from hidden message that clients automatically send to Node server.  In the conversation, I need to access to session.userData.* to get user information.
I put data into middleware part, in
[code]
However, I couldnt access data in the session in the begin dialog.
Can anyone help me for this situation.
Thanks.

[2017-07-11 17:53] pcostantini commented on #155
Hi @HelloJyo

You should NOT create the card in the action's `fulfill` method. In it you should only invoke your action and pass back a result using the `callback` handler.

You should create the HeroCard from the optional `fulfillReplyHandler` when calling the `bindToBotDialog` method. See here for an example: https://github.com/Microsoft/BotBuilder-Samples/blob/master/Node/blog-LUISActionBinding

[2017-07-12 05:33] HelloJyo commented on #155
Okay, I got it now...
Thanks and regards,
       -Jyo

[2017-07-12 05:33] #155 closed

[2017-07-13 07:10] Mrinnaal opened #159 "On intelligent SpeechToText, after this morning, it is not accepting the audio file itself. It is throwing an error like: DirectLine: Failed to post activity. No files uploaded"
### SDK Platform

### URL of Code Sample
https://github.com/Microsoft/BotBuilder-Samples/tree/master/CSharp/intelligence-SpeechToText

### Problem Description

Check to it and return back please!

[2017-07-13 07:16] Aaruhi013 commented on #117
Even I am facing the same issue. I have used the sample code provided.

[2017-07-13 20:12] andrecarlucci opened #160 "Where is the Microsoft.Cognitive.LUIS.ActionBinding nuget package?"
Hi guys,

Where is the Microsoft.Cognitive.LUIS.ActionBinding nuget package?

Tks!

[2017-07-17 20:10] stevengum97 commented on #156
Hi @binhpht... I'm a little confused, are you trying to access `session.userData` in your middleware or in a dialog?

[2017-07-17 20:47] stevengum97 commented on #117
@targetnull If you are still running into this issue, can you set your LUIS application as public (via Settings in the LUIS portal, or via the Authoring Endpoint) and provide the App ID so we can test it with the sample? From what you've reported the sample should be working...

[2017-07-18 03:04] brandon1780 commented on #156
Session/userdata let me know take that . out.

[2017-07-18 06:34] binhpht commented on #156
@stevengum97  I tried to access in dialog. In my case, My bot is  received message through Direct Line and Web Iframe, they have the same convervationID but Im not sure they are the same session.

[2017-07-18 20:45] AndreMantas commented on #160
I asked the same here: https://github.com/Microsoft/BotBuilder-Samples/issues/138

You'll need to add a reference to their project after cloning it

[2017-07-18 20:51] andrecarlucci commented on #160
Hmm.... so sad :(
Tks for the udpate, @AndreMantas .

[2017-07-18 20:51] #160 closed

[2017-07-20 07:45] binhpht opened #165 "How can I Call an intent from LUIS from session"
### SDK Platform
 Node SDK

### URL of Code Sample

### Problem Description

When user connect to the bot, user want to make some intent request, but  before my bot can help users, the bot need to check their credentials, for example, username and password. If users havent logined to the system, the bot requires users login and after-that forward to the intent requests of users.
Now I am finding t

[2017-07-20 08:32] #156 closed

[2017-07-20 09:51] sumit99531 opened #166 "internal server error when connected to cortana channel"
### SDK Platform

Microsoft bot connector v3.0.2

### URL of Code Sample

https://github.com/Microsoft/BotBuilder-Samples/tree/master/CSharp/core-DirectLine

### Problem Description

when i connect the bot with cortana channel, it gives internal server error, but works fine on direct line chat client
{
  "error": {
    "botId": "findMsg1",
    "botRequest": {
      "type": "message",
      "id": "

[2017-07-24 10:28] chetanmekha opened #167 "Kik Carousel not working properly."
Hello Team,
I am facing an issue with KiK communication channel. I want to show carousel with button selection but only the last option is available for selection.
I tried with setting builder.ListStyle["inline"] and builder.ListStyle["list"] but no success.

![screenshot_2017-07-24-15-42-46](https://user-images.githubusercontent.com/3276861/28519348-dbced70a-7088-11e7-9ee9-37c44fce10e5.png)

@Lar

[2017-07-24 13:00] prabhakarreddy1234 opened #168 "Skype Video calling and recording Bot"
Do you have plans to build a sample video calling and recording bot using skype. ?

[2017-07-25 01:25] nwhitmont commented on #167
@chetanmekha Please post your questions about Bot Framework, and include your SDK language, as well as code examples, on the main BotBuilder SDK repository here: https://github.com/Microsoft/BotBuilder/issues/new

[2017-07-25 01:25] #167 closed

[2017-07-25 14:33] edreux opened #169 "documentation request for entityExtractor"
I'm testing your Luis.Actions.Sample.Bot.

In AssignEntitiesToMembers, you can pass an entityExtractor.
I have no idea how to create one.

My issue is that Ihave 2 matching entities that are returned and I need an entityExtractor to do the job.

[code]
The scenario I'm trying to address is: In the string "I have 200 users in Office 365", 2 entities of type number are returned, while I would like t

[2017-07-25 14:36] edreux commented on #169
for example, my entityExtractor would ignore "365" if it determines that this string (startindex , endindex) is member of another entity with value "Office 365".

[2017-07-27 08:55] jctrebalag opened #170 "Proactive message example issue"
### SDK Platform

Node SDK

### URL of Code Sample

https://github.com/Microsoft/BotBuilder-Samples/tree/master/Node/core-proactiveMessages/startNewDialog

### Problem Description

Hi,
I'm trying to use the proactive message example and I'm dealing with an issue regarding the 'resume' option allowed by the patched beginDialog method(cf. botadapter.js).
[code]
Actually, when it is set to 'false', t

[2017-07-30 04:14] pradeepvengala opened #171 "Rich Cards (Attachments) not working in Teams & Skype"
Rich Cards (Attachments) not showing up in Team & Skype.

I used sample 'CardsBot' and deployed to Azure Web App and updated App ID & Password. However, Cards are not showing up in Microsoft Teams & Skype.

However, it is perfectly working in BOT Emulator.

Please help.

[2017-08-01 10:27] pomarc opened #172 "intelligence-SpeechToText bot always gives timeout"
### SDK Platform
node sdk

### URL of Code Sample
https://github.com/Microsoft/BotBuilder-Samples/tree/master/CSharp/intelligence-SpeechToText

### Problem Description
I've added my key, started the sample. each time I upload the wav the bot waits, then there is a timeout when posting the wav to Bing.
The access token is received correctly by the bot, but the post request fails with timeout.

[2017-08-01 20:47] JasonSowers commented on #171
@pradeepvengala are you using node or .net?

[2017-08-01 23:42] pradeepvengala commented on #171
Hi Jason, I’m using .NET code.

Is there any config setting that I need set to make the cards work in Skype for Business & Teams?

Please help!

Thanks,
Pradeep

From: Jason Sowers [mailto:notifications@github.com]
Sent: Tuesday, August 1, 2017 1:47 PM
To: Microsoft/BotBuilder-Samples <BotBuilder-Samples@noreply.github.com>
Cc: Pradeep Vengala (HCL America Inc) <v-prave@microsoft.com>; Mention <me

[2017-08-02 09:17] pomarc opened #173 "typo"
### SDK Platform
node.js
### URL of Code Sample
BotBuilder-Samples/Node/core-proactiveMessages/startNewDialog/botadapter.js

### Problem Description
"use*r* strict" instead of "use strict"

[2017-08-02 16:25] JasonSowers commented on #173
#174 pull request created and merged.  In the future please feel free to create a pull request.

[2017-08-03 00:50] nwhitmont commented on #171
@pradeepvengala What is the URL to the "CardsBot" sample you are using?

[2017-08-03 02:28] pradeepvengala commented on #171
URL: https://azurespendbot.azurewebsites.net

One another quick question, how to register BOT with “Skype for business”? Please provide references.

Appreciate your time and help.

Thanks,
Pradeep

From: Nils [mailto:notifications@github.com]
Sent: Wednesday, August 2, 2017 5:51 PM
To: Microsoft/BotBuilder-Samples <BotBuilder-Samples@noreply.github.com>
Cc: Pradeep Vengala (HCL America Inc) <v-pra

[2017-08-04 01:27] nwhitmont commented on #171
@pradeepvengala For general questions about Bot Framework, channel configuration, and the Bot Builder SDK, please open a new issue at https://github.com/microsoft/botbuilder/issues/new

[2017-08-04 08:09] PierrickGT opened #175 "[Question] Logging middleware doesn't work with Prompts"
### SDK Platform
Node SDK

### Code Sample
https://github.com/Microsoft/BotBuilder-Samples/tree/master/Node/capability-middlewareLogging

### Problem
Hi,

I'm using a middleware this way in order to send messages from a user to my live chat.
[code]
The logIncomingMessage function is the following.
[code]
So this function send the messages from the user to Crisp and then if the user is not in a liv

[2017-08-07 20:55] pradeepvengala commented on #171
Hello Team,

Can you please provide us an update on this issue?

Issue: Rich Cards (attachments) are not showing in Microsoft Teams, Skype. I can only see the cards in BOT Emulator.

Below are the screenshots for your reference. Please help.
[cid:image004.jpg@01D30F84.D000CF10]
Getting below message “Get the latest version of Skype to view this card” even after installing the latest (up to date) v

[2017-08-07 22:52] nwhitmont commented on #171
@pradeepvengala For general questions about Bot Framework, channel configuration, and the Bot Builder SDK, please open a new issue at https://github.com/microsoft/botbuilder/issues/new

[2017-08-07 22:52] #171 closed

[2017-08-09 13:48] mpicciolli opened #176 "[azure] Deploy node sample"
Hi,

I want to deploy Node/demo-ContosoFlowers project on Azure.

I have to create a Bot service ressource or a Web app ? Because if i create a bot service ressource, and deploy demo-ContosoFlowers code, bot doesn't work :

Maybe i have to add port in environnement variable ? but which ?

[2017-08-09 15:21] JasonSowers commented on #176
You are looking for a web app, the bot service uses azure functions to build your bot.  [Here is a blog](https://blog.botframework.com/2017/04/27/Deploying-Botframework-To-Azure-On-Linux/) explaining how to do it in azure using linux.

[2017-08-10 09:04] PierrickGT commented on #175
Nevermind, my implementation of a custom Redis store was in fault.
I recommend you the following package that implements it well!
suttna/botbuilder-redis-storage

[2017-08-10 09:04] #175 closed

[2017-08-10 15:49] #176 closed

[2017-08-17 09:26] gomteshhatgine opened #177 "How to add potentialAction in card relates to .NET"
### SDK Platform
 Relates to .NET

### Problem Description
I have to add **"Add a comment** button in card and when I click on that it will shows input box after putting comment that comment should post into API but
**Not getting property for potentialAction in cards**
as suggested here
[https://docs.microsoft.com/en-us/outlook/actionable-messages/card-reference#actions](url)

My code is
[code1.tx

[2017-08-17 15:33] JasonSowers commented on #177
relates to https://github.com/Microsoft/BotBuilder/issues/3012

What channel are you using?  the "Invoke" action is specific to MS teams.  I think there is some confusion between the broad term "cards"  and the rich cards/adaptive cards that bot framework can use.

[2017-08-18 06:01] gomteshhatgine commented on #177
Currently I getting response to API endpoint for invoke operations.

but actual problem is there any way send any card having comment box and button from C# code instead of JSON payload into MS teams through BOT

[2017-08-24 12:37] aarrotta commented on #151
Same issue here with a custom JS client generated using swagger:
[code]

[2017-08-25 02:50] nupurkamble opened #179 "Which key to use after buying the azure key ?"
I have written a bot in C# and added luis to it.
the nelow being the basic luis part of the code

[code]
So in place of model id I've entered the app id from [the luis application](https://www.luis.ai/applications) page.
The only issue is what should I enter in place of the subscription key.
When I enter the Programmatic API Key found on https://www.luis.ai/keys, the quota gets over once 1000 endp

[2017-08-26 13:40] ILOFI commented on #179
If you buy Luis key from Azure, you should notice that, the key can come from different place in the world, because Azure has many servers in the world.
So you should choose the right region corresponding to the key.

` //
        //
        //     Construct the LUIS model information.
        //
        // Parameters:
        //   modelID:
        //     The LUIS model ID.
        //
        //

[2017-08-26 14:53] nupurkamble commented on #179
@ILOFI Thank you so much. It worked. I'm closing the issue. :)

[2017-08-26 14:54] #179 closed

[2017-08-28 11:41] jinot92 opened #180 "DirectLine client : 'client' returned from swagger is incomplete"
Hi , I am relatively new to node and am trying to implement DirectLine Client using node.
The sample works perfectly when I run it on the command prompt, but gives errors when I try to tweak it and run it as a web client.
When I log the client in the code
[code]
The response is different for the two versions i.e the web version of the client has a part missing in it.
I have attached logs for each

[2017-08-29 07:02] #180 closed

[2017-08-29 08:30] jinot92 commented on #180
i changed the swagger-client version to the version mentioned in the sample. That fixed my problem

[2017-08-29 08:31] jinot92 commented on #151
I has a similar issue(client wasnt getting initialized).I changed the swagger-client version to the version mentioned in the sample. That fixed my problem.

[2017-08-31 08:48] gomteshhatgine commented on #177
So is there not any way to perform invoke action buttons in O365ConnectorCard

[2017-08-31 17:02] JasonSowers commented on #177
The bot framework supports [Adaptive cards](http://adaptivecards.io/) and [Rich cards](https://docs.microsoft.com/en-us/bot-framework/dotnet/bot-builder-dotnet-add-rich-card-attachments).  There is no O365ConnectorCard support within bot framework that I know of.  Maybe using one of these cards would solve your problem.  Would you explain your use case a bit we could suggest a different card that

[2017-08-31 17:37] gomteshhatgine commented on #177
Actually I have sent  O365ConnectorCard using Bot framework in Microsoft teams but I not able to get return event or reply from that card in MS teams to bot api endpoint.

My use case is:
  I have send  O365ConnectorCard using Bot framework C# in MS teams in that there is **Add comment ** button when user in MS teams click on that button it shows one textbox the user enter comment into that textbo

[2017-09-01 07:24] gomteshhatgine commented on #177
And even I tried to us Adaptive card sample as suggested here
[https://docs.microsoft.com/en-us/bot-framework/dotnet/bot-builder-dotnet-add-rich-card-attachments#adaptive-card](url)

but it throws exception such as
**{"Attachment type isn’t supported"}**

while sending card in MS teams

[2017-09-01 15:42] JasonSowers commented on #177
I apologize for the misinformation MS Teams does not support adaptive cards.

[2017-09-01 15:54] JasonSowers commented on #177
I reached out to the MS Teams team for guidance

[2017-09-01 20:45] JasonSowers commented on #177
The response was that ActionableMessage is not currently supported. Proper ActionableMessage support should be coming to Teams in the next month or so.  Closing this issue as it is not currently a feature.  Please continue the conversation as needed and we can always reopen.

[2017-09-01 20:45] #177 closed

[2017-09-02 00:30] akontsevich opened #182 "Bot Builder application on .Net Core 2"
Seems we now able to build and run Bot framework on .Net Core 2. Good to add some examples or instructions, or even application generators how to make bot application there. What steps to do after `dotnet new webapi -o EchoBot` command and adding Nuget packages references `Microsoft.Bot.Builder` and `System.IdentityModel.Tokens.Jwt`?

[This example](https://github.com/Microsoft/BotBuilder/tree/mas

[2017-09-04 15:50] JasonSowers commented on #182
Closing as duplicate of https://github.com/Microsoft/BotBuilder/issues/3412 please do not double post

[2017-09-04 15:50] #182 closed

[2017-09-04 15:52] akontsevich commented on #182
Just wasn't sure about correct project to address.

[2017-09-04 15:55] JasonSowers commented on #182
No problem, but there is already a discussion on the other issue, so let's keep that one going.

[2017-09-08 16:41] michaelhutchful opened #183 "How to resume a conversation"
I am writing a c# UWP app and I want to integrate my bot into it. Everything works nicely, I have integrated the bot, however when I follow the sample, every time the app is restarted, a new conversation is created. I want to be able to, firstly, resume a conversation with the same conversation ID. Secondly, retrieve chat history of the said conversation.

[2017-09-08 16:57] JasonSowers commented on #183
This is currently not possible.  You may want to consider using something like the [skype control](https://dev.skype.com/webcontrol).  We hope to support this by the end of the year, but no concrete timeline has been set.  I have done a POC using our webchat control to achieve this.  Even that uses multiple conversation ID's and I cannot release it publically at this time.  Please follow this issu

[2017-09-08 16:57] #183 closed

[2017-09-08 17:27] michaelhutchful commented on #183
Thanks, the skype control doesn't work for what I want to do since I want to be able to "control" the app with bot.

[2017-09-08 17:29] JasonSowers commented on #183
No problem, wish I had a better answer for you.  Good luck

[2017-09-11 18:56] mwbrown66 commented on #170
Running into this exact behavior.  Did you figure anything out or get a response?

[2017-09-14 06:48] niharikabhavaraju opened #184 "Unable to send file as an attachment in skype"
### SDK Platform

.NET
### URL of Code Sample

### Problem Description

Im unable to send file as an attachment in skype from bot to user.
Im specifying the contenturl of the file,it is working fine in emulator but not in skype.
[code]

[2017-09-14 20:51] leoullas opened #185 "SpeechToText issue : One or more errors occurred."
Can anyone help with this? "One or more errors occurred."
PFB the stack trace. The issue is with SpeechToText, while sending request. Please note, I have used my own key for the API.

**Stack Trace:**

[2017-09-18 09:36] stuprice opened #186 "Facebook Notifications and Proactive Messages Dialog"
Hi

I have used the Proactive Message samples which are great but I have one issue.

In the simple message example (https://github.com/Microsoft/BotBuilder-Samples/tree/master/CSharp/core-proactiveMessages/simpleSendMessage) the messages send but I don't get a notification on my phone.  However, adding in this simple bit of code fixes that perfectly:

`message.ChannelData = JObject.FromObject(new

[2017-09-19 11:04] stuprice commented on #186
I've found this works fine when you make your bot public on messenger.

Answered on Stack Overflow:
[https://stackoverflow.com/questions/46279279/microsoft-bot-framework-proactive-dialog-no-facebook-notification/46298745#46298745](url)

[2017-09-19 11:04] #186 closed

[2017-09-19 18:56] leoullas commented on #185
Is there no one to share some idea to resolve this?

[2017-09-19 19:14] edwardbakker opened #187 "Microsoft.Cognitive.LUIS.ActionBinding doesn't work for builtin datetimeV2 entity"
The LUIS action binding example (https://github.com/Microsoft/BotBuilder-Samples/tree/master/CSharp/Blog-LUISActionBinding) doesn't work for the builtin datetimeV2 entity.

It looks like a change is needed in the 'BuiltInDatetimeTypes' class but also the 'LuisActionResolver' needs some modifications in the 'AssignValue' method.

Can we expect an update for the libray to make this work?

Thanks!
Ed

[2017-09-20 19:23] rondagdag opened #188 "sample-payments app - not working on emulation mode"
This used to work a week ago. Everything is setup, the stripe account and linked to Microsoft Wallet.
Now, emulation mode does not work anymore,  set .env file
PAYMENTS_LIVEMODE=true
it will not process the payment properly, Microsoft Wallet displays an error and not callback the bot. It works when I set this to false. It will charge my credit card properly. (It's just too expensive to test)
Any t

[2017-09-21 03:10] mwbrown66 opened #189 "Proactive Message Example"
Has anyone gotten the startNewDialog example to work?  I do not believe it works as written (it doesn't use the required adapter and when I try to use it the patched version of beginDialog is expecting opts to be passed in) and I haven't been able to get it to work yet, just playing with it.

Looks like if I specify to resume it loads the existing session for the user but then when it calls beginD

[2017-09-21 13:52] mwbrown66 commented on #189
To clarify:

I'm building an SMS-based bot on top of the MS Bot Framework. I have a need to have our bot start dialogs with customers. I can do it, but if the user was in a dialog when the proactive dialog is initiated, the old dialog is not resumed. In fact it's wiped off the dialog stack.

Looking at the BotBuilder Samples, has anyone gotten the startNewDialog to work with the botadapter? This i

[2017-09-23 21:49] IoTGirl commented on #184
Hi @niharikabhavaraju

I am new to the Bot Framework but it looks like there is some sample information available to you at [https://docs.microsoft.com/en-us/bot-framework/dotnet/bot-builder-dotnet-add-media-attachments](https://docs.microsoft.com/en-us/bot-framework/dotnet/bot-builder-dotnet-add-media-attachments)

Specifically, the definition of the content is different than your code above.
`re

[2017-09-25 23:40] LindaLiu2013 opened #190 "How to send poactivate message to a group of people via FB Messager"
I created a Facebook chatbot to send poactivate message based on this sample https://github.com/Microsoft/BotBuilder-Samples/tree/master/Node/core-proactiveMessages. But I found it only works with the latest user interact with the Bot via Facebook Messager. I want to send the message to all users who have been interactive with bot. Any suggestions?

SDK Platform
Relates to Node SDK

URL of Code Sa

[2017-09-26 05:10] slidenerd opened #191 "client.clientAuthorizations is null"
SDK Platform
Node.js

URL of Code Sample
https://github.com/Microsoft/BotBuilder-Samples/tree/master/Node/core-DirectLine

Problem Description
[code]
I am trying to run the node.js botframework directline sample as it is, i added my directline secret but i am still getting this error.

[2017-09-26 09:11] EricDahlvang commented on #189
I just tried the same sample, from: https://github.com/Microsoft/BotBuilder-Samples/tree/master/Node/core-proactiveMessages/

![image](https://user-images.githubusercontent.com/11055362/30852011-411f2206-a25f-11e7-9122-cda9089fc0fb.png)

What are the errors you're seeing?  It seems to be working as expected for me.

This sample leaves it to the developer to store, and load, the session.message.add

[2017-09-26 10:17] U2AIT commented on #189
Yes, I can save per user's message address to session data. But only the latest user who interactive with the bot can receive the poactivate message, but I want all users can receive the message.
Have you test the Facebook bot with multiple users?
No errors I got, any idea?

Linda Liu

[2017-09-26 16:39] JasonSowers commented on #190
This is not how the proactive messages work in this sample.  You may still be able to accomplish this by storing all the users that have interacted with your bot and their conversation ID's and creating a message to each.  I have not tried this before and do not have sample code for you.

[2017-09-26 17:11] EricDahlvang commented on #189
@U2AIT   The example is not complete, and is just an example.  The developer needs to store the session.message.address somewhere other than in memory, and use it to send the messages later.

[2017-09-28 06:32] Shamrh opened #193 "Visual Studio 2013 template"
Is there a template for VS 2013 to try out these samples in Visual studio 2013 ?

We are still behind sadly :(!

[2017-10-02 20:42] johnd-ms opened #194 "Deploy to Azure buttons ok?"
I can't get the blue Deploy to Azure buttons to work.

Is there a trick for using these?

[2017-10-03 17:20] JasonSowers commented on #193
The template was designed to use with VS 2015 or later.  I'm not aware of anything out there for VS 2013.  The good news is the template will work with [VS Community](https://www.visualstudio.com/thank-you-downloading-visual-studio/?sku=Community&rel=15) the free version of VS

[2017-10-03 17:20] #193 closed

[2017-10-04 17:26] #189 closed

[2017-10-05 16:51] denisyfrolov opened #198 "How to send a true proactive message from child dialog?"
### SDK Platform
.NET

### URL of Code Sample
https://github.com/Microsoft/BotBuilder-Samples/tree/master/CSharp/core-proactiveMessages

### Problem Description
There is 3 separate examples: one for sending a simple message and two others for starting new dialogs.

In the first example you create new activity then define: receiver, sender, message's text and so on:

[code]

But in both the 2nd and

[2017-10-09 22:52] mohammadamer opened #200 "Issue when Applying Multi Dialog Project"
### SDK Platform

### URL of Code Sample
  if (message.Text.ToLower().Contains("help") || message.Text.ToLower().Contains("support") || message.Text.ToLower().Contains("problem"))
            {
                await context.Forward(new SupportDialog(), this.ResumeAfterSupportDialog, message, CancellationToken.None);
            }

### Problem Description
Error when build
Error The type arguments f

[2017-10-11 16:25] Pieter-Veenstra commented on #194
Which browser are you using? I found that it didn't work in Edge, but Chrome is fine.

[2017-10-12 03:12] sphanley commented on #200
Did you modify anything in the sample? I pulled down and built the solution in question and I can't reproduce this error.

[2017-10-13 07:34] satyansh-sagar opened #203 "Skype call sample not detecting dtmf tones"
### URL of Code Sample

### Problem Description
I cloned the Skype calling sample from here and made all the changes mentioned , and published the Bot.
After publishing whenever i call the bot , it is only repeating the welcome message in repeat mode.
The code is same as in sample , only i have added some keys.
Can anyone help me out here.
@msft-shahins  @msftgits

`  // Response messages dependin

[2017-10-19 11:52] JamieG opened #206 "Documentation out of date LuisActionDialog Obsolete"
### SDK Platform
.Net

### URL of Code Sample
https://github.com/Microsoft/BotBuilder-Samples/tree/master/CSharp/Blog-LUISActionBinding

### Problem Description
All documentation I can find relating to Action Binding references LuisActionDialog'. In the current version of the Microsoft.Bot.Builder 3.11.0 this class is marked as Obsolete with a fairly cryptic message of 'Action binding in LUIS shou

[2017-10-25 11:44] sumanboltz opened #208 "Bot Authentication : Azure AD"
Hi All,

I have a question. Can we secure the Azure Bot Service (Web Channel) with Azure AD ? The "DirectLine" seems very insecure, anyone can say view source and capture the SecretKeyID and they can use it anywhere to explore the questions and answers. So to stop this, can we have the bot to respond/work for only the Authenticated Users ?

Please suggest. Appreciate your help.

[2017-10-25 11:56] suresh444 opened #209 "image-caption bot --replying Oops! Something went wrong. Try again later."
Session.beginDialog(/)
/ - waterfall() step 1 of 1
/ - Session.sendBatch() sending 0 message(s)
{ Error: connect ETIMEDOUT 40.112.254.71:443
    at Object.exports._errnoException (util.js:1014:11)
    at exports._exceptionWithHostPort (util.js:1037:20)
    at TCPConnectWrap.afterConnect [as oncomplete] (net.js:1138:14)
  code: 'ETIMEDOUT',
  errno: 'ETIMEDOUT',
  syscall: 'connect',
  address: '40

[2017-10-25 16:43] JasonSowers commented on #208
Take a look at [AuthBot](https://github.com/MicrosoftDX/AuthBot) and [BotAuth](https://github.com/MicrosoftDX/botauth)  These will probably get you started down the right path.  If you have further questions feel free to ask them on the [BotBuilder repo](https://github.com/Microsoft/BotBuilder/issues/new)

[2017-10-25 16:43] #208 closed

[2017-10-27 06:23] Chitma opened #210 "Unable to update skype settings for bot in Bot Framework Portal."
Hello All,

I am building a Skype calling bot when i tried updating webhook , "unable to save" message shows up.

![image](https://user-images.githubusercontent.com/22928054/32090507-5fed2860-bb0d-11e7-807d-f5b8c8a54abb.png)

What could be the possible cause for this?

[2017-10-27 15:08] an0o0nym commented on #191
Make sure you are using `swagger-client ^2.1.18`. Or change your code accordingly to be compatible with newer version.

I have run `npm i swagger-client` which installed version 3.x. It turned out that there were [major changes from the 2.x release](https://github.com/swagger-api/swagger-js/blob/master/docs/MIGRATION_2_X.md).

I hope it helps in some way.

[2017-10-27 16:32] mgbennet commented on #210
There is currently a bug in the Skype configuration validation that requires a category to be selected, even if the channel isn't being submitted. Go to the Publish tab, and select a category. Then you should be able to save as normal.

[2017-10-30 05:12] Chitma commented on #210
Thanks a lot @mgbennet . It worked.

[2017-10-30 16:09] #210 closed

[2017-11-03 17:19] mohammadamer commented on #200
Just creating a new project with the same functionality and the error appeared on the line of
await context.Forward(.....

[2017-11-05 00:54] daveRendon commented on #165
@binhpht did you manage to make a intent call when starting your bot? I´m looking for a similar approach, my bot would start a intent call to LUIS before redirecting into a specific Dialog.

Regards

[2017-11-06 19:06] daveRendon opened #211 "Make app.get('/',) as nested function in app.js"
### SDK Platform

Node SDK
"botbuilder": "^3.11.0",
    "botbuilder-cognitiveservices": "^1.1.0",
    "botbuilder-location": "^1.1.0"

### Problem Description

added LUIS capabilities and it is working all OK, however how can you make a call from app.js to a dialog which is on bot/dialogs/myDialog.js? The objective is that if the user types an specific question they can be redirected to a second D

[2017-11-07 16:06] srichakradhar commented on #117
Even I am facing the same issue. I've set my LUIS application as public. I'm able to get this result from the browser:
`{
  "query": "Search for hotels near Seattle",
  "topScoringIntent": {
    "intent": "SearchHotels",
    "score": 1.0
  },
  "intents": [
    {
      "intent": "SearchHotels",
      "score": 1.0
    },
    {
      "intent": "None",
      "score": 0.004987137
    },
    {
      "i

[2017-11-07 16:10] srichakradhar commented on #33
This is same as [Issue 117](https://github.com/Microsoft/BotBuilder-Samples/issues/117)
Is there any fix for this?

[2017-11-08 09:28] bs-oke commented on #187
@edwardbakker
I have the same problem. As it's not possible to use an old datetime any more (at least for new apps) action binding becomes useless for any solution which uses dates.

Can you please update this very nice library to datetimeV2?

Thanks!
Bartek

[2017-11-08 11:20] Yashu1904 opened #212 "Can a .html file be rendered in cards"
Can a .html file be rendered in cards

[2017-11-11 20:23] daveRendon opened #213 "Flowers bot Skype integration checkout is not working"
### SDK Platform

Node SDK

### URL of Code Sample

### Problem Description

Flowers bot Skype integration checkout is not working, when you integrate the bot to Skype and try to proceed to checkout it will show the URL if you hover the button but will never redirect

[2017-11-13 18:48] deepumi opened #214 "Multi language bot"
Any sample application for Multi Language bot?. I am trying to build Multilingual bots for English & Spanish version.

Any documentations or samples links would be appreciated.

[2017-11-13 19:01] FranciscoPonceGomez commented on #214
Hi @deepumi,

For translating back and for to different languages you can use Microsoft Translator API and call it like this (First you need to register and get a token):

"http://api.microsofttranslator.com/v2/Http.svc/Translate";

Take a look at my translator class. It utilizes an API to detect the language and another to translate to English and back to the original language. But since you are

[2017-11-13 19:23] deepumi commented on #214
Thanks @FranciscoPonceGomez

We do have a third party service which does translation service, Can we integrate our own translation service instead of Microsoft Translator? If so, is it possible to get CurrentCulture in bot API for "es" "en" ?

[2017-11-13 19:32] FranciscoPonceGomez commented on #214
You can add any translator to your bot logic. If your translation service exposes a public API that the bot can call, then is just a matter of sending the message text from the activity to the translator like I did in the example:
[code]
If your third party service doesn't provide an API then you might need to write a wrapper or a client to be consumed by your bot.
Microsoft Bot Framework doesn't

[2017-11-13 22:30] premaarya opened #215 "Is there a way I can put Hotel and Flight buttons in the same line"
### SDK Platform

### URL of Code Sample

### Problem Description

[2017-11-14 22:51] #215 closed

[2017-11-15 02:32] daveRendon opened #216 "TypeError: locationDialog.getFormattedAddressFromPlace is not a function"
### SDK Platform

Node SDK
### URL of Code Sample

function (session, results) {
        if (results.response) {
            // Return selected address to previous dialog in stack
            var place = results.response;
            var address = **locationDialog.getFormattedAddressFromPlace(place, ', ');**
            session.endDialogWithResult({
                address: address
            });

[2017-11-15 20:56] FranciscoPonceGomez commented on #194
Hi @johnd-ms,

Do you still experience problems with the Azure buttons for deployment? They work for me.

Regards,
Francisco

[2017-11-15 21:34] FranciscoPonceGomez commented on #212
No. Cards use their own schema and don't accept HTML. None of the channels in the Bot Framework actually supports HTML rendering either:

Channel | Markdown Support | HTML in Markdown Support
-- | -- | --
Bing | Yes | No
Cortana | Yes | No
Facebook | No | -
GroupMe | No | -
Kik | No | -
Slack | Partial | No
Telegram | Yes | No
Twillio (Web) | No | -
WeChat | No | -
Email | Yes | Yes
Microsoft Team

[2017-11-15 21:46] #194 closed

[2017-11-15 22:57] #173 closed

[2017-11-15 23:52] daveRendon commented on #216
**Issue Solution:**

Replace:
locationDialog.getFormattedAddressFromPlace(place, ', ');

For:
getFormattedAddressFromLocation(place, ', ');

**Change Review:**

 function (session, results) {
        if (results.response) {
            // Return selected address to previous dialog in stack
            var place = results.response;
            var address = locationDialog.getFormattedAddressFromLoc

[2017-11-16 22:27] #216 closed

[2017-11-21 21:41] premaarya commented on #215
Probably I was not very clear with the description ..is there a way to style the card Action Button ?
I am using Microsoft Bot Framework and C# to develop bot ..when using custom adaptive card I see not option to style the Action Button. I want them to be in a line.
However I do see in the Universal Windows App we can style the Adaptive Cards like following :
`var renderer = new AdaptiveCardRender

[2017-11-23 15:43] stevencl commented on #172
I had a similar problem with the Skype calling bot sample. There was a line of code that was commented out in the sample:

binaryContent.Headers.TryAddWithoutValidation("content-type", "audio/wav; codec=\"audio/pcm\"; samplerate=16000");

After uncommenting that, I was able to upload the audio.

I don't know why that line was commented out in the original sample. (line 45 - https://github.com/Micr

[2017-11-28 21:39] #214 closed

[2017-11-28 21:39] #212 closed

[2017-11-28 23:48] daveRendon opened #221 "Embed LUIS inside a Dialog"
### SDK Platform

Node SDK
### URL of Code Sample

https://github.com/Microsoft/BotBuilder-Samples/blob/master/Node/demo-ContosoFlowers/bot/dialogs/shop.js
### Problem Description

No reference on how to embed LUIS inside a Dialog

i.e.
lib.dialog('who-is', [
    function (session, args, next) {
        // Resolve and store any Note.Title entity passed from LUIS.
        var intent = args.intent;

[2017-11-28 23:58] EricDahlvang commented on #221
Hi @daveRendon

The sample you've referenced is not a LUIS sample.  There are some references to LUIS in the readme: https://github.com/Microsoft/BotBuilder-Samples/tree/master/Node/demo-ContosoFlowers#more-advanced-features

[2017-11-29 00:04] JasonSowers commented on #221
You pretty much need to embed something like this in your dialog

[code]

[2017-11-29 00:07] daveRendon commented on #221
Thanks for your quick response @EricDahlvang @JasonSowers

I read that "The key thing here is creating an IntentDialog with a LuisRecognizer, and bind the Actions array to the bot and dialog using the bindToBotDialog helper function." However there are no explicit references at all around LUIS binding using bot in Node.JS, i.e.

lib.dialog('/', [
    function (session, args, next) {
        builde

[2017-11-29 00:09] JasonSowers commented on #221
I'll take a whiskey please 👍

[2017-11-29 00:49] daveRendon commented on #221
Thank you Gentlemen! @EricDahlvang @JasonSowers

I followed your recommendations and was able to do some little testing as follows:
var intentDialog = new builder.IntentDialog({ recognizers: [recognizer, qnarecognizer] });
lib.dialog('/', intentDialog);
 intentDialog.matches('who-is-who', builder.DialogAction.send('Inside Intent1''));
 intentDialog.matches('expertise-lookup', builder.DialogAction.

[2017-11-29 00:50] EricDahlvang commented on #221
@daveRendon We are glad you've got it working!

[2017-11-29 00:50] #221 closed

[2017-11-29 01:03] EricDahlvang commented on #206
Hi @JamieG

Thank you for taking the time to bring this to our attention.  It is a bit confusing because the LuisActionDialog in the Bot Builder SDK has been deprecated: https://github.com/Microsoft/BotBuilder/blob/b6cd3ff85e8dc57ac586a11db489a0c75c635ae2/CSharp/Library/Microsoft.Bot.Builder/Dialogs/LuisDialog.cs

However, the sample you referenced is actually using a different LUISActionBinding l

[2017-11-29 07:51] GraceFeng opened #222 "How to test RollerSkill sample using Bot Framework Channel Emulator?"
### SDK Platform
.Net SDK

### URL of Code Sample
https://github.com/Microsoft/BotBuilder-Samples/tree/master/CSharp/demo-RollerSkill

### Problem Description
I open this sample with VS 2017, and registered a bot in Azure portal with Cortana channel enabled, I can get "MicrosoftAppId" and "MicrosoftAppPassword", but what is the "BotID" which is required according to the README doc of this sample?

[2017-11-29 18:28] EricDahlvang commented on #222
Hi @GraceFeng

The BotId is the **Bot handle** from the bot registration on dev.botframework.com:
![image](https://user-images.githubusercontent.com/11055362/33391951-752ba6e2-d4ef-11e7-8cd1-196fdffff679.png)

It is not necessary to register the bot if you are only using the emulator.  However, if you want to debug a different channel locally (like Cortana), ngrok can be used to expose a public ur

[2017-11-29 18:51] JasonSowers commented on #222
@GraceFeng Can you please try upgrading the Microsoft.bot.builder NuGet package to the latest version 3.12.x.x at the time of writing this.  Please let us know if you get the same result.

[2017-11-30 01:44] GraceFeng commented on #222
@EricDahlvang , Thank you for letting me know that `Bot Handler` means `BotID`, but I was using that correctly in the sample yesterday and I got the error "The bot's MSA appId or password is incorrect".  Problem is how can I test this sample locally, if I don't fill the "MicrosoftAppId" and "MicrosoftAppPassword" in the sample, when I hit the microphone button of emulator, it will give the followi

[2017-11-30 20:27] william726 opened #223 "How can core-DirectLineWebSockets support multiple conversations?"
My web app would like to support multiple conversations at the same time, but it seems it is impossible to be handled by core-DirectLineWebSockets? Because when a conversation starts, it creates a web socket client and listen from the streamUrl created. I can't create one more web socket client and can't listen from the streamUrl for the new conversation.

Please suggest what I can do.

[code]

[2017-11-30 20:33] william726 opened #224 "[Node JS] How can core-DirectLineWebSockets support multiple conversations?"
### SDK Platform

Node
core-DirectLineWebSockets
### URL of Code Sample

[code]
### Problem Description

My web app would like to support multiple conversations at the same time, but it seems it is impossible to be handled by core-DirectLineWebSockets? Because when a conversation starts, it creates a web socket client and listen from the streamUrl created. I can't create one more web socket client

[2017-11-30 20:34] #223 closed

[2017-12-01 02:01] #222 closed

[2017-12-02 01:56] daveRendon opened #225 "addressDialog not working"
### SDK Platform

Node SDK

### URL of Code Sample

Output:

`delivery: { date: '2017-12-02T01:48:58.584Z', address: '' },
  details:
   { recipient:
      { firstName: 'oscar',
        lastName: 'test',
        phoneNumber: '982 122 9128' },
     note: 'test scenario ',
     sender: { email: 'oscar@gmail.com', phoneNumber: '191 129 9218' } },
  billingAddress: '' }`

### Problem Description

Func

[2017-12-05 22:30] Amit-Technology opened #226 "Geeting BadArgument: Malformed json exception when import the pre-build LuisBot.json file to my LUIS account"
I was using  LuisBot.json file which is available per instruction at  README.md and this version of json file have issue.

[2017-12-05 22:59] Amit-Technology commented on #226
I have downloaded actual solution with intelligence-LUIS project and found one more LuisBot.json inside and I am able to import this version of file and worked.

[2017-12-05 23:00] #226 closed

[2017-12-05 23:01] Amit-Technology commented on #226
I downloaded actual solution with intelligence-LUIS project and found one more LuisBot.json inside that and I am able to import this version of file and it worked.

[2017-12-13 07:36] LimShengKai0524 opened #227 "Can the Agent(human) concurrent conversation with different user ?"
i wish to implement the concurrent conversation with different user at the same time. It is possible for it. Looking forward for the reply. Thank you.

[2017-12-15 14:39] weizhenzhao opened #228 "poll interval problem"
My colleague meet a wired problem when he using the sample code of direct line
in our back end we will query data for fusion BI report system
so there may be some latency.
But I find the direct-line will call several times, if it doesn't received the reply for my bot
So this will definitely add more latency .
So my question is how to set the poll interval in c# code?
Because currenty it seems that

[2017-12-20 05:59] Himanshu-gachLabs opened #229 "Azure BOT Framework Unable to deploy at Azure using continuous deployment (Git hub)"
I created one BOT using Azure BOT Framework which is consuming LUIS and QnA maker API. This bot is working fine my DEV but when I am deploying this to Azure using continuous deployment(github), it is returning 502(Bad Gateway) error. I tried updating **MicrosoftAppId** and **MicrosoftAppPassword** also, but still, I am getting the same error.
![badgate](https://user-images.githubusercontent.com/34

[2017-12-25 06:11] owidat opened #230 "Deployment Failed (View Error)"
I have an issue when I try to deploy "Multi Dialog" Sample Project to Azure using the following:
I used https://deploy.azure.com/#/form/deploy

1st I Created a bot with the Azure Bot Service from:
https://dev.botframework.com/bots/provision

Then I tried "deploy to azure" from:
https://github.com/Microsoft/BotBuilder-Samples/tree/master/CSharp/core-MultiDialogs
or from the list of:
https://github.

[2017-12-30 16:02] r4hulp commented on #177
Hi @JasonSowers

The ActionableMessage is still not supported in Teams. can you redirect me to right forum to raise it as an issue (something like Github issues but for Teams)?

[2018-01-01 19:50] nikhilabhiman commented on #44
Even, I get the same issue.  How do I access the Bot I have built over the browser and give URL to someone to test. Everytime , I need to login in azure and see it in Web chat

I get the below error when accessed through the browser

https://{mydomain}.azurewebsites.net/ .
{"code":"ResourceNotFound","message":"/ does not exist"}

https://{mydomain}.azurewebsites.net/webchat?s={direct_line_secret_k

[2018-01-01 22:51] nwhitmont commented on #44
@nikhilabhiman - You can test your deployed bot using 1) the Bot Framework Emulator, or 2) a WebChat hosted on your server.

For more information on Emulator, check out:
https://github.com/Microsoft/BotFramework-Emulator

[2018-01-01 22:54] #44 closed

[2018-01-02 18:48] deepumi opened #231 "How to trigger "Menu" event handler if the choice is not mapped or not exist"
Hi,
I have a menu with set of choices using PromptDialog.Choice, and I know I can map each menu item with multiple values.

I would like to know if user type something which is not mapped in the menu and I want to trigger the selected event handler method so that I can check with custom keywords. Is it possible?

I tried different overloads for PromptDialog.Choice but not happening..Any suggetion

[2018-01-02 22:13] jkolonko commented on #231
Hi deepumi,

I wrote a custom prompt for PromptDialog.Confirm which tries to match something with LUIS before it passes control to standard prompdialog's recognizer (see https://github.com/ObjectivityLtd/Bot.Common.Dialogs/blob/master/Objectivity.Bot.BaseDialogs/Dialogs/LuisPrompt.cs) . I am not sure if a similar approach would work for you but you can write your code in a similar way - just reuse

[2018-01-03 15:10] deepumi commented on #231
@jkolonko Thanks.
Unfortunately I can't use PromptDialog.Confirm for the particular scenario. However, I found a workaround to use adaptive card (Hero Card) which does look like a MENU with multiple button and the post back trigger does happen for each click or user typing text.

[2018-01-03 19:32] JohnGalt1717 opened #232 "IVR Sample"
Hi there, I'm wondering if it's possible to use Skype of Business Voice calling (now Teams Voice calling) to hookup incoming calls to IVR and use the bot framework to prompt the user IVR style and redirect.

If so, are there any samples on how to do this?

[2018-01-03 20:45] #231 closed

[2018-01-15 05:18] jelordreygulle opened #233 "channels"
On the other hand, they are not supported and the sample won't work as expected in the following channels. why they are not supported?

Facebook
Microsoft Teams
DirectLine
WebChat
Kik
GroupMe

[2018-01-22 20:59] ptrickney opened #236 "[Node] Sample search bot (RealEstate) with different azure search service returns "TypeError: Cannot read property 'value' of undefined""
Bot:
https://github.com/Microsoft/BotBuilder-Samples/tree/master/Node/demo-Search

### Problem Description
I was trying to recreate the RealEstateBot with my azure search service connected with my azure SQL database, but when I change the serviceName, key, and index in the app.js file (plus the url in azure-search.js) I get the following error:

TypeError: Cannot read property 'value' of undefined

[2018-01-28 01:54] weizhenzhao opened #238 "Send message to cortana failed"
### SDK Platform

.NET

### URL of Code Sample

//This will send an adhoc message to the user
        public bool Resume(string conversationId, string channelId,string text)
        {
            Log.WriteLogToTxt("fromId is :" + this.fromId);
            Log.WriteLogToTxt("fromName is :" + this.fromName);
            Log.WriteLogToTxt("toId is :" + this.toId);
            Log.WriteLogToTxt("toNam

[2018-01-29 17:40] EricDahlvang commented on #238
Cortana does not currently allow Proactive Messaging.

[2018-01-29 17:40] #238 closed

[2018-01-30 16:49] ptrickney commented on #236
I was a bit dumb, it's just a settings issue.

Make sure to have the CORS option on the index set to allowed.

[2018-01-30 16:49] #236 closed

[2018-02-01 13:00] 19ANT93 opened #239 "Receive Attachment new host"
### SDK Platform

.NET
### URL of Code Sample

https://github.com/Microsoft/BotBuilder-Samples/tree/master/CSharp/core-ReceiveAttachment
### Problem Description

Nowdays, the host of the content URL  ends with "trafficmanager.net" not with "skype.com".

![image](https://user-images.githubusercontent.com/3830746/35679562-db18fe6a-0757-11e8-8b3f-cc7887ba51ae.png)

[2018-02-14 11:06] skyline9002 opened #240 "I am wondering whether I can save some data into BotDataStorage before user send the first message to bot"
### SDK Platform
.Net BotBuilder 3.12.24

### URL of Code Sample
No

### Problem Description
I am wondering whether I can save some data into BotDataStorage before user send the initial message to bot.

what I have done and know:

1. Enable the default BlobTable implementation to manage state data.

2. Bot send proactive message to user and save some user-specific data by using StateClient.
    At

[2018-02-14 22:39] NejibK opened #241 "[Node] LUISActionBinding - Questions about "message" (schema): localization and choices ?"
Hi,
I am using the LUISActionBinding feature for my bot (**Node.js**) and I have some questions about the "message" within the schema:

[code]

### Q1:
Message is by default a string. Is it possible to have/add a localization ?
The message is written in English and although my bot is able to handle the messages sent by the user in German or French, the questions asked by the bot should be provided

[2018-02-15 09:21] NejibK commented on #241
@pcostantini, @Stevenic can you please have a look at my questions ?
Thanks !

[2018-02-15 15:40] NejibK commented on #241
Issue solved
#### Q1
The localization files (index.json) have to be stored in the folder _bot > locale > en >_
#### Q2
Not relevant anymore
#### Q3
Yes but it requires changing adding a new property in the schema (core > index.d.ts) (whithin export interface ISchemaParameter), then do some changes in the core > index.js file:
- `builder.Prompts.text` -> `builder.Prompts.choice`
- passing the "choi

[2018-02-15 17:29] NejibK commented on #241
Well there is still something open: localization of choices.
Example:
[code]
Is it somehow possible to do the following:
 _locale >en > index.json_
`{"west": "English translation of west"}`
 _locale >de > index.json_
`{"west": "German translation of west"}`

When the user has to select the region, he wouldn't see `west` as a choice option but `English translation of west` or `German translation of

[2018-02-21 11:39] dkbhadeshiya commented on #224
What you can do is create multiple conversations for multiple streamURL.

[2018-02-23 09:23] HardikShah289 commented on #232
I am searching for the same. I tried to use https://github.com/Microsoft/BotBuilder-Samples/tree/master/CSharp/skype-CallingBot for Skype For business. Message controller works as expected but no calls are picked up by bot through Skype For Business. Is there any specific setting need to do for Skype for Business channel.

[2018-02-23 09:25] HardikShah289 commented on #203
Even Skype Android App, doesn't have any dialpad to submit 1. it is just repeating first welcome message.

[2018-02-24 14:49] ashokbn opened #244 "Record Skype for business calls using API/SDK"
we are looking for recording audio of skype for business using API/SDK?
For example, Program should join the meeting on behalf of the virtual user and record the audio and then convert audio to text format.  Is there also possiblity to capture audio of meeting at regular intervals(1 minutes) .

[2018-02-28 12:24] prasanth-rgmobiles opened #245 "Calling a method/callback after adaptive card's Action.OpenUrl operation"
Hello,
I'm using adaptive card to show an article to user in node js.
**My Adaptive card format:**
`function AdaptCard (Txt, Img, Url) {
        let cardFormat = {
            contentType: "application/vnd.microsoft.card.adaptive",
            content: {
                "type": "AdaptiveCard",
                "version": "1.0",
                "body": [
                    {

[2018-03-02 14:36] JohnGalt1717 commented on #232
Anyone from MS want to comment on this? Would love to get some samples. Really want to use the same bot for web, sms, app, and voice IVR. It's the holly grail!

[2018-03-07 13:37] goncharov-do commented on #241
I also need a solution to use PromptDialog.Choice with options in LUISActionBinding (C#)

[2018-03-15 04:00] lvmmth opened #250 "The type or namespace name 'Integration' does not exist in the namespace 'Autofac'"
I just modified my bot following your document. Did I miss something? I'm getting this error:

_Global.asax.cs(9,15): error CS0234: **The type or namespace name 'Integration' does not exist in the namespace 'Autofac' (are you missing an assembly reference?)** [D:\home\site\wwwroot\Microsoft.Bot.Sample.SimpleEchoBot.csproj]
Failed exitCode=1, command="D:\Program Files (x86)\MSBuild\14.0\Bin\MSBuild

[2018-03-15 15:02] henriquebp87 opened #251 "[intelligence-LUIS] Import New App error "BadArgument: Version ID cannot be null or empty""
I tried to import 'LuisBot.json' file to create a new app on my LUIS account and got the error:
"BadArgument: Version ID cannot be null or empty"
![untitled](https://user-images.githubusercontent.com/6232469/37471323-401ef5f6-2848-11e8-8448-197473052c51.png)

[2018-03-16 18:51] tiagozini commented on #251
The same with me.

[2018-03-17 03:04] weizhenzhao opened #252 "Create new conversation didn't work"
### SDK Platform

.NET
### URL of Code Sample

` public static async Task ResumeAfterCertainMinutes()
        {
            var message = JsonConvert.DeserializeObject<ConversationReference>(conversationReference).GetPostToBotMessage();
            if (!MicrosoftAppCredentials.IsTrustedServiceUrl(message.ServiceUrl))
            {
                MicrosoftAppCredentials.TrustServiceUrl(message.Ser

[2018-03-19 02:01] p0085058 commented on #252
My question is doesn't the skypeforbusiness support the StartNewConversation Feature?
If someone can help me, I will be very grateful.

[2018-03-19 09:01] gunjankhanwilkar commented on #251
Add this property "versionId": "0.1" in LuisBot.json file.
This will solve the problem and you will be able to import the file.

[2018-03-22 08:30] lingwangyan opened #254 "Error initializing DirectLine client TypeError: Cannot read property 'add' of undefined"
I just change the `var directLineSecret = 'MySecretKey';`
and install in local repository by following command:
`npm install swagger-client
`
`npm install -g open`
`npm install --save request`
`npm install --save request-promise`
BotBuilder main repository
(https://github.com/Microsoft/BotBuilder-Samples/tree/master/Node/core-DirectLine)

### URL of Code Sample
(https://github.com/Microsoft/BotBui

[2018-03-22 14:14] MilkoKunev commented on #254
Probably the same issue #191

[2018-03-22 17:33] jeremy-st opened #255 "CSS not the same anymore for bot emulator to direct line for adaptive cards"
The adaptive card used to display correctly in direct line but no longer does. It displays correctly in the bot emulator.
<img width="596" alt="2018-03-22 10_16_36-bot framework emulator" src="https://user-images.githubusercontent.com/24577617/37787520-63231d06-2dbc-11e8-936e-dc5279d29365.png">
<img width="1154" alt="2018-03-22 10_06_33-city of los angeles - business assistance virtual network" sr

[2018-03-22 23:57] lingwangyan commented on #254
@MilkoKunev i run the command that he provided.. but still same error

[2018-03-26 03:35] #254 closed

[2018-03-26 07:03] NeetaA opened #256 "I want to create my own UI for Directline"
I want to create my own UI for Directline rather than using Botchat.js and Botchat.css
I already did custom UI in Node.js with the use of Socket.io.
Can u please help me to do it in C#.

[2018-03-26 17:17] jdnichollsc opened #257 "Add NodeJS sample integrating Express for scalability and maintainability"
### SDK Platform
Node SDK

### URL of Code Sample
https://github.com/proyecto26/Bot-Framework/tree/master/src/nodejs

### Problem Description
In a real life project it is important to be able to scale and maintain the code, so I recommend you and I share with you a basic template that you could use to create bots for NodeJS. It would be great to include it as a template on Azure.

[2018-04-08 01:40] kkabza commented on #232
You will be able to build a BOT in the future that can access the audio stream for speech processing or speech playback using Teams and receive calls in your bot from a ServiceLine in registered O365. I would pay attention to announcements at BUILD Conference there is no ETA for this yet. You can also search you tube for Enterprise Connect videos from Pexip. They built a bot for some video interop

[2018-04-10 08:33] pepefrog69 opened #258 "PLEASE HELP IM NEW TO DIS"
Im using Azure to develop my bot. Im trying to create a bot using LUIS where if i ask it for a scan, it should give me back four types of analysis for a scan for eg: metrology, porosity, reverse engineering and wall thickness. Then i can choose an option form it.I feel like this is a very easy thing to do but im very new to computer programming, node.js. and bots.

 This is how far ive gotten, i d

[2018-04-23 07:11] sourabhlodha commented on #233
@jelordreygulle Can you show me the sample which you have the issue?

[2018-04-25 08:36] vinayjayaram commented on #256
@NeetaA  could you please share me your custom UI in Node.js with the use of Socket.io?

[2018-04-26 08:29] arashberlin opened #259 "Adaptive Card Samples are outdated"
**The samples on the official BotBuilder Sample Github page are outdated:**
[https://github.com/Microsoft/BotBuilder-Samples/tree/master/CSharp/cards-AdaptiveCards](https://github.com/Microsoft/BotBuilder-Samples/tree/master/CSharp/cards-AdaptiveCards)

[2018-05-01 17:28] kiser0606 opened #262 "Open an issue here"
### SDK Platform

### URL of Code Sample

### Problem Description

[2018-05-01 17:28] kiser0606 commented on #262
Idj

[2018-05-04 22:52] CrazyTuna opened #263 "Add Samples for C# Azure Function"
I've started converted C# WebApp Samples to Azure Functions.

https://github.com/CrazyTuna/BotBuilder-Functions-Samples

Just wondering if it is something that could be in the Repo ?

[2018-05-07 17:49] EricDahlvang commented on #263
Hi @CrazyTuna

Thank you for your interest in the BotBuilder samples.  We have a very specific set of samples that demonstrate Bot Builder functionality.

[2018-05-07 17:49] #263 closed

[2018-05-07 21:53] Rigo85 commented on #254
hi there, sorry for respond on closed issue, the version of swagger-client that works is "2.1.18".

[2018-05-08 04:36] sunilsoniudaipur commented on #252
I am able to create the conversation id for the first user, using start conversation method in node js and can receive the conversation id, but issue occurs when the second user connects then I called the start conversation but **it returns the same conversation id and due to that I cannot connect 2 or more users with direct line.**

     client_manager.Conversations.Conversations_StartConversatio

[2018-05-08 13:37] vaatsalya opened #265 "Not able to run the sample"
Hi, I am trying to run the bot builder samples (nodejs)  behind corporate firewall. I am not able to make it work. could you please help me on this. attaching the screenshot of the error for reference.
![error_bot_sample](https://user-images.githubusercontent.com/39091266/39760459-f73edbe6-52f2-11e8-9cc9-66ef8af6de7b.PNG)

[2018-05-08 20:01] nodeomega commented on #265
Judging from this error message, this bot is hosted on your local machine, correct?

[2018-05-12 11:26] kiser0606 opened #267 "Kiser"
### SDK Platform

### URL of Code Sample

### Problem Description

[2018-05-14 16:01] #267 closed

[2018-05-15 15:03] SmithMMTK opened #268 "HTTP 404.0 on CSharp can't connect by Emu and all the code work perfectly on NodeJs"
Use default code (without any modification), and tips to make it work?

[2018-05-15 15:04] SmithMMTK commented on #268
![image](https://user-images.githubusercontent.com/25191536/40065382-e3c32830-588b-11e8-89b1-fa5e1a9ea444.png)

[2018-05-15 15:56] #268 closed

[2018-05-15 21:04] nodeomega commented on #265
Are you running locally via restify/express NPM modules?  Or are you installing this on something like in IIS or Apache on your local machine?

[2018-05-16 14:56] ernestoguimaraes opened #269 "RView Tool"
Hello,
I got the RView project and found that there are some erros while executing against an assembly with classe name with more than 4 words on namespace.

Example:
AssemblyName.Model.Forms.FormFlowClass.

Is there anyway to generate this resx. file?

[2018-05-16 16:36] JasonSowers commented on #269
This question is probably best asked on StackOverflow so you can tag Rview and reach a broader audience that is familiar with the tool.

[2018-05-17 08:20] weizhenzhao opened #270 "Direct Line Bot takes long time"
### SDK Platform
.Net

### URL of Code Sample
 [HttpPost]

        public async Task<HttpResponseMessage> Post()

        {

            //

            //var timeEnd = DateTime.Now;

            //var timeCost = 0d;

            var keyWord = await Request.Content.ReadAsStringAsync();

            //when posted word is empty, return 406 code

            if (string.IsNullOrEmpty(keyWord)) return

[2018-05-17 18:47] fanidamj commented on #269
The [RView source](https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Tools/RView/Program.cs ) is open, if you’d like to debug and determine what the underlying issue is that you’re running into. The same was mentioned by Eric in email too.

[2018-05-17 18:47] #269 closed

[2018-05-18 01:43] weizhenzhao commented on #270
@JasonSowers can you help me? my boss ask me about this issue everyday .  And I have a lot of pressure.
please .

[2018-05-21 12:41] coderxlsn commented on #270
A long timeout can be if the application is falling sleeping or unloaded from memory. as an option to ping a bot on api once in 1 minute.

[2018-05-21 19:33] nodeomega commented on #265
This is peculiar as both your restify module and the emulator's service URL would both be localhost.

Are you able to tell us what firewall software this is on your network?  It seems to me that the firewall software may be intercepting the call to the serviceUrl and thus is blocking the chat to the bot from connecting.  It could very well be the port number triggering this, and I do not know a wa

[2018-05-22 01:53] weizhenzhao commented on #270
@coderxlsn  what do you mean that I can solve this issue by ping a bot on api once a minute in a schedule?

[2018-05-22 08:21] EricDahlvang commented on #270
If your bot is hosted in Azure, you can enable AlwaysOn: https://docs.microsoft.com/en-us/azure/app-service/web-sites-configure#alwayson  Is your issue a cold start problem?

[2018-05-22 13:42] jonasvsaet opened #271 "Receiving an attachment from facebook in C#"
### SDK Platform
.Net

### URL of Code Sample
https://github.com/Microsoft/BotBuilder-Samples/tree/master/CSharp/core-ReceiveAttachment

### Problem Description
How do you receive attachments from the facebook messenger channel? the sample code doesn't appear to work with facebook messenger but it does with other channels.
PromptDialog.Attachment seems to give an error aswell.

[2018-05-22 18:27] JasonSowers commented on #271
Thanks for reporting this, can you answer some follow-up questions please?  What type of file(s) are you trying to upload?  Which version of the SDK are you using (3.xx.x.x)? What channel(s) is it working in for you?  Are you just using the code from the sample or is there anything you have added?

[2018-05-23 09:13] jonasvsaet commented on #271
I've figured out the problem. The problem is due to the Name property being empty. Thanks for your help.

[2018-05-23 09:13] #271 closed

[2018-05-31 01:22] #270 closed, assigned to nobody

[2018-06-05 06:00] Annabear1103 commented on #187
It seems still not solved now...

[2018-06-05 19:20] pcostantini commented on #187
Hi @Annabear1103 , @edwardbakker, @bs-oke :

The version in the BotBuilder-Samples is kind of old. The latest version of Luis Action Binding is in its own repo now @ https://github.com/Microsoft/BotBuilder-CognitiveServices

More info @ https://github.com/Microsoft/BotBuilder-CognitiveServices/blob/master/CSharp/README_LuisActionBinding.md

[2018-06-06 20:43] nodeomega commented on #265
Closing this issue as there has been no reply for an extended period.  If this issue persists, feel free to open a new support request.  Thank you.

[2018-06-06 20:43] #265 closed

[2018-06-15 14:08] Kartik1607 commented on #256
@NeetaA You can fork [webchat](https://github.com/Microsoft/BotFramework-WebChat/) and then modify it to create custom UI for Directline.

[2018-06-19 15:42] tariksetia opened #273 "Oauth Card not rendering in webchat and sign in button doesn't work in teams"
### SDK Platform
Node.js V3

### URL of Code Sample
my code: https://github.com/tariksetia/euc-Bot/blob/master/app.js
similar to example -->https://github.com/Microsoft/BotBuilder/blob/master/Node/examples/basics-oauth/app.js
### Problem Description
I am also not able to see OAuth card in Azure's Test in webchat page.
OAuth card renders  in MS-Teams but sign in button didnt work
image -> https://g

[2018-06-21 00:43] lin-zy1229 opened #274 "'Create New Conversion' Sharp sample doesn't work."
### SDK Platform

.NET

### URL of Code Sample

https://github.com/Microsoft/BotBuilder-Samples/tree/master/CSharp/core-CreateNewConversation

### Problem Description

It builds and runs in Chrome successfully.
But not shows Bot message, and even can't send user message,

![image](https://user-images.githubusercontent.com/13885833/41803732-a9cb327a-76be-11e8-835c-9a831eebae23.png)

![image](https:

[2018-06-21 18:21] stevkan commented on #274
Hi @lin-zy1229, please update the BotBuilder SDK to 3.15.2 and try again.

[2018-06-22 01:28] lin-zy1229 commented on #274
once upgrade, seems better, but still failing.

![image](https://user-images.githubusercontent.com/13885833/41753231-a5fbc5f8-75fe-11e8-96e6-ac82b0861f1f.png)

[2018-06-22 12:43] tariksetia commented on #273
similar to https://github.com/Microsoft/BotBuilder/issues/4768
Closing this issue.

[2018-06-22 12:43] #273 closed

[2018-06-23 00:20] lin-zy1229 commented on #274
This is current setting, and nothing changed in source code as mentioned first.

![image](https://user-images.githubusercontent.com/13885833/41803696-403bfeca-76be-11e8-9dc0-17a955600e5e.png)

[2018-06-25 00:02] dhinag opened #275 "[.Net SDK] CreateDirectConversation does not work with the Proactive Message sample"
### SDK Platform
.Net 4.6

### URL of Code Sample
https://github.com/Microsoft/BotBuilder-Samples/tree/master/CSharp/core-proactiveMessages

### Problem Description
I am trying to use the proactive message sample to start a new conversation based on the user data that was previously cached. But, I could not get the bot to start a new conversation to the user. When I debugged the problem, I noticed

[2018-06-25 02:03] dhinag commented on #274
I tried this sample code with the bot emulator and run into the same issue mentioned by @lin-zy1229 . Do you have any progress on this issue @lin-zy1229 ?

Thanks!

[2018-06-26 07:59] weizhenzhao opened #276 "[.Net SDK] Bot code exception"
### SDK Platform
 .NET

### URL of Code Sample

[code]

### Problem Description

I got an error in when the code execute to the line

var winner = this.BestResultFrom(winners);

your can see the details in the following picture:
![qq 20180626155444](https://user-images.githubusercontent.com/13706689/41897429-e37c0844-7959-11e8-88b7-38b1d6703310.png)
![qq 20180626155535](https://user-images.githubu

[2018-06-26 13:41] lin-zy1229 commented on #274
Not yet, @dhinag.

[2018-06-26 16:57] stevkan commented on #274
@lin-zy1229 and @dhinag,

If you wish to run purely local, be sure the app is running in VS. Your Web.config settings should look like this:
![csharp no app settings](https://user-images.githubusercontent.com/18403946/41926633-be7fa742-7924-11e8-81af-06794a890a9a.JPG)

If you are using the v3 emulator, then your emulator settings should look like this:
![csharp v3 emulator no settings](https://use

[2018-06-27 14:21] dhinag commented on #274
Thanks @stevkan. I'll ensure that my settings mimic your settings and let you know.

[2018-06-27 21:15] stevkan opened #277 "onHangupCompleted is never called after hangup"
### SDK Platform
.NET

### URL of Code Sample
[https://github.com/Microsoft/BotBuilder-Samples/tree/master/CSharp/skype-CallingBot](https://github.com/Microsoft/BotBuilder-Samples/tree/master/CSharp/skype-CallingBot)

### Problem Description
Issue [#4743](https://github.com/Microsoft/BotBuilder/issues/4743) originally posted on Microsoft/Botbuilder repository.

onHangupCompleted in IVRBot.cs file

[2018-06-28 13:12] cristi-badila commented on #274
@stevkan I wanted to try out this sample today and I'm getting the same exception as above while trying to run the bot locally (in development) and using the V4 bot emulator.
The settings in the bot emulator:
![capture](https://user-images.githubusercontent.com/787587/42035181-01c70460-7aeb-11e8-9b92-0f395cce9b1c.PNG)
The settings in web.config
[code]
Relevant nuget packages (after suggested updat

[2018-06-28 18:46] stevengum commented on #276
@matthewshim-ms it looks like [LuisDialog.BestResultFrom](https://github.com/Microsoft/BotBuilder/blob/master/CSharp/Library/Microsoft.Bot.Builder/Dialogs/LuisDialog.cs#L200) is not being inherited properly, do you think you can assist?

[2018-06-29 02:57] weizhenzhao commented on #276
@stevengum
Hi Dear

I've rewrote some code, I think the problem occurs in the
`new LuisServiceResult(result.value, resultWinner, this.services[result.index]);`
and the code after I've changed is as below , and it took effect
`        protected override async Task MessageReceived(IDialogContext context, IAwaitable<IMessageActivity> item)
        {
            var message = await item;
            v

[2018-06-29 14:53] stevkan commented on #275
Hi @dhinag,

How are you looking to use 'var conversation' in your code? Are you looking to create a completely new thread with it's own conversationId?

[2018-06-30 18:19] mariaaloysius1 commented on #117
even I am facing the same issue, any updates on this issue

[2018-07-03 04:14] cristi-badila commented on #274
Hi @stevkan, indeed I can confirm that I'm trying out the `core-CreateNewConversation` sample. I initially just cloned the repository and ran the sample as is without modifying any of the project files and encountered the mentioned exception. I then tried updating the `Microsoft.Bot.*` dependencies of the solution to 3.15.2.2 as per the advice you gave further up in this thread and unfortunately t

[2018-07-03 17:13] dhinag commented on #275
@stevkan That's correct. I am basically gathering all the messages from the storage queue for a particular user and creating a new conversation to show it to the user.

[2018-07-03 19:29] JasonSowers commented on #275
@dhinag could you please share your app id?

[2018-07-03 21:55] JasonSowers commented on #274
I just tested this today and have been able to get it working with the latest package 3.15.3 in the v3 emulator.  Is anyone else able to do so?

[2018-07-04 01:49] dhinag commented on #275
Hi @JasonSowers , here is my app id: e442b736-ce72-46cb-b578-23b0ca0b22d6

[2018-07-04 02:15] dhinag commented on #274
Hi @JasonSowers,
I just tried it again (I updated the bot builder to 3.15.2.2.), and got this error in v4 emulator:

[FileLoadException: Could not load file or assembly 'Microsoft.Bot.Builder, Version=3.12.2.4, Culture=neutral, PublicKeyToken=31bf3856ad364e35' or one of its dependencies. The located assembly's manifest definition does not match the assembly reference. (Exception from HRESULT: 0x80

[2018-07-04 05:01] JasonSowers commented on #274
You say you are on version 3.15.2.2 and this is showing up in your error Could not load file or assembly 'Microsoft.Bot.Builder, Version=**3.12.2.4**. Something strange is happening here. Can you try to correct this reference? You may even want to try with a fresh project. I’ll continue troubleshooting this sample for issues.

[2018-07-04 06:11] cristi-badila commented on #274
@JasonSowers initially I had tried the sample with only the v4 emulator however I tried today the v3 one as well. Here's my experience:
- I started out by updating to v 3.15.3 of the framework but I immediately found an issue in that the `Microsoft.Bot.Builder.Azure` package doesn't have a 3.15.3 version published; only 3.15.2.2. So out of the gate I couldn't run the sample since trying to run the

[2018-07-04 09:25] kieranwarrington opened #278 "LuisAction properties are null upon receiving a message in LuisActionMissingEntitiesDialog"
### SDK Platform
.NET

### Problem Description
Using a class (Child) inherited from an instantiation of BaseLuisAction (Parent), upon response to the second required property, the values of each field on the ILuisAction luisAction of the LuisActionMissingEntitiesDialog are all null.
This means the IsValid will never be able to return true.

![image](https://user-images.githubusercontent.com/226818

[2018-07-04 18:05] JasonSowers commented on #274
Thanks for the details and putting your project in a repo for me. Holiday today so I will take a look tomorrow.

[2018-07-05 14:49] JasonSowers commented on #274
I just tested with 3.15.3 and botbuilder-azure 3.13.2.2 with no issues.  I will look at your project in your repo now.

[2018-07-05 21:00] JasonSowers commented on #275
@dhinag lets track this issue in #274 please continue the conversation in that thread so we do not have 2 going for the same thing.

[2018-07-05 21:00] #275 closed

[2018-07-06 22:31] JasonSowers commented on #274
@cristi-badila I am getting the same results with your project, yet my project is working.  I have submitted a pull request against your repo here https://github.com/cristi-badila/botframework-new-conversation/pull/1 can you please try it with those changes and let me know the results.  If it works for you I will submit a pull request against the main sample to update it as well.  This is odd beca

[2018-07-07 09:56] micli opened #279 "You have to specify TLS version during create WebSocketSharp.WebSocket in C# sample code."
My issue is about DirectLine sample code of BotBuilder SDK for .NET, which is located at:
[Samples/blob/master/core-DirectLineWebSockets/DirectLineClient](https://github.com/Microsoft/BotBuilder-Samples/blob/master/CSharp/core-DirectLineWebSockets/DirectLineClient/Program.cs#L40)

### SDK platform is .NET

### URL of Code Sample
https://github.com/Microsoft/BotBuilder-Samples/blob/master/CSharp/co

[2018-07-08 06:48] cristi-badila commented on #274
@JasonSowers thanks for your help. Indeed your PR fixed the issue. I can now successfully run the sample together with the bot framework emulator v3.5.36 (latest v3 release). For completeness I should mention however that trying to run the sample with the v4.0.15-alpha emulator (latest v4 release) the sample gets stuck when calling line 25 in the `SurveyTriggerer`:

`var conversation = await clien

[2018-07-09 16:32] EricDahlvang commented on #279
Would you like to submit a PR to add this code to the sample?

[2018-07-09 18:10] JasonSowers commented on #274
@cristi-badila thanks again for your patience and for reporting this issue.  I will keep investigating this until I can find a resolution such that the sample should just work as is for all customers in any emulator version.  I'm glad I was able to get you a version that you can use as a starting point.  Best of luck and please keep reporting any issues you find.

[2018-07-09 21:01] dhinag commented on #274
Thanks @JasonSowers . It is working for me on v3 emulator and the same problem that @cristi-badila reported with v4 emulator.

[2018-07-09 23:13] Zerryth commented on #278
@kieranwarrington thanks for reaching out!

I'm unable to reproduce the bug you are encountering properly, given only these 2 code snippets.

Could you please provide a link to this project on GitHub? Happy to dive into the matter further, afterwards :)

[2018-07-11 07:39] mageakos commented on #250
hey, You just need to add a NuGet package reference of  Autofac.WebApi or  Autofac.WebApi2!
You can check the documentation here, http://autofaccn.readthedocs.io/en/latest/integration/webapi.html

[2018-07-12 04:01] micli commented on #279
OK, I will do it soon.

[2018-07-27 21:50] toenie23 opened #282 "Version ID and Deprecated Geography Issue"
### SDK Platform
.NET

### URL of Code Sample
https://github.com/Microsoft/BotBuilder-Samples/tree/master/CSharp/intelligence-LUIS

### Problem Description
When importing the LUISbot.JSON into LUIS.AI, you will get an issue about version ID and the bing entity "Geography" being deprecated. One way I was able to work around this was adding this line of code under luis_schema_version

"versionId": "

[2018-08-01 22:48] Zerryth commented on #278
Closing due to user unresponsiveness

[2018-08-01 22:48] #278 closed

[2018-08-07 12:45] Schindar opened #283 "Error Invalid URI"
###I just made Copy and  past for the Code samples of the image caption of node js. but i got the following error
"Invalid URI "Undefined/analyze?visualFeatures=Description " at request.init (C://********)"

[2018-08-07 13:46] Schindar commented on #283
@vishwacsena can you please help me with this error

[2018-08-07 18:53] v-kydela commented on #283
Hi Schindar! I'm happy to help.

The image caption sample depends on some environment variables stored in the ".env" file. If you just copied and pasted the JavaScript code then you may be missing some of the extra files you need. It's a good idea to clone the whole repository to make sure you're not missing anything.

If you look inside caption-service.js, you can see the line `var apiUrl = proce

[2018-08-07 18:56] Schindar commented on #283
@v-kydela  thanks for your response, i am getting the following error when i click on the link:
{ "statusCode": 404, "message": "Resource not found" } can u please help me further

[2018-08-07 19:12] Schindar commented on #283
@v-kydela  i have now made the env. file called enviroment.plist on my MAC
should i just copy and past the link in the file ? please help me i really need Instruction

[2018-08-07 20:30] v-kydela commented on #283
Hey Schindar. Did you clone the repository?

Go ahead and have a look at the files for the image caption sample: https://github.com/Microsoft/BotBuilder-Samples/tree/master/Node/intelligence-ImageCaption

Among those files you will see a file called `.env`: https://github.com/Microsoft/BotBuilder-Samples/blob/master/Node/intelligence-ImageCaption/.env

The contents of that file look like this:
[co

[2018-08-07 22:46] Schindar commented on #283
thank you very much for the help . i made it as you said it  to me. i made a file calls .env and just puted the following -->

# Bot Framework Variables

MICROSOFT_APP_ID=

MICROSOFT_APP_PASSWORD=

# Subscribe to Cognitive Services Computer Vision API to obtain a Trial Key.

# Subscription URL: https://www.microsoft.com/cognitive-services/en-us/subscriptions

MICROSOFT_VISION_API_KEY=a6a1*********

[2018-08-07 23:32] v-kydela commented on #283
Can you post a screenshot of your bot's folder in File Explorer?

[2018-08-07 23:38] v-kydela commented on #283
Also, did you clone the repository or not?

Please compare the code you copied with the code in the repo's app.js. Note that this line loads the environment variables from the .env file:
`require('dotenv-extended').load();`

[2018-08-08 10:57] Schindar commented on #283
thanks a lot. it helped me to much.but i have a last question before i close this issue ,  can you please tell me where i can finde  a sample, which can Read text in images ? like this service :
https://azure.microsoft.com/en-us/services/cognitive-services/computer-vision/

[2018-08-08 16:00] v-kydela commented on #283
I'm glad to hear that we were able to solve your issue. Cognitive Services SDK has a number of samples available on the website: https://azure.microsoft.com/en-us/resources/samples/cognitive-services-node-sdk-samples/

[2018-08-08 16:05] #283 closed

[2018-08-20 06:50] umangsp opened #286 "Skypecalling bot issue"
hi I am facing issue in skypecalling bot. I am successfully able to connect to bot. It greets me and ask for dialpad input. however It never recognize my voice. the return text is always blank.

application ID is .

e58765a4-6c8e-4f0d-b5ba-b1544b1ce238

Please help me.

### SDK Platform

.net SDK C#

### URL of Code Sample
I think i have issue in config file.
https://github.com/Microsoft/BotBuilde

[2018-08-21 11:39] stevkan commented on #286
I'm looking into this and will reach out to you.

[2018-08-21 11:47] umangsp commented on #286
Hi Stevkan,
Thanks for looking into it.

 I am finally able to resolve this with so much permutation computation.
here is what I did last.

I changed MSCognitiveservice.cs file from

//var requestUri = this.speechRecognitionUri + Guid.NewGuid();

To hardcoded value of.

            var requestUri = @"https://speech.platform.bing.com/recognize?scenarios=smd&appid=D4D52672-91D7-4C74-8AD8-42B1D98141A

[2018-08-21 12:27] Schindar opened #287 "Read texts in images with computer vision provides different results."
Hello,

i tried to demonstrate Computer vision "Read texts in images" with bot-framework. but i am getting different results as the results from the website: https://azure.microsoft.com/en-us/services/cognitive-services/computer-vision/

i dont know if i made something wrong with my code:

can any body help me please: this is an example for the difference between the both functionalities :
the lef

[2018-08-21 12:33] Schindar commented on #287
@v-kydela can you please help me with this issue. I would be very thankful :)

[2018-08-27 18:08] v-kydela commented on #287
@Schindar May I ask why you closed this issue?

[2018-08-27 18:10] Schindar commented on #287
i dont know i thought no body will answer me. do you have any solution please ?

[2018-08-27 20:49] v-kydela commented on #287
I think it would be a good idea to leave issues open if they remain unresolved and you could still use help with them. You can also consider asking questions on [Stack Overflow](https://stackoverflow.com/).

About your question, the first thing you need to understand is that Computer Vision provides three types of OCR:

- **MSOCR**: Traditional, scanned document-centric printed text OCR. Supports

[2018-08-27 21:11] Schindar commented on #287
@v-kydela  so that means, in order to get the same result of the demo. i should put the oneOCR link into the app.js file and then make the functions POST and GET?

[2018-08-27 21:39] v-kydela commented on #287
@Schindar It's not a simple matter of replacing the URI if that's what you're asking. Did you read the documentation or have a look at the [API Reference](https://westus.dev.cognitive.microsoft.com/docs/services/5adf991815e1060e6355ad44/operations/587f2c6a154055056008f200) I linked you to?

[2018-08-27 21:52] Schindar commented on #287
yes i did, but i dont know how to use it, or how to change my code so that i can use a POST to start the operation and then use a GET to retrieve the results after a few seconds. :( all what i need is the same result of the demo. that why i bought the product

[2018-08-28 22:14] v-kydela commented on #287
When you POST to recognizeText it will return a URL in the operation-location field. That's the URL you'll use for your GET. Since you won't know how long the operation will take, you have to keep trying until you see results. `setInterval` can be used for this. Here's a bot I managed to scrape together, based on the Image Caption sample.  Just make sure you use a .env file like before.

[code]

[2018-08-29 17:35] Schindar commented on #287
thanks that is working, i can close the issue now

[2018-08-31 10:17] mounikakalluri opened #299 "generic key not found exception every time on starting a new bot application in visual studio"
### SDK Platform

### URL of Code Sample

### Problem Description

![mvc issue](https://user-images.githubusercontent.com/10280224/44907102-84a34f80-ad34-11e8-86b2-9f7116711fcb.JPG)

[2018-08-31 15:27] stevkan commented on #299
Please provide more information.

[2018-08-31 15:27] #299 closed

[2018-08-31 19:51] EricDahlvang commented on #299
@mounikakalluri  Where did you obtain the vsix bot template you're using?

[2018-09-01 12:25] mounikakalluri commented on #299
I obtained it from the Microsoft visual studio online installation page,as
it was giving error i tried out by uninstalling and reinstalling again but
the problem persisted.Is there any solution for this??I would be very
thankful if you would let me know.

Thank you
Mounika

On Sat, 1 Sep 2018, 01:21 Eric Dahlvang, <notifications@github.com> wrote:

[2018-09-02 13:37] Schindar commented on #287
@v-kydela  sorry that i opend the issue again, i have a queastion: i am trying to add some welcome text with an image from my desktop like this:

'
var bot = new builder.UniversalBot(connector, function (session) {

// greeting message with a pic

bot.on('conversationUpdate', function (message) {
    if (message.membersAdded) {
        message.membersAdded.forEach(function (identity) {

[2018-09-02 17:36] v-kydela commented on #287
Hi @Schindar. There are a few things to mention about your code.

1. Strings in JavaScript use [escape characters](https://www.quackit.com/javascript/tutorial/javascript_escape_characters.cfm). You need to make sure you escape your backslashes.
2. Remember that your Node,js code is meant to run on a remote server. It doesn't make a lot of sense for it to access a file on your local hard drive.
3.

[2018-09-02 18:30] #287 closed

[2018-09-04 13:32] vivekjainAco opened #314 "core-SendAttachment- swagger's client.clientAuthorizations is undefined-"
### SDK Platform
Node SDK

### URL of Code Sample
https://github.com/Microsoft/BotBuilder-Samples/tree/master/Node/core-SendAttachment

### Problem Description
I am using the function

from the given sample node js code and updated my credentials. I used the following code snippet to send an attachment file via the Connector API. but it is giving an error: Error uploading file TypeError: Cannot re

[2018-09-05 18:58] ganeshchippada opened #328 "Unable to capture channel specific response times"
I have a bot instance running in Azure with MS TEAMS channel enabled. I see there is some slowness in TEAMS response when chatting with the bot. I have already enabled the Application insights to capture the response times. But unfortunately the response times which is shown in App insights is just the App service response times. Those looked great. But from the end user perspective the response t

[2018-09-06 23:35] daveta opened #336 "v4: ASP.NET WebApi - NuGet path too long."
On the WebAPI sample for EchoBot, getting the following error:

`Error occurred while restoring NuGet packages: The specified path, file name, or both are too long. The fully qualified file name must be less than 260 characters, and the directory name must be less than 248 characters.`

We have to look into this, and determine which package has a long path and fix.  This issue appears to be severa

[2018-09-06 23:39] #336 closed

[2018-09-10 22:02] jwiley84 commented on #314
That's saying 'clientAuthorization' has no 'add' method, because it doesn't 'clientAuthorization' doesn't exist. Where is 'clientAuthorization' being defined?

[2018-09-10 23:49] stevkan commented on #328
Can you tell me which SDK you are using?

[2018-09-11 11:31] ayadmarouane opened #359 "Resource Conversations_UploadAttachment not found"
### SDK Platform
Node JS / Bot Framework - API V3

### URL of Code Sample
https://github.com/Microsoft/BotBuilder-Samples/blob/master/Node/core-SendAttachment/app.js

### Problem Description
I'm trying to use Conversations_UploadAttachment ressource to upload an attachement to Skype Chanel but 'm hving a not found error message.
did you replace this resource ?

[2018-09-11 19:55] JonathanFingold opened #362 "Error in Node.js Proactive sample (can't start)"
### SDK Platform
Relates to Node SDK

### URL of Code Sample
https://github.com/Microsoft/BotBuilder-Samples/tree/v4/javascript_nodejs/17.proactive-messages

### Problem Description
Follow the instructions in the readme. Get the following error (in `npm start`).

[code]

[2018-09-11 20:57] nyxsys commented on #359
Can you please post the full stack trace of the error you are receiving? Also, how are you currently running the bot? Option 2 within that bot will likely not work on emulator but if you use [ngrok](https://blog.botframework.com/2017/10/19/debug-channel-locally-using-ngrok/) and set it up in webchat it should be OK.

[2018-09-11 23:33] #362 closed

[2018-09-13 23:47] JonathanFingold opened #373 "v4 C# samples should explicitly call the state accessor's SetAsync method"
### SDK Platform
C# (ASP.NET Core)

### URL of Code Sample
csharp_dotnetcore/2.EchoBot-With-Counter/

However, many (if not most) of the samples that work with state seem to skip the SetAsync step.

### Problem Description
Update sample 2 to use an `int` for the state property, instead of the CounterState class.
Run the sample.
Note that in the Emulator the counter always stays at 1.

By not calli

[2018-09-15 00:28] JonathanFingold commented on #373
@johnataylor , @cleemullins , Can one of you surface this. It seems like a key concept for devs to understand.

[2018-09-15 15:31] daveta commented on #373
@JonathanFingold : Yep, it's not setting.

[2018-09-15 18:17] cleemullins opened #382 "C# Sample 04.Simple-Prompt-Bot is missing a readme"
No readme file.

https://github.com/Microsoft/BotBuilder-Samples/tree/v4/csharp_dotnetcore/04.Simple-Prompt-Bot

[2018-09-15 18:18] cleemullins opened #383 "C# Sample 05.MultiTurn-Prompts-Bot is missing a readme"
No readme.

https://github.com/Microsoft/BotBuilder-Samples/tree/v4/csharp_dotnetcore/05.MultiTurn-Prompts-Bot

[2018-09-15 18:44] diberry opened #384 "v4 LUIS - LUIS specific errors are suppressed and don't bubble up correctly"
Using the 12. NLP-with-luis (javascript_nodejs) sample in the v4 branch.

If I set an incorrect subscription id for LUIS, LUIS correctly throws a 401 at ~/node_modules/azure-cognitiveservices-luis-runtime/lib/operations/prediction.js, line 180. However, the error isn't caught correctly, and the sample returns a 500 error.

The response.statusMessage has the correct error message but it isn't retur

[2018-09-15 20:27] #373 closed

[2018-09-15 20:28] daveta commented on #373
Thanks Jonathan!

[2018-09-16 22:03] ovishesh opened #395 "Potential Vulnerability in one of the dependencies"
Working with the nodejs Console Echobot sample. I committed `package-locked.json` file into one of my own repos and then GitHub notified me of a potential vulnerability. Adding the screenshots here, as a heads-up and in case anything needs to be updated.

Package - https://github.com/Microsoft/BotBuilder-Samples/blob/v4/javascript_nodejs/01.console-echobot/package-lock.json#L279

![image](https://

[2018-09-17 18:04] stevengum commented on #384
Thanks for reporting! We had a mutual issue in Microsoft/botbuilder-js#426 and merged in a fix today via  Microsoft/botbuilder-js#442.

[2018-09-17 18:04] #384 closed

[2018-09-17 18:17] v-ducvo opened #396 "[JS]02. Echobot with counter state missing saveChanges"
### SDK Platform

Node SDK

### URL of Code Sample

https://github.com/Microsoft/BotBuilder-Samples/blob/v4/javascript_nodejs/02.echobot-with-counter/dialogs/mainDialog/index.js

### Problem Description
onTurn: after setting the state property, we need to call "saveChanges" … also, when calling to set the state property, it should be called with "await".

[2018-09-17 18:38] v-ducvo commented on #396
also, the "count" logic is a bit off...if we default "count = 1" then set should be use "count++"...otherwise default "count=0".

[2018-09-17 18:39] v-ducvo commented on #396
Remove line 73 because we no longer use middleware for state management.

[2018-09-17 18:50] JonathanFingold opened #397 "Node.js 02.echobot-with-counter still uses state middleware"
### SDK Platform
Relates to Node.js SDK? -->

### URL of Code Sample
https://github.com/Microsoft/BotBuilder-Samples/blob/97472e8f10bce26ff80b9a5393bce507eff42b91/javascript_nodejs/02.echobot-with-counter/index.js#L73

### Problem Description
This will no longer run properly.

PS. Same problem exists in 03 sample, but 04 sample is clean. I haven't checked the others.

[2018-09-17 19:01] Joseph-Szymanski opened #399 "[ignite] V4 Basic Bot sample 13 fails to run"
Using the V4 SDK, \javascript_nodejs\13.basic-bot, I get an error trying to run my locally created bot (using basic bot sample 13 from the SDK):

Launch configuration created based on 'package.json'.
C:\Program Files\nodejs\node.exe --inspect-brk=20551 index.js
Debugger listening on ws://127.0.0.1:20551/4b77bfa9-8b97-4cc7-96f3-7ddbe55f8218
Debugger attached.
module.js:549
    throw err;
    ^

Err

[2018-09-17 19:18] Joseph-Szymanski commented on #399
I found it worked after running the following commands:
npm install ms-rest-js
npm install request
npm install jsonwebtoken
npm install rsa-pem-from-mod-exp
npm install base64url
npm install async-file
npm install filenamify
npm install fs-extra
npm install read-text-file
npm install azure-cognitiveservices-luis-runtime
npm install html-entities
npm install request-promise-native
npm install @micr

[2018-09-17 19:32] Joseph-Szymanski opened #400 "[ignite] v4 node.js sample basic bot hits a 500 (UnhandledPromiseRejectionWarning) when talking to a local bot with the emulator"
Using node version v8.12.0:

- Create a v4 sdk basic bot templated bot (javascript_nodejs\13.basic-bot).
- Run the bot locally in VS code.
- Connect to the bot in the emulator
- The emulator fails to send messages to the bot. In the console, I get the following error (full log included):

Launch configuration created based on 'package.json'.
C:\Program Files\nodejs\node.exe --inspect-brk=13035 ind

[2018-09-17 20:26] sgellock commented on #400
Can you provide the Emulator version you are using to hit this issue?  thanks

[2018-09-17 20:28] Joseph-Szymanski commented on #400
4.0.474-nightly (seems to be latest on https://github.com/Microsoft/BotFramework-Emulator/releases)

[2018-09-17 20:57] stevkan commented on #286
Hi @umangsp,

Again, apologies for the delay. Look at [this repo](https://github.com/stevkan/skype-calling-bot) of the Skype calling bot. It's a working copy that I made some short time ago.

I made a change in the web.config to use this url in appSettings. You will need to create an account and provide the associated Api key:
[code]
In MSCognitiveSpeechService.cs, line 34:
[code]
And, line 52:
[c

[2018-09-17 22:47] stevengum commented on #399
Note: Original attempts were with Node.js 8.10.0.

Closing as Joe and I were both unable to repro this on my machine and his original machine: we both had Node.js 8.12.0 and NPM 6.4.1 installed.

The dependencies below are subdependencies of our packages and are (should) be installed whenever `npm i` or  `npm install` is called:

[code]

[2018-09-17 22:47] #399 closed

[2018-09-17 22:52] stevengum commented on #400
Note: Original attempts were with Node.js 8.10.0.

Closing as Joe and I were both unable to repro this on my machine and his original machine: we both had Node.js 8.12.0 and NPM 6.4.1 installed and were doing fresh installs of the sample.

`client.pipeline` refers to `ms-rest-js`, it seems like a bad/newer version was installed when `npm install ms-rest-js` was called (see issue #399).

[2018-09-17 22:52] #400 closed

[2018-09-18 00:08] vishwacsena opened #408 "Add launch.json to TS and JS V4 samples"
F5 on V4 Node echo in Visual Studio Code asks which environment - add launch.json to make smoother

[2018-09-18 05:43] umangsp commented on #286
thanks it worked.

On Tue, Sep 18, 2018 at 2:28 AM Steven Kanberg <notifications@github.com>
wrote:

[2018-09-18 16:27] nyxsys commented on #359
This will be closed soon if no response is received.

[2018-09-20 15:19] diberry opened #436 "Spelling error: paternAny should be patternAny"
### SDK Platform
v4 branch

### URL of Code Sample
https://github.com/Microsoft/BotBuilder-Samples/blob/v4/javascript_ts/13.basic-bot/src/bot.ts

probably in others

### Problem Description
One line spells pattern correctly and the other is missing the second "t".

// Supported LUIS Entities, defined in ./dialogs/greeting/resources/greeting.lu
const USER_NAME_ENTITIES = ['userName', 'userName_pate

[2018-09-20 15:24] JonathanFingold opened #437 "Old [misleading] comment in PromptValidations sample"
### SDK Platform
Relates to ASP.NET Core.

### URL of Code Sample
https://github.com/Microsoft/BotBuilder-Samples/blob/8f24936fb2d1856b839efd669d9679de42c00180/csharp_dotnetcore/10.Prompt-Validations/PromptValidationsBot.cs#L122

### Problem Description
The comment refers to a prompt validator behavior that is no longer present in the SDK:

[2018-09-21 19:58] cleemullins opened #461 "C# EchoWithCounter is missing all of it's code"
The [Echo With Counter](https://github.com/Microsoft/BotBuilder-Samples/tree/v4/csharp_dotnetcore/02.echo-with-counter) sample is missing critical files.

[code]

[2018-09-21 20:01] cleemullins opened #462 "C# Console Echo Bot is missing"
The ConsoleEchoBot for C# .Net Core has gone missing.

The [last PR is here](https://github.com/Microsoft/BotBuilder-Samples/pull/433). #433

[2018-09-21 20:03] cleemullins opened #463 "C# Simple Prompt Bot has gone missing (Sample 04)"
Last seen here:
https://github.com/Microsoft/BotBuilder-Samples/commit/04c37184331e6cdeb0c53082f9e2e72a6f68c9c0

[2018-09-21 20:07] yochay opened #464 "C# Basic sample is missing .lu files under Dialogs\greetings\resources"
### SDK Platform
in .NET  Dialog greeting is missing resource folder with all .lu files
https://github.com/Microsoft/BotBuilder-Samples/tree/v4/samples/csharp_dotnetcore/13.basic-bot
**missing**

in JS
**Found**
https://github.com/Microsoft/BotBuilder-Samples/tree/v4/samples/javascript_nodejs/13.basic-bot/dialogs/greeting

Also,
CognativeModels  includes a basic-bot.luis
DeploymentScript\MsbotClon

[2018-09-21 20:10] sgellock commented on #463
we moved your cheese

[2018-09-21 20:10] #463 closed

[2018-09-21 20:10] sgellock commented on #462
we moved your cheese

[2018-09-21 20:10] #462 closed

[2018-09-21 20:10] sgellock commented on #461
we moved your cheese

[2018-09-21 20:10] #461 closed

[2018-09-21 21:47] yochay opened #468 "Smoke test samples with 4.0.6"
### SDK Platform
.NET and JS

Version: 4.0.6 (from myget)

@cleemullins  notify the team when bits are ready.

**Tests include:**
- [ ] get latest packages
- [ ] run locally (emulator) and test sample functionality (welcome messages, cards, LUIS, QnA, etc.)
- [ ] deploy to ABS and test via Web Chat

**C#**
- [ ] (@<you git alias here>)  https://github.com/Microsoft/BotBuilder-Samples/tree/v4/sampl

[2018-09-22 03:24] JasonSowers opened #482 "ckout 11"
### SDK Platform

### URL of Code Sample

### Problem Description

[2018-09-22 03:25] #482 closed, assigned to nobody

[2018-09-23 20:49] stevengum opened #519 "npm i -g <botbuilder-tools packages> errors out on Linux"
### SDK Platform
Node.js v4 Samples

### URL of Code Sample
All current README.md telling users to install botbuilder-tools packages via `npm i -g`

### Problem Description
Linux users need to use `sudo npm i -g`, `npm i -g` will error out unless the user is already logged in as the super user (which is nomally unlikely).

### Fix
We should include a separate set of instructions (which is most lik

[2018-09-24 16:09] jwiley84 commented on #314
Hi @vivekjainAco! just checking to see if you're still having this issue.

[2018-09-24 20:27] #286 closed

[2018-09-24 23:10] nyxsys opened #540 "Uploaded attachment option in sample throws content length error"
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues) / [Java](https://github.com/Microsoft/botbuilder-java/issues)/ [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for genera

[2018-09-25 11:19] JMyner opened #541 "01.console-echo javascript npm i fails"
## Sample information
1. Sample type: javascript
2. Sample language: nodejs
3. Sample name: 01.Console-echo

## Describe the bug

After following the instructions of cloning the repo and running npm i, npm i fails with the following errors:

`npm ERR! code ETARGET

npm ERR! notarget No matching version found for botbuilder-core@4.0.5

npm ERR! notarget In most cases you or one of your dependencies

[2018-09-25 22:52] cleemullins opened #550 "VSIX - Broken Emulator Link"
Via Marcus Cobb on the VISX site:
https://marketplace.visualstudio.com/items?itemName=BotBuilder.botbuilderv4#qna

"Emulator" link is broken just due to a misspelling (and Ignite frenzy)

[2018-09-25 22:54] #541 closed

[2018-09-25 23:27] stevengum commented on #396
#397 was a duplicate of this, and it looks like the issue regarding the count incrementing was fixed. This has been resolved.

[2018-09-25 23:27] #396 closed

[2018-09-25 23:31] stevengum commented on #382
Fixed: https://github.com/Microsoft/BotBuilder-Samples/blob/master/samples/csharp_dotnetcore/04.simple-prompt/readme.md

[2018-09-25 23:31] #382 closed

[2018-09-25 23:33] stevengum commented on #383
Fixed: https://github.com/Microsoft/BotBuilder-Samples/blob/master/samples/csharp_dotnetcore/05.multi-turn-prompt/readme.md

[2018-09-25 23:33] #383 closed

[2018-09-25 23:49] vishwacsena commented on #519
@stevengum  - great bug. Can you help draft up the concise set of instructions we can share out? We likely need to fix botbuilder-tools repo as well.

[2018-09-25 23:49] #468 closed

[2018-09-25 23:50] vishwacsena commented on #464
Fixed.

[2018-09-25 23:50] #464 closed

[2018-09-25 23:51] vishwacsena commented on #436
Also needs a fix in the .lu file - https://github.com/Microsoft/BotBuilder-Samples/blob/master/samples/javascript_typescript/13.basic-bot/resources/greeting.lu

[2018-09-25 23:54] vishwacsena opened #551 "Deployment.md in yeoman generator for basic bot is missing 'services'"
## Sample information
1. Sample type: \generators\
2. Sample language: JS and TS
3. Sample name: 13.basic-bot

## Describe the bug
The deployment.md instructions for [basic-bot](https://github.com/Microsoft/BotBuilder-Samples/blob/master/generators/generator-botbuilder/generators/app/templates/basic/deploymentScripts/DEPLOYMENT.md) should read
[code]
Right now it just has msbot clone followed by t

[2018-09-26 11:44] mplwork opened #552 "Cannot install behind firewall"
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues) / [Java](https://github.com/Microsoft/botbuilder-java/issues)/ [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for genera

[2018-09-26 12:34] awebber-chl opened #554 "script error when deploying bot via msbot clone"
I have visual studio code and the bot framework sdk installed on my mac and I believe I am running into a script error when trying to run the msbot script to deploy my chatbot to Azure. I am issuing  the following command from the csharp_dotnetcore/02.echo-with-counter/ dir:
`msbot clone services -f deploymentScripts/msbotClone -n echobot -l "westus" --subscriptionId MYAZUREGUID`

I get back the f

[2018-09-26 17:44] JonathanFingold opened #556 "Subscription key in C# #14 readme"
## Sample information
1. Sample type: samples
2. Sample language: dotnetcore
3. Sample name: 14.nlp-with-dispatch

## Describe the bug
Last step in [Configure QnA Maker service](https://github.com/Microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/14.nlp-with-dispatch#configure-qna-maker-service) includes a hard-coded subscription key instead of a placeholder.

## To Reproduce
Step

[2018-09-26 18:16] JonathanFingold opened #557 "NLP with Dispatch throws exception after following readme instructions"
## Sample information
1. Sample type: samples
2. Sample language: dotnetcore
3. Sample name: 14.nlp-with-dispatch

## Describe the bug
Follow README instructions up through **Securing keys in your .bot file** and [**Visual Studio**](https://github.com/Microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/14.nlp-with-dispatch#visual-studio). The bot throws an exception during setup.

#

[2018-09-26 20:13] mriverap opened #560 "TypeScript missing from Prerequisites list in Botbuilder SDK for Javascript QuickStart page"
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues) / [Java](https://github.com/Microsoft/botbuilder-java/issues)/ [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for genera

[2018-09-26 20:14] JonathanFingold commented on #557
Fix line 186
[code]

Next error, line 216:
[code]

[2018-09-26 21:13] JasonSowers commented on #557
@JonathanFingold would you like to submit a PR with these changes or would you like me to?

[2018-09-26 21:16] JonathanFingold commented on #557
Since there are more errors that I haven't tracked down yet, please go for it.

[2018-09-26 21:17] #314 closed

[2018-09-27 11:16] mplwork commented on #552
Thanks, but this is not an option. I can only use http and https, nothing else. And for cloning a git repo, especially from github, I don't need anything else, also the v3 samples work just fine with just http. So something is definitely wrong.

[2018-09-27 11:18] awebber-chl commented on #554
I think I found the problem in the msbot utility.
`https://github.com/Microsoft/botbuilder-tools/blob/6499585e8d96584adebd0f4373898ef13a4123e3/packages/MSBot/src/msbot-clone-services.ts#L255`
I have reported my bug there and will close this issue.

[2018-09-27 11:18] #554 closed

[2018-09-27 15:59] JonathanFingold opened #562 "Broken link in sample 11, QnA Maker"
## Sample information
1. Sample type: samples
2. Sample language: dotnetcore
3. Sample name: 11.qnamaker

## Describe the bug
The second link in the [Prerequisites](https://github.com/Microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/11.qnamaker#prerequisites) section generates a 404.

## To Reproduce
Steps to reproduce the behavior:
1. Go to [Prerequisites](https://github.com/Mic

[2018-09-27 16:49] JonathanFingold opened #563 "v4 Emulator fails to connect using Node.js proactive bot file."
## Sample information
1. Sample type: samples
2. Sample language: nodejs
3. Sample name: 16.proactive-messages

## Describe the bug
The **.bot** file refuses to open in the v4 Emulator.

## To Reproduce
Steps to reproduce the behavior:
1. Open the BotBuilder-Samples/samples/javascript_nodejs/16.proactive-messages/ folder in VS Code.
  - In the terminal, enter `npm i` and `npm start` to get the bot

[2018-09-27 17:27] CathyQian opened #564 "QnA maker doesn"
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues) / [Java](https://github.com/Microsoft/botbuilder-java/issues)/ [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for genera

[2018-09-27 17:41] CathyQian opened #566 "QnA maker doesn't run"
## Sample information
1. Sample type: Sample
2. Sample language: C#
3. Sample name: 11.QnAMaker

## Describe the bug
Following the procedure to run the bot in both Visual Studio and Visual Studio Code resulted in errors.

In Visual Studio, the bot can be built and local host can be created. However, when I enter text into the Bot Emulator, it says "couldn't send".

In Visual Studio Code, I went to

[2018-09-27 17:41] #564 closed

[2018-09-27 18:22] nyxsys commented on #552
Please try running these two commands so that git uses https instead of ssh and let me know if this fixes the issue for you:
[code]

[2018-09-27 18:30] CathyQian opened #567 "QnAMaker link broken"
## Sample information
1. Sample type: Samples
2. Sample language: C#
3. Sample name: 11.QnAMaker

## Describe the bug
In the README.MD file, two links, to "here" and "sample.qna" respectively, in the following sentence in the prerequisite section are broken: "Follow instructions here to import the sample.qna to your newly created QnA Maker service.""

The right link to "here" should be: https://do

[2018-09-27 18:30] Joombalaya opened #568 "npm install issues with all samples"
Cannot run npm install on any of the samples. I get the following errors:
PS C:\BotBuilder-Samples-master\samples\javascript_nodejs\05.multi-turn-prompt> npm i
npm WARN tar ENOENT: no such file or directory, open 'C:\BotBuilder-Samples-master\samples\javascript_nodejs\05.multi-turn-prompt\node_modules\.staging\ms-rest-cd8e883f\lib\constants.js'
npm WARN tar ENOENT: no such file or directory, open

[2018-09-27 19:17] JasonSowers commented on #568
@Joombalaya I am not seeing the same results as you, can you please provide the exact steps you are using including which directories you are executing commands against?

[2018-09-27 20:28] #560 closed

[2018-09-27 20:28] sgellock commented on #560
fixed with https://github.com/Microsoft/BotBuilder-Samples/pull/569.
Will be in 4.0.9 update of generator-botbuilder

[2018-09-27 20:30] benbrown commented on #563
@JonathanFingold What version of the emulator are you using?
Are you on a Mac, PC or linux?

[2018-09-27 20:36] JonathanFingold commented on #563
@benbrown I'm on Windows 10 Enterprise x64, using "Bot Framework Emulator (V4 PREVIEW) version 4.0.196-nightly.

[2018-09-27 20:49] JonathanFingold commented on #563
@benbrown PS. Creating an echo bot from the Yeoman template produces the same behavior. I've tried both js and ts templates.

[2018-09-27 20:50] benbrown commented on #563
@JonathanFingold thanks for the info. I am not able to reproduce so far, but I'm still investigating.

[2018-09-27 20:58] JonathanFingold commented on #563
Here's some additional system info:
node v8.12.0
npm 6.4.1
python 3.7.0
yeoman 2.0.5
botbuilder 4.0.6

[2018-09-27 21:02] vishwacsena commented on #550
Fixed.

[2018-09-27 21:02] #550 closed

[2018-09-27 21:08] robhellest commented on #566
Hi Cathy - close to running successfully; if trying to run QnA Maker in Bot Framework Emulator, with Visual Studio solution running locally in IIS - following error is received: **System.ArgumentException: 'Invalid configuration. Please check your '.bot' file for a QnA service named 'QnABot'.'**
Best regards - Rob

[2018-09-27 21:11] vishwacsena commented on #567
Possible dupe of #562

[2018-09-27 21:13] #274 closed

[2018-09-27 21:13] benbrown commented on #563
@JonathanFingold can you give it a shot with a slightly newer build of the emulator? I can't reproduce with 577-nightly for example.

[2018-09-27 21:30] JasonSowers commented on #567
addressed in #573

[2018-09-27 21:30] #567 closed

[2018-09-27 21:31] JasonSowers commented on #562
addressed in #573

[2018-09-27 21:31] #562 closed

[2018-09-27 21:41] CathyQian commented on #566
@robhellest Yes, that's exactly the error I'm receiving. So what is the solution? Thanks!

[2018-09-27 21:52] Joombalaya commented on #568
re-pulling from the master fixed the issue

[2018-09-27 22:09] CathyQian commented on #566
@robhellest @JonathanFingold and I finally made it work. Here is what we did:
Change the BotConfiguration.bot file content to the following:

{
  "name": "QnABotSample",
  "services": [
    {
      "type": "endpoint",
      "name": "development",
      "endpoint": "http://localhost:3978/api/messages",
      "appId": "",
      "id": "1",
      "appPassword": ""
    },
    {
      "type": "qna",

[2018-09-27 22:09] JonathanFingold commented on #563
@benbrown Well, that appears to have been mostly it. I uninstalled the emulator and installed the preview, and now it's working, at least with the changes I had already made to the .bot file.

I'll revert those to see if it still works

Bot Framework Emulator (V4 PREVIEW)
version: 4.0.0-preview.40326

[2018-09-27 22:13] daveta commented on #557
See https://github.com/Microsoft/BotBuilder-Samples/pull/576 which should address the issues.

[2018-09-27 22:17] JonathanFingold commented on #563
@benbrown Okay, it seems to work, even after reverting the .bot file. Closing.

[2018-09-27 22:17] #563 closed

[2018-09-27 23:30] robhellest commented on #566
Thanks Cathy! change to BotConfiguration.bot file did the trick; best regards - Rob

[2018-09-27 23:31] stevengum opened #578 "Update READMEs to use "/" instead of "\""
**Is your feature request related to a problem? Please describe.**
The copy-paste commands from the READMEs use backslashes:
[code]

This is not UNIX or UNIX-like compat.

**Describe the solution you'd like**
I'd to see all the examples except for the csharp_webapi samples use forward slashes `/` in their READMEs for paths where applicable.

**Describe alternatives you've considered**
Leaving the

[2018-09-28 03:30] #436 closed

[2018-09-28 11:45] mplwork commented on #552
Thanks for the reply. I tried exactly as you typed (though I don't quite understand the quoting rules) but without any change of the result. ~/.gitconfig showed the url replacement entries.

With these entries in .gitconfig

`[url `"https://github.com"]`
`        insteadOf = git://git@github.com`
`[url "https://"]`
`        insteadOf = git://`

a `git clone git://git@github.com/Microsoft/BotBuilde

[2018-09-28 16:04] #568 closed

[2018-09-28 20:26] JasonSowers opened #580 "nlp-with-luis broken"
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues) / [Java](https://github.com/Microsoft/botbuilder-java/issues)/ [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for genera

[2018-09-28 22:21] nyxsys commented on #552
I'm looking into setting up my computer to have a firewall similar to yours for testing purposes as we weren't able to recreate it just using a computer that didn't have the github ssh keys set up.

But for now can you check which versions of npm and node you're using?

[2018-09-28 22:47] JasonSowers commented on #566
Glad you got this working

[2018-09-28 22:47] #566 closed

[2018-09-29 09:55] mgn7 commented on #282
This JSOn works.

{
  "luis_schema_version": "3.1.0",
  "versionId": "0.1",
  "name": "LuisBot",
  "desc": "GitHubExampl",
  "culture": "en-us",
  "intents": [
    {
      "name": "None"
    },
    {
      "name": "SearchHotels"
    },
    {
      "name": "ShowHotelsReviews"
    },
    {
      "name": "Help"
    }
  ],
  "entities": [
    {
      "name": "Hotel"
    },
    {
      "name": "Airport

[2018-09-30 17:27] afnan-ahmad opened #585 "[Yeoman] TypeScript Basic template prompt bug"
## Describe the bug
I am using the **Basic** bot template in TypeScript via Yeoman generator, when I get into the **Greeting** intent by saying hello, the bot asks for the user's name (In Prompt), and when replying with a name, it goes into the **None** intent on the next **onTurn** resulting in a _"I didn't understand what you just said."_ response.

## Expected behavior
The bot should have conti

[2018-10-01 02:09] vishwacsena commented on #585
Bug also exists in the TS basic bot sample. JS and C# basic bot samples are ok.

[2018-10-01 02:11] vishwacsena commented on #580
Closing this since the PR has been merged.

[2018-10-01 02:11] #580 closed

[2018-10-01 02:59] mikeblancas opened #590 "V3 links are broken"
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues) / [Java](https://github.com/Microsoft/botbuilder-java/issues)/ [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for genera

[2018-10-01 03:30] afnan-ahmad commented on #585
Right, the code seems identical for both. Should I submit a PR?

[2018-10-01 05:30] stevengum commented on #590
Thanks for reporting this, the branch is now back up and available. Can you confirm your access to it?

I'm going to close this issue tomorrow as I am able to access the branch via the link in the current `master` README.md.

[2018-10-01 09:31] mplwork commented on #552
Thanks for the reply. I tried exactly as you typed (though I don't quite understand the quoting rules) but without any change of the result. ~/.gitconfig showed the url replacement entries.

With these entries in .gitconfig

`[url `"https://github.com"]`
`        insteadOf = git://git@github.com`
`[url "https://"]`
`        insteadOf = git://`

a `git clone git://git@github.com/Microsoft/BotBuilde

[2018-10-01 09:32] mplwork commented on #552
You asked for versions which I overlooked. Here it is:

 pc> node -v
v8.11.3
 pc> npm --version
5.6.0

[2018-10-01 13:48] sgellock commented on #585
@afnan-ahmad that code lives in multiple places. so I'll push up a PR today.  Thanks for reporting the issue.

[2018-10-01 21:05] nyxsys commented on #552
Would it be possible for you to update npm and try the previous git config setup again?

[2018-10-01 22:40] JonathanFingold opened #593 "LUIS model is not the same for JS and C# samples"
## Sample information
1. Sample type: samples
2. Sample language: **dotnetcore** and **nodejs**
3. Sample name: **12.nlp-with-luis**

## Describe the bug
The cognitive model used in the two versions of this sample are not quite the same.

## To Reproduce
Steps to reproduce the behavior:
1. Compare the JS file [reminders.json](https://github.com/Microsoft/BotBuilder-Samples/blob/master/samples/java

[2018-10-01 22:49] #578 closed

[2018-10-01 23:44] JonathanFingold commented on #557
Following the non-clone instructions still is throwing various exceptions:

Line 7 in **BotConfiguration.bot** still needs to change to:
[code]

Also, **Startup.cs** line 189 throws. Changing it to
[code]
Gets rid of the first exception thrown by that line (for "Home Automation"), but it still throws (for "Weather"). I'm not even sure why this line is in here. Should this really be:
[code]

Changi

[2018-10-01 23:58] JonathanFingold commented on #557
I'm still not out of **Startup.cs**

Tweaking the code around 216 to the following gets me past one more hurdle:
[code]

Then I run into the dreaded  `dispatch.Name.Split("_")[1]` call, which throws. Replacing with:
[code]

This maybe gets me out of Startup? Now I get a 404.
[code]

[2018-10-02 00:11] JonathanFingold commented on #557
Yes, so:
1. Creating a folder named **wwwroot**, and creating a **default.html** file within it solves the 404 issue.

[2018-10-02 00:14] JonathanFingold commented on #557
Well, now I'm getting `System.ArgumentException: Invalid configuration.  Please check your '.bot' file for a Luis service named 'Home Automation'.` So, I guess the dreaded Name.Split("_")[1] should be simple just Name...

[2018-10-02 00:17] JonathanFingold commented on #557
Doing that at least gets me to the welcome message, but no further. Throwing in the towel for now.
[code]

[2018-10-02 11:26] mzoi opened #596 "[24.bot-authentication-msgraph] TypeError: Converting circular structure to JSON"
### Github issues for [JS](https://github.com/Microsoft/botbuilder-js/issues)

## Sample information
[24.bot-authentication-msgraph
](https://github.com/Microsoft/BotBuilder-Samples/tree/master/samples/javascript_nodejs/24.bot-authentication-msgraph)

## Describe the bug
After displaying Login card, an error occurred : "**TypeError: Converting circular structure to JSON**" and I can not login, eve

[2018-10-02 15:28] daveta commented on #557
@JonathanFingold : Thanks for finding the missing default.htm file - not sure how I missed that!  I checked in a fix for that.

For the other stuff, the sample assumes you have run msbot.  The implications are:
- You should use the .bot configuration file that gets generated for you.
- When you deploy using msbot, you provide a name (hopefully a short name - i don't know the max limit on chars bef

[2018-10-02 15:41] JonathanFingold commented on #557
@daveta I followed the readme instruction faithfully. This is the structure of the resulting .bot file. There's an `authoringKey`, but no `subscriptionKey` in the Dispatch section.
[code]

[2018-10-02 16:27] mplwork commented on #552
You asked for versions which I overlooked. Here it is:

 pc> node -v
v8.11.3
 pc> npm --version
5.6.0

I did but no change. But while updating npm I found the following: If I do a `npm i npm@latest` in `BotBuilder-Samples/samples/javascript_nodejs/14.nlp-with-dispatch` I get the same problem:

` pc> npm i npm@latest
npm ERR! Error while executing:
npm ERR!  C:\MyStuff\NCygwin\bin\git.EXE ls-remote

[2018-10-02 17:31] JasonSowers commented on #596
Looking into this

[2018-10-02 17:37] ryantwarner commented on #557
@JonathanFingold currently working through this, can confirm adding subscriptionKey to dispatch, and the missing default.htm, makes things work.

[2018-10-02 19:07] Jeffders opened #600 "Authentication samples mis-using state APIs"
In this file:

https://github.com/Microsoft/BotBuilder-Samples/blob/master/samples/csharp_dotnetcore/24.bot-authentication-msgraph/GraphAuthenticationBot.cs

On line 214 is this code:

var parts = _stateAccessors.CommandState.GetAsync(step.Context, cancellationToken: cancellationToken).Result.Split(' ');

The call to GetAsync is missing the default factory method parameter and so the sample doens'

[2018-10-02 19:45] #557 closed

[2018-10-02 20:17] JonathanFingold commented on #557
@JasonSowers Did you mean to close this issue? I think your PR only addressed some of the issues raised here.

[2018-10-02 21:52] #590 closed

[2018-10-03 02:32] sgellock commented on #585
Fix addressed in pull https://github.com/Microsoft/BotBuilder-Samples/pull/603

[2018-10-03 03:29] #585 closed

[2018-10-03 10:35] beradrian opened #605 "Is someone answering questions on StackOverflow?"
[question]
I asked questions on Stackoverflow as advised, but nobody is answering. Isn't that the right channel for questions anymore?

Thank you!

[2018-10-03 13:34] #556 closed

[2018-10-03 13:36] sgellock commented on #605
It is the correct form for questions.  @JasonSowers can you follow up please?

[2018-10-03 16:20] #605 closed

[2018-10-03 16:29] JasonSowers commented on #605
Yes, stack overflow is the correct forum to ask how to questions.  Please include as much detail in your questions as possible.  Information like which SDK you are using is important.  Response time will vary based on how many support request there are at the time, but generally will be responded to within 24-72 business hours.

[2018-10-03 17:29] JonathanFingold opened #606 "C# Dispatch .bot endpoint service name doesn't match what's expected by the Statup.cs file"
## Sample information
1. Sample type: **samples**
2. Sample language: **dotnetcore**
3. Sample name: **14.nlp-with-dispatch**

## Describe the bug
C# Dispatch .bot endpoint service name doesn't match what's expected by the Statup.cs file, causing the app to crash on launch.

## To Reproduce
Steps to reproduce the behavior:
1. Go to the [README](https://github.com/Microsoft/BotBuilder-Samples/blob/

[2018-10-03 17:54] JonathanFingold opened #607 "C# Dispatch startup code expects a subscription key for Dispatch, throws exception"
## Sample information
1. Sample type: **samples**
2. Sample language: **dotnetcore**
3. Sample name: **14.nlp-with-dispatch**

## Describe the bug
Following the readme instructions causes an exception at startup;
C# Dispatch startup code expects a subscription key for Dispacth, throws exception.

## To Reproduce
Steps to reproduce the behavior:
1. Go to the [README](https://github.com/Microsoft/Bo

[2018-10-03 18:14] JonathanFingold opened #609 "C# Dispatch bot crashes on receiving first message"
## Sample information
1. Sample type: **samples**
2. Sample language: **dotnetcore**
3. Sample name: **14.nlp-with-dispatch**

## Describe the bug
The bot code for this sample crashes on first input from the user.

## To Reproduce
Steps to reproduce the behavior:
1. Go to the [README](https://github.com/Microsoft/BotBuilder-Samples/blob/master/samples/csharp_dotnetcore/14.nlp-with-dispatch/README.

[2018-10-03 18:16] sgellock commented on #551
this is fixed in the 4.0.10 release of gnerator-botbuilder

[2018-10-03 18:16] #551 closed

[2018-10-04 20:19] JonathanFingold opened #616 "Node.js Dispatch luis import application for Home Automation fails"
## Sample information
1. Sample type: samples
2. Sample language: nodejs
3. Sample name: 14.nlp-with-dispatch

## Describe the bug
Following the readme instructions for manually configuring the LUIS services causes the **luis** CLI tool to return an error.

## To Reproduce
Steps to reproduce the behavior:
1. Open the [readme](https://github.com/Microsoft/BotBuilder-Samples/blob/master/samples/java

[2018-10-04 21:39] enzocanoo opened #618 "[nodejs][11.qnamaker] Sample crash if QnA service name does not match .bot file"
## Sample information
1. Sample type: **samples**
2. Sample language: **nodejs**
3. Sample name: 11.qnamaker

## Describe the bug
The QnA service name in [`index.js`](https://github.com/Microsoft/BotBuilder-Samples/blob/master/samples/javascript_nodejs/11.qnamaker/index.js#L39) does not match the name in the [`bot.recipe`](https://github.com/Microsoft/BotBuilder-Samples/blob/master/samples/javascr

[2018-10-04 21:54] sgellock commented on #552
Can you give the following a try by mapping your ssh protocol calls in git to https:
https://gist.github.com/Kovrinic/ea5e7123ab5c97d451804ea222ecd78a

[2018-10-04 22:31] #596 closed

[2018-10-04 22:38] JasonSowers opened #622 "V3 .visx"
This is only aplicable to the V3 version of the visx template.

In the doc located at https://docs.microsoft.com/en-us/azure/bot-service/dotnet/bot-builder-dotnet-quickstart?view=azure-bot-service-3.0 there is a broken link to the v3 visx in the prerequisites section.  The link directs the user to the marketplace where the visx no longer exists.

In the doc located at https://docs.microsoft.com/en

[2018-10-04 22:55] JasonSowers commented on #596
#621 addresses this and has been merged, please pull from the repo.  Thanks for reporting this.

[2018-10-05 09:33] mzoi commented on #596
It works. Thanks for the fix.

[2018-10-05 12:07] mplwork commented on #552
Thanks, but no, it doesn't work. I think this has been suggested before. There has to be something else going on, see my previous comment. I also noticed that git tries a https url first (`git.exe ls-remote -h -t https://github.com/amarzavery/fetch-ponyfill.git`) and after quite a while this seems to fail and git retries with ssh. The `git ls-remote https://...` works just fine if run manually. I

[2018-10-05 15:38] dfavretto opened #624 "Modify Readmes template and Installing_CLI_tools.md"
**Is your feature request related to a problem? Please describe.**
The readme template in [SPEC.md](https://github.com/Microsoft/BotBuilder-Samples/blob/0492c45717fcb3033106572e8a1e55870414241f/SPEC.md) is missing some information that should be included in the Readmes.

Also, in the [Installing_CLI_tools.md](https://github.com/Microsoft/BotBuilder-Samples/blob/0492c45717fcb3033106572e8a1e55870414

[2018-10-05 15:41] enzocanoo opened #625 "[nodejs][12.nlp-with-luis] Sample does not find the LUIS service"
## Sample information
1. Sample type: **samples**
2. Sample language: **nodejs**
3. Sample name: **12.nlp-with-luis**

## Describe the bug
- The sample does not include instructions to replace the `LUIS_CONFIGURATION` const in the `index.js`.
- The sample does not include the `34.luis` file needed to deploy the service with `msbot`.
- The `bot.recipe` includes a step to deploy a blob storage to Az

[2018-10-05 17:57] nyxsys commented on #552
I think that `npm i npm` is likely trying to install npm itself to that directory rather than update the global version. `npm i -g npm` should work if that is the case. If it works your npm version should be 6.4

[2018-10-05 18:39] daveta commented on #606
My recommendation is we remove the default .bot file --  it's a distraction.  For this sample, msbot should be used to generate the .bot configuration.

[2018-10-05 20:39] dfavretto opened #627 "[typescript][12.nlp with luis] Sample can't be run"
## Sample information
1. Sample type: \samples\
2. Sample language: typescript
3. Sample name: 12.nlp-with-luis

## Describe the bug
The sample can't be run correctly due to the following error message
`src/index.ts:45:26 - error TS2339: Property 'getEndpoint' does not exist on type 'ILuisService'.`

## To Reproduce
Steps to reproduce the behavior:
1. Follow the deployment, configuration and insta

[2018-10-05 21:50] dfavretto opened #628 "[netcore][11.qnamaker] Missing files and Readme has wrong instruction"
## Sample information
1. Sample type: \samples\
2. Sample language: dotnetcore
3. Sample name: 11.qnamaker

## Describe the bug
-  The `qna` resource is missing in `bot.recipe`.
-  The `qna` service is missing in `BotConfiguration.bot`.
-  Step 2 from [**Prerequisites**](https://github.com/Microsoft/BotBuilder-Samples/blob/master/samples/csharp_dotnetcore/11.qnamaker/README.md#prerequisites) in `r

[2018-10-05 21:54] Joombalaya opened #629 "Node.js issue with MessageRoutingBot"
In the Greetings extension of ComponentDialog in the greeting.js file
when intializeStateStep() is called the WaterfallStepContext is not being defined. as a result the bot fails when it tries to call options.

[code]

I went ahead and did a console.log of dc (step returned undefined) and got the following:

[code]

The greetingStateAccessor.get() is also not returning a value back. It's a moot po

[2018-10-05 21:59] enzocanoo opened #630 "[nodejs][12.nlp-with-luis] Sample does not use the region defined by the user"
## Sample information
1. Sample type: **samples**
2. Sample language: **nodejs**
3. Sample name: **12.nlp-with-luis**

## Describe the bug
The sample only works with `westus` LUIS region.

## To Reproduce
Steps to reproduce the behavior:
1. Follow the [instructions](https://github.com/Microsoft/BotBuilder-Samples/blob/master/samples/javascript_nodejs/12.nlp-with-luis/README.MD) to run the sample.

[2018-10-05 22:00] Joombalaya commented on #629
So I found out that this issue is fixed if you take out all the dc calls and replace them with step (or vise versa) so the following snippet worked :

[code]

Repo probably needs to be corrected

[2018-10-05 22:19] Joombalaya commented on #629
Turns out there is a bunch wrong with the greeting.js file because anytime `return await <param>.end() ` gets called it says that it's not a function. And simply returning the value is causing some amusing errors. A sample Dialog:

[2018-10-05 22:37] giuleon opened #631 "BotBuilder-Samples/samples/javascript_nodejs/24.bot-authentication-msgraph"
### Github issues for [Java](https://github.com/Microsoft/botbuilder-java/issues)/

## Sample information
1. Sample type: [BotBuilder-Samples/samples/javascript_nodejs/24.bot-authentication-msgraph]
2. Sample language: [nodejs]
3. Sample name: 24.bot-authentication-msgraph

## Describe the bug
I followed every single step described in the readme, however the login button doesn't appear and I recei

[2018-10-06 17:29] sgellock commented on #395
the above PR addresses the issue.

[2018-10-06 17:29] #395 closed

[2018-10-08 14:57] enzocanoo opened #634 "[nodejs][13.basic-bot] Sample does not find the LUIS service"
## Sample information
1. Sample type: **samples**
2. Sample language: **nodejs**
3. Sample name: **13.basic-bot**

## Describe the bug
1. The `msbot clone` script used in `DEPLOY.md` will fail due to a missing `--location` argument.
2. The sample does not include instructions to replace the `LUIS_CONFIGURATION` const in `bot.js`.

## To Reproduce
Steps to reproduce the behavior:
1. Follow instruct

[2018-10-08 15:48] dfavretto opened #635 "[netcore] BotConfiguration.bot is missing LUIS and QnA service section"
**Is your feature request related to a problem? Please describe.**
The `BotConfiguration.bot` file in samples that use LUIS or QnA services, i.g. [Sample # 11](https://github.com/Microsoft/BotBuilder-Samples/blob/master/samples/csharp_dotnetcore/11.qnamaker/BotConfiguration.bot) and [Sample # 13](https://github.com/Microsoft/BotBuilder-Samples/blob/master/samples/csharp_dotnetcore/13.basic-bot/Bot

[2018-10-08 16:38] talon2king opened #636 "51. Cafe Bot OnTurnPropert.cs error"
## The bug
With the code written as is, line 55 was throwing an error saying that FirstOrDefault is not a method of JToken (Newtonsoft.Json.Linq.JEnumerable<Newtonsoft.Json.Linq.JToken>' does not contain a definition for 'FirstOrDefault').

## To Reproduce
Steps to reproduce the behavior:
1. Execute project
2. Use bot emulator
3. Enter an utterance that has a LUIS entity in it
4. place a line brea

[2018-10-08 17:46] Joombalaya commented on #629
I was doing more digging on why the bot error. It seems that when the interrupt function is called in bot.js that it is not removing the waterfalldialog from the stack and so the dialog just continues on even though it's told us that the activity is cancelled.

[2018-10-08 17:50] Kaiqb commented on #622
@JasonSowers - The only content we have in V3 is about using ABS to create bots. Other quickstarts have been removed.

[2018-10-08 17:50] #622 closed

[2018-10-08 18:00] JasonSowers commented on #636
@talon2king would you like to submit a pull request with this fix?

[2018-10-08 18:04] talon2king commented on #636
@JasonSowers Sure thing!

[2018-10-08 20:09] enzocanoo opened #639 "[nodejs][14.nlp-with-dispatch] Sample does not find the LUIS service"
## Sample information
1. Sample type: **samples**
2. Sample language: **nodejs**
3. Sample name: **14.nlp-with-dispatch**

## Describe the bug
The sample does not include instructions to replace the `DISPATCH_CONFIG`, `LUIS_CONFIGURATION`, and `WEATHER_LUIS_CONFIGURATION` const in the sample. Without proper configuration, the sample will not resolve the correct services from the `.bot` file.

## T

[2018-10-08 21:34] justinwilaby opened #643 "51.cafe-bot throws on startup"
running `npm start` in 51.cafe-bot fails to startup and throws the following error:

![image](https://user-images.githubusercontent.com/2652885/46634870-46edcf80-cb07-11e8-8a3f-c0ed005fa301.png)

[2018-10-08 22:55] JasonSowers commented on #636
Closing this issue as we will continue the conversation in the pull request thread as we review it, thanks!

[2018-10-08 22:55] #636 closed

[2018-10-09 10:29] markleavesley opened #645 "Project 21 (Luis with AI) BotServices resolution error"
I'm trying to get this sample project for LUIS to work. The bot starts but when I try and use it I get this error:

`Unable to resolve service for type 'Microsoft.BotBuilderSamples.BotServices' while attempting to activate 'Microsoft.BotBuilderSamples.LuisBot'.`

I've changed no code other than setting up LUIS and AI (which was a chore in itself). I've spent hours trying to figure this out out (I'

[2018-10-09 15:08] enzocanoo opened #649 "[nodejs][17.multilingual-conversations] Sample falls in an infinite loop when trying to use Spanish"
## Sample information
1. Sample type: **samples**
2. Sample language: **nodejs**
3. Sample name: **17.multilingual-conversations**

## Describe the bug
The sample automatically translates the utterance `es` to `It` when trying to set the language to Spanish if the translator is active.

## To Reproduce
Steps to reproduce the behavior:
1. Follow instructions to run the sample and open the emulator.

[2018-10-09 16:35] #282 closed

[2018-10-09 18:34] JasonSowers commented on #540
This also happens in c# going to resize the image.

[2018-10-09 20:02] #540 closed

[2018-10-09 20:13] benbrown commented on #639
We should consider changing the msbot tool so that it has an option to not add these prefixes to the configuration names.

[2018-10-09 20:17] benbrown opened #653 "Remove .bot files from projects where they should be generated"
## Describe the bug
We should remove the sample .bot files from the projects where the developer needs to generate them - primarily samples where external services are used.

See #635

- [ ] Sample 11
- [ ] Sample 13

[2018-10-09 20:18] benbrown commented on #635
We'll address this in #653

[2018-10-09 20:18] #635 closed

[2018-10-09 20:19] benbrown commented on #634
Looks like we need to update the instructions at the very least, though #653 may also be related.

[2018-10-09 23:05] daveta commented on #645
@markleavesley : Can you take a look at:
https://github.com/Microsoft/BotBuilder-Samples/pull/659
This should address the issues you ran into.  Hopefully will be merged in soon.
Thanks

[2018-10-10 12:16] enzocanoo opened #662 "[nodejs][20.qna-with-appinsights] Missing QnA recipe file"
## Sample information
1. Sample type: **samples**
2. Sample language: **nodejs**
3. Sample name: **20.qna-with-appinsights**

## Describe the bug
The [`./deploymentScripts/msbotClone`](https://github.com/Microsoft/BotBuilder-Samples/tree/master/samples/javascript_nodejs/20.qna-with-appinsights/deploymentScripts/msbotClone) folder does not contain the `34.qna` file declared in [`bot.recipe`](https:

[2018-10-10 14:37] enzocanoo opened #665 "[nodejs][21.luis-with-appinsights] Missing instructions to deploy the bot"
## Sample information
1. Sample type: **samples**
2. Sample language: **nodejs**
3. Sample name: **21.luis-with-appinsights**

## Describe the bug
The "Deploy this bot to Azure" section does not work as expected:
1. The `msbot` command does not include the `--luisAuthoringKey` arg to deploy luis-related services.
1. The `.bot` file generated uses different names for LUIS and AppInsights that the d

[2018-10-10 15:49] sgellock opened #668 "V3 Samples documentation issues"
## The following links need some edits to account for v3 samples changes
1.https://docs.microsoft.com/en-us/azure/bot-service/dotnet/bot-builder-dotnet-quickstart?view=azure-bot-service-3.0 references the v3 VSIX template, but doesn't provide a link to download the template.
2. http://aka.ms/bf-bc-vstemplate used to link to the v3 VSIX, but now appears to not point to anything.  We should update t

[2018-10-10 15:54] sgellock opened #669 "V3 VSIX Generated Bot does not work when deployed to Azure"
## Sample information
1. v3 VSIX template

## Describe the bug
The v3 VSIX needs to verify that it runs upon deployment.  Customer is raising an issue that state management is in error and is suggesting the generated code needs to reference changes described in: https://docs.microsoft.com/en-us/azure/bot-service/dotnet/bot-builder-dotnet-state?view=azure-bot-service-3.0

## To Reproduce
Steps to r

[2018-10-10 19:20] Kaiqb commented on #668
Fixed both issues. The docs now have a single starting point using ABS for V3. The topic referenced above now redirects users to V4 quickstart.

[2018-10-10 19:20] #668 closed

[2018-10-11 04:56] jenkinsns opened #675 "botFileSecret : The encrypted value is not a valid format 24.bot-authentication-msgraph"
1. Type: samples/javascript_nodejs/24.bot-authentication-msgraph/
2. Language:nodejs
3. Name: 24.bot-authentication-msgraph

## Describe the bug
When I execute the bot, it throws Error: The encrypted value is not a valid format, While processing botConfig

**Code**
const BOT_FILE = path.join(__dirname, (process.env.botFilePath || ''));
let botConfig;
try {
    // Read bot configuration from .bot f

[2018-10-11 15:57] JasonSowers commented on #675
What version of node and NPM are you using?

[2018-10-11 20:14] jenkinsns commented on #675
node : v10.11.0
npm : 6.4.1

[2018-10-11 21:04] JonathanFingold opened #682 "Node.js dice roller bot [50] instructions incomplete and incorrect bonus: buggy default filename in code"
## Sample information
1. Sample type: samples
2. Sample language: nodejs
3. Sample name: 50.diceroller-skill

## Describe the bug
1. Steps in the [To try this sample](https://github.com/Microsoft/BotBuilder-Samples/tree/master/samples/javascript_nodejs/50.diceroller-skill#to-try-this-sample) section still say to use the packages from the nightly builds.
2. The instruction `npm i & npm start` shoul

[2018-10-11 21:08] JonathanFingold commented on #682
PS. The **New Game** option always goes to the roll dice sequence, no matter which "game" you chose it from.

[2018-10-11 21:32] JonathanFingold opened #683 "Node.js dice roller bot [50] instructions incorrect to Deploy this bot to Azure"
## Sample information
1. Sample type: [samples]
2. Sample language: [nodejs]
3. Sample name: 50.diceroller-skill

## Describe the bug
After getting the bot working locally, instructions to [Deploy this bot to Azure](https://github.com/Microsoft/BotBuilder-Samples/tree/master/samples/javascript_nodejs/50.diceroller-skill#deploy-this-bot-to-azure) generate an error.

## To Reproduce
Steps to reprodu

[2018-10-11 23:20] #653 closed

[2018-10-11 23:48] wiazur opened #686 "Luisgen install failed -- broken link"
## Sample information
1. Sample type: sample
2. Sample language: dotnetcore
3. Sample name: BotBuilder-Samples

## Describe the bug
When trying to install with `dotnet tool install -g LUISGen` from CLI, it returns an error message.

![luisgen error](https://user-images.githubusercontent.com/38537084/46839714-1d85ab80-cd74-11e8-8984-932d894b1415.PNG)

But then I try to view the Newtonsoft.Json link

[2018-10-12 15:48] enzocanoo opened #690 "[netcore][20.qna-with-appinsights] Readme uses a deleted '.bot' file"
**Is your feature request related to a problem? Please describe.**
The readme has a step to update the `BotConfiguration.bot` that was recently deleted from this sample with #685.
Steps to reproduce the behavior:
1. Follow the [Prerequisites](https://github.com/Microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/20.qna-with-appinsights#prerequisites) from the readme.
2. The 3rd step

[2018-10-12 16:16] #645 closed

[2018-10-12 18:48] enzocanoo opened #692 "[netcore][20.qna-with-appinsights] bot.recipe without QnA spec"
## Sample information
1. Sample type: **samples**
2. Sample language: **dotnetcore**
3. Sample name: **20.qna-with-appinsights**

## Describe the bug
The [`bot.recipe`](https://github.com/Microsoft/BotBuilder-Samples/blob/master/samples/csharp_dotnetcore/20.qna-with-appinsights/DeploymentScripts/MsBotClone/bot.recipe) used does not have contain a QnA service to deploy.

## To Reproduce
Steps to re

[2018-10-13 21:42] harrison-broadbent commented on #690
I would be happy to work on this.  Do you think that going through the examples and adding this dummy file and then correctly linking it with the examples readme is a suitable fix?

[2018-10-15 02:05] #276 closed

[2018-10-15 17:32] stevengum commented on #629
@stevkan, can you take a run at this and make sure the sample is updated and working? Thanks!

[2018-10-15 22:54] sgellock commented on #643
#686 also reports the same issue

[2018-10-15 22:57] sgellock commented on #643
I built a clean Win10 image this morning, installed .net core SDK 2.1.403 and node v8.12.0.

$>  npm i -g luisgen.                        # installs runs successfully (no errors reported), but luisgen is not available.

If I look at where npm installs things, I get the following:

C:\Users\scottgellock>dir C:\Users\scottgellock\AppData\Roaming\npm\node_modules\luisgen
Volume in drive C has no labe

[2018-10-15 22:57] sgellock commented on #686
dup of #643

[2018-10-15 22:57] #686 closed

[2018-10-15 23:11] sgellock commented on #643
I am able to verify on a clean Win10 with .net core 2.1.403 that nom install of luisgen works

[2018-10-15 23:11] #643 closed

[2018-10-16 09:31] stofte opened #698 "Sample of Translation Text in C#/SDKv4.0"
There's currently no working code examples of using the Translation Text api i Azure in an C#/Bot Framework 4.0 context. The "multilingual" sample is much too complicated.

[2018-10-16 11:21] UtkarshSinghal17 opened #699 "QnaMaker v4.0: i am using qna maker 4.0 version in Microsoft chatbot project but when i access qnamaker api, with C#, i am getting Authrozation exception. I am using same code that is present in qnamaker microsoft document."
🚨 The issue tracker is not for questions 🚨

If you have a question, please ask it on https://stackoverflow.com/questions/tagged/botframework

[question]

[2018-10-16 19:08] JasonSowers commented on #692
Addressed in #703

[2018-10-16 19:08] #692 closed

[2018-10-16 19:44] EricDahlvang commented on #699
Are you using the same keys as found here: https://www.qnamaker.ai/Publish?kbId=[YourKBid]

Is your KB published?

(I tested this code, and it works as expected)

[code]

[2018-10-16 20:16] sgellock commented on #682
README.md refers to the myget feed, and needs to pull from nom

[2018-10-16 20:18] sgellock commented on #675
.env file with a secret was mistakenly checked in.  rotate the secret and remove the secret

[2018-10-16 20:32] Zerryth commented on #675
@sgellock Done.
@JasonSowers rotated it ASAP (ty)

[2018-10-16 20:41] johnataylor opened #705 "ConversationUpdate Activity.MembersAdded should check for null"
## Sample information
Many samples show a welcome message when they receive a conversationUpdate. All these samples potentially have this bug.

## Describe the bug
The code assumes the conversationUpdate is for a new member joining the conversation. If this is the case the membersAdded property will not be null otherwise it might. If it is null the bot will hit a null exception.

## To Reproduce
S

[2018-10-16 21:49] juagraot commented on #232
Is there any solution not using Azure Cloud Service thats because is a tecnology that is going out (using Clasic portal in Azure).? And another thing is there any documentation using Teams instead of skype for business thats for the same reason (Skype for business in going out).

[2018-10-16 21:54] #639 closed

[2018-10-16 21:55] RobinsonLuiz opened #706 "Problem receipt card"
I am making a bot for facebook messenger, and I came across an error in the receiptcard, when it has more than 5 elements, it activates the option to see more items, and when I click it it duplicates the previous items and inserts the other items, does anyone know how to solve this?

[2018-10-16 21:55] #706 closed

[2018-10-16 22:43] kkabza commented on #232
There is nothing for Skype for Business other than UCMA. Skype on premise lives on but cloud is dead as a dev platform. Everything is cloud so NO must be in Azure also ties in with Azure AD for OAUTH. See here for hosting considerations https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/calls-and-meetings/requirements-considerations-application-hosted-media-bots#real-time-media-bot-

[2018-10-16 23:57] stevengum commented on #616
Fixed via #684

[2018-10-16 23:57] #616 closed

[2018-10-17 03:17] vasavenk opened #707 "Oauth card does not work in Teams/web channel 24.bot-authentication-msgraph"
🚨 The issue tracker is not for questions 🚨

If you have a question, please ask it on https://stackoverflow.com/questions/tagged/botframework

[Hi,

I am trying to run 24.bot-authentication-msgraph sample and configure authentication in Teams or Web Chat. I got it working locally using Emulator, however, when I deploy it to Teams the Oauth card button does not work and in web chat it prompts "[File

[2018-10-17 08:16] NoDirective opened #709 "the Character limit of ChoicePrompt's choices"
when  i use the choices below, it showed normally and well.

[code]

but if i use long long character like below ,it does not show well , just like plaint text in Emulator
[code]

[2018-10-17 12:37] UtkarshSinghal17 commented on #699
@EricDahlvang I am using the same key but still i am getting same Exception "Unauthorized".

[2018-10-17 12:45] dfavretto opened #711 "[netcore][21.luis with appinsights] LuisApplication wrong argument when initializing"
## Sample information
1. Sample type: \samples\
2. Sample language: dotnetcore
3. Sample name: `21.luis-with-appinsights`

## Describe the bug
In [Line 178](https://github.com/Microsoft/BotBuilder-Samples/blob/995219f8ff8fa4eaf4359c2af8db5fc290a3295c/samples/csharp_dotnetcore/21.luis-with-appinsights/Startup.cs#L178) of `Startup.cs`, a new `LuisApplication` is being initialized. However, the `regi