[2020-05-11 08:37] Chekrii commented on #2371
Hello All, Any update on this because one of our features is dependent on Task module.

Thanks.

[2020-05-11 16:27] jwiley84 commented on #2376
The purpose of the samples in this repo is to show examples of what the bot framework is capable of and how such implementation would look. There is no existing project that shows ALL the functionality of a bot framework bot. The closest thing  you're going to find to an 'All-Features Bot' is probably the [Virtual Assistant](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-virtual-as

[2020-05-11 16:27] #2376 closed

[2020-05-11 23:00] EricDahlvang commented on #229
Hi @asp1egui

Please do open a new issue detailing the errors you've run into.

Thanks!

[2020-05-11 23:28] v-kydela commented on #2368
Thank you for the suggestion, @FuzzAU

You can see [here](https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/python/02.echo-bot#testing-the-bot-using-bot-framework-emulator) that the samples already do instruct users to open the Emulator.

I'm closing this issue now

[2020-05-11 23:28] #2368 closed

[2020-05-11 23:35] FuzzAU commented on #2368
Thanks @v-kydela . Sorry I didn't explain well, my suggestion was that the application itself (in app.py) that a message is printed to the terminal that tells the user to open the emulator, and gives the full link  to http://localhost:3978/api/messages.

I'll try and find time to put in a pull request to the repo later :)

[2020-05-13 01:22] vishwacsena opened #2382 "Language generation, Adaptive expressions, Adaptive dialogs - docs and samples plan"
# Lg, adaptive dialog samples plan - R9

## Adaptive expressions
Adaptive expressions are at stable release for both C# and JS

| Current location                                        | Proposed location                                                                                                                                       |
|---------------------------------------------------------

[2020-05-13 04:24] stevengum commented on #2374
@Zerryth, can you validate his PR by cloning his changes into the JS and TS core bot samples?

When validation is complete, please also clone the changes to JS generator core-bot.

[2020-05-13 04:38] Zerryth commented on #2374
Roger that

[2020-05-13 10:50] saleemnasa commented on #2376
Thank You @jwiley84 .

I was asking about this https://github.com/compulim/BotFramework-MockBot.git.

[2020-05-13 16:21] sgellock commented on #2382
@vishwacsena I think this looks great.  Given that we are in a matrixed feature situation between the 4 core programming languages, we should make sure that looking at the official docs addresses this.  what do you think about adding a way for a developer to quickly be able to understand if one of these new feature areas is available in their programming language of choice?

[2020-05-13 18:07] cleemullins commented on #2371
This looks like it needs to be assigned to the Teams folks, as it's in their module. @clearab Can you please assign/transfer this as needed?

[2020-05-14 01:18] vishwacsena commented on #2382
@sgellock agree. I will make a table that shows clearly what is available across the 4 core programming languages and work with Kamran to add this clarity to the official docs as well.

@Kaiqb

[2020-05-14 02:30] Zerryth commented on #2374
@GeekTrainer perhaps you could provide more precise repro steps as to how you got it to break, because I am unable to repro the bug.

___

**What I did to try to repro the issue**:
1. Follow the installation instructions given in the [`generator-botbuilder README`](https://github.com/microsoft/BotBuilder-Samples/tree/master/generators/generator-botbuilder#installation) to get yeoman botbuilder
2.

[2020-05-14 17:27] juharris commented on #1192
I've solved my localization needs with a custom function.

[code]

I'm using:
[code]

main.lg:
[code]
[code]

fr-templates.lg:
[code]

The following is adapted from my own code and not directly tested:
[code]

[2020-05-14 18:01] Zerryth commented on #2374
Got it to break! Hooray! (?) 😄

[2020-05-15 16:29] #2346 closed

[2020-05-15 17:51] #2239 closed

[2020-05-15 18:23] clearab commented on #2371
We currently believe there is a regression in the iOS app - the dev team is investigation.

[2020-05-15 19:52] stevengum commented on #1728
@mdrichardson can you take a pass at hardening this code? Potential changes here might be required in the other languages.

[2020-05-15 19:52] mdrichardson commented on #1728
@stevengum Yep. Should have time to look at this early next week.

[2020-05-15 19:57] stevengum commented on #2204
Moved this to R10 for triage discussions.

[2020-05-15 19:58] stevengum commented on #1909
Added R10 and docs labels to prod discussions. @JonathanFingold do you think this should be added?

[2020-05-16 12:29] Jpepper089 opened #2396 "run"
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues) / [Java](https://github.com/Microsoft/botbuilder-java/issues)/ [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for genera

[2020-05-16 12:31] Jpepper089 opened #2397 "n"

[2020-05-17 13:24] vunhutien opened #2398 "HeroCard Action does not work in MS Teams iOS version 2.0.10"
## Describe the bug
I'm using botframwork to build company bot chat using MS Teams channel, recently after updating iOS Teams version 2.0.10 from Appstore, the herocard action does not work anymore when user tap the button.

My code:
[code]

## Expected behavior
When tapping any button, a message will be posted.

## Actual behavior
Button background color was changed, but no message was posted.

#

[2020-05-17 15:43] vishwacsena commented on #2382
Addressed by the combination of the following PRs

- Adaptive Expressions - https://github.com/microsoft/BotBuilder-Samples/pull/2400
- Language generation -  https://github.com/microsoft/BotBuilder-Samples/pull/2399
- Adaptive dialogs – C# - https://github.com/microsoft/BotBuilder-Samples/pull/2385
- Adaptive dialogs – JS - https://github.com/microsoft/BotBuilder-Samples/pull/2392

[2020-05-17 15:43] #2382 closed

[2020-05-17 20:44] #2397 closed

[2020-05-17 20:45] #2396 closed

[2020-05-18 03:31] vslum78 opened #2401 "Skills Simple Bot to Bot NodeJS version does not work"
## Sample information
1. Sample type: \samples\javascript_nodejs\80.skills-simple-bot-to-botuestions.
2. Sample language: nodejs
3. Sample name: 80.skills-simple-bot-to-bot

## Describe the bug
The simple root boot seems to be sending an incorrect conversation Id to the skill bot, causing the skill bot unable respond back to the simple root bot.  This does not seem to be happening with the CSharp

[2020-05-18 03:56] victorjoel44 commented on #1655
did you fix it?

[2020-05-18 17:12] v-kydela commented on #2398
@vunhutien - Did you try [`ActionTypes.ImBack`](https://docs.microsoft.com/en-us/microsoftteams/platform/task-modules-and-cards/cards/cards-actions#imback)?

[2020-05-18 17:31] vunhutien commented on #2398
Yes, also same result.

[2020-05-18 18:22] v-kydela commented on #2398
Thank you for reporting this, @vunhutien. This sounds like a Teams bug. You can raise the bug through the Teams app itself. This repo is for bugs and feature requests related to the Bot Builder samples. I'm closing this issue now.

[2020-05-18 18:22] #2398 closed

[2020-05-18 19:16] Zerryth commented on #2374
Reopening for Part II of this issue to ensure the changes to load .env variables earlier than bot are carried over into the other templates: [PR#2403](https://github.com/microsoft/BotBuilder-Samples/pull/2403)

[2020-05-18 20:35] #2374 closed

[2020-05-18 21:01] Zerryth opened #2404 "(GENERAL SAMPLES) dotenv loads before loading bot"
See [issue#2374](https://github.com/microsoft/BotBuilder-Samples/issues/2374), for the issue raised in yeoman templates for more details

We need to proliferate the changes to the general samples for `02.echo-bot` and `13.core-bot` in JS and TS samples for R9, so the generated yeoman templates match the samples available in the general samples area.

[2020-05-18 21:13] Zerryth opened #2405 "JS/TS Samples: should load dotenv before loading bot"
See [issue#2374](https://github.com/microsoft/BotBuilder-Samples/issues/2374), for the issue raised in yeoman templates for more details.

We need to proliferate the changes to all `index` files in JS/TS samples to load .env variables before bots.

___

Additionally: #2404 will address changing `02.echo-bot` and `13.core-bot` first for R9 to ensure that the 2 samples don't misalign with bots that

[2020-05-18 21:55] JonathanFingold commented on #1909
Is the proposition to link to the how to [add telemetry to your bot](https://docs.microsoft.com/azure/bot-service/bot-builder-telemetry) from the code comments in the adapter in all samples?

If so, that seems fine, though you probably want to use an aka link so you can effectively do a bulk update if the URL changes.

[2020-05-18 22:16] #2404 closed

[2020-05-18 23:58] Zerryth opened #2407 "Linting 02.echo-bot and 13.core-bot to have yeoman templates and samples identical"
For JS and TS samples, we want bots generated via yeoman template to match the bots that are in the samples.

Linting 02.echo-bot and 13.core-bot for R9, to keep them in sync.

[2020-05-19 08:11] khaelys opened #2412 "Python samples: proactive messages are sent to only the first user"
## To Reproduce
Steps to reproduce the behavior:
1. Run proactive messages python sample
2. Open two chats
3. Call the GET endpoint http://localhost:3978/api/notify
4. The message will be sent only to the first chat user

## Expected behavior
Expect that all chat will receive the proactive message

[bug]

[2020-05-19 19:03] tracyboehrer commented on #2412
@khaelys Thanks!  This is because the person who wrote it (me) clearly didn't have enough coffee that morning.

In the app.py, in the _send_proactive_message function, remove the "return" on the "ADAPTER.continue_conversation" call.

Should look like this:

[code]

I will submit a real fix for this shortly.

[2020-05-19 23:20] #2412 closed

[2020-05-20 00:29] gabog commented on #2401
Hi @vslum78, I tried running the sample locally and it works for me, are you experience the issue just when the bot is deployed to azure or it also happens locally?

[2020-05-20 00:48] vslum78 commented on #2401
Hi,
I am experiencing this issue when the bot is deployed to both Azure and running locally.  If the sample is working for you, then it could be something is not right with my root bot. I'll try to reclone from Git and run another instance.
Thank You
    On Wednesday, 20 May 2020, 08:29:56 GMT+8, Gabo Gilabert <notifications@github.com> wrote:

Hi @vslum78, I tried running the sample locally and i

[2020-05-20 02:41] gabog commented on #2401
I also tested deploying the bots and they work in azure.
Make sure that AllowedCallers is set to `"*"` or the appId of the simple-root-bot (`"*"` lets any request in without validation, a comma separated list of AppId2 allows only requests from specific bots).

Let us know how it goes.

[2020-05-20 03:57] vslum78 commented on #2401
I just recloned the sample and am happy to report that the NodeJS Javascript version of the simple-bot-to-bot is now working for me.  I even recompiled and redeployed the previous cloned version of the NodeJS Javascript version of the sample and it is also working.

Although I am unable to explain what made it work, I am just happy it is and can now move on to further development.

[2020-05-20 03:57] #2401 closed

[2020-05-20 04:39] gabog commented on #2401
Thanks for confirming @vslum78, just in case, I created a PR so AllowedCallers is set to `*` by default in the sample.

[2020-05-20 05:25] pankaj-pal opened #2417 "QnA Maker: Unandled Exception"
## Sample information
1. Sample type: QnA Maker
2. Sample language: nodejs
3. Sample name: 11.QnA Maker

## Describe the bug
QnA Maker sample throwing error

 [onTurnError] unhandled error: TypeError: Cannot read property 'map' of undefined

## To Reproduce
Steps to reproduce the behavior:
1.) npm install for QnA Maker.
2.) Setup the environment
3.) Ask any quetion

## Expected behavior
It should

[2020-05-20 15:04] xtianus79 opened #2418 "Is the handoff protocol and EventFactory only for the dotnet library or does javascript have these protocols too?"
For the sample [here](https://github.com/microsoft/BotBuilder-Samples/tree/master/experimental/handoff-library#protocol), I am wondering if the same can be done in javascript/nodejs?

[2020-05-20 18:06] benbrown commented on #2418
Yes, the event factory does exist in Javascript!

https://docs.microsoft.com/en-us/javascript/api/botbuilder/eventfactory?view=botbuilder-ts-latest#createhandoffinitiation-turncontext--any--transcript-

[2020-05-20 18:06] #2418 closed

[2020-05-20 18:08] benbrown commented on #2417
@pchoudhari can you take a look at this issue please?

[2020-05-20 18:31] stevkan commented on #2335
@GDreyV, to clarify, is the error occurring in 1:1, chat, or both? And, as you mentioned unauthorized bot users, is it occurring for both authorized and unauthorized users?

Also, if you wouldn't mind, can you post your bot's manifest? It might be a red herring, but I'd like to see all applicable parts.

[2020-05-20 18:31] emgrol opened #2419 "Lack of parity between languages in Echo template response"
## Sample information
- C# - echo [VSIX template](https://aka.ms/bot-vsix) in Visual Studio
- Javascript - yeoman generator-botbuilder echo [template](https://www.npmjs.com/package/generator-botbuilder)
- Python -  cookiecutter [echo template](https://github.com/microsoft/BotBuilder-Samples/tree/master/generators/python/app/templates/echo)

## Describe the bug
The Python echo template sample produ

[2020-05-20 20:32] GDreyV commented on #2335
We didn't test these issues in 1:1 conversation, so it was channel and multiusers conversation. The last error I sent was just for not authorized user.

[code]

[2020-05-20 20:35] JonathanFingold opened #2420 "Need to update the VS marketplace landing page for the v4.9 VSIX"
## Sample information
1. Sample type: [\templates\]
2. Sample language: [dotnetcore]
3. Sample name: Bot Framework v4 SDK Templates for Visual Studio

## Describe the bug
We need to review and update the content on VS Marketplace [page for the v4 templates](https://marketplace.visualstudio.com/items?itemName=BotBuilder.botbuilderv4).

## To Reproduce
Steps to reproduce the behavior:
1. Go to the V

[2020-05-20 21:04] JonathanFingold commented on #1909
@stevengum Assigning back to you.

[2020-05-20 22:22] pankaj-pal commented on #2417
Hello Team,

I was giving environment variables (.env file) with quotes. Removing quotes fixed it.

[2020-05-20 22:22] #2417 closed

[2020-05-21 07:25] collegewap commented on #1258
Updated link: https://github.com/Microsoft/BotBuilder-Samples/tree/v3/samples/csharp_dotnetcore/22.conversation-history

[2020-05-21 07:33] SathishNeel opened #2423 "Teams Bot: Get message's read receipts from Microsoft teams"
** we have scenario to show message/card based on user's last seen message. how to pull messages read receipts.

[2020-05-21 18:05] #2407 closed

[2020-05-21 18:28] benbrown commented on #2423
Hey @clearab, is there a way to get the read receipts?

[2020-05-21 19:04] clearab commented on #2423
Currently there is no way for a bot to receive read receipts as events. You can see the list of events a bot will receive here: https://docs.microsoft.com/en-us/microsoftteams/platform/bots/how-to/conversations/subscribe-to-conversation-events?tabs=dotnet.

If you're interested in this being added to a future release of Teams, please submit it as a feature request on uservoice: https://microsoftte

[2020-05-21 19:04] #2423 closed

[2020-05-21 22:44] EricDahlvang opened #2427 "VSIX Bug: GetManifestResourceStream does not work well with $safeprojectname$"
Project names with multiple . or other special characters will have issues with:

[code]

https://github.com/microsoft/BotBuilder-Samples/blob/master/generators/vsix-vs-win/BotBuilderVSIX-V4/UncompressedProjectTemplates/CoreBot-Core21/Bots/DialogAndWelcomeBot.cs#L45

[bug]

[2020-05-21 22:52] BruceHaley commented on #2427
My repro: Created a Core Bot (without test) for Core 2.1 named CoreBot4.9.1-2.1c.

[2020-05-22 00:10] clearab commented on #2371
The fix for this bug has been coded and tested and will be rolling through our deployment rings over the next few weeks.

[2020-05-26 16:10] JonathanFingold opened #2432 "JavaScript version of the Scaleout sample is missing"
## Sample information
1. Sample type: [\samples\]
2. Sample language: [nodejs]
3. Sample name: 42.scaleout

## Describe the bug
C# and Python versions of the 42.scaleout sample exist, but no JavaScript version.

## To Reproduce
Steps to reproduce the behavior:
1. Note that the C# [[csharp_dotnetcore/42.scaleout](https://github.com/Microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/

[2020-05-26 17:50] EricDahlvang commented on #2427
One way to fix this is to change:
`var cardResourcePath = "$safeprojectname$.Cards.welcomeCard.json";`

to:
`var cardResourcePath = GetType().Assembly.GetManifestResourceNames().First(name => name.EndsWith("welcomeCard.json"));`

[2020-05-26 18:24] #2427 closed

[2020-05-26 18:28] csbo opened #2434 "How to set connection using certificate"
According to the advice from your people, my problem is legitimate here.

In short, I want to get user token with first party app.

Currently, I am following this doc ([Add authentication to a bot](https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-connector-authentication?view=azure-bot-service-4.0)) to register a first party app as the identity application with the bo

[2020-05-26 19:42] carlosscastro commented on #2434
@swagatmishra2007 or @Jeffders any thoughts on this? I don't know that we've ever tried this or whether we support it given that 1P app secret is only cert based.

[2020-05-26 23:04] JonathanFingold opened #2435 "Lack of parity in scaleout BlobStore class (C# vs Python)"
## Sample information
1. Sample type: [\samples\]
2. Sample language: [dotnetcore,ptyhon]
3. Sample name: 42.scaleout

## Describe the bug
In C#, `BlobStore.SaveAsync` returns true or false, depending on whether the write with ETag succeeds. In Python, `BlobStore.save` always returns true.

## To Reproduce
Steps to reproduce the behavior:
1. Compare the two implementations of the save operation:

[2020-05-27 16:49] jwiley84 commented on #2435
I can look into this. There's something else I was looking at for this sample concerning it's dependencies.

[2020-05-27 18:24] syw030 opened #2438 "Error in VS2019: Initializing the applicationhost.config file failed."
Trying to run samples/CoreBot.

Related info:
LUIS app is initialized. The ID and key are put into appsettings.json.
Couldn't find MicrosoftAppId or MicrosoftAppPassword, so left them empty.

[2020-05-27 18:26] #2438 closed

[2020-05-27 18:58] diberry opened #2439 "Sample 49.qnamaker-all-features cognitive model doesn't match features"
## Sample information
1. Sample type: samples
2. Sample language: dotnetcore and javascript_nodejs
3. Sample name: 49.qnamaker-all-features

## Describe the bug
The code supports follow-up conversational prompts but the prompts are not supplied in the cognitive model file.

## Expected behavior
Expect features in code to be supported with cognitive model, where applicable.

[bug]

[2020-05-28 19:03] stevengum opened #2444 "Update V4 Node.js samples to 4.9.1"

[2020-05-28 19:14] #2444 closed

[2020-05-29 05:58] SathishNeel opened #2450 "MS Teams : Bot send important/urgent message to user"
we have scenario, where bot to send important/urgent message to user. how this feature can be implemented with bot.

[2020-05-29 13:13] roberi opened #2451 "Only one variation for a Language Generation Template is used."
## Sample information
1. Sample type: BotBuilder-Samples/samples/javascript_nodejs/language-generation/05.multi-turn-prompt/
2. Sample language: nodejs, typescript
3. Sample name: multi turn prompt sample

## Describe the bug
When using multiple variations for a Template (LG) only one is used when calling Templates.evaluate. The variation used is selected randomly at the first call to evaluate. Th

[2020-05-29 17:33] mdrichardson commented on #2450
Please view [this StackOverflow answer](https://stackoverflow.com/a/55961406/12248433)

[2020-05-29 17:33] #2450 closed

[2020-05-29 17:42] v-kydela commented on #2451
Thank you for the report, @roberi

The behavior you're encountering has nothing to do with language generation and it is by design. When you call `step.prompt` you're adding the prompt onto the dialog stack while passing prompt options that get stored in the dialog state. Since the prompt becomes the active dialog, subsequent turns will continue that dialog and it will reprompt if it needs to usin

[2020-05-29 18:23] carlosscastro commented on #2434
Hello @csbo , I checked with the other oauth experts and this is not supported, and there is no workaround for this at the moment. Thanks to your comment, we'll start brainstorming future paths to support this but there is some inherent complexity to it.

In the meantime, 2 potential ways of going forward (none ideal unfortunately, but they should unblock you):

1) Use a non-first party app. Depen

[2020-05-29 18:23] #2434 closed

[2020-05-29 20:10] swagatmishra2007 commented on #2434
a third option would be to implement your own oauth provider that would wrap around the first party auth and register that as a generic oauth2 provider on the portal. It would involve implemeting a couple of api routes - one to get tokens (which internally would get a token for your first party app) and another for refresh. this is what we do internally for testing the service, so feel free to rea

[2020-05-29 21:46] v-kydela opened #2457 "43.complex-dialog replaces a waterfall dialog incorrectly in all languages"
## Sample information
1. Sample type: samples
2. Sample language: dotnetcore/nodejs/python
3. Sample name: 43.complex-dialog

## Describe the bug

Every sample uses "replace dialog" correctly except for sample 43 which erroneously replaces a waterfall dialog with the waterfall dialog's parent, a component dialog. Our samples should demonstrate that dialogs should only replace other dialogs that ar

[2020-05-30 14:10] lopejum opened #2460 "Can not response to my custom webchat from external webservice"
Hello

The scenario (basically, I use an Azure Bot as a Bridge between text apps -Teams, Telegram, Skype, custom webchat... and my webservice that produces info as response according the arriving text from those text apps). So:

1. Client writes a text on my custom web-chat
2. Custom webchat requests a token to my Azure bot (using secret key of Direct line Channel)
3. Custom webchat sends the text

[2020-06-01 09:22] manutero opened #2462 "Getting 401 even when calling MicrosoftAppCredentials.trustServiceUrl()"
### Github issues for [JS](https://github.com/Microsoft/botbuilder-js/issues)

## Sample information

1. Sample type: `samples`
2. Sample language: `nodejs`
3. Sample name: `16.proactive-messages`

👉 https://github.com/microsoft/BotBuilder-Samples/blob/master/samples/javascript_nodejs/16.proactive-messages/index.js

## Describe the bug

Getting `401: Unauthorized` error when trying to send proacti

[2020-06-01 18:21] tracyboehrer commented on #2371
@clearab What is the status on this?

[2020-06-02 00:48] stevkan commented on #2460
Hi @lopejum, a few questions for you:

- You mention using the bot as a bridge between app services, but you also mention using an external web service that receives/forwards bot responses, takes action on the received text, and eventually sends the response back to the bot.
    - Are you intending the bot to be just a proxy and the external web service to do the heavy lifting?
    - Or, is the ex

[2020-06-02 01:01] stevkan commented on #2462
@manutero,

You mention referencing a doc in your post when setting up your `trustServiceUrl()`. Which doc are you referring to?
Can you provide the code you are using for implementing Cosmos db in your bot?
Are you running this bot locally or from a production state (i.e. deployed on Azure)?
Which version of BotBuilder are you running?

[2020-06-02 07:39] manutero commented on #2462
Hi @stevkan,
first thanks for the support.

1. [Doc](https://github.com/microsoft/BotBuilder-Samples/issues/2462)

2. Connection to Cosmos db:

[code]

[code]

[code]

3. The bot is deployed on Azure and works fine, except that when I restart it, it won't be able to post messages **until** I speak to it. The sequence is the following:

 - Restart bot (for instance when deploying code)
 - request t

[2020-06-02 07:43] manutero commented on #2462
from `npm list --depth=0`

[code]

[2020-06-02 14:11] charliewatkinson opened #2465 "Application hosted media calling bot which proactively messages aswell."
Trying to develop an application hosted media calling bot which when it joins an online meeting it can type a welcome message in the call chat.

The purpose of the bot is to record calls so I shall be use the updaterecordingstatus api and I want it to type a warning in the call/meeting chat window.

Finding not many good samples on the Microsoftgraphcomms repo...

[2020-06-02 18:21] tracyboehrer commented on #2465
@charliewatkinson Can you provide more information on what you are trying to do, or where we could help?  We are a little unclear and want to make sure we get you the right help.

[2020-06-02 23:21] clearab commented on #2371
The fix for this has been deployed, and is rolling through the Teams deployment rings. It should be available as part of the July iOS build. Please contact the Teams developer support team if the issue persists (https://docs.microsoft.com/en-us/microsoftteams/platform/feedback)

[2020-06-02 23:21] #2371 closed

[2020-06-03 01:06] v-kydela commented on #2451
@roberi - Are you still working on this?

[2020-06-03 07:04] lopejum commented on #2460
Hello @stevkan

First, thanks a lot for your message.

I'll start with the curiosity (we're building an omnichannel intelligent conversational system framework):
1. For commodity, we prefer, in our team, working with Python rather than Node or C#
2. Initially, our architecture was built to work for WhatsApp and telephone call (real-time conversation) channels, based on Twilio API, betwwen our "Bot

[2020-06-03 11:14] MarwaAbuEssa opened #2468 "microsoft teams bot tab and notification"
If you have a question, please ask it on https://stackoverflow.com/questions/tagged/botframework

[question]
HI ,
I'm using your nodejs botbuilder v4 to create a notification only bot and add it to microsoft teams app . when an event occurs at our Backend API it sends to /api/notify which will send a proactive message to bot at our app in microsoft teams app and it works ! .

my questions is :

-

[2020-06-03 12:20] charliewatkinson commented on #2465
When my bot joins the call, I want it to type a message in the meeting chat window (where all participants can see).
Haven't found any information on how to do this.

[2020-06-03 16:13] vipeketi opened #2469 "Sample .tsv to be ported to new format."
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues) / [Java](https://github.com/Microsoft/botbuilder-java/issues)/ [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for genera

[2020-06-03 16:40] zxyanliu opened #2470 "A broken link in Samples page"
## Issue description

A broken link on the samples page: https://github.com/microsoft/BotBuilder-Samples:
![image](https://user-images.githubusercontent.com/32497439/83663855-13827300-a57e-11ea-8156-2754cb777f98.png)

Should point to: https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/21.corebot-app-insights

[broken link]

## Additional information
I can create

[2020-06-03 18:51] stevkan commented on #2460
@lopejum, I'm glad you were able to find a working solution. Closing this issue as resolved.

[2020-06-03 18:51] #2460 closed

[2020-06-03 20:13] charliewatkinson commented on #2465
@tracyboehrer thanks. Keep me updated.

[2020-06-04 01:19] WashingtonKayaker opened #2472 "EchoBot-declarative sample does not update declarative files when they change"
## Sample information
1. Sample type: sample
2. Sample language: dotnetcore
3. Sample name: \adaptive-dialog\20.EchoBot-declarative

## Describe the bug
The `.dialog` file does not reload after it changes when the code is executing.

## To Reproduce
Steps to reproduce the behavior:
1. Run the EchoBot-declarative sample
2. while running, modify and safe the declarative file `main.dialog`

## Expect

[2020-06-04 03:18] clearab commented on #2468
Hi -

- The notification counter is controlled by the Teams client, your app will have no direct control over it.
- No, the Activity tab is where any messages your bot sends to a single user will appear. It cannot be removed.
- I'm not sure I understand the question for the third one. Every message you send from your bot will go to a single conversation based on the conversation Id you use.

[2020-06-04 03:18] clearab commented on #2468
If you have further questions specific to Teams, please feel free to reach out to the Teams development support team directly using one of the methods outlined at https://aka.ms/teamsdevfeedback.

[2020-06-04 03:18] #2468 closed

[2020-06-04 03:54] #2472 closed

[2020-06-04 12:00] MarwaAbuEssa commented on #2468
Hi @clearab ,

Thanks a lot for your quick reply , really appreciate .

my third question is i'm using your nodejs botbuilder sample for proactive message . it sends a proactive  notification succesfully to users . i'm hosting /api/notify using ngrok which i use to send the messages . when member added it starts a converstaion and the notification continue sending succesfully . now when i restart

[2020-06-04 17:16] clearab commented on #2465
You should be able to create a calling/meeting bot and add text capabilities to it. Your bot would need to be installed in the context that you wanted to send the text message to (so someone would have to manually add it to the meeting).

The documentation can be found here: https://docs.microsoft.com/en-us/microsoftteams/platform/bots/calls-and-meetings/calls-meetings-bots-overview.

If you have

[2020-06-04 17:16] #2465 closed

[2020-06-04 17:33] joakim-tjernlund opened #2477 "ms-teams-insiders-1.3.00.14051: UnhandledPromiseRejectionWarning: undefined"
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues) / [Java](https://github.com/Microsoft/botbuilder-java/issues)/ [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for genera

[2020-06-04 17:53] clearab commented on #2468
Ah, ok. You can use `createConversationAsync` to create a new one-to-one chat (assuming you have the correct Id's). I have an example of doing so here: https://github.com/clearab/teamsProactiveMessaging/blob/master/MessageSender.cs

[2020-06-04 20:06] WashingtonKayaker opened #2479 "EchoBot-Adaptive sample: Need to pass in the resource object when creating the DialogManager"
The JavaScript version of the EchoBot-Adaptive sample:

The [loadRootDialog()](https://github.com/microsoft/BotBuilder-Samples/blob/d4b72fd01aa5a8606d8ed68e4334f008e02c7600/experimental/adaptive-dialog/javascript_nodejs/20.echo-bot-declarative/index.js#L72) function should pass in the `AdaptiveDialog` resource object when creating the DialogManager. The DialogManager [constructor](https://github.c

[2020-06-05 06:12] roberi commented on #2451
@v-kydela - Thank you for your excellent explanation. I now understand how it all works. I will try some of your suggestions. You can close this issue.

[2020-06-05 06:24] roberi opened #2481 "Add Node.js sample for Multi-lingual generation and language fallback policy"
The section [Multi-lingual generation and language fallback policy](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-concept-language-generation?view=azure-bot-service-4.0&tabs=javascript#multi-lingual-generation-and-language-fallback-policy) only has an sample for dotnet. I think that the docs would really benefit from an example in Node.js. If others are interested I got it working

[2020-06-05 08:52] kittu610 opened #2482 "Unable to add email channel in azure bot service"
Hi
![error](https://user-images.githubusercontent.com/49742373/83856948-eed1fb00-a737-11ea-9473-ae5fe9390e4c.PNG)

I was trying to enable the email channel in azure bot service but its trowing an error.

please find the following image for reference

[2020-06-05 16:04] GDreyV opened #2483 "Acquire Using behavior"
Hi, I know it's wrong place for the general questions but I can't get answer on stackoverflow or Azure portal support.
I see that Teams Bot have `Acquire Using` field in the product description. But I can't find any place where the behavior of this field is described. If I understand it correctly Teams app can be used with both personal and business accounts. So it looks like `Acquire Using` limit

[2020-06-05 17:00] mdrichardson commented on #2477
@joakim-tjernlund Can you please provide steps to reproduce this error? Are you using a bot? Which sample?

[2020-06-05 17:24] #2451 closed

[2020-06-05 18:10] tracyboehrer commented on #2335
@stevkan Can you update the status of this for the customer?

[2020-06-05 18:40] clearab commented on #2483
Where are you seeing this property? Can you share an example?

[2020-06-05 18:47] GDreyV commented on #2483
![image](https://user-images.githubusercontent.com/6262948/83912204-6f462b00-a73b-11ea-867d-7934a6e2ffb7.png)

[2020-06-05 20:00] #2284 closed

[2020-06-05 20:02] vishwacsena commented on #2479
Addressed via #2478

[2020-06-05 20:02] #2479 closed

[2020-06-05 20:08] GDreyV commented on #2483
Just got a call from Microsoft Partner support center. If I got it right this field is set by certification team and by design all Team applications requires Business or School account. Salesforce in the first post belongs to Outlook applications which is different class of applications and it's possible to choose who can use it.
So in a nutshell it's kind of business decision to limit all Teams a

[2020-06-05 20:08] #2483 closed

[2020-06-06 15:48] MarwaAbuEssa commented on #2468
thanks a lot for your help , really appreciate

[2020-06-06 15:52] MarwaAbuEssa opened #2486 "notification only bot is not working properly on iphone"
Hi ,
I'm using your sample for nodejs botframework v4

i want the bot to be a notification only bot so i had an activity tab not a chat .
it sends a proactive messages on a certain event at our api via /api/notify end point and it is working successfully at desktop , web and android mobile .

the issue is at Iphone , if the bot is a notification only , i don't get a notification if the mobile scre

[2020-06-08 10:40] garypretty commented on #2012
JS sample merged

[2020-06-08 10:40] #2012 closed

[2020-06-08 10:42] garypretty commented on #1909
We can also link to the docs describing the analysis of telemetry using Kusto in Azure.  I have added the BF Docs label so that this can be handled as part of R10.

[2020-06-08 10:45] garypretty commented on #1946
@tsuwandy do you know which issue sample does this issue refer to?  Can you confirm if this is still an issue?

[2020-06-08 16:25] mdrichardson commented on #2486
@MarwaAbuEssa Since this only happens on one Teams client and the issue is UI-specific, this is a Teams issue and not a Bot Framework one. Please open a ticket on the [Teams UserVoice](https://microsoftteams.uservoice.com/forums/908686-bug-reports)

[2020-06-08 16:25] #2486 closed

[2020-06-08 17:15] tsuwandy commented on #1946
I mostly looked at the core-bot.
This is the readme for the TypeScript version:
https://github.com/microsoft/BotBuilder-Samples/blob/master/samples/csharp_dotnetcore/13.core-bot.tests/README.md

There isn't really any instruction there how to test the bot for the core bot scenario.  What utterances to use, etc.

The dotnet core one has some examples:
https://github.com/microsoft/BotBuilder-Samples

[2020-06-08 18:06] a-b-r-o-w-n commented on #2481
@roberi We are waiting for #2484 to be merged that addresses this issue. Please try again once the master branch gets updated.

[2020-06-08 18:08] dhanush-ai1990 opened #2487 "How do I use template and data in python for adaptive cards"
I totally understand this is not for questions, But after working using Ms Chatbot and services, I have to stay the documentation support for Python is totally wanting.

For example for adaptive cards with python, the version 1.2, supports template and data as separate jsons.

https://adaptivecards.io/samples/FlightItinerary.html

I see the examples for C# and JS to render this card.

Where is the

[2020-06-08 21:13] splumber opened #2488 "Bot Authentication Graph throws exception"
### Github issues for [Bot Authentication MSGraph](https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/24.bot-authentication-msgraph)

## Sample information
1. Sample type: [\samples\csharp_dotnetcore\24.bot-authentication-msgraph](https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/24.bot-authentication-msgraph)
2. Sample languag

[2020-06-09 13:19] SathishNeel opened #2489 "[MS Teams]-Post request to smba.trafficmanager.net/xxx/v3/conversations/xxxx/activities/xxx returns canceled status"
bot Builder: 4.5.1 C#

step to reproduce

1. install bot in teams channel and type a query.it returns response.
2. deploy code changes and ping bot with sample query.
3. bot returns error message.

how to handle smba.trafficmanager failure.

[2020-06-09 16:58] jwiley84 commented on #2487
Hi @dhanush-ai1990

I've answered your duplicate question on stack overflow [here](https://stackoverflow.com/questions/62268633/send-a-adaptive-card-with-data-in-python-using-1-2-version), so I'm going to go ahead and have this one closed, in order to keep conversation about this topic in one centralized place.

[2020-06-09 17:02] anusharavindrar commented on #2487
Closing the issue

[2020-06-09 17:02] #2487 closed

[2020-06-09 18:04] a-b-r-o-w-n commented on #2489
@clearab Can you help triage this?

[2020-06-09 19:12] clearab commented on #2489
I'm not quite sure what you mean, could you provide a code sample or more detailed information about what you're trying to accomplish? Are you starting from one of our code samples?

[2020-06-09 21:51] anusharavindrar commented on #2488
@splumber, I tried the sample 24.bot-authentication-msgraph and it works just fine for me.
![image](https://user-images.githubusercontent.com/48731427/84204209-a0866a00-aa5f-11ea-8ca3-f1efccab367f.png)

You need to add the Microsoft bot app ID and password along with the connectionName in the appsettings.json, not the client ID and password. The client ID and secret which you generate in the 'Crea

[2020-06-10 00:28] splumber commented on #2488
Thank you for replying, I tested the Connection and it worked
Yes, I entered the MicrosoftAppId, MicrosoftAppPassword, and ConnectionName to both appsettings.json and in the BotFramework Emulator.

I'll retry all of the steps and will follow up with results

[2020-06-10 02:39] chrimc62 opened #2491 "Allow remote templates and schemas for dialog generation"
Currently $requires looks for a schema in the template directories and the template directories are all local folders.  The proposal has two parts:
1) Add $templateDirectory to schema.  If not specified we use the current mechanism where we assume the directory containing the schema is an added template directory.  We would allow $templateDirectory to be a github reference and would automatically

[2020-06-10 05:33] SathishNeel commented on #2489
@clearab , we used 46.teams-auth bot sample . we have been while in teams channel and after every deployment bot not responding to user query.but if they signout and signin , it starts working . As a bot team, we are facing difficulties to explain this process to each one of the users. Please provide your suggestion to handle better.

[2020-06-10 05:54] stevengum opened #2492 "Create automated E2E tests for Echo Bot across all languages"
The automated tests should run after the latest daily builds are cut.

- Pull down latest daily packages
- Locally build echo bot samples
- Deploy echo bot samples to Azure
- Test deployed bot

| |Linux|Windows|
| ------ | ------ | ------ |
|.NET| ✔️ | ✔️ |
|JavaScript|✔️|✔️|
|TypeScript|✔️|✔️|
|Python|✔️|N/A|

@jwiley84 FYI

[2020-06-10 06:10] stevengum opened #2493 "Create automated E2E tests for Core Bot across all languages"
The automated tests should run after the latest daily builds are cut.

- [x] Pull down latest daily packages
- [x] Locally build core bot samples
- [x] Deploy core bot samples to Azure
- [x] Test deployed bot

Note: For the MVP, a static LUIS App and accompanying Azure Cognitive Service Resource would be sufficient.

@jwiley84 FYI

[2020-06-10 09:55] AbuHelweh opened #2495 "Could not convert string 'Calendar_Cancel' to dictionary key type 'Microsoft.BotBuilderSamples.FlightBooking+Intent'"
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Sample information
1. Sample type: [\samples\ or \solutions\]
2. Sample language: [dotnetcore]
3.

[2020-06-10 18:31] clearab opened #2496 "The Graph sample (24) shouldn't use tenant admin scopes"
We should change which Graph endpoints this bot uses so that tenant admin approval is not required.

All up samples review tracking issue https://github.com/microsoft/botframework-sdk/issues/5897

[2020-06-11 02:38] #2481 closed

[2020-06-11 08:13] joakim-tjernlund commented on #2477
I think I reported this in the wrong forum maybe. The error is seen when starting teams-insiders
from a terminal.

[2020-06-11 08:17] garypretty commented on #2175
@clearab Assigning this to you for now as related to Teams issues. Once we have a clear scope for the issues we are addressing in R10 we can load balance if needed.

[2020-06-11 08:42] garypretty commented on #2175
All up SDK tracking issue for Teams docs https://github.com/microsoft/botframework-sdk/issues/5896

[2020-06-11 08:42] garypretty commented on #2324
All up SDK tracking issue for Teams docs https://github.com/microsoft/botframework-sdk/issues/5896

[2020-06-11 09:02] garypretty commented on #1909
Will form part of the all up samples review in R10 - https://github.com/microsoft/botframework-sdk/issues/5897

[2020-06-11 15:53] mdrichardson commented on #2477
@joakim-tjernlund I thought so. You may want to open a ticket via the [Teams UserVoice](https://microsoftteams.uservoice.com/forums/908686-bug-reports)

[2020-06-11 15:53] #2477 closed

[2020-06-11 18:53] garypretty commented on #1729
Hi @diberry. We have reviewed this issue as part of our R10 workstream. At this time we have no plans to re-instate the Deploy to Azure buttons.  This is due to a combination of factors including, the requirement for the buttons to work across all 4 SDK languages and the fact that many of our samples require pre-requisite setup and will throw exceptions on startup without those pre-reqs in place.

[2020-06-11 18:53] #1729 closed

[2020-06-12 11:09] garypretty commented on #1471
@johnataylor I think expanding your sample readme to cover common scenarios (as @benbrown described above), as you suggested, probably makes sense.

I think it might also be a good idea to add a reference to the TIMEX sample somewhere in our docs, so that folks who are using LUIS can be pointed to the sample.

@JonathanFingold could you suggest an appropriate place within our docs where such a cal

[2020-06-12 18:09] clearab opened #2501 "Document + Samples for mentioning user by UPN/AAD Obj ID"
Teams is adding support for @mentioning users by UPN & AAD Object Id in both chat and Adaptive Cards, we'll need to update the conversation sample to demonstrate this functionality, and document it.

Minimally docs should be within R10.  Blocked until Teams feature is in production.

[2020-06-12 23:40] JonathanFingold commented on #1471
As a stand-alone topic, I might put it under resources, or add a shout out in new recognizers concept article, with a short reference topic that covers the bits and pieces. Currently, we have a very brief discussion hidden here: https://docs.microsoft.com/azure/bot-service/bot-builder-primitive-prompts#parse-and-validate-input.

[2020-06-13 07:46] Yudner opened #2503 "Facebook Adapter Error: WARNING: Webhook received message with invalid signature. Potential malicious behavior!"
I have successfully deployed the bot in Azure and connected with Facebook Messenger but I receive the following error when it reaches the "FacebookController.cs" controller:
"WARNING: Webhook received message with invalid signature. Potential malicious behavior!"
401 Unauthorized

**https://1{URL_BOT}/api/facebook**

_But when I change to "https://1{URL_BOT}/api/messages" it answers correctly._

I

[2020-06-15 11:15] rajeshyalamarthi opened #2504 "FTP: The remote server returned an error: (530) Not logged in."
Hi, here I am using FTP in order to fetch the files from azure app service and to display files. When I'm trying to run code locally it is working fine. But when I published the code in azure app service there it is throwing " **The remote server returned an error: (530) Not logged in."** exception.

[2020-06-15 16:44] jbinko opened #2505 "VS Wizard (VSIX) - Core Bot with Tests generates file with inconsistent cases cause build to fail on UBUNTU"
With VS Wizard generate sample based on option Core Bot with Tests.
It creates physical file with wrong casing: FlightFromParisTo**n**ewYork.json
On UNIX based file systems it fails with errors in files:

    \MyBot.Tests\Dialogs\MainDialogTests.cs
    [InlineData("FlightFromParisToNewYork.json", "BookingDialog mock invoked")]

    MyBot.Tests.csproj
    <None Remove="Dialogs\TestData\FlightFromPa

[2020-06-15 18:02] v-kydela commented on #2503
@Yudner - I would like to help but I have a few questions.

1. Would you kindly link to the sample you are following?
1. Would you kindly link to any documentation you have read?
1. It looks like your bot is set up to use the ABS Facebook channel connector in Azure. Do you understand the difference between the Facebook connector and the Facebook adapter?
1. Are you trying to use the connector and

[2020-06-15 18:09] vishwacsena commented on #2504
@rajeshyalamarthi can you please open a bug with repro steps? This seems too generic and vague to be actionable.

[2020-06-15 18:09] #2504 closed

[2020-06-15 18:11] vishwacsena commented on #2462
@stevkan can you take a look and provide an update?

[2020-06-15 19:41] stevkan commented on #2335
@GDreyV, I just noticed you are trying to send a "postBack" action type which is not supported in Teams. If you are trying to send a message back to the bot that is not intended to be displayed to the user, you will want to use the "invoke" action type, referenced [here](https://docs.microsoft.com/en-us/microsoftteams/platform/task-modules-and-cards/cards/cards-actions). A response should look som

[2020-06-15 20:26] EricDahlvang commented on #2496
dotnet PR completed here: https://github.com/microsoft/BotBuilder-Samples/pull/2506

other languages to follow, once this is approved

[2020-06-15 20:53] GDreyV commented on #2335
Sorry, it was incorrect code past, really the code is:
[code]

[2020-06-15 23:17] #2505 closed

[2020-06-15 23:19] EricDahlvang commented on #2505
@jbinko thank you for raising this issue. We've fixed the source, and will update the VSIX with the next release.

[2020-06-15 23:31] EricDahlvang commented on #2313
Notes:

- We probably do not need an entire sample for this, considering there is very little code involved.

- Setting DeliveryMode to ExpectReplies will cause all replies to be buffered into the http response of the request rather than the normal bot framework sdk host to skill method of posts to the SkillController. This enables Request/Response, rather than just post/post.

- Change [80.skills

[2020-06-15 23:37] clearab commented on #2313
I'm not sure if this demonstrates how/why you would want to use expectReplies adequately. I'm ok with combining the samples (assuming @gabog agrees), but I think we'd want something easier to switch on so that developers could test this w/o DirectLine. @gabog or @johnataylor do we have a good list of the reasons why you'd use expectReplies?

[2020-06-16 00:04] EricDahlvang commented on #2313
@clearab is there any reason a skill host would or should NOT use ExpectReplies?  Maybe we should update all of the skills samples to always use it, regardless of channel.

[2020-06-16 02:21] stevkan commented on #2462
@manutero, I've been unsuccessfully trying to replicate your issue when I just noticed that you are calling `adapter.continueConversation()` instead of calling `adapter.getConversationReference()`. In that light, it makes sense that the bot would error out when you stop and restart the service as the bot doesn't have an already established conversation.

In the **57.teams-conversation-bot**, you c

[2020-06-16 13:07] rajeshyalamarthi opened #2508 "FTP: The remote server returned an error: (530) Not logged in."
Hi, I have stuck with some weird scenarios.
What I'm trying to do is Fetching the files from one azure web app service[.netcore3.1] and displaying those files in another app service [.netcore3.1] using FTP.
Code I'm using

[code]

Issues I'm facing:
* When I'm trying to run the code locally where I'm trying to fetch and display the files from azure web app it is working absolutely fine. But when I

[2020-06-16 13:14] manutero commented on #2462
thanks @stevkan , will trace back this hint :ok:

[2020-06-16 15:12] dmvtech commented on #2508
This issue looks to be related to the Azure infrastructure. This doesn't seem to be independent of the bot framework.

Please open a support request through the Azure portal to further troubleshoot this issue.

[2020-06-16 15:12] #2508 closed

[2020-06-16 20:30] stevengum commented on #2312
@danlavrushko, which version of the SDK are you using and which channels are you targetting?

@WizX20 I'm not familiar with the VA code base, but currently skills don't play well with no-auth scenarios: https://github.com/microsoft/botframework-sdk/issues/5726

[2020-06-17 01:58] chrimc62 opened #2510 "Handle all standard JSON schema types and formats"
We need to handle all of the built-in JSON schema types without any extra machinery. In particular we need to handle string, number, integer, boolean and array of them.  Most of this should be just doing the root template.

In addition we need to handle standard formats from here: https://json-schema.org/understanding-json-schema/reference/string.html#format
In particular we should be able to hook

[2020-06-17 02:05] chrimc62 opened #2511 "Convert all chit-chat .tsv files into .qna files and setup for inclusion in generated dialogs"
We currently include professional chit-chat in the CLI.  The problem is that there are five personalities and 9 languages and we don't want to include all of those.  This is dependent on #2491 and once we have done that we need to setup the CLI with the schemas that point to the remote chit-chat files downloaded on-demand.

[enhancement]

[2020-06-17 17:23] #2495 closed

[2020-06-17 21:34] v-kydela commented on #2503
@Yudner - Are you still working on this?

[2020-06-18 00:32] stevkan commented on #2335
Can you show me the method in your bot that you are using to handle the incoming `MessageBack`?

[2020-06-18 01:38] GDreyV commented on #2335
Sorry, it might be wrong but as I recall this one:
[code]
but really in the cases we faced this method was not called. We were just facing numerous exceptions in the browser.

[2020-06-18 09:07] SathishNeel commented on #2489
@clearab Yes, its from bot( logout and sign-in) .our bot is supporting domain functionalities (more than 21 process areas) adoption of 150k users .we have test and live environment and this issue occurring on both environment and most of the user are facing same error as mentioned here. Also verified in application insight log and it shows only this dependency failure.

[2020-06-18 16:42] DishaAgarwal opened #2516 "Error in documentation"
### Github issues for [C#]
https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/adaptive-dialog/08.todo-bot-luis-qnamaker

## Describe the bug
cd Dialogs bf luis:cross-train --in . --out ../generated --config DialogLuHierarchy.config.json
- It is unclear where the generated folder should be created as both cd and bf commands are put on the same line. Splitting the

[2020-06-18 20:13] clearab commented on #2489
It sounds like you're trying to either continue a conversation using a conversationId that no longer exists, or maybe trying to use an expired user token. Can you debug and figure out what specifically is happening in your code when this error is thrown? Since it is happening once for each of your users, I'm guess there is something amiss in like your user or conversation state storage. @Jeffders

[2020-06-18 20:57] gabog opened #2517 "Update CardBot sample to use the new ToAttachment method on all platforms"
Update the 06.using-cards Samples to use the ToAttachment method.

- [x] dotnet
- [x] js
- [x] python

See [parent](https://github.com/microsoft/botframework-sdk/issues/5871)

[2020-06-21 12:05] irwinwilliams opened #2520 "There's no ./Dialogs/Resources/ToDoBot.lu file"
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues) / [Java](https://github.com/Microsoft/botbuilder-java/issues)/ [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for genera

[2020-06-22 15:02] vipeketi opened #2523 "[QnAMaker} Sample update for Precise Answer Feature Request."
Update Samples for Precise Answer changes.

[2020-06-22 15:27] tracyboehrer opened #2524 "Dotnet: README standardization and cleanup"
README review:

Standardization of layout. Capitalization, content, etc...
Steps to run are slightly wrong on C# (but not in a breaking way)
Further reading should be simplified for all of them (each in a unique way). There is too much there in most cases.
Actions (input) user can perform against the bot (see the Teams README's)
Steps to rectify:

Standardize dotnet README's
Copy to other repo sam

[2020-06-22 15:32] tracyboehrer opened #2525 "Python: README standardization and cleanup"
README review:

Standardization of layout. Capitalization, content, etc...
Steps to run are slightly wrong on C# (but not in a breaking way)
Further reading should be simplified for all of them (each in a unique way). There is too much there in most cases.
Actions (input) user can perform against the bot (see the Teams README's)
Steps to rectify:

Standardize dotnet README's
Copy to other repo sam

[2020-06-22 15:33] tracyboehrer opened #2526 "JS: README standardization and cleanup"
README review:

Standardization of layout. Capitalization, content, etc...
Steps to run are slightly wrong on C# (but not in a breaking way)
Further reading should be simplified for all of them (each in a unique way). There is too much there in most cases.
Actions (input) user can perform against the bot (see the Teams README's)
Steps to rectify:

Standardize dotnet README's
Copy to other repo sam

[2020-06-22 18:15] srinaath commented on #2520
@vishwacsena  can you take a look at this ticket?

[2020-06-22 18:34] stevengum commented on #2492
The .dotnetcore Echobot work can be found under the [`e2etest6-10`](https://github.com/microsoft/BotBuilder-Samples/commits/v-bruhal/e2etest6-10) branch.

The accompanying pipeline is named [**Sample-DotNet-EchoBot-Test-Win**](https://fuselabs.visualstudio.com/SDK_v4/_build?definitionId=989).

[2020-06-22 20:14] vishwacsena commented on #2520
Addressed via #2528

[2020-06-23 00:19] jwiley84 commented on #2516
I'll put in a PR to fix this. Thank you for bringing it to our attention!

[2020-06-23 02:07] #2520 closed

[2020-06-23 14:10] bravokeyl opened #2530 "Teams Bot Auth: oAuth Card with AADV2 returns expired tokens"
## Sample information
1. Sample type: **samples**
2. Sample language: **nodejs**
3. Sample name: **46.teams-auth**

## Describe the bug
I'm using sample auth with AADV2 connection and custom scope. The token is not renewed and receiving the expired token.

## To Reproduce
Steps to reproduce the behavior:
1. Use the 46 sample with AADV2 connection type
2. Set the scopes to be "offline_access" and c

[2020-06-23 19:00] jwiley84 commented on #2530
Hi @bravokeyl

Token handling is not something the bot does; it does not automatically refresh. The OAuth samples are meant to show simple implementation of sign-in and sign-out logic. As you've already asked this question on stackoverflow, I'm going to close this issue, and answer further queries there.

[2020-06-23 19:00] #2530 closed

[2020-06-23 19:06] bravokeyl commented on #2530
@jwiley84 Thanks for the quick response.

I'm confused from the [comments](https://github.com/microsoft/BotBuilder-Samples/blob/93e1cca04512613af7e056caa94b1bbd1a8244b4/samples/javascript_nodejs/46.teams-auth/dialogs/mainDialog.js#L71-L79) in the code. I thought when we call the prompt it returns the new token if the previous token is expired, is my assumption wrong here?

[2020-06-23 20:52] gabog commented on #2517
Updated issue to note that we need to update JS and Python and reopening.

[2020-06-23 21:34] #2517 closed

[2020-06-23 21:52] stevengum opened #2531 "Address .NET Core 3.1 change around hostingModel default value"
## Sample information
1. Sample type: \samples\
2. Sample language: dotnetcore
3. Sample name: All dotnetcore samples and generators

## Describe the bug
In .NET Core 3.1, the hosting model default switched from `"outofprocess"` to `"inprocess"` which does not work with DL ASE (which uses `"outofprocess"`). By having a mismatch for the hosting model, the two will never be able to talk to each othe

[2020-06-23 21:57] stevengum commented on #2531
Migration docs: [2.2 -> 3.0](https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-3.1&tabs=visual-studio#in-process-hosting-model)

[2020-06-23 23:30] v-kydela commented on #2503
I am closing this issue due to inactivity. We are still happy to provide help if you need any, though it may be a good idea to make a new post if that's the case. Please have a look at [this](https://github.com/microsoft/botframework-sdk#questions-and-help) to find out the best places to ask for help, and consider asking questions on Stack Overflow.

[2020-06-23 23:30] #2503 closed

[2020-06-23 23:55] stevkan commented on #2462
Closing as resolved. If the issue persists, please feel free to reopen.

[2020-06-23 23:55] #2462 closed

[2020-06-24 08:30] pujita9610 commented on #2530
@jwiley84 Stumbled upon on the same thing today, I'm wondering how we can retreive a new token.
It would be great to add some notes on how to do that. Currently I can see that there is no way
to renew the token as we just get a hold on accestoken and no refresh token is received.

What are the possible ways to retreive a new token without re-prompting the user with sign-in card?

[2020-06-24 08:59] vipeketi opened #2532 "<QnAMaker> Make sample support configuration keys both ‘QnAEndpointKey’ and ‘QnAAuthKey from Application Configuration."
**Is your feature request related to a problem? Please describe.**
To support both the configurations for Keys, "QnAEndpointKey" and  "QnAAuthKey".
QnAMakerSample code and QnAMaker Template code uses different keys. To avoid modifying the code for using in ABS Template, for "CreateBot" in Azure Portal , this change is requested.

 To support appsettings key name for code downloaded from Azure Crea

[2020-06-24 14:11] gabog opened #2533 "Read receipt conversationUpdate event (samples)"
Update sample 57 on all platforms to showcase read receipt

- [ ] dotnet
- [ ] js
- [ ] python

See [parent](https://github.com/microsoft/botframework-sdk/issues/5891) for additional details

[2020-06-24 15:22] garypretty commented on #1945
Review of this sample and update of readme taking place as part of https://github.com/microsoft/botframework-sdk/issues/5897

[2020-06-24 15:22] #1945 closed

[2020-06-24 15:23] garypretty commented on #1946
Review of this sample and update of readme taking place as part of https://github.com/microsoft/botframework-sdk/issues/5897

[2020-06-24 15:23] #1946 closed

[2020-06-24 15:40] gabog opened #2534 "Add locale in Conversation Update (samples)"
See [parent](https://github.com/microsoft/botframework-sdk/issues/5901)

- [x] dotnet
- [x] JS
- [x] Python
- [x] Java

[2020-06-24 16:27] jwiley84 commented on #2516
I'm going to close this. The PR is in, and I don't want to leave you hanging just because I'm waiting for a reviewer. Thank you again for bringing this to our attention!

[2020-06-24 16:27] #2516 closed

[2020-06-25 01:48] tamnguyen39 opened #2540 "Azure OAuthPrompt shows twice when calling dialog outside the onMessage event"
### Github issues for [JS](https://github.com/Microsoft/botbuilder-js/issues)

## Sample information
1. Sample type: teams-auth
2. Sample language: nodejs
3. Sample name: [46.teams-auth](https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/javascript_nodejs/46.teams-auth)

## Describe the bug
I am following this example [46.teams-auth](https://github.com/microsoft/BotBuilder-Samples

[2020-06-25 05:44] bravokeyl commented on #2530
@jwiley84 @pujita9610 Yes, it would be very helpful if there are notes/guidance on how to retrieve a new token with oAuthCard

[2020-06-25 09:36] vipeketi commented on #2469
Being addressed in other issue.

[2020-06-25 09:36] #2469 closed

[2020-06-25 09:43] #2496 closed

[2020-06-25 10:56] garypretty opened #2541 "Main samples readme review"
We need to review the main samples index.  Specifically.

* Ensure all sample are present and links are correct. e.g. Sample 81 is missing.
* I think it is worth considering changing the 'View' links to either an icon or language text. e.g. 'C#' or 'JavaScript'. This is because you cannot see the column headers
* Consider if it is feasible / beneficial to separate into multiple lists, with skip li

[2020-06-25 10:56] garypretty commented on #2541
@tracyboehrer lets discuss this one and see how we can tackle it together.

[2020-06-25 13:21] #2470 closed

[2020-06-25 14:22] DishaAgarwal opened #2543 "A sample that integrates LUIS & QnA with the cross training solution and supports multi-turn prompts."
Sample 08.todo-bot-luis-qnamaker didn't have support for multi-turn prompts in the .qna file. Other samples support multi-turn prompts in the .qna file.

It would it be easier to work with a sample that extends multi-turn prompt support to sample 08. todo-bot-luis-qnamaker

[2020-06-25 14:34] DishaAgarwal opened #2544 "Unexpected behavior while adding chitchat source to .qna file and cross training."
If multi-turn prompts and chitchat source are included on the same file, chitchat prompts were somehow getting linked to unrelated follow up prompts from the same .qna file (if id is not assigned to the follow up prompts).

PFA screenshot of KB for reference

<img width="1097" alt="ChitChat" src="https://user-images.githubusercontent.com/11506427/85739179-34258f00-b71e-11ea-91d0-23b5c92c02dd.png">

[2020-06-25 14:37] DishaAgarwal opened #2545 "Update documentation regarding LUIS data flowing to QnA Maker & vice versa on cross training."
On cross training, luis data flows to QnA Maker & vice versa. It is possible that QnAMaker and LUIS applications for a user are hosted on different locations. We suggest that this be documented for the user to note.

[2020-06-25 17:54] jwiley84 commented on #2540
You've changed the sample bot beyond what I'm seeing here and I'm having trouble repro'ing what you're doing. Can you post the entirety of both your index.js and  your dialogBot.js?

[2020-06-25 19:43] clearab commented on #2489
I'm going to close this for now - please feel free to re-open if you have additional information to share.

[2020-06-25 19:43] #2489 closed

[2020-06-25 20:17] #1471 closed

[2020-06-25 21:16] EricDahlvang commented on #2341
Dotnet PR: https://github.com/microsoft/BotBuilder-Samples/pull/2546

other languages to follow, once this is approved/merge

[2020-06-26 02:12] tamnguyen39 commented on #2540
@jwiley84 Yes. please take a look
index.js
[code]
dialogBot.js
[code]

baseDialog.js
[code]

[2020-06-26 02:38] vipeketi opened #2548 "[QnA Maker] Update Sample documentation for better usability."
### Use this [query](https://github.com/Microsoft/botbuilder-samples/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++label%3Aenhancement) to search for the most popular feature requests.

**Is your feature request related to a problem? Please describe.**
The documentation currently provided in README.md for sample  has good opportunity to improve

**Describe the solution you'd like**
The Documentati

[2020-06-26 08:09] geo-msft opened #2550 "This sample "45. state management" redirects to V3 explanation on the bot state"
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues) / [Java](https://github.com/Microsoft/botbuilder-java/issues)/ [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for genera

[2020-06-26 16:19] jwiley84 commented on #2550
Hi @geo-msft I'll get the link corrected here, and reach out to the docs team to get their link in the docs fixed. Thanks for bringing this to our attention! Bot State is complicated enough without sending our customers all over creation to find the info!

[2020-06-26 16:35] jwiley84 commented on #2540
Excellent. Thank you for your patience while I look  into this.

[2020-06-26 16:36] jwiley84 commented on #2550
We've corrected the sample, and notified the docs team to their issue. Thank you again!

[2020-06-26 16:36] #2550 closed

[2020-06-26 17:14] jwiley84 commented on #2540
Your dialogBot.js and dialogBase.js are identical. Do you have 2 separate files, or did you rename dialogBot to dialogBase? I want to make sure I can repro this correctly.

[2020-06-26 18:32] sgellock commented on #1577
We've decided not to do this work as it adds route code that will take away form the intended purpose of the samples

[2020-06-26 18:32] #1577 closed

[2020-06-26 22:35] stevengum opened #2552 "[Feature Request] Proactive Messaging sample that uses dialogs"
The current proactive messaging sample ([#16 for Node.js](https://github.com/microsoft/BotBuilder-Samples/tree/7b24ffdb89095446112ada403504ec77d1a39c64/samples/javascript_nodejs/16.proactive-messages)) doesn't use dialogs. Resuming or beginning a dialog during a proactive message is a scenario worth investigating. Additionally, the management of Dialogs/DialogSets is worth demonstrating.

**Descri

[2020-06-27 00:30] tamnguyen39 commented on #2540
@jwiley84 Oh, Sorry, I updated that file. Have a nice weekend.

[2020-06-28 12:13] Krishna-chinthireddy opened #2553 "Button actions are not working in slack channel."
Hi,

i have followed [this documet](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-connect-slack?view=azure-bot-service-4.0&tabs=abs) created slack app and enabled the slack channel in azure bot service. published a bot which is created with buttons responses(i have referred  [this templetes](https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetc

[2020-06-29 03:06] coldplaying42 commented on #2510
Does handling all of the built-in JSON schema types without any extra machinery mean that when supporting string, number, integer, boolean and array, we do not need to use extra LG function (e.g., for number type, we do not use max/min functions from LG, but use keywords of json schema types)? What is root template?

[2020-06-29 18:35] v-kydela commented on #2553
Thank you for the report, @kittu610. You might be interested in the info from this Stack Overflow question: https://stackoverflow.com/questions/62440845/bot-framework-unable-to-receive-button-clicks-from-slack

  [1]: https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-connect-slack?view=azure-bot-service-4.0&tabs=abs#add-and-configure-interactive-messages-optional
  [2]: https:

[2020-06-30 07:48] kittu610 commented on #2553
Hi @v-kydela.

i am a echo bot template . just i have added a hero card has a response in that sample when user types any thing the bot is going to give a button has response when user clicks on that button user is going to get an image.

my error is that button responses have worked fine from past 20 days i have not done any changes but from past 3 days i am facing the issue with buttons. it is w

[2020-06-30 08:46] tamnguyen39 commented on #2540
@jwiley84 Could you please help me take a look that code?

[2020-06-30 12:06] #2212 closed

[2020-06-30 13:48] #2524 closed

[2020-06-30 15:43] #2175 closed

[2020-06-30 16:01] johnataylor commented on #1820
With the introduction of adaptive dialogs we will start to adopt the new features across the dialog samples.
As it is with the pre-adaptive samples the code in Core Bot illustrates the appropriate cancel logic. However, cancelation remains a task the bot designer needs to craft carefully. Closing this as we are not going to refresh this aspects of the samples outside of introducing some aspects of

[2020-06-30 16:01] #1820 closed

[2020-06-30 16:11] v-kydela commented on #2553
@kittu610 - Thank you for the information, but I still need to know if you're using the Slack adapter or the Slack connector. You linked to the instructions for the Slack connector, but the appsettings.json in the sample you uploaded is set up to use the Slack adapter. The sample itself seems coded to work with both.

[2020-06-30 17:03] jwiley84 commented on #2540
Hi @tamnguyen39 The files baseDialog.js and dialogBot.js are still identical.

[2020-06-30 17:23] bravokeyl commented on #2530
@jwiley84 Any further input on this would be great to retrieve the valid token. Thanks

[2020-06-30 19:10] gabog opened #2557 "Update CardAction to support alt text for images on buttons (samples)"
See [parent](https://github.com/microsoft/botframework-sdk/issues/5874)

Update CardActions samples on all platforms to show how to use new field.

- [x] C#
- [x] JS
- [x] Python
- [x] Java

[2020-06-30 23:28] tamnguyen39 commented on #2540
@jwiley84 I'm so sorry, I updated. Please help me check it again. 🙇

[2020-06-30 23:49] stevengum opened #2558 "Create pipeline for creating a VSIX with a specific version of botbuilder-dotnet"
Azure DevOps Pipeline for VSIX:
- [ ] **Stage 1: "Building VSIX"**
    - [ ] Uses the latest nightly BotBuilder SDKs from MyGet/Nuget to update VSIX templates' dependency versions
    - Should also have a nullable `"BotBuilderVersion"` variable used to generate VSIX generators off of a specific nightly version
    - [ ] Building & invoking VSIX generators should succeed.
- [ ] **Stage 2: "E2E test

[2020-07-01 07:34] kittu610 commented on #2553
Hi @v-kydela

i have used IBotFrameworkHttpAdapter.

[2020-07-01 11:15] Sujit-Gaikwad commented on #2371
Hi
with update V2.0.15 I able to see it working on my iPhone X. Will it be working for all iPhone devices on which this version is installed?

can you please confirmed once

thanks ,
sujit

[2020-07-01 16:52] tamnguyen39 commented on #2540
@jwiley84 To save your time
I've created this [repo](https://github.com/tamnguyen39/teams-auth-demo) and add steps to reproduce the bug
Please take a look.
Many thanks. 🙇

[2020-07-01 17:10] jwiley84 commented on #2540
Excellent, thank you for the repo. I'll go ahead and test this now, see what's going on.

[2020-07-01 17:36] stevkan commented on #2335
Hi @GDreyV, on April 21st (when you posted the issue), you stated

In subsequent readings, I missed the "in compose message area" of that question. Unfortunately, the answer is no. While the card is in the compose message state, the actions associated with any buttons are outside the context of the bot as the card, itself, hasn't entered the message thread, yet. This means that any action you woul

[2020-07-01 23:46] v-kydela commented on #2553
@kittu610 - I tried creating a new Slack app and deploying the sample bot project like you said and it can't even display the card:
![image](https://user-images.githubusercontent.com/41968495/86301291-5c980800-bbba-11ea-98d0-fd80ca72919f.png)

I also cannot run the project in debug mode. Can you?

[2020-07-02 04:09] tamnguyen39 commented on #2540
@jwiley84  Thank you very much. If you discover something or have difficulty reproducing it, please let me know. 🙇

[2020-07-02 06:39] kittu610 commented on #2553
Hi @v-kydela,

Yes i have aware of Microsoft app id and password  i have deleted the creds before sharing you.

It seems like the packages are not loaded in the solution please can you re built all the packages using nuget package manager.

please can you keep debugger after rebuilding all the packages.

[2020-07-02 07:40] sanam56 opened #2560 "bot builder framework AWS API gateway"
Hi Team,

Could you please let me know if we can use Lambda function inside AWS gateway and Microsoft Bot Framework REST API principles for the bot framework with "Single tenant" type

[2020-07-02 15:58] jwiley84 commented on #2560
Hi @sanam56 This is a 'how-to' question, and the bot framework team prefers that 'how-to' questions are asked on Stack Overflow [here](https://stackoverflow.com/questions/tagged/botframework) to better serve the conversational-ai community at large. If you could open your question there, a member of our team can take a look at what you're trying to do and give you some assistance. That being said,

[2020-07-02 15:58] #2560 closed

[2020-07-02 16:14] v-kydela commented on #2553
@kittu610 - Finally I am able to reproduce the problem and I'm now trying to determine the cause. Thank you for your patience.

[2020-07-02 20:14] v-kydela commented on #2553
All right, I've done some investigating and I believe the problem is in ABS. I have a working Slack app and a broken Slack app, and the working one was a ["classic"](https://api.slack.com/rtm#classic) Slack app that wanted me to migrate. Unfortunately the migration process says it breaks the RTM API:

![image](https://user-images.githubusercontent.com/41968495/86398113-f4006800-bc59-11ea-8bc5-abaa

[2020-07-03 01:11] sanam56 commented on #2560
Thanks @jwiley84 . I have raised the question in the stack overflow [https://stackoverflow.com/questions/62706654/microsoft-bot-builder-framework-aws-api-gateway]

[2020-07-03 10:50] kittu610 commented on #2553
Hi @v-kydela

Has followed i have created classic slack application but it has asked to update the scopes so i have updated the scopes and created the classic application but the issue is still persisting. still the buttons are not working.

please any more suggestions.

[2020-07-03 16:12] v-kydela commented on #2553
@kittu610 - Updating the scopes would be converting the classic Slack app to a new Slack app I think, which would defeat the purpose of creating a classic Slack app. In any case, did you try my other suggestion?

[2020-07-03 19:31] careernavigator opened #2563 "User's data is getting overlapped. User are seeing other user's data in their chat window."
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues)

## Sample information
1. Sample type: [\samples\ or \solutions\]
2. Sample language: [dotnetcore, C#, bot builder SDK]
3. Sample name: <Name of the sample>

## Describe the bug
User's data is getting overlapped. User are seeing other user's data in their chat

[2020-07-04 21:36] GDreyV commented on #2335
Ah, thank a lot for the details. I got it. Thank you for your time and investigation!

[2020-07-04 21:36] #2335 closed

[2020-07-05 11:54] kittu610 commented on #2553
Hi @v-kydela

Sorry for the late reply.

i have tried with out updating the scopes in  classic app the result is same.  when i config the basic details of slack in azure i am facing this issue.
please find the below image.
![image](https://user-images.githubusercontent.com/49742373/86531952-76e82380-bee3-11ea-9b19-ced5f3055490.png)

i have created a bot using slack adapter. but i am not getting th

[2020-07-06 08:23] kittu610 commented on #2553
Hi @v-kydela

This is very important for us to deliver chat bot  for one of the customer.
Please let us know if bot framework engineering team is working on the issue/feature and share those details with us for tracking

[2020-07-06 17:34] v-kydela commented on #2553
@kittu610 - The [Slack adapter sample](https://github.com/microsoft/BotBuilder-Samples/blob/master/samples/csharp_dotnetcore/60.slack-adapter/Bots/EchoBot.cs#L65-L80) shows you how to use Block Kit with the Bot Framework

[2020-07-06 18:01] EricDahlvang opened #2564 "Add instructions to 52.teams-messaging-extensions-search-auth-config/README.md"
These instructions, or something similar, should be present in Sample 52 readme.md:

1) run ngrok - point to port 3978
2) add the ngrok url to appsettings.json - SiteUrl
3) create bot framework registration - using ngrok URL
4) add MicrosoftAppId and MicrosoftAppPassword values to appsettings.json
5) add an AAD V2 OAuth Connection Setting
scopes: email Mail.Read User.Read openid profile User.ReadB

[2020-07-06 18:29] v-kydela commented on #2563
Thank you for the report, @careernavigator

Are you using Web Chat?

[2020-07-06 18:39] #2321 closed

[2020-07-06 18:46] #2563 closed

[2020-07-06 18:46] careernavigator commented on #2563
Issue resolved. userID parameter was missing in renderWebChat method.

[2020-07-06 20:08] #2341 closed

[2020-07-07 01:44] youyu16 commented on #2553
@kittu610 The 404 is normal because your bot is not handling the OPTIONS call, this is not the issue and will not affect your bot flow.
As far as I know ABS has an issue which is using one of the slack API deprecated for newly created slack app from 6/10/2020.
I'm start fixing this problem but currently not clear when it will be deployed.

[2020-07-07 01:52] youyu16 commented on #2553
@kittu610 Slack is guiding us using their auth v2 by default and we have other customer report to using v2. The ABS is migrate to using auth v2 by default but v1 auth is still working for the old bot.
If you want still want to use the V1 you need to make the auth and "add to slack" link on your own.
the example is here
https://slack.com/oauth/authorize?scope=bot&client_id=your_client_id&redirect_u

[2020-07-07 02:43] cosmicshuai opened #2566 "Transform VS Code extension to Language Server Protocol"
Our VS code extension now is implemented by the builtin APIs of VS code, such as completion API, diagnostic API, Hover API.
Ref: https://code.visualstudio.com/api/language-extensions/overview#programmatic-language-features

However in Composer, the language features are implemented by Language Server Protocol.
Ref: https://code.visualstudio.com/api/language-extensions/overview#language-server-prot

[2020-07-07 06:29] FreddieK01 commented on #1133
Has anyone found a good sample that works? I am trying to implement this now

[2020-07-07 07:10] AshishMoradiya commented on #1133
@arturl is there no plan for providing built in support for agent hub? samples stated here looks outdated and not using [handoff protocol](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-design-pattern-handoff-human?view=azure-bot-service-4.0#handoff-protocol) described in official document. Also checked [closed issues](https://github.com/microsoft/BotBuilder-Samples/issues?q=is%3Ai

[2020-07-07 07:15] FreddieK01 commented on #1133
thanks @AshishMoradiya I am trying to work it now. Its given me a good starting point. I guess with the handoff sample, I need to configure it to go to my own agent etc... (I'm using liveperson)

[2020-07-07 07:29] arturl commented on #1133
@AshishMoradiya, @FreddieK01,

We have LivePerson and Omnichannel samples here: https://github.com/microsoft/BotBuilder-Samples/tree/master/experimental/handoff-library/csharp_dotnetcore/samples

All samples are up to date.

Some customer already used them to build their own integrations, for example ServiceNow.

[2020-07-07 07:47] FreddieK01 commented on #1133
@arturl Thanks, I see now. I want to have a bot where it can handoff to LivePerson. To do this, using those samples, do I just use the LivePersonAgentBot, or do I need to use that in conjunction with the live person connector?

[2020-07-07 09:26] garypretty commented on #1909
Currently blocked until this PR is merged -> https://github.com/MicrosoftDocs/bot-docs-pr/pull/2262

[2020-07-07 09:48] srinutamada commented on #2553
Thanks for update, How to many if the same chat bot is working with different channels? we can't create chat bot for each channel right? If I make changes to OAuth to fix Slack issue, other channels will fail. And I can't create bot for each channel and will become complex in code maintenance.

If the issue can be fixed to work with default auth itself will be much appreciated.

[2020-07-07 10:07] youyu16 commented on #2553
@srinutamada The PR is on its way, but need time to get it work.

[2020-07-07 13:11] FreddieK01 opened #2567 "Experimental LivePersonProxyBot cannot log cards"
Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues) / [Java](https://github.com/Microsoft/botbuilder-java/issues)/ [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "h

[2020-07-07 13:12] FreddieK01 commented on #2567
![image](https://user-images.githubusercontent.com/60449061/86786398-da955c80-c05b-11ea-8cfa-7164efa3f786.png)

[2020-07-07 13:14] FreddieK01 commented on #2567
![image](https://user-images.githubusercontent.com/60449061/86786711-3829a900-c05c-11ea-8a8e-f2e87faacbff.png)

[2020-07-07 14:01] AshishMoradiya commented on #1133
@arturl Thank you for your response, Could you please throw some light on how to build own agent hub and integration? I could not find much information on it, I want to develop user waiting queue and 1 agent chat with multiple user scenario.

[2020-07-07 15:10] vishwacsena commented on #2543
Resolved.

[2020-07-07 15:10] #2543 closed

[2020-07-08 08:55] #2541 closed

[2020-07-08 10:00] garypretty opened #2574 "Add iFrame based Task Module samples for remaining languages"
On the back of the .NET sample https://github.com/microsoft/BotBuilder-Samples/pull/2546 - add this sample to the other languages.

- [ ] Python (https://github.com/microsoft/BotBuilder-Samples/tree/trboehre/teamstasks)
- [ ] JS
- [x] Java

[2020-07-08 17:14] johnataylor commented on #2564
Seems like the sooner we get this in the better. @jwiley84 thanks for picking this up!
I think we should be able to take this straight into master @garypretty might like to comment.

[2020-07-08 17:16] jwiley84 commented on #2564
I'll get a PR out on this this afternoon, unless someone say no. :D

[2020-07-09 04:41] #2532 closed

[2020-07-09 06:05] kittu610 commented on #2553
This following documentation has updated. but in document it mentioned that to add a bot user but i unable to find bot user field in slack application creation.
please find the below attached image. The popup has came when i clicked on where's bot user field on left side.
Screenshot (18)

i have searched in App home page also but unable to find it
Screenshot (20)

[2020-07-09 14:01] ByIvo opened #2576 "TypeScript and Node.js generators yielding the wrong MicrosoftAppId environment variable."
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues) / [Java](https://github.com/Microsoft/botbuilder-java/issues)/ [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for genera

[2020-07-09 14:29] ByIvo commented on #2576
Check out the proposed fix at #2577

[2020-07-09 16:22] v-kydela commented on #2553
@kittu610 - In a classic app, I see the option to add a legacy bot user. Are you not seeing that in a classic app?

![image](https://user-images.githubusercontent.com/41968495/87065265-aa69cd00-c1c5-11ea-98d9-4defafed46dc.png)

[2020-07-09 17:47] arturl commented on #1133
Hi @AshishMoradiya, we're focusing on providing integrations with existing party agent hubs, and this is our recommended approach. To build your own hub, you can take inspiration from the work mentioned above in this thread (https://github.com/tompaana/intermediator-bot-sample) in which both users and agents are connected to the same bot, and the bot serves as the dispatcher.

[2020-07-09 17:55] #2576 closed

[2020-07-09 18:15] Virtual-Josh commented on #2545
@DishaAgarwal can you provide more information about what document you're having issues with?

[2020-07-09 23:04] vishwacsena commented on #2544
@DishaAgarwal when I run your zip, i see this error to start with.

[code]

After fixing GetUserProfileDialog.qna to this -

[code]

I see the following generated files which do not have the issue with cross-training that you are talking about.

[2020-07-10 01:18] arturl commented on #2567
Thanks for your report @FreddieK01! I just submitted a PR with the fix: https://github.com/microsoft/BotBuilder-Samples/pull/2580

In the meantime, you can merge from [fix-no-text-activity] and tell me if it's working for you.

[2020-07-10 02:49] stevengum commented on #2558
Removed priority and added backlog label as future around VSIX is unclear

[2020-07-10 05:36] kittu610 commented on #2553
Hi @v-kydela

Add legacy bot user option is there in classic slack application.

but in this updated [document](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-connect-slack?view=azure-bot-service-4.0&tabs=abs) they have mentioned to create an application using this [Url](https://api.slack.com/apps)
so i cannot find bot user  in that site.

[2020-07-10 15:59] #1909 closed

[2020-07-10 18:08] #2567 closed

[2020-07-11 00:50] HebatallaTarek opened #2582 "Sudden Error in LUIS Dispatch after working normally"
Hello ,
i use LUIS Dispatch for LUIS apps and QnA , all QnAKnowledgebaseId , "QnAEndpointKey" ,"QnAEndpointHostName , "LuisAppId" , "LuisAPIKey" ,  "LuisAPIHostName"  are provided in appsettings .json and i used to run the project successfully through Emulator , but couple of days ago suddenly  whenever i tried to enter  LUIS intent / QnA entry  i got " Sorry, it looks like something went wrong. "

[2020-07-11 21:33] alper commented on #2127
This is great. Connector fixes two issues for me with `core`:

- The bot I wrote had to do a bunch of weird stuff with `async_to_sync` and the likes.
- The bot I wrote gave an Authentication error that I couldn't debug

I threw in the id and secret in the connector and I can send messages to Teams no problem.

[2020-07-12 01:45] Virtual-Josh commented on #2582
@compulim can you route to the correct person? I'm not sure if it's better to go to QnA or LUIS

[2020-07-12 01:48] HebatallaTarek commented on #2582
@Virtual-Josh  Thanks for your response ,  it's  related to LUIS more

[2020-07-12 12:11] kemurayama opened #2583 "Deploying via ARM Template (with new Resource Group) failed with Error in Python samples"
### Github issues for [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests

## Sample information
1. Sample type: [samples/python/*/deploymentTemplates/template-with-new-rg.json]
2. Sample language: [python Arm Templates]
3. Sample name: I tried "18.bot-authentication/deploymentTemplates/template-with-new-rg.json"

## Describe the bug

Deploy

[2020-07-13 09:52] tamnguyen39 commented on #2540
I am very happy to be able to announce that the issue has been resolved with the help of MS
So, the solution is:

- in proactive I have to use
	`await myBot.run(turnContext);`
 instead
	`await myBot.dialog.run(turnContext, myBot.dialogState);`

And use event **this.onEvent**

[2020-07-13 09:52] #2540 closed

[2020-07-13 09:54] boydc2014 commented on #2566
Can you detail this issue with 1 Context, 2 Issue, 3 Solution

[2020-07-13 16:46] DishaAgarwal commented on #2545
@Virtual-Josh Hey, There is no particular document that's confusing to me. It is just a suggestion that might be included in docs related to cross training.

[2020-07-13 18:23] compulim commented on #2582
@stevkan Please repro this and triage.

[2020-07-13 18:26] JonathanFingold opened #2584 "Please update all adaptive samples to match the dialog pattern in the C# 01 sample"
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues) / [Java](https://github.com/Microsoft/botbuilder-java/issues)/ [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for genera

[2020-07-13 19:45] jwiley84 commented on #2583
Just to be clear, if you go on Azure and create the new (empty) resource group, then run the command to deploy to existing RG to this new one, it works, but if you run the command to deploy to a new RG (which  should, in effect, create an RG for you), it doesn't work?

[2020-07-14 01:38] kemurayama commented on #2583
@jwiley84

Yes. creating a new empty resource group on Azure Portal at first, then deploying via ARM Template (template-with-preexisting-rg.json) works.

However, creating all resources with a new resource group (template-with-new-rg.json) from azcli didn't work.

[2020-07-14 04:50] stevkan commented on #2582
@HebatallaTarek,

- Are you using a particular sample or is this something you have put together yourself?
- Can you confirm which version of the C# SDK you are using?
- Does this error occur immediately as the bot spins up or after some action?

[2020-07-14 05:19] sahithikkss opened #2588 "Change to DefaultNoAnswer not reflected in bot's response"
https://github.com/microsoft/BotBuilder-Samples/blob/0148be5cd5d3fc062a1ef71625079cac481dff30/samples/javascript_nodejs/49.qnamaker-all-features/dialogs/qnamakerBaseDialog.js#L31

Note that there is no static member `DefaultNoAnswer ` in `ActivityFactory`

~~var noAnswer = ActivityFactory.DefaultNoAnswer;~~
To fix the issue, use the below line
`        var noAnswer = ActivityFactory.fromObject(Def

[2020-07-14 05:35] Danieladu opened #2589 "LG vscode extension enhancement"
1. Currently VS code extension consists of 5644 files, out of which 3368 are JavaScript files. For performance reasons, we should bundle your extension: https://aka.ms/vscode-bundle-extension . We should also exclude unnecessary files by adding them to your .vscodeignore: https://aka.ms/vscode-vscodeignore
2. The readme content does not render images in the VS code extension page

[2020-07-14 07:03] srinutamada commented on #2553
@v-kydela, Is there update on resolution? We need this issue to be resolve as soon as possible. So, please let us know target completion date?

[2020-07-14 08:24] xieofxie opened #2590 "Requests for SSO sample using ASP.NET"
### Use this [query](https://github.com/Microsoft/botbuilder-samples/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++label%3Aenhancement) to search for the most popular feature requests.

**Is your feature request related to a problem? Please describe.**

Currently we have SSO sample using node.js https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/07.advanced-web-chat-apps/e.sso-o

[2020-07-14 12:47] commakoerschgen commented on #2583
Hello,

I have faced the same issue (with the C# sample, but the ARM templates are probably the same?). It could be fixed for me by changing https://github.com/microsoft/BotBuilder-Samples/blob/master/samples/csharp_dotnetcore/02.echo-bot/DeploymentTemplates/template-with-new-rg.json as follows:

@@ -121,7 +121,7 @@
                             "location": "[variables('resourcesLocation')]",

[2020-07-14 13:36] HebatallaTarek commented on #2582
@stevkan  Hello , Thanks for response
1) the initial start was Dispatch sample but i added more features later
2) i am using Bot Framework SDK V4 and Asp.Net Core V 2.1 on VsCode
3 ) i am not sure if i understand the question , but the bot works fine for about 6 months and in one of testing trials through emulator this issue occurred whenever i entered query to be detected using dispatcher
4) the

[2020-07-14 14:56] #2557 closed

[2020-07-14 16:28] v-kydela commented on #2553
@srinutamada - I'm sorry, but you'll need to ask @youyu16 if there is a target completion date. I can only provide support for the two workarounds I mentioned.

[2020-07-14 18:09] compulim commented on #2588
@pchoudhari Could you take a look at this? Looks like the sample are having some issues and may not run at all.

[2020-07-14 18:19] pchoudhari commented on #2588
@sahithikkss is tracking to fix this in the samples.

[2020-07-14 20:23] #2313 closed

[2020-07-14 23:54] kemurayama commented on #2583
@commakoerschgen

I really appreciate you.

The first error I met was resolved with your help but I faced a new error.

`InvalidTemplate - Deployment template validation failed: 'The template resource 'Microsoft.BotService/botServices/myTestBot' cannot reference itself. Please see https://aka.ms/arm-template-expressions/#reference for usage details.'.
`

I deleted dependsOn property on BotService

[2020-07-15 03:08] youyu16 commented on #2553
@srinutamada The button's issue targeting to be fixed in later this week or next week.
but I think you are encounter other issues depend on your comments. Can you describe the auth issue you are facing?
And you are talking about the "channel", you mean the channel in Botframework or the Slack's channel.

[2020-07-15 07:44] kittu610 commented on #2553
HI @youyu16

The problem is out bot will run in all channels with the endpoint URL( URL/api/messages) because we have used only one controller.
if we add one more adapter called slack adapter we need to change the endpoint URL to (URL/api/slack)

so if we change the endpoint URL it is going to effect other channels

[2020-07-16 14:08] #2534 closed

[2020-07-16 14:53] tracyboehrer commented on #2525
Closed by PR

[2020-07-16 14:53] #2525 closed

[2020-07-16 17:57] jwiley84 commented on #2583
Apologies for the delay. I'll reach out to the author of the ARM templates and see if anything has changed on Azure to prevent the bots from being deployed as it. Thank you for bringing this to our attention.

[2020-07-17 05:52] youyu16 commented on #2553
@kittu610 Button actions should working now, please confirm.
![image](https://user-images.githubusercontent.com/17819112/87753230-bba18200-c834-11ea-9d15-7d12970f411a.png)

[2020-07-17 07:49] kittu610 commented on #2553
Hi @youyu16

I can confirm that button actions are working

[2020-07-17 08:40] kittu610 opened #2597 "Buttons text is limited in slack coversation"
Hi

i have using some buttons actions in my slack bot

If buttons have some bigger button text they are not getting displayed fully.
please find the below attached screenshot.

![image](https://user-images.githubusercontent.com/49742373/87766282-85fd9880-c836-11ea-8413-06625d9ef5c7.png)

Is there any option to display full button text (or) is there any option like tool tip (or) is there any thing

[2020-07-17 09:10] srinutamada commented on #2553
@youyu16 Thank you very much for support. Much appreciated.

[2020-07-17 12:38] madhvimit123 opened #2599 "onTeamsMemberAddedEvent() not working for personal scope"
I was using Microsoft graph API for installing the bot for a user https://graph.microsoft.com/beta/users/{userID}/teamwork/installedApps

On installing the bot, onTeamsMemberAddedEvent() was called for the personal scope as well as for teams scope and through that, I was sending the welcome message to the users.
Apart from graph api, I was also installing the bot directly and the function was gett

[2020-07-17 18:05] compulim commented on #2599
@EricDahlvang could you take a look?

[2020-07-17 18:34] EricDahlvang commented on #2599
Teams bots installed into a personal scope only receive one notice.  Uninstalling/re-installing will not generate a new one.  This does make testing personal scope welcome messages difficult, but this is a known restriction.  The only workaround I know of to test this is to create a new bot registration.

[2020-07-17 18:39] madhvimit123 commented on #2599
But I have uninstalled/re-installed the app many a times in personal scope and it worked for me. It was sending the welcome message on every installation before this morning.

[2020-07-17 20:07] hardikverma24 commented on #2599
@EricDahlvang  thanks for your time and thanks for replying to us. What you've said is that bots getting installed in personal scope only receive one notice but me and @madhvimit123  have been doing the same thing i.e. Uninstalling/re-installing from past couple of months for thousands of time but it stopped working today's morning only so this came to us as a wierd issue.

[2020-07-17 20:09] hardikverma24 commented on #2599
@EricDahlvang  it would be really great if you can provide us some other solutions apart from this to get the user's conversation reference without user sending message to the bot. Thank you

[2020-07-17 20:59] v-kydela commented on #2597
@kittu610 - This is a limitation in each individual Slack client and is out of our control. All channels have limitations for how long button titles can be, and we recommend keeping your titles shorter than 20 characters. You might try sending a numbered list before the buttons if you need more room to explain what each button does, and then the button titles could just be 1, 2, etc.

I'm closing

[2020-07-17 20:59] #2597 closed

[2020-07-18 20:37] EricDahlvang commented on #2599
Apologies if i'm mistaken and this behavior has changed. I'll ask the Teams team.

There is work planned for InstallationUpdate activity support:
https://github.com/microsoft/botframework-sdk/issues/5959 do you know if your bot is receiving this activity, or any other activity the bot is not expecting? Do you have logging/telemetry enabled?

I will get some clarification on the events, and report

[2020-07-20 16:08] v-srkov opened #2602 "Container error when aiohttp module is used in the python application"
Hi,we are getting container error when aiohttp module is used in the python application. While deploying this sample https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/python/02.echo-bot getting error

Error Details Log
2020-07-16T08:46:12.160Z INFO  - Initiating warmup request to container daq3_0_d68cec48 for site daq3
2020-07-16T08:46:24.589Z ERROR - Container daq3_0_d68cec48 fo

[2020-07-20 23:24] johnataylor opened #2604 "Language Generation CustomFunction Sample should show how to do async work."
Language Generation uses Adaptive Expressions that can be extended with custom functions.

This is illustrated by this sample https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/language-generation/20.extending-with-custom-functions

However, such functions cannot be async. "This is actually by design since adaptive expressions are used to evaluate triggers.  The

[2020-07-21 00:50] stevkan commented on #2582
For the SDK, can you list the specific version (4.8.0, 4.9.0, 4.9.1, etc.)?
For .NET Core, can you also (try and) upgrade to v3.1? I don't think this is the issue, however the listed [prerequisite](https://docs.microsoft.com/en-us/azure/bot-service/dotnet/bot-builder-dotnet-sdk-quickstart?view=azure-bot-service-4.0&tabs=vs) is v3.1. It may make a difference.

What I mean is, does this occur as the

[2020-07-21 01:06] mewa1024 opened #2605 "Broken links in docs for generated dialogs"
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues) / [Java](https://github.com/Microsoft/botbuilder-java/issues)/ [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for genera

[2020-07-21 17:44] jwiley84 commented on #2602
Hi @v-srkov, couple questions:
Are you getting this error while deploying, or are you getting it after deployment, while attempting to interact with the bot?
How are you deploying your bot?
Have you made any changes to the requirements.txt?

[2020-07-21 18:10] jwiley84 commented on #2605
Hi @mewa1024 I'll get these fixed. Thanks for letting us know!

[2020-07-21 18:31] jwiley84 commented on #2605
@chrimc62 These are in the experimental folder, and I wasn't sure about hardlinking to fix the broken links, since I know stuff in experimental gets shifted around occasionally. I can PR to point them to the right place, if you're cool with it.

[2020-07-21 19:38] HebatallaTarek commented on #2582
@stevkan  Thanks for response
- SDK is V 4.5.1 i will try to upgrade .Net Core but i am not sure if it will work
- No it does not occur at initial start up it happen when i enter a query that will be detected using Dispatcher
- I do not know the Dispatch versions i got it from here
https://github.com/Microsoft/botbuilder-tools/tree/master/packages/Dispatch

- It's Ubuntu 16.04 and Emulator V 4.9.0

[2020-07-21 23:22] v-srkov commented on #2602
Hi @jwiley84 ,Yes we are getting this error after deployment and running the app service.
I have deployed using this link https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-deploy-az-cli?view=azure-bot-service-4.0&tabs=csharp and our customer deployed using pipelines and they are also got the same error. We didnt modify the requirements.txt. Initially I got aiohttpmodule not found erro

[2020-07-22 11:38] #2566 closed

[2020-07-22 16:46] jwiley84 commented on #2602
Awesome. Some follow up questions:
Are you deploying using an new, empty Resource Group? (important because you cannot combine Windows and Linux resources in the same RG, so a python bot needs to  be in in it's own RG)

Are you using the command to deploy to new RG, or are you creating the RG manually and using the command to deploy to existing RG? (important because right now there's an issue wit

[2020-07-22 17:07] v-srkov commented on #2602
HI @jwiley84 , I have created a new resource group manually in the azure first and deployed using template-with-preexisting-rg deployement template. Thanks

[2020-07-22 17:21] #2564 closed

[2020-07-22 18:08] jwiley84 commented on #2583
Hi @kemurayama

There's something going on with the ARM template deploy-to-new-RG. It's being investigated by the team, but right now, the work around is to create an empty resource group on Azure, then run the command to deploy-to-existing-RG.

I'll update this when I get an answer from the team looking into the problem.

[2020-07-22 23:26] stevkan commented on #2582
Ok, I will begin attempting to repro this.

You can type `dispatch -v` in a console which should give you the version.

[2020-07-22 23:39] HebatallaTarek commented on #2582
@stevkan  Thanks for your response , i tried command  dispatch version is :  1.6.8

[2020-07-23 10:52] #2589 closed

[2020-07-23 16:13] EricDahlvang opened #2651 "Create Teams SSO sample in experimental folder"
# Summary
Teams SSO is in partner preview, and we need to create samples and documentation to support. We need to fork the Teams auth sample into the experimental folder, and add SSO to that sample.

## De-duplication of exchange invoke requests issue
We have a need to dedupe multiple token exchange invoke requests (with same id), which may come in from multiple teams clients that the user is sign

[2020-07-23 18:00] jwiley84 commented on #2602
Thank you for the information. I'll try to track down the  root cause.

[2020-07-23 21:30] johnataylor opened #2611 "Tokenizer in Choice Prompt fails on some characters"
The Tokenizer attempts to split input that includes emojis. This code works for the basic emoji characters (thumbs up, down, smile etc.) but fails on the multi-character emojis that include modifiers for things such as FitzPatrick scale skin tone.

Suggest we simplify the Tokenizer in the product code and move the partial implementation of emoji tokenization into sample. (The Tokenizer should alre

[2020-07-24 19:59] zxyanliu opened #2617 "A broken link in card sample"
### A broken link in [the card sample](https://github.com/microsoft/BotBuilder-Samples/blob/master/samples/csharp_dotnetcore/06.using-cards/Cards.cs#L180)
This URL: http://www.wavlist.com/movies/004/father.wav
Should be: https://wavlist.com/wav/father.wav

### Additional text
Will need updates to the card samples across all the languages.

[bug]

[2020-07-24 20:55] MariaMendietaSpur commented on #2602
@jwiley84 Having the same issue. Tried deploying several bots from the python samples. Thanks for looking into it.

[2020-07-25 09:29] kemurayama commented on #2583
Hi @jwiley84

I managed to create resources by modifying `dependsOn` properties in 'template-with-new-rg.json' like below.
Tested on '02.echo-bot\deploymentTemplates\template-with-new-rg.json'.

[code]

[2020-07-26 04:00] twinkle-siyali opened #2620 "13.core-bot - The bot encountered an error or bug."
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues) / [Java](https://github.com/Microsoft/botbuilder-java/issues)/ [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for genera

[2020-07-26 10:40] Lili-fine opened #2621 "IncludeImage doesn't work in Microsoft Teams message action sample."
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues)

## Sample information
1. Sample type: Teams samples
2. Sample language: csharp_dotnetcore
3. Sample name: Messaging extensions - action

## Describe the bug
When choosing the 'Share Message' command in Microsoft Teams channels and choosing the 'Include image in Hero Card' toggle button,no image is included in the re

[2020-07-26 14:42] saikumaru opened #2623 "Please add documentation on retrieving user profile details from Alexa channel"
### Use this [query](https://github.com/Microsoft/botbuilder-samples/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++label%3Aenhancement) to search for the most popular feature requests.

**Is your feature request related to a problem? Please describe.**
Currently there is no documented way of retrieving User Profile from Alexa channel. The same is available for Teams channel.

**Describe the soluti

[2020-07-27 16:35] johnataylor opened #2625 "Generated code should not contain copyright headers"
The output code of the generators and the code ejected from Composer contain copyright headers. This is not correct, the generated code is produced by a tool we provide and is under the ownership of the user of the tool.

Note, for example, when you use the Add Controller feature in Visual Studio while constructing a web application the generated controller does not contain Microsoft copyright hea

[2020-07-27 18:07] EricDahlvang commented on #2621
Thank you for the PR!

[2020-07-27 22:17] #2621 closed

[2020-07-28 15:39] #2526 closed

[2020-07-28 18:14] EricDahlvang commented on #2588
@pchoudhari or @sahithikkss   could you please provide a status update for this issue.

[2020-07-28 18:42] pchoudhari commented on #2588
This is an internal reported issue. Will be picked up in the next sprint.

[2020-07-28 18:42] #2588 closed

[2020-07-28 19:15] BruceHaley opened #2631 "Test for and mitigate "InvalidTemplate" errors in Samples"
Beginning June 17th, virtually all ARM templates of the "new resource group" variety used in bot deployments have generated "InvalidTemplate - Deployment template validation failed" errors. They are typically named "template-with-new-rg.json".

The templates in the BotBuilder-Samples repo should be tested for that error. If they error, they present a pitfall for users attempting to deploy bots to

[2020-07-28 21:28] Kaiqb commented on #2625
Agree with you @johnataylor . Users should be able to use the code generated from various tools and use them to build sophisticated bot. Adding @cwhitten for composer.

[2020-07-28 22:00] #1728 closed

[2020-07-29 01:46] BruceHaley commented on #2493
All pipelines are complated. See them here: [https://fuselabs.visualstudio.com/SDK_v4/_build?_a=allDefinitions&path=%5CSamples%5CE2ETests%5C](https://fuselabs.visualstudio.com/SDK_v4/_build?_a=allDefinitions&path=%5CSamples%5CE2ETests%5C)

[2020-07-29 01:46] #2493 closed

[2020-07-29 01:46] BruceHaley commented on #2492
All pipelines are complated. See them here: [https://fuselabs.visualstudio.com/SDK_v4/_build?_a=allDefinitions&path=%5CSamples%5CE2ETests%5C](https://fuselabs.visualstudio.com/SDK_v4/_build?_a=allDefinitions&path=%5CSamples%5CE2ETests%5C)

[2020-07-29 01:46] #2492 closed

[2020-07-29 07:28] marcsand commented on #2602
@jwiley84 - any chance you have an update on this issue?  Thanks.

[2020-07-29 07:34] Wajeed-msft commented on #2602
@EricDahlvang - Could you please help with updates on this?

[2020-07-29 15:11] sgellock commented on #2602
@Wajeed-msft we'll put some additional eyes on it this morning and push it forward.

[2020-07-29 15:29] mdrichardson commented on #2602
@v-srkov

Based off the errors, it looks like you're deploying as a Docker container.

1. Does the bot work locally, without a Docker container?
2. Does the bot work locally, within a Docker container?

It's a bit tricky to set a bot up with Docker (especially the Python flavor), so I want to make sure it works locally, first.

Here's an example Python Dockerfile:

[code]

The start script, `start

[2020-07-29 15:33] jwiley84 commented on #2602
Apologies. I'm tracking a couple docker issues I  believe to be related. Thank you for your patience. I should have an answer by this afternoon.

[2020-07-29 17:40] EricDahlvang commented on #2620
@dmvtech would you look into this please?

[2020-07-29 18:00] dmvtech commented on #2620
@twinkle-siyali First thing I would like to check is to see which slot you published to and that you are using that in your config. Did you publish to the `Production `slot or `Staging `slot?

[2020-07-29 18:15] ankitjaingc opened #2634 "Operation returned an invalid status code 'BadRequest'"
Microsoft.Rest.HttpOperationException: Operation returned an invalid status code 'BadRequest'
   at Microsoft.Bot.Connector.OAuthClient.GetSignInResourceWithHttpMessagesAsync

[2020-07-29 18:17] ankitjaingc commented on #2634
Happening in Projects like AuthenticationBot, BotAuthenticationMSGraph etc

[2020-07-29 21:54] BruceHaley commented on #2631
This issue: [https://github.com/microsoft/BotFramework-FunctionalTests/pull/121/files](https://github.com/microsoft/BotFramework-FunctionalTests/pull/121/files) -- shows a template fix that could likely be used here.

[2020-07-30 13:30] bjoernross opened #2637 ".NET sample no. 15 (attachments) doesn't work on macOS"
## Sample information
1. Sample type: \samples\
2. Sample language: dotnetcore
3. Sample name: Handling attachments

## Describe the bug
.NET sample no. 15 doesn't work on macOS. Answering "1" or "3" to the welcome message, which should result in the display of an inline or uploaded attachment, respectively, results in the following error message:
```System.IO.FileNotFoundException: Could not find

[2020-07-30 17:38] BruceHaley opened #2639 "Move Samples E2E test pipelines secrets to Key Vault"

[2020-07-30 18:35] #2637 closed

[2020-07-30 18:35] EricDahlvang commented on #2637
@bjoernross  Thank you for the fix!

[2020-07-30 19:13] EricDahlvang commented on #2631
@dmvtech has verified dotnet sample 6 'template-with-new-rg.json' is broken, and the fix from functional tests fixes it.

[2020-07-30 19:29] mrivera-ms commented on #2631
**Background information:**

This error happens in the templates that use nested deployments, where the dependency is evaluated in the context of the outer template by default.  [More info here](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/linked-templates#expression-evaluation-scope-in-nested-templates) .

To change this behavior, a property `"expressionEvaluationOption

[2020-07-30 19:49] DMarcusYoung opened #2641 "Messaging extension search bot example getting UnhandledPromiseRejectionWarning: Error: BotFrameworkAdapter.processActivity(): 501 ERROR"
## Versions
What package version of the SDK are you using. 4.9.3
What nodejs version are you using v12
What os are you using Windows 10

## Describe the bug
Give a clear and concise description of what the bug is.

Error from processActivity causing 501 Error when trying to run the sample messaging extension search command.

## To Reproduce
Steps to reproduce the behavior:
1. Use this sample: [htt

[2020-07-30 22:55] tacri commented on #2599
Some longer time ago we were indeed sending the conversation update only on the first install of a bot in the personal scope. We changed the behavior in the meantime to send the event on each install. Unfortunately, there was a recent change which affected this scenario. The change was rolled back and should be deployed world wide by mid august.

[2020-07-31 17:59] anusharavindrar commented on #2634
@ankitjaingc, can you elaborate more on the steps as to when this error throws up? Does this error occur in any specific channel?

[2020-08-01 05:58] Chakradhar18 commented on #2634
I am also facing same issue. It comes when you are connected and type first message for oauth sample(46).  @anusharavindrar Can you check is it working?

[2020-08-03 01:56] masphei opened #2640 "Error on python sample 54: got multiple values for keyword argument 'type'"
## Describe the bug
I got error on fetching module while trying on this python sample codes
https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/python/54.teams-task-module

## To Reproduce
Steps to reproduce the behavior:
1. python app.py in python sample code number 54
2. Say something to the Bot
3. Click "Adaptive Card" on the Bot response
4. See error

## Expected behavior
It sh

[2020-08-03 18:05] anusharavindrar commented on #2634
@ankitjaingc, I tested both AuthenticationBot and BotAuthenticationMSGraph samples on the Emulator as well on different channels on Azure and it works as expected without any issues.

- **BotAuthenticationMSGraph sample**

![image](https://user-images.githubusercontent.com/48731427/89212057-ac7e3c00-d577-11ea-89ed-82501b6eb8d9.png)

- **AuthenticationBot sample**

![image](https://user-images.gith

[2020-08-03 18:11] daveta commented on #2582
@stevkan : Is there an updated status on this?

[2020-08-03 20:08] anusharavindrar commented on #2634
@Chakradhar18, I tested the teams-auth sample as well and it also works as expected for me.
![image](https://user-images.githubusercontent.com/48731427/89222402-d6405e80-d589-11ea-898d-58884b684b9d.png)

Do you get the error when you try to sign in or when you type any message? Can you share some screenshots? Did you try setting any breakpoints in your code to see where it throws up any error?

[2020-08-03 20:36] jwiley84 commented on #2641
Hi @DMarcusYoung Handful of troubleshooting steps:
-  Can you confirm whether or not your bot is deployed or local? I'm assuming local, given the ngrok.
 - Can you double check that the appid/password match between your .env file and what's on Azure?
- Can you double check that your ngrok address matches what you have for the messaging endpoint on your bot channels registration?
- Can you double c

[2020-08-03 21:30] cleemullins commented on #2599
@madhvimit123 Based on the rollout date of mid-august, I'm closing this out now. If the issue persists past that time period, please re-open this issue.

[2020-08-03 21:30] #2599 closed

[2020-08-03 21:58] #2498 closed

[2020-08-03 22:00] cleemullins commented on #2501
per @tacri this is still blocked. ETA in ~Sept 2020.

[2020-08-03 22:04] JonathanFingold commented on #2420
Still an issue. The page says this:

While the installer says this:

(I have both VS 2017 and 2019 installed.)

[2020-08-04 00:26] v-kydela commented on #2631
@BruceHaley
@mrivera-ms

Has anyone been able to determine why this started happening on June 17th? Is it because of a specific change in Azure?

[2020-08-04 00:37] mrivera-ms commented on #2631
We don't have any information about the change that triggered this issue. None of the teams we have talked to has acknowledged any changes.

[2020-08-04 03:54] wendingp opened #2643 "14.nlp-with-dispatch: Weather.json cannot be imported to LUIS"
When I import Weather.json, I got imported failed:

[2020-08-04 16:11] jwiley84 commented on #2640
Thank you for reporting this! I'll dig down into it today and get an answer for your and a fix for the sample!

[2020-08-04 16:22] jwiley84 commented on #2602
For tracking purposes: conversation concerning this ticket was taken to Teams. Will update when concluded there.

[2020-08-04 17:56] stevkan commented on #2582
@HebatallaTarek, thank you for your patience. I am having some difficulty in repro'ing this issue, however, I am also having a slight issue with Ubuntu. I am continuing to work on this and will keep you updated.

In the mean time, could you verify that this is still an issue for you? Also, a bit of a side question: Are you running this in a pure Linux environment, in a Docker image, VM, or somethi

[2020-08-05 00:22] v-kydela commented on #2631
Here is an update on my progress. I've reproduced the error and I've reproduced the fix. I'm currently gathering data to determine the fastest way to fix the problem for all the ARM templates in all the samples in all the languages.

I have determined that the ARM templates are not specific to the samples they're bundled with. The preexisting RG templates just provision an app service plan, an app

[2020-08-05 03:38] mrivera-ms commented on #2631
@v-kydela This is great progress, Kyle. Can you elaborate on the idea of a centralized location?

[2020-08-05 04:35] MariaMendietaSpur opened #2645 ""Unable to reach app. Please try again." When implementing sample 54 task module as a bot skill"
🚨 The issue tracker is not for questions 🚨

If you have a question, please ask it on https://stackoverflow.com/questions/tagged/botframework

[question]

I'm implementing sample #54 Teams Task Module as a skill as shown in sample 80.skills-simple-bot-to-bot. I'm using the simple-root-bot in sample 80 to consume the Teams Task Module skill. When I install the root bot app in teams I get this error

[2020-08-05 16:54] v-kydela commented on #2631
@mrivera-ms - Yes, I'm going to delete most of the DeploymentTemplates folders so it's clear that they don't represent their own unique templates. Right now the plan is to have a DeploymentTemplates folder in the root folder for each language, and only have a DeploymentTemplates folder in individual samples if I find unique ones. I'm also considering going up a level further and having a shared fo

[2020-08-05 17:04] jwiley84 commented on #2645
If there's an error on Teams, there'll be a matching error somewhere in your code. Can you post the error your code is kicking out? In the meantime, I'll try to repro this, see what's going on.

[2020-08-05 17:07] jwiley84 commented on #2583
Hi @kemurayama There is potential fix in the work right now, and hopefully should be cut soon. Thank you for your patience in this!

[2020-08-05 18:31] anusharavindrar commented on #2643
@wendingp, I could repro the issue. The problem is due to the missing **luis_schema_version**  in the Weather.json file.  The workaround is to add **"luis_schema_version": "3.2.0"** in the Weather.json file. Please try adding this line in the Weather.json and save it and try importing it again, it will be successfully imported without any errors.

![image](https://user-images.githubusercontent.com

[2020-08-05 18:38] chrimc62 opened #2648 "Simplify generated prompts"
Today the generated prompts are componentized and make use of library functions.  This makes them harder to understand/modify.  To simplify this, we will move runtime logic into generation.

Before:
[code]

After:
[code]

To do this we will add a promptWithHelp template to generator.lg and use that within the templates.  Similarly for min/max numbers we will figure out which prompt to use at gener

[2020-08-05 18:49] anusharavindrar opened #2649 "14.nlp-with-dispatch: luis_schema_version missing in Weather.json"
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) / [JS](https://github.com/Microsoft/botbuilder-js/issues)

## Sample information
1. Sample type: [samples]
2. Sample language: [dotnetcore & nodejs]
3. Sample name: 14.nlp-with-dispatch

## Describe the bug
The Weather.json file in the CognitiveModels folder does not contain the luis_schema_version and hence is throw

[2020-08-05 20:00] MariaMendietaSpur commented on #2645
Thank you so much @jwiley84 I tried to look at the error in the code but I can't find the logs of the App Service. I'm probably looking in the wrong place. I enabled all logs in the App Insights. When I got to the Apps Insights page in Azur I can see the activity of the bot but it doesn't report any Failures. Any clues on how or where to see activity logs to find the error code?

[2020-08-05 20:10] #2605 closed

[2020-08-05 20:46] MariaMendietaSpur commented on #2645
Hi @jwiley84  this is the error code I get:

`2020-08-05T19:26:28.301Z Err	Unhandled exception. Error: Unable to reach app. Please try again., cause: , stack: new t@https://statics.teams.cdn.office.net/hashedjs/3.2-app.min-7699799.js:3:201585 > {anonymous}()@https://statics.teams.cdn.office.net/hashedjs/3.2-app.min-7699799.js:3:207762 > f@https://statics.teams.cdn.office.net/hashedjs/0-angular-jqu

[2020-08-05 21:02] mrivera-ms commented on #2301
@emgrol , any updates on this?

[2020-08-05 21:10] clearab commented on #2651
Add to existing auth sample, with SSO specific manifest.

[2020-08-05 21:15] jwiley84 commented on #2645
Perfect. Let me dig into that and see what's coming up. Usually 502s on Teams based bots mean something is funny with the manifest.json. It might be that the skill needs it's own manifest.json.

[2020-08-05 21:26] BruceHaley commented on #2639
Done. Key vault name = SdkSamplesE2ETests.

[2020-08-05 21:26] #2639 closed

[2020-08-05 23:09] clearab commented on #2651
Updating this item to reflect entire sample/doc creation in the experimental folder (to be migrated over the top of the existing Teams auth sample once SSO is GA).

[2020-08-06 00:55] v-kydela commented on #2631
I've eliminated over 200 template files and now there are about 100 remaining for me to check (50 pairs, since I'm checking both the new-rg and preexisting-rg templates). I've made it so that they all add the Teams channel and all the C# templates enable WebSockets. I'm unsure why none of the templates in the JS samples enabled WebSockets but they didn't so I just left them that way. There seems t

[2020-08-06 03:52] EricDahlvang opened #2652 "Demonstrate InstallationUpdate in one or more Teams samples"
See rollup issue: https://github.com/microsoft/botframework-sdk/issues/5959

[enhancement]

[2020-08-06 05:04] #2643 closed

[2020-08-06 05:13] mrivera-ms commented on #2631
@v-kydela , thanks for the analysis. I ask you to wait before making these changes until we can confirm this is approved by the team.

[2020-08-06 17:44] v-kydela commented on #2631
@mrivera-ms - If the team is going to make a decision about the best way to fix this then there's something else I want to bring up as a possibility.

The readmes in the samples all explain how to deploy by simply linking to this doc: https://aka.ms/azuredeployment

I'm written before about how there are many ways to deploy a bot, and deployment is an ambiguous term anyway. I think it's unfortunat

[2020-08-06 20:02] #2510 closed

[2020-08-06 22:13] chrimc62 opened #2654 "dialog:generate --merge does not handle edge cases"
Repo1:
1) mkdir foo
2) bf dialog:generate test.schema -o foo --merge
You will get an error because it cannot handle a present but empty output directory.

Repo2:
1) bf dialog:generate test.schema --merge
You will get an error "no such file or directory, open 'C:\Users\chrim\AppData\Local\Temp\tempOld\test.json'".  The issue is that the .schema file is in the output directory.

Generally speaking,

[2020-08-07 10:02] ravikant15796 opened #2656 "Customise header and control options in Teams - Task Module"
**Sample information**

teams-task-module
Node JS
Bot Framework

**Is your feature request related to a problem? Please describe.**
1. There should be options in task module to change position of header icon and text. currently by default task module showing these in top left.

2. I want show hand icon on hovering over play/pause icon, Progress bar, Mute/ unmute, Full Screen and download while pla

[2020-08-07 18:13] daveta commented on #2656
Hi @clearab : Can you take a look?

[2020-08-07 18:16] anusharavindrar commented on #2634
@ankitjaingc & @Chakradhar18, any update on the above queries? Are you still facing issues with the authentication samples?

[2020-08-07 18:43] clearab commented on #2656
Hi - thank you very much for the feedback. Microsoft Teams accepts feature requests through the User Voice platform which you can find here: https://microsoftteams.uservoice.com/forums/555103-public/filters/new. If you'd like to reach out to the Teams group directly to speak with them, you can do so in one of the methods outlined here: https://docs.microsoft.com/en-us/microsoftteams/platform/feedb

[2020-08-07 18:43] #2656 closed

[2020-08-07 19:32] robin-liao commented on #2656
For the Ask#2, it looks like the media player is on a webpage. So it should have full control of CSS style including cursor pointer.

[2020-08-07 20:04] VinaiMeyyappan opened #2657 "dialog:generate - Missing template generic.lu"
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues) / [Java](https://github.com/Microsoft/botbuilder-java/issues)/ [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for genera

[2020-08-07 22:12] HebatallaTarek commented on #2582
@stevKan sorry to hear that but  yes it's still not working ,  i am working on Ubuntu 16.04

[2020-08-08 19:41] HobbyProjects opened #2658 "experimental/sso-with-skills Sample Does not handle the Invoke Activity from OAuth Prompt"
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues) / [Java](https://github.com/Microsoft/botbuilder-java/issues)/ [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for genera

[2020-08-10 11:36] kittu610 opened #2662 "Bot is bit confused to capture the user's intention"
Hi,

I have enabled email channel in azure and deployed  bot in azure.

the bot is bit confused to capture the users intention

For example:- If user sent a mail to bot like
![image](https://user-images.githubusercontent.com/49742373/89777770-f774f200-db29-11ea-9ad4-ff1709452cb5.png)

The bot need to capture "what can you do" and need to send a reply but bot is capturing
"HI Bot.\r\n\r\n\r\n\r\nWh

[2020-08-10 16:53] emgrol commented on #2301
@mrivera-ms I added a fix for this issue in https://github.com/MicrosoftDocs/bot-docs-pr/pull/2268. The PR will be merged today.

[2020-08-10 16:55] anusharavindrar commented on #2634
Closing the issue due to lack of response. Please feel free to reopen if the issue persists.

[2020-08-10 16:55] #2634 closed

[2020-08-10 17:18] Zerryth commented on #2662
@kittu610 , you must simply add your own  custom business logic to parse the data that you are sending over to LUIS.
Additionally LUIS does provide NLP, however on its own it is not the right tool to use in an email conversation.

___

* LUIS is designed to parse intentions from a succinct utterance--it is not a tool for document summarization, and can't parse from a large block of text--especiall

[2020-08-10 17:18] #2662 closed

[2020-08-10 17:29] jwiley84 commented on #2640
Just wanted to give a heads up for tracking. I was able to repro this, and I'm working on figuring  out the root cause this morning! Thank you for your patience!

[2020-08-10 17:49] jwiley84 commented on #2645
Hi @MariaMendietaSpur Just wanted to let you know I haven't forgotten this issue. I'm having some difficulty getting the two (root and skill) to connect. I'm still working on this.

[2020-08-10 18:20] carlosscastro commented on #2620
Closing due to inactivity. Please feel to reactivate as needed.

[2020-08-10 18:20] #2620 closed

[2020-08-10 18:25] jwiley84 commented on #2645
@MariaMendietaSpur Can you post your task module bot file? (ie TeamsTaskModule.cs or TeamsTaskModule.js)

[2020-08-10 19:36] MariaMendietaSpur commented on #2645
@jwiley84  we made it work. Not sure exactly what was the problem, we started over and tried different things and it worked.

`// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License.

using System.Collections.Generic;
using System.IO;
using System.Linq;
using System.Threading;
using System.Threading.Tasks;
using AdaptiveCards;
using Microsoft.Bot.Builder;
us

[2020-08-10 19:37] jwiley84 commented on #2645
I'm very glad you got it to work! Thank you for the update. I'm going to keep this open until I can repro the issue and then solve it, so that future devs can learn from the knowledge.

[2020-08-10 19:51] DMarcusYoung commented on #2641
Yes it's local, all of the app id and address stuff match. I have working action commands that perform perfectly, and a basic conversation bot, so it's definitely not that.

[2020-08-10 20:02] jwiley84 commented on #2641
Can you post your manifest.json with the appid redacted?

[2020-08-10 20:08] DMarcusYoung commented on #2641
{
    "$schema": "https://developer.microsoft.com/en-us/json-schemas/teams/v1.7/MicrosoftTeams.schema.json",
    "manifestVersion": "1.7",
    "version": "1.0.14",
    "id": My app Id,
    "packageName": "com.kloud.devapp",
    "developer": {
        "name": "Kloud",
        "websiteUrl": "https://kloud.com",
        "privacyUrl": "https://techexcel.com/privacy-statement/",
        "termsOfUseUrl"

[2020-08-11 00:37] VinaiMeyyappan opened #2663 "dialog:generate - datetime schema does not handle ambiguous time and date"
### Use this [query](https://github.com/Microsoft/botbuilder-samples/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++label%3Aenhancement) to search for the most popular feature requests.

**Is your feature request related to a problem? Please describe.**
When prompting for date and time, sometimes the user input may be ambiguous. For example, the user may enter 2 o'clock.  The resultant timex entity

[2020-08-11 05:22] srinutamada commented on #2662
Hi @Zerryth
When I use outlook as channel, is there any way to ignore end user's signature or disclaimer if email content has? As per my understanding, outlook channel supposed to differentiate user's content from signature & disclaimers. Let me know if its not possible and we have to write our own logic for the same.

[2020-08-11 11:35] rajeshyalamarthi opened #2664 "Microsoft Bot framework webchat speech recognition dynamically set the language code"
i am looking for  how to set  language code dynamically in the webchat , based on user speaking language.

I tried this

      window.WebChat.renderWebChat(
          {
            directLine: window.WebChat.createDirectLine({
			secret : "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
			}),
			styleOptions: {
		hideUploadButton: true,
		botAvatarInitials: 'Bot'
	},
	selectVoice: (voices, activi

[2020-08-11 12:22] ravikant15796 opened #2665 "Teams - Task Module not working in some mobile devices"
## Sample information
teams-task-module
Node JS
Bot Framework

## Describe the bug
I am trying  play some video content inside a teams bot using task module. it works fine in desktop but in some Mobile devices it showing error "Failed to load webview".

##Error Screenshot :-
![taskModule_mobile_error](https://user-images.githubusercontent.com/10558023/89895226-10000d80-dbf9-11ea-8e7e-3e733c28faa9.

[2020-08-11 16:41] jwiley84 commented on #2658
@dmvtech +Dana

[2020-08-11 16:53] Zerryth commented on #2662
@srinutamada with certainty the Bot Framework SDK and Azure Bot Service in the Azure Portal *do not* have an already built-in API that you could call to ignore greeting/signature, unfortunately.

Continuing the conversation on the [StackOverflow post ](https://stackoverflow.com/questions/63351769/bot-is-bit-confused-to-capture-the-users-intention)that kittu610 opened regarding this topic, as this

[2020-08-11 17:37] stevkan commented on #2664
@rajeshyalamarthi, I see you have a duplicate Stack Overflow question [here](https://stackoverflow.com/questions/63357204). Per the below, as this is a **how to** question, I am closing it and will assist in SO.

--------------

The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot F

[2020-08-11 17:37] #2664 closed

[2020-08-11 18:17] carlosscastro commented on #2663
@johnataylor Could you please take a look at this?

[2020-08-11 19:28] clearab commented on #2665
Hi - I'm going to move this to the Teams support repository so that they can address this directly. Please see: https://github.com/MicrosoftDocs/msteams-docs/issues/1969

[2020-08-11 19:28] #2665 closed

[2020-08-11 20:40] mrivera-ms commented on #2301
@emgrol , thanks, Emily. The link appears to be broken. Is the PR merged?

[2020-08-11 21:35] arturl opened #2668 "Class AdaptiveCardConverterMiddleware must be part of the Microsoft.Botframework.AdaptiveCards.Converter library"
https://github.com/microsoft/BotBuilder-Samples/blob/80625b6f7ea95198ed0dbf9a643272cca95ddbef/experimental/ac-converter/bots/csharp_dotnetcore/AdaptiveCardsBot/Middleware/AdaptiveCardConverterMiddleware.cs#L20

As a user of the converter, I should not have to write this boiler-plate code.

[2020-08-12 15:53] jwiley84 commented on #2640
Note for self: this is also occurring in the sample 53 (Teams Messaging Extension Action Preview)

[2020-08-12 18:16] jwiley84 commented on #2657
Thank you for the heads up, I'll take a look and get this fixed.

[2020-08-12 23:55] #2654 closed

[2020-08-13 20:47] EricDahlvang commented on #1258
Closing this, since the Conversation History story for Direct Line needs to be prioritized and designed 'all up'.

[2020-08-13 20:47] #1258 closed

[2020-08-13 21:00] dmvtech commented on #2658
I'm checking to see if I can simply reproduce.

[2020-08-13 21:15] DMarcusYoung commented on #2641
Any updates? @jwiley84

[2020-08-13 21:51] #1396 closed

[2020-08-13 21:52] #1954 closed

[2020-08-13 22:01] johnataylor commented on #2663
Could you be clear about the context? Specifically, what do you mean when you say "generated code?"

There is a package (in .NET and JavaScript) and a sample here: https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/40.timex-resolution

(and the corresponding in JavaScript)

This illustrates how, in code, you can apply constraints to the TIMEX expression to resolv

[2020-08-13 22:54] jwiley84 commented on #2641
I have a feeling that you have something in your manifest that is conflicting with the search function, but given the length of the file will take me a hot minute to find out what it is. Thank you for your patience.

[2020-08-13 23:11] emgrol commented on #2301
@mrivera-ms Here's the link again: https://github.com/MicrosoftDocs/bot-docs-pr/pull/2268. The PR was just merged.

[2020-08-14 14:02] #2649 closed

[2020-08-14 18:15] peterinnesmsft commented on #2657
@jwiley84 any updates on this?

[2020-08-17 18:04] jwiley84 commented on #2641
So far, nothing I've seen is conflicting in your manifest. Can I see your main bot, where the you handle the messaging extension query? (in the sample, it's teamsmessagingextensionsearchbot.js)

[2020-08-17 20:00] jwiley84 commented on #2657
@VinaiMeyyappan My apologies for dropping the ball on this and not getting back to you faster.

Your test schema has `"type": "boolean"` which is what's kicking back this error. Per the documentation:

I agree that this error is not exactly illuminating, and I'll reach out to the cli code owners to try for a more clear one.

[2020-08-17 20:00] #2657 closed

[2020-08-17 20:20] jwiley84 commented on #2640
Further notes: For sample 54, this only occurs when using `py app.py` in a command line for startup, but does not occur when starting up the sample using VSCode

[2020-08-18 04:49] dmvtech commented on #2658
Still working on repro. Hitting some speedbumps getting it all set up.

[2020-08-18 10:26] xhr0804 opened #2675 "bf dialog:generate:test can not support user activity with value"
##Describe the bug
I just want to use the bf dialog:generate:test to convert my transcript to test.dialog. And the transcript contains an activity with a 'Value' type in it.
See below:
I just click "add item", and receive a message with 'value' field and without 'text' field.
![image](https://user-images.githubusercontent.com/44257569/90502253-1ace1b80-e180-11ea-8cf6-eca18837b866.png)
And the tool

[2020-08-18 16:30] jwiley84 commented on #2640
My VSC was pulling from local files I'd forgotten about.

This does not occur in 4.8.0, but does occur with the 4.9.0 and 4.10.0 packages.

[2020-08-18 17:09] jwiley84 commented on #2640
@masphei Thank you for your patience on this. Now that I've narrowed it down a bit, I need to to a bit more digging to try to track down where this is coming from, and get a fix out soon.

[2020-08-19 08:14] xhr0804 opened #2678 "bf dialog:generate:test add Assertion for Adaptive Card issue"
## Describe the bug
The bf dialog:generate:test tool convert the activity.Attachments like AdaptiveCard by splicing the paths in the json format, but this will sometimes cause issue.

This is a sample serialized string of an adaptive card

      {
        "contentType": "application/vnd.microsoft.card.adaptive",
        "content": {
          "type": "AdaptiveCard",
          "$schema": "http://ad

[2020-08-19 15:06] madhvimit123 commented on #2599
@tacri the issue isn't reolved yet. This function is not getting triggered for personal scope on every installation.

[2020-08-19 15:08] madhvimit123 commented on #2599
@EricDahlvang Is the InstallationUpdate up for use?

[2020-08-19 17:17] scheyal opened #2680 "Website-to-Bot ASP.NET SSO sample in Experimental"
Similar to Teams request, we hit customer request for this as well.

Currently, Eric crafted a sample in his repo.

"We have asked the Product Group team to provide as a Website-to-Bot ASP.NET SSO sample and they provided us with the following information:"
...One of the PG members created the following sample: https://github.com/EricDahlvang/WebChatSSO

[2020-08-19 17:52] stevengum opened #2681 "Use consistent StyleCop configuration across .NET samples"
_Originally posted by @stevengum in https://github.com/microsoft/BotBuilder-Samples/pull/2674_

_Originally posted by @vishwacsena in https://github.com/microsoft/BotBuilder-Samples/pull/2674_

[2020-08-19 17:55] stevkan commented on #2582
@HebatallaTarek, thank you for your continued patience. I'm still working on trying to repro and identify the cause. I hope to have an update to you soon. I will keep you posted.

[2020-08-19 18:22] peterinnesmsft commented on #2602
@jwiley84 assuming we can close based on yesterday's conversation. Reactivate if this still needs to be addressed.

[2020-08-19 18:22] #2602 closed

[2020-08-19 20:50] v-kydela commented on #2631
@mrivera-ms - Is this issue still on hold? Should it remain open?

[2020-08-20 04:35] VinaiMeyyappan commented on #2663
use this schema file

`{
    "$schema": "http://json-schema.org/draft-07/schema",
    "type": "object",
    "properties": {
        "ReadingDate": {
            "type": "string",
            "format": "date"
        },
        "ReadingTime": {
            "type": "string",
            "format": "time"
        }
    },
     "required": [
        "ReadingDate",
        "ReadingTime"
    ]
}
`
use th

[2020-08-20 04:46] VinaiMeyyappan commented on #2657
Take a look at the [standard schema](https://github.com/microsoft/BotBuilder-Samples/blob/master/experimental/generation/generator/packages/library/templates/standard/standard.schema) file

` "CancelConfirmation": {
            "type": "**boolean**",
            "$entities": [
                "boolean"
            ],`

boolean is a valid type. Is the documentation out of date?

[2020-08-20 19:23] ZeeshanFastian commented on #1740
I added token.botframework.com in ValidDomains but it is still not working :( Any Suggestions?

[2020-08-21 03:43] EricDahlvang commented on #1740
Hi @ZeeshanFastian

This is a closed issue, and closed issues ade not actively monitored. Please either open a new issue, or ask a question on Stack Overflow using the Bot Framework tag. It would be helpful to post detailed information about what is not working. Any errors in the bot or client?

Also please try updating to the latest sdk, and see if the Teams Auth sample works then.

[2020-08-24 18:04] chrimc62 opened #2694 "Samples should include SetTestOptionsMiddleware"
A convenient way to generate a test is to generate a transcript using the emulator and then turn that transcript into a test script. The issue is that randomness in bots makes it impossible to replay a transcript. In order to fix this, the SDK has:

Defined SetTestOptionsMiddleware in Adaptive.Testing to pick up a SetTestOptions custom event and copy the payload into conversation.testOptions. We m

[2020-08-25 18:00] divurgentuser commented on #2583
@jwiley84  any update?

[2020-08-25 21:55] mrivera-ms commented on #2631
@v-kydela , let's go ahead and fix the templates and not make any changes to the folder structure. The team has concerns about how that change affects the customers, so we will not make that change at this point. Thank you.

[2020-08-25 21:57] jwiley84 commented on #2583
Thank you for your patience. They're testing the new ARM templates, and a fix should be out soon.

https://github.com/microsoft/BotBuilder-Samples/issues/2631

[2020-08-25 21:58] arturl commented on #2668
Carlos convinced me to keep it in the sample for now.

[2020-08-25 21:58] #2668 closed

[2020-08-26 00:10] chrimc62 opened #2698 "Make help better and easier to improve"
There should be 2 kinds of help that trigger off of Operation=Help()
1) Global help trigger. This is the help called when someone does "help".  It should provide help on all of the operations (add, remove, clear, show, help, cancel) and properties available, but does not need to list property specific values from enums.
2) Per property help trigger.  This is help called when someone does "help bre

[2020-08-26 09:00] madhvimit123 opened #2699 "Getting "Something went wrong. Please try again" on clicking task/fetch button for opening modal"
![image](https://user-images.githubusercontent.com/40298759/91283339-1ae5a100-e7a8-11ea-8941-7fa20b9ecdcb.png)

On inspect console, it is throwing this error -
![image](https://user-images.githubusercontent.com/40298759/91283460-423c6e00-e7a8-11ea-8711-115fe1235dc6.png)

Same thing is working for other accounts except for mine. On clicking this, it will open a modal in which we need to provide som

[2020-08-26 17:58] stevkan commented on #2582
@HebatallaTarek, I appreciate your continued patience while I work on this. Despite several issues I've had to work around, I hope to have a response back to you today or tomorrow.

[2020-08-26 19:47] Josverl commented on #2640
I'm running into the same issue in .45 the task module.

it looks like the offending line is :
[code]
which does not match the function parameter definition as I read it, ( but note that VSCode's Intellisense does not resolve the function definition either, so there appears to be a secondary issue here as well )

the functions is defined as :
[code]
Error:

I think that the **kwargs lead to a dupl

[2020-08-26 20:30] HebatallaTarek commented on #2582
Sounds Great , Thanks a lot @stevkan  for your efforts to support

[2020-08-26 20:37] stevkan commented on #2582
@

@HebatallaTarek, I have asked a colleague of mine, @dmvtech, to assist on this. I thought I was in a good place, but Ubuntu continues to present issues for me which is taking away from help being provided to you on the actual issue.

He will reach out with any additional questions, otherwise expect him to continue to research the issue.

[2020-08-26 23:07] stevkan commented on #2699
@madhvimit123, was this previously working and only recently stopped (and when?)? Or, are you trying to build this as new into your bot and isn't working?

Could you also please post your `manifest.json` and the code you are using for the task module?

Lastly, which SDK and version are you using? If it was previously working, did it stop as a result of the change in SDK?

[2020-08-27 03:46] v-kydela commented on #2631
@mrivera-ms - Well it may take a bit longer this way but I'll do my best. I'm working on a way to automate the process so I can test and fix everything as quickly as possible.

[2020-08-27 13:56] madhvimit123 commented on #2699
It was working fine before. I have used this feature from approx 3-4 months. Yesterday, it stopped working suddenly. I am using v4 and botbuilder. I have not updated my SDK.

manifest.json -

[2020-08-27 23:29] dmvtech commented on #2582
I might have a repro, or am close to one. When you say you got that error in the **console**, do you mean the Visual Studio Code console? (and was it in `Problems`, `Output`, `Debug Console` or `Terminal` tab?)

I recieved this in the Terminal tab:
[code]

I am investigating.

Also, did you receive the "Sorry, something went wrong" message only or did you also get the following message: "To run th

[2020-08-28 01:30] BruceHaley commented on #2631
@v-kydela, while you are thinking about how to normalize and simplify ARM templates, consider that offering both a "preexisting rg" template and a "new rg" template is redundant, since deploying a bot can be done either way. It would simplify matters to delete one of them everywhere and just offer the other. Southworks put both in originally, and no one questioned it at the time. This PR shows yam

[2020-08-28 22:07] stevkan commented on #2699
@madhvimit123, looking at your manifest.json, I see two issues though I don't know if either will fix your current problem (without you testing).

First, the `scopes` you list for your bot don't match the `scopes` you list under the `commandLists`. Looking at this [sample](https://github.com/microsoft/BotBuilder-Samples/blob/main/samples/javascript_nodejs/57.teams-conversation-bot/teamsAppManifest

[2020-08-29 00:37] HebatallaTarek commented on #2582
@dmvtech  Thanks for you response  , it was in Terminal Tab
No i only received sorry something went wrong in emulator

[2020-08-31 11:23] LindaLawton commented on #1974
Solution to this was that you can not create it though the UI you need to do it all though the CLI.  Something in the UI must be broken that it does not properly create things in the backend as soon as you do it though the CLI it all worked.

[2020-08-31 19:02] pavolum commented on #2658
@dmvtech any update on this?

[2020-08-31 19:11] johnataylor commented on #2663
This sounds like a great suggestion. @chrimc62 maybe you can comment.

[2020-08-31 20:47] chrimc62 commented on #2663
It is great you are experimenting with generated dialogs and I would love to hear your scenario and get feedback.  We continue to improve the templates and better support for date time is on the roadmap.  If you have built some dialogs for handling situations like this, I would be happy to work with you to get this added into our templates.  Our current focus is on making the generated assets easi

[2020-09-01 17:46] jwiley84 commented on #2641
Closing for lack of response.

[2020-09-01 17:46] #2641 closed

[2020-09-01 19:08] EricDahlvang opened #2709 "Use dialogHelper.runDialog in javascript samples containing dialogs"
Javascript samples and this document ( https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-dialog-manage-conversation-flow?view=azure-bot-service-4.0&tabs=javascript#create-the-main-dialog ) currently demonstrate creating a run method when using dialogs.  The sdk has a `dialogHelper.runDialog` method with this same code (as well as code specific to skills).

**Describe the solution you'

[2020-09-02 00:23] chrimc62 opened #2711 "Enhance adaptive tools to support outlining for .lg/.lu"
It would be really nice in .lu/.lg/.qna files to have a way of doing outlining on complex files.  Normally in markdown you could use number of #, but I suspect for our purposes making using of the > comments would be better.  A normal comment would have one > and an "outlining" one would have two or more >.

So for example:
[code]

I would be able to collapse ">> Dialog Templates" and see only tha

[2020-09-02 00:35] v-kydela commented on #2631
Here is the tool I made to fix the templates: https://github.com/v-kydela/TemplateFixer

Most of the templates have already been fixed successfully using Bruce's fix, so I expect to be making a PR tomorrow. I'm noticing that there's a LinuxDotNet folder in samples 2 and 13 which contains a new-rg template that doesn't match the parameters of the other templates and therefore can't be used with the

[2020-09-02 01:31] boydc2014 opened #2714 "Refine adaptive-tools docs"
Before shipping adaptive-tools to VSCode marketplace.  We need to refine the readme page.

https://github.com/microsoft/BotBuilder-Samples/blob/main/experimental/adaptive-tool/README.md

Current issues
* The links to gif is broken, we need to make sure it works after publishing and before publishing (in github)
* Lots of casing issues and typos
* We are missing some general introduction\summary of

[2020-09-02 16:10] #2533 closed

[2020-09-02 19:11] dmvtech commented on #2658
Still working on it. Having some issues on Teams (my own issues). I hope to have an better update by the end of the day.

[2020-09-03 00:38] boydc2014 opened #2717 "Update the lg\lu parser to latest in adaptive-tools"
We need to update the lg\lu parser to latest to make sure we have consistent experience in VSCode and SDK and Composer.

[2020-09-03 15:57] jwiley84 commented on #2640
Thank you for these PRs. I'll reach out the the Python code owner today to get them reviewed soon.

[2020-09-04 05:18] dmvtech commented on #2658
I can reproduce this, but I wonder if we want to consider this a bug. I know that with _samples_, we try and be as narrow as possible in the completeness of the sample/example. As we already have an example on how to do Teams auth (That _does_ handle the Invoke Activity), that whether that needs to be added to this sample (for the sake of thoroughness) or not. Not every sample should work in every

[2020-09-04 12:13] vsr559 opened #2720 "Microsoft"
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues) / [Java](https://github.com/Microsoft/botbuilder-java/issues)/ [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for genera

[2020-09-04 16:28] #2720 closed

[2020-09-07 15:56] rajeshyalamarthi opened #2722 "Getting Cost of An Azure resource using Azure Rest Api"
Hi,

Here I'm looking for an Azure rest API where I can pass the location, type, and pricing tier of an azure resource and get the Monthly cost of that particular azure service as a Response. Actually I tried for different rest API's but there I need to pass billing account, billing id, etc.. in order to get the cost. But I'm not looking for that scenario. I want to pass Location, Tier, Type of se

[2020-09-08 12:09] jwiersem commented on #1772
You need to follow these steps when you have added scope 'groupchat' in the manifest. Possibly you have to fully install and enable the Bot instead of manually uploading each time.

Then:
Create a meeting, and start a chat in the meeting.
Type @ and select Get Bots
Click Manage Apps
Click More Apps
Find your bot under category 'Bots'
Click dropdown, then Add to chat
Your meetingchat will now be pr

[2020-09-08 15:42] jwiley84 commented on #2722
Hi @rajeshyalamarthi

This repo is for reporting bugs or features for the Bot Framework samples. The Bot Framework team prefers that **How-To** questions be asked on [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) and tagged with the 'botframework' tag. I'm going to close this issue, as it does not pertain to the above.

That  being said, you might be able to use https://

[2020-09-08 15:42] #2722 closed

[2020-09-08 16:54] Doppon opened #2724 "Node.js sample no. 03.welcome-users: Doesn't work( get "Error: Unauthorized" )"
## Describe the bug
When run the app, it get Unauthorized Error.

## To Reproduce
Steps to reproduce the behavior:
1. read the README.md and do that.

## Screenshots
If applicable, add screenshots to help explain your problem.

![スクリーンショット_2020-09-09_1_49_47](https://user-images.githubusercontent.com/27806269/92505460-148f0480-f23f-11ea-8cd8-4edce5a86438.png)

## Additional context
There are typo

[2020-09-09 18:16] GeoffCoxMSFT commented on #2699
Closing due to inactivity

[2020-09-09 18:16] #2699 closed

[2020-09-09 18:30] GeoffCoxMSFT commented on #2658
@swagatmishra2007 - can you take a look at this?

[2020-09-10 14:31] managedcoder opened #2727 "qnamaker-prompting has broken links in Readme that should be pointing to new location"
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues) / [Java](https://github.com/Microsoft/botbuilder-java/issues)/ [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for genera

[2020-09-10 16:47] BruceHaley opened #2728 "Add a second "create resources" step to each Samples functional test build"
Currently the Samples functional test builds only exercise one of the two ARM templates for each sample.
E.g. the new-rg templates Kyle is fixing are not exercised. PR #2716

Suggest adding a second "create resources" step to each build so that both templates are exercised.

[2020-09-10 17:51] dmvtech commented on #2582
Thanks @HebatallaTarek I'm investigating and will send update asap.

[2020-09-10 18:14] jwiley84 commented on #2724
Hi @Doppon Thank you for pointing this out! We'll get it corrected today.

[2020-09-11 00:22] #2724 closed

[2020-09-11 15:33] gabog commented on #2323
Hi @clearab, do we still need this? or should it be covered by the VA template that uses dispatcher and skills?

[2020-09-11 15:35] gabog commented on #2204
@axelsrz. @stevengum, what do we need to decide if we take this in R11 or not?

[2020-09-11 15:43] gabog commented on #2187
Hi @EricDahlvang, does this happen only in JS and using a V3 bot? Or it affects all languages?
Is it possible to repro this with sample 80 or 81?

[2020-09-11 19:42] BruceHaley opened #2731 "Change functional test pipelines to carry AppIds and other non-secrets in non-secret vars"

[2020-09-12 23:03] loganballard opened #2736 "Pin python requests to version 2.23.0 to resolve pip installation error/warning"
## Describe the bug
botbuilder-integration-aiohttp requires 2.23.0 version of requests.  Most `requirements.txt` files have either no version pinned or have >=2.18.0.  We should pin to 2.23.0 to avoid a pip warning:

## To Reproduce
Steps to reproduce the behavior:
1. pip install in (for example) `/BotBuilder-Samples/samples/python/57.teams-conversation-bot`
2. Receive error message:

[code]

## E

[2020-09-12 23:03] loganballard commented on #2736
I'd be interested in fixing and should be a pretty easy issue.

[2020-09-13 18:47] abhi421 opened #2737 "Sending adaptive Card from bot to my friend's chat"
Can we send card from bot to my friend who is on ms Team
Ex:- I m a bot user and I want to share information or data with my friend so I click a button and a card land to my friends chat
Channel:- ms teams
Is it possible in bot framework?

[2020-09-14 06:50] saikiran2603 opened #2738 "Unexplained errors while replying to a conversation"
## Version
botbuilder-integration-aiohttp>=4.9.1

## Describe the bug
We have deployed a teams bot with python SDK. Intermittently when the users are trying to converse with the bot we get exceptions in the SDK

concurrent.futures._base.CancelledError
if "MemberNotFoundInConversation" in e.args[0]:
 IndexError: tuple index out of range

although if the same user retries the same message again , ri

[2020-09-14 11:58] abhi421 opened #2739 "unable to change tittle of file consent card"
## Sample information
1. Sample type: samples
2. Sample language: nodeJs

3. Sample name: 56 teams-file-upload

## Describe the bug
unable to change the title of file consent card.
title property missing from file consent card
by default it shows "ocr test needs permission to upload this file to your OneDrive"

## Screenshot
![fileconcent](https://user-images.githubusercontent.com/30606440/9308266

[2020-09-14 12:35] #2739 closed

[2020-09-14 15:44] tsuwandy commented on #2737
@abhi421, could you use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions?

[2020-09-14 15:44] #2737 closed

[2020-09-14 18:55] jwiley84 commented on #2736
If you want to, @loganballard, you're more then welcome to put in a PR for this. I've give the python samples a look over, and see where all this needs to be applied.

[2020-09-14 18:57] v-kydela commented on #2738
Thank you for the report, @saikiran2603

I would like to help but I have a few questions:

1. Are you saying you have only seen this error in logs and have not reproduced the error yourself?
1. Are the errors showing up in app insights or somewhere else?
1. Shall we assume your bot is only accessed from Teams and not Web Chat, Emulator, etc.?

[2020-09-14 19:27] stevengum opened #2741 "Unnecessary botframework-schema dependency in TypeScript sample 58"
Unnecessary dependency as `botbuilder` exposes `botbuilder-core` which exposes `botframework-schema`

_Originally posted by @stevengum in https://github.com/microsoft/BotBuilder-Samples/pull/2735#discussion_r488169141_

[2020-09-15 13:21] saikiran2603 commented on #2738
@v-kydela thanks !!

1. Yes the error is not reproducible at will. If i test it some times i do get this error , but i cannot pinpoint any reason / event which causes this error, it appears to be on random.
2. I can see these errors in my docker container logs. Also once i get this error my application is designed to respond to the user saying , the bot faced some issues etc , like shown in 57 Tea

[2020-09-15 17:35] v-kydela commented on #2738
@saikiran2603 - I will go ahead and address the issue here for now. I can see that this is an intermittent issue, but it may still be necessary to come up with some semblance of a way to reproduce the issue so we have a way to tell if it's "fixed." For example, if you talked to the bot for 10 minutes without getting an error would that be an indication that the issue is resolved? Or if you sent 10

[2020-09-16 04:49] Doppon commented on #2724
Thanks for fixing.

[2020-09-16 06:02] saikiran2603 commented on #2738
@v-kydela Sure that sounds good !

to answer your questions ,
1. I havent tested it but i suspect it does. I will test this today and get back,
2. Yes
3. I need to test this. I will report back on this.

[2020-09-16 09:14] abhi421 commented on #2737
@tsuwandy I asked this question on  Stack Overflow but didn't get the appropriate answer. My problem is "bot send me a card and I want to share that card with my team member"

[2020-09-16 14:06] gabog commented on #1557
Hi @EricDahlvang, this issues is quite old, can we close it?

[2020-09-16 19:35] EricDahlvang commented on #1557
Okay, closing this... looks like we do at least have a couple code examples now https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-direct-line-3-0-authentication?view=azure-bot-service-4.0#code-examples  (dotnet and javascript)

[2020-09-16 19:35] #1557 closed

[2020-09-16 19:43] EricDahlvang commented on #2187
@gabog  This issue arose from a v3 node skill (since it auto-sends traces while connected to the emulator), and any v4 parent/skill host (dotnet, javascript, python).

I believe this would be reproducible with sample 80, if it included telemetry/tracing.  The bug is actually in the v4 sdks... imo, they should be ignoring trace messages if there is no conversation.id for the skill which called them

[2020-09-16 22:42] emgrol commented on #2301
This issue can be closed, the fix is now [live](https://docs.microsoft.com/azure/bot-service/adaptive-expressions/adaptive-expressions-prebuilt-functions) .

[2020-09-17 02:29] #2301 closed

[2020-09-17 06:18] abhi421 opened #2746 "share a card from bot to another person in ms team"
@tsuwandy I asked this question on  Stack Overflow but didn't get the appropriate answer. My problem is "bot send me a card and I want to share that card with my team member"

_Originally posted by @abhi421 in https://github.com/microsoft/BotBuilder-Samples/issues/2737#issuecomment-693281251_

[2020-09-17 06:22] rajeshyalamarthi opened #2747 "Azure Forecast Rest Api Returning Error code 404: "Cost management data is not supported for subscription"."
Hi, I'm trying to use the azure forecast rest API of version "2019-10-01". This is the reference doc which I followed [Forecasts](https://docs.microsoft.com/en-us/rest/api/consumption/forecasts/list). And the Version which I'm using is the latest version.

'GET https://management.azure.com/subscriptions/{subscriptionId}/providers/Microsoft.Consumption/forecasts?api-version=2019-10-01'.

But When i

[2020-09-17 15:56] jwiley84 commented on #2746
Hi @abhi421  Can you post your Stack Overflow question link?

[2020-09-17 17:10] abhi421 commented on #2746
https://stackoverflow.com/q/63897575/11771835

[2020-09-17 18:03] jwiley84 commented on #2746
The comments posted by Vara Prasad are valid answers. When you receive a card from your bot, you should ensure your card has a button. In the code for the button, you have logic for accessing the graph API to get a list of team members, and sending the card to them when it's pressed.

The sample that Vara linked is our Teams-Conversation-Bot sample. When you click 'message all  members', it does l

[2020-09-17 18:03] #2746 closed

[2020-09-17 18:09] jwiley84 commented on #2747
Hi @rajeshyalamarthi The bot framework team prefers that **How-To** questions such as 'How to integrate Forcasts API with bot framework' be asked on [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework).  I'm going to close this issue, and ask that you reopen it there tagged with `botframework`

[2020-09-17 18:09] #2747 closed

[2020-09-17 20:47] johnkellyjr opened #2749 "EchoBot WebEx sample, bot doesn't respond"
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues) / [Java](https://github.com/Microsoft/botbuilder-java/issues)/ [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for genera

[2020-09-18 19:42] v-kydela commented on #2738
@saikiran2603 - Have you tested the sample without your modifications?

[2020-09-19 22:21] Stevenic opened #2755 "If a skill has an error it doesn't send EndOfConversation"
## Version

4.10.3

## Describe the bug

If a skill triggers an exception during operation, the default `OnTurnError` handler is triggered. This results in us failing to send an `EndOfConversation` and leaving the calling bots `SkillDilaog` in somewhat of a stuck state.  My thought is we may want to special case the handling of skill errors within the [DialogManager here](https://github.com/micros

[2020-09-21 09:57] feich-ms opened #2753 "Orchestrator related samples failed with "Failed to find or load Model""
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues) / [Java](https://github.com/Microsoft/botbuilder-java/issues)/ [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for genera

[2020-09-21 10:00] feich-ms commented on #2753
@vishwacsena could you take a look if there are some issues for these orchestrator samples?

[2020-09-21 11:32] feich-ms commented on #2753
I also created a PR to update the sample docs to a working version based on my trial https://github.com/microsoft/BotBuilder-Samples/pull/2754. Hope that helps.

[2020-09-21 17:15] tdurnford commented on #2582
@dmvtech Any updates to report?

[2020-09-21 18:18] tdurnford commented on #2640
@axelsrz Can you chime in on this?

[2020-09-21 21:21] gabog commented on #2323
Closing it for now. We can reopen or recreate based on new developments for orchestrator and dispatcher

[2020-09-21 21:21] #2323 closed

[2020-09-21 22:27] tsuwandy commented on #2753
@feich-ms, we have updated orchestrator-core and bf orchestrator packages (will be updated midnight).  this error should go away once everything is updated and bf cli is pointed to new model 1.1.0-pretrained.20200819-12l.microsoft.dte.en.onnx.

Please verify, thanks!

[2020-09-21 23:41] v-kydela commented on #2738
@saikiran2603 - Are you still working on this?

[2020-09-22 00:05] #2631 closed

[2020-09-22 00:59] tdurnford commented on #2658
@gabog @clearab What are your thoughts on either updating the sample, leaving the sample as is, or leaving the sample as is and adding a new sample to handle the user's scenario?

[2020-09-22 01:04] dmvtech commented on #2582
Hi @HebatallaTarek Sorry for the delay. I just couldn't get this reproduced in Linux (didn't reach success or failure).

Are you able to run either of the following commands on your dispatch file to see what they result in?:

`dispatch eval`

`dispatch test`

Here is info on eval:
https://github.com/microsoft/botbuilder-tools/tree/master/packages/Dispatch#evaluating-your-dispatch-model

Here is in

[2020-09-22 04:11] EricDahlvang opened #2756 "Port dialog samples to Adaptive Dialogs"
Determine which of these samples should be ported to Adaptive Dialogs:

- [x] 05.multi-turn-prompt
- [x] 06.user-cards
- [x] 07.using-adaptive-cards
- [x] 08.suggested-actions
- [x] 11.qnamaker
- [x] 13.core-bot
- [ ] 13.core-bot-tests
- [ ] 14.nlp-with-dispatch
- [x] 15.handling-attachments
- [x] 16.proactive-messages
- [x] 17.multilingual-bot
- [x] 18.bot-authentication
- [ ] 19.custom-dailogs
-

[2020-09-22 12:11] feich-ms commented on #2753
@tsuwandy, the error("Failed to find or load Model") is still there. Do you have a chance to follow the README of 03.declarative-bot to build the model and then chat with the bot in Emulator?

Below is what I generated with cli. All sources seem right, but the bot still run into this "Failed to find or load Model" issue when chatting with it.
![image](https://user-images.githubusercontent.com/4303

[2020-09-22 16:01] tsuwandy commented on #2753
@feich-ms, I’ll take a look at the sample.  I think we are still missing a build of bf orchestrator cli.

[2020-09-22 20:44] WashingtonKayaker opened #2758 "Reference to chitchat from GetUserProfileDialog.qna is incorrect"
## Sample information

1. Sample: **..\csharp_dotnetcore\adaptive-dialog\08.todo-bot-luis-qnamaker**
2. Sample language: **dotnetcore**
3. Sample name: **ToDoBotWithLUISAndQnAMaker**

## Describe the bug

There is an invalid reference to ChitChat on line 4 of **GetUserProfileDialog.qna**: `[ChitChat](./ChitChat.qna)`

The correct reference is: `[ChitChat](../RootDialog/ChitChat.qna)`

## Expected

[2020-09-22 22:06] HebatallaTarek commented on #2582
@dmvtech  Thanks a lot for return back , okay i will try these commands

[2020-09-22 22:27] WashingtonKayaker opened #2759 "Adaptive Dialog missing from the readme"
There needs to be a section on adaptive dialogs in the [readme](https://github.com/microsoft/BotBuilder-Samples/blob/main/README.md), and it needs to appear in the list as shown below:

![image](https://user-images.githubusercontent.com/52054121/93943783-14cfdb00-fce8-11ea-96d1-01a51ff41901.png)

[2020-09-23 00:36] mrivera-ms opened #2760 "Port sample 05.multi-turn-prompt to Adaptive Dialogs"
Parent #2756

[2020-09-23 00:39] mrivera-ms opened #2761 "Port sample 06.user-cards to Adaptive Dialogs"
Parent #2756

[2020-09-23 00:40] mrivera-ms opened #2762 "Port sample 07.using-adaptive-cards to Adaptive Dialogs"
Parent #2756

[2020-09-23 00:41] mrivera-ms opened #2763 "Port sample 08.suggested-actions to Adaptive Dialogs"
Parent #2756

[2020-09-23 00:42] mrivera-ms opened #2764 "Port sample 11.qnamaker to Adaptive Dialogs"
Parent #2756

[2020-09-23 00:43] mrivera-ms opened #2765 "Port sample 13.core-bot to Adaptive Dialogs"
Parent #2756

[2020-09-23 00:45] mrivera-ms opened #2766 "Port sample 13.core-bot-tests to Adaptive Dialogs"
Parent #2756

[2020-09-23 00:48] mrivera-ms opened #2767 "Port sample 14.nlp-with-dispatch to Adaptive Dialogs"
Parent #2756

[2020-09-23 00:50] mrivera-ms opened #2768 "Port sample 15.handling-attachments to Adaptive Dialogs"
Parent #2756

[2020-09-23 00:51] mrivera-ms opened #2769 "Port sample 16.proactive-message to Adaptive Dialogs"
Parent #2756

[2020-09-23 00:52] mrivera-ms opened #2770 "Port sample 17.multilingual-bot to Adaptive Dialogs"
Parent #2756

[2020-09-23 00:54] mrivera-ms opened #2771 "Port sample 18.bot-authentication to Adaptive Dialogs"
Parent #2756

[2020-09-23 00:55] mrivera-ms opened #2772 "Port sample 19.custom-dialogs to Adaptive Dialogs"
Parent #2756

[2020-09-23 00:57] mrivera-ms opened #2773 "Port sample 21.core-app-insights to Adaptive Dialogs"
Parent #2756

[2020-09-23 00:58] mrivera-ms opened #2774 "Port sample 23.facebook-events to Adaptive Dialogs"
Parent #2756

[2020-09-23 00:59] mrivera-ms opened #2775 "Port sample 24.bot-authentication-msgraph to Adaptive Dialogs"
Parent #2756

[2020-09-23 01:00] mrivera-ms opened #2776 "Port sample 25.message-reaction to Adaptive Dialogs"
Parent #2756

[2020-09-23 01:01] mrivera-ms opened #2777 "Port sample 40.timex-resolution to Adaptive Dialogs"
Parent #2756

[2020-09-23 01:02] mrivera-ms opened #2778 "Port sample 42.scaleout to Adaptive Dialogs"
Parent #2756

[2020-09-23 01:04] mrivera-ms opened #2779 "Port sample 43.complex-dialog to Adaptive Dialogs"
Parent #2756

[2020-09-23 01:06] mrivera-ms opened #2780 "Port sample 44.prompt-users-for-input to Adaptive Dialogs"
Parent #2756

[2020-09-23 01:07] mrivera-ms opened #2781 "Port sample 45.state-management to Adaptive Dialogs"
Parent #2756

[2020-09-23 01:08] mrivera-ms opened #2782 "Port sample 46.teams-auth to Adaptive Dialogs"
Parent #2756

[2020-09-23 01:09] mrivera-ms opened #2783 "Port sample 47.inspection to Adaptive Dialogs"
Parent #2756

[2020-09-23 01:10] mrivera-ms opened #2784 "Port sample 49.qnamaker-all-features to Adaptive Dialogs"
Parent #2756

[2020-09-23 01:11] mrivera-ms opened #2785 "Port sample 50.teams-messaging-extensions-search to Adaptive Dialogs"
Parent #2756

[2020-09-23 01:12] mrivera-ms opened #2786 "Port sample 51.teams-messaging-extensions-action to Adaptive Dialogs"
Parent #2756

[2020-09-23 01:13] mrivera-ms opened #2787 "Port sample 52.teams-messaging-extensions-search-auth-config to Adaptive Dialogs"
Parent #2756

[2020-09-23 01:14] mrivera-ms opened #2788 "Port sample 53.teams-messaging-extensions-action-preview to Adaptive Dialogs"
Parent #2756

[2020-09-23 01:15] mrivera-ms opened #2789 "Port sample 54.teams-task-module to Adaptive Dialogs"
Parent #2756

[2020-09-23 01:16] mrivera-ms opened #2790 "Port sample 55.teams-link-unfurling to Adaptive Dialogs"
Parent #2756

[2020-09-23 01:17] mrivera-ms opened #2791 "Port sample 56.teams-file-upload to Adaptive Dialogs"
Parent #2756

[2020-09-23 01:18] mrivera-ms opened #2792 "Port sample 57.teams-conversation-bot to Adaptive Dialogs"
Parent #2756

[2020-09-23 01:19] mrivera-ms opened #2793 "Port sample 58.teams-start-new-thread-in-channel to Adaptive Dialogs"
Parent #2756

[2020-09-23 01:20] mrivera-ms opened #2794 "Port sample 60.slack-adapter to Adaptive Dialogs"
Parent #2756

[2020-09-23 01:22] mrivera-ms opened #2795 "Port sample 61.facebook-adapter to Adaptive Dialogs"
Parent #2756

[2020-09-23 01:23] mrivera-ms opened #2796 "Port sample 62.webex-adapter to Adaptive Dialogs"
Parent #2756

[2020-09-23 01:24] mrivera-ms opened #2797 "Port sample 63.twilio-adapter to Adaptive Dialog"
Parent #2756

[2020-09-23 01:25] mrivera-ms opened #2798 "Port sample 80.skills-simple-bot-to-bot to Adaptive Dialogs"
Parent #2756

[2020-09-23 01:26] mrivera-ms opened #2799 "Port sample 81.skills-skilldialog to Adaptive Dialogs"
Parent #2756

[2020-09-23 01:27] mrivera-ms opened #2800 "Add Adaptive Dialogs to Visual Studio VSIX"
Parent #2756

[2020-09-23 01:28] mrivera-ms opened #2801 "Add Adaptive Dialogs to .Net templates"
Parent #2756

[2020-09-23 02:51] feich-ms commented on #2753
The error comes from InitializeModel function here https://github.com/microsoft/botbuilder-dotnet/blob/main/libraries/Microsoft.Bot.Builder.AI.Orchestrator/OrchestratorAdaptiveRecognizer.cs#L294. ModelPath and ShapshotPath should not be null since they are not thrown out.

[2020-09-23 03:27] #2714 closed

[2020-09-23 06:30] tsuwandy commented on #2753
@feich-ms, we just need latest Microsoft.BotFramework.Orchestrator nuget package (dependency of Microsoft.Bot.Builder.AI.Orchestrator package)  from our preview feed (Conversational AI feed).    I'll add a nuget. config to the samples so it could point to the CAI feed.  Just waiting for latest package to be deployed.

[2020-09-23 17:21] clearab commented on #2658
@tdurnford Assuming this is the only change required to make SSO work in Teams, I think adding it to this sample should be sufficient. If we want to make it a bit more explicit we could comment it out, and add a "Running in Teams" section to the readme to uncomment the code. A similar treatment may make sense for our other authentication samples (consolidate the Teams one with the "normal" auth sa

[2020-09-24 00:19] chrimc62 opened #2804 "Ensure schemas exist for all LUIS entity types"
We need to ensure that there are .schema for all LUIS entity types.  So far, we have only schematized ones that are formats or are objects.  We need to add schema for personname, phone number, keyphrase, percentage.   We should also change schema processing so that when $entities are in the item of an array they are promoted to the property level.  That way the elements of an array can point to on

[2020-09-24 00:32] chrimc62 opened #2805 "Ensure arrays by default only add new items"
Currently arrays allow adding multiple of the same value.  We should change the generated trigger actions to check if the value is already in the array first and if so offer a message to that effect.  If the type definition for an array property has $uniqueValuesOnly: false, then we should generated the current dialog.

[2020-09-24 00:40] chrimc62 opened #2806 "Make string generation more intelligent"
When the type of a property is string only add a <property>Entity to .lu when there are examples.  This extends from the default $entities to defining the .lu.

[2020-09-24 00:41] #2648 closed

[2020-09-24 00:41] #2698 closed

[2020-09-24 00:55] tsuwandy commented on #2753
@feich-ms,  we actually need Microsoft.BotFramework.Orchestrator nuget package pushed to nuget.  Will have to talk to Chris Mullins to get approval tomorrow am or find some other solution.  Thanks.

[2020-09-24 05:43] #2711 closed

[2020-09-24 07:14] saikiran2603 commented on #2738
@v-kydela yes i tested it without any modifications and without docker, but i am still unable to reproduce the issue at will .. it does not occur always in both the situations

[2020-09-24 07:18] saikiran2603 commented on #2738
These are the logs when i was able to re produce the issue

Case 1

 [2020-09-24 05:31:05 +0000] [13] [DEBUG]
  [on_turn_error] unhandled error: tuple index out of range
 DEBUG:aiohttp.web:
  [on_turn_error] unhandled error: tuple index out of range
 Traceback (most recent call last):
   File "/teams-connector/bot/teams_bot.py", line 162, in get_member_details
     turn_context, turn_context.activ

[2020-09-24 12:37] HebatallaTarek commented on #2582
Thanks a lot  for your efforts it worked fine now

[2020-09-24 12:37] #2582 closed

[2020-09-24 17:42] #2736 closed

[2020-09-24 17:45] stevengum commented on #2755
Example code snippet from VA team

### todoskill's [DefaultAdapter.cs](https://github.com/microsoft/botframework-skills/blob/90bf544274b342ca78c3987109e37b7db5e919ce/skills/csharp/todoskill/Adapters/DefaultAdapter.cs#L90-L108)

[code]

[2020-09-24 17:46] stevengum commented on #2531
After speaking with @Jeffders and @johnataylor, the hostingModel change to `"outofprocess"` would specifically target the Echo and Core bot samples and generators for .NET.

[2020-09-24 19:07] v-kydela commented on #2738
@saikiran2603 - Yes, I already understood that you cannot reproduce the issue at will. I thought we had agreed that we needed a way for you to determine if the issue is present or not, though. What method had you been using before to see if the issue occurs while testing locally, etc.? Are you sending a certain amount of messages, for example?

[2020-09-24 19:22] chrimc62 opened #2807 "Support json schema patterns in LU"
When a string property in JSON Schema has a pattern restriction we should generate a regex entity with the same pattern for recognition in the .lu file.  We can generate examples using this package: https://www.npmjs.com/package/randexp

[2020-09-25 04:52] saikiran2603 commented on #2738
Yes i still am on the same page.

I would just start conversing with the bot , and sometimes i would see the error after hours of testing or sometimes much quicker. I could not figure out a pattern there. And i cannot replicate the issue every time.

[2020-09-25 16:49] v-kydela commented on #2738
@saikiran2603 - If the error occurs in your code but not the sample then that would narrow down the cause of the issue to just the changes you've made. You may email your code to me if you'd like to share it privately. I can see in your stack trace references to a file called "/teams-connector/bot/teams_bot.py" which I'm guessing must be in your project.

[2020-09-25 17:46] LlewellynJones opened #2810 "Suggested Actions buttons overwrite response in Skype"
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues) / [Java](https://github.com/Microsoft/botbuilder-java/issues)/ [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for genera

[2020-09-25 18:12] johnataylor opened #2811 "SSO and Skills sample referred to in docs should be core samples not experimental"
The article:

https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-authentication-sso?view=azure-bot-service-4.0&tabs=csharp%2Ceml

refers to this sample:

https://github.com/microsoft/BotBuilder-Samples/tree/main/experimental/sso-with-skills

This sample should be in the core sample set (in the samples folder) rather than in the experimental folder if it is being referenced in this way.

[2020-09-25 18:51] JonathanFingold opened #2812 "The deafult welcome user logic allows for a group conversation but doesn't make sense in one"
## Sample information
1. Sample type: [samples and templates (and even Composer)]
2. Sample language: [all languages]
3. Sample name: too many to list

## Describe the bug
If 5 people joined a group conversation in one `conversationUpdate` activity, the bot will send a burst of messages to the conversation, multiple activities for each new user in the conversation.

The issue has been virtually in

[2020-09-28 22:15] anusharavindrar commented on #2810
@LlewellynJones, Skype has been deprecated and we no longer support it. Please refer to [this](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-connect-skype?view=azure-bot-service-4.0) doc.

[2020-09-28 22:15] #2810 closed

[2020-09-28 23:06] gabog opened #2813 "I can Update and Delete activities from a Skill (Samples)"
See [parent](https://github.com/microsoft/botframework-sdk/issues/5788)

Tracking status for samples:

- [ ] dotnet
- [ ] js
- [ ] python

[2020-09-28 23:10] v-kydela commented on #2738
@saikiran2603 - Are you still working on this?

[2020-09-29 04:09] gabog commented on #2312
FYI: reworded the original issue so we can narrow it down to the basics, a skill can proactively send a message to a user that has already engaged previously with the bot (I think we have enough challenges there).
We don't have what we need currently to have a skill start a conversation with a user that has never talked to the skill, we will address this as part of another issue.

[2020-09-29 06:16] saikiran2603 commented on #2738
Yes , i am mailing the code to you ..

[2020-09-29 10:31] madbeher commented on #1723
Can we use the same function to translate hero cards also ?

Thanks..

[2020-09-29 13:25] marwalsch opened #2814 "46.TeamsAuth-Bot throws 'System.ArgumentNullException: Value cannot be null.' when trying to log in."
## Sample information
1. Sample type: samples
2. Sample language: dotnetcore
3. Sample name: 46.TeamsAuth

## Describe the bug
I set up the corresponding bot exactly as descriped in the deployment guide (which worked for the TeamsConversationBot sample). A 'Logout' request yields a respond (but doesn't do anything) while any other request to sign-in causes a

## To Reproduce
Steps to reproduce the

[2020-09-29 15:20] jwiley84 commented on #2814
Do you mean to say you're leaving the connectionName in the appsetting file empty? In order to use OAuth, you have to have an Oauth connection. That's what that error means. Please check out [this doc](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-authentication?view=azure-bot-service-4.0&tabs=aadv2%2Ccsharp) on setting up OAuth.

[2020-09-29 16:44] CarlosCalleja opened #2815 "An unhandled exception of type 'System.IO.FileNotFoundException' occurred in Unknown Module."
## Sample information
1. Sample type: \samples
2. Sample language: dotnetcore
3. Sample name: qnamaker

## Describe the bug
When I try to run the startup.cs file I get the following message: "An unhandled exception of type 'System.IO.FileNotFoundException' occurred in Unknown Module.
Could not load file or assembly 'System.Runtime, Version=4.2.1.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'

[2020-09-29 17:13] v-kydela commented on #2738
@saikiran2603 - I haven't received an email yet. What address did you mail it to?

[2020-09-29 17:29] v-kydela commented on #1723
@madbeher - No, the function is specific to Adaptive Cards. I'd need to make different functions to translate Bot Framework cards. Please comment on the Bot Builder Community issue with any requests.

[2020-09-29 21:16] jwiley84 opened #2817 "Issue with webex sample"
Manually transferred from Doc's repo:

https://github.com/MicrosoftDocs/bot-docs/issues/1921

https://github.com/MicrosoftDocs/bot-docs/issues/1899

[code]

[2020-09-29 23:10] stevengum commented on #2531
To be explicit, there's a number of changes that need to be performed to make Echo and Core bot work out-of-the-box with minimal customer-driven changes.

### Add logic to Startup.cs/index.js/ts to connect to the NamedPipe

- In Startup.cs, add the [following](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-directline-extension-net-bot?view=azure-bot-service-4.0):
[code]

[2020-09-30 00:49] BruceHaley commented on #2731
Done.

[2020-09-30 00:49] #2731 closed

[2020-09-30 18:29] jwiley84 commented on #2815
This means some of the dependencies are not loading correctly. Can you ensure you've got dotnet 3.1 installed?

[2020-10-01 03:54] SDAdham opened #2820 "I can't find example for how to send result back to PVA"
🚨 The issue tracker is not for questions 🚨

If you have a question, please ask it on https://stackoverflow.com/questions/tagged/botframework

I have used the example https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/javascript_nodejs/81.skills-skilldialog

Manifest:

Skill javascript:
[code]
in the manifest:
[code]
Can you please help? The bot doesn't delegate the result to PVA

[2020-10-01 05:28] BeheraMadan opened #2837 "Translation Samples needs to translate Hero Cards and multiple input choice action"
Hi,

Below sample is working for normal text messages

https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/csharp_dotnetcore/17.multilingual-bot

But translation, where cards (hero and multiple input choice action) are not being translated.

Consider updating this sample to include an hero and multiple input choice action translation.

Also there was some solution provided for adapti

[2020-10-01 12:39] jwiley84 commented on #2820
The bot framework team prefers that **How-To** questions be asked on [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework), using the 'botframework' tag. Closing this issue as a duplicate of [this](https://stackoverflow.com/questions/64148869/send-result-back-to-power-virtual-agent-pva-from-azure-bot-skill-bot) on Stack Overflow

[2020-10-01 12:39] #2820 closed

[2020-10-01 13:03] marcasmar94 commented on #2307
Any updates on this ? We use Dialogflow in our Bot Framework project - How can we integrate Dialogflow with Adaptive Dialogs ?

[2020-10-01 23:02] CarlosCalleja commented on #2815
Thanks for your reply, I ran dotnet --list-runtimes and the latest one is 2.1.4
I'm working on a VDI with no admin priviledges, so installing a newer version is currently not an option. Is there a workaround?
Thanks!

[2020-10-02 05:30] EricDahlvang commented on #2760
Closing,  since this has been merged to r11 samples

[2020-10-02 05:30] #2760 closed

[2020-10-02 20:03] EricDahlvang commented on #2815
Hi @CarlosCalleja

You can convert this sample's project to the 2.1 runtime.  An older version of this sample targeting netcoreapp2.1, without the most recent changes, can be found here: https://github.com/microsoft/BotBuilder-Samples/tree/4.7/samples/csharp_dotnetcore/11.qnamaker  there are some differences in startup.cs and program.cs between  netcoreapp2.1 and netcoreapp3.1  Hopefully this bran

[2020-10-02 20:53] EricDahlvang commented on #2782
This sample is not required in Adaptive Dialogs but is redundant, since OAuthInput works seamlessly on Teams sample 24 or 18 will also work on Teams.

[2020-10-02 20:53] #2782 closed

[2020-10-02 22:16] v-kydela commented on #2738
@saikiran2603 - Do you still need help?

[2020-10-05 16:43] v-kydela opened #2825 "Proactive sample stores conversation references in local memory"
## Sample information
1. Sample type: samples
2. Sample language: all
3. Sample name: [16.proactive-messages](https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/csharp_dotnetcore/16.proactive-messages)

## Describe the bug
Our proactive message sample stores conversation references in the bot's local memory. We need to fix it so that it stores conversation references in persistent s

[2020-10-05 18:14] jwiley84 commented on #2814
Closing for inactivity.

[2020-10-05 18:14] #2814 closed

[2020-10-05 18:19] lzc850612 commented on #2658
@swagatmishra2007 do you have any update on this issue? Thanks.

[2020-10-05 18:19] jwiley84 commented on #2749
My apologies for the delay. I'm looking into this now, and should have an answer for you shortly

[2020-10-05 18:56] johnkellyjr commented on #1988
I was able to repro this. When you are prompted for a project name while creating an EchoBot, it will give you EchoBot1 as the default name. I changed this to EchoBot and received the same error. The error is correct, as it has now used EchoBot as both the namespace for the project as well as the class name within Bots\EchoBot.cs... public class EchoBot : ActivityHandler.

Creating a new project a

[2020-10-05 23:09] dmvtech commented on #1988
Ah! Thank you @johnkellyjr

Sorry I missed that earlier. Good find, that is absolutely the cause (I didn't test thoroughly enough before). @ashutoshpith As John said; just rename either your namespace or your class.

[2020-10-06 05:45] swagatmishra2007 commented on #2658
I agree with @clearab above, but that increases the scope a bit, including testing. So i would like to discuss this at the triage meeting

[2020-10-06 15:20] jwiley84 commented on #2749
I was able to test the doc we have for connecting a bot to webex, and ran into no issue.
![image](https://user-images.githubusercontent.com/17333688/95220955-d9cfac00-07ab-11eb-91dd-74bf9d272c05.png)

Can you explain a bit more about how you're debugging? It's possible that one of your breakpoints is causing the bot to not recieve the message in time and timing out. And please verify if you're usi

[2020-10-06 15:23] jwiley84 commented on #2817
The sample in the samples repo is correct, and works as expected. The issue is with missing code in the docs. Will reach out to the docs team.

[2020-10-06 15:23] #2817 closed

[2020-10-07 13:57] jwiley84 commented on #2583
Thank you for your patience on this. The ARM templates have been updated. Please use an ARM template from a current sample and attempt to redeploy. I'm going to close this issue. If you continue to have the same problem with deploying, please comment and I will reopen.

[2020-10-07 13:57] #2583 closed

[2020-10-09 20:36] #2651 closed

[2020-10-10 02:15] #2761 closed

[2020-10-11 18:28] yashwanth125 commented on #2228
even i am stuck with this error can anyone help

[2020-10-12 15:53] jwiley84 commented on #2815
Closing due to inactivity.

[2020-10-12 15:53] #2815 closed

[2020-10-12 15:55] jwiley84 commented on #2749
Closing due to inactivity.

[2020-10-12 15:55] #2749 closed

[2020-10-13 19:13] yetsmarch opened #2836 "sample 52 not work well on new teams version."
🚨 The issue tracker is not for questions 🚨

If you have a question, please ask it on https://stackoverflow.com/questions/tagged/botframework

[question]
hello, I create a message extension app as sample 52, I opened the message extension and select a herocard, the card never send out to the cannel. it seems that the dialog close soon before getting the search result.
my teams version is  1.3.00.28

[2020-10-13 21:43] v-kydela commented on #2738
I am closing this issue due to inactivity. We are still happy to provide help if you need any, though it may be a good idea to make a new post if that's the case. Please have a look at [this](https://github.com/microsoft/botframework-sdk#questions-and-help) to find out the best places to ask for help, and consider asking questions on Stack Overflow.

[2020-10-13 21:43] #2738 closed

[2020-10-14 01:39] coldplaying42 commented on #2804
If string LUIS entity schemas are added, the format like "$ref": "template:keyphrase.schema" can be parsed. Is it correct? I do not understand what "promoted" means in the context.

[2020-10-14 01:44] coldplaying42 commented on #2806
What kind of string is generated in this scenario?

[2020-10-14 02:41] chrimc62 opened #2839 "Create generator unit test schema"
Issue is we need to break up the unittest.schema into multiple schemas.  We need to make sure every possible entity/property gets tested, but LUIS doesn't let us do all of them.

[2020-10-14 02:45] chrimc62 opened #2840 "$entities should come from items in runtime"
The runtime needs to pick up $entities from item type in schema.

[2020-10-14 17:23] Zerryth commented on #2405
Resolved in R10 by https://github.com/microsoft/BotBuilder-Samples/pull/2635

[2020-10-14 17:23] #2405 closed

[2020-10-14 20:19] #2840 closed

[2020-10-15 04:48] Wajeed-msft commented on #2836
Hi @yetsmarch - I have posted this issue on Microsoft Teams repo. Please follow it here: https://github.com/MicrosoftDocs/msteams-docs/issues/2199

[2020-10-15 04:48] #2836 closed

[2020-10-15 16:58] stevengum commented on #2531
Samples don't necessarily ship directly in sync with our milestones, this work will likely happen after 4.11 is out the door.

[2020-10-16 09:42] souvik01123 opened #2848 "pagedmembers issue"
HI Team,

I am learner here . I want to create a flow where bot will interact with 3 people . 1st interaction will take bot and chat initiator . 2nd interaction will have a state where bot will open up a window with another user to get an approval .

I used your botbuilder-samples\samples\javascript_nodejs\57.teams-conversation-bot code and got below error . Please suggest what to do

unhandled er

[2020-10-16 16:01] buddeshya commented on #2040
Hi @v-kydela
I getting the same error, I using a basic QNA and LUIS model in my bot, it's working fine on bot emulator but I am getting error when I am testing on web Chat.
`[onTurnError] unhandled error: Error: getaddrinfo ENOTFOUND westus.api.cognitive.microsoft.com.api.cognitive.microsoft.com westus.api.cognitive.microsoft.com.api.cognitive.microsoft.com:443`

[2020-10-16 17:12] sgellock commented on #2040
Your URL addresses are not correct.  they should be:
westus.api.cognitive.microsoft.com
westus.api.cognitive.microsoft.com:443

[2020-10-17 04:06] buddeshya commented on #2040
@sgellock
Thank you, I resolved the error.

[2020-10-17 21:27] EricDahlvang commented on #2848
Hi @souvik01123

57.teams-conversation-bot is intended to be used from the Teams channel.  Based on this url, /v3/conversations/e9452730-0f91-11eb-a20b-096b7b0fce21%7Clivechat/pagedmembers  it looks like the emulator was used to connect to the bot?  Unfortunately, the emulator does not work with the Teams samples.

Please try the bot from Teams.  Some instructions can be found in the readme.

- Ed

[2020-10-19 10:54] RedAvenge opened #2851 "Broken links by redirecting to QnA prompting sample"
## Describe the bug
Hey there,
the links in the readme of [main/experimental/qnamaker-prompting](https://github.com/microsoft/BotBuilder-Samples/tree/main/experimental/qnamaker-prompting) are broken. They link to a replaced sample but in the normal samples folder to which they are linking is no `70.qnamaker-multiturn-sample`.

## To Reproduce
Steps to reproduce the behavior:
1. Go to 'https://gith

[2020-10-19 11:01] RedAvenge commented on #2851
I just saw that a similar issue #2727 is still open. But I think my issue has something more to it, because the other issue does not mentioned that the sample itself is not available at all in the samples folder.

In any case, sorry for the dupe but I did not searched for an existing issues in the first place because I think this is such a "simple" error which should be fixable without the issue m

[2020-10-19 17:24] stevengum commented on #2658
@swagatmishra2007 and @clearab can the two of you sync and come up with an actionable plan for this sample?

[2020-10-20 09:58] Krishna-chinthireddy opened #2855 "Bot is getting deployed in http port"
Hi

I have created a bot long back with DOTNET 4.6 framework & Microsoft framework v3
Now we are trying to deploy in azure web app  using azure publishing profile but it is getting deployed in "HTTP" port

Any suggestions how can i change port from "Http" to "Https"

[2020-10-20 23:31] mrivera-ms opened #2856 "Samples reorganization"
- [x] 1. Move the **samples/csharp_dotnetcore/language-generation** folder content to https://github.com/microsoft/BotBuilder-Samples/tree/main/experimental/language-generation

- [ ] 	2. Move the **samples/csharp_dotnetcore/adaptive-dialog** folder content to a **csharp_dotnetcore** folder inside https://github.com/microsoft/BotBuilder-Samples/tree/main/experimental/adaptive-dialog.

- [x] 3. Mov

[2020-10-21 15:51] dmvtech commented on #2855
HI @Krishna-chinthireddy Can you please give some more information?

Just to clarify, you mean v3.x of the Bot framework SDK and .NET framework v4.6? Or are you talking about v3 of the Direct Line service, and version 4.6.x of the Bot framework SDK?

What method are you using to deploy? Are you using Visual Studio, az cli, powershell or code?

[2020-10-22 07:22] Krishna-chinthireddy commented on #2855
Hi @dmvtech

It is Bot Framework SDK v3  &  .NET framework v4.6

Deployed using visual studio 2019

[2020-10-22 17:11] dmvtech commented on #2855
Thank you. You might try removing the publishing profile in VS and re-creating it. Can you explain more of what you mean by it is being deployed to the http port? Is the bot's messaging endpoint configured properly in it's azure portal settings? You can verify in the Azure portal that your WebApp/AppService is setup with the url as https?

[2020-10-22 18:32] cleemullins commented on #2851
@v-kydela Kyle, could you submit the PR to cleanup these links? Thanks!

[2020-10-22 23:45] v-kydela commented on #2851
Closing to address here: https://github.com/microsoft/BotBuilder-Samples/issues/2727

[2020-10-22 23:45] #2851 closed

[2020-10-23 00:25] axelsrz commented on #2204
This change will ship with DialogManager changes