[2019-01-31 19:34] stevengum opened #1196 "Logic for checking for LuisServices in .bot files across C# samples differs"
## Sample information
1. Sample type: samples\
2. Sample language: dotnetcore
3. Sample name: 12-14, 21 (nlp-with-luis, basic-bot, nlp-with-dispatch, luis-with-appinsights)

## Describe the bug
The logic to check if a valid LUIS Service entry exists in the .bot file differs across these samples. Some samples have a `BotServices.cs` file, where one does not. Other samples look to see if just a LUIS

[2019-01-31 19:35] stevengum commented on #1196
Assigned to sgellock and kaiqb so we can figure out a plan to uniform this code and not create more work than necessary.

[2019-01-31 19:37] jackiebecker commented on #1192
@msolhab Agreed!

[2019-01-31 19:55] benbrown commented on #683
This sample will soon be deprecated.

[2019-01-31 19:55] #683 closed

[2019-01-31 21:35] corinagum commented on #1191
I believe this is related to https://github.com/Microsoft/BotFramework-WebChat/issues/1371

[2019-01-31 23:36] navzam opened #1197 "Samples should output specific bot config error"
## Sample information
1. Sample type: /samples
2. Sample language: nodejs
3. Sample name: almost every sample after Sample 2

## Describe the bug
Almost all of the samples load the .bot file like this:
[code]

In the case of an error, it outputs a nice human-readable error message, but never gives you the actual underlying error (captured in `err`) which is very useful for debugging. I always end

[2019-02-01 00:32] mdrichardson commented on #1187
I've now run either `msbot clone` or `qnamaker create` over a dozen times and had maybe 2 or 3 successes. Still trying to pinpoint what's causing the failures.

[2019-02-01 15:58] mdrichardson commented on #1192
I know this isn't quite what you're looking for either, but for the sake of providing additional, current examples, @Zerryth pointed out that the Virtual Assistant sample also offers another way of using LUIS for localization.

[LUIS files](https://github.com/Microsoft/AI/tree/master/solutions/Virtual-Assistant/src/csharp/assistant/CognitiveModels/LUIS)

[Deploying Virtual Assistant with Language

[2019-02-01 23:14] #1076 closed

[2019-02-01 23:14] #1159 closed

[2019-02-02 11:42] Opilio22 commented on #1080
Not sure if this is the appropiate solution, but here is what I did:
I moved them out of the services.AddBot registration. Making them accessible for my Accessors.

        public void ConfigureServices(IServiceCollection services)
        {
            IStorage dataStore = new MemoryStorage();

            var conversationState = new ConversationState(dataStore);
            var userState = new U

[2019-02-04 08:34] chinnivyshnavi commented on #1160
@EricDahlvang I am attaching the solution.

[EchoBotNewTest.zip](https://github.com/Microsoft/BotBuilder-Samples/files/2826838/EchoBotNewTest.zip)

[2019-02-04 12:12] chinnivyshnavi commented on #1160
@EricDahlvang attaching the error solution
[Uploading EchoBotNewTest.zip…]()

[2019-02-04 16:39] sgellock commented on #1160
I've downloaded the above zip.  I've replaced the empty Luis configuration settings in EchoBotNewTest.bot and am able to get the bot to run successfully without errors.  @EricDahlvang.  Was able to run successfully using VS 2019 and dotnet run on macOS

[2019-02-04 17:50] EricDahlvang commented on #1160
@sgellock  Were you able to get this to work with a luis region of southcentralus or did you change it to westus in the .bot file?

[2019-02-04 18:05] brandonh-msft opened #1199 "Why do we have 2 'Samples' repos?"
It's confusing to users which Samples repo they should be looking at. Additionally our docs seem to reference some samples in this repo, and some samples in the **BotFramework**-Samples repo; we should consolidate these.

I've filed a similar issue on the BotFramework repo [here](https://github.com/Microsoft/BotFramework-Samples/issues/61).

[2019-02-04 19:18] #1007 closed

[2019-02-04 19:19] sgellock commented on #1007
PR #1200 contains the fix

[2019-02-04 19:25] navzam opened #1201 ""Welcome users" sample is overly complex"
**Is your feature request related to a problem? Please describe.**
The JS sample `03.welcome-users` is confusing because it welcomes the user twice: once on a `ConversationUpdate` activity, and once when the user sends the first message. The code uses variables like `didBotWelcomedUser` and `welcomedUserProperty`, so it isn't clear which instance of welcoming they're tracking.

The sample also use

[2019-02-04 20:59] sgellock commented on #1160
westus

From: Eric Dahlvang <notifications@github.com>
Reply-To: Microsoft/BotBuilder-Samples <reply@reply.github.com>
Date: Monday, February 4, 2019 at 10:39 AM
To: Microsoft/BotBuilder-Samples <BotBuilder-Samples@noreply.github.com>
Cc: Scott Gellock <Scott.Gellock@microsoft.com>, Mention <mention@noreply.github.com>
Subject: Re: [Microsoft/BotBuilder-Samples] Bot Framework V4Echo Bot Template E

[2019-02-04 22:58] drub0y commented on #1080
What @Opilio22 is suggesting is the correct way to go; you just need to utilize the proper language features.

In this case, you want to increase the scope of the various state variables to the `ConfigureServices` method so they are accessible to the closure for `AddBot<YourBot>` as well as any other number of `AddXXX` calls you make where they might be needed.

[2019-02-04 23:57] mdrichardson commented on #1187
Just as an update:

I've been using a PowerShell script to test this that builds the appropriate services with AZ CLI. It then uses qnamaker to hit the API and create the knowledgebase. Making no changes to the script, I have about a 30% success rate of creating a knowledgebase. The others either return a nondescript "failed" error or "Invalid subscription key" error. Again, my Powershell script a

[2019-02-05 00:10] sgellock commented on #1201
We have a DCR in-flight that will simplify this.  Please refer to the following and comment there.
C# can be found here:
https://github.com/Microsoft/BotBuilder/issues/5285

JS coming within a day or so

[2019-02-05 00:10] #1201 closed

[2019-02-05 00:12] sgellock commented on #1199
@Kaiqb we should retire gh/ms/botframework-samples.

[2019-02-05 01:05] mdrichardson commented on #1187
If you want to test this a dozen times like I did, `msbot clone services` is fine, but it takes significantly longer while it creates the 2-3 Azure resources for the bot deployment. You still get the same errors either way, but my Powershell script removes the extra resource creations.  Here's my script if you want to use it:

[code]

To write this, I basically grabbed the commands from `msbot` an

[2019-02-05 10:26] nstejaswini opened #1203 "Deployed sample doesn't work on Azure"
### Github issues for [C#]
## Sample information
1. Sample language: dotnetcore
2. Sample name: 03. welcome-user

## Describe the bug
The sample doesn't work on webchat in Azure after deploying it using the msbot clone command in readme.
## To Reproduce
Steps to reproduce the behavior:
1. Make the sample work locally.
2. Use msbot clone command (after obtaining the appId and appSecret) as given in

[2019-02-05 12:09] petmat opened #1204 "Active Training samples both Node.js and C# seem to have logic errors"
## Sample information
1. Sample type: \samples\experimental\
2. Sample language: nodejs/c#
3. Sample name: qnamaker_activelearning-bot

## Describe the bug
In the `getLowScoreVariation function when the `isSingleAnswerSuggestion` function is called the `qnaSearchResults[0].score` value is used without multiplying it with 100 like elsewhere in the code. This means that it would only return false if

[2019-02-05 15:04] fhe-fr opened #1205 "Can't creat the QnA"
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues) / [Java](https://github.com/Microsoft/botbuilder-java/issues)/ [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for genera

[2019-02-05 17:31] jwiley84 commented on #1203
I'll have to check the README, but first: after you deployed, did you go into the deployed bot's .bot file and update it with a 'production' endpoint?

[2019-02-05 18:30] mdrichardson commented on #1205
I'm going to close this as this is more or less a duplicate of https://github.com/Microsoft/BotBuilder-Samples/issues/1187

The solution right now is that if you have a bot that uses QnAMaker, you can't use `msbot clone services...` to create the QnAMaker knowledgebase. You have to create that resource manually. You have two options to replace using `msbot clone services...`

1. Use the `msbot clo

[2019-02-05 18:30] #1205 closed

[2019-02-05 19:06] mdrichardson commented on #1203
@nstejaswini

I was able to follow the steps in the Readme and get this working, successfully.

My steps:

1. Clone the repo
2. Open the sample in Visual Studio
3. Press F5
4. Open in Emulator and tested successfully
5. Create a new app in the App Registration Portal
6. Generated a New Password and copied the AppId and Password
7. Used `msbot clone services` command from the bot's README, with the

[2019-02-05 22:14] mdrichardson commented on #1188
Closing as this is a non-blocking issue that has had PRs merged for a fix. Regarding the intended behavior mentioned above, `.bot` files and `msbot` are both on their way out, so even if the behavior is unintended, it won't likely be addressed.

[2019-02-05 22:14] #1188 closed

[2019-02-06 00:48] sgellock commented on #1156
I've decided not to implement this.  There is no discernible behavior when used in the samples.  The attribute is meant to provide a warning for packages that use the attribute, when they are installed.

[2019-02-06 00:48] #1156 closed

[2019-02-06 05:41] nstejaswini commented on #1203
I tried it again today twice. It worked for the second time. Last time I tried deploying two to three samples on Azure using the msbot command given in readme file, but the same error was coming. I don't know why that happened.
It is not given in Readme that, before using the msbot clone command, path to sample (cd botBuilder/samples/…) should be given.

[2019-02-06 11:42] nstejaswini opened #1207 "No bot.recipe error while deploying"
### Github issues for [C#]
## Sample information
1. Sample language: dotnetcore
2. Sample name: 06.using-cards

## Describe the bug
 When the msbot clone command is given it showed the following error,
No bot.recipe file found under deploymentScripts/msbotClone. Please provide the folder that contains the recipe file

## To Reproduce
Steps to reproduce the behavior:
1.  Run the sample locally on V

[2019-02-06 14:47] pernambucano opened #1208 "Url of DirectLine 3 swagger has been moved."
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues) / [Java](https://github.com/Microsoft/botbuilder-java/issues)/ [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for genera

[2019-02-06 17:15] mdrichardson commented on #1203
I looked into the appId you provided and I think there's something wrong with your app service or deployment. There's a couple things you can try from Azure Portal > Your App Service:

1. Try restarting the app service
2. Open the App Service Editor and verify that the `.bot` file that got deployed has a production endpoint, then check `appsettings.json` there and verify that it's using the `.bot`

[2019-02-06 17:35] fhe-fr opened #1209 "[Nodjs:12.nlp-with-luis]: onTurnError"
## Sample information
1. Sample type: [\samples\ or \solutions\]
samples
2. Sample language: [dotnetcore or webapi or es6 or nodejs or typescript]
nodejs
3. Sample name: <Name of the sample>
12.nlp-with-luis

## Describe the bug
Give a clear and concise description of what the bug is.
when runing the bot, I get the Following error:
[onTurnError]: Error: Response 400: The request's body or paramete

[2019-02-06 19:28] mdrichardson commented on #1207
I'll submit a PR to address this. The file is currently located under `deploymentScripts/` and not `deploymentScripts/msbotClone`. In the meantime, you can use this command instead:

[code]

I'm going to close this as I'm 99% sure this addresses your issue--the other samples have `bot.recipe` located under the `/msbotClone` folder, unlike this one. Feel free to reopen if you still have issues.

[2019-02-06 19:28] #1207 closed

[2019-02-06 22:10] EricDahlvang commented on #1208
The swagger file is now located here: https://github.com/Microsoft/BotBuilder/blob/master/specs/botframework-protocol/directline-3.0.json

I'll update the V3 direct line samples to use a locally hosted swagger file (it is not a good idea to take a dependency on a file located in the documentation).

[2019-02-06 22:12] seank-com opened #1211 "[C#][.Net Core] [14.nlp-with-dispatch] System.InvalidOperationException: "The Subscription Key ('subscriptionKey') is required to run this sample. Please update your '.bot' file.""
I wrote all this up and then discovered it is Issue #[607](https://github.com/Microsoft/BotBuilder-Samples/issues/607), but it is still broken. I think the bug was closed without testing to see if the PR actually fixed the issue.

## Sample information
1. Sample type: samples
2. Sample language: dotnetcore
3. Sample name: 14.nlp-with-dispatch

## Describe the bug

[code]

## To Reproduce
Steps to

[2019-02-07 00:55] mdrichardson commented on #1187
@rokulka Please post any updates to your investigation of this issue here.

[2019-02-07 00:57] EricDahlvang commented on #1160
Hey @chinnivyshnavi

This does not appear to be a bug in the sample. I'm closing this issue.  If you require further assistance getting this sample to work, please direct questions to Stack Overflow with the BotFramework tag, and someone from the Bot Framework Support team will help.  The preference is to use Stack Overflow for usage questions, so the entire community can benefit from the QnA.

[2019-02-07 00:57] #1160 closed

[2019-02-07 04:42] sgellock commented on #1209
Support Team, the repo steps are pretty light here.  I've run the sample many times without error.  can you see if you can get more detail from the customer on what is causing their issue.

[2019-02-07 09:20] nstejaswini commented on #1203
I guess the westus was the problem, because I used it as the location. By "same error" I meant "can't send". I will try using the methods you suggested and deploy it again.

[2019-02-07 16:08] rokulka commented on #1187
**Problem:**
- On creating QnAMaker Cognitive Service Resource,  the QnAMaker backed receives a notification, it in-turn does some updates to set EndpointKeys at the client's WebApp.
- Create KB is called immediately after creating QnAMaker Cognitive Service resource, it fails because the backed updates are not complete yet.
- This issue does not appear via the QnAMaker portal as by the time the u

[2019-02-07 17:39] Kaiqb commented on #1199
That's is the plan. We want to merge everything into botbuilder-samples repo.

[2019-02-07 18:52] mdrichardson commented on #1187
@rokulka

Agreed. I tested again today and 9/10 of my tests passed when using a 60 second "sleep". The only one that failed produced:

[code]

I've opened an issue in the botbuilder-tools repo here: https://github.com/Microsoft/botbuilder-tools/issues/958

Since we've confirmed this is not an issue with a sample, I'm going to close the issue here and it can be continued there.

[2019-02-07 18:52] #1187 closed

[2019-02-08 16:47] #1204 closed

[2019-02-08 16:56] denscollo opened #1214 "Missing instructions for deploying EchoBot to Azure"
## Sample information
1. Sample type: Samples
2. Sample language: DotNetCore
3. Sample name: EchoBot

## Describe the bug
There is an instruction and a parameter missing for deploying the bot to Azure.

## To Reproduce
Steps to reproduce the behavior:
1. Follow the [Readme](https://github.com/Microsoft/BotBuilder-Samples/blob/master/samples/csharp_dotnetcore/02.a.echo-bot/README.md) "Deploy the bo

[2019-02-08 17:54] JCHHeilmann opened #1215 "Result of Core Typescript Generation not Compiling"
## Sample information
1. Sample type: generator template
2. Sample language: typescript
3. Sample name: core bot template

## Describe the bug
When generating a bot setup with the core bot typescript template `npm start` and `npm run watch` result in typescript compilation errors.

## To Reproduce
Steps to reproduce the behavior:
1. Run `yo botbuilder`
2. What programming language do you want to u

[2019-02-08 17:54] ktundwal opened #1216 "[C#][.Net Core] [24.bot-authentication-msgraph] Login button unexpectedly appears twice after successful login"
### Github issue for [C# 24.bot-authentication-msgraph](https://github.com/Microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/24.bot-authentication-msgraph)

## Sample information
1. Sample type: [samples/csharp_dotnetcore/24.bot-authentication-msgraph]
2. Sample language: [dotnetcore]
3. Sample name: 24.bot-authentication-msgraph

## Describe the bug
When I send 'recent' command t

[2019-02-08 18:45] carlosscastro opened #1217 "Proposal: MultiBot sample"
Proposal: create a sample showing multi-bot support where a single bot service endpoint hosts several bots. Many customers reach out for this functionality.

Attached file [EchoBot_MultiCredentialProvider.zip](https://github.com/Microsoft/BotBuilder-Samples/files/2846423/EchoBot_MultiCredentialProvider.zip)
is a minimal V3 sample for C#. The work would be to port it to V4 languages. (Thanks @EricD

[2019-02-08 22:18] diberry opened #1218 "Basic bot on mac throws error in BasicBot.cs"
## Sample information
1. Sample type: web app bot, 4.x sdk, c#
2. Sample language: dotnetcore
3. Sample name: basic bot

## Describe the bug

Issue #1 - Emulator 4 says it is connected but doesn't get past "couldn't send" regardless if I use development or production endpoint. Verified this also happens on Win10.

Issue #2 - Emulator 3 throws an error when running against local/development server.

[2019-02-11 04:57] raghukrishnamoorthy opened #1219 "Conversation history does not work"
## Sample information
1. Sample type: \samples\
2. Sample language: dotnetcore
3. Sample name: https://github.com/Microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/22.conversation-history

## Describe the bug
The sendConversationHistory method in the sample does not render the conversation history.

## To Reproduce
Steps to reproduce the behavior:
1. Download the sample
2. Configu

[2019-02-11 14:18] rokulka commented on #1204
Thanks for reaching out @petmat

The isSingleAnswerSuggestion was actually not used, if you look at FilterLowVariationScoreList in DialogHelper. We check  if (filteredResponse.Count > 1).  I've cleaned up that part of the code in the above PR. Sorry for the confusion.

Regarding the low score variation logic - For each step in traversing the qna list, the window width is currently a function of sq

[2019-02-11 15:53] mdrichardson commented on #1203
@nstejaswini 	Were you able to get this working?

[2019-02-11 21:58] stevkan commented on #1216
@ktundwal, a few questions for you, if you could answer them to help me diagnose the problem!

- Does this also occur when first attempting to login or only after having signed out and then re-logging in?
- Is this only happening when trying in Teams or is it happening in other channels, too?
- Which version of the botbuilder libraries do you have installed?
- Have you made any code changes? If so

[2019-02-11 22:20] sgellock commented on #1218
this has been fixed in the samples repo, and the code generators.  the Azure Portal needs an updated template with the fix

[2019-02-11 22:33] diberry commented on #1218
@sgellock Can you please give me ETA when it will show up in the Azure Portal ?

[2019-02-11 23:56] #1215 closed

[2019-02-12 00:18] sgellock commented on #1215
the 4.2.5 release will have this fix

[2019-02-12 01:06] EricDahlvang commented on #1219
Hi @raghukrishnamoorthy

Thank you for reporting this.  This is a shortcoming in the Sample.  I've submitted a PR to fix the issue for WebChat, Emulator and the Direct Line.

This is actually a client side rendering issue since these items are filtered out of the WebChat store due to the ids already being present.  Nonetheless, fixing the issue bot side seems like a valid option.

[code]

[2019-02-12 02:54] #1218 closed

[2019-02-12 03:06] sgellock commented on #1214
dotnet clone services does all of this.  additionally, changes coming in 4.3 and 4.4 will mitigate this as we will not encrypt bot files by default

[2019-02-12 03:17] stevkan commented on #1209
@fhe-fr, I've tried reproducing the issue using following the sample's README.md, however I have been unsuccessful in doing so. I'm wondering:

- Did you change any of the code after the msbot deployment process finished but before you ran 'npm start'?
- Did you record any other errors?
- Did this error only occur locally or did it also occur once deployed on Azure?
- Did you try recreating?
- Can

[2019-02-12 06:20] nstejaswini commented on #1203
@mdrichardson
I tried deploying it again, using westus as the location. It is not working. I checked the new .bot file for the production endpoint and also the appsettings file to check the name of the new .bot file. Everything is according to the expectation. Also I ran the 'output' and then 'run'. No errors were found.
There is no error while deployment. It says 500 directline.postActivity in Em

[2019-02-12 08:29] raghukrishnamoorthy commented on #1219
@ericdahlvang Do you mean to say we don't have to handle the conversation Id like you've done once the PR gets merged?

[2019-02-12 13:51] wilhen01 commented on #46
Bump! 💯

Currently googling around for examples of how to Unit Test the v4 BotBuilder SDK in NodeJS and there is basically nothing out there, a few blog posts about v3 but nothing current.

[2019-02-12 15:46] fhe-fr commented on #1209
Hi,
I resinstall everything and it works well now.
Thanks
    On Monday, February 11, 2019, 07:18:02 PM PST, Steven Kanberg <notifications@github.com> wrote:

@fhe-fr, I've tried reproducing the issue using following the sample's README.md, however I have been unsuccessful in doing so. I'm wondering:

   - Did you change any of the code after the msbot deployment process finished but before you ra

[2019-02-12 15:56] mdrichardson commented on #1203
Interesting. That's an error that should pop up in the console when testing locally. I'll update the readme and add a step to check the LUIS name.

[2019-02-12 16:47] sgellock commented on #1218
A couple of things will drive getting this fix into the portal.  Currently we are close to releasing 4.3.  I’ll update portal templates to use the 4.3 release.  I don’t see this landing before early March.  That said, a workaround would be to download the code from the portal, apply the fix referenced in the #1223 and az bot publish the local change back up to the portal.

[2019-02-12 16:48] EricDahlvang commented on #1219
The PR is to update the sample so it correctly modifies these properties: https://github.com/Microsoft/BotBuilder-Samples/pull/1222

[2019-02-12 19:06] #1208 closed

[2019-02-12 19:14] JonathanFingold commented on #1158
The links to the ruleset in the [StyleCop - C#](https://github.com/Microsoft/BotBuilder-Samples/blob/master/SPEC.md#stylecop---c) section are broken.

[2019-02-12 19:27] mdrichardson commented on #1203
I deployed again using the steps I provided above and got all three endpoints (1x development, 2x production) working in emulator, tested successfully in Test in Web Chat, and also tested successfully using the embedded Web Chat iframe.

Maybe you need to update msbot with `npm i -g msbot`?

When you run the `msbot clone services...` command, do you get *any* errors in the console window? Like thi

[2019-02-12 20:39] sgellock commented on #1158
@JonathanFingold what does this have to do with SPEC.md?

[2019-02-12 21:08] EricDahlvang commented on #159
The V3 intelligence-SpeechToText sample is fixed with this PR: https://github.com/Microsoft/BotBuilder-Samples/pull/1226 It is now using Cognitive Services Speech, instead of the deprecated Bing Speech.

[2019-02-12 21:08] #159 closed

[2019-02-12 21:10] EricDahlvang commented on #185
The V3 intelligence-SpeechToText sample is fixed with this PR: https://github.com/Microsoft/BotBuilder-Samples/pull/1226 It is now using Cognitive Services Speech, instead of the deprecated Bing Speech.

[2019-02-12 21:10] #185 closed

[2019-02-12 21:10] EricDahlvang commented on #172
The V3 intelligence-SpeechToText sample is fixed with this PR: https://github.com/Microsoft/BotBuilder-Samples/pull/1226 It is now using Cognitive Services Speech, instead of the deprecated Bing Speech.

[2019-02-12 21:10] #172 closed

[2019-02-12 23:07] #1080 closed

[2019-02-12 23:25] cleemullins commented on #1080
I've updated the VSIX, and tested. The test team is doing a regression now and I'll push to the Marketplace as soon as they're done. Version is 4.2.2.

[2019-02-13 04:42] nstejaswini commented on #1203
The problem with sample 3 is gone. It is working. I was talking about the 12.nlp-with-luis. I got that working too. In the readme, a note is given about updating the LuisKey value in LuisBot.cs while testing it locally. It worked locally. When I deployed it on Azure, I had to change the LuisKey value again. But without updating it I tried testing it on Emulator as there were no errors on console.

[2019-02-13 10:43] raghukrishnamoorthy commented on #1219
This hack will cause a problem. Think of this scenario. When you open the same HTML in a new tab, the history gets rendered there alright. But if you go back to the old tab now, the entire chat window has the original chat followed by history rendered again. This would look like the same conversation repeating once more in the first window. If you open another window, the conversation history gets

[2019-02-13 16:02] mdrichardson commented on #1203
Gotcha. I'm going to close this issue and submit a pull request to update the readme to ensure that the deployed bot has the correct LuisKey. I believe `msbot clone services...` causes a change to the `.bot` file that causes the error when deploying. We'll be getting rid of `.bot` files soon, so this shouldn't be an issue in the future.

[2019-02-13 16:02] #1203 closed

[2019-02-13 19:13] EricDahlvang commented on #1219
Hi @raghukrishnamoorthy

How are you loading webchat?  What sort of behavior do you expect?

I'm not sure this is actually an issue with the sample itself.  The comments for **SendConversationHistoryAsync** are as follows:

The sample was not previously doing this, but is now.  Previously, the sample did not show the history sent with the call to SendConversationHistoryAsync in WebChat or the Emul

[2019-02-13 22:07] cleemullins commented on #1073
This has been resolved, exactly as @brandonh-msft has called out. The revised VSIX was pushed to the Visual Studio Marketplace yesterday.

[2019-02-13 22:07] #1073 closed

[2019-02-13 22:16] CoHealer commented on #1209
Closing as resolved

[2019-02-13 22:16] #1209 closed

[2019-02-14 06:04] nstejaswini opened #1232 "How to deploy on Azure"
### Github issues for [C#]
## Sample information
1. Sample language: dotnetcore
2. Sample name: 11.qnamaker

## Describe the bug
There is no information about how to deploy the sample on Azure.

## To Reproduce
Steps to reproduce the behavior:
1.	Created a QnAMaker service on Azure and imported the .tsv file on qnamaker.ai
2.	Update the values in .bot file of qna service. Also update the QnAMakerK

[2019-02-14 06:05] nstejaswini opened #1233 "Syntax error of msbot clone command"
### Github issues for [C#]
## Sample information
1. Sample language: dotnetcore
2. Sample name: 14.nlp-with-dispatch

## Describe the bug
	Error while running  ‘msbot clone’ command. It says “The syntax of the command is incorrect” or “was unexpected this time”.
## To Reproduce
Steps to reproduce the behavior:
         1.Install the required tools.
         2.Run msbot clone command.
	- When I gi

[2019-02-14 06:07] nstejaswini opened #1234 "Production endpoint doesn't work"
### Github issues for [C#]
## Sample information
1. Sample language: dotnetcore
2. Sample name: 14.nlp-with-dispatch

## Describe the bug
The production endpoint in emulator doesn’t work.
## To Reproduce
Steps to reproduce the behavior:
1.	Install the required tools
2.	Run msbot clone
3.	Update NlpDispatchBot.cs.
-After updating it, the sample doesn’t work on Emulator.
It should be published on to

[2019-02-14 06:29] nstejaswini opened #1235 "Error : No bot.recipe file found"
### Github issues for [C#]
## Sample information
1. Sample language: dotnetcore
2. Sample name: 30.asp-mvc-bot

## Describe the bug
When I run the msbot clone command an error occurs,
No bot.recipe file found under deploymentScripts/msbotClone. Please provide the folder that contains the recipe file
## To Reproduce
Steps to reproduce the behavior:
         1. Run it locally on Visual Studio.

[2019-02-14 09:54] nstejaswini opened #1236 "Production Endpoint shows Post 500 error"
### Github issues for [C#]
## Sample information
1. Sample language: dotnetcore
2. Sample name: 51.cafebot

## Describe the bug
Can’t test the bot on Production endpoint on Emulator and also on WebChat on Azure
## To Reproduce
Steps to reproduce the behavior:
1.	Install the prereqisites.
2.	Run the az login and select the subscription after getting the path to the solution folder.
3.	Run msbot clo

[2019-02-14 17:56] mdrichardson commented on #1235
Looks like there isn't a bot.recipe file included in the sample. I'll have a PR up for this shortly.

[2019-02-14 20:08] mdrichardson commented on #1233
This is a rare issue, but seems to pop up occasionally due in large part to whether `appSecret` contains special characters and in small part to the console the user uses.

The PR above will close that.

[2019-02-14 21:42] mdrichardson commented on #1234
I received the same error when running the sample per instructions. I think the issue is the step where you create the `.bot` file. When you run `msbot clone services...`, it creates a new `.bot` file so you again have to update your `appsettings.json`. I'll submit a PR that corrects this.

[2019-02-15 00:39] mdrichardson commented on #1236
There seems to be a replicable issue with this sample. I'm not sure how specific it is to this bot, but it deserves it's own issue, so I'll open a new one. But for some reason, the `.bot` file doesn't upload to the Azure App Service. You have to manually upload it.

I also noticed that the README lacks changing some of the `LuisConfiguration`s in other files, so I'll submit a PR for those.

Other

[2019-02-15 01:18] mdrichardson commented on #1211
I was able to replicate this issue and will be working on a fix for it tomorrow.

[2019-02-15 11:48] PDVSeven opened #1242 "Proactively send a message to the user via skype"
How to make the bot start a conversation with Skype at any time in an active way

[2019-02-15 11:56] PDVSeven opened #1243 "Error in Luis: 'Forbidden'"
Hello,
In samples, all luis returns exception: 'Operation returned an invalid status code 'Forbidden'
Even making a new empty project in Azure, the same error occurs with all the default settings

[2019-02-15 15:44] mdrichardson commented on #1211
Looks like [this direction is already specified in the README](https://github.com/Microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/14.nlp-with-dispatch#configure-the-dispatch-application):

Since I missed that as well, I'll submit a PR to make that step more prominent.

[2019-02-15 17:05] jwiley84 commented on #1242
The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/BotBuilder-samples) repos are the preferred platform for submitting **bug fixes** and **feature requests**.

[2019-02-15 17:05] #1242 closed

[2019-02-15 20:33] v-kydela commented on #1243
Hello. Did you configure your bots to use valid LUIS endpoints and keys?

[2019-02-15 21:15] stevengum opened #1246 "Empty bot templates should use env variables for credentials"
Currently the code is:

[code]
Instead we should change it to as follows:

[code]

So that if users deploy this bot to a newly created Web App bot, it pulls in the creds as expected from the Application Settings.

This probably needs to happen on C# as well.

[2019-02-16 14:09] vishnu2017 opened #1248 "Human Handoff Status Update"
Do we have any plans of rolling out the human hand off feature as a sample for node and C# - **GA**

[2019-02-16 18:30] seank-com commented on #1211
Thanks!

[2019-02-16 22:54] #1246 closed

[2019-02-16 23:55] #1171 closed

[2019-02-17 17:08] yochay commented on #726
@Kaiqb moving this to 4.4 as we have not integrated the AI code from samples into the core SDK.

[2019-02-18 07:25] radezheng commented on #798
I encountered the same issue,  and I managed to find out that it's due to the default output format, which is set to "table",  I need to reset it to "json" format, by running "az confiugre".

[2019-02-18 15:10] #1155 closed

[2019-02-18 20:44] GasparAcevedoZainSouthworks opened #1252 "[VSIX Template] Create Tool/Wizard for adding a Bot Configuration"
**Describe the solution you'd like**
It would be helpful to easily manage a Bot's project configuration, allowing the user to specify any of their different attributes. The idea is to provide a useful tool for those developers that are starting to work with their first bots.

**Describe alternatives you've considered**
Create a _Visual Studio Extension_ for managing _Bot Configurations_, where the

[2019-02-18 22:42] v-kydela commented on #1248
Do these work?

C# - https://github.com/tompaana/intermediator-bot-sample
Node - https://github.com/GeekTrainer/botframework-v4-handoff

[2019-02-19 00:56] EricDahlvang commented on #1219
@raghukrishnamoorthy Thanks again for opening this issue.  I'm closing it now, since it is resolved.

For the scenario you mentioned, with multiple windows open to the same conversation, one solution might be:

 - start a new conversation in the new window
 - send a BackChannel event containing the old window's conversationId in ChannelData
 - server side reply to the event, sending the old window

[2019-02-19 00:56] #1219 closed

[2019-02-19 21:21] liliankasem opened #1255 "Deployment script for typescript bot generator doesn't work"
## Sample information
1. Sample type:` \generators`
2. Sample language: node, typescript
3. Sample name: `generators/generator-botbuilder/generators/app/templates/echo/deploymentScripts`

## Describe the bug
The ` webConfigPrep.js` file provided by the yeoman generate for the typescript bot is wrong (at least it didn’t work for me using Deployment Centre -> Azure Pipelines for CI/CD). It was looki

[2019-02-19 21:56] corinagum opened #1256 "samples/javascript_es6/01.a.browser-echo/ - update with Web Chat latest"
**Is your feature request related to a problem? Please describe.**
I noticed that the browser-echo sample in javascript_es6 is using an old version of Web Chat, but links to v4. Let's update it to use latest Web Chat so as not to confuse our customers. There are also links to the Web Chat Adapter that are broken.

**Describe the solution you'd like**
Let's update the sample to use v4 of Web Chat.

[2019-02-20 00:51] 01 commented on #1248
Yes the botframework-v4-handoff works

[2019-02-20 17:16] v-kydela commented on #1248
@vishnu2017 - Does that resolve your issue?

[2019-02-20 19:06] CKGrafico opened #1257 "Know the number of attempts inside a validation"
**Is your feature request related to a problem? Please describe.**
Know the number of attempts in the same validation.

**Describe the solution you'd like**
PromptValidatorContext should have the number of attempts in the same validation.

**Additional context**
[code]

We have a code similar to this and we want to cancel the dialog after some attempts.
Example:
[code]

[2019-02-20 21:25] EricDahlvang opened #1258 "Conversation History Sample for Node"
This sample should also exist in the Node list:

https://github.com/Microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/22.conversation-history

[2019-02-21 07:01] EricDahlvang commented on #1258
https://github.com/EricDahlvang/BotBuilder-Samples/blob/eric/node_conversationHistory/samples/javascript_nodejs/22.conversation-history/README.md

I'll make updates, and a PR once the node sample structure is decided.

[2019-02-22 00:18] piplupnoil opened #1261 "Keynotfound exception for dialogstate or accessors' states"
Whenever I run any dotnet bot samples that involves bot accessors, I get "Keynotfound" exceptions eg:
<img width="846" alt="capture" src="https://user-images.githubusercontent.com/37196330/53210801-f9748980-35f3-11e9-9487-2ec3d1517948.PNG">
This was from the multilingual bot.

Any solutions?

[2019-02-22 18:08] ceciliaavila opened #1263 "[Feature Request] Add Dialogs Template to a project from a Context Menu"
**Is your feature request related to a problem? Please describe.**
I would like to be able to add Dialogs to a bot project from a Context Menu. It should help those developers that are starting to work with their first bots.

**Describe alternatives you've considered**
Create a Visual Studio Extension for adding the classes and accessors needed to use Dialogs in a bot project. The user should pres

[2019-02-22 18:26] ryanlengel opened #1285 "Intro card is using incorrect "isSubtle" property with "yes" rather than "true""
**Project**

Virtual Assistant

**Description**

The `isSubtle` property uses a true/false boolean, but the VA is currently using the string "yes" for true. This appears to render correctly in Emulator/Web Chat but it fails with the Android Adaptive Cards SDK.

1. Bot send json attachment with correct `isSubtle` usage.
2. Bot is received by Direct Line with incorrect `isSubtle` implementation

**T

[2019-02-22 19:20] stevkan commented on #1216
Closing due to lack of response.

[2019-02-22 19:20] #1216 closed

[2019-02-25 17:38] v-kydela commented on #1243
@PDVSeven - Are you still working on this?

[2019-02-25 17:38] v-kydela commented on #1248
@vishnu2017 - Are you still working on this?

[2019-02-26 20:14] ParadoxARG opened #1269 "[DotNet][51.cafe-bot] Deploy to Azure not working correctly"
## Sample information
1. Sample type: \samples
2. Sample language: dotnetcore
3. Sample name: 51.cafe-bot

## Describe the bug
When deploying to Azure using `msbot clone services` the `.bot` files are not being deployed.

This is because Azure deploy script checks on the `.csproj` file for all the items that must be copied from the project folder and this sample is missing the configuration to inc

[2019-02-27 08:23] vflorusso opened #1272 "Update this sample to the latest SDK syntax"
### The c# implementation of the Bot sample source still uses deprecated way of state management

When compiling in VS 2017 with Bot Framework v4 the following code in the **startup.cs** class triggers an alert for an OBSOLETE use
[code]
In the VSIX for the Echo bot the same code looks like
[code]
This seems to be consistent across all samples.
When built and run the sample works fine anyhow, but

[2019-02-27 15:32] ParadoxARG commented on #1269
Fixed on PR #1245. Closing Issue.

[2019-02-27 15:32] #1269 closed

[2019-02-27 17:14] jwiley84 commented on #1261
Have you put your translation key into the bot?

[2019-02-27 17:59] piplupnoil commented on #1261
Yes I have put the translation key in the appsettings file.

[2019-02-28 10:22] aishjain opened #1277 "Error: Cannot find module '../SearchDialogLibrary'"
🚨 The issue tracker is not for questions 🚨

If you have a question, please ask it on https://stackoverflow.com/questions/tagged/botframework

[question]
I am getting this error, cant run the code. What to do?

[2019-02-28 16:15] jwiley84 commented on #1277
Hi @aishjain! There is no information here for us to be able to help you. Can you clarify what sample you were running when you got this?

[2019-02-28 18:10] EricDahlvang commented on #1277
@aishjain The V3 samples have been moved to the v3-sdk-samples branch.

SearchDialogLibrary can be found here:

https://github.com/Microsoft/BotBuilder-Samples/tree/v3-sdk-samples/Node/demo-Search/SearchDialogLibrary

[2019-03-01 19:51] v-kydela commented on #1243
Closing due to lack of activity

[2019-03-01 19:51] #1243 closed

[2019-03-01 19:53] v-kydela commented on #1248
Closing due to inactivity

[2019-03-01 19:53] #1248 closed

[2019-03-01 21:30] #1232 closed

[2019-03-01 21:30] sgellock commented on #1233
Fixed with PR #1239

[2019-03-01 21:30] #1233 closed

[2019-03-01 21:34] sgellock commented on #1235
this was a temporary sample that we used to drive some design points.  the patterns are being used as the basis for an initial set of samples that will ship in 4.3.

[2019-03-01 21:34] #1235 closed

[2019-03-01 21:35] sgellock commented on #1236
We are removing this bot from our samples.

[2019-03-01 21:35] #1236 closed

[2019-03-01 21:44] sgellock commented on #1277
we believe the customer has been helped.

[2019-03-01 21:44] #1277 closed

[2019-03-04 14:42] ivorb opened #1284 ".bot file not set to "Copy always" for copying to output directory"
The sample bot user tried, https://github.com/Microsoft/BotFramework-Samples/tree/master/SDKV4-Samples/dotnet_core/StateBot, doesn't have .bot file's property "Copy to Output Directory" is set to "Copy always" - which makes deploying not work. Can we update that setting in our sample? most samples have it correctly set.

[2019-03-04 15:55] darrenj commented on #1285
Transferring as this is an issue in the "basic bot template" which is in many of the samples and the base bot template used in ABS

[2019-03-04 16:03] mdrichardson commented on #1234
My mistake. This should've been closed. User missed steps in README that mentions updating `appsettings.json` with the name of the new `.bot` file

[2019-03-04 16:03] #1234 closed

[2019-03-04 17:03] EricDahlvang commented on #1284
Closing since https://github.com/Microsoft/BotFramework-Samples/pull/66 is a PR to fix the issue. (Note: the StateBot is actually in BotFramework-Samples, not BotBuilder-Samples)

[2019-03-04 17:03] #1284 closed

[2019-03-04 19:14] CoHealer commented on #1261
@tdurnford, can you please assist?

[2019-03-04 21:13] CoHealer commented on #250
Resolved, answer provided

[2019-03-04 21:13] #250 closed

[2019-03-04 23:27] CoHealer commented on #252
Closing due to age of posting. If you still want help with this issue, please respond and I will reopen.

[2019-03-04 23:27] #252 closed

[2019-03-04 23:44] CoHealer commented on #184
Closing, received no response

[2019-03-04 23:44] #184 closed

[2019-03-04 23:58] tdurnford commented on #1261
@piplupnoil

Are you just opening the sample, adding your translation key from your Azure Cognitive Service, building and running the project?

[2019-03-05 17:36] EricDahlvang commented on #151
This sample can now be found here: https://github.com/Microsoft/BotBuilder-Samples/blob/v3-sdk-samples/Node/core-DirectLine/DirectLineClient/package.json  It is using swagger-client 2.1.18 and works as expected.

[2019-03-05 17:52] EricDahlvang commented on #92
The sample is responding to [ConversationUpdate](https://github.com/Microsoft/BotBuilder-Samples/blob/v3-sdk-samples/CSharp/demo-ContosoFlowers/ContosoFlowers/Controllers/MessagesController.cs#L59) This ActivityType is not sent by Skype.  ContactRelationUpdate should be used to send a welcome message on the Skype channel.

[2019-03-05 17:52] #92 closed

[2019-03-05 18:03] EricDahlvang commented on #152
I apologize you did not receive a timely answer here.  Cards, images and buttons function as expected in the Direct Line channel.

Closing this due to age.  In the future, please ask 'How To' type questions on [Stack Overflow](https://stackoverflow.com/search?q=botframework)

[2019-03-05 18:03] #152 closed

[2019-03-05 20:10] EricDahlvang commented on #169
An EntityExtractor excluding 365 as a number (or 10, for 'windows 10'), if overlapping with another entity, could be something like this:

[code]

You could also use the PropertyInfo, and check fields on the attributes:
[code]

[2019-03-05 20:10] #169 closed

[2019-03-05 20:23] EricDahlvang commented on #168
This could probably be done using [RealTimeMediaCalling ](https://github.com/Microsoft/BotBuilder-RealTimeMediaCalling) as a starting point.

Some documentation can be found here: https://docs.microsoft.com/en-us/azure/bot-service/dotnet/bot-builder-dotnet-real-time-media-concepts?view=azure-bot-service-3.0

[2019-03-05 20:23] #168 closed

[2019-03-05 20:56] EricDahlvang commented on #245
Since the client side code responds to the OpenUrl, there is no way to know when or if the user has clicked it.  However, you can provide a parameterized endpoint and redirect to the intended url.  Based on the paramter server side, a proactive message could be sent to the user from the bot.  More on proactive messaging can be found here: https://docs.microsoft.com/en-us/azure/bot-service/bot-buil

[2019-03-05 20:56] #245 closed

[2019-03-05 21:13] EricDahlvang commented on #166
InternalServerError generally indicates an issue in the bot code.  Debugging locally is a good way to diagnose these issues: https://blog.botframework.com/2017/10/19/debug-channel-locally-using-ngrok/

[2019-03-05 21:13] #166 closed

[2019-03-05 21:18] #187 closed

[2019-03-05 21:25] EricDahlvang commented on #206
Luis Action Binding library is now in this repository: https://github.com/Microsoft/BotBuilder-CognitiveServices

[2019-03-05 21:25] #206 closed

[2019-03-05 21:30] #200 closed

[2019-03-05 21:31] EricDahlvang commented on #200
Cannot reproduce this issue.

[2019-03-05 21:37] EricDahlvang commented on #188
Emulator V4 does not currently support payments: https://github.com/Microsoft/BotFramework-Emulator/issues/1324

The V3 emulator can be downloaded from https://github.com/Microsoft/BotFramework-Emulator/releases/tag/v3.5.37 and works with the payments sample

[2019-03-05 21:37] #188 closed

[2019-03-05 21:54] EricDahlvang commented on #241
Localization of prompts in node Bot Builder V3 is explained here: https://docs.microsoft.com/en-us/azure/bot-service/nodejs/bot-builder-nodejs-localization?view=azure-bot-service-3.0#localize-prompts

The LuisActionBinding library is now in this repository: https://github.com/Microsoft/BotBuilder-CognitiveServices/tree/master/CSharp/Samples/LuisActions

[2019-03-05 21:54] #241 closed

[2019-03-05 22:02] EricDahlvang commented on #191
core-DirectLine can now be found here: https://github.com/Microsoft/BotBuilder-Samples/tree/v3-sdk-samples/Node/core-DirectLine and it uses ^2.1.18 and works as expected

[2019-03-05 22:02] #191 closed

[2019-03-06 00:04] EricDahlvang commented on #190
Closing this due to inactivity.

[2019-03-06 00:04] #190 closed

[2019-03-06 00:17] EricDahlvang commented on #229
Some bot deployment options can be found here: https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-deploy-az-cli?view=azure-bot-service-4.0

I apologize you did not receive timely assistance here. Closing this due to age.

[2019-03-06 00:17] #229 closed

[2019-03-06 00:34] EricDahlvang commented on #224
As @dkbhadeshiya pointed out, you could create multiple socket connections using different streamUrls. This sample is a console application, with just one conversation.

Closing due to inactivity.

[2019-03-06 00:34] #224 closed

[2019-03-06 01:08] EricDahlvang commented on #165
The sdk and framework now provide authentication support.  Some documentation: https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-authentication?view=azure-bot-service-4.0&tabs=javascript  and sample: https://github.com/Microsoft/BotBuilder-Samples/tree/master/samples/javascript_nodejs/18.bot-authentication

After a successful login, messages can be processed by LUIS.

[2019-03-06 01:08] #165 closed

[2019-03-06 01:13] EricDahlvang commented on #227
This well maintained sample demonstrates routing messages between users: https://github.com/tompaana/bot-message-routing

[2019-03-06 01:13] #227 closed

[2019-03-06 06:31] xiaolangxyz opened #1293 "download Attachment And Write failed nodejs"
## Sample information
1. Sample type: 15.handling-attachments
2. Sample language:  node js
3. Sample name: 15.handling-attachments

## Describe the bug
I upload an image. The bot saved it. But the image can not open. I think it is not saved correctly
By the way, I'm just running the sample. I didn't change anything.

![1](https://user-images.githubusercontent.com/40823365/53860585-d64ece80-4024-11

[2019-03-06 09:07] SarangRapid commented on #879
this is very unfortunate for any kind of technology to give workarounds rather than giving full proof solution, tried every possible thing to get OAuthCard working in teams but no luck

[2019-03-06 23:32] seaen opened #1296 "C# QnA sample 11 is missing endpoint=production section (=>500 Internal Server error when deployed)"
## To Reproduce
1. Go to https://github.com/Microsoft/BotBuilder-Samples/blob/master/samples/csharp_dotnetcore/11.qnamaker/qnamaker.bot
2. Observe it only contains endpoint=development section.

## Issue
It is missing endpoint=production section, so it consistently gives 500 Internal Server error when this sample is published to production.

## Expected behavior
No 500 Internal Server errors.  "se

[2019-03-07 02:06] navzam opened #1299 "Graph sample breaks if user has no manager"
## Sample information
1. Sample type: /samples/javascript_nodejs/24.bot-authentication-msgraph
2. Sample language: nodejs
3. Sample name: 24.bot-authentication-msgraph

## Describe the bug
If the user that signs in does not have a manager (common in test tenants), then trying the "Me" action results in the bot saying "Oops. Something went wrong!" and a console output of
[code]
I was going to submi

[2019-03-07 03:49] sgellock opened #1300 "[V3] Update bootstrap to version "3.4.1" in CSharp/Blog-LUISActionBinding/LuisActions.Samples.Web"
V3 issue

CSharp/Blog-LUISActionBinding/LuisActions.Samples.Web/packages.config needs to be updated to use the following version of bootstrap:

<package id="bootstrap" version="3.4.1" />

[bug]

[2019-03-07 16:33] jwiley84 commented on #1296
None of the samples have a 'production' endpoint in the .bot file. This needs to be added by the developer after deployment, along with App Id and App Password.

[2019-03-07 17:10] EricDahlvang commented on #1300
Created a PR for this.  However, we should consider removing this sample from this repository entirely since it is also maintained here now: https://github.com/Microsoft/BotBuilder-CognitiveServices/tree/master/CSharp/Samples/LuisActions and the node version here: https://github.com/Microsoft/BotBuilder-CognitiveServices/tree/master/Node/samples/LuisActionBinding

[2019-03-07 17:59] piplupnoil commented on #1261
Yes that is what I'm doing

[2019-03-07 18:50] sgellock commented on #1300
@EricDahlvang RE:  removing it.  Yes.  Please do that instead.

[2019-03-07 19:18] cleemullins opened #1304 "VSIX has 4.2 dependencies. Should have 4.3"
The VSIX Project should create a bot with the latest dependencies.

[2019-03-07 21:49] EricDahlvang commented on #154
GetConversationMembers is working against the V4 emulator.

[2019-03-07 21:49] #154 closed

[2019-03-08 03:48] EricDahlvang commented on #209
I just tried the [image-caption bot](https://github.com/Microsoft/BotBuilder-Samples/tree/v3-sdk-samples/Node/intelligence-ImageCaption).  It is working as expected.  A valid MICROSOFT_VISION_API_KEY, MICROSOFT_VISION_API_ENDPOINT and internet connection are required.

[2019-03-08 03:48] #209 closed

[2019-03-08 22:26] jwiley84 commented on #1293
I was able to repro this issue using a PDF, and the v4 emulator

![image](https://user-images.githubusercontent.com/17333688/54059451-155c5b80-41ae-11e9-980e-bb3c1a929e84.png)

[2019-03-08 22:29] Zerryth commented on #1293
Same. Tried saving `.jpg` and `.png` files, which attaches to message to the bot, like the OP had done. However when trying to open the newly saved `.jpg`/`.png` files, it throws an error.

Here's the one that Microsoft Paint throws:
![image](https://user-images.githubusercontent.com/35248895/54059558-72f0a800-41ae-11e9-9853-0a13d4033d24.png)

Should test bot in webchat, as it might be a webchat-r

[2019-03-08 23:05] jwiley84 commented on #1293
Quick step repro:

- Emulator v4 (4.2.1) - Same error on `png`/`jpg`, `txt` files work as expected. Corrupts `PDF`
- Emulator v3 (3.5.3) - Same error on `png`/`jpg`, `txt` files come through with text replaced with [Object object]
- Webchat via iFrame from Azure -  Same error on `png`/`jpg`, `txt` files work as expected
- Facebook Messenger - Same error on `png`/`jpg`, `txt` files work as expected

[2019-03-08 23:07] Zerryth commented on #1293
`Emulator 3.5.36`
* can upload `.txt` and `.jpg`/`.png` attachments, without bot throwing error
* cannot open `.jpg`/`.png`. Gives error as shown about, about not liking the file type
* _can_ open `.txt` file, but the contents of the `.txt` file are replaced with only `[object Object]` written, nothing else

`Emulator 4.3.0`
* _cannot_ upload any attachments.
![image](https://user-images.githubuse

[2019-03-08 23:26] Zerryth commented on #1293
Emulator team is aware of the image upload issue and is filed [here](https://github.com/Microsoft/BotFramework-Emulator/issues/1362).

[2019-03-08 23:37] tdurnford commented on #1261
@piplupnoil

What version of the SDK are you using, are you trying to run the most up to date samples, and what platform are you running the samples on (Windos, MacOS, or Linux)? Also, could you provide a stack trace for your issue?

Thanks

[2019-03-09 00:43] mydiemho opened #1310 "Bot samples should be consistent and build on each other in an incremental fashion"
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues) / [Java](https://github.com/Microsoft/botbuilder-java/issues)/ [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for genera

[2019-03-11 07:38] iammelvin opened #1311 "User state not maintained for new users"
## Sample information
1. Sample type: Basic Bot
2. Sample language: nodejs
3. Sample name: custom state

## Describe the bug
I have created a new basic bot project using azure bot service in azure portal and I have downloaded the code to work locally.I use azure blob storage to handle user/conversation state.I am using directline api to connect to web app bot from my ionic app. When I convert that

[2019-03-11 16:44] jwiley84 commented on #1310
Hi @mydiemho!
The samples are actually in the process of being restructured at the moment. I'll make sure this gets passed on to the SDE working on them. Be sure to watach this repo to see changes coming down in the near future!

[2019-03-11 16:44] #1310 closed

[2019-03-11 18:09] tdurnford commented on #1261
@piplupnoil

After looking into the source code, it looks like the error you are seeing is a designed exception. If the key is not present in the dictionary, it will raise the error, and when it is caught, it signals IPropertyAccesor that a default value should be computed. You can take a look at the code [here](https://github.com/Microsoft/botbuilder-dotnet/blob/master/libraries/Microsoft.Bot.Bui

[2019-03-11 18:24] CoHealer commented on #1261
Closing as by design, thanks @tdurnford. @piplupnoil, if this does not address your question please let us know.

[2019-03-11 18:24] #1261 closed

[2019-03-11 18:37] #1296 closed

[2019-03-11 18:41] fhe-fr opened #1312 "botbuilder-samples\samples\javascript_nodejs\14.nlp-with-dispatch deployment issue"
I run the following command:
_msbot clone services --name "nlp-with-dispatch-v1" --luisAuthoringKey a9921503c0054c11bd9119abd6ccc5de --code-dir "." --location westeurope --sdkLanguage "Node" --folder deploymentScripts/msbotClone --verbose_

ended in error:
_Creating and importing LUIS application [nlp-with-dispatch-v1_Home Automation]
luis import application --region westeurope --appName "nlp-with

[2019-03-11 18:50] v-kydela commented on #1311
Hello @iammelvin

My first guess is that your bot isn't recognizing these users as different users and is therefore using the same user state for both of them. Remember that user state depends on a user ID retrieved from an activity object.

To help diagnose this problem, please include the following code in your `onTurn` handler and see if the users are indeed seen as distinct:

[code]

[2019-03-11 19:22] #1312 closed

[2019-03-11 19:23] fhe-fr commented on #1312
just download a new version of the sample

[2019-03-11 19:47] sgellock commented on #1285
This is being tracked here:
https://github.com/Microsoft/AI/issues/853

[2019-03-11 20:01] scheyal opened #1313 "Extra <div> in BasicBot/wwwroot/default.htm"
## Sample information
1. Sample type: Downloaded sample from ABS (BasicBot solution)
2. Sample language: [dotnetcore]
3. Sample name: ABS BasicBot code

## Describe the bug
There is an extra closing
![screenshot1](https://user-images.githubusercontent.com/8867670/54153843-c4db3d00-43fd-11e9-8fe0-a0b684e9569b.png)
![screenshot2 png](https://user-images.githubusercontent.com/8867670/54153844-c4db3d0

[2019-03-12 04:43] iammelvin commented on #1311
@v-kydela the basic bot onturn method has a greeting dialog and that dialog returns the below user data

[code]

so you saying that I should add the user Id from activity context in this response ?

[2019-03-12 16:12] v-kydela commented on #1311
@iammelvin - You should send the user ID to the user for the sake of diagnostics, though it doesn't matter where. You can alternatively just check the value while debugging.

I notice in your screenshots that the user is labeled "Demo" in both cases, and that does suggest that the user ID is the same.

[2019-03-12 16:31] v-kydela commented on #1313
[This does appear in this repo](https://github.com/Microsoft/BotBuilder-Samples/blob/master/samples/csharp_dotnetcore/13.basic-bot/wwwroot/default.htm#L420)

But you're talking about the Basic Bot template from Azure and not the Basic Bot sample from this GitHub repo, right?

[2019-03-12 17:34] Zerryth commented on #1293
Update: issue inside the emulator has been fixed.

For users who had problems simply saving the attachment to disk, you should no longer encounter the issue of uploading your attachment, even if it is an image.

C# attachments-bot runs without hiccup--saves attachment to `AppData/Temp` folder, and can open the saved attachment. However when running the node bot, attachment can upload, but when try

[2019-03-12 17:44] stevengum opened #1315 "Need aka.ms/connect-to-bot link"
## Sample information
4.3.x Node.js samples

## Describe the bug
Need a link/doc for this aka.ms link: https://aka.ms/connect-to-bot (or we replace or remove the link)

This link should have info on how to connect to a bot with and without a botfile using the 4.3 emulator.

FYI @cwhitten

[2019-03-13 10:03] iammelvin commented on #1311
@v-kydela Thanks I changed that Id as something unique now in my blob storage I have different blobs for each users. But is there something I need to manage in my code by checking the user Id each time against the blob storage values of that user or bot framework does that ?

[2019-03-13 12:46] vaatsalya opened #1321 "form validation in adaptive card"
Hi Team,
I am developing a bot in sdk v4 using node js. I have a form in a bot and need to validate the fields like email, phone number etc. Is there a way to do it?

[2019-03-13 16:48] tdurnford commented on #1321
The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/BotBuilder/blob/master/README.md) repos are the preferred platform for submitting **bug fixes** and **feature requests**.  When you post your question on StackOverflow, please elabora

[2019-03-13 16:48] #1321 closed

[2019-03-13 18:34] v-kydela commented on #1311
@iammelvin - The Bot Framework does automatically use the user ID from the turn context's activity to access user state. For that to happen, it also automatically populates incoming activities with an appropriate user ID. But since you're using your own Direct Line client, I think you have a lot of control over how that happens and so it's difficult to answer your question completely without seein

[2019-03-13 21:28] #1293 closed

[2019-03-14 04:02] sgellock commented on #1285
The current template code in PPE is using this fix.  ETA on public availability is last week of March, 1st week in April.

[2019-03-14 04:02] #1285 closed

[2019-03-14 15:57] sowsan opened #1328 "Is there a sample for Azure Search like we had in v3?"
**Describe the solution you'd like**
Samples on V4 using Azure Search like we had for v3 : https://github.com/Microsoft/BotBuilder-Samples/tree/v3-sdk-samples/CSharp/demo-Search

[2019-03-14 17:17] sgellock commented on #1313
The next round of portal updates will contain this fix.

[2019-03-14 17:17] #1313 closed

[2019-03-14 23:27] stevkan commented on #1299
@navzam, The purpose of the API calls are simply to demonstrate how it can be done within a bot. Manager was chosen as it's a simple fetch and is inline with getting a user's name. I submitted PR #1276  that handles whether a user has a manager or not and provides an appropriate response, as such.

Closing the issue as resolved. Please feel free to re-open if you have more to add.

[2019-03-14 23:27] #1299 closed

[2019-03-15 00:06] EricDahlvang commented on #1328
Hi @sowsan

There's this PR that has not yet been merged: https://github.com/Microsoft/BotBuilder-Samples/pull/697

[2019-03-18 04:25] xtianus79 opened #1337 "How do we know when the luis endpoint becomes available? It's confusing"
🚨 The issue tracker is not for questions 🚨

If you have a question, please ask it on https://stackoverflow.com/questions/tagged/botframework

[question]

I don't know if this is a question or an issue but how do you know when the endpoint is available remotely?

[2019-03-18 07:14] iammelvin commented on #1311
@v-kydela Ok I have unique user id for each user and each user state is saved separately in blob storage but as per your previous post the bot framework handles user state but I still get data mixed up between users.I haven't added any extra code I am working with the basic bot created using azure services.The only thing I have done is added blob storage.

[2019-03-18 13:06] sebastianzolg opened #1338 "OAuthPrompt ending the current WaterfallDialog"
## Sample information
1. Sample type: [18.bot-authentication
](https://github.com/Microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/18.bot-authentication)
2. Sample language: dotnetcore
3. Sample name: 18.bot-authentication

## Describe the bug
The step DisplayTokenAsync, which ist the last step in the WaterfallDialog "authDialog", is not reached after returning from prompt "Would

[2019-03-18 13:24] sebastianzolg commented on #989
Can we re-open this issue? I stumbled across the same question/issue as there is truly not an obvious way of doing it.

Given a WaterfallDialog with various steps, when any of the steps requires a user token, then there is no obvious way in getting the user token and the prompt result.

`
WaterfallDialog[]
{
SayHello
PromptCapacity
PomptAreYouSoure
DoAuthenticatedAction
DisplaySomething
DoAnotherA

[2019-03-18 16:08] sebastianzolg commented on #1338
Solved with PR #1339 . It is confusing having this sample not working completely without state save, specially when you're working on OAuth flow which would let you think something is wrong with the flow while testing/learning.

[2019-03-18 16:53] #1328 closed

[2019-03-18 17:40] stevkan commented on #1337
Hi @xtianus79, can you please elaborate on your question? I'm not following what you mean when you say "luis endpoint becomes available". Assuming you have configured LUIS correctly, the endpoint is always available.

[2019-03-18 18:54] v-kydela commented on #989
Hi @sebastianzolg

I don't think this issue should be reopened unless the original commenter says they are still facing this issue. I think the thing to do would be to open your own issue and link to this one. Please provide repro steps to make it easier to help you.

[2019-03-18 20:31] sgellock commented on #1338
This is fixed in the samples-work-in-progress branch.  We will be merging that branch into master within a week or so, but if you need the fix now, that's where you can get it

[2019-03-18 21:06] EricDahlvang commented on #1300
Closing (PR removing the V3 Action Binding samples has been merged)

[2019-03-18 21:06] #1300 closed

[2019-03-18 21:53] sebastianzolg commented on #1338
Thanks! Quickly checked the samples and they seem to follow a new design. Is there any information what exactly is now advised? Webapi/controllers or more the style of e.g. the enterprise bot template (which I like very much).

So, where can we follow the thoughts on refactoring the samples?

[2019-03-18 22:20] sgellock commented on #1338
The samples-work-in-progress branch has the patterns introduced as part of the 4.3 release.  These are the patterns that we will be using in all our samples going forward and also these are the patterns we are recommending when using 4.3 or greater

[2019-03-18 22:40] sebastianzolg commented on #1338
Great. Is there a doc explaining what and why it was introduced with 4.3 and what the design considerations are? Or is this something the bot framework team came up with internally, promoting this through changing the samples?

What I found hard in learning v4 was the constant change and the various ways in doing things.

What will happen to the enterprise bot template? Is that still a recommended

[2019-03-18 23:25] sgellock commented on #1338
docs to support 4.3 should be landing on or about March 25.  the design was driven by customer feedback around the desire to formalize the activity protocol more formally into the programming model.  these changes are additive, so if you look at them and you don't like them, you won't be forced to use them.  that said, it was our goal that they simply handling the core behavior of the activity pro

[2019-03-18 23:25] #1338 closed

[2019-03-19 02:32] xtianus79 commented on #1337
@stevkan when i was doing the sample tutorial nbs luisbot it said give the luis app time to setup 5 minutes should be fine.  But is there a better way to know when the luis app endpoint is available?

[2019-03-19 14:23] sebastianzolg opened #1342 "WaterfallStep ended by OAuthPrompt - Advise on proper dialog flow needed"
## Sample information
1. Sample type: [18.bot-authentication
](https://github.com/Microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/18.bot-authentication)
2. Sample language: dotnetcore
3. Sample name: 18.bot-authentication

Similar Issues: #989

## Describe the bug
The calling WaterfallStep is ended when prompting for user login several times during a conversation. Thus there is

[2019-03-19 14:25] sebastianzolg commented on #989
Hi @v-kydela

Thanks for letting me know. I've opened #1342 which is basically what @jonathanhotono tried explaining in this issue. Would be great if you could have a look.

[2019-03-19 15:27] kashifkhan commented on #1220
Will these ARM templates also work for V3 bots ?

[2019-03-19 20:52] v-kydela commented on #1342
@sebastianzolg - What channel are you using?

[2019-03-19 22:25] sebastianzolg commented on #1342
@v-kydela Bot Emulator 4.3.3 and Cortana. What ever I do, EndDialog called on WF context will end the currently running steps and proceed to the next. As a workaround I have now sort of an intermediate step before any step that needs a token.

This step is collection the previous steps result, storing it, handling the tokenRequest and then calling EndDialog passing a custom AuthenticationTurnResul

[2019-03-20 00:27] v-kydela commented on #1311
@iammelvin - From your screenshots, it doesn't look like data is getting mixed up between users. What it looks like is that in some cases it interprets a user's name as both a name and a city. Is that correct?

My guess is that the Basic Bot's `UpdateGreetingState` method is updating the user's city because your LUIS app thinks "Vivek" is a city name. There are a few ways you can test this theory.

[2019-03-20 19:39] stevkan commented on #1337
No, to my knowledge there is no indicator that is returned stating when the LUIS app is available. It's a matter of simply testing. Out of curiosity, can you link the sample you were following?

[2019-03-21 17:02] stevengum opened #1346 ".dotnetcore Basic Bot missing intent property on BookingDetails model"
## Sample information
1. Sample type: samples\samples-work-in-progress
2. Sample language: dotnetcore (webapi unknown)
3. Sample name: Core Bot/Basic bot

## Describe the bug
bookingDetails in JS and BookingDetails in TS include an `intent` property for more informative logging. `intent` is not on the BookingDetails model in the .dotnetcore sample.

[bug]

[2019-03-22 00:12] v-kydela commented on #1342
@sebastianzolg - I believe I've figured out what's going on here. In the case of the token already being available, an `OAuthPrompt` calls `EndDialogAsync` from within its [`BeginDialogAsync`](https://github.com/Microsoft/botbuilder-dotnet/blob/master/libraries/Microsoft.Bot.Builder.Dialogs/Prompts/OAuthPrompt.cs#L109):

And a `DialogContext` calls `ResumeDialogAsync` from within its [`EndDialogAs

[2019-03-22 18:01] JonathanFingold opened #1349 "Multi-turn-prompt still uses "root" as its ID"
## Sample information
1. Sample type: [\samples\]
2. Sample language: [dotnetcore]
3. Sample name: 05.multi-turn-prompt
4. Branch: **samples-work-in-progress**

## Describe the bug
The component dialog hard-codes its ID as `root`.

## To Reproduce
Steps to reproduce the behavior:
1. Look at https://github.com/Microsoft/BotBuilder-Samples/blob/7695212c2eb3dc22df7c86355407494626f28f13/samples/csharp

[2019-03-22 18:53] JonathanFingold opened #1350 "multi-turm-prompt has a bug in its custom validator"
## Sample information
1. Sample type: [\samples\]
2. Sample language: [dotnetcore]
3. Sample name: 05.multi-turn-prompt
4. Branch: **samples-work-in-progress**

## Describe the bug
Custom validator code is incomplete. (Non-numeric input passes validation)

## To Reproduce
Steps to reproduce the behavior:
1. Run the bot.
2. Progress through the dialog and agree to let it gather your age.
3. Enter a

[2019-03-24 15:49] sebastianzolg commented on #1342
Many thanks @v-kydela for the brief explanation. In my opinion this is something that people might struggle with. I've edited my forked sample to have a minimum version of [my workaround](https://github.com/sebastianzolg/BotBuilder-Samples/commit/61c06c1bef82b558a095b98bb6972e0847e05165) included.

This way people can see a more complex scenario with multiple phases while maintaining the previous

[2019-03-25 15:59] v-kydela commented on #1342
Thanks @sebastianzolg

I'm closing this issue as resolved

[2019-03-25 15:59] #1342 closed

[2019-03-25 22:20] v-kydela commented on #1311
@iammelvin - Are you still working on this?

[2019-03-26 23:57] stevkan commented on #1337
Closing due to lack of response. If you have additional questions on this issue, please feel free to re-open.

[2019-03-26 23:57] #1337 closed

[2019-03-27 04:54] iammelvin commented on #1311
@v-kydela Hi sorry for the late response and thanks for the help.The issue was with the userprofile update  method which uses LUIS to return entity and update the user name and city.

Btw it would be great to see an example in which I can switch from the active dialog to other dialog when the user interrupts.Any idea how to do that ?

[2019-03-27 20:15] xtianus79 commented on #1337
@stevkan the sample I will have to find

[2019-03-28 00:05] daveta opened #1361 "[nodejs/typescript] App Insights samples missing bot properties"
## Sample information
1. Sample type: \samples\ and \solutions\
2. Sample language: nodejs and typescript
3. Sample name:
[21.luis-with-appinsights](https://github.com/Microsoft/BotBuilder-Samples/blob/master/samples/javascript_nodejs/21.luis-with-appinsights/index.js#L119)
[20.qna-with-appinsights](https://github.com/Microsoft/BotBuilder-Samples/blob/master/samples/javascript_nodejs/20.qna-with-a

[2019-03-28 09:44] MounikaPedapati opened #1364 "How to send local images in microsoft botframework sdk v4 using c#??"
## This is not for asking questions or filing bugs

To get help with an issue with your bot
* ["How To"](https://stackoverflow.com/help/how-to-ask) questions should be submitted on [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) where there is a robust community to help you

To file an issue against a component please go to the components repo
* [Create Azure Bot Framewor

[2019-03-28 17:34] v-kydela commented on #1311
@iammelvin - Let me see if I understand. You want the same functionality of being able to update the greeting state, but instead of updating it as an additional action on the same turn that current dialog is processed, you want the state to be updated in its own dialog and handle that on its own turn. In addition to that, you want a prompt to check if the user wants to continue an interruption onc

[2019-03-29 20:12] benbrown commented on #1361
You should chat with @daveta because he also discovered this bug and may have fixed it elsewhere.

[2019-03-29 20:14] benbrown commented on #46
V4 has a lot more testing infrastructure, and a lot more coming soon.  We are not planning on going back to v3 to add anything new like this.

[2019-03-29 20:14] #46 closed

[2019-03-29 20:16] benbrown commented on #75
This should be possible.  It's unlikely that we'll provide a running sample of working with AWS, but the knowledge is out there on Stack Overflow and in the broader developer community.

[2019-03-29 20:16] #75 closed

[2019-03-29 20:17] #117 closed

[2019-03-29 20:18] benbrown commented on #170
Here is an updated link to the code in question:
https://github.com/Microsoft/BotBuilder-Samples/tree/v3-sdk-samples/Node/core-proactiveMessages/startNewDialog

[2019-03-29 20:22] #213 closed

[2019-03-29 20:23] #225 closed

[2019-03-29 20:25] benbrown commented on #682
This sample has been deprecated.

[2019-03-29 20:25] #682 closed

[2019-03-29 20:28] #1192 closed

[2019-03-29 20:29] benbrown commented on #1197
The .bot files are being deprecated -- you can see this progress in the `samples-work-in-progress` branch.  Soon, this will all be over.

[2019-03-29 20:29] #1197 closed

[2019-03-29 20:33] benbrown commented on #1217
Using the MVC approach, doing a multi-bot app is much easier than it used to be.  We're not planning to create a sample dedicated specifically to this, but a blog post is a good idea!

[2019-03-29 20:33] #1217 closed

[2019-03-29 20:37] benbrown commented on #1006
These parameters have been added to the readme instructions for this sample.

[2019-03-29 20:37] #1006 closed

[2019-03-29 20:41] benbrown commented on #1272
A fix for this is in progress and in the `samples-work-in-progress` branch.

[2019-03-29 20:41] #1272 closed

[2019-03-29 21:53] scheyal opened #1365 "[ARM BugBash] Need instructions to populate LUIS appsettings.json values"
## Sample information
Any sample that's using LUIS

## Describe the bug

We need to specify instuctions on how to populate appsettings.json LUIS section (better yet, ssome automation around retrieving the values)

{
  "MicrosoftAppId": "",
  "MicrosoftAppPassword": "",
  "LuisAppId": "",
  "LuisAPIKey": "",
  "LuisAPIHostName": ""
}

## To Reproduce
Steps to reproduce the behavior:
Download sample

[2019-03-29 21:55] EricDahlvang opened #1366 "[ARM Bugbash] az ad app create is creating a different kind of app"
## Describe the bug
I used `az ad app create --display-name "ArmBugBash" --password "testpassword123!" --available-to-other-tenants` to create an app, then went to https://apps.dev.microsoft.com/ ... but it does not show up. When I create a bot from the azure portal, those apps show in apps.dev.microsoft.com.

Apparently this app is different.?

Clicking 'manage' in the Bot Channel Registration se

[2019-03-29 21:58] v-kydela opened #1367 "[ARM Bugbash] Faulty example command in readme"
https://github.com/Microsoft/BotBuilder-Samples/tree/samples-work-in-progress/samples/csharp_dotnetcore/03.welcome-user/deploymentTemplates

This README gives this as an example command:

[code]

However, that command is missing the one required parameter of `az deployment create` which is `--location / -l`.

[bug]

[2019-03-29 22:17] v-kydela opened #1368 "[ARM Bugbash] all-up-template.json botId is unclear"
https://github.com/Microsoft/BotBuilder-Samples/tree/samples-work-in-progress/samples/csharp_dotnetcore/03.welcome-user/deploymentTemplates

I encountered an error when using the example command in this readme because I used an existing botId. It's unclear that this parameter is meant to create a new bot with a new ID.

[bug]

[2019-03-29 22:23] v-kydela opened #1369 "[ARM Bugbash] all-up-template.json appId is unclear"
https://github.com/Microsoft/BotBuilder-Samples/tree/samples-work-in-progress/samples/csharp_dotnetcore/03.welcome-user/deploymentTemplates

I encountered an error when using the example command in this readme because I used an existing appId. It's unclear that this parameter is meant to create a new app with a new ID.

[bug]

[2019-03-29 22:28] anusharavindrar opened #1370 "[ARM Bugbash] the template file parameter is unclear"
## Describe the bug
https://github.com/Microsoft/BotBuilder-Samples/tree/samples-work-in-progress/samples/csharp_dotnetcore/03.welcome-user/deploymentTemplates

The README gives this as an example command:

[code]

If we run the above command, it throws up an error related to the 'all-up-template.json' file, stating  **No such file or directory: 'all-up-template.json'**. The documentation doesn't

[2019-03-29 22:38] stevengum opened #1371 "[ARM BugBash] Make AppPassword required in ARM templates"
Make `appPassword` required in ARM Template

[2019-03-29 22:49] stevengum opened #1372 "[ARM Bugbash] Specify what the "Parameters" section is for in the READMEs"
## Describe the bug
The parameters are close to the section on deploying your bot to Azure and can lead to confusion on if the parameters are supposed to be used with `az webapp deployment`.

[bug]

[2019-03-29 22:49] stevengum opened #1373 "[ARM Bugbash] The commands in the steps should be the entire command"
## Describe the bug
ARM Template READMEs should be full commands in each step, and it should include Subscription IDs and Resource Group for each command.

Related to #1372

[2019-03-30 10:21] palmerabollo commented on #75
@joel-cunningham I ended up creating this lib https://github.com/palmerabollo/botbuilder-aws-lambda/ that exposes your bot created with botframework as an AWS Lambda function. It worked like a charm, at least with botframework v3 that is what I'm using. Somebody said it needs some minor tweaks to make it work with v4. Contributions are welcome.

[2019-03-30 10:54] iammelvin commented on #1311
@v-kydela Leave that first part just help me with the second and yes want to prompt if user interrupts and want to switch dialogs based on new luis result.

[2019-03-30 18:09] billmei commented on #170
Thanks @benbrown. For anyone else Googling this, here is the GitHub canonical link (permalink) to the code sample, in case it disappears again: https://github.com/Microsoft/BotBuilder-Samples/tree/109b176ea3791687e31f6ab31e7ea06f380a9186/Node/core-proactiveMessages/startNewDialog

[2019-04-01 16:38] v-kydela commented on #1311
@iammelvin - Prompting on interrupt is a simple matter of adding a new dialog with a `ConfirmPrompt` to the top of the stack and then popping it off the stack when the user says no.

However, I want to advise against this because I think most people would consider this a bad user experience. Whether or not the user wants to interrupt, you're making the user take an extra step before doing what the

[2019-04-01 16:54] scheyal opened #1374 "[ARM Bugbash] ARM Template Deploy instructions should indicate where application will be installed (subscription)"
## Information:
AZ CLI 61; dotnet corebot template

*Copied ("move") from https://github.com/Microsoft/botbuilder-tools/issues/1043

## Issue Description:
Trying to run through the instructions to deploy via ARM template and running into surprises:

1. We introduce a password, but don't describe what the password does/is used for in the docs
2. We don't remind people to specify subscription which

[2019-04-01 17:50] sgellock commented on #1174
.bot files have been removed code generators and samples.  you can see this in the samples-work-in-progress branch, which we plan to merge into master and publish to our various registries (NuGet, npmjs.org) within the very near future, about a week.

[2019-04-01 17:50] #1174 closed

[2019-04-01 17:52] sgellock commented on #1304
fix merged into samples-work-in-progress branch.  plan is to merge this into master in about a week

[2019-04-01 17:52] #1304 closed

[2019-04-01 17:56] sgellock commented on #1214
msbot has been deprecated in place of ARM template support.  additionally, .bot files have also been deprecated, with application configuration settings now being stored in platform specific configuration files e.g. appsettings.json for .net and .env files for Node.js

[2019-04-01 17:56] #1214 closed

[2019-04-01 17:58] sgellock commented on #1020
The updated CoreBot sample that will be released as part of the samples-work-in-progress branch, eta, after LA Open Hack, will address this.

[2019-04-01 17:58] #1020 closed

[2019-04-01 20:56] jwiley84 commented on #1364
Can you show me the code you're using for attachments? Or are you using the sample code unedited?

[2019-04-01 22:05] CoHealer commented on #1361
Removing Support resources post reassignment

[2019-04-01 23:47] CoHealer commented on #198
@jwiley84, can you please assist @denisyfrolov and the three other users with up-votes.

[2019-04-01 23:52] CoHealer commented on #170
@tdurnford, can you please assist?

[2019-04-02 05:10] MounikaPedapati commented on #1364
https://github.com/Microsoft/BotBuilder-Samples/blob/master/samples/csharp_dotnetcore/15.handling-attachments/AttachmentsBot.cs

I am using  handling attachments sample from github

[2019-04-02 16:43] stevengum commented on #1366
@EricDahlvang

After digging into this a little, this is because the signInAudience for an app created through the above command has a different `"signInAudience"` value. In the preview page, the listed Supported account types is the "Multiple organizations" which indicates that it supports AD and not MSA for authentication.

![multipleorganizations](https://user-images.githubusercontent.com/14935

[2019-04-02 17:46] Kaiqb commented on #1199
All samples are now in the same "botbuilder-samples" repo. The change will go live in next 10 days.

[2019-04-02 17:46] #1199 closed

[2019-04-02 17:56] jwiley84 commented on #1364
Just for further clarification: you're attempting to attach a file (such as a picture) from your computer to the bot, using emulator?

[2019-04-02 23:20] tdurnford commented on #170
I apologize we didn't get to this issue sooner.

Looking at the updated source code, it seems the `beginDialog` method behaves differently than it did in previous versions of the v3 SDK. The method currently accepts an `address` and a `dialogId` like it did before; however, it looks like it also accepts `dialogArgs` which get passed along to the dialog and a `done` callback function which are both

[2019-04-02 23:20] #170 closed

[2019-04-03 00:47] yochay commented on #726
with 4.4 AI is an integral part of the SDK. We are adding the dashboards to the ARM template for creating a new bot. We'll add documentation as needed. Not sure we will push the ARM template to App Source.

[2019-04-03 05:25] MounikaPedapati commented on #1364
I want to send the image  in Base64  format  which is saved in my  computer to bot using C#.

[2019-04-03 06:49] iammelvin commented on #1311
@v-kydela  It would be great if you include an example for user interruption based on the new LUIS intent when there is an active dialog.

[2019-04-03 13:08] daveta commented on #726
Re-opening issue, adding Eyal, Ryan and Emelio.

@scheyal : FYI: Ryan has been maintaining a [analytics section in the solutions github, including PowerBI](https://github.com/Microsoft/AI/blob/master/docs/analytics/README.md) which our samples should reference as well.

If we push to AppSource, we might want to keep Ryan in the loop as they periodically update the reports.

[2019-04-03 13:45] daveta commented on #726
Actually, closing - Ryan can add if it makes sense, given new focus on dashboards from SDK side.

[2019-04-03 13:45] #726 closed

[2019-04-03 18:21] #1349 closed

[2019-04-03 18:33] stevengum commented on #1370
Done, thanks for the feedback!

[2019-04-03 18:33] #1370 closed

[2019-04-03 18:33] stevengum commented on #1372
Done!

[2019-04-03 18:33] #1372 closed

[2019-04-03 18:33] stevengum commented on #1367
Done, thanks for the feedback!

[2019-04-03 18:33] #1367 closed

[2019-04-03 18:33] stevengum commented on #1373
Done!

[2019-04-03 18:33] #1373 closed

[2019-04-03 19:00] #1350 closed

[2019-04-03 22:58] v-kydela commented on #1311
@iammelvin - I suppose we could use an interruption sample, but in the meantime you can have a look at how interruptions are handled in the [Enterprise Template](https://github.com/Microsoft/AI/blob/master/templates/Enterprise-Template/src/typescript/enterprise-bot/src/dialogs/shared/enterpriseDialog.ts).

[2019-04-03 22:58] #1311 closed

[2019-04-03 23:22] #239 closed

[2019-04-03 23:41] jwiley84 commented on #1364
Hi @MounikaPedapati

While researching this issue, I came across your question on Stack Overflow [here](https://stackoverflow.com/questions/55258245/how-to-send-images-which-are-in-local-folder-in-microsoft-botframework-sdk-v4-us/55271200#55271200). The person answering your question there is a member of the Bot Framework Support team, and will be able to further assist you. I'm going to close thi

[2019-04-03 23:41] #1364 closed

[2019-04-04 16:31] stevengum commented on #1371
Done.

[2019-04-04 16:31] #1371 closed

[2019-04-04 18:46] stevengum commented on #1369
The first step which entails creating an app Registration indicates you're creating a new App which results in a new app ID. There are also instructions that indicate you're supposed to take the output appId for the second step.

Closing as wontfix.

[2019-04-04 18:46] #1369 closed

[2019-04-04 18:50] stevengum commented on #1368
Done!

[2019-04-04 18:50] #1368 closed

[2019-04-04 20:04] v-kydela commented on #1369
Well the example command I referenced has been removed in your latest commit, so in a way this was fixed.

[2019-04-04 20:51] stevengum commented on #1346
Closing per this [comment](https://github.com/Microsoft/BotBuilder-Samples/pull/1376#issuecomment-479681173).

[2019-04-04 20:51] #1346 closed

[2019-04-05 08:13] MounikaPedapati opened #1380 "How can we log conversations of user and bot in Microsoft Botframework C# SDK V4 using Azure SQL database??"
Hello,

  I created a bot with Microsoft Botframework  C#  SDK   V4  and it is working well. Now I want to log the conversation messages of bot and user in Azure Sql database.

I already tried this with SDK V3 , In SDK V3 I created a SqlActivityLogger class and called it from Global.asax file and opened a Sql Connection there.and  it is successfully logging conversation messages in Azure sql datab

[2019-04-05 18:10] jthake-msft opened #1381 "Invalid json in basic-bot.com cause emaultor to fail"
The json is invalid json in basic-bot.bot
https://github.com/Microsoft/BotBuilder-Samples/blob/805aec37d2790c4bc20c93364283078191bb1891/samples/csharp_dotnetcore/13.basic-bot/basic-bot.bot#L23

I did remove the extra comma and try and open in emulator following the steps https://github.com/Microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/13.basic-bot#running-locally

But the bot

[2019-04-05 21:41] EricDahlvang opened #1382 "Csharp sample targeting netframework"
There are many existing libraries and code bases currently targeting only netframework.  Nearly all csharp bots built with Bot Builder V3 are targeting netframework.  We can easily port one of the current netcore bots.  Here's an example: https://github.com/EricDahlvang/CoreBot-ASP.NET/blob/master/CoreBot/CoreBot.csproj

In response to: https://stackoverflow.com/questions/55374540/any-sample-of-ms

[2019-04-05 22:27] stevengum opened #1383 "[ARM BugBash] Parameter names for ARM template are confusing"
Call an AppService Plan by its name, not a "newServerFarmName"

[bug]

[2019-04-05 22:30] stevengum opened #1384 "[ARM BugBash] Include instructions/links for configuring defaults for Azure CLI"
az login, az configure defaults, etc.

[bug]

[2019-04-05 22:31] stevengum commented on #1383
example parameter for botId should just be "<id-of-bot>" not "<id-or-name-of-bot>"

[2019-04-06 23:17] sgellock commented on #1158
Fix merged into samples-work-in-progress branch.  will be updated in master when that branch is merged for the 4.4 release.

[2019-04-06 23:17] #1158 closed

[2019-04-07 23:55] EricDahlvang commented on #1380
In Bot Builder V4, [ITranscriptStore](https://docs.microsoft.com/en-us/dotnet/api/microsoft.bot.builder.itranscriptstore) has replaced IActivityLogger.

You can find an Entity Framework implementation here: https://github.com/BotBuilderCommunity/botbuilder-community-dotnet/pull/78 (This was just committed, so it has not been merged yet).

You can create an **ITranscriptStore** that just System.Dat

[2019-04-07 23:55] #1380 closed

[2019-04-08 15:52] CoHealer commented on #198
@denisyfrolov, I apologize this issue was unseen. If you still would like assistance with this please let me know. Otherwise I'll close out the issue by the end of this week.

[2019-04-08 17:13] stevengum commented on #1315
I believe we decided not to create this link so I'm going to close the issue.

[2019-04-08 17:13] #1315 closed

[2019-04-08 18:16] stevengum commented on #1220
The ARM templates would also work for v3 bots, they simply create the required resources necessary for deploying a bot on Azure.

[2019-04-08 18:34] kashifkhan commented on #1220
thats great news!!! will it part of the next release ?

[2019-04-08 21:31] gabog commented on #955
Closing, we are moving the infrasctructure deployments to ARM templates.

[2019-04-08 21:31] #955 closed

[2019-04-08 22:54] denisyfrolov commented on #198
I don't really remember what is about) I'm sorry. I think you can close the issue.

[2019-04-08 23:04] CoHealer commented on #198
Alright, thanks and again I apologize this was missed.

[2019-04-08 23:04] #198 closed

[2019-04-08 23:50] stevengum commented on #1220
That’s correct, we will have templates in the V4 samples, and docs online on how to use the ARM templates. As per the newly updated readme, you can find the templates right now in https://github.com/Microsoft/BotBuilder-Samples/tree/samples-work-in-progress

The current templates are located in the csharp_dotnetcore/03.welcome-users sample

[2019-04-09 17:40] mdrichardson opened #1389 "[ARM BugBash] [TypeScript] If alwaysBuildOnDeploy = true, typescript needs to install on deployment"
## Sample information
This wasn't really part of the BugBash, but I came across this while playing with the new samples and ARM deployments.

## Describe the bug
If `alwaysBuildOnDeploy` is set to true when deploying a TypeScript bot, typescript needs to be installed before building or `tsc --build` will fail because tsc is not installed.

## To Reproduce
1. Download a sample or generate with Yeom

[2019-04-09 20:37] jwiley84 commented on #1381
Hi Jthake!

Can you post a screenshot of what the emulator shows in the log (lower right) section when you try to message your bot? For example:
![image](https://user-images.githubusercontent.com/17333688/55833542-9f108900-5acc-11e9-834b-de62856584dc.png)

[2019-04-09 21:51] stevengum commented on #1383
I think this is done now, closing issue.

[2019-04-09 21:51] #1383 closed

[2019-04-09 22:00] stevengum commented on #1389
@mdrichardson thanks for tracking this and creating a new issue! 😎

We decided this morning that we would remove the `alwaysBuildOnDeploy` flag. This way, the setting doesn't affect the build process for all types of deployments (for the zipdeploy API its value is effectively false, but for other deployment processes the default is true (aka _build_)).

More importantly, this is the way zipdeploy

[2019-04-09 22:00] #1389 closed

[2019-04-09 22:45] stevengum opened #1392 "Bump JS samples' dependencies in samples-work-in-progress branch to 4.4.0"
## Describe the bug
~As part of the initial work, we bumped the version to 4.3.0, which isn't a listed version on NPM, as such we should go to 4.3.4.~

We want to go to **4.4.0**, because we'll be releasing the updated samples at  **//BUILD**.

[bug]

[2019-04-10 16:44] #1256 closed

[2019-04-10 17:57] cleemullins opened #1394 "Increment Generator versions as part of automated build"
In the generators for

File:
https://github.com/Microsoft/BotBuilder-Samples/blob/master/generators/dotnet-templates/Microsoft.BotFramework.CSharp.CoreBot/content/.template.config/template.json

Line 13 and line 27 need to have the versions stamped as part of the build.

https://github.com/Microsoft/BotBuilder-Samples/blob/master/generators/dotnet-templates/Microsoft.BotFramework.CSharp.CoreBot/Mi

[2019-04-10 18:00] cleemullins opened #1395 "Yeoman templates need to have their versions set in the package.json"
The Samples build, which builds the Yeoman generators, needs to update the package.json files for the relevant yeoman templates.

These should follow the standandard semver rules, and match the versions of the C# ones.

[2019-04-10 22:57] mdrichardson opened #1396 "[Discussion/DCR] Better management of duplicated files"
*Note: This focuses on the typescript `samples-work-in-progress` samples, but can definitely apply repo-wide.*

In reviewing PRs and making my own, I noticed that there's a decent number of exact-duplicate files in each sample. A few that come to mind:

* `/deploymentTemplates/*`
* `/deploymentScripts/webConfigPrep.js`
* `.eslint.js`
* `tsconfig.json`
* `tslint.json`

Right now, that's only a few

[2019-04-10 23:05] stevengum commented on #1396
@sgellock, @cleemullins for this repo and the JS SDK, we could auto lint devs' code using the git commit hooks...

[2019-04-11 00:00] #1257 closed

[2019-04-12 00:18] jthake-msft opened #1399 "samples-work-in-progress CSharp bot-authentication-msgraph: LoginStepAsync endDialog issue"
## Sample information
Sample type: samples-work-in-progress CSharp bot-authentication-msgraph
https://github.com/Microsoft/BotBuilder-Samples/tree/samples-work-in-progress/samples/csharp_dotnetcore/24.bot-authentication-msgraph

NOTE: I'm using the branch recommended by @Kaiqb which targets v4.3

The MainDialog.cs LoginStepAsync logic actually breaks out of the WaterfallDialog with EndDialogAsync.

[2019-04-14 15:30] sgellock commented on #1255
address in PR #1390

[2019-04-14 15:30] #1255 closed

[2019-04-14 19:21] wethil commented on #75
@palmerabollo can you explain how we deploy our bot to AWS with your package?

[2019-04-14 21:18] palmerabollo commented on #75
@wethil You have two options:

1. zip your project and unload it to AWS Lambda. The easiest way if you just want to give it a try.
2. use a tool such as [serverless](https://serverless.com/framework/docs/providers/aws/guide/quick-start/) to automate the deployment.

[2019-04-15 14:06] wethil commented on #75
@palmerabollo I tried to use your package with serverless but I think I could not configure `handler` section on serverless.yml file correctly. Do you have any example of that?

[2019-04-15 19:16] stevengum commented on #1220
Closing this as we have ARM templates in the above branch. Further ARM templates (e.g. AppInsights/QnAMaker) are coming soon!

[2019-04-15 19:16] #1220 closed

[2019-04-15 20:14] palmerabollo commented on #75
@wethil I've put together an example here https://github.com/palmerabollo/bot-food/blob/master/serverless.yml I hope it helps.

[2019-04-15 21:04] sgellock commented on #1399
@jthake-msft the objective of the sample is to show the OAuthPrompt against the graph.  If you log in unsuccessfully, then we break out.  so what you have provided is a much more bullet proof approach, but this is not my intention with the sample.

[2019-04-15 21:04] #1399 closed

[2019-04-15 21:24] wethil commented on #75
it perfectly helps. Thanks a lot @palmerabollo

[2019-04-15 23:59] sgellock commented on #1396
I'm not a fan of git submodules.  I do see us duplicating a lot of things within the tree, so I'm open to a solution.

[2019-04-16 00:00] sgellock commented on #1396
mistakenly closed the issue.

[2019-04-16 00:01] sgellock commented on #1381
we've updated this sample.  until we release, the updated sample can be found in the samples-work-in-progress branch.  refer to 13.core-bot

[2019-04-16 00:01] #1381 closed

[2019-04-16 00:03] #1211 closed

[2019-04-16 00:05] sgellock commented on #1196
won't fix, given our de-emphasis on .bot files

[2019-04-16 00:05] #1196 closed

[2019-04-16 02:19] jthake-msft commented on #1399
OK At Build 2019 I'll fork this repo and hostin Microsoft Graph and send people to our samples. This sample could never be used to spring board to anything like a real world scenario.

[2019-04-16 16:52] EricDahlvang commented on #1396
If we can't roll the common code into the sdk, maybe we need another library.  I personally prefer the duplicated code to external dependencies.  Every sample stands alone.  External code file dependencies will add a layer of confusion for beginners.

[2019-04-16 20:48] EricDahlvang commented on #1399
I totally agree with @jthake-msft   We do not need flawed logic to demonstrate how to use the OAuthPrompt.  This is confusing, and we are going to be explaining this flaw in the sample to other customers in the future.

[2019-04-17 05:57] EugeneFoo commented on #1248
Can please re-open this issue?

As bot framework V4 keep changing and seem that repo doesn't have any update anymore.

Node - https://github.com/GeekTrainer/botframework-v4-handoff

Or does it provide official sample for this bot-handoff?

[2019-04-17 18:47] v-kydela commented on #1248
@EugeneFoo - You can go ahead and make a feature request in this repo. Make sure you provide the information in the [feature request template](https://github.com/Microsoft/BotBuilder-Samples/issues/new?template=-samples-feature-request.md).

[2019-04-17 20:51] EugeneFoo opened #1415 "Bot Framework V4 human handoff sample NodeJS"
### Use this [query](https://github.com/Microsoft/botbuilder-samples/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++label%3Aenhancement) to search for the most popular feature requests.

**Is your feature request related to a problem? Please describe.**
Need a sample to demonstrate how to proper use of the human hand-off in bot V4 @ nodeJS.
Current example in github by other seem to be outdated.
No

[2019-04-17 20:51] EugeneFoo commented on #1248
Thanks @v-kydela

[2019-04-17 22:26] v-kydela opened #1416 "Unclear whether samples should contain documentation comments or not"
The samples are currently inconsistent with regard to whether they contain documentation comments or just regular comments. An example of a sample with documentation comments is [EchoWithCounter](https://github.com/Microsoft/BotBuilder-Samples/blob/master/samples/csharp_dotnetcore/02.b.echo-with-counter/EchoWithCounterBot.cs):

[code]

I think documentation comments are important even when there's

[2019-04-17 22:41] v-kydela commented on #1416
I just had a look in the samples-work-in-progress branch and it looks like it's much harder to find an example of documentation comments than I thought. They can be seen in [MultiLingualBot](https://github.com/Microsoft/BotBuilder-Samples/blob/samples-work-in-progress/samples/csharp_dotnetcore/17.multilingual-bot/Bots/MultiLingualBot.cs), at least.

[2019-04-17 22:46] v-kydela commented on #1416
Actually, documentation comments seem to be pretty common in Node. Look at [core-bot](https://github.com/Microsoft/BotBuilder-Samples/blob/samples-work-in-progress/samples/javascript_nodejs/13.core-bot/dialogs/mainDialog.js):

[code]

[2019-04-18 00:14] Zerryth opened #1417 "Sample Address/Port Doesn't Match HTML Page's Instructions"
## Sample information
C# Samples in `samples-work-in-progress` branch

## Describe the bug
Seems like the C# samples listen for a random localhost port now, and it doesn't match what the HTML page displays:

![image](https://user-images.githubusercontent.com/35248895/56328451-e7b2ec80-6133-11e9-9845-1e7e4c7aafd9.png)

## To Reproduce
Start up multiple C# samples and wait for the HTML page to pop u

[2019-04-18 04:08] sgellock commented on #1417
@Zerryth all samples should default to 3978

[2019-04-18 04:09] sgellock commented on #1416
We are no longer adding /// comments to C# samples

[2019-04-18 04:21] sgellock commented on #1417
all Properties/launchSettings.json files should be configured to use the 3978 ports.  I've update the samples that haven't done this

[2019-04-18 04:21] #1417 closed

[2019-04-18 04:24] sgellock commented on #1415
dup of #1133

[2019-04-18 11:30] andrereislive opened #1418 "Call a new dialog inside a callback of a proactive bot"
I'm trying to await dc.BeginDialogAsync in the Bot callback of your proactive endpoint. However there is no DialogContext to call the BeginDialogAsync method. Could you give an example of how i Could pass the DialogContext to the callback of the proactive endpoint so I can call a new dialog flow?

[2019-04-18 17:58] tdurnford commented on #1415
This is not an official sample, but I made a Human Handoff Bot using the most recent NodeJs SDK that you can take a look at. https://github.com/tdurnford/botframework-human-handoff

Hope this helps.

[2019-04-18 17:58] #1415 closed

[2019-04-18 18:53] tdurnford commented on #1418
Assuming your adapter and dialog set are in the scope of where you are sending your proactive messages from, you can create a dialog context with the context from the ContinueConversationAsync callback. I would recommend passing your adapter and appId into the bot as arguments in the constructor and creating a function in your bot to send the proactive message.  See the code snippet below.

[code]

[2019-04-18 18:53] #1418 closed

[2019-04-19 11:31] andrereislive commented on #1418
Thanks, i got it to working with your solution, but for my purpose I had to make a little change. I Wanted the proactive method sendProactiveMessagesAsync() to run asyncronous so i ran it inside a
`Task.Run(() => sendProactiveMessagesAsync(conversationReference)).`

Also, Instead of saving the turncontext from the BotCallback, i have saved the turncontext of the dialog context.
`await _accessors.C

[2019-04-19 14:50] sgellock commented on #1399
I hear you.  how do I balance the feedback of making samples simple, and focused on understanding 1 concept with the desire to provide production possible code?

[2019-04-21 01:10] EugeneFoo commented on #1415
Thanks alot @tdurnford

[2019-04-22 05:52] Santoshbsk opened #1424 "Bot handoff"
Is bot to human handoff possible in V4? If yes, can I have a sample for the same?

[2019-04-22 15:23] tdurnford commented on #1424
Dup of https://github.com/Microsoft/BotBuilder-Samples/issues/1133

These are not official handoff samples, but I would recommend taking at look:

C#: https://github.com/tompaana/intermediator-bot-sample
Node: https://github.com/tdurnford/botframework-human-handoff

[2019-04-22 15:23] #1424 closed

[2019-04-22 21:55] stevengum opened #1427 "[CLI/Docs Bugbash] Add parameters.json for ARM templates"

[2019-04-22 23:09] ericksoen opened #1428 "Broken link to install CLI tools in dotnet welcome user readme"
## Sample information
1. Sample type: samples
2. Sample language: dotnetcore
3. Sample name: 03.welcome-user

## Describe the bug
Readme links takes you to 404 page not found.

## To Reproduce
In the section [Deploy this bot to Azure](https://github.com/Microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/03.welcome-user#deploy-this-bot-to-azure) click the link to **Install CLI Tools

[2019-04-23 15:20] mdrichardson commented on #1396
I took a quick browse of the `samples-work-in-progress` branch and there's really not that much that's being duplicated, especially with `webConfigPrep.js` not being needed. Here's all of the duplicates (some I'm not quite sure about without diff-ing):

**C#_dotnetcore**

* properties/launchsettings.json
* controllers/botcontroller.cs?
* DeploymentTemplates/?
* wwwroot/default.htm - except the bot

[2019-04-23 15:39] sgellock commented on #1396
I have no plans to add complexity to address this at this time. Thanks for cataloging it though.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Michael Richardson <notifications@github.com>
Sent: Tuesday, April 23, 2019 11:21:10 AM
To: Microsoft/BotBuilder-Samples
Cc: Scott Gellock; State change
Subject: Re: [Microsoft/BotBuilder-Samples] [Discussion/DCR] Better

[2019-04-23 16:45] scheyal opened #1432 "[CLI/Docs Bugbash] Add a documentation page similar to bugbag flow for az cli create usage (e.g. provision ABS bots)"
## BugBash: *az cli* create command documentation
Add documentation for *az cli* create command usage such as in the bugbash, e.g. around provisioning of bot service from command line.

[2019-04-23 17:00] BruceHaley commented on #1394
New build "BotBuilder-Samples-DotNet" https://fuselabs.visualstudio.com/SDK_v4/_apps/hub/ms.vss-ciworkflow.build-ci-hub?_a=edit-build-definition&id=398
replaces the 3 separate builds, giving them all the same build number, and stamping versions in .json files. It has CI, PR, and scheduled triggers. NuGet push remains part of this build rather than being in a separate Release pipeline.

[2019-04-23 17:00] #1394 closed

[2019-04-23 17:25] BruceHaley commented on #1395
Need clarification: Is this a duplicate of issue #1394?

[2019-04-23 17:29] BruceHaley commented on #1395
Relevant build: VSIX-From-botbuilder-samples-repo.

[2019-04-23 18:47] BruceHaley commented on #1395
Version set. Example: 4.4.0-preview-142. (Target file for versioning was source.extension.vsixmanifest.)

[2019-04-23 18:47] #1395 closed

[2019-04-24 03:47] ryanvolum opened #1436 "Work in progress welcomeBot sample double check members being added"
In the [samples-work-in-progress welcomeBot](https://github.com/Microsoft/BotBuilder-Samples/blob/samples-work-in-progress/samples/javascript_nodejs/03.welcome-users/bots/welcomeBot.js#L32) sample, we seem to be double-checking if members have been added:

[code]
Am I wrong to believe that the callback passed in to `onMembersAdded` should only run when members have been added? If this is the case,

[2019-04-24 18:16] stevengum commented on #1436
You are correct, the code in the sample is double-checking if members have been added. We will get this fixed, thanks for reporting the issue!

[activityHandler.ts code in question](https://github.com/Microsoft/botbuilder-js/blob/master/libraries/botbuilder-core/src/activityHandler.ts#L210)

[2019-04-24 20:06] JonathanFingold opened #1440 "JS botbuilder echobot template should use onMembersAdded"
## Sample information
1. Sample type: [\template\]
2. Sample language: [nodejs, TypeScript]
3. Sample name: generator-botbuilder/generators/app/templates/echo/
4. Branch: samples-work-in-progress

## Describe the bug
1. The bot.js file should use the `onMembersAdded` handler, instead of the `onConversationUpdate` handler, to align with the C# VSIX template. (Or the other way around, if the JavaScr

[2019-04-24 22:18] EricDahlvang commented on #1382
Sorry, I was wrong about this.  https://github.com/Microsoft/BotBuilder-Samples/tree/samples-work-in-progress/samples/csharp_webapi/13.core-bot IS targeting netframework.  Thanks @johnataylor !

[2019-04-24 22:18] #1382 closed

[2019-04-25 15:17] nimbusparis opened #1443 "Sample unit tests on bot with Dialogs and Prompts"
Please create a sample of project with all the bot stuff (Dialog, prompts, etc.) unit tested to show how to mock some object such as DialogSet, WaterfallStepContext, etc.

[2019-04-25 18:13] stevkan commented on #277
Working on recreating the bug. Presently, the sample does not work, as-is. Have located certain breaks in the code and implementing fixes. Next, removing Bing Speech as the text-to-speech service as it is deprecated and adding Microsoft CognitiveServices Speech.

[2019-04-25 19:42] stevengum commented on #1436
@ryanvolum I just realized I didn't answer your last question, but leaving feedback here works great. 😄

[2019-04-25 19:42] stevengum commented on #1436
Closing as the fix went in.

[2019-04-25 19:42] #1436 closed

[2019-04-26 12:35] sgellock commented on #1440
fixes for this have been merged into samples-work-in-progress

[2019-04-26 12:35] #1440 closed

[2019-04-27 21:26] dividor opened #1454 "The nodejs timex resolution sample doesn't work"
The [node sample for timexresolution ](https://github.com/Microsoft/BotBuilder-Samples/blob/master/samples/javascript_nodejs/40.timex-resolution/resolution.js) doesn't work. As stated in the code this is due to a dependency on a [fix to the MS package](https://github.com/Microsoft/Recognizers-Text/issues/974).

It's been quite a while pending now and we are updating our bots for SDK 4, where datet

[2019-04-29 17:13] gabog commented on #1443
Hi @nimbusparis, thanks for the feedback, we are planning to add additional testing examples and tools support as part of 4.5.

[This page](https://github.com/Microsoft/BotBuilder/blob/master/specs/testing/testing.md) contains some background on our general approach.

For a complete list of the testing scenarios we are considering see [Bot Testing Issues](https://github.com/Microsoft/BotBuilder/mi

[2019-04-29 17:13] #1443 closed

[2019-04-30 03:55] sgellock commented on #1392
pushed changes to samples-work-in-progress

[2019-04-30 03:55] #1392 closed

[2019-04-30 16:09] #1366 closed

[2019-04-30 16:36] stevengum opened #1465 "[4.5 Samples]: Remove `logger` from the Node.js samples"
### Branch: [samples-work-in-progress](https://github.com/Microsoft/BotBuilder-Samples/tree/samples-work-in-progress)

## Sample information
1. Sample type: samples
2. Sample language: JavaScript & TypeScript Node.js samples
3. Sample name: All applicable samples

## Describe the bug
The wrapper around `console` (i.e. `const logger = console;`) is superfluous. We're going to back it out and instea

[2019-04-30 17:35] JonathanFingold opened #1466 "Typo in VSIX description"
## Sample information
1. Sample type: [\VSIX\] template
2. Sample language: [dotnetcore]
3. Sample name: <Echo Bot template>

## Describe the bug
Typo "echos" should be "echoes".

## To Reproduce
Steps to reproduce the behavior:
1. In https://github.com/Microsoft/BotBuilder-Samples/blob/2c2630f611e26a6061f59f727c2a9883e97d8559/generators/dotnet-templates/Microsoft.BotFramework.CSharp.EchoBot/Micro

[2019-04-30 21:41] stevengum commented on #1365
Closing issue as we're not using the README-LUIS.md in these samples at the moment, but instead pointing to some online Docs. The bug has been moved to stevengum/arm-templates-for-sample#1 so the bug is still fixed.

[2019-04-30 21:41] #1365 closed

[2019-05-01 16:46] JonathanFingold opened #1468 "Remove unused/unreferenced bot.js file from node.js #18"
## Sample information
1. Sample type: [\samples\]
2. Sample language: [nodejs]
3. Sample name: 18.bot-authentication (branch: samples-work-in-progress)

## Describe the bug
The **bot.js** file at the root is obsolete and unused. It's continued presence is confusing.

## To Reproduce
Steps to reproduce the behavior:
1. Notice the [bot.js](https://github.com/Microsoft/BotBuilder-Samples/blob/samples

[2019-05-01 17:24] v-kydela commented on #1465
May ask for some clarification?

`console` is also assigned to `logger` in the `DialogBot` and `MainDialog` classes. Is the logger only going to be removed from `index.js/ts` or is it going to be removed from everywhere?

My understanding was that the logger argument served the purpose of parity with the C# samples, and also the purpose of allowing something other than `console` to be provided for

[2019-05-01 18:30] sgellock commented on #1468
this has been fixed in the samples WIP branch

[2019-05-01 18:35] sgellock commented on #1466
fix merged into samples WIP branch

[2019-05-01 18:35] #1466 closed

[2019-05-01 18:37] sgellock commented on #1428
this is fixed in the samples WIP branch

[2019-05-01 18:37] #1428 closed

[2019-05-01 18:39] sgellock commented on #1416
I've updated any sample that used /// comments.  these changes are staged in the samples WIP branch.

[2019-05-01 18:39] #1416 closed

[2019-05-01 19:40] sgellock commented on #1468
ahh, ok.  in my hast I misred the issue.

[2019-05-01 19:41] JonathanFingold commented on #1468
No worries.

[2019-05-01 19:50] sgellock commented on #1468
OK @JonathanFingold , it's removed now, for real

[2019-05-01 19:50] #1468 closed

[2019-05-01 23:30] EricDahlvang opened #1469 "[4.5 Samples]: Remove the custom ConfigurationCredentialProvider from samples"
These samples have a custom ConfigurationCredentialProvider  https://github.com/Microsoft/BotBuilder-Samples/search?q=%22class+ConfigurationCredentialProvider%22&unscoped_q=%22class+ConfigurationCredentialProvider%22

It is identical to the one already provided by the integration libraries:

https://github.com/Microsoft/botbuilder-dotnet/blob/master/libraries/integration/Microsoft.Bot.Builder.Inte

[2019-05-02 16:21] benbrown opened #1471 "Docs on the timex results from LUIS are sparse"
The datetimev2 / timex extractor feature of LUIS is super cool and powerful and works really well.

However, the docs on how to use timex are very minimal, and currently point to a very academic PDF document.

It would be great if we could provide examples of using the timex to do normal things like creating a single or repeating calendar schedule type date from the timex.

A simple breakdown of t

[2019-05-03 17:13] scheyal opened #1480 "Need sample to show telemetry with extensibility"
### Create sample for telemetry use with extensibility (for custom conversation  instrumentation)

## Sample information
1. Sample type: samples
2. Sample language: dotnetcore, nodejs or typescript]

[2019-05-03 17:13] johnataylor commented on #1454
This will start working when we upgrade to the next release of the Recognizer packages.
The fix is in master in https://github.com/Microsoft/Recognizers-Text, leaving this open for now to track upgrading the dependency.

[2019-05-03 20:56] ctstone opened #1481 "NuGet packages are incompatible with macOS"
## Version
4.4.0

## Describe the bug
I am using `dotnet` CLI and VSCode to build a bot.

When I try to build my project, I get an error:
[code]

Here is the listing of that directory:
[code]

Note the incorrect use of Windows-style directory separators (`\`), which means that each item in this directory is a single file instead of an actual directory tree.

## To Reproduce
Steps to reproduce the

[2019-05-03 23:53] cleemullins commented on #1481
We are working on this, and beleive we have a fix.

The 4.4.3 build, found on MyGet, is (we think) fixed. We are testing this now.

[2019-05-04 00:22] cleemullins commented on #1481
We have confirmed that 4.4.3 builds and runs on a Mac, and have pushed packages to NuGet. We are also updating generators and samples.

[2019-05-04 00:22] #1481 closed

[2019-05-04 01:36] EricDahlvang commented on #1481
Thank you for reporting this @ctstone and @ovishesh

[2019-05-04 21:14] ovishesh commented on #1481
works now!

[2019-05-04 21:15] sgellock commented on #1481
@ovishesh thanks.

[2019-05-06 12:26] JohnGalt1717 commented on #1248
The problem with the current samples (and lack of ability to easily do this now without major additional libraries and hacking) is the following:

1. The sample is overly complex so even if you do figure it out it will have taken you hours to do something that should be automatic.
2. It requires active subscription to hand-off with no way of having it hand off to a community of online users.
3. Th

[2019-05-06 16:47] JonathanFingold opened #1490 "Main README has broken links to the core bot sample"
## Sample information
1. Sample type: [\samples\]
2. Sample language: [.NET core, .NET Web API, javascript]
3. Sample name: 13.core-bot

## Describe the bug
The links to the core bot are broken on the main README for the repo.

## To Reproduce
Steps to reproduce the behavior:
1. Go to [botbuilder-samples](https://github.com/Microsoft/BotBuilder-Samples)
2. Scroll down to **13.core-bot**, and click

[2019-05-06 17:00] 01 commented on #1248
@JohnGalt1717 What specific issues are you having?

Are you frustrated at Microsoft not having prepackaged solutions open source immediately available for your exact use case or that the bot framework isnt able to do something you are trying to accomplish?

Everything you listed is completely doable, the only one is proactively messaging without a user reference (this is frustrating and completely

[2019-05-06 22:15] SarahSexton opened #1493 "Documentation incorrectly makes reference to .bot file in "Interacting With Your Bot Using the Emulator""
## Sample information
1. Sample type: BotBuilder-Samples/generators/dotnet-templates/
2. Sample language: dotnetcore
3. Sample name: ".NET Core SDK Templates"

## Describe the bug
This documentation is out of date, due to the .bot file being deprecated on May 1st.

## To Reproduce
Steps to reproduce the behavior:
1. Go to https://github.com/Microsoft/BotBuilder-Samples/tree/master/generators/dotne

[2019-05-06 22:25] SarahSexton commented on #1493
Comment: It will also be great to see this dotnet CLI approach documented on the official docs.

[2019-05-07 15:06] JohnGalt1717 commented on #1248
@01

Thanks for the replies.

There's no issue with Q&A Maker persay but there is basically no use case where a company is going to stop there. They'll absolutely have escalation and it should be trivial to implement unlike the complex mess it is.

My comments about hand-off being brutally complex are based on just how involved the sample code is (and the documentation doesn't even link to it prop

[2019-05-07 16:44] 01 commented on #1248
@JohnGalt1717

I mean I dont know how to tell you that you are describing a pretty specific use case. You can accomplish all this with the bot framework, but not sure what basis there is to think these these specific use cases should be top priority.

Well ya and there are teams at Microsoft continually expanding upon  virtually everything in the framework. Essentially it seems you feel that they

[2019-05-07 18:07] #1490 closed

[2019-05-08 03:44] xtianus79 opened #1498 "Where is sample 12 for Luisai?"
The personalizer asks that the sample #12 be used to complete its instructions.  12 is missing.

[2019-05-08 16:28] jwiley84 commented on #1498
Hi @xtianus79!

The samples recently underwent a massive update. One update was removing that sample. I'll start looking into broken references to it this afternoon.  For now, sample [#13](https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/13.core-bot) has LUIS for examples in showing how to connect NLP to bot framework. If you need something about the old LUIS b

[2019-05-08 16:28] #1498 closed

[2019-05-08 21:36] stevkan commented on #1493
Submitted PR #1500 that replaces reference to .bot file with steps to connect to Emulator.

[2019-05-08 21:36] #1493 closed

[2019-05-09 04:10] xtianus79 commented on #1498
@jwiley84 nope thank you that clears it up. I will look into 13

Also, here is where I found a reference.  https://github.com/Azure-Samples/cognitive-services-personalizer-samples/blob/master/samples/ChatbotExample/README-LuisBot.md

to note, that example the chatbot sample. It doesn't work either.  In general.

[2019-05-09 15:37] paramda opened #1502 "Cannot connect to emulator"
## Sample information
1. Sample type: samples
2. Sample language: dotnetcore
3. Sample name: 02.echo-bot

## Describe the bug
Samples cloned from github doesn't work with emulator even though README says "copy url http://localhost:3978/api/messages in emulator". It opens it's own cmd window where it echoes back the messages I type.

"Taking longer than usual to connect" is the message seen on emul

[2019-05-09 16:53] sgellock commented on #1502
@paramda, in looking at the screen attachments you've provided, it looks like you are running console-echo and not echo-bot.  console-echo's readme does not have instructions for using the emulator as it's a console application.  https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/01.console-echo

echo-bot, which can use Emulator has correct steps.  https://github

[2019-05-09 16:53] #1502 closed

[2019-05-14 17:52] CoHealer commented on #277
@stevkan, what is the current status on this?

[2019-05-15 04:49] corinagum opened #1510 "aka.ms links 'about-bot-adapter' and 'bot-services' lead to same URL"
## Sample information
All samples

## Describe the bug
When going through the comments of the samples, there are two urls that redirect to the same document.
`https://aka.ms/bot-services`
`https://aka.ms/about-bot-adapter`

both lead to: `https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-basics?view=azure-bot-service-4.0&tabs=csharp`

## Expected behavior
Presumably these two links sh

[2019-05-17 03:30] kulkarninc opened #1513 "The code doesn't work with Microsoft Teams channel"
Steps to reproduce
We created the bot using the template.
Then added Microsoft Teams as one of the channel.
Created app package inside Teams to test the bot. (Added required trusted domain so sign in button works.)
When clicked on "Sign In" button in the teams the bot is going in infinite loop.

[2019-05-17 04:39] anshul2117 commented on #1513
Facing similar issues.

![image](https://user-images.githubusercontent.com/6558762/57903459-01bf1800-7823-11e9-8c98-12d771a7ff53.png)

[2019-05-17 18:37] Jeffders commented on #1513
There have been some changes to Teams that require a workaround until we can update the OAuthCard:

1.	Keep using the button action of SignIn for teams (i.e. you do not need the middleware).

2.	If you are using something like the auth sample from botbuilder-samples, you can add this to the AuthBot class:
protected override async Task OnUnrecognizedActivityTypeAsync(ITurnContext turnContext, Cance

[2019-05-17 18:37] #1513 closed

[2019-05-18 10:28] praveemich commented on #1039
We are facing the same issue, can't publish bot on the skype
Issue is:  "Your bot did not respond to our Ping request with a success code. Please verify your bot is running and responsive before Publishing your bot.
The error received from your bot was: InternalServerError(500), Internal Server Error"

Screen Short

![image_2019_05_16T07_45_50_486Z](https://user-images.githubusercontent.com/817642

[2019-05-18 20:51] Anshul21 commented on #1513
@kulkarninc public async Task OnTurnAsync(ITurnContext turnContext, CancellationToken cancellationToken = default(CancellationToken))
        {
            DialogContext dc = null;

            switch (turnContext.Activity.Type)
            {
                case ActivityTypes.Message:
                    await ProcessInputAsync(turnContext, cancellationToken);
                    break;

[2019-05-20 03:57] praveemich opened #1514 "Issue publish bot on skype"
![image_2019_05_16T07_45_50_486Z](https://user-images.githubusercontent.com/8176427/57995782-8b9c0900-7ae1-11e9-8262-82d9d33b8b64.png)
cant publish bot on skype have issue on
"Your bot did not respond to our Ping request with a success code. Please verify your bot is running and responsive before Publishing your bot.
The error received from your bot was: InternalServerError(500), Internal Server E

[2019-05-20 08:35] giuleon opened #1515 "Access Denied in Ms Teams downloading inline attachment"
Hi,

I'm trying to get the arraybuffer of an image attached via copy paste in the text box of Teams, following this example:
https://github.com/microsoft/BotBuilder-Samples/blob/master/samples/javascript_nodejs/15.handling-attachments/bots/attachmentsBot.js

at the point:
![image](https://user-images.githubusercontent.com/3914090/58007495-a7f07380-7aea-11e9-9eea-28fdbd5dea36.png)

I get an access

[2019-05-20 16:22] jwiley84 commented on #1514
Hi @praveemich

Despite 'Activity.Ping' being deprecated ages ago, it would seem that Skype is looking for an activity that doesn't exist anymore. Here is work around handled it in the OnTurnAsync method, specifically, in the turnContext check:

[code]

For more information, please see my post here:
https://github.com/Microsoft/botbuilder-dotnet/issues/1074

[2019-05-20 16:22] #1514 closed

[2019-05-20 16:49] johnataylor opened #1516 "Add sample for how to use the US Government data center"
From @Jeffders The SDK has changed the pattern for how customers designate that they are going to use the US Government data center. See below for what I told Motorola to do (I do not know their SDK version, so I gave them both).

There seem to be two work items here:
1.	Add documentation on how to configure this for both per 4.4 and post 4.4 SDKs
2.	Create accompanying samples

Is there a place I

[2019-05-20 17:44] mlipinski opened #1517 "Sample should include passing variables to the JSON instead of hard coding data which isn't a real world example"
### Use this [query](https://github.com/Microsoft/botbuilder-samples/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++label%3Aenhancement) to search for the most popular feature requests.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and conc

[2019-05-20 22:11] sgellock opened #1519 "Echo and Core bot needs structural changes to work in Gov"
## Describe the bug
ABS portal templates in C# won't work in Gov env

[bug]

[2019-05-21 01:39] gagankohli2000 opened #1520 "I'm using NLP-with-dispatch solution. How can i route from Dispatch bot to Dialog bot?"
I'm using NLP-with-dispatch solution. How can i route from Dispatch bot to Dialog bot?

[2019-05-21 04:51] praveemich commented on #1514
Thank you so much, its working

[2019-05-21 10:28] sremy91 opened #1521 "csharp_dotnetcore/17.multilingual-bot Unable to resolve service for type TranslationMiddleware issue on Azure"
## Sample information
1. Sample type: samples
2. Sample language: csharp_dotnetcore
3. Sample name: 17.multilingual-bot

## Describe the bug
Exception on first activity received when deployed on Azure:

`System.InvalidOperationException: Unable to resolve service for type 'Microsoft.BotBuilderSamples.Translation.TranslationMiddleware' while attempting to activate 'Microsoft.BotBuilderSamples.Adapt

[2019-05-21 10:32] sremy91 opened #1522 "samples/csharp_dotnetcore/17.multilingual-bot/appsettings.json"
## Sample information
1. Sample type: samples
2. Sample language: csharp_dotnetcore
3. Sample name: 17.multilingual-bot

## Describe the bug
I guess there is a typo mistake in appsettings.json
Key name is set to

`"TranslationKey": "<Your translation key here>"`

wherease in ce C# code another key is used:

`        public MicrosoftTranslator(IConfiguration configuration)
        {
            var

[2019-05-21 11:56] gagankohli2000 opened #1523 "Bot not working with MicrosoftAppId and MicrosoftAppPassword. Work on bot emulator without AppId and AppPassword."
Bot NPL-with-dispatch not working with MicrosoftAppId and MicrosoftAppPassword. Works fine with bot emulator without AppId and AppPassword.

As soon as i enter MicrosoftAppId and MicrosoftAppPassword bot stop working.

Any suggestions what is wrong?

I have used curl to verify appid and password and they are fine.

curl -k -X POST https://login.microsoftonline.com/botframework.com/oauth2/v2.0/toke

[2019-05-21 15:08] jwiley84 commented on #1517
Hi @mlipinski

Which sample are you talking about? Which language? Is there a particular issue you're seeing? Please clarify your bug.

[2019-05-21 15:39] mdrichardson commented on #1520
The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/BotBuilder/blob/master/README.md) repos are the preferred platform for submitting **bug fixes** and **feature requests**.

[2019-05-21 15:39] #1520 closed

[2019-05-21 16:53] ParadoxARG opened #1524 "[Generators][Linux] Dependencies issue when deploying with netcoreapp 2.1"
## Sample information
1. Sample type: \generators\
2. Sample language: dotnetcore - netcoreapp2.1
3. Sample name: EchoBot

## Describe the bug
The generated EchoBot for NetCoreApp has some conflicts in the references. In consequence, it fails when trying to deploy it to an Azure Linux Host using netcoreapp2.1.

Conflicting references:
- Microsoft.Bot.Builder.Integration.AspNet.Core 4.4.3 and Micro

[2019-05-21 18:10] mdrichardson commented on #1523
I am unable to replicate this issue.

Can you verify that MicrosoftAppId and MicrosoftAppPassword are entered in both:

* appsettings.json
* Emulator

Can you expand on "As soon as i enter MicrosoftAppId and MicrosoftAppPassword bot stop working."? What isn't working? Are there any error messages?

Is it only not working locally, or is this for a deployed bot?

[2019-05-21 20:31] tsuwandy opened #1525 "Update samples README on how to run the bot"
### Use this [query](https://github.com/Microsoft/botbuilder-samples/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++label%3Aenhancement) to search for the most popular feature requests.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
README today doe

[2019-05-21 23:01] gagankohli2000 commented on #1523
Thanks for quick response.

Yes, i have verified Appid and Apppassword they are correct.

What i meant was my bot is working locally without entering AppID and AppPassword. When i enter AppID and AppPassword bot stop working. I get error POST500directline.postActivity.

Same is the case when i deploy to Azure it doesn't work.

Here is the list of packages referenced
  <ItemGroup>
    <PackageRefer

[2019-05-22 06:45] mcakumar opened #1527 "Post process of authendication not render BOT automatially"
Hi Team,

I use MS graph API project to test my BOT authentication. I updated app id and password and oauth connection string.

as per my understanding we don't wan to publish my local bot to Azure .. Now I ran application and clicked Login button and Bot has opened Login page and asked credential .
 Post to success verification Auth window closed automatically . But my bot has not triggered Login

[2019-05-22 15:59] mdrichardson commented on #1523
For the life of me, I still can't seem to replicate this. Can you copy/paste the error in Visual Studio > Output? It should show up as soon as you try to connect to the bot through Emulator.

Sometimes, it helps to fully close out of Emulator and to also right-click > Exit IIS Server after stopping the bot from running:

![image](https://user-images.githubusercontent.com/40401643/58188829-2a557080

[2019-05-22 16:32] #1521 closed

[2019-05-22 16:32] EricDahlvang commented on #1522
@sremy91 Thank you for reporting this.

[2019-05-22 16:32] #1522 closed

[2019-05-22 17:03] vidya091209 opened #1529 "Declarative Bot automation tool"
### Use this [query](https://github.com/Microsoft/botbuilder-samples/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++label%3Aenhancement) to search for the most popular feature requests.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
I really like th

[2019-05-22 22:56] Avalaxy opened #1531 "Facebook HTTP 405 with Active Learning dialog"
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues) / [Java](https://github.com/Microsoft/botbuilder-java/issues)/ [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for genera

[2019-05-23 13:06] Savior0812 commented on #1527
same problem here!

[2019-05-23 14:39] osorito opened #1532 "Provide a sample of nlp with dispatch that asks for user input based on the input"
### Use this [query](https://github.com/Microsoft/botbuilder-samples/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++label%3Aenhancement) to search for the most popular feature requests.

**Is your feature request related to a problem? Please describe.**
If you use the sample 14, nlp with dispatch it allows you to have multiple luis and qna and it works great but there are some limitations. Unlike a

[2019-05-23 16:37] EricDahlvang commented on #1527
Are you using the Emulator for testing?  There is an open issue on the Emulator repository related to this: https://github.com/microsoft/BotFramework-Emulator/issues/1544

If you check the 'Use a sign-in verification code for OAuthCards, the flow will work as expected:
![image](https://user-images.githubusercontent.com/11055362/58270303-4a546500-7d3e-11e9-95df-12f7fb1ff7ea.png)

[2019-05-23 17:42] jwiley84 commented on #1517
Closing for lack of clarification.

[2019-05-23 17:42] #1517 closed

[2019-05-23 18:22] mdrichardson commented on #1529
[Declarative Adaptive Dialogs](https://github.com/microsoft/BotBuilder-Samples/blob/b48f585c0c99ed33547d2a764ba368a005c6f3af/experimental/adaptive-dialog/declarative/README.md) are still in the *very* early stages. The tools that exist so far are:

* [DialogTracker](https://github.com/microsoft/botbuilder-tools/blob/V.Future/packages/DialogTracker) - PREVIEW - Library for tracking .schema, .dialog

[2019-05-23 22:58] dmvtech commented on #1515
I am taking a look at this

[2019-05-23 23:28] mdrichardson commented on #1529
I'm going to close this issue for now as we're still pretty far away from release and there's a lot in the works. If you'd like to re-open, please be specific about what kind of tool that you're looking for and what problem you'd like it to solve.

[2019-05-23 23:28] #1529 closed

[2019-05-24 04:13] vidya091209 commented on #1529
thanks i was looking for non developer tool for bot development.

[2019-05-24 06:04] sowsan opened #1533 "Is there a sample for Azure AD B2C integration with Bot for authentication?"
Looking for any advice or sample on integrating bot v4 with Azure AD B2C for user authentication.

[2019-05-24 15:24] jwiley84 commented on #1533
There are currently 2 different auth samples in the repo: standard AAD v2 and authenticating with MS Graph.  If you need assistant in working one of the two into the type OAuth you're looking for, please ask on Stack Overflow. The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Fra

[2019-05-24 15:24] #1533 closed

[2019-05-24 15:45] tdurnford commented on #1531
Closing as this appears to be a duplicate of https://github.com/microsoft/botframework-solutions/issues/1411

[2019-05-24 15:45] #1531 closed

[2019-05-24 17:39] v-kydela commented on #1533
This thread may provide some good insight: https://github.com/Microsoft/BotFramework-Services/issues/78

[2019-05-24 20:16] cleemullins commented on #1133
The scenario around handoff is a frequently requested scenario. Assigning to @yochay to scope this and determine timing for the team looking into this in more detail.

[2019-05-24 20:17] cleemullins commented on #1258
Consider having this be an experimental sample, or in the Botbuilder community.

This may go *very well* with the Elastic Search Transcript host sample in the BotBuilder community already.

[2019-05-24 20:18] cleemullins commented on #1263
I don't see this making the cut in 4.5, although I'll tag it such.

[2019-05-24 20:21] cleemullins commented on #1361
@Kaiqb "We believe this is fixed as the samples have been re-done".

[2019-05-24 20:23] cleemullins commented on #1374
@stevengum belives this is already done. Needs confirm, then resolve bug.

[2019-05-24 20:23] cleemullins commented on #1384
Resovled.

[2019-05-24 20:23] #1384 closed

[2019-05-24 20:25] cleemullins commented on #1432
@Kaiqb Docs are present. This is done.

[2019-05-24 20:25] #1432 closed

[2019-05-24 20:30] cleemullins commented on #1454
Related to: https://github.com/microsoft/botbuilder-js/issues/944

[2019-05-24 20:33] cleemullins commented on #1480
Added this (as a PR) to an existing samples. Related to:
https://github.com/microsoft/BotBuilder-Samples/pull/1499

[2019-05-24 20:36] cleemullins commented on #1516
Add to docs and/or FAQ.

[2019-05-24 20:37] cleemullins commented on #1519
We believe the release of 4.4.4 SDK allows these templates to be authored now.

This may be compelted now.

[2019-05-24 20:38] EricDahlvang commented on #1516
This might be one good place for this information: https://docs.microsoft.com/en-us/azure/azure-government/documentation-government-services-aiandcognitiveservices#azure-bot-service

[2019-05-24 20:43] cleemullins commented on #1527
This seems resolved. If no comment(s), we'll close this out next week.

[2019-05-24 20:44] cleemullins commented on #1525
Move to Python repo, once the Transfer button is working again.

[2019-05-27 15:34] mdrichardson commented on #1523
@gagankohli2000 	Are you still experiencing this issue?

[2019-05-27 17:36] EricDahlvang opened #1535 "17.multilingual-bot issues"
## Sample information
multilingual bot

## Describe the bug
1. Node multilingual bot has [translationKey](https://github.com/microsoft/BotBuilder-Samples/blob/master/samples/javascript_nodejs/17.multilingual-bot/.env#L3) in .env but is expecting [translatorKey](https://github.com/microsoft/BotBuilder-Samples/blob/master/samples/javascript_nodejs/17.multilingual-bot/index.js#L55) in the code.
2. do

[2019-05-27 23:58] #1527 closed

[2019-05-28 14:28] mplwork opened #1537 "24.bot-authentication"
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues) / [Java](https://github.com/Microsoft/botbuilder-java/issues)/ [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for genera

[2019-05-28 16:32] tdurnford commented on #1537
Closing as this appears to be related to issue https://github.com/microsoft/botbuilder-js/issues/924

[2019-05-28 16:32] #1537 closed

[2019-05-28 20:37] stevkan commented on #277
Current code won't progress beyond the initial bot sendActivityAsync. I suspect it is tied to the call api and how the response is being handled. Am trying to narrow down.

[2019-05-29 17:54] mplwork commented on #1537
Just to confirm it is related. The two fixes mentioned in
https://github.com/microsoft/botbuilder-js/issues/924#issuecomment-494123719

solve the problem:

1. add token.botframework.com to validDomains in the bot's manifest
2. add a handler to this.onUnrecognizedActivityType:
[code]

The second part should be documented here or better the code be updated. Why is handling `onTokenResponseEvent` not

[2019-05-29 17:55] mplwork opened #1538 "24.bot-authentication Graph calls not working in Teams"
## Sample information
1. Sample type: [\samples\ or \solutions\]
2. Sample language: [dotnetcore or webapi or es6 or nodejs or typescript]
3. Sample name: <Name of the sample>

## Describe the bug
After having fixed the problems in #1537 the actual api calls to msgraph don't work. In the logs I see
[code]
This seems to be a problem with `@microsoft/microsoft-graph-client` but even updating it to 1

[2019-05-30 08:44] Arunprasath29 opened #1541 "No host found error after deploying"
I'm using nlp-with-dispatch sample. I have integrated luis, qna & adaptivecards with it. The bot works completely in localhost and gets deployed successfully, but when I try test in webchat in Azure it sends the welcome message but anything I send after that it throws an error "No host found". Is this ssl certificate issue?
[error.txt](https://github.com/microsoft/BotBuilder-Samples/files/3235813/

[2019-05-30 12:41] juanbello15 opened #1542 "Text exceeds chat bubble in the "QnAmaker-prompting" sample bot"
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues) / [Java](https://github.com/Microsoft/botbuilder-java/issues)/ [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for genera

[2019-05-30 17:42] mdrichardson commented on #1541
@Arunprasath29 	Can you verify that the values you have in `appsettings.json` match the ones in Azure Portal > App Service > Configuration?

[2019-05-30 18:14] rakesh5689 opened #1543 "Bot SDKV4 returns a No such host is known error when sending a message using dispatch"
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues) / [Java](https://github.com/Microsoft/botbuilder-java/issues)/ [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for genera

[2019-05-30 18:24] rakesh5689 commented on #1541
@mdrichardson I have the same issue but in my configuration I don't see LUIS keys at all. I created applications via LUIS.AI and then made them into a dispatch as per the https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-tutorial-dispatch?view=azure-bot-service-4.0&tabs=cs

[2019-05-30 18:34] mdrichardson commented on #1541
@rakesh5689 	Once deployed, you need to add the keys to Azure Portal > App Service > Configuration.

[2019-05-30 18:37] rakesh5689 commented on #1541
@mdrichardson I am getting this error locally.
In my appsettings.json the LUIS (dispatch I created) looks like this
"LuisAppId": "*****-****-4701-bfdf-*******",
  "LuisAPIKey": "*****************************",
  "LuisAPIHostName": "westus", - I changed this to region only for testing and now I get an error 'Gone'

[2019-05-30 18:50] mdrichardson commented on #1541
@rakesh5689 	Can you verify that you've published "Production" and not "Staging"?

![image](https://user-images.githubusercontent.com/40401643/58656244-c1ef3a80-82d0-11e9-87e6-6d5d76388ade.png)

I'm able to repro your issue. If I only publish to staging, the API works, but I also get the "Gone" error. If I publish production, both work just fine.

You may need to re-train your app, re-publish, and

[2019-05-30 18:51] rakesh5689 commented on #1541
i have only published in production so far
Let me try publishing in staging to see if it works

[2019-05-30 18:57] mdrichardson opened #1544 "410 "Gone" Error with NLP Sample"
From #1541 	@rakesh5689

---

Note: this issue was created to separate two issues from one thread

---

I created applications via LUIS.AI and then made them into a dispatch as per the https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-tutorial-dispatch?view=azure-bot-service-4.0&tabs=cs

I am getting this error locally.
In my appsettings.json the LUIS (dispatch I created) looks like t

[2019-05-30 18:57] rakesh5689 commented on #1541
@mdrichardson So, I tried what you said...I have it published in both Prod and Staging. Restarted the bot's app service..all in vain

[2019-05-30 18:57] mdrichardson commented on #1541
@rakesh5689 	I've created a separate issue for you to better separate yours from @Arunprasath29's issue. Please continue our conversation there.

[2019-05-30 19:02] mdrichardson commented on #1544
@rakesh5689 Can you verify that your appId's are correct? You obfuscated them, but at least from the un-obfuscated parts, the appId you used in the API appears different than the one in `appsettings.json`

[2019-05-30 19:02] rakesh5689 commented on #1544
I followed the steps you mentioned that you were able to reproduce but its still not working. Thanks

[2019-05-30 19:05] rakesh5689 commented on #1544
Well well...how naive. I have a couple of dispatch in LUIS and was using the previous oone. Thanks a ton @mdrichardson Saved me day of headscratch

[2019-05-30 19:06] mdrichardson commented on #1544
:) No problem. Glad you got it working. It's amazing how easy it is to make such a simple mistake like that. You're not the first.

[2019-05-30 19:06] #1544 closed

[2019-05-30 19:33] stevkan commented on #277
Updated the calling REST endpoint and adjusted the callback url. Documentation states that, with the move from Bing Speech to Cognitive Services Speech, all apis and methods are remaining the same. Only the calling endpoint is different. Bot now moves beyond the initial message. However, some aspect of Skype appears to have changed as the bot will not respond to any dial pad input from the user.

[2019-05-31 00:10] stevkan commented on #1538
@mplwork, can you try downgrading the microsoft-graph-client npm package to v1.0.0 and try again? I've had success only with that version, to date.

[2019-05-31 17:29] mdrichardson commented on #1543
@rakesh5689 	Was this solved in this thread? https://github.com/microsoft/BotBuilder-Samples/issues/1544

[2019-05-31 21:58] dmvtech commented on #1515
As you have somewhat identified, this is a permission issue.

Teams supplies an additional property in the message content called `downloadUrl`. This ulr contains a temporary auth token to retrieve the content from the location (ODfB).

Here would be some changes you could make to handleIncomingAttachment

[code]

And downloadAttachmentAndWrite:

[code]

[2019-06-02 11:42] #1541 closed

[2019-06-02 11:47] Arunprasath29 opened #1547 "Welcome message come after users first message in webchat"
I've given welcome message inside onMembersAddedAsync as in the microsoft samples. The welcome message is triggered in the emulator but in directline gets triggered  only after the user sends the first message.

[2019-06-03 11:12] mplwork commented on #1538
Thanks a lot. I tried this and can confirm that v1.0.0 sort of works. It fails in getManager but everything else works.

``
[onTurnError]: {"statusCode":404,"code":"Request_ResourceNotFound","message":"Resource 'manager' does not exist or one of its queried reference-property objects are not present.","requestId":"2cee4a35-5394-4911-91e8-db3a5c6db0dc","date":"2019-06-03T10:52:42.000Z","body":{"cod

[2019-06-03 14:53] mdrichardson commented on #1523
I am closing this issue as it doesn't seem to be a blocking issue. Feel free to reopen if you have need to get this resolved.

[2019-06-03 14:53] #1523 closed

[2019-06-03 17:36] tdurnford commented on #1547
Per @cwhitten

https://github.com/microsoft/BotFramework-WebChat/issues/2049

If you want the welcome message to be sent before the user messages the bot, I would recommend sending a back channel event to the bot when the DirectLine Connection is fulfilled to trigger the message instead. Take a look at this Web Chat [Welcome Message](https://github.com/microsoft/BotFramework-WebChat/tree/master/sa

[2019-06-03 17:36] #1547 closed

[2019-06-04 06:44] DeepaThiruna opened #1549 "After Card displaying, how to continue waterfall dialog flow in sdk v4.4"
I want to continue the Waterfall_Dailog and i am referring sample code 05.multi-turn-prompt and 06.using-cards - (https://github.com/microsoft/BotBuilder-Samples/blob/master/samples/javascript_nodejs/05.multi-turn-prompt/dialogs/userProfileDialog.js)

After displaying card, it is going to beginDailog and starting over the flow, but i want to continue the flow and say "Thank you for selecting an op

[2019-06-04 14:49] tdurnford commented on #1549
The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/BotBuilder/blob/master/README.md) repo  are the preferred platform for submitting **bug fixes**  and **feature requests**. Please create a question using the [BotFramework Tag]() on S

[2019-06-04 14:49] #1549 closed

[2019-06-04 14:50] mdrichardson commented on #1543
I am closing this issue as it doesn't seem to be a blocking issue. Feel free to reopen if you have need to get this resolved.

[2019-06-04 14:50] #1543 closed

[2019-06-04 15:16] rakesh5689 commented on #1543
Sounds good, thanks

On Tue, 4 Jun 2019 at 8:20 PM, Michael Richardson <notifications@github.com>
wrote:

--
Regards,
Rakesh Tripathi
+1 782 414 4144

[2019-06-04 21:30] CoHealer commented on #1515
@giuleon, do you still require assistance. If not, please let us know and we'll close the issue.

[2019-06-05 05:40] giuleon commented on #1515
@dmvtech thanks for your reply I'll try this evening, I'll give you feedback @CoHealer

[2019-06-05 13:30] StevenGao77 opened #1553 "Unable to authenticate Bot through Teams"
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues) / [Java](https://github.com/Microsoft/botbuilder-java/issues)/ [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for genera

[2019-06-05 22:28] mdrichardson commented on #1553
Were you using the middleware in order to get it to work initially? The middleware would look something like:

[code]

There was an update recently that made it so you no longer need the middleware. Instead, follow these steps:

1. Download the newest sample
2. Create your Teams Bot in the App Studio Manifest Editor
3. Under Domains and Permissions, ensure that `token.botframework.com` has been ad

[2019-06-06 14:24] bdufresne2 opened #1555 "DebugSupport.SourceRegistry results in Null Exception when used in another solution"
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues) / [Java](https://github.com/Microsoft/botbuilder-java/issues)/ [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for genera

[2019-06-06 15:27] SimSpfx commented on #1553
verified and working. (In my case that is)

[2019-06-06 18:32] stevkan commented on #1555
@bdufresne2, can you please provide details related to this (i.e. error and/or trace logs, code you are using, steps you took so it can be reproduced, etc.)?

[2019-06-06 21:18] stevengum opened #1556 "Enable JS samples deployment to Azure US Government"
## Sample information
1. Sample type: samples and templates
2. Sample language: JavaScript and TypeScript Node.js samples and templates

## Describe the bug
The Node.js samples should be able to be deployed to Fairfax without manual code changes by the user, similar to the experience for users to deploy a sample to public Azure.

This is a multi-step bug which needs a refactoring of the botbuilder

[2019-06-06 23:02] stevengum commented on #1519
I believe we need to actually get these changes into this repo, as we cut private bits/or separately updated the samples provided to the ABS team to work in Gov.

[2019-06-07 01:55] stevkan commented on #1538
I've been in communication with the team that manages the microsoft-graph-client node package and they are aware that there are issues. As an aside, if you try v1.4.0, does that produce any positive results?

[2019-06-07 04:19] EricDahlvang opened #1557 "Provide samples in each language showing howto exchanging a token for a secret"
It would be useful for users to have an example demonstrating how to show a page with WebChat loaded with a token retrieved from exchanging a secret.

https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-direct-line-3-0-authentication?view=azure-bot-service-4.0#generate-token is great, but does not have code examples.

[enhancement]

[2019-06-07 09:40] mplwork commented on #1538
Thanks for getting back. Yes, v1.4.0 seems to work as well.

Incidentally, the `getMe` function throws an error here probably because our AAD isn't set up properly. Catching the error yields
[code]

The Graph Explorer web site gives the same answer.

[2019-06-07 11:56] bdufresne2 commented on #1555
I'm sorry, I thought I added the markdown below initially, but for some reason it didn't get added or something.

## Sample information
1. Download the solution from BotBuilder-Samples/experimental/adaptive-dialog/declarative/60.AdaptiveBot

## Describe the bug
I was able to get this sample working in the downloaded solution. However, I tried to add this code to an existing chatbot project, and al

[2019-06-07 14:28] StevenGao77 commented on #1553
Thanks mdrichardson for your reply, The code that I use are implemented through IBot interface so I will have to change my code to use those methods you advised. will download latest Samples then see how I can leverage it, will update back next week.

[2019-06-07 16:07] corinagum commented on #1557
To avoid overlapping effort, I'm linking these two samples:
https://github.com/microsoft/BotFramework-WebChat/issues/1534

[2019-06-07 16:37] stevengum opened #1558 "Bump C# samples dependencies and take use new constructor for BotFrameworkHttpAdapter"
## Sample information
1. Sample type: samples and solutions
2. Sample language: dotnetcore and webapi
3. Sample name: All samples and solutions

## Describe the fix
- [ ] Bump C# botbuilder SDK dependencies to &ge; 4.4.5 in samples
- [ ] **Update the samples using BotFrameworkHttpAdapter to use the constructor that takes an `IConfiguration` and `ILogger` (see below C# SDK PR).**

## Additional con

[2019-06-07 16:40] JonathanFingold opened #1559 "C#: Do not use Activity.CreateReply in any sample code"
## Sample information
1. Sample type: [\samples\]
2. Sample language: [dotnetcore]
3. Sample name: 15.handling-attachments

## Describe the bug
The "resolution" to botbuilder-dotnet [issue 264](https://github.com/microsoft/botbuilder-dotnet/issues/264) from May of last year was to quietly claim that `CreateReply` is deprecated. However, since no one on the team seems to know this, this method is s

[2019-06-07 18:36] gabog opened #1560 "Implement CoreBot unit tests for dotnet"
DotNet task for https://github.com/microsoft/botframework-sdk/issues/5347

[2019-06-07 18:37] gabog opened #1561 "Implement CoreBot unit tests for JS"
JavaScript task for https://github.com/microsoft/botframework-sdk/issues/5347

[2019-06-07 18:38] gabog opened #1562 "Implement CoreBot unit tests for Python"
Python task for https://github.com/microsoft/botframework-sdk/issues/5347

[2019-06-07 19:21] gabog opened #1563 "Create TestProject template for dotnet"
Implementation for https://github.com/microsoft/botframework-sdk/issues/5346

[2019-06-07 19:22] gabog opened #1564 "Create TestProject template for JS"
Implementation for https://github.com/microsoft/botframework-sdk/issues/5346

[2019-06-07 19:22] gabog opened #1565 "Create TestProject template for Python"
Implementation for https://github.com/microsoft/botframework-sdk/issues/5346

[2019-06-08 14:37] StevenGao77 commented on #1553
hi mdrichardson, I have changed my code by following latest samples, it works fine with Bot Emulator, I can sign in successfully and get my token. however when I deploy it to Teams it doesn't work. the Login card is displayed but there is no popup when I click the login button. Can you advise if I missed any code or configuration? Thanks

[2019-06-08 21:51] giuleon commented on #1515
I made some test, when I attach an image inline, it means via copy paste in the Teams text box I have this result:
![image](https://user-images.githubusercontent.com/3914090/59152560-b75a4100-8a46-11e9-9934-923b9b76c35c.png)

![image](https://user-images.githubusercontent.com/3914090/59152553-8843cf80-8a46-11e9-8cf5-735c8b49719a.png)

The problem is that, if I try to download the picture by using

[2019-06-10 14:54] mdrichardson commented on #1553
The only time that I experience it is if I miss this step:

If you're not using App Studio to add your bot to teams, you need to add:

[code]

to your `manifest.json`

[2019-06-10 17:34] #1361 closed

[2019-06-10 17:35] daveta commented on #1361
Samples now pass middleware to restify..

[2019-06-10 20:10] benbrown commented on #1563
If @sgellock wants to own the VSIX, he can take this one over.

[2019-06-10 20:56] stevkan commented on #1538
Sounds like you are setup. Glad it is working for you. Yes, that error is consistent for no manager existing in AAD.

Closing the issue as resolved. If you have any more problems related to this issue, please feel free to re-open.

[2019-06-10 21:10] stevkan commented on #1555
Which versions of the Microsoft.Bot.Builder packages are you using?

[2019-06-11 01:14] StevenGao77 commented on #1553
Michael, I just enabled Teams channel from my Azure Bot so I have no idea where to find the manifest.json and add above validdomains. Can you advise me where I can find it? Thanks

[2019-06-11 07:41] SimSpfx commented on #1553
The easiest way is to install App studio in teams.
Go to the manifest editor
Add new app
![image](https://user-images.githubusercontent.com/47321821/59252631-c8fd3d80-8c2c-11e9-89ae-e426331dfcc0.png)

Add your existing bot ( you will need your ID)
![image](https://user-images.githubusercontent.com/47321821/59252678-de726780-8c2c-11e9-9473-b08bab616ceb.png)
Fill out all other required info. It does

[2019-06-11 10:33] kailash558 opened #1569 "TypeError: Class extends value undefined is not a constructor or null"
dispatchBot.js generating following TypeError -
class DispatchBot extends ActivityHandler {
                          ^

TypeError: Class extends value undefined is not a constructor or null

How to resolve it?

[2019-06-11 17:51] stevkan commented on #1569
Just crossing t's and dotting i's: Did you perform `npm install` to install all the packages? If so, which version of Botbuilder are you using?

[2019-06-11 18:32] Kaiqb commented on #1510
@corinagum - which sample file these links are in?

[2019-06-11 19:21] dmvtech commented on #1515
I'm not able to get the same. Regarding:

I am not able to paste into the text box. I can use the paperclip to attach an item or I can drag and drop an image. But I am unable to get any scenario to show 2 objects in attachments.

[2019-06-11 20:10] corinagum commented on #1510
@Kaiqb they are predominately in the generators and nodejs samples:

![image](https://user-images.githubusercontent.com/14900841/59302988-1cca4f80-8c4a-11e9-81d3-bf05f4fdf63d.png)
![image](https://user-images.githubusercontent.com/14900841/59303015-2784e480-8c4a-11e9-8812-50cc46db8839.png)

[2019-06-11 20:39] Kaiqb commented on #1510
We used to have separate topics about bot and adapter, but those were combined into one. That is why I think there are two links. The links are going to the combined topic which is correct.

[2019-06-11 20:39] #1510 closed

[2019-06-12 12:12] giuleon commented on #1515
Here how you can do this:
![Attach Inline Image](https://user-images.githubusercontent.com/3914090/59350276-ff65b600-8d1b-11e9-848d-61d363dc46ba.gif)

[2019-06-12 13:19] StevenGao77 commented on #1553
Thanks Michael, after follow above steps I can login from Teams now :) Thank you very much for your help. Just one question left, can other users use https://teams.microsoft.com/l/chat/0/0?users=xxxx-xxx to access this bot, or they need to follow up same steps?

[2019-06-12 14:55] mdrichardson commented on #1553
You have a few options:

1. Have your users install the bot from your manifest. You can export it from App Studio
2. Install the bot for [group and channel scopes](https://docs.microsoft.com/en-us/microsoftteams/add-bots)
3. [Publish your bot](https://docs.microsoft.com/en-us/microsoftteams/tenant-apps-catalog-teams) so anybody can access/download it

[2019-06-12 14:55] #1553 closed

[2019-06-12 15:26] sgellock commented on #1471
@Kaiqb can you drive please?  thanks.

[2019-06-12 18:22] johnataylor opened #1571 "For Teams we need sample of how to hand Invoke activity to Dialog"
In the case of Teams the OAuth Prompt needs to see the Invoke activity. By default the ActivityHandler doesn't give this to the Dialog, instead this is left as a job of the application (the assumption being the application would subclass and specialize the ActivityHandler.)

[2019-06-12 18:23] johnataylor commented on #1571
Refer to https://github.com/microsoft/botbuilder-dotnet/pull/1979

[2019-06-12 19:00] dmvtech commented on #1515
Thank you. I understand what I was doing wrong now.

Strange. While I can get the behavior now, with the two attachments (one is a preview it appears), I am ***not*** able to retrieve the image using the parsed url as you are.

You might be able to accomplish this by logic such as (sudo code):

[code]
but I would suggest more testing to make sure it works for everyone in your org.

I'll look into

[2019-06-13 06:37] asturm0 commented on #1257
Hey guys,
I'm not sure if I'm missing something here, but I can't find a way to actually leave the validator and end the dialog. @CKGrafico, in you're example you suggest to use "promptContext.EndDialogAsync();" after 5 retries. Actually, the prompt context does not derive form the DialogContext, so the EndDialog method is not available. Is there any other way to get out of the custom validator? I

[2019-06-13 07:03] kailash558 commented on #1569
My problem got solved by reinstalling bot builder.

[2019-06-14 18:24] johnataylor commented on #1454
The fix to expose this method has been checked in for a while. We are waiting on the package to be published, hopefully in the next few days.

[2019-06-14 19:48] ernestoguimaraes opened #1574 "Try to Implement the IStore for BlobStorage but fails on ConversationState"
Hello all,

I got the sample to check how to implement the BlobStore on my bot. I got the code from this solution.
https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/42.scaleout

When I created by bot, I noticed that it has a higher 4.4.5 , generate from template with LUIS from Azure Service.

So, I noticed that the version on samples is 4.4.3, so I downgrade my

[2019-06-15 17:29] diberry opened #1577 "Core bot (via ABS) home page between JS and C#"
When creating ABS Basic bot v4 C# (this is supposed to be the core bot #13), when running bot on local host computer, the root website returns a nice home page letting me know the bot website works. When I create ABS Basic bot v4 Node.js, and run it on local host computer, there isn't a nice home page letting me know the bot website works. Can one be added? Or is it there and just not working?

[2019-06-16 16:45] stevengum opened #1578 "javascript_nodejs/11.qnamaker does not fail gracefully"
## Sample information
1. Sample type: \samples\
2. Sample language: javascript_nodejs
3. Sample name: 11.qnamaker

## Describe the bug
Sample does not check for required QnAMaker information to connect to KB, nor does it fail gracefully if the information is missing.

## To Reproduce
Steps to reproduce the behavior:
1. Go to `javascript_nodejs/11.qnamaker`
2. `npm i && npm start` _// Without creat

[2019-06-17 05:09] yochay commented on #1133
We are actively looking to standardize this pattern.

[2019-06-17 07:05] DarancyIrudhayaraj opened #1580 "Are there any samples waterfall dialog that also include NLP with LUIS?"
🚨 The issue tracker is not for questions 🚨

If you have a question, please ask it on https://stackoverflow.com/questions/tagged/botframework

[question]

[2019-06-17 13:14] ernestoguimaraes commented on #1574
I found the problem. Just to clarify:

On Samples, project 42.scaleout, it uses an Implementation of IStore on BlobStore classes.

It works. but when we try to inject the ConversationState and UserState in a Dialog. it throws an exception. Because those above expects a IStorage implementation.

The template generated when we create a v4 service on Azure uses this kind of injection.

So a Switch th

[2019-06-17 14:08] TechyServe opened #1581 "Declarative bot errors out on start up when published to azure"
Getting the following error on start up

 [Critical] Microsoft.AspNetCore.Hosting.Internal.WebHost: Application startup exception
System.ArgumentNullException: Value cannot be null.
Parameter name: projectFile
  at Microsoft.Bot.Builder.Dialogs.Declarative.Resources.ResourceExplorer.LoadProject(String projectFile, String[] ignoreFolders, Boolean monitorChanges)
  at Dara.Bot.Startup.ConfigureServi

[2019-06-17 17:42] #1559 closed

[2019-06-17 19:26] stevkan commented on #1580
The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/botframework-sdk/) repo is the preferred platform for information on submitting **bug fixes** and **feature requests**.

Once you have submitted your question on Stack Overflow, paste

[2019-06-17 19:26] #1580 closed

[2019-06-17 19:33] stevkan commented on #1581
Adaptive Dialogs are still in preview. As such, the required dependencies are not supported in Azure for general consumption. For this to work, you will need to register and include the dependencies manually so your project will work someplace other than on you local machine.

Closing this as resolved. If you have additional questions related to this, please feel free to re-open the issue.

[2019-06-17 19:33] #1581 closed

[2019-06-17 20:12] benbrown commented on #1577
It is not there. One could be added!

[2019-06-17 20:33] diberry commented on #1577
Created [PR](https://github.com/microsoft/BotBuilder-Samples/pull/1582) for this.

[2019-06-18 01:19] EricDahlvang commented on #1581
@TechyServe I think you could add a Nuget.config to the solution and provide the package source for myget: https://docs.microsoft.com/en-us/azure/dev-spaces/how-to/use-custom-nuget-feed  This should enable Azure to download the packages from the correct nuget server.

[2019-06-18 16:08] StevenGao77 commented on #1553
Not sure if I can reply this close case, just want to provide an update, I tested with other user but it doesn't work. As I don't want to Publish my bot so I have built a private authentication page to finish the authentication instead of use Both Framework. just for reference.

[2019-06-18 16:37] #1569 closed

[2019-06-18 16:39] stevkan commented on #1555
Closing due to lack of response. If this issue persists, please feel free to re-open.

[2019-06-18 16:39] #1555 closed

[2019-06-19 00:41] EricDahlvang commented on #1538
Re-opening this for tracking.  If the [microsoft-graph-client](https://github.com/microsoft/BotBuilder-Samples/blob/master/samples/javascript_nodejs/24.bot-authentication-msgraph/package.json#L19) we are using has issues, we need to update the sample to a version where it works (or remove the sample until we have it working version).

[2019-06-19 08:52] SimSpfx opened #1583 "Microsoft.Bot.Builder.Integration.AspNet.Core.BotFrameworkHttpAdapter:Error: Exception caught : OAuthPrompt.GetUserToken(): not supported by the current adapter"
## Sample information
Oauthprompts in latest versions (4.5)

## Describe the bug
Microsoft.Bot.Builder.Integration.AspNet.Core.BotFrameworkHttpAdapter:Error: Exception caught : OAuthPrompt.GetUserToken(): not supported by the current adapter

## To Reproduce
Run one of the latest examples with oauth and try to connect to sharepoint - office 365 - azure ad

## Expected behavior
return a token i gue

[2019-06-19 15:52] johnataylor commented on #1454
This is waiting on the JavaScript package being published. One of the examples fails because a method should be public. If we are not going to get the package out I can just pull that part of the sample. Assigning to @cleemullins to be resolved when the node package is published.

[2019-06-19 16:05] johnataylor commented on #1574
The storage model built into the product consists of two distinct layers. The lower layer is (fairly) raw storage with classes derived from IStorage the higher later adds some more semantics (like caching) and is derived from BotState.

The interface between the Dialogs and the storage model is through an abstraction called an Accessor. The BotState creates an Accessor.

The Dialogs don't technica

[2019-06-19 16:08] johnataylor commented on #1574
We can provide samples of how to implement the IStorage if that is helpful. However, the source code of the one in botbuilder is relative easy to follow.

Blob storage is here:

https://github.com/microsoft/botbuilder-dotnet/blob/master/libraries/Microsoft.Bot.Builder.Azure/AzureBlobStorage.cs

And Cosmos DB here:

https://github.com/microsoft/botbuilder-dotnet/blob/master/libraries/Microsoft.Bot.

[2019-06-19 16:08] #1574 closed

[2019-06-19 17:03] ArunaJapannavar opened #1584 "How can we handle nested multiturn"
#Can you please let us know how can we handle mutiturn requests for eg:
Ques) I need more information on some sectors?
 Ans) What sectors are you looking for information in?
   1) HR
   11) IT
  111) Finance

If the user selects any choices like HR it should also populate the answer related to HR from the KB.

[2019-06-20 13:14] SudhirVeerabhahu commented on #1553
I am not using app studio. Is there any way to add valid domain from C# and publish it to azure. So that I access it from teams

[2019-06-20 14:16] mdrichardson commented on #1553
@SudhirVeerabhahu 	You *have* to use either App Studio or a manifest.json. For the manifest, just make sure you have:

[code]

[2019-06-20 15:59] JonathanFingold commented on #1584
Take a look at sample 43.complex-dialog. That might give you enough insight to start trying out similar structures in your own code.

[2019-06-20 19:17] gabog opened #1589 "CoreBot doesn't render welcome card in webchat"
When you start CoreBot in the emulator, the bot renders the welcome card when is open.

if you host the bot in webchat, the welcome card won't render and you need to type hi or something else for the card to show.

[2019-06-20 22:05] cleemullins commented on #1454
Update: We're currently having issues with the latest release of the recognizers package, and I would be surprised if this makes it into the 4.5 cycle.

[2019-06-21 02:29] stevkan commented on #1580
@DarancyIrudhayaraj, did you repost this question on Stack Overflow? If so, post the link here so I can help you. Be sure to "@mention" me, as well.

[2019-06-21 15:11] tdurnford commented on #1589
Per @cwhitten

https://github.com/microsoft/BotFramework-WebChat/issues/2049

If we want the welcome message to send before the user messages Core Bot in Web Chat, we would have to configure Web Chat to send a back channel event to the bot when the DirectLine Connection is fulfilled to trigger the message instead like the Web Chat [Welcome Message](https://github.com/microsoft/BotFramework-WebChat

[2019-06-21 15:17] ernestoguimaraes commented on #1574
Thank you! I will take a look on these references and information!

[2019-06-21 15:35] gabog commented on #1589
That is pretty obscure, do we need to add that to the CoreBot sample to help developers discover this nuance? Or document it in the readme for CoreBot? Or document this in https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-send-welcome-message?view=azure-bot-service-4.0&tabs=csharp?

As it is, I don't think devs will be able to find the issue above in GitHub and learn about this.

[2019-06-21 20:27] sgellock commented on #1258
@scheyal can you connect with @EricDahlvang and pull a plan together to do this correct.   there are a number of items that need to be cataloged and completed before we can say this scenario is fully supported correctly

[2019-06-23 21:51] stevengum commented on #1374
Just verified today, these are both done.

[2019-06-23 21:51] #1374 closed

[2019-06-25 08:48] Madddog1997 opened #1593 "CoreBot doesn't respond to user"
Hello, my problem arose when I tried to launch CoreBot, after writing a message to the bot he only responds with "Sorry, something is not right. We need to start over." when I write "Hi" but after that he does't respond.
I can see Luis Trace only after first response the first only throws exception (which is show under), I tried changing from Luis Recognizer to RegEx in hope something changes but

[2019-06-25 09:49] prakash9707 opened #1594 "18.bot authentication, Does not allows to enter the credentials in oauth prompt"
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues) / [Java](https://github.com/Microsoft/botbuilder-java/issues)/ [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for genera

[2019-06-25 09:50] prakash9707 commented on #1594
hai

[2019-06-25 09:52] #1594 closed

[2019-06-25 10:09] prakash9707 opened #1595 "18.bot authentication, Does not allows to enter the credentials in oauth prompt"
I used azure active directory v2 connection and I created a azure application with allows users to login with multiple organization. After this when I runs this code it displays a empty window and takes the account which is previously logged in.

For the first time it allows me to enter the microsoft email and password. After when I type "logout" then I does not allow me to enter the username and

[2019-06-25 12:37] #1583 closed

[2019-06-25 15:47] asturm0 commented on #1257
Could you give me a hint, @johnataylor ?

[2019-06-25 16:50] jwiley84 commented on #1584
What @JonathanFingold is correct. You're going to want to look at the complex dialog samples. Specifically, you're going to want to have at least two dialogs, a 'Main' and a 'Sector'. Then, inside the Sector dialog, you're going to want to have a dialog step that checks user responses and routes to the correct QnA KB. This is a VERY rough mockup in C# of what that might look like:

![image](https:

[2019-06-25 16:50] #1584 closed

[2019-06-25 17:26] stevengum commented on #1558
Example code from EchoBot in Ibiza: `AdapterWithErrorHandler.cs`

[code]

[2019-06-25 17:30] stevengum commented on #1519
### Individual work items per samples language
- [ ] #1558 (@sgellock, **C#**)
- [ ] #1556 (@stevengum, **JS**, no sample changes required other than a dependency bump)

[2019-06-25 18:12] v-kydela commented on #1593
@Madddog1997 - Let me see if I can help.

1. Are you using the [csharp_dotnetcore CoreBot](https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/13.core-bot)?
2. What steps did you take to run the bot?
3. Did you deploy all of the necessary resources like the LUIS app?
4. Is that stack trace from when you're using a LUIS recognizer or from when you switched to Regex

[2019-06-25 20:13] Madddog1997 commented on #1593
1. No I'm using adaptive dialog demo in experimental [(core-bot)](https://github.com/microsoft/BotBuilder-Samples/tree/master/experimental/adaptive-dialog/csharp_dotnetcore)
2. I added NuGet packages and then I created LUIS model like the asked and deployed it on local machine from this source (https://botbuilder.myget.org/F/botbuilder-declarative/api/v3/index.json)
3. Yes I did, I get the respons

[2019-06-25 21:45] vishwacsena commented on #1593
@Madddog1997 - can you add the stack trace?

[2019-06-25 22:44] sgellock commented on #1524
I'm able to run the repo steps on an Ubuntu 18.04 distro (in a VM) without errors.

[2019-06-25 22:52] gabog commented on #1560
Implemented in https://github.com/microsoft/BotBuilder-Samples/pull/1590

[2019-06-25 22:52] #1560 closed

[2019-06-26 08:09] Madddog1997 commented on #1593
at Microsoft.Bot.Builder.Expressions.Parser.ExpressionEngine.ExpressionTransformer.VisitNumericAtom(NumericAtomContext context) in d:\a\1\s\libraries\Microsoft.Bot.Builder.Expressions.Parser\ExpressionEngine.cs:line 166
   at Antlr4.Runtime.Tree.AbstractParseTreeVisitor`1.VisitChildren(IRuleNode node)
   at Microsoft.Bot.Builder.Expressions.Parser.ExpressionEngine.ExpressionTransformer.VisitBinary

[2019-06-26 08:11] Madddog1997 commented on #1593
at Microsoft.Bot.Builder.Expressions.Parser.ExpressionEngine.ExpressionTransformer.VisitNumericAtom(NumericAtomContext context) in d:\a\1\s\libraries\Microsoft.Bot.Builder.Expressions.Parser\ExpressionEngine.cs:line 166
   at Antlr4.Runtime.Tree.AbstractParseTreeVisitor`1.VisitChildren(IRuleNode node)
   at Microsoft.Bot.Builder.Expressions.Parser.ExpressionEngine.ExpressionTransformer.VisitBinary

[2019-06-27 00:05] EricDahlvang commented on #1524
The issue here appears to be related to: https://github.com/aspnet/Universe/issues/1180 It seems we should have referenced Microsoft.Extensions.Logging v 2.1.0 instead of v 2.1.1

So far, I've found two ways to deploy an echo bot to a linux host successfully:

1) Directly reference the v 2.1.1 of Microsoft.Extensions. packages within the project
[code]

2) Upgrade the project, and the App Service

[2019-06-27 00:07] EricDahlvang commented on #1524
@cleemullins  do you have any thoughts about this?

[2019-06-27 13:36] hilvarenbeek opened #1598 "Typo in experimental/language-generation/README.md"
"langauge" in the second bullet should be "language".

[2019-06-27 18:02] v-kydela commented on #1598
@hilvarenbeek - I've submitted a pull request: https://github.com/microsoft/BotBuilder-Samples/pull/1599

Please feel free to submit your own pull requests if you notice any more typos.

[2019-06-27 18:04] andrewchungxam opened #1600 "Clarity on Middleware Translation sample"
**Is your feature request related to a problem? Please describe.**
Trying to best understand how to create comprehensive middleware (MECE).  The sample provided that uses middleware is the MultilingualBot which triggers translation 3 different times/ways and it would be to explain why and how these are all Mututally Exclusive and Collectively Exhaustive.   The code I'm referring to lives here: htt

[2019-06-27 19:36] tracyboehrer commented on #1465
What is the expected change for this issue?  I have the same question as Kyle.

[2019-06-27 20:20] sgellock commented on #1465
Yes.  We were being too clever.  let's just use console.log as it's the only logger we use in the js/ts samples

[2019-06-27 21:54] sgellock commented on #1558
@cleemullins I pulled this back onto my plate Chris, as there's a PR I've issued that has the fixes for this.

[2019-06-27 22:44] sgellock commented on #1556
Once 4.5.x is published, I can update the JS/TS samples to address this issue.  So T+1

[2019-06-27 22:45] sgellock commented on #1519
Closing this as the C# issue is resolved.  The JS issue is still open and will be resolved once 4.5.x JS modules are published.

[2019-06-27 22:45] #1519 closed

[2019-06-27 22:56] #1465 closed

[2019-06-27 22:58] johnataylor commented on #1571
Both C# and JavaScript checked in. These are basically Teams specific versions of the auth sample (18).

[2019-06-27 22:58] #1571 closed

[2019-06-27 23:13] #1558 closed

[2019-06-27 23:26] #1469 closed

[2019-06-28 01:46] stevkan commented on #1580
Closing ticket due to lack of response.

[2019-06-28 06:24] DarancyIrudhayaraj commented on #1580
Hi @stevkan  how to execute the previous waterfall step in a dialog in V4
please reply me.

[2019-06-28 06:27] DarancyIrudhayaraj commented on #1580
@stevkan, In Azure Bot Framework's WaterfallDialog, how do we go to a specific step? please post the sample code

[2019-06-28 19:00] v-kydela commented on #1593
@Madddog1997 - Can you post a screenshot of what you're seeing in Emulator? This is what I'm seeing after sending "hi" as the first message:

![image](https://user-images.githubusercontent.com/41968495/60364899-32ef4400-999c-11e9-816f-37945d8e483b.png)

Are you seeing the welcome card for example?

[2019-06-28 23:37] joconte opened #1609 "[README.md] Duplicate about CLA"
Just a duplicate in README.md :

[code]

[2019-06-29 12:22] Madddog1997 commented on #1593
Here you go.

![Screenshot_2](https://user-images.githubusercontent.com/52194912/60384011-46241180-9a79-11e9-99e1-473ca8c3e066.png)

[2019-06-29 21:31] #1609 closed

[2019-06-30 18:05] seanbetts opened #1611 "Passing QnA Follow-Up prompts through to Facebook Messenger"
**Is your feature request related to a problem? Please describe.**
I am trying to pass QnA Maker follow-up prompts through to Facebook Messenger's Quick Replies.

**Describe the solution you'd like**
To do this I'd like to pull through the prompts array and insert them into the code below, replacing "Prompt 1" with prompts.displayText located at prompts.displayOrder[0] then "Prompt 2" with prompts

[2019-07-01 14:49] jwiley84 commented on #1611
I've noticed that you opened the same issue as a Stack Overflow question [here](https://stackoverflow.com/questions/56821301/getting-facebook-messenger-to-show-qna-follow-up-prompts-in-botframework-v4-usin). The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](http

[2019-07-01 14:49] #1611 closed

[2019-07-01 15:08] seanbetts commented on #1611
Thanks @jwiley84 - I didn't know whether this was a support request or a new feature request as the support for QnA Maker follow-up prompts is experimental.

[2019-07-01 16:41] EricDahlvang opened #1613 "Remove DialogExtensions from samples (use Microsoft.Bot.Builder.Dialogs.DialogExtensions)"
DialogExtensions is now  in the sdk:

https://github.com/microsoft/botbuilder-dotnet/blob/master/libraries/Microsoft.Bot.Builder.Dialogs/DialogExtensions.cs

[2019-07-01 17:00] Kaiqb commented on #1516
The information on using Gov datacenter was added to the [FAQ](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-resources-bot-framework-faq?view=azure-bot-service-4.0).

[2019-07-01 17:00] #1516 closed

[2019-07-01 19:08] CoHealer commented on #893
@sgellock, @EricDahlvang said it works in Chrome but seeing an error in Edge:

SCRIPT1028: SCRIPT1028: Expected identifier, string or number
app.js (16292,24)

Thinking it might be the spread operator. Assigning to @anusharavindrar  to investigate and fix.

[2019-07-01 19:56] CoHealer commented on #1595
@jwiley84, please investigate

[2019-07-01 21:47] #1598 closed

[2019-07-01 21:57] jwiley84 commented on #1595
This seems to be a behaviour limited to the emulator, as that is the only channel I can reproduce it in. Let me reach out to a member of their team. The standard webchat (not the Azure's 'Test in WebChat') allows for 're-logging', if you will.

[2019-07-02 15:05] #1613 closed

[2019-07-02 21:11] anushaRaoR opened #1618 "javascript_es6/01.browser-echo sample throws an error in Edge"
## Sample information
1. Sample language:  es6
2. Sample name: javascript_es6/01.browser-echo

## Describe the bug
The sample '01.browser-echo' works fine on Chrome but throws up an error on Edge.
**Error**: "SCRIPT1028: SCRIPT1028: Expected identifier, string or number
app.js (16292,24)"

The issue is with the use of object spread operator which is not supported in Edge :
const card = { ...other

[2019-07-02 21:33] #1524 closed

[2019-07-03 00:57] EricDahlvang commented on #1524
Verified this fix against the daily myget.
https://botbuilder.myget.org/feed/botbuilder-v4-dotnet-daily/package/nuget/Microsoft.Bot.Builder/4.5.0-preview-190702-3

[2019-07-03 05:44] mutanttech commented on #1589
@gabog , were you able to fix the welcome message issue in the Core Bot (v4). I am pulling my hairs out for the same and nothing works including referring to this article -
https://blog.botframework.com/2018/07/12/how-to-properly-send-a-greeting-message-and-common-issues-from-customers/

The Web Chat (UI) version that I use is BotFramework-WebChat-0.11.4, I have done certain customizations in it t

[2019-07-03 06:28] DarancyIrudhayaraj opened #1619 "In Azure Bot Framework's WaterfallDialog, how do we go to a specific step? please post the sample code"
how to execute the previous waterfall step in a dialog in V4. Is there any way to achieve this.

![Waterfall step](https://user-images.githubusercontent.com/48018576/60568161-a96bb780-9d89-11e9-82bc-8d9265f2d927.png)

@stevkan please help to achieve this

[2019-07-03 07:06] rahultyagi2000 opened #1620 "directline getsessionid giving Service Error {xxx} domain is not in the list of trusted origins"
I am trying to implement my bot, developed using botbuilder SDK v4, in my reactwebsite by configuring webchat and directline channels. I have also implemented authentication with Azure AD service by following this article [Add authentication to your bot via Azure Bot Service](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-authentication?view=azure-bot-service-4.0&tabs=aadv1%2Ccshar

[2019-07-03 11:48] djpirra commented on #1133
Is there any sample for this using the latest version of the framework? Where can I find it?

[2019-07-03 15:53] jwiley84 commented on #1619
Hi @DarancyIrudhayaraj !

The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/BotBuilder/blob/master/README.md) repos are the preferred platform for submitting **bug fixes** and **feature requests**.

Additionally, this particular ques

[2019-07-03 15:53] #1619 closed

[2019-07-03 16:23] jwiley84 commented on #1595
Hi @prakash9707! I got a response from the emulator team. They've recently implemented some changes in how ngrok is being used with OAuth prompts. The details are [here](https://github.com/microsoft/BotFramework-Emulator/pull/1660). Try to update your emulator and give it another shot.

[2019-07-03 18:45] tdurnford commented on #1589
@mutanttech It looks like you asked this [question](https://stackoverflow.com/questions/56863203/display-welcome-message-in-v4-bot-framework-bot-c-net-core-web-app) on StackOverflow. I will be sure to help you with your issue there. In the meantime, I would recommend taking a look at https://github.com/microsoft/BotFramework-DirectLineJS/issues/184#issuecomment-505162246 to see how to send a Welco

[2019-07-03 21:46] cwhitten opened #1621 "Introduce the InspectionMiddleware in a sample"
We need to adjust a sample or create a new sample to show the InspectionMiddleware being configured that we can point users to.

An example of this exists at https://github.com/microsoft/botbuilder-js/blob/master/libraries/testbot/index.js but needs some polish.

[2019-07-04 09:59] xiaolangxyz commented on #1538
Does it work in Emulator? I tested it. It seems not work

[2019-07-04 21:12] EricDahlvang commented on #1600
Provided an answer on the Stack Overflow link referenced.

[2019-07-04 21:12] #1600 closed

[2019-07-05 08:33] BhuvaneshwaranR opened #1622 "Node JS custom storage implementation document is missing."
Hey!
Node JS custom storage is documentation missing.
Is it possible to implement custom storage by using NodeJS?

### Use this [query](https://github.com/Microsoft/botbuilder-samples/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++label%3Aenhancement) to search for the most popular feature requests.

**Is your feature request related to a problem? Please describe.**
A clear and concise description

[2019-07-05 23:05] vishwacsena opened #1624 "[Adaptive, LG, expressions] Update docs, samples for 4.6 preview release"
This is a running list of updates to be made to docs and samples for 4.6 preview release of adaptive dialogs, language generation and common expression language preview features.

## Common Expression Language
### Docs
- [x] Readme.md updates (@vishwacsena)
    - [x] Add what's changed section
    - [x] Update operators table for additions/ changes
- [x] Prebuilt functions doc - update and verify

[2019-07-06 19:09] saikumaru opened #1625 "Active learning sample, doesn't build successfully"
## Sample information
1. Sample type: experimental
2. Sample language: dotnetcore
3. Sample name: qnamaker-activelearning

## Describe the bug
Give a clear and concise description of what the bug is.

When the below line is un-commented,
`
// IStorage dataStore = new Microsoft.Bot.Builder.Azure.AzureBlobStorage(blobStorageConfig.ConnectionString, storageContainer);
`

and when the package is insta

[2019-07-08 04:12] luannguyengo1 opened #1626 "Display pagination with carousel card in MS Teams"
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues) / [Java](https://github.com/Microsoft/botbuilder-java/issues)/ [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for genera

[2019-07-08 15:12] mdrichardson commented on #1622
Closing, as this is a duplicate of https://github.com/MicrosoftDocs/bot-docs/issues/1253 and that one is posted in the relevant repo.

[2019-07-08 15:12] #1622 closed

[2019-07-08 21:44] gabog commented on #1561
Refactored core-bot with unit tests for JS have been merged into the corebot-updates branch.

[2019-07-08 21:44] #1561 closed

[2019-07-08 21:50] gabog opened #1629 "Implement refactored CoreBot and unit tests for TypeScript"
This task involves:

- Update the TypeScript corebot to match the refactored JS version in the [corebot-updates](https://github.com/microsoft/BotBuilder-Samples/tree/corebot-updates/samples/javascript_nodejs/13.core-bot) branch.
- Write unit tests in TypeScript (it should match test cases and code in the JS version).

TypeScript implementation for https://github.com/microsoft/botframework-sdk/issu

[2019-07-09 03:06] DingmaomaoBJTU opened #1630 "[LG] Need doc for how to use LG in legacy dialogs, like waterfall"
### Github issues for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues) / [Java](https://github.com/Microsoft/botbuilder-java/issues)/ [Python](https://github.com/Microsoft/botbuilder-python/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for genera

[2019-07-09 03:25] #1427 closed

[2019-07-09 04:29] stevengum opened #1631 "[ARM Templates] Add parameter for Gov deployments"
_**Is your feature request related to a problem? Please describe.**_
Add parameter to specify if deployment is for Public Azure or US Gov Cloud.

_**Describe the solution you'd like**_
Since only one sovereign/national cloud is currently supported by Azure Bot Service, add a flag that toggles the specific environment variable/Application Setting (Azure Web Apps) that needs to be configured for an

[2019-07-09 18:18] v-kydela commented on #1626
Hello @luannguyengo1

It sounds like you want an index number to automatically appear on each attachment in a carousel. Is that correct?

Some of the details about what you want are a little unclear. You're presenting this as a bug, but it would only be a bug if you've seen automatic pagination before and don't see it anymore. Where have you seen pagination successfully implemented?

If you want t

[2019-07-09 23:32] EricDahlvang opened #1635 "Use AdapterWithErrorHandler in EchoBot"
## Sample information
1. Sample type: https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/02.echo-bot
2. Sample language: dotnetcore

## Describe the bug
This is one of our templates, and should demonstrate best practices... which includes an OnError handler in a custom adapter.  All other samples are using a AdapterWithErrorHandler

[bug]

[2019-07-10 03:26] luannguyengo1 commented on #1626
Followed instructions from this docs: https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/cards/cards-reference#card-collections

I can see circle pagination

![carousel](https://user-images.githubusercontent.com/40588179/60938151-0375fb00-a2fd-11e9-9fe1-2b84d314606e.png)

Can you give me some examples for this case?

[2019-07-10 03:41] lbgzmhl commented on #1538
![image](https://user-images.githubusercontent.com/12086605/60938740-ab90c180-a307-11e9-9a58-4d1f56600260.png)
can't work either

[2019-07-10 03:42] lbgzmhl commented on #1538
![image](https://user-images.githubusercontent.com/12086605/60938748-b8adb080-a307-11e9-8bae-cb8ddb130c45.png)
it shows the same problem, and my npm package is 1.0.0
 "dependencies": {
        "@microsoft/microsoft-graph-client": "^1.0.0",

[2019-07-10 03:48] boydc2014 commented on #1630
Please check the samples here which is not using AdaptiveDialogs https://github.com/microsoft/BotBuilder-Samples/tree/master/experimental/language-generation/csharp_dotnetcore

[2019-07-10 03:48] #1630 closed

[2019-07-10 07:15] mattchilds1 opened #1637 "Unable to authenticate Bot through Teams using JavaScript SDK"
### Unable to authenticate Bot through Teams using JavaScript SDK

## Sample information

1. Sample type: Samples
2. Sample language: nodejs
3. Sample name: 18.bot-authentication & 24.bot-authentication-msgraph

## Describe the bug

When deploying both of these samples they work with the bot emulator, but not through Teams.

Working:

[code]

Not Working:

[code]

## To Reproduce

Steps to reprodu

[2019-07-10 09:23] asturm0 commented on #1257
For anyone who stumbles over the same problem:
https://stackoverflow.com/questions/56790417/leaving-custom-prompt-validation-in-bot-framework-v4

[2019-07-10 16:58] jwiley84 commented on #1637
Have you tried the new sample, #46? It specifically demonstrates oauth in teams.

[2019-07-10 17:00] v-kydela commented on #1626
@luannguyengo1 - Thank you for that link. In the future, you will get better help if you link to the instructions you're following and explain your desired behavior in your original post.

So you are using the Teams channel? Have you tested a carousel with the Teams mobile app?

[2019-07-10 17:23] #1635 closed

[2019-07-10 17:24] johnataylor commented on #1621
C# is in working on JavaScript

[2019-07-10 17:27] johnataylor commented on #1637
We are currently fixing issues and showing features for Teams by adding Teams specific samples. Auth is slightly different for Teams because it sends an Invoke. It actually sends a bunch of different Invokes for different scenarios. And we will add more samples showing that.

So for now please look at the Teams.Auth sample.

[2019-07-10 17:29] johnataylor commented on #1637
Sorry I seemed to have broken the link @jwiley84 forwarded by renaming the sample. Here is a new link:

https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/46.teams-auth

[2019-07-10 17:38] AndreMantas commented on #1593
Did you update appsettings with luis settings?

something like this

---

Anyway I also got a problem in this bot. The adaptive dialog is not working as expected:

![image](https://user-images.githubusercontent.com/7627975/60990981-89b43080-a341-11e9-8850-ae38c9fbb36d.png)

And, if i type any city name it just assumes I want to cancel:

![image](https://user-images.githubusercontent.com/7627975/60

[2019-07-10 18:03] #1637 closed

[2019-07-10 19:58] andhdo commented on #1538
looks like "@microsoft/microsoft-graph-client" has changed from version [1.4.0](https://www.npmjs.com/package/@microsoft/microsoft-graph-client/v/1.4.0) to current version [1.7.0](https://www.npmjs.com/package/@microsoft/microsoft-graph-client/v/1.7.0), so SimpleGraphClient must be changed in order to reflect this changes or downgade the version of this librari in order to work with the current ve

[2019-07-10 21:06] Zerryth commented on #1625
It looks like right now when you try to add package `Microsoft.Bot.Builder.Azure` the most recently published version tries to get installed (`4.4.5`)

However if you look at the `.csproj` file, you can see that the sample is targeting packages for version `4.4.3`, specifically `Microsoft.Bot.Builder`, which `Microsoft.Bot.Builder.Azure` depends on.

Installing `Microsoft.Bot.Builder.Azure 4.4.3`

[2019-07-10 21:08] Zerryth commented on #1625
Also, this experimental sample still uses the `.bot` file, which the team has backed off using in favor of language-specific configs that are already built-in (e.g. appsettings.json)

[2019-07-10 21:27] Zerryth commented on #1625
Per Steven Gum, I can go ahead and bump the packages that the experimental samples are targeting, once we make the 4.5 samples update switch

For now to workaround, just specify version numbers manually when including packages

[2019-07-10 21:58] #1621 closed

[2019-07-10 22:25] johnataylor opened #1640 "README for new Inspection samples should be in sync with other documentation"
The current README for both the C# and JavaScript Inspection samples detail very basic steps regarding setting up the emulator debugging inspection.

These steps should be clarified and brought into sync with what we are saying elsewhere. For example we have a very useful description here:

https://github.com/microsoft/BotFramework-Emulator/blob/master/content/CHANNELS.md

We are also developing o

[2019-07-10 22:37] johnataylor commented on #1640
This PR https://github.com/microsoft/BotBuilder-Samples/pull/1641 adds a link to @cwhitten README.

[2019-07-11 03:48] luannguyengo1 commented on #1626
Yup. but only private channel

Yeah. I can see pagination on Teams mobile app, but not on website/desktop app.

![paging](https://user-images.githubusercontent.com/40588179/61020883-70ef5d80-a3c9-11e9-978a-6fc83a7ed3a0.png)

[2019-07-11 09:19] Madddog1997 commented on #1593
Yes I did, I even tested it with newly downloaded zip file and still, it didn't work.